{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/adexchange.buyer":{"description":"Manage your Ad Exchange buyer account configuration"}}}},"basePath":"/adexchangebuyer/v1.2/","baseUrl":"https://www.googleapis.com/adexchangebuyer/v1.2/","batchPath":"batch/adexchangebuyer/v1.2","canonicalName":"Ad Exchange Buyer","description":"Accesses your bidding-account information, submits creatives for validation, finds available direct deals, and retrieves performance reports.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/ad-exchange/buyer-rest","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/-1DKqIhPUpLfO8DBj8P3gNrIPtE\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.google.com/images/icons/product/doubleclick-16.gif","x32":"https://www.google.com/images/icons/product/doubleclick-32.gif"},"id":"adexchangebuyer:v1.2","kind":"discovery#restDescription","labels":null,"methods":null,"name":"adexchangebuyer","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"accounts":{"methods":{"get":{"description":"Gets one account by ID.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.accounts.get","mediaUpload":null,"parameterOrder":["id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account id","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null}},"path":"accounts/{id}","request":null,"response":{"$ref":"Account"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves the authenticated user's list of accounts.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.accounts.list","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"accounts","request":null,"response":{"$ref":"AccountsList"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an existing account. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"adexchangebuyer.accounts.patch","mediaUpload":null,"parameterOrder":["id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account id","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null}},"path":"accounts/{id}","request":{"$ref":"Account","parameterName":null},"response":{"$ref":"Account"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an existing account.","etagRequired":null,"httpMethod":"PUT","id":"adexchangebuyer.accounts.update","mediaUpload":null,"parameterOrder":["id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account id","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null}},"path":"accounts/{id}","request":{"$ref":"Account","parameterName":null},"response":{"$ref":"Account"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"creatives":{"methods":{"get":{"description":"Gets the status for a single creative. A creative will be available 30-40 minutes after submission.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.creatives.get","mediaUpload":null,"parameterOrder":["accountId","buyerCreativeId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id for the account that will serve this creative.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"buyerCreativeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The buyer-specific id for this creative.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"creatives/{accountId}/{buyerCreativeId}","request":null,"response":{"$ref":"Creative"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Submit a new creative.","etagRequired":null,"httpMethod":"POST","id":"adexchangebuyer.creatives.insert","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"creatives","request":{"$ref":"Creative","parameterName":null},"response":{"$ref":"Creative"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of the authenticated user's active creatives. A creative will be available 30-40 minutes after submission.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.creatives.list","mediaUpload":null,"parameterOrder":null,"parameters":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of entries returned on one result page. If not set, the default is 100. Optional.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response. Optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"statusFilter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When specified, only creatives having the given status are returned.","enum":["approved","disapproved","not_checked"],"enumDescriptions":["Creatives which have been approved.","Creatives which have been disapproved.","Creatives whose status is not yet checked."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"creatives","request":null,"response":{"$ref":"CreativesList"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20170810","rootUrl":"https://www.googleapis.com/","schemas":{"Account":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Configuration data for an Ad Exchange buyer account.","enum":null,"enumDescriptions":null,"format":null,"id":"Account","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"bidderLocation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Your bidder locations that have distinct URLs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"maximumQps":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum queries per second the Ad Exchange will send.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"region":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The geographical region the Ad Exchange should send requests from. Only used by some quota systems, but always setting the value is recommended. Allowed values:  \n- ASIA \n- EUROPE \n- US_EAST \n- US_WEST","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL to which the Ad Exchange will send bid requests.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"cookieMatchingNid":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The nid parameter value used in cookie match requests. Please contact your technical account manager if you need to change this.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"cookieMatchingUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The base URL used in cookie match requests.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account id.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adexchangebuyer#account","description":"Resource type.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maximumActiveCreatives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of active creatives that an account can have, where a creative is active if it was inserted or bid with in the last 30 days. Please contact your technical account manager if you need to change this.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"maximumTotalQps":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The sum of all bidderLocation.maximumQps values cannot exceed this. Please contact your technical account manager if you need to change this.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"numberActiveCreatives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The number of creatives that this account inserted or bid with in the last 30 days.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AccountsList":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An account feed lists Ad Exchange buyer accounts that the user has access to. Each entry in the feed corresponds to a single buyer account.","enum":null,"enumDescriptions":null,"format":null,"id":"AccountsList","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of accounts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Account","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adexchangebuyer#accountsList","description":"Resource type.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Creative":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A creative and its classification data.","enum":null,"enumDescriptions":null,"format":null,"id":"Creative","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"HTMLSnippet":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The HTML snippet that displays the ad when inserted in the web page. If set, videoURL should not be set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":{"required":["adexchangebuyer.creatives.insert"]},"default":null,"description":"Account id.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"advertiserId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Detected advertiser id, if any. Read-only. This field should not be set in requests.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"advertiserName":{"$ref":null,"additionalProperties":null,"annotations":{"required":["adexchangebuyer.creatives.insert"]},"default":null,"description":"The name of the company being advertised in the creative.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"agencyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The agency id for this creative.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"apiUploadTimestamp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last upload timestamp of this creative if it was uploaded via API. Read-only. The value of this field is generated, and will be ignored for uploads. (formatted RFC 3339 timestamp).","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"attribute":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"All attributes for the ads that may be shown from this snippet.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"buyerCreativeId":{"$ref":null,"additionalProperties":null,"annotations":{"required":["adexchangebuyer.creatives.insert"]},"default":null,"description":"A buyer-specific id identifying the creative in this ad.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"clickThroughUrl":{"$ref":null,"additionalProperties":null,"annotations":{"required":["adexchangebuyer.creatives.insert"]},"default":null,"description":"The set of destination urls for the snippet.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"corrections":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Shows any corrections that were applied to this creative. Read-only. This field should not be set in requests.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"details":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Additional details about the correction.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"reason":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of correction that was applied to the creative.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"disapprovalReasons":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The reasons for disapproval, if any. Note that not all disapproval reasons may be categorized, so it is possible for the creative to have a status of DISAPPROVED with an empty list for disapproval_reasons. In this case, please reach out to your TAM to help debug the issue. Read-only. This field should not be set in requests.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"details":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Additional details about the reason for disapproval.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"reason":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The categorized reason for disapproval.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"filteringReasons":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The filtering reasons for the creative. Read-only. This field should not be set in requests.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"date":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The date in ISO 8601 format for the data. The data is collected from 00:00:00 to 23:59:59 in PST.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reasons":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The filtering reasons.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"filteringCount":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The number of times the creative was filtered for the status. The count is aggregated across all publishers on the exchange.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"filteringStatus":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The filtering status code. Please refer to the creative-status-codes.txt file for different statuses.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"height":{"$ref":null,"additionalProperties":null,"annotations":{"required":["adexchangebuyer.creatives.insert"]},"default":null,"description":"Ad height.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"impressionTrackingUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The set of urls to be called to record an impression.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adexchangebuyer#creative","description":"Resource type.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"productCategories":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Detected product categories, if any. Read-only. This field should not be set in requests.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"restrictedCategories":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"All restricted categories for the ads that may be shown from this snippet.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"sensitiveCategories":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Detected sensitive categories, if any. Read-only. This field should not be set in requests.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Creative serving status. Read-only. This field should not be set in requests.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"vendorType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"All vendor types for the ads that may be shown from this snippet.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"version":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The version for this creative. Read-only. This field should not be set in requests.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"videoURL":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The url to fetch a video ad. If set, HTMLSnippet should not be set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"width":{"$ref":null,"additionalProperties":null,"annotations":{"required":["adexchangebuyer.creatives.insert"]},"default":null,"description":"Ad width.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CreativesList":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The creatives feed lists the active creatives for the Ad Exchange buyer accounts that the user has access to. Each entry in the feed corresponds to a single creative.","enum":null,"enumDescriptions":null,"format":null,"id":"CreativesList","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of creatives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Creative","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adexchangebuyer#creativesList","description":"Resource type.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token used to page through creatives. To retrieve the next page of results, set the next request's \"pageToken\" value to this.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"adexchangebuyer/v1.2/","title":"Ad Exchange Buyer API","version":"v1.2","version_module":null}