{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/adexchange.buyer":{"description":"Manage your Ad Exchange buyer account configuration"}}}},"basePath":"/adexchangebuyer/v1.4/","baseUrl":"https://www.googleapis.com/adexchangebuyer/v1.4/","batchPath":"batch/adexchangebuyer/v1.4","canonicalName":"Ad Exchange Buyer","description":"Accesses your bidding-account information, submits creatives for validation, finds available direct deals, and retrieves performance reports.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/ad-exchange/buyer-rest","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/nD15-sVgx0hSdEaD_RN4E40IFV8\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.google.com/images/icons/product/doubleclick-16.gif","x32":"https://www.google.com/images/icons/product/doubleclick-32.gif"},"id":"adexchangebuyer:v1.4","kind":"discovery#restDescription","labels":null,"methods":null,"name":"adexchangebuyer","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"accounts":{"methods":{"get":{"description":"Gets one account by ID.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.accounts.get","mediaUpload":null,"parameterOrder":["id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account id","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null}},"path":"accounts/{id}","request":null,"response":{"$ref":"Account"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves the authenticated user's list of accounts.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.accounts.list","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"accounts","request":null,"response":{"$ref":"AccountsList"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an existing account. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"adexchangebuyer.accounts.patch","mediaUpload":null,"parameterOrder":["id"],"parameters":{"confirmUnsafeAccountChange":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Confirmation for erasing bidder and cookie matching urls.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account id","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null}},"path":"accounts/{id}","request":{"$ref":"Account","parameterName":null},"response":{"$ref":"Account"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an existing account.","etagRequired":null,"httpMethod":"PUT","id":"adexchangebuyer.accounts.update","mediaUpload":null,"parameterOrder":["id"],"parameters":{"confirmUnsafeAccountChange":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Confirmation for erasing bidder and cookie matching urls.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account id","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null}},"path":"accounts/{id}","request":{"$ref":"Account","parameterName":null},"response":{"$ref":"Account"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"billingInfo":{"methods":{"get":{"description":"Returns the billing information for one account specified by account ID.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.billingInfo.get","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account id.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null}},"path":"billinginfo/{accountId}","request":null,"response":{"$ref":"BillingInfo"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of billing information for all accounts of the authenticated user.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.billingInfo.list","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"billinginfo","request":null,"response":{"$ref":"BillingInfoList"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"budget":{"methods":{"get":{"description":"Returns the budget information for the adgroup specified by the accountId and billingId.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.budget.get","mediaUpload":null,"parameterOrder":["accountId","billingId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account id to get the budget information for.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"billingId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The billing id to get the budget information for.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"billinginfo/{accountId}/{billingId}","request":null,"response":{"$ref":"Budget"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates the budget amount for the budget of the adgroup specified by the accountId and billingId, with the budget amount in the request. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"adexchangebuyer.budget.patch","mediaUpload":null,"parameterOrder":["accountId","billingId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account id associated with the budget being updated.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"billingId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The billing id associated with the budget being updated.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"billinginfo/{accountId}/{billingId}","request":{"$ref":"Budget","parameterName":null},"response":{"$ref":"Budget"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates the budget amount for the budget of the adgroup specified by the accountId and billingId, with the budget amount in the request.","etagRequired":null,"httpMethod":"PUT","id":"adexchangebuyer.budget.update","mediaUpload":null,"parameterOrder":["accountId","billingId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account id associated with the budget being updated.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"billingId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The billing id associated with the budget being updated.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"billinginfo/{accountId}/{billingId}","request":{"$ref":"Budget","parameterName":null},"response":{"$ref":"Budget"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"creatives":{"methods":{"addDeal":{"description":"Add a deal id association for the creative.","etagRequired":null,"httpMethod":"POST","id":"adexchangebuyer.creatives.addDeal","mediaUpload":null,"parameterOrder":["accountId","buyerCreativeId","dealId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id for the account that will serve this creative.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"buyerCreativeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The buyer-specific id for this creative.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"dealId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of the deal id to associate with this creative.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"creatives/{accountId}/{buyerCreativeId}/addDeal/{dealId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets the status for a single creative. A creative will be available 30-40 minutes after submission.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.creatives.get","mediaUpload":null,"parameterOrder":["accountId","buyerCreativeId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id for the account that will serve this creative.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"buyerCreativeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The buyer-specific id for this creative.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"creatives/{accountId}/{buyerCreativeId}","request":null,"response":{"$ref":"Creative"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Submit a new creative.","etagRequired":null,"httpMethod":"POST","id":"adexchangebuyer.creatives.insert","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"creatives","request":{"$ref":"Creative","parameterName":null},"response":{"$ref":"Creative"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of the authenticated user's active creatives. A creative will be available 30-40 minutes after submission.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.creatives.list","mediaUpload":null,"parameterOrder":null,"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When specified, only creatives for the given account ids are returned.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"integer","variant":null,"ETag":null},"buyerCreativeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When specified, only creatives for the given buyer creative ids are returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"dealsStatusFilter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When specified, only creatives having the given deals status are returned.","enum":["approved","conditionally_approved","disapproved","not_checked"],"enumDescriptions":["Creatives which have been approved for serving on deals.","Creatives which have been conditionally approved for serving on deals.","Creatives which have been disapproved for serving on deals.","Creatives whose deals status is not yet checked."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of entries returned on one result page. If not set, the default is 100. Optional.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"openAuctionStatusFilter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When specified, only creatives having the given open auction status are returned.","enum":["approved","conditionally_approved","disapproved","not_checked"],"enumDescriptions":["Creatives which have been approved for serving on the open auction.","Creatives which have been conditionally approved for serving on the open auction.","Creatives which have been disapproved for serving on the open auction.","Creatives whose open auction status is not yet checked."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response. Optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"creatives","request":null,"response":{"$ref":"CreativesList"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"listDeals":{"description":"Lists the external deal ids associated with the creative.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.creatives.listDeals","mediaUpload":null,"parameterOrder":["accountId","buyerCreativeId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id for the account that will serve this creative.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"buyerCreativeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The buyer-specific id for this creative.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"creatives/{accountId}/{buyerCreativeId}/listDeals","request":null,"response":{"$ref":"CreativeDealIds"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"removeDeal":{"description":"Remove a deal id associated with the creative.","etagRequired":null,"httpMethod":"POST","id":"adexchangebuyer.creatives.removeDeal","mediaUpload":null,"parameterOrder":["accountId","buyerCreativeId","dealId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id for the account that will serve this creative.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"buyerCreativeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The buyer-specific id for this creative.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"dealId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of the deal id to disassociate with this creative.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"creatives/{accountId}/{buyerCreativeId}/removeDeal/{dealId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"marketplacedeals":{"methods":{"delete":{"description":"Delete the specified deals from the proposal","etagRequired":null,"httpMethod":"POST","id":"adexchangebuyer.marketplacedeals.delete","mediaUpload":null,"parameterOrder":["proposalId"],"parameters":{"proposalId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The proposalId to delete deals from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"proposals/{proposalId}/deals/delete","request":{"$ref":"DeleteOrderDealsRequest","parameterName":null},"response":{"$ref":"DeleteOrderDealsResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Add new deals for the specified proposal","etagRequired":null,"httpMethod":"POST","id":"adexchangebuyer.marketplacedeals.insert","mediaUpload":null,"parameterOrder":["proposalId"],"parameters":{"proposalId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"proposalId for which deals need to be added.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"proposals/{proposalId}/deals/insert","request":{"$ref":"AddOrderDealsRequest","parameterName":null},"response":{"$ref":"AddOrderDealsResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List all the deals for a given proposal","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.marketplacedeals.list","mediaUpload":null,"parameterOrder":["proposalId"],"parameters":{"pqlQuery":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Query string to retrieve specific deals.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"proposalId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The proposalId to get deals for. To search across all proposals specify order_id = '-' as part of the URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"proposals/{proposalId}/deals","request":null,"response":{"$ref":"GetOrderDealsResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Replaces all the deals in the proposal with the passed in deals","etagRequired":null,"httpMethod":"POST","id":"adexchangebuyer.marketplacedeals.update","mediaUpload":null,"parameterOrder":["proposalId"],"parameters":{"proposalId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The proposalId to edit deals on.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"proposals/{proposalId}/deals/update","request":{"$ref":"EditAllOrderDealsRequest","parameterName":null},"response":{"$ref":"EditAllOrderDealsResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"marketplacenotes":{"methods":{"insert":{"description":"Add notes to the proposal","etagRequired":null,"httpMethod":"POST","id":"adexchangebuyer.marketplacenotes.insert","mediaUpload":null,"parameterOrder":["proposalId"],"parameters":{"proposalId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The proposalId to add notes for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"proposals/{proposalId}/notes/insert","request":{"$ref":"AddOrderNotesRequest","parameterName":null},"response":{"$ref":"AddOrderNotesResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Get all the notes associated with a proposal","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.marketplacenotes.list","mediaUpload":null,"parameterOrder":["proposalId"],"parameters":{"pqlQuery":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Query string to retrieve specific notes. To search the text contents of notes, please use syntax like \"WHERE note.note = \"foo\" or \"WHERE note.note LIKE \"%bar%\"","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"proposalId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The proposalId to get notes for. To search across all proposals specify order_id = '-' as part of the URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"proposals/{proposalId}/notes","request":null,"response":{"$ref":"GetOrderNotesResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"marketplaceprivateauction":{"methods":{"updateproposal":{"description":"Update a given private auction proposal","etagRequired":null,"httpMethod":"POST","id":"adexchangebuyer.marketplaceprivateauction.updateproposal","mediaUpload":null,"parameterOrder":["privateAuctionId"],"parameters":{"privateAuctionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The private auction id to be updated.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"privateauction/{privateAuctionId}/updateproposal","request":{"$ref":"UpdatePrivateAuctionProposalRequest","parameterName":null},"response":null,"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"performanceReport":{"methods":{"list":{"description":"Retrieves the authenticated user's list of performance metrics.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.performanceReport.list","mediaUpload":null,"parameterOrder":["accountId","endDateTime","startDateTime"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account id to get the reports.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"endDateTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The end time of the report in ISO 8601 timestamp format using UTC.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of entries returned on one result page. If not set, the default is 100. Optional.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through performance reports. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response. Optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startDateTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The start time of the report in ISO 8601 timestamp format using UTC.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"performancereport","request":null,"response":{"$ref":"PerformanceReportList"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"pretargetingConfig":{"methods":{"delete":{"description":"Deletes an existing pretargeting config.","etagRequired":null,"httpMethod":"DELETE","id":"adexchangebuyer.pretargetingConfig.delete","mediaUpload":null,"parameterOrder":["accountId","configId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account id to delete the pretargeting config for.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"configId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The specific id of the configuration to delete.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"pretargetingconfigs/{accountId}/{configId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a specific pretargeting configuration","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.pretargetingConfig.get","mediaUpload":null,"parameterOrder":["accountId","configId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account id to get the pretargeting config for.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"configId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The specific id of the configuration to retrieve.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"pretargetingconfigs/{accountId}/{configId}","request":null,"response":{"$ref":"PretargetingConfig"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Inserts a new pretargeting configuration.","etagRequired":null,"httpMethod":"POST","id":"adexchangebuyer.pretargetingConfig.insert","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account id to insert the pretargeting config for.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"pretargetingconfigs/{accountId}","request":{"$ref":"PretargetingConfig","parameterName":null},"response":{"$ref":"PretargetingConfig"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of the authenticated user's pretargeting configurations.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.pretargetingConfig.list","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account id to get the pretargeting configs for.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"pretargetingconfigs/{accountId}","request":null,"response":{"$ref":"PretargetingConfigList"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an existing pretargeting config. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"adexchangebuyer.pretargetingConfig.patch","mediaUpload":null,"parameterOrder":["accountId","configId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account id to update the pretargeting config for.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"configId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The specific id of the configuration to update.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"pretargetingconfigs/{accountId}/{configId}","request":{"$ref":"PretargetingConfig","parameterName":null},"response":{"$ref":"PretargetingConfig"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an existing pretargeting config.","etagRequired":null,"httpMethod":"PUT","id":"adexchangebuyer.pretargetingConfig.update","mediaUpload":null,"parameterOrder":["accountId","configId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account id to update the pretargeting config for.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"configId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The specific id of the configuration to update.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"pretargetingconfigs/{accountId}/{configId}","request":{"$ref":"PretargetingConfig","parameterName":null},"response":{"$ref":"PretargetingConfig"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"products":{"methods":{"get":{"description":"Gets the requested product by id.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.products.get","mediaUpload":null,"parameterOrder":["productId"],"parameters":{"productId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id for the product to get the head revision for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"products/{productId}","request":null,"response":{"$ref":"Product"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"search":{"description":"Gets the requested product.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.products.search","mediaUpload":null,"parameterOrder":null,"parameters":{"pqlQuery":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The pql query used to query for products.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"products/search","request":null,"response":{"$ref":"GetOffersResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"proposals":{"methods":{"get":{"description":"Get a proposal given its id","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.proposals.get","mediaUpload":null,"parameterOrder":["proposalId"],"parameters":{"proposalId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Id of the proposal to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"proposals/{proposalId}","request":null,"response":{"$ref":"Proposal"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Create the given list of proposals","etagRequired":null,"httpMethod":"POST","id":"adexchangebuyer.proposals.insert","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"proposals/insert","request":{"$ref":"CreateOrdersRequest","parameterName":null},"response":{"$ref":"CreateOrdersResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Update the given proposal. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"adexchangebuyer.proposals.patch","mediaUpload":null,"parameterOrder":["proposalId","revisionNumber","updateAction"],"parameters":{"proposalId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The proposal id to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"revisionNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last known revision number to update. If the head revision in the marketplace database has since changed, an error will be thrown. The caller should then fetch the latest proposal at head revision and retry the update at that revision.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"updateAction":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The proposed action to take on the proposal. This field is required and it must be set when updating a proposal.","enum":["accept","cancel","propose","proposeAndAccept","unknownAction","updateNonTerms"],"enumDescriptions":["","","","","",""],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"proposals/{proposalId}/{revisionNumber}/{updateAction}","request":{"$ref":"Proposal","parameterName":null},"response":{"$ref":"Proposal"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"search":{"description":"Search for proposals using pql query","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.proposals.search","mediaUpload":null,"parameterOrder":null,"parameters":{"pqlQuery":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Query string to retrieve specific proposals.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"proposals/search","request":null,"response":{"$ref":"GetOrdersResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"setupcomplete":{"description":"Update the given proposal to indicate that setup has been completed.","etagRequired":null,"httpMethod":"POST","id":"adexchangebuyer.proposals.setupcomplete","mediaUpload":null,"parameterOrder":["proposalId"],"parameters":{"proposalId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The proposal id for which the setup is complete","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"proposals/{proposalId}/setupcomplete","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Update the given proposal","etagRequired":null,"httpMethod":"PUT","id":"adexchangebuyer.proposals.update","mediaUpload":null,"parameterOrder":["proposalId","revisionNumber","updateAction"],"parameters":{"proposalId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The proposal id to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"revisionNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last known revision number to update. If the head revision in the marketplace database has since changed, an error will be thrown. The caller should then fetch the latest proposal at head revision and retry the update at that revision.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"updateAction":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The proposed action to take on the proposal. This field is required and it must be set when updating a proposal.","enum":["accept","cancel","propose","proposeAndAccept","unknownAction","updateNonTerms"],"enumDescriptions":["","","","","",""],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"proposals/{proposalId}/{revisionNumber}/{updateAction}","request":{"$ref":"Proposal","parameterName":null},"response":{"$ref":"Proposal"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"pubprofiles":{"methods":{"list":{"description":"Gets the requested publisher profile(s) by publisher accountId.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer.pubprofiles.list","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The accountId of the publisher to get profiles for.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null}},"path":"publisher/{accountId}/profiles","request":null,"response":{"$ref":"GetPublisherProfilesByAccountIdResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20170810","rootUrl":"https://www.googleapis.com/","schemas":{"Account":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Configuration data for an Ad Exchange buyer account.","enum":null,"enumDescriptions":null,"format":null,"id":"Account","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"bidderLocation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Your bidder locations that have distinct URLs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"bidProtocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The protocol that the bidder endpoint is using. OpenRTB protocols with prefix PROTOCOL_OPENRTB_PROTOBUF use proto buffer, otherwise use JSON.  Allowed values:  \n- PROTOCOL_ADX \n- PROTOCOL_OPENRTB_2_2 \n- PROTOCOL_OPENRTB_2_3 \n- PROTOCOL_OPENRTB_2_4 \n- PROTOCOL_OPENRTB_2_5 \n- PROTOCOL_OPENRTB_PROTOBUF_2_3 \n- PROTOCOL_OPENRTB_PROTOBUF_2_4 \n- PROTOCOL_OPENRTB_PROTOBUF_2_5","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maximumQps":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum queries per second the Ad Exchange will send.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"region":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The geographical region the Ad Exchange should send requests from. Only used by some quota systems, but always setting the value is recommended. Allowed values:  \n- ASIA \n- EUROPE \n- US_EAST \n- US_WEST","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL to which the Ad Exchange will send bid requests.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"cookieMatchingNid":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The nid parameter value used in cookie match requests. Please contact your technical account manager if you need to change this.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"cookieMatchingUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The base URL used in cookie match requests.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account id.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adexchangebuyer#account","description":"Resource type.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maximumActiveCreatives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of active creatives that an account can have, where a creative is active if it was inserted or bid with in the last 30 days. Please contact your technical account manager if you need to change this.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"maximumTotalQps":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The sum of all bidderLocation.maximumQps values cannot exceed this. Please contact your technical account manager if you need to change this.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"numberActiveCreatives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The number of creatives that this account inserted or bid with in the last 30 days.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AccountsList":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An account feed lists Ad Exchange buyer accounts that the user has access to. Each entry in the feed corresponds to a single buyer account.","enum":null,"enumDescriptions":null,"format":null,"id":"AccountsList","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of accounts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Account","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adexchangebuyer#accountsList","description":"Resource type.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AddOrderDealsRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AddOrderDealsRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"deals":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of deals to add","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"MarketplaceDeal","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"proposalRevisionNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last known proposal revision number.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"updateAction":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Indicates an optional action to take on the proposal","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AddOrderDealsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AddOrderDealsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"deals":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of deals added (in the same proposal as passed in the request)","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"MarketplaceDeal","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"proposalRevisionNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The updated revision number for the proposal.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AddOrderNotesRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AddOrderNotesRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"notes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of notes to add.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"MarketplaceNote","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AddOrderNotesResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AddOrderNotesResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"notes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"MarketplaceNote","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BillingInfo":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The configuration data for an Ad Exchange billing info.","enum":null,"enumDescriptions":null,"format":null,"id":"BillingInfo","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account id.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"accountName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"billingId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of adgroup IDs associated with this particular account. These IDs may show up as part of a realtime bidding BidRequest, which indicates a bid request for this account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adexchangebuyer#billingInfo","description":"Resource type.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BillingInfoList":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A billing info feed lists Billing Info the Ad Exchange buyer account has access to. Each entry in the feed corresponds to a single billing info.","enum":null,"enumDescriptions":null,"format":null,"id":"BillingInfoList","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of billing info relevant for your account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"BillingInfo","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adexchangebuyer#billingInfoList","description":"Resource type.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Budget":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The configuration data for Ad Exchange RTB - Budget API.","enum":null,"enumDescriptions":null,"format":null,"id":"Budget","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of the account. This is required for get and update requests.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"billingId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The billing id to determine which adgroup to provide budget information for. This is required for get and update requests.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"budgetAmount":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The daily budget amount in unit amount of the account currency to apply for the billingId provided. This is required for update requests.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"currencyCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The currency code for the buyer. This cannot be altered here.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique id that describes this item.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adexchangebuyer#budget","description":"The kind of the resource, i.e. \"adexchangebuyer#budget\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Buyer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"Buyer","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Adx account id of the buyer.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ContactInformation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"ContactInformation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"email":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email address of the contact.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the contact.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CreateOrdersRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"CreateOrdersRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"proposals":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of proposals to create.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Proposal","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"webPropertyCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property id of the seller creating these orders","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CreateOrdersResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"CreateOrdersResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"proposals":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of proposals successfully created.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Proposal","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Creative":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A creative and its classification data.","enum":null,"enumDescriptions":null,"format":null,"id":"Creative","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"HTMLSnippet":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The HTML snippet that displays the ad when inserted in the web page. If set, videoURL should not be set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":{"required":["adexchangebuyer.creatives.insert"]},"default":null,"description":"Account id.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"adChoicesDestinationUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The link to the Ad Preferences page. This is only supported for native ads.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"advertiserId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Detected advertiser id, if any. Read-only. This field should not be set in requests.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"advertiserName":{"$ref":null,"additionalProperties":null,"annotations":{"required":["adexchangebuyer.creatives.insert"]},"default":null,"description":"The name of the company being advertised in the creative. The value provided must exist in the advertisers.txt file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"agencyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The agency id for this creative.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"apiUploadTimestamp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last upload timestamp of this creative if it was uploaded via API. Read-only. The value of this field is generated, and will be ignored for uploads. (formatted RFC 3339 timestamp).","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"attribute":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of buyer selectable attributes for the ads that may be shown from this snippet. Each attribute is represented by an integer as defined in  buyer-declarable-creative-attributes.txt.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"buyerCreativeId":{"$ref":null,"additionalProperties":null,"annotations":{"required":["adexchangebuyer.creatives.insert"]},"default":null,"description":"A buyer-specific id identifying the creative in this ad.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"clickThroughUrl":{"$ref":null,"additionalProperties":null,"annotations":{"required":["adexchangebuyer.creatives.insert"]},"default":null,"description":"The set of destination urls for the snippet.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"corrections":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Shows any corrections that were applied to this creative. Read-only. This field should not be set in requests.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"contexts":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"All known serving contexts containing serving status information.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"auctionType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Only set when contextType=AUCTION_TYPE. Represents the auction types this correction applies to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"contextType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of context (e.g., location, platform, auction type, SSL-ness).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"geoCriteriaId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Only set when contextType=LOCATION. Represents the geo criterias this correction applies to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"platform":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Only set when contextType=PLATFORM. Represents the platforms this correction applies to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"details":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Additional details about the correction.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"reason":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of correction that was applied to the creative.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"dealsStatus":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Top-level deals status. Read-only. This field should not be set in requests. If disapproved, an entry for auctionType=DIRECT_DEALS (or ALL) in servingRestrictions will also exist. Note that this may be nuanced with other contextual restrictions, in which case it may be preferable to read from servingRestrictions directly.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"detectedDomains":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Detected domains for this creative. Read-only. This field should not be set in requests.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"filteringReasons":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The filtering reasons for the creative. Read-only. This field should not be set in requests.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"date":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The date in ISO 8601 format for the data. The data is collected from 00:00:00 to 23:59:59 in PST.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reasons":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The filtering reasons.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"filteringCount":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The number of times the creative was filtered for the status. The count is aggregated across all publishers on the exchange.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"filteringStatus":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The filtering status code as defined in  creative-status-codes.txt.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"height":{"$ref":null,"additionalProperties":null,"annotations":{"required":["adexchangebuyer.creatives.insert"]},"default":null,"description":"Ad height.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"impressionTrackingUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The set of urls to be called to record an impression.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adexchangebuyer#creative","description":"Resource type.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"languages":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Detected languages for this creative. Read-only. This field should not be set in requests.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"nativeAd":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If nativeAd is set, HTMLSnippet and the videoURL outside of nativeAd should not be set. (The videoURL inside nativeAd can be set.)","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"advertiser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"appIcon":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The app icon, for app download ads.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"height":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"width":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"body":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A long description of the ad.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callToAction":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A label for the button that the user is supposed to click.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"clickLinkUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL that the browser/SDK will load when the user clicks the ad.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"clickTrackingUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL to use for click tracking.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"headline":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A short title for the ad.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"image":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A large image.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"height":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"rep
[...]
