{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/adexchange.buyer":{"description":"Manage your Ad Exchange buyer account configuration"}}}},"basePath":"","baseUrl":"https://adexchangebuyer.googleapis.com/","batchPath":"batch","canonicalName":"AdExchangeBuyerII","description":"Accesses the latest features for managing Ad Exchange accounts, Real-Time Bidding configurations and auction metrics, and Marketplace programmatic deals.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/ad-exchange/buyer-rest/reference/rest/","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"adexchangebuyer2:v2beta1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"adexchangebuyer2","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"accounts":{"methods":null,"resources":{"clients":{"methods":{"update":{"description":"Updates an existing client buyer.","etagRequired":null,"httpMethod":"PUT","id":"adexchangebuyer2.accounts.clients.update","mediaUpload":null,"parameterOrder":["accountId","clientAccountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique numerical account ID for the buyer of which the client buyer\nis a customer; the sponsor buyer to update a client for. (required)","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clientAccountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique numerical account ID of the client to update. (required)","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/clients/{clientAccountId}","request":{"$ref":"Client","parameterName":null},"response":{"$ref":"Client"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates a new client buyer.","etagRequired":null,"httpMethod":"POST","id":"adexchangebuyer2.accounts.clients.create","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique numerical account ID for the buyer of which the client buyer\nis a customer; the sponsor buyer to create a client for. (required)","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/clients","request":{"$ref":"Client","parameterName":null},"response":{"$ref":"Client"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all the clients for the current sponsor buyer.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer2.accounts.clients.list","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results the server should return.\nTypically, this is the value of\nListClientsResponse.nextPageToken\nreturned from the previous call to the\naccounts.clients.list method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. The server may return fewer clients than requested.\nIf unspecified, the server will pick an appropriate default.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique numerical account ID of the sponsor buyer to list the clients for.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/clients","request":null,"response":{"$ref":"ListClientsResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a client buyer with a given client account ID.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer2.accounts.clients.get","mediaUpload":null,"parameterOrder":["accountId","clientAccountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Numerical account ID of the client's sponsor buyer. (required)","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clientAccountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Numerical account ID of the client buyer to retrieve. (required)","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/clients/{clientAccountId}","request":null,"response":{"$ref":"Client"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"invitations":{"methods":{"create":{"description":"Creates and sends out an email invitation to access\nan Ad Exchange client buyer account.","etagRequired":null,"httpMethod":"POST","id":"adexchangebuyer2.accounts.clients.invitations.create","mediaUpload":null,"parameterOrder":["accountId","clientAccountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Numerical account ID of the client's sponsor buyer. (required)","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clientAccountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Numerical account ID of the client buyer that the user\nshould be associated with. (required)","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations","request":{"$ref":"ClientUserInvitation","parameterName":null},"response":{"$ref":"ClientUserInvitation"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all the client users invitations for a client\nwith a given account ID.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer2.accounts.clients.invitations.list","mediaUpload":null,"parameterOrder":["accountId","clientAccountId"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results the server should return.\nTypically, this is the value of\nListClientUserInvitationsResponse.nextPageToken\nreturned from the previous call to the\nclients.invitations.list\nmethod.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. Server may return fewer clients than requested.\nIf unspecified, server will pick an appropriate default.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Numerical account ID of the client's sponsor buyer. (required)","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clientAccountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Numerical account ID of the client buyer to list invitations for.\n(required)\nYou must either specify a string representation of a\nnumerical account identifier or the `-` character\nto list all the invitations for all the clients\nof a given sponsor buyer.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations","request":null,"response":{"$ref":"ListClientUserInvitationsResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves an existing client user invitation.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer2.accounts.clients.invitations.get","mediaUpload":null,"parameterOrder":["accountId","clientAccountId","invitationId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Numerical account ID of the client's sponsor buyer. (required)","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clientAccountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Numerical account ID of the client buyer that the user invitation\nto be retrieved is associated with. (required)","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"invitationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Numerical identifier of the user invitation to retrieve. (required)","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/clients/{clientAccountId}/invitations/{invitationId}","request":null,"response":{"$ref":"ClientUserInvitation"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"users":{"methods":{"update":{"description":"Updates an existing client user.\nOnly the user status can be changed on update.","etagRequired":null,"httpMethod":"PUT","id":"adexchangebuyer2.accounts.clients.users.update","mediaUpload":null,"parameterOrder":["accountId","clientAccountId","userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Numerical identifier of the user to retrieve. (required)","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Numerical account ID of the client's sponsor buyer. (required)","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clientAccountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Numerical account ID of the client buyer that the user to be retrieved\nis associated with. (required)","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}","request":{"$ref":"ClientUser","parameterName":null},"response":{"$ref":"ClientUser"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves an existing client user.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer2.accounts.clients.users.get","mediaUpload":null,"parameterOrder":["accountId","clientAccountId","userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Numerical identifier of the user to retrieve. (required)","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Numerical account ID of the client's sponsor buyer. (required)","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clientAccountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Numerical account ID of the client buyer\nthat the user to be retrieved is associated with. (required)","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/clients/{clientAccountId}/users/{userId}","request":null,"response":{"$ref":"ClientUser"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all the known client users for a specified\nsponsor buyer account ID.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer2.accounts.clients.users.list","mediaUpload":null,"parameterOrder":["accountId","clientAccountId"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results the server should return.\nTypically, this is the value of\nListClientUsersResponse.nextPageToken\nreturned from the previous call to the\naccounts.clients.users.list method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. The server may return fewer clients than requested.\nIf unspecified, the server will pick an appropriate default.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Numerical account ID of the sponsor buyer of the client to list users for.\n(required)","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clientAccountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account ID of the client buyer to list users for. (required)\nYou must specify either a string representation of a\nnumerical account identifier or the `-` character\nto list all the client users for all the clients\nof a given sponsor buyer.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/clients/{clientAccountId}/users","request":null,"response":{"$ref":"ListClientUsersResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"creatives":{"methods":{"list":{"description":"Lists creatives.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer2.accounts.creatives.list","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results the server should return.\nTypically, this is the value of\nListCreativesResponse.next_page_token\nreturned from the previous call to 'ListCreatives' method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. The server may return fewer creatives than requested\n(due to timeout constraint) even if more are available via another call.\nIf unspecified, server will pick an appropriate default.\nAcceptable values are 1 to 1000, inclusive.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account to list the creatives from.\nSpecify \"-\" to list all creatives the current user has access to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"query":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An optional query string to filter creatives. If no filter is specified,\nall active creatives will be returned.\nSupported queries are:\n<ul>\n<li>accountId=<i>account_id_string</i>\n<li>creativeId=<i>creative_id_string</i>\n<li>dealsStatus: {approved, conditionally_approved, disapproved,\n                   not_checked}\n<li>openAuctionStatus: {approved, conditionally_approved, disapproved,\n                          not_checked}\n<li>attribute: {a numeric attribute from the list of attributes}\n<li>disapprovalReason: {a reason from\nDisapprovalReason\n</ul>\nExample: 'accountId=12345 AND (dealsStatus:disapproved AND\ndisapprovalReason:unacceptable_content) OR attribute:47'","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/creatives","request":null,"response":{"$ref":"ListCreativesResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates a creative.","etagRequired":null,"httpMethod":"POST","id":"adexchangebuyer2.accounts.creatives.create","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account that this creative belongs to.\nCan be used to filter the response of the\ncreatives.list\nmethod.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"duplicateIdMode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Indicates if multiple creatives can share an ID or not. Default is\nNO_DUPLICATES (one ID per creative).","enum":["NO_DUPLICATES","FORCE_ENABLE_DUPLICATE_IDS"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/creatives","request":{"$ref":"Creative","parameterName":null},"response":{"$ref":"Creative"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"stopWatching":{"description":"Stops watching a creative. Will stop push notifications being sent to the\ntopics when the creative changes status.","etagRequired":null,"httpMethod":"POST","id":"adexchangebuyer2.accounts.creatives.stopWatching","mediaUpload":null,"parameterOrder":["accountId","creativeId"],"parameters":{"creativeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The creative ID of the creative to stop notifications for.\nSpecify \"-\" to specify stopping account level notifications.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account of the creative to stop notifications for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/creatives/{creativeId}:stopWatching","request":{"$ref":"StopWatchingCreativeRequest","parameterName":null},"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a creative.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer2.accounts.creatives.get","mediaUpload":null,"parameterOrder":["accountId","creativeId"],"parameters":{"creativeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the creative to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account the creative belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/creatives/{creativeId}","request":null,"response":{"$ref":"Creative"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"watch":{"description":"Watches a creative. Will result in push notifications being sent to the\ntopic when the creative changes status.","etagRequired":null,"httpMethod":"POST","id":"adexchangebuyer2.accounts.creatives.watch","mediaUpload":null,"parameterOrder":["accountId","creativeId"],"parameters":{"creativeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The creative ID to watch for status changes.\nSpecify \"-\" to watch all creatives under the above account.\nIf both creative-level and account-level notifications are\nsent, only a single notification will be sent to the\ncreative-level notification topic.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account of the creative to watch.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/creatives/{creativeId}:watch","request":{"$ref":"WatchCreativeRequest","parameterName":null},"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a creative.","etagRequired":null,"httpMethod":"PUT","id":"adexchangebuyer2.accounts.creatives.update","mediaUpload":null,"parameterOrder":["accountId","creativeId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account that this creative belongs to.\nCan be used to filter the response of the\ncreatives.list\nmethod.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"creativeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The buyer-defined creative ID of this creative.\nCan be used to filter the response of the\ncreatives.list\nmethod.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/creatives/{creativeId}","request":{"$ref":"Creative","parameterName":null},"response":{"$ref":"Creative"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"dealAssociations":{"methods":{"remove":{"description":"Remove the association between a deal and a creative.","etagRequired":null,"httpMethod":"POST","id":"adexchangebuyer2.accounts.creatives.dealAssociations.remove","mediaUpload":null,"parameterOrder":["accountId","creativeId"],"parameters":{"creativeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the creative associated with the deal.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account the creative belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:remove","request":{"$ref":"RemoveDealAssociationRequest","parameterName":null},"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"add":{"description":"Associate an existing deal with a creative.","etagRequired":null,"httpMethod":"POST","id":"adexchangebuyer2.accounts.creatives.dealAssociations.add","mediaUpload":null,"parameterOrder":["accountId","creativeId"],"parameters":{"creativeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the creative associated with the deal.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account the creative belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations:add","request":{"$ref":"AddDealAssociationRequest","parameterName":null},"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List all creative-deal associations.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer2.accounts.creatives.dealAssociations.list","mediaUpload":null,"parameterOrder":["accountId","creativeId"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results the server should return.\nTypically, this is the value of\nListDealAssociationsResponse.next_page_token\nreturned from the previous call to 'ListDealAssociations' method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. Server may return fewer associations than requested.\nIf unspecified, server will pick an appropriate default.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account to list the associations from.\nSpecify \"-\" to list all creatives the current user has access to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"query":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An optional query string to filter deal associations. If no filter is\nspecified, all associations will be returned.\nSupported queries are:\n<ul>\n<li>accountId=<i>account_id_string</i>\n<li>creativeId=<i>creative_id_string</i>\n<li>dealsId=<i>deals_id_string</i>\n<li>dealsStatus:{approved, conditionally_approved, disapproved,\n                  not_checked}\n<li>openAuctionStatus:{approved, conditionally_approved, disapproved,\n                         not_checked}\n</ul>\nExample: 'dealsId=12345 AND dealsStatus:disapproved'","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"creativeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The creative ID to list the associations from.\nSpecify \"-\" to list all creatives under the above account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/creatives/{creativeId}/dealAssociations","request":null,"response":{"$ref":"ListDealAssociationsResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"filterSets":{"methods":{"delete":{"description":"Deletes the requested filter set from the account with the given account\nID.","etagRequired":null,"httpMethod":"DELETE","id":"adexchangebuyer2.accounts.filterSets.delete","mediaUpload":null,"parameterOrder":["accountId","filterSetId"],"parameters":{"filterSetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the filter set to delete.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID of the buyer.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/filterSets/{filterSetId}","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all filter sets for the account with the given account ID.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer2.accounts.filterSets.list","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results the server should return.\nTypically, this is the value of\nListFilterSetsResponse.nextPageToken\nreturned from the previous call to the\naccounts.filterSets.list\nmethod.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID of the buyer.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/filterSets","request":null,"response":{"$ref":"ListFilterSetsResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves the requested filter set for the account with the given account\nID.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer2.accounts.filterSets.get","mediaUpload":null,"parameterOrder":["accountId","filterSetId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID of the buyer.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filterSetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the filter set to get.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/filterSets/{filterSetId}","request":null,"response":{"$ref":"FilterSet"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates the specified filter set for the account with the given account ID.","etagRequired":null,"httpMethod":"POST","id":"adexchangebuyer2.accounts.filterSets.create","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"isTransient":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the filter set is transient, or should be persisted indefinitely.\nBy default, filter sets are not transient.\nIf transient, it will be available for at least 1 hour after creation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID of the buyer.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/filterSets","request":{"$ref":"FilterSet","parameterName":null},"response":{"$ref":"FilterSet"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"nonBillableWinningBids":{"methods":{"list":{"description":"List all reasons for which winning bids were not billable, with the number\nof bids not billed for each reason.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer2.accounts.filterSets.nonBillableWinningBids.list","mediaUpload":null,"parameterOrder":["accountId","filterSetId"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results the server should return.\nTypically, this is the value of\nListNonBillableWinningBidsResponse.nextPageToken\nreturned from the previous call to the\naccounts.filterSets.nonBillableWinningBids.list\nmethod.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID of the buyer.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filterSetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the filter set to apply.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/filterSets/{filterSetId}/nonBillableWinningBids","request":null,"response":{"$ref":"ListNonBillableWinningBidsResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"filteredBids":{"methods":{"list":{"description":"List all reasons for which bids were filtered, with the number of bids\nfiltered for each reason.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer2.accounts.filterSets.filteredBids.list","mediaUpload":null,"parameterOrder":["accountId","filterSetId"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results the server should return.\nTypically, this is the value of\nListFilteredBidsResponse.nextPageToken\nreturned from the previous call to the\naccounts.filterSets.filteredBids.list\nmethod.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID of the buyer.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filterSetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the filter set to apply.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/filterSets/{filterSetId}/filteredBids","request":null,"response":{"$ref":"ListFilteredBidsResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"creatives":{"methods":{"list":{"description":"List all creatives associated with a specific reason for which bids were\nfiltered, with the number of bids filtered for each creative.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer2.accounts.filterSets.filteredBids.creatives.list","mediaUpload":null,"parameterOrder":["accountId","filterSetId","creativeStatusId"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results the server should return.\nTypically, this is the value of\nListCreativeStatusBreakdownByCreativeResponse.nextPageToken\nreturned from the previous call to the\naccounts.filterSets.filteredBids.creatives.list\nmethod.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"creativeStatusId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the creative status for which to retrieve a breakdown by\ncreative.\nSee\n[creative-status-codes](https://developers.google.com/ad-exchange/rtb/downloads/creative-status-codes).","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID of the buyer.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filterSetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the filter set to apply.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/filterSets/{filterSetId}/filteredBids/{creativeStatusId}/creatives","request":null,"response":{"$ref":"ListCreativeStatusBreakdownByCreativeResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"details":{"methods":{"list":{"description":"List all details associated with a specific reason for which bids were\nfiltered, with the number of bids filtered for each detail.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer2.accounts.filterSets.filteredBids.details.list","mediaUpload":null,"parameterOrder":["accountId","filterSetId","creativeStatusId"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results the server should return.\nTypically, this is the value of\nListCreativeStatusBreakdownByDetailResponse.nextPageToken\nreturned from the previous call to the\naccounts.filterSets.filteredBids.details.list\nmethod.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"creativeStatusId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the creative status for which to retrieve a breakdown by detail.\nSee\n[creative-status-codes](https://developers.google.com/ad-exchange/rtb/downloads/creative-status-codes).\nDetails are only available for statuses 10, 14, 15, 17, 18, 19, 86, and 87.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID of the buyer.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filterSetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the filter set to apply.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/filterSets/{filterSetId}/filteredBids/{creativeStatusId}/details","request":null,"response":{"$ref":"ListCreativeStatusBreakdownByDetailResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"losingBids":{"methods":{"list":{"description":"List all reasons for which bids lost in the auction, with the number of\nbids that lost for each reason.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer2.accounts.filterSets.losingBids.list","mediaUpload":null,"parameterOrder":["accountId","filterSetId"],"parameters":{"filterSetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the filter set to apply.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results the server should return.\nTypically, this is the value of\nListLosingBidsResponse.nextPageToken\nreturned from the previous call to the\naccounts.filterSets.losingBids.list\nmethod.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID of the buyer.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/filterSets/{filterSetId}/losingBids","request":null,"response":{"$ref":"ListLosingBidsResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"bidMetrics":{"methods":{"list":{"description":"Lists all metrics that are measured in terms of number of bids.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer2.accounts.filterSets.bidMetrics.list","mediaUpload":null,"parameterOrder":["accountId","filterSetId"],"parameters":{"filterSetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the filter set to apply.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results the server should return.\nTypically, this is the value of\nListBidMetricsResponse.nextPageToken\nreturned from the previous call to the\naccounts.filterSets.bidMetrics.list\nmethod.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID of the buyer.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/filterSets/{filterSetId}/bidMetrics","request":null,"response":{"$ref":"ListBidMetricsResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"impressionMetrics":{"methods":{"list":{"description":"Lists all metrics that are measured in terms of number of impressions.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer2.accounts.filterSets.impressionMetrics.list","mediaUpload":null,"parameterOrder":["accountId","filterSetId"],"parameters":{"filterSetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the filter set to apply.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results the server should return.\nTypically, this is the value of\nListImpressionMetricsResponse.nextPageToken\nreturned from the previous call to the\naccounts.filterSets.impressionMetrics.list\nmethod.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID of the buyer.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/filterSets/{filterSetId}/impressionMetrics","request":null,"response":{"$ref":"ListImpressionMetricsResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"bidResponseErrors":{"methods":{"list":{"description":"List all errors that occurred in bid responses, with the number of bid\nresponses affected for each reason.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer2.accounts.filterSets.bidResponseErrors.list","mediaUpload":null,"parameterOrder":["accountId","filterSetId"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results the server should return.\nTypically, this is the value of\nListBidResponseErrorsResponse.nextPageToken\nreturned from the previous call to the\naccounts.filterSets.bidResponseErrors.list\nmethod.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID of the buyer.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filterSetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the filter set to apply.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/filterSets/{filterSetId}/bidResponseErrors","request":null,"response":{"$ref":"ListBidResponseErrorsResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"bidResponsesWithoutBids":{"methods":{"list":{"description":"List all reasons for which bid responses were considered to have no\napplicable bids, with the number of bid responses affected for each reason.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer2.accounts.filterSets.bidResponsesWithoutBids.list","mediaUpload":null,"parameterOrder":["accountId","filterSetId"],"parameters":{"filterSetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the filter set to apply.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results the server should return.\nTypically, this is the value of\nListBidResponsesWithoutBidsResponse.nextPageToken\nreturned from the previous call to the\naccounts.filterSets.bidResponsesWithoutBids.list\nmethod.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID of the buyer.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/filterSets/{filterSetId}/bidResponsesWithoutBids","request":null,"response":{"$ref":"ListBidResponsesWithoutBidsResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"filteredBidRequests":{"methods":{"list":{"description":"List all reasons that caused a bid request not to be sent for an\nimpression, with the number of bid requests not sent for each reason.","etagRequired":null,"httpMethod":"GET","id":"adexchangebuyer2.accounts.filterSets.filteredBidRequests.list","mediaUpload":null,"parameterOrder":["accountId","filterSetId"],"parameters":{"filterSetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the filter set to apply.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results the server should return.\nTypically, this is the value of\nListFilteredBidRequestsResponse.nextPageToken\nreturned from the previous call to the\naccounts.filterSets.filteredBidRequests.list\nmethod.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. The server may return fewer results than requested.\nIf unspecified, the server will pick an appropriate default.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID of the buyer.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/accounts/{accountId}/filterSets/{filterSetId}/filteredBidRequests","request":null,"response":{"$ref":"ListFilteredBidRequestsResponse"},"scopes":["https://www.googleapis.com/auth/adexchange.buyer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"ETag":null}},"revision":"20171005","rootUrl":"https://adexchangebuyer.googleapis.com/","schemas":{"AppContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"@OutputOnly The app type the restriction applies to for mobile device.","enum":null,"enumDescriptions":null,"format":null,"id":"AppContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"appTypes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The app types this restriction applies to.","enum":null,"enumDescriptions":["Native app context.","Mobile web app context."],"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["NATIVE","WEB"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListFilteredBidsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response message for listing all reasons that bids were filtered from the\nauction.","enum":null,"enumDescriptions":null,"format":null,"id":"ListFilteredBidsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"creativeStatusRows":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of rows, with counts of filtered bids aggregated by filtering reason\n(i.e. creative status).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"CreativeStatusRow","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token to retrieve the next page of results.\nPass this value in the\nListFilteredBidsRequest.pageToken\nfield in the subsequent call to the\naccounts.filterSets.filteredBids.list\nmethod to retrieve the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SecurityContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"@OutputOnly A security context.","enum":null,"enumDescriptions":null,"format":null,"id":"SecurityContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"securities":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The security types in this context.","enum":null,"enumDescriptions":["Matches impressions that require insecure compatibility.","Matches impressions that require SSL compatibility."],"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["INSECURE","SSL"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListFilteredBidRequestsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response message for listing all reasons that bid requests were filtered and\nnot sent to the buyer.","enum":null,"enumDescriptions":null,"format":null,"id":"ListFilteredBidRequestsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token to retrieve the next page of results.\nPass this value in the\nListFilteredBidRequestsRequest.pageToken\nfield in the subsequent call to the\naccounts.filterSets.filteredBidRequests.list\nmethod to retrieve the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"calloutStatusRows":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of rows, with counts of filtered bid requests aggregated by callout\nstatus.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"CalloutStatusRow","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListCreativesResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A response for listing creatives.","enum":null,"enumDescriptions":null,"format":null,"id":"ListCreativesResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"creatives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of creatives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Creative","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token to retrieve the next page of results.\nPass this value in the\nListCreativesRequest.page_token\nfield in the subsequent call to `ListCreatives` method to retrieve the next\npage of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"HtmlContent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"HTML content for a creative.","enum":null,"enumDescriptions":null,"format":null,"id":"HtmlContent","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"height":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The height of the HTML snippet in pixels.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"width":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The width of the HTML snippet in pixels.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"snippet":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The HTML snippet that displays the ad when inserted in the web page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListBidMetricsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response message for listing the metrics that are measured in number of bids.","enum":null,"enumDescriptions":null,"format":null,"id":"ListBidMetricsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token to retrieve the next page of results.\nPass this value in the\nListBidMetricsRequest.pageToken\nfield in the subsequent call to the\naccounts.filterSets.bidMetrics.list\nmethod to retrieve the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"bidMetricsRows":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of rows, each containing a set of bid metrics.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"BidMetricsRow","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Reason":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A specific filtering status and how many times it occurred.","enum":null,"enumDescriptions":null,"format":null,"id":"Reason","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"count":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The number of times the creative was filtered for the status. The\ncount is aggregated across all publishers on the exchange.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The filtering status code. Please refer to the\n[creative-status-codes.txt](https://storage.googleapis.com/adx-rtb-dictionaries/creative-status-codes.txt)\nfile for different statuses.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListNonBillableWinningBidsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response message for listing all reasons for which a buyer was not billed for\na winning bid.","enum":null,"enumDescriptions":null,"format":null,"id":"ListNonBillableWinningBidsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"nonBillableWinningBidStatusRows":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of rows, with counts of bids not billed aggregated by reason.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"NonBillableWinningBidStatusRow","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token to retrieve the next page of results.\nPass this value in the\nListNonBillableWinningBidsRequest.pageToken\nfield in the subsequent call to the\naccounts.filterSets.nonBillableWinningBids.list\nmethod to retrieve the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListLosingBidsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response message for listing all reasons that bids lost in the auction.","enum":null,"enumDescriptions":null,"format":null,"id":"ListLosingBidsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"creativeStatusRows":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of rows, with counts of losing bids aggregated by loss reason (i.e.\ncreative status).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"CreativeStatusRow","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token to retrieve the next page of results.\nPass this value in the\nListLosingBidsRequest.pageToken\nfield in the subsequent call to the\naccounts.filterSets.losingBids.list\nmethod to retrieve the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"VideoContent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video content for a creative.","enum":null,"enumDescriptions":null,"format":null,"id":"VideoContent","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"videoUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL to fetch a video ad.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ImpressionMetricsRow":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The set of metrics that are measured in numbers of impressions, representing\nhow many impressions with the specified dimension values were considered\neligible at each stage of the bidding funnel.","enum":null,"enumDescriptions":null,"format":null,"id":"ImpressionMetricsRow","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"successfulResponses":{"$ref":"MetricValue","additionalProperties":null,"annotations":null,"default":null,"description":"The number of impressions for which the buyer successfully sent a response\nto Ad Exchange.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"rowDimensions":{"$ref":"RowDimensions","additionalProperties":null,"annotations":null,"default":null,"description":"The values of all dimensions associated with metric values in this row.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"availableImpressions":{"$ref":"MetricValue","additionalProperties":null,"annotations":null,"default":null,"description":"The number of impressions available to the buyer on Ad Exchange.\nIn some cases this value may be unavailable.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"inventoryMatches":{"$ref":"MetricValue","additionalProperties":null,"annotations":null,"default":null,"description":"The number of impressions that match the buyer's inventory pretargeting.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"bidRequests":{"$ref":"MetricValue","additionalProperties":null,"annotations":null,"default":null,"description":"The number of impressions for which Ad Exchange sent the buyer a bid\nrequest.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"responsesWithBids":{"$ref":"MetricValue","additionalProperties":null,"annotations":null,"default":null,"description":"The number of impressions for which Ad Exchange received a response from\nthe buyer that contained at least one applicable bid.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AuctionContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"@OutputOnly The auction type the restriction applies to.","enum":null,"enumDescriptions":null,"format":null,"id":"AuctionContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"auctionTypes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The auction types this restriction applies to.","enum":null,"enumDescriptions":["The restriction applies to open auction.","The restriction applies to direct deals."],"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["OPEN_AUCTION","DIRECT_DEALS"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListImpressionMetricsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response message for listing the metrics that are measured in number of\nimpressions.","enum":null,"enumDescriptions":null,"format":null,"id":"ListImpressionMetricsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token to retrieve the next page of results.\nPass this value in the\nListImpressionMetricsRequest.pageToken\nfield in the subsequent call to the\naccounts.filterSets.impressionMetrics.list\nmethod to retrieve the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"impressionMetricsRows":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of rows, each containing a set of impression metrics.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ImpressionMetricsRow","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BidMetricsRow":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The set of metrics that are measured in numbers of bids, representing how\nmany bids with the specified dimension values were considered eligible at\neach stage of the bidding funnel;","enum":null,"enumDescriptions":null,"format":null,"id":"BidMetricsRow","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"billedImpressions":{"$ref":"MetricValue","additionalProperties":null,"annotations":null,"default":null,"description":"The number of bids for which the buyer was billed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"bidsInAuction":{"$ref":"MetricValue","additionalProperties":null,"annotations":null,"default":null,"description":"The number of bids that were permitted to compete in the auction.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"rowDimensions":{"$ref":"RowDimensions","additionalProperties":null,"annotations":null,"default":null,"description":"The values of al
[...]
