{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/admin.directory.customer":{"description":"View and manage customer related information"},"https://www.googleapis.com/auth/admin.directory.customer.readonly":{"description":"View customer related information"},"https://www.googleapis.com/auth/admin.directory.device.chromeos":{"description":"View and manage your Chrome OS devices' metadata"},"https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly":{"description":"View your Chrome OS devices' metadata"},"https://www.googleapis.com/auth/admin.directory.device.mobile":{"description":"View and manage your mobile devices' metadata"},"https://www.googleapis.com/auth/admin.directory.device.mobile.action":{"description":"Manage your mobile devices by performing administrative tasks"},"https://www.googleapis.com/auth/admin.directory.device.mobile.readonly":{"description":"View your mobile devices' metadata"},"https://www.googleapis.com/auth/admin.directory.domain":{"description":"View and manage the provisioning of domains for your customers"},"https://www.googleapis.com/auth/admin.directory.domain.readonly":{"description":"View domains related to your customers"},"https://www.googleapis.com/auth/admin.directory.group":{"description":"View and manage the provisioning of groups on your domain"},"https://www.googleapis.com/auth/admin.directory.group.member":{"description":"View and manage group subscriptions on your domain"},"https://www.googleapis.com/auth/admin.directory.group.member.readonly":{"description":"View group subscriptions on your domain"},"https://www.googleapis.com/auth/admin.directory.group.readonly":{"description":"View groups on your domain"},"https://www.googleapis.com/auth/admin.directory.notifications":{"description":"View and manage notifications received on your domain"},"https://www.googleapis.com/auth/admin.directory.orgunit":{"description":"View and manage organization units on your domain"},"https://www.googleapis.com/auth/admin.directory.orgunit.readonly":{"description":"View organization units on your domain"},"https://www.googleapis.com/auth/admin.directory.resource.calendar":{"description":"View and manage the provisioning of calendar resources on your domain"},"https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly":{"description":"View calendar resources on your domain"},"https://www.googleapis.com/auth/admin.directory.rolemanagement":{"description":"Manage delegated admin roles for your domain"},"https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly":{"description":"View delegated admin roles for your domain"},"https://www.googleapis.com/auth/admin.directory.user":{"description":"View and manage the provisioning of users on your domain"},"https://www.googleapis.com/auth/admin.directory.user.alias":{"description":"View and manage user aliases on your domain"},"https://www.googleapis.com/auth/admin.directory.user.alias.readonly":{"description":"View user aliases on your domain"},"https://www.googleapis.com/auth/admin.directory.user.readonly":{"description":"View users on your domain"},"https://www.googleapis.com/auth/admin.directory.user.security":{"description":"Manage data access permissions for users on your domain"},"https://www.googleapis.com/auth/admin.directory.userschema":{"description":"View and manage the provisioning of user schemas on your domain"},"https://www.googleapis.com/auth/admin.directory.userschema.readonly":{"description":"View user schemas on your domain"}}}},"basePath":"/admin/directory/v1/","baseUrl":"https://www.googleapis.com/admin/directory/v1/","batchPath":"batch/admin/directory_v1","canonicalName":"directory","description":"The Admin SDK Directory API lets you view and manage enterprise resources such as users and groups, administrative notifications, security features, and more.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/admin-sdk/directory/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/JB19efQGH5f-JRT49yZz7BTyNQU\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png","x32":"https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"},"id":"admin:directory_v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"admin","ownerDomain":"google.com","ownerName":"Google","packagePath":"admin","parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"asps":{"methods":{"delete":{"description":"Delete an ASP issued by a user.","etagRequired":null,"httpMethod":"DELETE","id":"directory.asps.delete","mediaUpload":null,"parameterOrder":["userKey","codeId"],"parameters":{"codeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID of the ASP to be deleted.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"userKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"users/{userKey}/asps/{codeId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/admin.directory.user.security"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Get information about an ASP issued by a user.","etagRequired":null,"httpMethod":"GET","id":"directory.asps.get","mediaUpload":null,"parameterOrder":["userKey","codeId"],"parameters":{"codeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID of the ASP.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"userKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"users/{userKey}/asps/{codeId}","request":null,"response":{"$ref":"Asp"},"scopes":["https://www.googleapis.com/auth/admin.directory.user.security"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List the ASPs issued by a user.","etagRequired":null,"httpMethod":"GET","id":"directory.asps.list","mediaUpload":null,"parameterOrder":["userKey"],"parameters":{"userKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the user in the API request. The value can be the user's primary email address, alias email address, or unique user ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"users/{userKey}/asps","request":null,"response":{"$ref":"Asps"},"scopes":["https://www.googleapis.com/auth/admin.directory.user.security"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"channels":{"methods":{"stop":{"description":"Stop watching resources through this channel","etagRequired":null,"httpMethod":"POST","id":"admin.channels.stop","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"/admin/directory_v1/channels/stop","request":{"$ref":"Channel","parameterName":"resource"},"response":null,"scopes":["https://www.googleapis.com/auth/admin.directory.user","https://www.googleapis.com/auth/admin.directory.user.alias","https://www.googleapis.com/auth/admin.directory.user.alias.readonly","https://www.googleapis.com/auth/admin.directory.user.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"chromeosdevices":{"methods":{"action":{"description":"Take action on Chrome OS Device","etagRequired":null,"httpMethod":"POST","id":"directory.chromeosdevices.action","mediaUpload":null,"parameterOrder":["customerId","resourceId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"resourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of Chrome OS Device","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customerId}/devices/chromeos/{resourceId}/action","request":{"$ref":"ChromeOsDeviceAction","parameterName":null},"response":null,"scopes":["https://www.googleapis.com/auth/admin.directory.device.chromeos"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieve Chrome OS Device","etagRequired":null,"httpMethod":"GET","id":"directory.chromeosdevices.get","mediaUpload":null,"parameterOrder":["customerId","deviceId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of Chrome OS Device","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Restrict information returned to a set of selected fields.","enum":["BASIC","FULL"],"enumDescriptions":["Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)","Includes all metadata fields"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"customer/{customerId}/devices/chromeos/{deviceId}","request":null,"response":{"$ref":"ChromeOsDevice"},"scopes":["https://www.googleapis.com/auth/admin.directory.device.chromeos","https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieve all Chrome OS Devices of a customer (paginated)","etagRequired":null,"httpMethod":"GET","id":"directory.chromeosdevices.list","mediaUpload":null,"parameterOrder":["customerId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of results to return. Default is 100","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"orderBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Column to use for sorting results","enum":["annotatedLocation","annotatedUser","lastSync","notes","serialNumber","status","supportEndDate"],"enumDescriptions":["Chromebook location as annotated by the administrator.","Chromebook user as annotated by administrator.","Chromebook last sync.","Chromebook notes as annotated by the administrator.","Chromebook Serial Number.","Chromebook status.","Chromebook support end date."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"orgUnitPath":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Full path of the organization unit or its Id","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token to specify next page in the list","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Restrict information returned to a set of selected fields.","enum":["BASIC","FULL"],"enumDescriptions":["Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)","Includes all metadata fields"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"query":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Search string in the format given at http://support.google.com/chromeos/a/bin/answer.py?hl=en&answer=1698333","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sortOrder":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to return results in ascending or descending order. Only of use when orderBy is also used","enum":["ASCENDING","DESCENDING"],"enumDescriptions":["Ascending order.","Descending order."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"customer/{customerId}/devices/chromeos","request":null,"response":{"$ref":"ChromeOsDevices"},"scopes":["https://www.googleapis.com/auth/admin.directory.device.chromeos","https://www.googleapis.com/auth/admin.directory.device.chromeos.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"moveDevicesToOu":{"description":"Move or insert multiple Chrome OS Devices to Organization Unit","etagRequired":null,"httpMethod":"POST","id":"directory.chromeosdevices.moveDevicesToOu","mediaUpload":null,"parameterOrder":["customerId","orgUnitPath"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"orgUnitPath":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Full path of the target organization unit or its Id","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customerId}/devices/chromeos/moveDevicesToOu","request":{"$ref":"ChromeOsMoveDevicesToOu","parameterName":null},"response":null,"scopes":["https://www.googleapis.com/auth/admin.directory.device.chromeos"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Update Chrome OS Device. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"directory.chromeosdevices.patch","mediaUpload":null,"parameterOrder":["customerId","deviceId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of Chrome OS Device","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Restrict information returned to a set of selected fields.","enum":["BASIC","FULL"],"enumDescriptions":["Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)","Includes all metadata fields"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"customer/{customerId}/devices/chromeos/{deviceId}","request":{"$ref":"ChromeOsDevice","parameterName":null},"response":{"$ref":"ChromeOsDevice"},"scopes":["https://www.googleapis.com/auth/admin.directory.device.chromeos"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Update Chrome OS Device","etagRequired":null,"httpMethod":"PUT","id":"directory.chromeosdevices.update","mediaUpload":null,"parameterOrder":["customerId","deviceId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of Chrome OS Device","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Restrict information returned to a set of selected fields.","enum":["BASIC","FULL"],"enumDescriptions":["Includes only the basic metadata fields (e.g., deviceId, serialNumber, status, and user)","Includes all metadata fields"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"customer/{customerId}/devices/chromeos/{deviceId}","request":{"$ref":"ChromeOsDevice","parameterName":null},"response":{"$ref":"ChromeOsDevice"},"scopes":["https://www.googleapis.com/auth/admin.directory.device.chromeos"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"customers":{"methods":{"get":{"description":"Retrieves a customer.","etagRequired":null,"httpMethod":"GET","id":"directory.customers.get","mediaUpload":null,"parameterOrder":["customerKey"],"parameters":{"customerKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Id of the customer to be retrieved","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customers/{customerKey}","request":null,"response":{"$ref":"Customer"},"scopes":["https://www.googleapis.com/auth/admin.directory.customer","https://www.googleapis.com/auth/admin.directory.customer.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates a customer. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"directory.customers.patch","mediaUpload":null,"parameterOrder":["customerKey"],"parameters":{"customerKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Id of the customer to be updated","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customers/{customerKey}","request":{"$ref":"Customer","parameterName":null},"response":{"$ref":"Customer"},"scopes":["https://www.googleapis.com/auth/admin.directory.customer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a customer.","etagRequired":null,"httpMethod":"PUT","id":"directory.customers.update","mediaUpload":null,"parameterOrder":["customerKey"],"parameters":{"customerKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Id of the customer to be updated","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customers/{customerKey}","request":{"$ref":"Customer","parameterName":null},"response":{"$ref":"Customer"},"scopes":["https://www.googleapis.com/auth/admin.directory.customer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"domainAliases":{"methods":{"delete":{"description":"Deletes a Domain Alias of the customer.","etagRequired":null,"httpMethod":"DELETE","id":"directory.domainAliases.delete","mediaUpload":null,"parameterOrder":["customer","domainAliasName"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"domainAliasName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of domain alias to be retrieved.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/domainaliases/{domainAliasName}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/admin.directory.domain"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves a domain alias of the customer.","etagRequired":null,"httpMethod":"GET","id":"directory.domainAliases.get","mediaUpload":null,"parameterOrder":["customer","domainAliasName"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"domainAliasName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of domain alias to be retrieved.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/domainaliases/{domainAliasName}","request":null,"response":{"$ref":"DomainAlias"},"scopes":["https://www.googleapis.com/auth/admin.directory.domain","https://www.googleapis.com/auth/admin.directory.domain.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Inserts a Domain alias of the customer.","etagRequired":null,"httpMethod":"POST","id":"directory.domainAliases.insert","mediaUpload":null,"parameterOrder":["customer"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/domainaliases","request":{"$ref":"DomainAlias","parameterName":null},"response":{"$ref":"DomainAlias"},"scopes":["https://www.googleapis.com/auth/admin.directory.domain"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists the domain aliases of the customer.","etagRequired":null,"httpMethod":"GET","id":"directory.domainAliases.list","mediaUpload":null,"parameterOrder":["customer"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"parentDomainName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the parent domain for which domain aliases are to be fetched.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/domainaliases","request":null,"response":{"$ref":"DomainAliases"},"scopes":["https://www.googleapis.com/auth/admin.directory.domain","https://www.googleapis.com/auth/admin.directory.domain.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"domains":{"methods":{"delete":{"description":"Deletes a domain of the customer.","etagRequired":null,"httpMethod":"DELETE","id":"directory.domains.delete","mediaUpload":null,"parameterOrder":["customer","domainName"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"domainName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of domain to be deleted","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/domains/{domainName}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/admin.directory.domain"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves a domain of the customer.","etagRequired":null,"httpMethod":"GET","id":"directory.domains.get","mediaUpload":null,"parameterOrder":["customer","domainName"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"domainName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of domain to be retrieved","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/domains/{domainName}","request":null,"response":{"$ref":"Domains"},"scopes":["https://www.googleapis.com/auth/admin.directory.domain","https://www.googleapis.com/auth/admin.directory.domain.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Inserts a domain of the customer.","etagRequired":null,"httpMethod":"POST","id":"directory.domains.insert","mediaUpload":null,"parameterOrder":["customer"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/domains","request":{"$ref":"Domains","parameterName":null},"response":{"$ref":"Domains"},"scopes":["https://www.googleapis.com/auth/admin.directory.domain"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists the domains of the customer.","etagRequired":null,"httpMethod":"GET","id":"directory.domains.list","mediaUpload":null,"parameterOrder":["customer"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/domains","request":null,"response":{"$ref":"Domains2"},"scopes":["https://www.googleapis.com/auth/admin.directory.domain","https://www.googleapis.com/auth/admin.directory.domain.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"groups":{"methods":{"delete":{"description":"Delete Group","etagRequired":null,"httpMethod":"DELETE","id":"directory.groups.delete","mediaUpload":null,"parameterOrder":["groupKey"],"parameters":{"groupKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email or immutable Id of the group","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"groups/{groupKey}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/admin.directory.group"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieve Group","etagRequired":null,"httpMethod":"GET","id":"directory.groups.get","mediaUpload":null,"parameterOrder":["groupKey"],"parameters":{"groupKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email or immutable Id of the group","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"groups/{groupKey}","request":null,"response":{"$ref":"Group"},"scopes":["https://www.googleapis.com/auth/admin.directory.group","https://www.googleapis.com/auth/admin.directory.group.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Create Group","etagRequired":null,"httpMethod":"POST","id":"directory.groups.insert","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"groups","request":{"$ref":"Group","parameterName":null},"response":{"$ref":"Group"},"scopes":["https://www.googleapis.com/auth/admin.directory.group"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieve all groups in a domain (paginated)","etagRequired":null,"httpMethod":"GET","id":"directory.groups.list","mediaUpload":null,"parameterOrder":null,"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account. In case of multi-domain, to fetch all groups for a customer, fill this field instead of domain.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"domain":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the domain. Fill this field to get groups from only this domain. To return all groups in a multi-domain fill customer field instead.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of results to return. Default is 200","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token to specify next page in the list","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email or immutable Id of the user if only those groups are to be listed, the given user is a member of. If Id, it should match with id of user object","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"groups","request":null,"response":{"$ref":"Groups"},"scopes":["https://www.googleapis.com/auth/admin.directory.group","https://www.googleapis.com/auth/admin.directory.group.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Update Group. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"directory.groups.patch","mediaUpload":null,"parameterOrder":["groupKey"],"parameters":{"groupKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email or immutable Id of the group. If Id, it should match with id of group object","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"groups/{groupKey}","request":{"$ref":"Group","parameterName":null},"response":{"$ref":"Group"},"scopes":["https://www.googleapis.com/auth/admin.directory.group"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Update Group","etagRequired":null,"httpMethod":"PUT","id":"directory.groups.update","mediaUpload":null,"parameterOrder":["groupKey"],"parameters":{"groupKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email or immutable Id of the group. If Id, it should match with id of group object","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"groups/{groupKey}","request":{"$ref":"Group","parameterName":null},"response":{"$ref":"Group"},"scopes":["https://www.googleapis.com/auth/admin.directory.group"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"aliases":{"methods":{"delete":{"description":"Remove a alias for the group","etagRequired":null,"httpMethod":"DELETE","id":"directory.groups.aliases.delete","mediaUpload":null,"parameterOrder":["groupKey","alias"],"parameters":{"alias":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The alias to be removed","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"groupKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email or immutable Id of the group","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"groups/{groupKey}/aliases/{alias}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/admin.directory.group"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Add a alias for the group","etagRequired":null,"httpMethod":"POST","id":"directory.groups.aliases.insert","mediaUpload":null,"parameterOrder":["groupKey"],"parameters":{"groupKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email or immutable Id of the group","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"groups/{groupKey}/aliases","request":{"$ref":"Alias","parameterName":null},"response":{"$ref":"Alias"},"scopes":["https://www.googleapis.com/auth/admin.directory.group"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List all aliases for a group","etagRequired":null,"httpMethod":"GET","id":"directory.groups.aliases.list","mediaUpload":null,"parameterOrder":["groupKey"],"parameters":{"groupKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email or immutable Id of the group","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"groups/{groupKey}/aliases","request":null,"response":{"$ref":"Aliases"},"scopes":["https://www.googleapis.com/auth/admin.directory.group","https://www.googleapis.com/auth/admin.directory.group.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":true,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"members":{"methods":{"delete":{"description":"Remove membership.","etagRequired":null,"httpMethod":"DELETE","id":"directory.members.delete","mediaUpload":null,"parameterOrder":["groupKey","memberKey"],"parameters":{"groupKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email or immutable Id of the group","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"memberKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email or immutable Id of the member","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"groups/{groupKey}/members/{memberKey}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/admin.directory.group","https://www.googleapis.com/auth/admin.directory.group.member"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieve Group Member","etagRequired":null,"httpMethod":"GET","id":"directory.members.get","mediaUpload":null,"parameterOrder":["groupKey","memberKey"],"parameters":{"groupKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email or immutable Id of the group","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"memberKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email or immutable Id of the member","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"groups/{groupKey}/members/{memberKey}","request":null,"response":{"$ref":"Member"},"scopes":["https://www.googleapis.com/auth/admin.directory.group","https://www.googleapis.com/auth/admin.directory.group.member","https://www.googleapis.com/auth/admin.directory.group.member.readonly","https://www.googleapis.com/auth/admin.directory.group.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Add user to the specified group.","etagRequired":null,"httpMethod":"POST","id":"directory.members.insert","mediaUpload":null,"parameterOrder":["groupKey"],"parameters":{"groupKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email or immutable Id of the group","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"groups/{groupKey}/members","request":{"$ref":"Member","parameterName":null},"response":{"$ref":"Member"},"scopes":["https://www.googleapis.com/auth/admin.directory.group","https://www.googleapis.com/auth/admin.directory.group.member"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieve all members in a group (paginated)","etagRequired":null,"httpMethod":"GET","id":"directory.members.list","mediaUpload":null,"parameterOrder":["groupKey"],"parameters":{"groupKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email or immutable Id of the group","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of results to return. Default is 200","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token to specify next page in the list","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"roles":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Comma separated role values to filter list results on.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"groups/{groupKey}/members","request":null,"response":{"$ref":"Members"},"scopes":["https://www.googleapis.com/auth/admin.directory.group","https://www.googleapis.com/auth/admin.directory.group.member","https://www.googleapis.com/auth/admin.directory.group.member.readonly","https://www.googleapis.com/auth/admin.directory.group.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Update membership of a user in the specified group. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"directory.members.patch","mediaUpload":null,"parameterOrder":["groupKey","memberKey"],"parameters":{"groupKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email or immutable Id of the group. If Id, it should match with id of group object","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"memberKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email or immutable Id of the user. If Id, it should match with id of member object","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"groups/{groupKey}/members/{memberKey}","request":{"$ref":"Member","parameterName":null},"response":{"$ref":"Member"},"scopes":["https://www.googleapis.com/auth/admin.directory.group","https://www.googleapis.com/auth/admin.directory.group.member"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Update membership of a user in the specified group.","etagRequired":null,"httpMethod":"PUT","id":"directory.members.update","mediaUpload":null,"parameterOrder":["groupKey","memberKey"],"parameters":{"groupKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email or immutable Id of the group. If Id, it should match with id of group object","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"memberKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email or immutable Id of the user. If Id, it should match with id of member object","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"groups/{groupKey}/members/{memberKey}","request":{"$ref":"Member","parameterName":null},"response":{"$ref":"Member"},"scopes":["https://www.googleapis.com/auth/admin.directory.group","https://www.googleapis.com/auth/admin.directory.group.member"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"mobiledevices":{"methods":{"action":{"description":"Take action on Mobile Device","etagRequired":null,"httpMethod":"POST","id":"directory.mobiledevices.action","mediaUpload":null,"parameterOrder":["customerId","resourceId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"resourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of Mobile Device","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customerId}/devices/mobile/{resourceId}/action","request":{"$ref":"MobileDeviceAction","parameterName":null},"response":null,"scopes":["https://www.googleapis.com/auth/admin.directory.device.mobile","https://www.googleapis.com/auth/admin.directory.device.mobile.action"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Delete Mobile Device","etagRequired":null,"httpMethod":"DELETE","id":"directory.mobiledevices.delete","mediaUpload":null,"parameterOrder":["customerId","resourceId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"resourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of Mobile Device","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customerId}/devices/mobile/{resourceId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/admin.directory.device.mobile"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieve Mobile Device","etagRequired":null,"httpMethod":"GET","id":"directory.mobiledevices.get","mediaUpload":null,"parameterOrder":["customerId","resourceId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Restrict information returned to a set of selected fields.","enum":["BASIC","FULL"],"enumDescriptions":["Includes only the basic metadata fields (e.g., deviceId, model, status, type, and status)","Includes all metadata fields"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"resourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of Mobile Device","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customerId}/devices/mobile/{resourceId}","request":null,"response":{"$ref":"MobileDevice"},"scopes":["https://www.googleapis.com/auth/admin.directory.device.mobile","https://www.googleapis.com/auth/admin.directory.device.mobile.action","https://www.googleapis.com/auth/admin.directory.device.mobile.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieve all Mobile Devices of a customer (paginated)","etagRequired":null,"httpMethod":"GET","id":"directory.mobiledevices.list","mediaUpload":null,"parameterOrder":["customerId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of results to return. Default is 100","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"orderBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Column to use for sorting results","enum":["deviceId","email","lastSync","model","name","os","status","type"],"enumDescriptions":["Mobile Device serial number.","Owner user email.","Last policy settings sync date time of the device.","Mobile Device model.","Owner user name.","Mobile operating system.","Status of the device.","Type of the device."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token to specify next page in the list","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Restrict information returned to a set of selected fields.","enum":["BASIC","FULL"],"enumDescriptions":["Includes only the basic metadata fields (e.g., deviceId, model, status, type, and status)","Includes all metadata fields"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"query":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Search string in the format given at http://support.google.com/a/bin/answer.py?hl=en&answer=1408863#search","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sortOrder":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to return results in ascending or descending order. Only of use when orderBy is also used","enum":["ASCENDING","DESCENDING"],"enumDescriptions":["Ascending order.","Descending order."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"customer/{customerId}/devices/mobile","request":null,"response":{"$ref":"MobileDevices"},"scopes":["https://www.googleapis.com/auth/admin.directory.device.mobile","https://www.googleapis.com/auth/admin.directory.device.mobile.action","https://www.googleapis.com/auth/admin.directory.device.mobile.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"notifications":{"methods":{"delete":{"description":"Deletes a notification","etagRequired":null,"httpMethod":"DELETE","id":"directory.notifications.delete","mediaUpload":null,"parameterOrder":["customer","notificationId"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID for the customer's G Suite account. The customerId is also returned as part of the Users resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"notificationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID of the notification.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/notifications/{notificationId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/admin.directory.notifications"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves a notification.","etagRequired":null,"httpMethod":"GET","id":"directory.notifications.get","mediaUpload":null,"parameterOrder":["customer","notificationId"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID for the customer's G Suite account. The customerId is also returned as part of the Users resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"notificationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID of the notification.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/notifications/{notificationId}","request":null,"response":{"$ref":"Notification"},"scopes":["https://www.googleapis.com/auth/admin.directory.notifications"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of notifications.","etagRequired":null,"httpMethod":"GET","id":"directory.notifications.list","mediaUpload":null,"parameterOrder":["customer"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID for the customer's G Suite account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ISO 639-1 code of the language notifications are returned in. The default is English (en).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of notifications to return per page. The default is 100.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token to specify the page of results to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/notifications","request":null,"response":{"$ref":"Notifications"},"scopes":["https://www.googleapis.com/auth/admin.directory.notifications"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates a notification. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"directory.notifications.patch","mediaUpload":null,"parameterOrder":["customer","notificationId"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID for the customer's G Suite account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"notificationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID of the notification.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/notifications/{notificationId}","request":{"$ref":"Notification","parameterName":null},"response":{"$ref":"Notification"},"scopes":["https://www.googleapis.com/auth/admin.directory.notifications"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a notification.","etagRequired":null,"httpMethod":"PUT","id":"directory.notifications.update","mediaUpload":null,"parameterOrder":["customer","notificationId"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID for the customer's G Suite account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"notificationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID of the notification.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/notifications/{notificationId}","request":{"$ref":"Notification","parameterName":null},"response":{"$ref":"Notification"},"scopes":["https://www.googleapis.com/auth/admin.directory.notifications"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"orgunits":{"methods":{"delete":{"description":"Remove Organization Unit","etagRequired":null,"httpMethod":"DELETE","id":"directory.orgunits.delete","mediaUpload":null,"parameterOrder":["customerId","orgUnitPath"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"orgUnitPath":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Full path of the organization unit or its Id","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customerId}/orgunits{/orgUnitPath*}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/admin.directory.orgunit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieve Organization Unit","etagRequired":null,"httpMethod":"GET","id":"directory.orgunits.get","mediaUpload":null,"parameterOrder":["customerId","orgUnitPath"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"orgUnitPath":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Full path of the organization unit or its Id","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customerId}/orgunits{/orgUnitPath*}","request":null,"response":{"$ref":"OrgUnit"},"scopes":["https://www.googleapis.com/auth/admin.directory.orgunit","https://www.googleapis.com/auth/admin.directory.orgunit.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Add Organization Unit","etagRequired":null,"httpMethod":"POST","id":"directory.orgunits.insert","mediaUpload":null,"parameterOrder":["customerId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customerId}/orgunits","request":{"$ref":"OrgUnit","parameterName":null},"response":{"$ref":"OrgUnit"},"scopes":["https://www.googleapis.com/auth/admin.directory.orgunit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieve all Organization Units","etagRequired":null,"httpMethod":"GET","id":"directory.orgunits.list","mediaUpload":null,"parameterOrder":["customerId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"orgUnitPath":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"","description":"the URL-encoded organization unit's path or its Id","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to return all sub-organizations or just immediate children","enum":["all","children"],"enumDescriptions":["All sub-organization units.","Immediate children only (default)."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"customer/{customerId}/orgunits","request":null,"response":{"$ref":"OrgUnits"},"scopes":["https://www.googleapis.com/auth/admin.directory.orgunit","https://www.googleapis.com/auth/admin.directory.orgunit.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Update Organization Unit. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"directory.orgunits.patch","mediaUpload":null,"parameterOrder":["customerId","orgUnitPath"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"orgUnitPath":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Full path of the organization unit or its Id","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customerId}/orgunits{/orgUnitPath*}","request":{"$ref":"OrgUnit","parameterName":null},"response":{"$ref":"OrgUnit"},"scopes":["https://www.googleapis.com/auth/admin.directory.orgunit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Update Organization Unit","etagRequired":null,"httpMethod":"PUT","id":"directory.orgunits.update","mediaUpload":null,"parameterOrder":["customerId","orgUnitPath"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"orgUnitPath":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Full path of the organization unit or its Id","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customerId}/orgunits{/orgUnitPath*}","request":{"$ref":"OrgUnit","parameterName":null},"response":{"$ref":"OrgUnit"},"scopes":["https://www.googleapis.com/auth/admin.directory.orgunit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"privileges":{"methods":{"list":{"description":"Retrieves a paginated list of all privileges for a customer.","etagRequired":null,"httpMethod":"GET","id":"directory.privileges.list","mediaUpload":null,"parameterOrder":["customer"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/roles/ALL/privileges","request":null,"response":{"$ref":"Privileges"},"scopes":["https://www.googleapis.com/auth/admin.directory.rolemanagement","https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"resources":{"methods":null,"resources":{"calendars":{"methods":{"delete":{"description":"Deletes a calendar resource.","etagRequired":null,"httpMethod":"DELETE","id":"directory.resources.calendars.delete","mediaUpload":null,"parameterOrder":["customer","calendarResourceId"],"parameters":{"calendarResourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID of the calendar resource to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/resources/calendars/{calendarResourceId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/admin.directory.resource.calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves a calendar resource.","etagRequired":null,"httpMethod":"GET","id":"directory.resources.calendars.get","mediaUpload":null,"parameterOrder":["customer","calendarResourceId"],"parameters":{"calendarResourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID of the calendar resource to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/resources/calendars/{calendarResourceId}","request":null,"response":{"$ref":"CalendarResource"},"scopes":["https://www.googleapis.com/auth/admin.directory.resource.calendar","https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Inserts a calendar resource.","etagRequired":null,"httpMethod":"POST","id":"directory.resources.calendars.insert","mediaUpload":null,"parameterOrder":["customer"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/resources/calendars","request":{"$ref":"CalendarResource","parameterName":null},"response":{"$ref":"CalendarResource"},"scopes":["https://www.googleapis.com/auth/admin.directory.resource.calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of calendar resources for an account.","etagRequired":null,"httpMethod":"GET","id":"directory.resources.calendars.list","mediaUpload":null,"parameterOrder":["customer"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of results to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"500","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token to specify the next page in the list.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/resources/calendars","request":null,"response":{"$ref":"CalendarResources"},"scopes":["https://www.googleapis.com/auth/admin.directory.resource.calendar","https://www.googleapis.com/auth/admin.directory.resource.calendar.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates a calendar resource. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"directory.resources.calendars.patch","mediaUpload":null,"parameterOrder":["customer","calendarResourceId"],"parameters":{"calendarResourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID of the calendar resource to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/resources/calendars/{calendarResourceId}","request":{"$ref":"CalendarResource","parameterName":null},"response":{"$ref":"CalendarResource"},"scopes":["https://www.googleapis.com/auth/admin.directory.resource.calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a calendar resource.","etagRequired":null,"httpMethod":"PUT","id":"directory.resources.calendars.update","mediaUpload":null,"parameterOrder":["customer","calendarResourceId"],"parameters":{"calendarResourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID of the calendar resource to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID for the customer's G Suite account. As an account administrator, you can also use the my_customer alias to represent your account's customer ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/resources/calendars/{calendarResourceId}","request":{"$ref":"CalendarResource","parameterName":null},"response":{"$ref":"CalendarResource"},"scopes":["https://www.googleapis.com/auth/admin.directory.resource.calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"roleAssignments":{"methods":{"delete":{"description":"Deletes a role assignment.","etagRequired":null,"httpMethod":"DELETE","id":"directory.roleAssignments.delete","mediaUpload":null,"parameterOrder":["customer","roleAssignmentId"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"roleAssignmentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the role assignment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/roleassignments/{roleAssignmentId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/admin.directory.rolemanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieve a role assignment.","etagRequired":null,"httpMethod":"GET","id":"directory.roleAssignments.get","mediaUpload":null,"parameterOrder":["customer","roleAssignmentId"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"roleAssignmentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the role assignment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/roleassignments/{roleAssignmentId}","request":null,"response":{"$ref":"RoleAssignment"},"scopes":["https://www.googleapis.com/auth/admin.directory.rolemanagement","https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a role assignment.","etagRequired":null,"httpMethod":"POST","id":"directory.roleAssignments.insert","mediaUpload":null,"parameterOrder":["customer"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/roleassignments","request":{"$ref":"RoleAssignment","parameterName":null},"response":{"$ref":"RoleAssignment"},"scopes":["https://www.googleapis.com/auth/admin.directory.rolemanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a paginated list of all roleAssignments.","etagRequired":null,"httpMethod":"GET","id":"directory.roleAssignments.list","mediaUpload":null,"parameterOrder":["customer"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of results to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"200","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token to specify the next page in the list.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"roleId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of a role. If included in the request, returns only role assignments containing this role ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The user's primary email address, alias email address, or unique user ID. If included in the request, returns role assignments only for this user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/roleassignments","request":null,"response":{"$ref":"RoleAssignments"},"scopes":["https://www.googleapis.com/auth/admin.directory.rolemanagement","https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"roles":{"methods":{"delete":{"description":"Deletes a role.","etagRequired":null,"httpMethod":"DELETE","id":"directory.roles.delete","mediaUpload":null,"parameterOrder":["customer","roleId"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"roleId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the role.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/roles/{roleId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/admin.directory.rolemanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves a role.","etagRequired":null,"httpMethod":"GET","id":"directory.roles.get","mediaUpload":null,"parameterOrder":["customer","roleId"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"roleId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the role.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customer/{customer}/roles/{roleId}","request":null,"response":{"$ref":"Role"},"scopes":["https://www.googleapis.com/auth/admin.directory.rolemanagement","https://www.googleapis.com/auth/admin.directory.rolemanagement.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a role.","etagRequired":null,"httpMethod":"POST","id":"directory.roles.insert","mediaUpload":null,"parameterOrder":["customer"],"parameters":{"customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Immutable ID of the G Suite account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":nu
[...]
