{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/adsense":{"description":"View and manage your AdSense data"},"https://www.googleapis.com/auth/adsense.readonly":{"description":"View your AdSense data"}}}},"basePath":"/adsense/v1.4/","baseUrl":"https://www.googleapis.com/adsense/v1.4/","batchPath":"batch/adsense/v1.4","canonicalName":"AdSense","description":"Accesses AdSense publishers' inventory and generates performance reports.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/adsense/management/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/mQhmJ70hCcYdv25FYW6N73bVA-8\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.google.com/images/icons/product/adsense-16.png","x32":"https://www.google.com/images/icons/product/adsense-32.png"},"id":"adsense:v1.4","kind":"discovery#restDescription","labels":null,"methods":null,"name":"adsense","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["csv","json"],"enumDescriptions":["Responses with Content-Type of text/csv","Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"accounts":{"methods":{"get":{"description":"Get information about the selected AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsense.accounts.get","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account to get information about.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"tree":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the tree of sub accounts should be returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"accounts/{accountId}","request":null,"response":{"$ref":"Account"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List all accounts available to this AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsense.accounts.list","mediaUpload":null,"parameterOrder":null,"parameters":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of accounts to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"10000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through accounts. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"accounts","request":null,"response":{"$ref":"Accounts"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"adclients":{"methods":{"list":{"description":"List all ad clients in the specified account.","etagRequired":null,"httpMethod":"GET","id":"adsense.accounts.adclients.list","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account for which to list ad clients.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of ad clients to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"10000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/adclients","request":null,"response":{"$ref":"AdClients"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"adunits":{"methods":{"get":{"description":"Gets the specified ad unit in the specified ad client for the specified account.","etagRequired":null,"httpMethod":"GET","id":"adsense.accounts.adunits.get","mediaUpload":null,"parameterOrder":["accountId","adClientId","adUnitId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account to which the ad client belongs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client for which to get the ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adUnitId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad unit to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}","request":null,"response":{"$ref":"AdUnit"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getAdCode":{"description":"Get ad code for the specified ad unit.","etagRequired":null,"httpMethod":"GET","id":"adsense.accounts.adunits.getAdCode","mediaUpload":null,"parameterOrder":["accountId","adClientId","adUnitId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account which contains the ad client.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client with contains the ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adUnitId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad unit to get the code for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}/adcode","request":null,"response":{"$ref":"AdCode"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List all ad units in the specified ad client for the specified account.","etagRequired":null,"httpMethod":"GET","id":"adsense.accounts.adunits.list","mediaUpload":null,"parameterOrder":["accountId","adClientId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account to which the ad client belongs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client for which to list ad units.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"includeInactive":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to include inactive ad units. Default: true.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of ad units to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"10000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/adclients/{adClientId}/adunits","request":null,"response":{"$ref":"AdUnits"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"customchannels":{"methods":{"list":{"description":"List all custom channels which the specified ad unit belongs to.","etagRequired":null,"httpMethod":"GET","id":"adsense.accounts.adunits.customchannels.list","mediaUpload":null,"parameterOrder":["accountId","adClientId","adUnitId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account to which the ad client belongs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client which contains the ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adUnitId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad unit for which to list custom channels.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of custom channels to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"10000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}/customchannels","request":null,"response":{"$ref":"CustomChannels"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"alerts":{"methods":{"delete":{"description":"Dismiss (delete) the specified alert from the specified publisher AdSense account.","etagRequired":null,"httpMethod":"DELETE","id":"adsense.accounts.alerts.delete","mediaUpload":null,"parameterOrder":["accountId","alertId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account which contains the ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"alertId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Alert to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/alerts/{alertId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/adsense"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List the alerts for the specified AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsense.accounts.alerts.list","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account for which to retrieve the alerts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The locale to use for translating alert messages. The account locale will be used if this is not supplied. The AdSense default (English) will be used if the supplied locale is invalid or unsupported.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/alerts","request":null,"response":{"$ref":"Alerts"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"customchannels":{"methods":{"get":{"description":"Get the specified custom channel from the specified ad client for the specified account.","etagRequired":null,"httpMethod":"GET","id":"adsense.accounts.customchannels.get","mediaUpload":null,"parameterOrder":["accountId","adClientId","customChannelId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account to which the ad client belongs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client which contains the custom channel.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"customChannelId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Custom channel to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/adclients/{adClientId}/customchannels/{customChannelId}","request":null,"response":{"$ref":"CustomChannel"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List all custom channels in the specified ad client for the specified account.","etagRequired":null,"httpMethod":"GET","id":"adsense.accounts.customchannels.list","mediaUpload":null,"parameterOrder":["accountId","adClientId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account to which the ad client belongs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client for which to list custom channels.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of custom channels to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"10000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/adclients/{adClientId}/customchannels","request":null,"response":{"$ref":"CustomChannels"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"adunits":{"methods":{"list":{"description":"List all ad units in the specified custom channel.","etagRequired":null,"httpMethod":"GET","id":"adsense.accounts.customchannels.adunits.list","mediaUpload":null,"parameterOrder":["accountId","adClientId","customChannelId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account to which the ad client belongs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client which contains the custom channel.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"customChannelId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Custom channel for which to list ad units.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"includeInactive":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to include inactive ad units. Default: true.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of ad units to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"10000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/adclients/{adClientId}/customchannels/{customChannelId}/adunits","request":null,"response":{"$ref":"AdUnits"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"payments":{"methods":{"list":{"description":"List the payments for the specified AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsense.accounts.payments.list","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account for which to retrieve the payments.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/payments","request":null,"response":{"$ref":"Payments"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"reports":{"methods":{"generate":{"description":"Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify \"alt=csv\" as a query parameter.","etagRequired":null,"httpMethod":"GET","id":"adsense.accounts.reports.generate","mediaUpload":null,"parameterOrder":["accountId","startDate","endDate"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account upon which to report.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"currency":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional currency to use when reporting on monetary metrics. Defaults to the account's currency if not set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-zA-Z]+","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"dimension":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Dimensions to base the report on.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-zA-Z_]+","properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"endDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"End of the date range to report on in \"YYYY-MM-DD\" format, inclusive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"\\d{4}-\\d{2}-\\d{2}|(today|startOfMonth|startOfYear)(([\\-\\+]\\d+[dwmy]){0,3}?)|(latest-(\\d{2})-(\\d{2})(-\\d+y)?)|(latest-latest-(\\d{2})(-\\d+m)?)","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Filters to be run on the report.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-zA-Z_]+(==|=@).+","properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional locale to use for translating report output to a local language. Defaults to \"en_US\" if not specified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-zA-Z_]+","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of rows of report data to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"50000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"metric":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Numeric columns to include in the report.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-zA-Z_]+","properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"sort":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of a dimension or metric to sort the resulting report on, optionally prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"(\\+|-)?[a-zA-Z_]+","properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"startDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Start of the date range to report on in \"YYYY-MM-DD\" format, inclusive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"\\d{4}-\\d{2}-\\d{2}|(today|startOfMonth|startOfYear)(([\\-\\+]\\d+[dwmy]){0,3}?)|(latest-(\\d{2})-(\\d{2})(-\\d+y)?)|(latest-latest-(\\d{2})(-\\d+m)?)","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"startIndex":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Index of the first row of report data to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"5000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"useTimezoneReporting":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the report should be generated in the AdSense account's local timezone. If false default PST/PDT timezone will be used.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"accounts/{accountId}/reports","request":null,"response":{"$ref":"AdsenseReportsGenerateResponse"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":true,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"saved":{"methods":{"generate":{"description":"Generate an AdSense report based on the saved report ID sent in the query parameters.","etagRequired":null,"httpMethod":"GET","id":"adsense.accounts.reports.saved.generate","mediaUpload":null,"parameterOrder":["accountId","savedReportId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account to which the saved reports belong.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional locale to use for translating report output to a local language. Defaults to \"en_US\" if not specified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-zA-Z_]+","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of rows of report data to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"50000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"savedReportId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The saved report to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"startIndex":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Index of the first row of report data to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"5000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"accounts/{accountId}/reports/{savedReportId}","request":null,"response":{"$ref":"AdsenseReportsGenerateResponse"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List all saved reports in the specified AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsense.accounts.reports.saved.list","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account to which the saved reports belong.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of saved reports to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"100","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through saved reports. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/reports/saved","request":null,"response":{"$ref":"SavedReports"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"savedadstyles":{"methods":{"get":{"description":"List a specific saved ad style for the specified account.","etagRequired":null,"httpMethod":"GET","id":"adsense.accounts.savedadstyles.get","mediaUpload":null,"parameterOrder":["accountId","savedAdStyleId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account for which to get the saved ad style.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"savedAdStyleId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Saved ad style to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/savedadstyles/{savedAdStyleId}","request":null,"response":{"$ref":"SavedAdStyle"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List all saved ad styles in the specified account.","etagRequired":null,"httpMethod":"GET","id":"adsense.accounts.savedadstyles.list","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account for which to list saved ad styles.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of saved ad styles to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"10000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through saved ad styles. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/savedadstyles","request":null,"response":{"$ref":"SavedAdStyles"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"urlchannels":{"methods":{"list":{"description":"List all URL channels in the specified ad client for the specified account.","etagRequired":null,"httpMethod":"GET","id":"adsense.accounts.urlchannels.list","mediaUpload":null,"parameterOrder":["accountId","adClientId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account to which the ad client belongs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client for which to list URL channels.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of URL channels to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"10000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through URL channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/adclients/{adClientId}/urlchannels","request":null,"response":{"$ref":"UrlChannels"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"adclients":{"methods":{"list":{"description":"List all ad clients in this AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsense.adclients.list","mediaUpload":null,"parameterOrder":null,"parameters":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of ad clients to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"10000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"adclients","request":null,"response":{"$ref":"AdClients"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"adunits":{"methods":{"get":{"description":"Gets the specified ad unit in the specified ad client.","etagRequired":null,"httpMethod":"GET","id":"adsense.adunits.get","mediaUpload":null,"parameterOrder":["adClientId","adUnitId"],"parameters":{"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client for which to get the ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adUnitId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad unit to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"adclients/{adClientId}/adunits/{adUnitId}","request":null,"response":{"$ref":"AdUnit"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getAdCode":{"description":"Get ad code for the specified ad unit.","etagRequired":null,"httpMethod":"GET","id":"adsense.adunits.getAdCode","mediaUpload":null,"parameterOrder":["adClientId","adUnitId"],"parameters":{"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client with contains the ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adUnitId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad unit to get the code for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"adclients/{adClientId}/adunits/{adUnitId}/adcode","request":null,"response":{"$ref":"AdCode"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List all ad units in the specified ad client for this AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsense.adunits.list","mediaUpload":null,"parameterOrder":["adClientId"],"parameters":{"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client for which to list ad units.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"includeInactive":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to include inactive ad units. Default: true.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of ad units to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"10000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"adclients/{adClientId}/adunits","request":null,"response":{"$ref":"AdUnits"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"customchannels":{"methods":{"list":{"description":"List all custom channels which the specified ad unit belongs to.","etagRequired":null,"httpMethod":"GET","id":"adsense.adunits.customchannels.list","mediaUpload":null,"parameterOrder":["adClientId","adUnitId"],"parameters":{"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client which contains the ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adUnitId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad unit for which to list custom channels.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of custom channels to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"10000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"adclients/{adClientId}/adunits/{adUnitId}/customchannels","request":null,"response":{"$ref":"CustomChannels"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"alerts":{"methods":{"delete":{"description":"Dismiss (delete) the specified alert from the publisher's AdSense account.","etagRequired":null,"httpMethod":"DELETE","id":"adsense.alerts.delete","mediaUpload":null,"parameterOrder":["alertId"],"parameters":{"alertId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Alert to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"alerts/{alertId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/adsense"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List the alerts for this AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsense.alerts.list","mediaUpload":null,"parameterOrder":null,"parameters":{"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The locale to use for translating alert messages. The account locale will be used if this is not supplied. The AdSense default (English) will be used if the supplied locale is invalid or unsupported.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"alerts","request":null,"response":{"$ref":"Alerts"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"customchannels":{"methods":{"get":{"description":"Get the specified custom channel from the specified ad client.","etagRequired":null,"httpMethod":"GET","id":"adsense.customchannels.get","mediaUpload":null,"parameterOrder":["adClientId","customChannelId"],"parameters":{"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client which contains the custom channel.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"customChannelId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Custom channel to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"adclients/{adClientId}/customchannels/{customChannelId}","request":null,"response":{"$ref":"CustomChannel"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List all custom channels in the specified ad client for this AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsense.customchannels.list","mediaUpload":null,"parameterOrder":["adClientId"],"parameters":{"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client for which to list custom channels.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of custom channels to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"10000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"adclients/{adClientId}/customchannels","request":null,"response":{"$ref":"CustomChannels"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"adunits":{"methods":{"list":{"description":"List all ad units in the specified custom channel.","etagRequired":null,"httpMethod":"GET","id":"adsense.customchannels.adunits.list","mediaUpload":null,"parameterOrder":["adClientId","customChannelId"],"parameters":{"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client which contains the custom channel.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"customChannelId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Custom channel for which to list ad units.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"includeInactive":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to include inactive ad units. Default: true.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of ad units to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"10000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"adclients/{adClientId}/customchannels/{customChannelId}/adunits","request":null,"response":{"$ref":"AdUnits"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"metadata":{"methods":null,"resources":{"dimensions":{"methods":{"list":{"description":"List the metadata for the dimensions available to this AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsense.metadata.dimensions.list","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"metadata/dimensions","request":null,"response":{"$ref":"Metadata"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"metrics":{"methods":{"list":{"description":"List the metadata for the metrics available to this AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsense.metadata.metrics.list","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"metadata/metrics","request":null,"response":{"$ref":"Metadata"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"payments":{"methods":{"list":{"description":"List the payments for this AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsense.payments.list","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"payments","request":null,"response":{"$ref":"Payments"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"reports":{"methods":{"generate":{"description":"Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify \"alt=csv\" as a query parameter.","etagRequired":null,"httpMethod":"GET","id":"adsense.reports.generate","mediaUpload":null,"parameterOrder":["startDate","endDate"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Accounts upon which to report.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"currency":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional currency to use when reporting on monetary metrics. Defaults to the account's currency if not set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-zA-Z]+","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"dimension":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Dimensions to base the report on.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-zA-Z_]+","properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"endDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"End of the date range to report on in \"YYYY-MM-DD\" format, inclusive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"\\d{4}-\\d{2}-\\d{2}|(today|startOfMonth|startOfYear)(([\\-\\+]\\d+[dwmy]){0,3}?)|(latest-(\\d{2})-(\\d{2})(-\\d+y)?)|(latest-latest-(\\d{2})(-\\d+m)?)","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Filters to be run on the report.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-zA-Z_]+(==|=@).+","properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional locale to use for translating report output to a local language. Defaults to \"en_US\" if not specified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-zA-Z_]+","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of rows of report data to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"50000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"metric":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Numeric columns to include in the report.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-zA-Z_]+","properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"sort":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of a dimension or metric to sort the resulting report on, optionally prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"(\\+|-)?[a-zA-Z_]+","properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"startDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Start of the date range to report on in \"YYYY-MM-DD\" format, inclusive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"\\d{4}-\\d{2}-\\d{2}|(today|startOfMonth|startOfYear)(([\\-\\+]\\d+[dwmy]){0,3}?)|(latest-(\\d{2})-(\\d{2})(-\\d+y)?)|(latest-latest-(\\d{2})(-\\d+m)?)","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"startIndex":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Index of the first row of report data to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"5000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"useTimezoneReporting":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the report should be generated in the AdSense account's local timezone. If false default PST/PDT timezone will be used.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"reports","request":null,"response":{"$ref":"AdsenseReportsGenerateResponse"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":true,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"saved":{"methods":{"generate":{"description":"Generate an AdSense report based on the saved report ID sent in the query parameters.","etagRequired":null,"httpMethod":"GET","id":"adsense.reports.saved.generate","mediaUpload":null,"parameterOrder":["savedReportId"],"parameters":{"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional locale to use for translating report output to a local language. Defaults to \"en_US\" if not specified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-zA-Z_]+","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of rows of report data to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"50000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"savedReportId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The saved report to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"startIndex":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Index of the first row of report data to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"5000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"reports/{savedReportId}","request":null,"response":{"$ref":"AdsenseReportsGenerateResponse"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List all saved reports in this AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsense.reports.saved.list","mediaUpload":null,"parameterOrder":null,"parameters":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of saved reports to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"100","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through saved reports. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"reports/saved","request":null,"response":{"$ref":"SavedReports"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"savedadstyles":{"methods":{"get":{"description":"Get a specific saved ad style from the user's account.","etagRequired":null,"httpMethod":"GET","id":"adsense.savedadstyles.get","mediaUpload":null,"parameterOrder":["savedAdStyleId"],"parameters":{"savedAdStyleId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Saved ad style to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"savedadstyles/{savedAdStyleId}","request":null,"response":{"$ref":"SavedAdStyle"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List all saved ad styles in the user's account.","etagRequired":null,"httpMethod":"GET","id":"adsense.savedadstyles.list","mediaUpload":null,"parameterOrder":null,"parameters":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of saved ad styles to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"10000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through saved ad styles. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"savedadstyles","request":null,"response":{"$ref":"SavedAdStyles"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"urlchannels":{"methods":{"list":{"description":"List all URL channels in the specified ad client for this AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsense.urlchannels.list","mediaUpload":null,"parameterOrder":["adClientId"],"parameters":{"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client for which to list URL channels.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of URL channels to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"10000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through URL channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"adclients/{adClientId}/urlchannels","request":null,"response":{"$ref":"UrlChannels"},"scopes":["https://www.googleapis.com/auth/adsense","https://www.googleapis.com/auth/adsense.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20171004","rootUrl":"https://www.googleapis.com/","schemas":{"Account":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"Account","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"creation_time":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier of this account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adsense#account","description":"Kind of resource this is, in this case adsense#account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of this account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"premium":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether this account is premium.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"subAccounts":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Sub accounts of the this account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Account","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"timezone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"AdSense timezone of this account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Accounts":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"Accounts","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"etag":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ETag of this response for caching purposes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The accounts returned in this list response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Account","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adsense#accounts","description":"Kind of list this is, in this case adsense#accounts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token used to page through accounts. To retrieve the next page of results, set the next request's \"pageToken\" value to this.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AdClient":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AdClient","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"arcOptIn":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether this ad client is opted in to ARC.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier of this ad client.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adsense#adClient","description":"Kind of resource this is, in this case adsense#adClient.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"productCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This ad client's product code, which corresponds to the PRODUCT_CODE report dimension.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"supportsReporting":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether this ad client supports being reported on.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AdClients":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AdClients","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"etag":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ETag of this response for caching purposes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ad clients returned in this list response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"AdClient","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adsense#adClients","description":"Kind of list this is, in this case adsense#adClients.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token used to page through ad clients. To retrieve the next page of results, set the next request's \"pageToken\" value to this.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AdCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AdCode","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"adCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ad code snippet.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adsense#adCode","description":"Kind this is, in this case adsense#adCode.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AdStyle":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AdStyle","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"colors":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The colors which are included in the style. These are represented as six hexadecimal characters, similar to HTML color codes, but without the leading hash.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"background":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The color of the ad background.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"border":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The color of the ad border.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"text":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The color of the ad text.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"title":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The color of the ad title.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The color of the ad url.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"corners":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The style of the corners in the ad (deprecated: never populated, ignored).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"font":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The font which is included in the style.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"family":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The family of the font.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"size":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The size of the font.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adsense#adStyle","description":"Kind this is, in this case adsense#adStyle.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AdUnit":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AdUnit","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"code":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identity code of this ad unit, not necessarily unique across ad clients.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"contentAdsSettings":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Settings specific to content ads (AFC) and highend mobile content ads (AFMC - deprecated).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"backupOption":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The backup option to be used in instances where no ad is available.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"color":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Color to use when type is set to COLOR.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Type of the backup option. Possible values are BLANK, COLOR and URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"URL to use when type is set to URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"size":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Size of this ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Type of this ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"customStyle":{"$ref":"AdStyle","additionalProperties":null,"annotations":null,"default":null,"description":"Custom style information specific to this ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"feedAdsSettings":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Settings specific to feed ads (AFF) - deprecated.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"adPosition":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The position of the ads relative to the feed entries.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"frequency":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The frequency at which ads should appear in the feed (i.e. every N entries).","enum":null,"enumDescriptions":null,"format":"
[...]
