{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/adsensehost":{"description":"View and manage your AdSense host data and associated accounts"}}}},"basePath":"/adsensehost/v4.1/","baseUrl":"https://www.googleapis.com/adsensehost/v4.1/","batchPath":"batch/adsensehost/v4.1","canonicalName":"AdSense Host","description":"Generates performance reports, generates ad codes, and provides publisher management capabilities for AdSense Hosts.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/adsense/host/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/e5NzluaMsg6b19MiQtgeUxDyEDs\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.google.com/images/icons/product/adsense-16.png","x32":"https://www.google.com/images/icons/product/adsense-32.png"},"id":"adsensehost:v4.1","kind":"discovery#restDescription","labels":["limited_availability"],"methods":null,"name":"adsensehost","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["csv","json"],"enumDescriptions":["Responses with Content-Type of text/csv","Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"accounts":{"methods":{"get":{"description":"Get information about the selected associated AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsensehost.accounts.get","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account to get information about.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}","request":null,"response":{"$ref":"Account"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List hosted accounts associated with this AdSense account by ad client id.","etagRequired":null,"httpMethod":"GET","id":"adsensehost.accounts.list","mediaUpload":null,"parameterOrder":["filterAdClientId"],"parameters":{"filterAdClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad clients to list accounts for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts","request":null,"response":{"$ref":"Accounts"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"adclients":{"methods":{"get":{"description":"Get information about one of the ad clients in the specified publisher's AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsensehost.accounts.adclients.get","mediaUpload":null,"parameterOrder":["accountId","adClientId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account which contains the ad client.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client to get.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/adclients/{adClientId}","request":null,"response":{"$ref":"AdClient"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List all hosted ad clients in the specified hosted account.","etagRequired":null,"httpMethod":"GET","id":"adsensehost.accounts.adclients.list","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account for which to list ad clients.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of ad clients to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"10000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/adclients","request":null,"response":{"$ref":"AdClients"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"adunits":{"methods":{"delete":{"description":"Delete the specified ad unit from the specified publisher AdSense account.","etagRequired":null,"httpMethod":"DELETE","id":"adsensehost.accounts.adunits.delete","mediaUpload":null,"parameterOrder":["accountId","adClientId","adUnitId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account which contains the ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client for which to get ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adUnitId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad unit to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}","request":null,"response":{"$ref":"AdUnit"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Get the specified host ad unit in this AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsensehost.accounts.adunits.get","mediaUpload":null,"parameterOrder":["accountId","adClientId","adUnitId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account which contains the ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client for which to get ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adUnitId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad unit to get.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}","request":null,"response":{"$ref":"AdUnit"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getAdCode":{"description":"Get ad code for the specified ad unit, attaching the specified host custom channels.","etagRequired":null,"httpMethod":"GET","id":"adsensehost.accounts.adunits.getAdCode","mediaUpload":null,"parameterOrder":["accountId","adClientId","adUnitId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account which contains the ad client.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client with contains the ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adUnitId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad unit to get the code for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"hostCustomChannelId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Host custom channel to attach to the ad code.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/adclients/{adClientId}/adunits/{adUnitId}/adcode","request":null,"response":{"$ref":"AdCode"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Insert the supplied ad unit into the specified publisher AdSense account.","etagRequired":null,"httpMethod":"POST","id":"adsensehost.accounts.adunits.insert","mediaUpload":null,"parameterOrder":["accountId","adClientId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account which will contain the ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client into which to insert the ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/adclients/{adClientId}/adunits","request":{"$ref":"AdUnit","parameterName":null},"response":{"$ref":"AdUnit"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List all ad units in the specified publisher's AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsensehost.accounts.adunits.list","mediaUpload":null,"parameterOrder":["accountId","adClientId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account which contains the ad client.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client for which to list ad units.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"includeInactive":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to include inactive ad units. Default: true.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of ad units to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"10000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through ad units. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/adclients/{adClientId}/adunits","request":null,"response":{"$ref":"AdUnits"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Update the supplied ad unit in the specified publisher AdSense account. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"adsensehost.accounts.adunits.patch","mediaUpload":null,"parameterOrder":["accountId","adClientId","adUnitId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account which contains the ad client.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client which contains the ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adUnitId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad unit to get.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/adclients/{adClientId}/adunits","request":{"$ref":"AdUnit","parameterName":null},"response":{"$ref":"AdUnit"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Update the supplied ad unit in the specified publisher AdSense account.","etagRequired":null,"httpMethod":"PUT","id":"adsensehost.accounts.adunits.update","mediaUpload":null,"parameterOrder":["accountId","adClientId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account which contains the ad client.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client which contains the ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/adclients/{adClientId}/adunits","request":{"$ref":"AdUnit","parameterName":null},"response":{"$ref":"AdUnit"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"reports":{"methods":{"generate":{"description":"Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify \"alt=csv\" as a query parameter.","etagRequired":null,"httpMethod":"GET","id":"adsensehost.accounts.reports.generate","mediaUpload":null,"parameterOrder":["accountId","startDate","endDate"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Hosted account upon which to report.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"dimension":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Dimensions to base the report on.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-zA-Z_]+","properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"endDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"End of the date range to report on in \"YYYY-MM-DD\" format, inclusive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"\\d{4}-\\d{2}-\\d{2}|(today|startOfMonth|startOfYear)(([\\-\\+]\\d+[dwmy]){0,3}?)","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Filters to be run on the report.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-zA-Z_]+(==|=@).+","properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional locale to use for translating report output to a local language. Defaults to \"en_US\" if not specified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-zA-Z_]+","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of rows of report data to return.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"50000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"metric":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Numeric columns to include in the report.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-zA-Z_]+","properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"sort":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of a dimension or metric to sort the resulting report on, optionally prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"(\\+|-)?[a-zA-Z_]+","properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"startDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Start of the date range to report on in \"YYYY-MM-DD\" format, inclusive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"\\d{4}-\\d{2}-\\d{2}|(today|startOfMonth|startOfYear)(([\\-\\+]\\d+[dwmy]){0,3}?)","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"startIndex":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Index of the first row of report data to return.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"5000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"accounts/{accountId}/reports","request":null,"response":{"$ref":"Report"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"adclients":{"methods":{"get":{"description":"Get information about one of the ad clients in the Host AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsensehost.adclients.get","mediaUpload":null,"parameterOrder":["adClientId"],"parameters":{"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client to get.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"adclients/{adClientId}","request":null,"response":{"$ref":"AdClient"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List all host ad clients in this AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsensehost.adclients.list","mediaUpload":null,"parameterOrder":null,"parameters":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of ad clients to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"10000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through ad clients. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"adclients","request":null,"response":{"$ref":"AdClients"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"associationsessions":{"methods":{"start":{"description":"Create an association session for initiating an association with an AdSense user.","etagRequired":null,"httpMethod":"GET","id":"adsensehost.associationsessions.start","mediaUpload":null,"parameterOrder":["productCode","websiteUrl"],"parameters":{"productCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Products to associate with the user.","enum":["AFC","AFG","AFMC","AFS","AFV"],"enumDescriptions":["AdSense For Content","AdSense For Games","AdSense For Mobile Content - deprecated","AdSense For Search - deprecated","AdSense For Video"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":true,"type":"string","variant":null,"ETag":null},"userLocale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred locale of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"websiteLocale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The locale of the user's hosted website.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"websiteUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL of the user's hosted website.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"associationsessions/start","request":null,"response":{"$ref":"AssociationSession"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"verify":{"description":"Verify an association session after the association callback returns from AdSense signup.","etagRequired":null,"httpMethod":"GET","id":"adsensehost.associationsessions.verify","mediaUpload":null,"parameterOrder":["token"],"parameters":{"token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token returned to the association callback URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"associationsessions/verify","request":null,"response":{"$ref":"AssociationSession"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"customchannels":{"methods":{"delete":{"description":"Delete a specific custom channel from the host AdSense account.","etagRequired":null,"httpMethod":"DELETE","id":"adsensehost.customchannels.delete","mediaUpload":null,"parameterOrder":["adClientId","customChannelId"],"parameters":{"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client from which to delete the custom channel.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"customChannelId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Custom channel to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"adclients/{adClientId}/customchannels/{customChannelId}","request":null,"response":{"$ref":"CustomChannel"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Get a specific custom channel from the host AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsensehost.customchannels.get","mediaUpload":null,"parameterOrder":["adClientId","customChannelId"],"parameters":{"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client from which to get the custom channel.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"customChannelId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Custom channel to get.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"adclients/{adClientId}/customchannels/{customChannelId}","request":null,"response":{"$ref":"CustomChannel"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Add a new custom channel to the host AdSense account.","etagRequired":null,"httpMethod":"POST","id":"adsensehost.customchannels.insert","mediaUpload":null,"parameterOrder":["adClientId"],"parameters":{"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client to which the new custom channel will be added.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"adclients/{adClientId}/customchannels","request":{"$ref":"CustomChannel","parameterName":null},"response":{"$ref":"CustomChannel"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List all host custom channels in this AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsensehost.customchannels.list","mediaUpload":null,"parameterOrder":["adClientId"],"parameters":{"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client for which to list custom channels.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of custom channels to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"10000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through custom channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"adclients/{adClientId}/customchannels","request":null,"response":{"$ref":"CustomChannels"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Update a custom channel in the host AdSense account. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"adsensehost.customchannels.patch","mediaUpload":null,"parameterOrder":["adClientId","customChannelId"],"parameters":{"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client in which the custom channel will be updated.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"customChannelId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Custom channel to get.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"adclients/{adClientId}/customchannels","request":{"$ref":"CustomChannel","parameterName":null},"response":{"$ref":"CustomChannel"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Update a custom channel in the host AdSense account.","etagRequired":null,"httpMethod":"PUT","id":"adsensehost.customchannels.update","mediaUpload":null,"parameterOrder":["adClientId"],"parameters":{"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client in which the custom channel will be updated.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"adclients/{adClientId}/customchannels","request":{"$ref":"CustomChannel","parameterName":null},"response":{"$ref":"CustomChannel"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"reports":{"methods":{"generate":{"description":"Generate an AdSense report based on the report request sent in the query parameters. Returns the result as JSON; to retrieve output in CSV format specify \"alt=csv\" as a query parameter.","etagRequired":null,"httpMethod":"GET","id":"adsensehost.reports.generate","mediaUpload":null,"parameterOrder":["startDate","endDate"],"parameters":{"dimension":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Dimensions to base the report on.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-zA-Z_]+","properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"endDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"End of the date range to report on in \"YYYY-MM-DD\" format, inclusive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"\\d{4}-\\d{2}-\\d{2}|(today|startOfMonth|startOfYear)(([\\-\\+]\\d+[dwmy]){0,3}?)","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Filters to be run on the report.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-zA-Z_]+(==|=@).+","properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional locale to use for translating report output to a local language. Defaults to \"en_US\" if not specified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-zA-Z_]+","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of rows of report data to return.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"50000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"metric":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Numeric columns to include in the report.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-zA-Z_]+","properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"sort":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of a dimension or metric to sort the resulting report on, optionally prefixed with \"+\" to sort ascending or \"-\" to sort descending. If no prefix is specified, the column is sorted ascending.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"(\\+|-)?[a-zA-Z_]+","properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"startDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Start of the date range to report on in \"YYYY-MM-DD\" format, inclusive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"\\d{4}-\\d{2}-\\d{2}|(today|startOfMonth|startOfYear)(([\\-\\+]\\d+[dwmy]){0,3}?)","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"startIndex":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Index of the first row of report data to return.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"5000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"reports","request":null,"response":{"$ref":"Report"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"urlchannels":{"methods":{"delete":{"description":"Delete a URL channel from the host AdSense account.","etagRequired":null,"httpMethod":"DELETE","id":"adsensehost.urlchannels.delete","mediaUpload":null,"parameterOrder":["adClientId","urlChannelId"],"parameters":{"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client from which to delete the URL channel.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"urlChannelId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"URL channel to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"adclients/{adClientId}/urlchannels/{urlChannelId}","request":null,"response":{"$ref":"UrlChannel"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Add a new URL channel to the host AdSense account.","etagRequired":null,"httpMethod":"POST","id":"adsensehost.urlchannels.insert","mediaUpload":null,"parameterOrder":["adClientId"],"parameters":{"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client to which the new URL channel will be added.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"adclients/{adClientId}/urlchannels","request":{"$ref":"UrlChannel","parameterName":null},"response":{"$ref":"UrlChannel"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List all host URL channels in the host AdSense account.","etagRequired":null,"httpMethod":"GET","id":"adsensehost.urlchannels.list","mediaUpload":null,"parameterOrder":["adClientId"],"parameters":{"adClientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad client for which to list URL channels.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of URL channels to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"10000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token, used to page through URL channels. To retrieve the next page, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"adclients/{adClientId}/urlchannels","request":null,"response":{"$ref":"UrlChannels"},"scopes":["https://www.googleapis.com/auth/adsensehost"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20171004","rootUrl":"https://www.googleapis.com/","schemas":{"Account":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"Account","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier of this account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adsensehost#account","description":"Kind of resource this is, in this case adsensehost#account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of this account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Approval status of this account. One of: PENDING, APPROVED, DISABLED.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Accounts":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"Accounts","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"etag":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ETag of this response for caching purposes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The accounts returned in this list response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Account","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adsensehost#accounts","description":"Kind of list this is, in this case adsensehost#accounts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AdClient":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AdClient","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"arcOptIn":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether this ad client is opted in to ARC.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier of this ad client.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adsensehost#adClient","description":"Kind of resource this is, in this case adsensehost#adClient.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"productCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This ad client's product code, which corresponds to the PRODUCT_CODE report dimension.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"supportsReporting":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether this ad client supports being reported on.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AdClients":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AdClients","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"etag":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ETag of this response for caching purposes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ad clients returned in this list response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"AdClient","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adsensehost#adClients","description":"Kind of list this is, in this case adsensehost#adClients.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token used to page through ad clients. To retrieve the next page of results, set the next request's \"pageToken\" value to this.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AdCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AdCode","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"adCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ad code snippet.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adsensehost#adCode","description":"Kind this is, in this case adsensehost#adCode.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AdStyle":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AdStyle","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"colors":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The colors included in the style. These are represented as six hexadecimal characters, similar to HTML color codes, but without the leading hash.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"background":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The color of the ad background.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"border":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The color of the ad border.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"text":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The color of the ad text.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"title":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The color of the ad title.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The color of the ad url.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"corners":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The style of the corners in the ad (deprecated: never populated, ignored).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"font":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The font which is included in the style.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"family":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The family of the font. Possible values are: ACCOUNT_DEFAULT_FAMILY, ADSENSE_DEFAULT_FAMILY, ARIAL, TIMES and VERDANA.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"size":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The size of the font. Possible values are: ACCOUNT_DEFAULT_SIZE, ADSENSE_DEFAULT_SIZE, SMALL, MEDIUM and LARGE.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adsensehost#adStyle","description":"Kind this is, in this case adsensehost#adStyle.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AdUnit":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AdUnit","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"code":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identity code of this ad unit, not necessarily unique across ad clients.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"contentAdsSettings":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Settings specific to content ads (AFC) and highend mobile content ads (AFMC - deprecated).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"backupOption":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The backup option to be used in instances where no ad is available.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"color":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Color to use when type is set to COLOR. These are represented as six hexadecimal characters, similar to HTML color codes, but without the leading hash.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Type of the backup option. Possible values are BLANK, COLOR and URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"URL to use when type is set to URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"size":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Size of this ad unit. Size values are in the form SIZE_{width}_{height}.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Type of this ad unit. Possible values are TEXT, TEXT_IMAGE, IMAGE and LINK.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"customStyle":{"$ref":"AdStyle","additionalProperties":null,"annotations":null,"default":null,"description":"Custom style information specific to this ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier of this ad unit. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adsensehost#adUnit","description":"Kind of resource this is, in this case adsensehost#adUnit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"mobileContentAdsSettings":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Settings specific to WAP mobile content ads (AFMC - deprecated).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"markupLanguage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The markup language to use for this ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"scriptingLanguage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The scripting language to use for this ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"size":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Size of this ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Type of this ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of this ad unit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Status of this ad unit. Possible values are:\nNEW: Indicates that the ad unit was created within the last seven days and does not yet have any activity associated with it.\n\nACTIVE: Indicates that there has been activity on this ad unit in the last seven days.\n\nINACTIVE: Indicates that there has been no activity on this ad unit in the last seven days.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AdUnits":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AdUnits","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"etag":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ETag of this response for caching purposes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ad units returned in this list response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"AdUnit","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adsensehost#adUnits","description":"Kind of list this is, in this case adsensehost#adUnits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token used to page through ad units. To retrieve the next page of results, set the next request's \"pageToken\" value to this.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AssociationSession":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AssociationSession","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Hosted account id of the associated publisher after association. Present if status is ACCEPTED.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier of this association session.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adsensehost#associationSession","description":"Kind of resource this is, in this case adsensehost#associationSession.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"productCodes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The products to associate with the user. Options: AFC, AFG, AFV, AFS (deprecated), AFMC (deprecated)","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"redirectUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Redirect URL of this association session. Used to redirect users into the AdSense association flow.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Status of the completed association, available once the association callback token has been verified. One of ACCEPTED, REJECTED, or ERROR.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userLocale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred locale of the user themselves when going through the AdSense association flow.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"websiteLocale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The locale of the user's hosted website.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"websiteUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL of the user's hosted website.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CustomChannel":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"CustomChannel","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"code":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Code of this custom channel, not necessarily unique across ad clients.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier of this custom channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adsensehost#customChannel","description":"Kind of resource this is, in this case adsensehost#customChannel.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of this custom channel.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CustomChannels":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"CustomChannels","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"etag":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ETag of this response for caching purposes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The custom channels returned in this list response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"CustomChannel","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adsensehost#customChannels","description":"Kind of list this is, in this case adsensehost#customChannels.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token used to page through custom channels. To retrieve the next page of results, set the next request's \"pageToken\" value to this.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Report":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"Report","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"averages":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The averages of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"headers":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The header information of the columns requested in the report. This is a list of headers; one for each dimension in the request, followed by one for each metric in the request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"currency":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The currency of this column. Only present if the header type is METRIC_CURRENCY.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the header.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of the header; one of DIMENSION, METRIC_TALLY, METRIC_RATIO, or METRIC_CURRENCY.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adsensehost#report","description":"Kind this is, in this case adsensehost#report.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"rows":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The output rows of the report. Each row is a list of cells; one for each dimension in the request, followed by one for each metric in the request. The dimension cells contain strings, and the metric cells contain numbers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"totalMatchedRows":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The total number of rows matched by the report request. Fewer rows may be returned in the response due to being limited by the row count requested or the report row limit.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"totals":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The totals of the report. This is the same length as any other row in the report; cells corresponding to dimension columns are empty.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"warnings":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Any warnings associated with generation of the report.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UrlChannel":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"UrlChannel","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier of this URL channel. This should be considered an opaque identifier; it is not safe to rely on it being in any particular format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adsensehost#urlChannel","description":"Kind of resource this is, in this case adsensehost#urlChannel.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"urlPattern":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"URL Pattern of this URL channel. Does not include \"http://\" or \"https://\". Example: www.example.com/home","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UrlChannels":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"UrlChannels","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"etag":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ETag of this response for caching purposes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL channels returned in this list response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"UrlChannel","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"adsensehost#urlChannels","description":"Kind of list this is, in this case adsensehost#urlChannels.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token used to page through URL channels. To retrieve the next page of results, set the next request's \"pageToken\" value to this.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"adsensehost/v4.1/","title":"AdSense Host API","version":"v4.1","version_module":null}