{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/analytics":{"description":"View and manage your Google Analytics data"},"https://www.googleapis.com/auth/analytics.edit":{"description":"Edit Google Analytics management entities"},"https://www.googleapis.com/auth/analytics.manage.users":{"description":"Manage Google Analytics Account users by email address"},"https://www.googleapis.com/auth/analytics.manage.users.readonly":{"description":"View Google Analytics user permissions"},"https://www.googleapis.com/auth/analytics.provision":{"description":"Create a new Google Analytics account along with its default property and view"},"https://www.googleapis.com/auth/analytics.readonly":{"description":"View your Google Analytics data"}}}},"basePath":"/analytics/v3/","baseUrl":"https://www.googleapis.com/analytics/v3/","batchPath":"batch/analytics/v3","canonicalName":null,"description":"Views and manages your Google Analytics data.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/analytics/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/DSG2TEF18bxTdYooKf_C2-FmmME\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.google.com/images/icons/product/analytics-16.png","x32":"https://www.google.com/images/icons/product/analytics-32.png"},"id":"analytics:v3","kind":"discovery#restDescription","labels":null,"methods":null,"name":"analytics","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"data":{"methods":null,"resources":{"ga":{"methods":{"get":{"description":"Returns Analytics data for a view (profile).","etagRequired":null,"httpMethod":"GET","id":"analytics.data.ga.get","mediaUpload":null,"parameterOrder":["ids","start-date","end-date","metrics"],"parameters":{"dimensions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of Analytics dimensions. E.g., 'ga:browser,ga:city'.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"(ga:.+)?","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"end-date":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"End date for fetching Analytics data. Request can should specify an end date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is yesterday.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filters":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of dimension or metric filters to be applied to Analytics data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"ga:.+","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ids":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"ga:[0-9]+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"include-empty-rows":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response will include empty rows if this parameter is set to true, the default is true","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"max-results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of entries to include in this feed.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"metrics":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of Analytics metrics. E.g., 'ga:sessions,ga:pageviews'. At least one metric must be specified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"ga:.+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"output":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The selected format for the response. Default format is JSON.","enum":["dataTable","json"],"enumDescriptions":["Returns the response in Google Charts Data Table format. This is useful in creating visualization using Google Charts.","Returns the response in standard JSON format."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"samplingLevel":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The desired sampling level.","enum":["DEFAULT","FASTER","HIGHER_PRECISION"],"enumDescriptions":["Returns response with a sample size that balances speed and accuracy.","Returns a fast response with a smaller sample size.","Returns a more accurate response using a large sample size, but this may result in the response being slower."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"segment":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An Analytics segment to be applied to data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sort":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of dimensions or metrics that determine the sort order for Analytics data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"(-)?ga:.+","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"start-date":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"start-index":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"data/ga","request":null,"response":{"$ref":"GaData"},"scopes":["https://www.googleapis.com/auth/analytics","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"mcf":{"methods":{"get":{"description":"Returns Analytics Multi-Channel Funnels data for a view (profile).","etagRequired":null,"httpMethod":"GET","id":"analytics.data.mcf.get","mediaUpload":null,"parameterOrder":["ids","start-date","end-date","metrics"],"parameters":{"dimensions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of Multi-Channel Funnels dimensions. E.g., 'mcf:source,mcf:medium'.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"(mcf:.+)?","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"end-date":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"End date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filters":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of dimension or metric filters to be applied to the Analytics data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"mcf:.+","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ids":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique table ID for retrieving Analytics data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"ga:[0-9]+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"max-results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of entries to include in this feed.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"metrics":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of Multi-Channel Funnels metrics. E.g., 'mcf:totalConversions,mcf:totalConversionValue'. At least one metric must be specified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"mcf:.+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"samplingLevel":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The desired sampling level.","enum":["DEFAULT","FASTER","HIGHER_PRECISION"],"enumDescriptions":["Returns response with a sample size that balances speed and accuracy.","Returns a fast response with a smaller sample size.","Returns a more accurate response using a large sample size, but this may result in the response being slower."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sort":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of dimensions or metrics that determine the sort order for the Analytics data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"(-)?mcf:.+","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"start-date":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Start date for fetching Analytics data. Requests can specify a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today, yesterday, or 7daysAgo). The default value is 7daysAgo.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[0-9]{4}-[0-9]{2}-[0-9]{2}|today|yesterday|[0-9]+(daysAgo)","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"start-index":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"data/mcf","request":null,"response":{"$ref":"McfData"},"scopes":["https://www.googleapis.com/auth/analytics","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"realtime":{"methods":{"get":{"description":"Returns real time data for a view (profile).","etagRequired":null,"httpMethod":"GET","id":"analytics.data.realtime.get","mediaUpload":null,"parameterOrder":["ids","metrics"],"parameters":{"dimensions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of real time dimensions. E.g., 'rt:medium,rt:city'.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"(ga:.+)|(rt:.+)","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"filters":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of dimension or metric filters to be applied to real time data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"(ga:.+)|(rt:.+)","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ids":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique table ID for retrieving real time data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"ga:[0-9]+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"max-results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of entries to include in this feed.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"metrics":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of real time metrics. E.g., 'rt:activeUsers'. At least one metric must be specified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"(ga:.+)|(rt:.+)","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sort":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of dimensions or metrics that determine the sort order for real time data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"(-)?((ga:.+)|(rt:.+))","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"data/realtime","request":null,"response":{"$ref":"RealtimeData"},"scopes":["https://www.googleapis.com/auth/analytics","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"management":{"methods":null,"resources":{"accountSummaries":{"methods":{"list":{"description":"Lists account summaries (lightweight tree comprised of accounts/properties/profiles) to which the user has access.","etagRequired":null,"httpMethod":"GET","id":"analytics.management.accountSummaries.list","mediaUpload":null,"parameterOrder":null,"parameters":{"max-results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of account summaries to include in this response, where the largest acceptable value is 1000.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"start-index":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"management/accountSummaries","request":null,"response":{"$ref":"AccountSummaries"},"scopes":["https://www.googleapis.com/auth/analytics.edit","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"accountUserLinks":{"methods":{"delete":{"description":"Removes a user from the given account.","etagRequired":null,"httpMethod":"DELETE","id":"analytics.management.accountUserLinks.delete","mediaUpload":null,"parameterOrder":["accountId","linkId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to delete the user link for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"linkId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Link ID to delete the user link for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/entityUserLinks/{linkId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/analytics.manage.users"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Adds a new user to the given account.","etagRequired":null,"httpMethod":"POST","id":"analytics.management.accountUserLinks.insert","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to create the user link for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/entityUserLinks","request":{"$ref":"EntityUserLink","parameterName":null},"response":{"$ref":"EntityUserLink"},"scopes":["https://www.googleapis.com/auth/analytics.manage.users"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists account-user links for a given account.","etagRequired":null,"httpMethod":"GET","id":"analytics.management.accountUserLinks.list","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to retrieve the user links for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"max-results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of account-user links to include in this response.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"start-index":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An index of the first account-user link to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/entityUserLinks","request":null,"response":{"$ref":"EntityUserLinks"},"scopes":["https://www.googleapis.com/auth/analytics.manage.users","https://www.googleapis.com/auth/analytics.manage.users.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates permissions for an existing user on the given account.","etagRequired":null,"httpMethod":"PUT","id":"analytics.management.accountUserLinks.update","mediaUpload":null,"parameterOrder":["accountId","linkId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to update the account-user link for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"linkId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Link ID to update the account-user link for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/entityUserLinks/{linkId}","request":{"$ref":"EntityUserLink","parameterName":null},"response":{"$ref":"EntityUserLink"},"scopes":["https://www.googleapis.com/auth/analytics.manage.users"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"accounts":{"methods":{"list":{"description":"Lists all accounts to which the user has access.","etagRequired":null,"httpMethod":"GET","id":"analytics.management.accounts.list","mediaUpload":null,"parameterOrder":null,"parameters":{"max-results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of accounts to include in this response.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"start-index":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An index of the first account to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"management/accounts","request":null,"response":{"$ref":"Accounts"},"scopes":["https://www.googleapis.com/auth/analytics","https://www.googleapis.com/auth/analytics.edit","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"customDataSources":{"methods":{"list":{"description":"List custom data sources to which the user has access.","etagRequired":null,"httpMethod":"GET","id":"analytics.management.customDataSources.list","mediaUpload":null,"parameterOrder":["accountId","webPropertyId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account Id for the custom data sources to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"\\d+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"max-results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of custom data sources to include in this response.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"start-index":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A 1-based index of the first custom data source to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property Id for the custom data sources to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"UA-(\\d+)-(\\d+)","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources","request":null,"response":{"$ref":"CustomDataSources"},"scopes":["https://www.googleapis.com/auth/analytics","https://www.googleapis.com/auth/analytics.edit","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"customDimensions":{"methods":{"get":{"description":"Get a custom dimension to which the user has access.","etagRequired":null,"httpMethod":"GET","id":"analytics.management.customDimensions.get","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","customDimensionId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID for the custom dimension to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"customDimensionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the custom dimension to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID for the custom dimension to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}","request":null,"response":{"$ref":"CustomDimension"},"scopes":["https://www.googleapis.com/auth/analytics.edit","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Create a new custom dimension.","etagRequired":null,"httpMethod":"POST","id":"analytics.management.customDimensions.insert","mediaUpload":null,"parameterOrder":["accountId","webPropertyId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID for the custom dimension to create.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID for the custom dimension to create.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions","request":{"$ref":"CustomDimension","parameterName":null},"response":{"$ref":"CustomDimension"},"scopes":["https://www.googleapis.com/auth/analytics.edit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists custom dimensions to which the user has access.","etagRequired":null,"httpMethod":"GET","id":"analytics.management.customDimensions.list","mediaUpload":null,"parameterOrder":["accountId","webPropertyId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID for the custom dimensions to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"max-results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of custom dimensions to include in this response.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"start-index":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID for the custom dimensions to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions","request":null,"response":{"$ref":"CustomDimensions"},"scopes":["https://www.googleapis.com/auth/analytics","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an existing custom dimension. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"analytics.management.customDimensions.patch","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","customDimensionId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID for the custom dimension to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"customDimensionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Custom dimension ID for the custom dimension to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ignoreCustomDataSourceLinks":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID for the custom dimension to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}","request":{"$ref":"CustomDimension","parameterName":null},"response":{"$ref":"CustomDimension"},"scopes":["https://www.googleapis.com/auth/analytics.edit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an existing custom dimension.","etagRequired":null,"httpMethod":"PUT","id":"analytics.management.customDimensions.update","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","customDimensionId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID for the custom dimension to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"customDimensionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Custom dimension ID for the custom dimension to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ignoreCustomDataSourceLinks":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Force the update and ignore any warnings related to the custom dimension being linked to a custom data source / data set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID for the custom dimension to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}","request":{"$ref":"CustomDimension","parameterName":null},"response":{"$ref":"CustomDimension"},"scopes":["https://www.googleapis.com/auth/analytics.edit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"customMetrics":{"methods":{"get":{"description":"Get a custom metric to which the user has access.","etagRequired":null,"httpMethod":"GET","id":"analytics.management.customMetrics.get","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","customMetricId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID for the custom metric to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"customMetricId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the custom metric to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID for the custom metric to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}","request":null,"response":{"$ref":"CustomMetric"},"scopes":["https://www.googleapis.com/auth/analytics.edit","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Create a new custom metric.","etagRequired":null,"httpMethod":"POST","id":"analytics.management.customMetrics.insert","mediaUpload":null,"parameterOrder":["accountId","webPropertyId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID for the custom metric to create.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID for the custom dimension to create.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics","request":{"$ref":"CustomMetric","parameterName":null},"response":{"$ref":"CustomMetric"},"scopes":["https://www.googleapis.com/auth/analytics.edit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists custom metrics to which the user has access.","etagRequired":null,"httpMethod":"GET","id":"analytics.management.customMetrics.list","mediaUpload":null,"parameterOrder":["accountId","webPropertyId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID for the custom metrics to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"max-results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of custom metrics to include in this response.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"start-index":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID for the custom metrics to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics","request":null,"response":{"$ref":"CustomMetrics"},"scopes":["https://www.googleapis.com/auth/analytics","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an existing custom metric. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"analytics.management.customMetrics.patch","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","customMetricId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID for the custom metric to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"customMetricId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Custom metric ID for the custom metric to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ignoreCustomDataSourceLinks":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID for the custom metric to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}","request":{"$ref":"CustomMetric","parameterName":null},"response":{"$ref":"CustomMetric"},"scopes":["https://www.googleapis.com/auth/analytics.edit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an existing custom metric.","etagRequired":null,"httpMethod":"PUT","id":"analytics.management.customMetrics.update","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","customMetricId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID for the custom metric to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"customMetricId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Custom metric ID for the custom metric to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ignoreCustomDataSourceLinks":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Force the update and ignore any warnings related to the custom metric being linked to a custom data source / data set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID for the custom metric to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}","request":{"$ref":"CustomMetric","parameterName":null},"response":{"$ref":"CustomMetric"},"scopes":["https://www.googleapis.com/auth/analytics.edit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"experiments":{"methods":{"delete":{"description":"Delete an experiment.","etagRequired":null,"httpMethod":"DELETE","id":"analytics.management.experiments.delete","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","profileId","experimentId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to which the experiment belongs","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"experimentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the experiment to delete","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"View (Profile) ID to which the experiment belongs","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID to which the experiment belongs","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/analytics","https://www.googleapis.com/auth/analytics.edit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns an experiment to which the user has access.","etagRequired":null,"httpMethod":"GET","id":"analytics.management.experiments.get","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","profileId","experimentId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to retrieve the experiment for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"experimentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Experiment ID to retrieve the experiment for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"View (Profile) ID to retrieve the experiment for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID to retrieve the experiment for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}","request":null,"response":{"$ref":"Experiment"},"scopes":["https://www.googleapis.com/auth/analytics","https://www.googleapis.com/auth/analytics.edit","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Create a new experiment.","etagRequired":null,"httpMethod":"POST","id":"analytics.management.experiments.insert","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","profileId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to create the experiment for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"View (Profile) ID to create the experiment for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID to create the experiment for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments","request":{"$ref":"Experiment","parameterName":null},"response":{"$ref":"Experiment"},"scopes":["https://www.googleapis.com/auth/analytics","https://www.googleapis.com/auth/analytics.edit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists experiments to which the user has access.","etagRequired":null,"httpMethod":"GET","id":"analytics.management.experiments.list","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","profileId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to retrieve experiments for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"\\d+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"max-results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of experiments to include in this response.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"View (Profile) ID to retrieve experiments for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"\\d+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"start-index":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An index of the first experiment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID to retrieve experiments for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"UA-(\\d+)-(\\d+)","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments","request":null,"response":{"$ref":"Experiments"},"scopes":["https://www.googleapis.com/auth/analytics","https://www.googleapis.com/auth/analytics.edit","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Update an existing experiment. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"analytics.management.experiments.patch","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","profileId","experimentId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID of the experiment to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"experimentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Experiment ID of the experiment to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"View (Profile) ID of the experiment to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID of the experiment to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}","request":{"$ref":"Experiment","parameterName":null},"response":{"$ref":"Experiment"},"scopes":["https://www.googleapis.com/auth/analytics","https://www.googleapis.com/auth/analytics.edit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Update an existing experiment.","etagRequired":null,"httpMethod":"PUT","id":"analytics.management.experiments.update","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","profileId","experimentId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID of the experiment to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"experimentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Experiment ID of the experiment to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"View (Profile) ID of the experiment to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID of the experiment to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}","request":{"$ref":"Experiment","parameterName":null},"response":{"$ref":"Experiment"},"scopes":["https://www.googleapis.com/auth/analytics","https://www.googleapis.com/auth/analytics.edit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"filters":{"methods":{"delete":{"description":"Delete a filter.","etagRequired":null,"httpMethod":"DELETE","id":"analytics.management.filters.delete","mediaUpload":null,"parameterOrder":["accountId","filterId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to delete the filter for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the filter to be deleted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/filters/{filterId}","request":null,"response":{"$ref":"Filter"},"scopes":["https://www.googleapis.com/auth/analytics.edit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns a filters to which the user has access.","etagRequired":null,"httpMethod":"GET","id":"analytics.management.filters.get","mediaUpload":null,"parameterOrder":["accountId","filterId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to retrieve filters for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Filter ID to retrieve filters for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/filters/{filterId}","request":null,"response":{"$ref":"Filter"},"scopes":["https://www.googleapis.com/auth/analytics.edit","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Create a new filter.","etagRequired":null,"httpMethod":"POST","id":"analytics.management.filters.insert","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to create filter for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/filters","request":{"$ref":"Filter","parameterName":null},"response":{"$ref":"Filter"},"scopes":["https://www.googleapis.com/auth/analytics.edit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all filters for an account","etagRequired":null,"httpMethod":"GET","id":"analytics.management.filters.list","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to retrieve filters for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"\\d+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"max-results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of filters to include in this response.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"start-index":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/filters","request":null,"response":{"$ref":"Filters"},"scopes":["https://www.googleapis.com/auth/analytics.edit","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an existing filter. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"analytics.management.filters.patch","mediaUpload":null,"parameterOrder":["accountId","filterId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to which the filter belongs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the filter to be updated.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/filters/{filterId}","request":{"$ref":"Filter","parameterName":null},"response":{"$ref":"Filter"},"scopes":["https://www.googleapis.com/auth/analytics.edit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an existing filter.","etagRequired":null,"httpMethod":"PUT","id":"analytics.management.filters.update","mediaUpload":null,"parameterOrder":["accountId","filterId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to which the filter belongs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the filter to be updated.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/filters/{filterId}","request":{"$ref":"Filter","parameterName":null},"response":{"$ref":"Filter"},"scopes":["https://www.googleapis.com/auth/analytics.edit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"goals":{"methods":{"get":{"description":"Gets a goal to which the user has access.","etagRequired":null,"httpMethod":"GET","id":"analytics.management.goals.get","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","profileId","goalId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to retrieve the goal for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"goalId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Goal ID to retrieve the goal for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"View (Profile) ID to retrieve the goal for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID to retrieve the goal for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}","request":null,"response":{"$ref":"Goal"},"scopes":["https://www.googleapis.com/auth/analytics.edit","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Create a new goal.","etagRequired":null,"httpMethod":"POST","id":"analytics.management.goals.insert","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","profileId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to create the goal for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"View (Profile) ID to create the goal for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID to create the goal for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals","request":{"$ref":"Goal","parameterName":null},"response":{"$ref":"Goal"},"scopes":["https://www.googleapis.com/auth/analytics.edit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists goals to which the user has access.","etagRequired":null,"httpMethod":"GET","id":"analytics.management.goals.list","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","profileId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to retrieve goals for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"max-results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of goals to include in this response.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"View (Profile) ID to retrieve goals for. Can either be a specific view (profile) ID or '~all', which refers to all the views (profiles) that user has access to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"start-index":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An index of the first goal to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID to retrieve goals for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals","request":null,"response":{"$ref":"Goals"},"scopes":["https://www.googleapis.com/auth/analytics","https://www.googleapis.com/auth/analytics.edit","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an existing goal. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"analytics.management.goals.patch","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","profileId","goalId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to update the goal.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"goalId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Index of the goal to be updated.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"View (Profile) ID to update the goal.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID to update the goal.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}","request":{"$ref":"Goal","parameterName":null},"response":{"$ref":"Goal"},"scopes":["https://www.googleapis.com/auth/analytics.edit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an existing goal.","etagRequired":null,"httpMethod":"PUT","id":"analytics.management.goals.update","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","profileId","goalId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to update the goal.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"goalId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Index of the goal to be updated.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"View (Profile) ID to update the goal.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID to update the goal.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}","request":{"$ref":"Goal","parameterName":null},"response":{"$ref":"Goal"},"scopes":["https://www.googleapis.com/auth/analytics.edit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"profileFilterLinks":{"methods":{"delete":{"description":"Delete a profile filter link.","etagRequired":null,"httpMethod":"DELETE","id":"analytics.management.profileFilterLinks.delete","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","profileId","linkId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to which the profile filter link belongs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"\\d+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"linkId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the profile filter link to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"\\d+:\\d+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Profile ID to which the filter link belongs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"\\d+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property Id to which the profile filter link belongs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"UA-(\\d+)-(\\d+)","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/analytics.edit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns a single profile filter link.","etagRequired":null,"httpMethod":"GET","id":"analytics.management.profileFilterLinks.get","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","profileId","linkId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to retrieve profile filter link for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"\\d+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"linkId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the profile filter link.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"\\d+:\\d+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Profile ID to retrieve filter link for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"\\d+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property Id to retrieve profile filter link for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"UA-(\\d+)-(\\d+)","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}","request":null,"response":{"$ref":"ProfileFilterLink"},"scopes":["https://www.googleapis.com/auth/analytics.edit","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Create a new profile filter link.","etagRequired":null,"httpMethod":"POST","id":"analytics.management.profileFilterLinks.insert","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","profileId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to create profile filter link for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"\\d+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Profile ID to create filter link for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"\\d+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property Id to create profile filter link for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"UA-(\\d+)-(\\d+)","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks","request":{"$ref":"ProfileFilterLink","parameterName":null},"response":{"$ref":"ProfileFilterLink"},"scopes":["https://www.googleapis.com/auth/analytics.edit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all profile filter links for a profile.","etagRequired":null,"httpMethod":"GET","id":"analytics.management.profileFilterLinks.list","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","profileId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to retrieve profile filter links for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"\\d+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"max-results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of profile filter links to include in this response.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Profile ID to retrieve filter links for. Can either be a specific profile ID or '~all', which refers to all the profiles that user has access to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"start-index":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property Id for profile filter links for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks","request":null,"response":{"$ref":"ProfileFilterLinks"},"scopes":["https://www.googleapis.com/auth/analytics.edit","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Update an existing profile filter link. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"analytics.management.profileFilterLinks.patch","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","profileId","linkId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to which profile filter link belongs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"\\d+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"linkId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the profile filter link to be updated.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"\\d+:\\d+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Profile ID to which filter link belongs","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"\\d+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property Id to which profile filter link belongs","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"UA-(\\d+)-(\\d+)","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}","request":{"$ref":"ProfileFilterLink","parameterName":null},"response":{"$ref":"ProfileFilterLink"},"scopes":["https://www.googleapis.com/auth/analytics.edit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Update an existing profile filter link.","etagRequired":null,"httpMethod":"PUT","id":"analytics.management.profileFilterLinks.update","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","profileId","linkId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to which profile filter link belongs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"\\d+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"linkId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the profile filter link to be updated.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"\\d+:\\d+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Profile ID to which filter link belongs","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"\\d+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property Id to which profile filter link belongs","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"UA-(\\d+)-(\\d+)","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}","request":{"$ref":"ProfileFilterLink","parameterName":null},"response":{"$ref":"ProfileFilterLink"},"scopes":["https://www.googleapis.com/auth/analytics.edit"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"profileUserLinks":{"methods":{"delete":{"description":"Removes a user from the given view (profile).","etagRequired":null,"httpMethod":"DELETE","id":"analytics.management.profileUserLinks.delete","mediaUpload":null,"parameterOrder":["ac
[...]
