{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/analytics":{"description":"View and manage your Google Analytics data"},"https://www.googleapis.com/auth/analytics.readonly":{"description":"View your Google Analytics data"}}}},"basePath":"/analytics/v2.4/","baseUrl":"https://www.googleapis.com/analytics/v2.4/","batchPath":"batch/analytics/v2.4","canonicalName":null,"description":"Views and manages your Google Analytics data.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/analytics/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/kYN47VW3boRYzE7pkj4HK3FyEC0\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.google.com/images/icons/product/analytics-16.png","x32":"https://www.google.com/images/icons/product/analytics-32.png"},"id":"analytics:v2.4","kind":"discovery#restDescription","labels":null,"methods":null,"name":"analytics","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"atom","description":"Data format for the response.","enum":["atom"],"enumDescriptions":["Responses with Content-Type of application/atom+xml"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"data":{"methods":{"get":{"description":"Returns Analytics report data for a view (profile).","etagRequired":null,"httpMethod":"GET","id":"analytics.data.get","mediaUpload":null,"parameterOrder":["ids","start-date","end-date","metrics"],"parameters":{"dimensions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of Analytics dimensions. E.g., 'ga:browser,ga:city'.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"(ga:.+)?","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"end-date":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"End date for fetching report data. All requests should specify an end date formatted as YYYY-MM-DD.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[0-9]{4}-[0-9]{2}-[0-9]{2}","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filters":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of dimension or metric filters to be applied to the report data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"ga:.+","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ids":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique table ID for retrieving report data. Table ID is of the form ga:XXXX, where XXXX is the Analytics view (profile) ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"ga:[0-9]+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"max-results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of entries to include in this feed.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"metrics":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of Analytics metrics. E.g., 'ga:sessions,ga:pageviews'. At least one metric must be specified to retrieve a valid Analytics report.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"ga:.+","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"segment":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An Analytics advanced segment to be applied to the report data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sort":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of dimensions or metrics that determine the sort order for the report data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"(-)?ga:.+","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"start-date":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Start date for fetching report data. All requests should specify a start date formatted as YYYY-MM-DD.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[0-9]{4}-[0-9]{2}-[0-9]{2}","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"start-index":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"data","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/analytics","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"management":{"methods":null,"resources":{"accounts":{"methods":{"list":{"description":"Lists all accounts to which the user has access.","etagRequired":null,"httpMethod":"GET","id":"analytics.management.accounts.list","mediaUpload":null,"parameterOrder":null,"parameters":{"max-results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of accounts to include in this response.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"start-index":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An index of the first account to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"management/accounts","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/analytics","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"goals":{"methods":{"list":{"description":"Lists goals to which the user has access.","etagRequired":null,"httpMethod":"GET","id":"analytics.management.goals.list","mediaUpload":null,"parameterOrder":["accountId","webPropertyId","profileId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to retrieve goals for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"max-results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of goals to include in this response.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"View (Profile) ID to retrieve goals for. Can either be a specific view (profile) ID or '~all', which refers to all the views (profiles) that user has access to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"start-index":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An index of the first goal to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID to retrieve goals for. Can either be a specific web property ID or '~all', which refers to all the web properties that user has access to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/analytics","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"profiles":{"methods":{"list":{"description":"Lists views (profiles) to which the user has access.","etagRequired":null,"httpMethod":"GET","id":"analytics.management.profiles.list","mediaUpload":null,"parameterOrder":["accountId","webPropertyId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID for the views (profiles) to retrieve. Can either be a specific account ID or '~all', which refers to all the accounts to which the user has access.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"max-results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of views (profiles) to include in this response.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"start-index":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"webPropertyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web property ID for the views (profiles) to retrieve. Can either be a specific web property ID or '~all', which refers to all the web properties to which the user has access.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties/{webPropertyId}/profiles","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/analytics","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"segments":{"methods":{"list":{"description":"Lists advanced segments to which the user has access.","etagRequired":null,"httpMethod":"GET","id":"analytics.management.segments.list","mediaUpload":null,"parameterOrder":null,"parameters":{"max-results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of advanced segments to include in this response.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"start-index":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An index of the first advanced segment to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"management/segments","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/analytics","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"webproperties":{"methods":{"list":{"description":"Lists web properties to which the user has access.","etagRequired":null,"httpMethod":"GET","id":"analytics.management.webproperties.list","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID to retrieve web properties for. Can either be a specific account ID or '~all', which refers to all the accounts that user has access to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"max-results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of web properties to include in this response.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"start-index":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An index of the first entity to retrieve. Use this parameter as a pagination mechanism along with the max-results parameter.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"management/accounts/{accountId}/webproperties","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/analytics","https://www.googleapis.com/auth/analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"revision":"20170807","rootUrl":"https://www.googleapis.com/","schemas":null,"servicePath":"analytics/v2.4/","title":"Google Analytics API","version":"v2.4","version_module":null}