{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/androidmanagement":{"description":"Manage Android devices and apps for your customers"}}}},"basePath":"","baseUrl":"https://androidmanagement.googleapis.com/","batchPath":"batch","canonicalName":"Android Management","description":"The Android Management API provides remote enterprise management of Android devices and apps.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/android/management","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"androidmanagement:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"androidmanagement","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"signupUrls":{"methods":{"create":{"description":"Creates an enterprise signup URL.","etagRequired":null,"httpMethod":"POST","id":"androidmanagement.signupUrls.create","mediaUpload":null,"parameterOrder":[],"parameters":{"callbackUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The callback URL to which the admin will be redirected after successfully creating an enterprise. Before redirecting there the system will add a query parameter to this URL named enterpriseToken which will contain an opaque token to be used for the create enterprise request. The URL will be parsed then reformatted in order to add the enterpriseToken parameter, so there may be some minor formatting changes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of the Google Cloud Platform project which will own the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/signupUrls","request":null,"response":{"$ref":"SignupUrl"},"scopes":["https://www.googleapis.com/auth/androidmanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"enterprises":{"methods":{"create":{"description":"Creates an enterprise by completing the enterprise signup flow.","etagRequired":null,"httpMethod":"POST","id":"androidmanagement.enterprises.create","mediaUpload":null,"parameterOrder":[],"parameters":{"signupUrlName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the SignupUrl used to sign up for the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"enterpriseToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The enterprise token appended to the callback URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of the Google Cloud Platform project which will own the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/enterprises","request":{"$ref":"Enterprise","parameterName":null},"response":{"$ref":"Enterprise"},"scopes":["https://www.googleapis.com/auth/androidmanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets an enterprise.","etagRequired":null,"httpMethod":"GET","id":"androidmanagement.enterprises.get","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the enterprise in the form enterprises/{enterpriseId}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^enterprises/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Enterprise"},"scopes":["https://www.googleapis.com/auth/androidmanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an enterprise.","etagRequired":null,"httpMethod":"PATCH","id":"androidmanagement.enterprises.patch","mediaUpload":null,"parameterOrder":["name"],"parameters":{"updateMask":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The field mask indicating the fields to update. If not set, all modifiable fields will be modified.","enum":null,"enumDescriptions":null,"format":"google-fieldmask","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the enterprise in the form enterprises/{enterpriseId}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^enterprises/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":{"$ref":"Enterprise","parameterName":null},"response":{"$ref":"Enterprise"},"scopes":["https://www.googleapis.com/auth/androidmanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"policies":{"methods":{"get":{"description":"Gets a policy.","etagRequired":null,"httpMethod":"GET","id":"androidmanagement.enterprises.policies.get","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^enterprises/[^/]+/policies/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Policy"},"scopes":["https://www.googleapis.com/auth/androidmanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists policies for a given enterprise.","etagRequired":null,"httpMethod":"GET","id":"androidmanagement.enterprises.policies.list","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The requested page size. The actual page size may be fixed to a min or max value.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the enterprise in the form enterprises/{enterpriseId}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^enterprises/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results the server should return.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/{+parent}/policies","request":null,"response":{"$ref":"ListPoliciesResponse"},"scopes":["https://www.googleapis.com/auth/androidmanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates or creates a policy.","etagRequired":null,"httpMethod":"PATCH","id":"androidmanagement.enterprises.policies.patch","mediaUpload":null,"parameterOrder":["name"],"parameters":{"updateMask":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The field mask indicating the fields to update. If not set, all modifiable fields will be modified.","enum":null,"enumDescriptions":null,"format":"google-fieldmask","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^enterprises/[^/]+/policies/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":{"$ref":"Policy","parameterName":null},"response":{"$ref":"Policy"},"scopes":["https://www.googleapis.com/auth/androidmanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a policy. This operation is only permitted if no devices are currently referencing the policy.","etagRequired":null,"httpMethod":"DELETE","id":"androidmanagement.enterprises.policies.delete","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^enterprises/[^/]+/policies/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/androidmanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"applications":{"methods":{"get":{"description":"Gets info about an application.","etagRequired":null,"httpMethod":"GET","id":"androidmanagement.enterprises.applications.get","mediaUpload":null,"parameterOrder":["name"],"parameters":{"languageCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language for localized application info, as a BCP47 tag (e.g. \"en-US\", \"de\"). If not specified the default language of the application will be used.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the application in the form enterprises/{enterpriseId}/applications/{package_name}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^enterprises/[^/]+/applications/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Application"},"scopes":["https://www.googleapis.com/auth/androidmanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"enrollmentTokens":{"methods":{"create":{"description":"Creates an enrollment token for a given enterprise.","etagRequired":null,"httpMethod":"POST","id":"androidmanagement.enterprises.enrollmentTokens.create","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the enterprise in the form enterprises/{enterpriseId}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^enterprises/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+parent}/enrollmentTokens","request":{"$ref":"EnrollmentToken","parameterName":null},"response":{"$ref":"EnrollmentToken"},"scopes":["https://www.googleapis.com/auth/androidmanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes an enrollment token, which prevents future use of the token.","etagRequired":null,"httpMethod":"DELETE","id":"androidmanagement.enterprises.enrollmentTokens.delete","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the enrollment token in the form enterprises/{enterpriseId}/enrollmentTokens/{enrollmentTokenId}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^enterprises/[^/]+/enrollmentTokens/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/androidmanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"webTokens":{"methods":{"create":{"description":"Creates a web token to access an embeddable managed Google Play web UI for a given enterprise.","etagRequired":null,"httpMethod":"POST","id":"androidmanagement.enterprises.webTokens.create","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the enterprise in the form enterprises/{enterpriseId}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^enterprises/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+parent}/webTokens","request":{"$ref":"WebToken","parameterName":null},"response":{"$ref":"WebToken"},"scopes":["https://www.googleapis.com/auth/androidmanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"devices":{"methods":{"get":{"description":"Gets a device.","etagRequired":null,"httpMethod":"GET","id":"androidmanagement.enterprises.devices.get","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^enterprises/[^/]+/devices/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Device"},"scopes":["https://www.googleapis.com/auth/androidmanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists devices for a given enterprise.","etagRequired":null,"httpMethod":"GET","id":"androidmanagement.enterprises.devices.list","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The requested page size. The actual page size may be fixed to a min or max value.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the enterprise in the form enterprises/{enterpriseId}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^enterprises/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results the server should return.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/{+parent}/devices","request":null,"response":{"$ref":"ListDevicesResponse"},"scopes":["https://www.googleapis.com/auth/androidmanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"issueCommand":{"description":"Issues a command to a device. The Operation resource returned contains a Command in its metadata field. Use the get operation method to get the status of the command.","etagRequired":null,"httpMethod":"POST","id":"androidmanagement.enterprises.devices.issueCommand","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^enterprises/[^/]+/devices/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}:issueCommand","request":{"$ref":"Command","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/androidmanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates a device.","etagRequired":null,"httpMethod":"PATCH","id":"androidmanagement.enterprises.devices.patch","mediaUpload":null,"parameterOrder":["name"],"parameters":{"updateMask":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The field mask indicating the fields to update. If not set, all modifiable fields will be modified.","enum":null,"enumDescriptions":null,"format":"google-fieldmask","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^enterprises/[^/]+/devices/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":{"$ref":"Device","parameterName":null},"response":{"$ref":"Device"},"scopes":["https://www.googleapis.com/auth/androidmanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a device, which causes the device to be wiped.","etagRequired":null,"httpMethod":"DELETE","id":"androidmanagement.enterprises.devices.delete","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^enterprises/[^/]+/devices/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/androidmanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"operations":{"methods":{"get":{"description":"Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.","etagRequired":null,"httpMethod":"GET","id":"androidmanagement.enterprises.devices.operations.get","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/androidmanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns UNIMPLEMENTED.NOTE: the name binding allows API services to override the binding to use different resource name schemes, such as users/*/operations. To override the binding, API services can add a binding such as \"/v1/{name=users/*}/operations\" to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.","etagRequired":null,"httpMethod":"GET","id":"androidmanagement.enterprises.devices.operations.list","mediaUpload":null,"parameterOrder":["name"],"parameters":{"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The standard list page size.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The standard list filter.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation's parent resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^enterprises/[^/]+/devices/[^/]+/operations$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The standard list page token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"ListOperationsResponse"},"scopes":["https://www.googleapis.com/auth/androidmanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns google.rpc.Code.UNIMPLEMENTED.","etagRequired":null,"httpMethod":"DELETE","id":"androidmanagement.enterprises.devices.operations.delete","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation resource to be deleted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/androidmanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"cancel":{"description":"Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns google.rpc.Code.UNIMPLEMENTED. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to Code.CANCELLED.","etagRequired":null,"httpMethod":"POST","id":"androidmanagement.enterprises.devices.operations.cancel","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation resource to be cancelled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^enterprises/[^/]+/devices/[^/]+/operations/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}:cancel","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/androidmanagement"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"ETag":null}},"revision":"20170925","rootUrl":"https://androidmanagement.googleapis.com/","schemas":{"Device":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A device owned by an enterprise. Unless otherwise noted, all fields are read-only and cannot be modified by an update device request.","enum":null,"enumDescriptions":null,"format":null,"id":"Device","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"userName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The resource name of the user of the device in the form enterprises/{enterpriseId}/users/{userId}. This is the name of the device account automatically created for this device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"disabledReason":{"$ref":"UserFacingMessage","additionalProperties":null,"annotations":null,"default":null,"description":"If the device state is DISABLED, an optional message that is displayed on the device indicating the reason the device is disabled. This field may be modified by an update request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"policyName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the policy that is intended to be applied to the device. If empty, the policy with id default is applied. This field may be modified by an update request. The name of the policy is in the form enterprises/{enterpriseId}/policies/{policyId}. It is also permissible to only specify the policyId when updating this field as long as the policyId contains no slashes since the rest of the policy name can be inferred from context.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"lastPolicyComplianceReportTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last time the device sent a policy compliance report.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nonComplianceDetails":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Details about policy settings for which the device is not in compliance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"NonComplianceDetail","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"lastPolicySyncTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last time the device fetched its policy.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"networkInfo":{"$ref":"NetworkInfo","additionalProperties":null,"annotations":null,"default":null,"description":"Device network information. This information is only available when networkInfoEnabled is true in the device's policy.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"appliedState":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The state that is currently applied by the device.","enum":["DEVICE_STATE_UNSPECIFIED","ACTIVE","DISABLED","DELETED","PROVISIONING"],"enumDescriptions":["This value is disallowed.","The device is active.","The device is disabled.","The device was deleted. This state will never be returned by an API call, but will be used in the final policy compliance report published to Cloud Pub/Sub when the device acknowledges the deletion.","The device is being provisioned. Newly enrolled devices will be in this state until they have applied policy."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"enrollmentTokenData":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If this device was enrolled with an enrollment token with additional data provided, this field contains that data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"enrollmentTokenName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If this device was enrolled with an enrollment token, this field contains the name of the token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"memoryInfo":{"$ref":"MemoryInfo","additionalProperties":null,"annotations":null,"default":null,"description":"Memory information. This information is only available when memoryInfoEnabled is true in the device's policy.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"state":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The state that is intended to be applied to the device. This field may be modified by an update request. Note that UpdateDevice only handles toggling between ACTIVE and DISABLED states. Use the delete device method to cause the device to enter the DELETED state.","enum":["DEVICE_STATE_UNSPECIFIED","ACTIVE","DISABLED","DELETED","PROVISIONING"],"enumDescriptions":["This value is disallowed.","The device is active.","The device is disabled.","The device was deleted. This state will never be returned by an API call, but will be used in the final policy compliance report published to Cloud Pub/Sub when the device acknowledges the deletion.","The device is being provisioned. Newly enrolled devices will be in this state until they have applied policy."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"softwareInfo":{"$ref":"SoftwareInfo","additionalProperties":null,"annotations":null,"default":null,"description":"Detailed information about the device software. This information is only available when softwareInfoEnabled is true in the device's policy.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"memoryEvents":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Events related to memory and storage measurements in chronological order. This information is only available when memoryInfoEnabled is true in the device's policy.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"MemoryEvent","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"previousDeviceNames":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The previous device names used for the same physical device when it has been enrolled multiple times. The serial number is used as the unique identifier to determine if the same physical device has enrolled previously. The names are in chronological order.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"policyCompliant":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the device is compliant with its policy.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"lastStatusReportTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last time the device sent a status report.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the device in the form enterprises/{enterpriseId}/devices/{deviceId}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"hardwareStatusSamples":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Hardware status samples in chronological order. This information is only available when hardwareStatusEnabled is true in the device's policy.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"HardwareStatus","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"enrollmentTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time of device enrollment.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"appliedPolicyVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The version of the policy that is currently applied by the device.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"apiLevel":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The API level of the Android platform version running on the device.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"hardwareInfo":{"$ref":"HardwareInfo","additionalProperties":null,"annotations":null,"default":null,"description":"Detailed information about the device hardware.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"appliedPolicyName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the policy that is currently applied by the device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"displays":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Displays on the device. This information is only available when displayInfoEnabled is true in the device's policy.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Display","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"powerManagementEvents":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Power management events on the device in chronological order. This information is only available when powerManagementEventsEnabled is true in the device's policy.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"PowerManagementEvent","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"PermissionGrant":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Configuration for an Android permission and its grant state.","enum":null,"enumDescriptions":null,"format":null,"id":"PermissionGrant","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"permission":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The android permission, e.g. android.permission.READ_CALENDAR.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"policy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The policy for granting the permission.","enum":["PERMISSION_POLICY_UNSPECIFIED","PROMPT","GRANT","DENY"],"enumDescriptions":["Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.","Prompt the user to grant a permission.","Automatically grant a permission.","Automatically deny a permission."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Application":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Application information.","enum":null,"enumDescriptions":null,"format":null,"id":"Application","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"managedProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The set of managed properties available to be pre-configured for the application.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ManagedProperty","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"title":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The title of the application. Localized.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"permissions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The permissions required by the app.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ApplicationPermission","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the application in the form enterprises/{enterpriseId}/applications/{package_name}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). The error model is designed to be:\nSimple to use and understand for most users\nFlexible enough to meet unexpected needsOverviewThe Status message contains three pieces of data: error code, error message, and error details. The error code should be an enum value of google.rpc.Code, but it may accept additional error codes if needed. The error message should be a developer-facing English message that helps developers understand and resolve the error. If a localized user-facing error message is needed, put the localized message in the error details or localize it in the client. The optional error details may contain arbitrary information about the error. There is a predefined set of error detail types in the package google.rpc that can be used for common error conditions.Language mappingThe Status message is the logical representation of the error model, but it is not necessarily the actual wire format. When the Status message is exposed in different client libraries and different wire protocols, it can be mapped differently. For example, it will likely be mapped to some exceptions in Java, but more likely mapped to some error codes in C.Other usesThe error model and the Status message can be used in a variety of environments, either with or without APIs, to provide a consistent developer experience across different environments.Example uses of this error model include:\nPartial errors. If a service needs to return partial errors to the client, it may embed the Status in the normal response to indicate the partial errors.\nWorkflow errors. A typical workflow has multiple steps. Each step may have a Status message for error reporting.\nBatch operations. If a client uses batch request and batch response, the Status message should be used directly inside batch response, one for each error sub-response.\nAsynchronous operations. If an API call embeds asynchronous operation results in its response, the status of those operations should be represented directly using the Status message.\nLogging. If some API errors are stored in logs, the message Status could be used directly after any stripping needed for security/privacy reasons.","enum":null,"enumDescriptions":null,"format":null,"id":"Status","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"code":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The status code, which should be an enum value of google.rpc.Code.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"details":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of messages that carry the error details. There is a common set of message types for APIs to use.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of the object. Contains field @type with type URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"message":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ApplicationPolicy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Policy for an individual app.","enum":null,"enumDescriptions":null,"format":null,"id":"ApplicationPolicy","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"lockTaskAllowed":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the application is allowed to lock itself in full-screen mode.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"permissionGrants":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Explicit permission grants or denials for the app. These values override the default_permission_policy.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"PermissionGrant","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"managedConfiguration":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of the object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"annotations":null,"default":null,"description":"Managed configuration applied to the app. The format for the configuration is dictated by the ManagedProperty values supported by the app. Each field name in the managed configuration must match the key field of the ManagedProperty. The field value must be compatible with the type of the ManagedProperty: <table> <tr><td><i>type</i></td><td><i>JSON value</i></td></tr> <tr><td>BOOL</td><td>true or false</td></tr> <tr><td>STRING</td><td>string</td></tr> <tr><td>INTEGER</td><td>number</td></tr> <tr><td>CHOICE</td><td>string</td></tr> <tr><td>MULTISELECT</td><td>array of strings</td></tr> <tr><td>HIDDEN</td><td>string</td></tr> <tr><td>BUNDLE_ARRAY</td><td>array of objects</td></tr> </table>","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The package name of the app, e.g. com.google.android.youtube for the YouTube app.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"installType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of installation to perform.","enum":["INSTALL_TYPE_UNSPECIFIED","PREINSTALLED","FORCE_INSTALLED"],"enumDescriptions":["No automatic installation is performed. Any other app policies will be applied if the user installs the app.","The application is automatically installed and can be removed by the user.","The application is automatically installed and cannot be removed by the user."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"defaultPermissionPolicy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The default policy for all permissions requested by the app. If specified, this overrides the policy-level default_permission_policy which applies to all apps.","enum":["PERMISSION_POLICY_UNSPECIFIED","PROMPT","GRANT","DENY"],"enumDescriptions":["Policy not specified. If no policy is specified for a permission at any level, then the PROMPT behavior is used by default.","Prompt the user to grant a permission.","Automatically grant a permission.","Automatically deny a permission."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ApplicationPermission":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Application permission.","enum":null,"enumDescriptions":null,"format":null,"id":"ApplicationPermission","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A longer description of the permission, giving more details of what it affects. Localized.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"permissionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An opaque string uniquely identifying the permission. Not localized.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the permission. Localized.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ManagedProperty":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Managed property.","enum":null,"enumDescriptions":null,"format":null,"id":"ManagedProperty","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"nestedProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For BUNDLE_ARRAY properties, the list of nested properties. A BUNDLE_ARRAY property is at most two levels deep.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ManagedProperty","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A longer description of the property, giving more detail of what it affects. Localized.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"defaultValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The default value of the properties. BUNDLE_ARRAY properties never have a default value.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"title":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the property. Localized.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique key that the application uses to identify the property, e.g. \"com.google.android.gm.fieldname\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"entries":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For CHOICE or MULTISELECT properties, the list of possible entries.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ManagedPropertyEntry","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of the property.","enum":["MANAGED_PROPERTY_TYPE_UNSPECIFIED","BOOL","STRING","INTEGER","CHOICE","MULTISELECT","HIDDEN","BUNDLE_ARRAY"],"enumDescriptions":["Not used.","A property of boolean type.","A property of string type.","A property of integer type.","A choice of one item from a set.","A choice of multiple items from a set.","A hidden restriction of string type (the default value can be used to pass along information that cannot be modified, such as a version code).","An array of property bundles."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This resource represents a long-running operation that is the result of a network API call.","enum":null,"enumDescriptions":null,"format":null,"id":"Operation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"error":{"$ref":"Status","additionalProperties":null,"annotations":null,"default":null,"description":"The error result of the operation in case of failure or cancellation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"done":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If the value is false, it means the operation is still in progress. If true, the operation is completed, and either error or response is available.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"metadata":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of the object. Contains field @type with type URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"annotations":null,"default":null,"description":"Service-specific metadata associated with the operation. It typically contains progress information and common metadata such as create time. Some services might not provide such metadata. Any method that returns a long-running operation should document the metadata type, if any.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"response":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of the object. Contains field @type with type URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"annotations":null,"default":null,"description":"The normal response of the operation in case of success. If the original method returns no data on success, such as Delete, the response is google.protobuf.Empty. If the original method is standard Get/Create/Update, the response should be the resource. For other methods, the response should have the type XxxResponse, where Xxx is the original method name. For example, if the original method name is TakeSnapshot(), the inferred response type is TakeSnapshotResponse.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the name should have the format of operations/some/unique/name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"NonComplianceDetailCondition":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A compliance rule condition which is satisfied if there exists any matching NonComplianceDetail for the device. A NonComplianceDetail matches a NonComplianceDetailCondition if all the fields which are set within the NonComplianceDetailCondition match the corresponding NonComplianceDetail fields.","enum":null,"enumDescriptions":null,"format":null,"id":"NonComplianceDetailCondition","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"nonComplianceReason":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The reason the device is not in compliance with the setting. If not set, then this condition matches any reason.","enum":["NON_COMPLIANCE_REASON_UNSPECIFIED","API_LEVEL","ADMIN_TYPE","USER_ACTION","INVALID_VALUE","APP_NOT_INSTALLED","UNSUPPORTED","APP_INSTALLED","PENDING","APP_INCOMPATIBLE","APP_NOT_UPDATED"],"enumDescriptions":["This value is disallowed.","The setting is not supported in the API level of Android OS version the device is running.","The admin type (profile owner, device owner, etc.) does not support the setting.","The user has not taken required action to comply with the setting.","The setting has an invalid value.","The application required to implement the policy is not installed.","The policy is not supported by the version of Android Device Policy on the device.","A blocked application is installed.","The setting was not applied yet at the time of the report, but is expected to be applied shortly.","The setting cannot be applied to the application because the application doesn't support it, for example because its target SDK version is not high enough.","The application is installed but not updated to the minimum version code specified by policy"],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"settingName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the policy setting. This is the JSON field name of a top-level Policy field. If not set, then this condition matches any setting name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The package name indicating which application is out of compliance. If not set, then this condition matches any package name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"NonComplianceDetail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Provides detail about non-compliance with a policy setting.","enum":null,"enumDescriptions":null,"format":null,"id":"NonComplianceDetail","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"settingName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the policy setting. This is the JSON field name of a top-level Policy  field.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"currentValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If the policy setting could not be applied, the current value of the setting on the device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The package name indicating which application is out of compliance, if applicable.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"installationFailureReason":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If package_name is set and the non-compliance reason is APP_NOT_INSTALLED or APP_NOT_UPDATED, the detailed reason the app cannot be installed or updated.","enum":["INSTALLATION_FAILURE_REASON_UNSPECIFIED","INSTALLATION_FAILURE_REASON_UNKNOWN","IN_PROGRESS","NOT_FOUND","NOT_COMPATIBLE_WITH_DEVICE","NOT_APPROVED","PERMISSIONS_NOT_ACCEPTED","NOT_AVAILABLE_IN_COUNTRY","NO_LICENSES_REMAINING","NOT_ENROLLED","USER_INVALID"],"enumDescriptions":["This value is disallowed.","An unknown condition is preventing the app from being installed. Some potential reaons are that the device does not have enough storage, the device network connection is unreliable, or the installation is taking longer than expected. The installation will be retried automatically.","The installation is still in progress.","The app was not found in Play.","The app is incompatible with the device.","The app has not been approved by the admin.","The app has new permissions that have not been accepted by the admin.","The app is not available in the user's country.","There are no more licenses to assign to the user.","The enterprise is no longer enrolled with Play for Work or Android Device Policy is not enabled for the enterprise.","The user is no longer valid. The user may have been deleted or disabled."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fieldPath":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For settings with nested fields, if a particular nested field is out of compliance, this specifies the full path to the offending field. The path is formatted in the same way the policy JSON field would be referenced in JavaScript, that is: 1) For object-typed fields, the field name is followed by a dot then by a  subfield name. 2) For array-typed fields, the field name is followed by the array index  enclosed in brackets. For example, to indicate a problem with the url field in the externalData field in the 3rd application, the path would be applications[2].externalData.url","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nonComplianceReason":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The reason the device is not in compliance with the setting.","enum":["NON_COMPLIANCE_REASON_UNSPECIFIED","API_LEVEL","ADMIN_TYPE","USER_ACTION","INVALID_VALUE","APP_NOT_INSTALLED","UNSUPPORTED","APP_INSTALLED","PENDING","APP_INCOMPATIBLE","APP_NOT_UPDATED"],"enumDescriptions":["This value is disallowed.","The setting is not supported in the API level of Android OS version the device is running.","The admin type (profile owner, device owner, etc.) does not support the setting.","The user has not taken required action to comply with the setting.","The setting has an invalid value.","The application required to implement the policy is not installed.","The policy is not supported by the version of Android Device Policy on the device.","A blocked application is installed.","The setting was not applied yet at the time of the report, but is expected to be applied shortly.","The setting cannot be applied to the application because the application doesn't support it, for example because its target SDK version is not high enough.","The application is installed but not updated to the minimum version code specified by policy"],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListDevicesResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response to a request to list devices for a given enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":"ListDevicesResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If there are more results, a token to retrieve next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"devices":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of devices.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Device","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"PersistentPreferredActivity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A default activity for handling intents that match a particular intent filter.","enum":null,"enumDescriptions":null,"format":null,"id":"PersistentPreferredActivity","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"receiverActivity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The activity that should be the default intent handler. This should be an Android component name, e.g. com.android.enterprise.app/.MainActivity. Alternatively, the value may be the package name of an app, which causes Android Device Policy to choose an appropriate activity from the app to handle the intent.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"actions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The intent actions to match in the filter. If any actions are included in the filter, then an intent's action must be one of those values for it to match. If no actions are included, the intent action is ignored.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"categories":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The intent categories to match in the filter. An intent includes the categories that it requires, all of which must be included in the filter in order to match. In other words, adding a category to the filter has no impact on matching unless that category is specified in the intent.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Policy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A policy, which governs behavior for a device.","enum":null,"enumDescriptions":null,"format":null,"id":"Policy","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"openNetworkConfiguration":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of the object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"annotations":null,"default":null,"description":"Network configuration for the device. See configure networks for more information.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"adjustVolumeDisabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether adjusting the master volume is disabled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"passwordRequirements":{"$ref":"PasswordRequirements","additionalProperties":null,"annotations":null,"default":null,"description":"Password requirements.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"modifyAccountsDisabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether adding or removing accounts is disabled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"statusReportingSettings":{"$ref":"StatusReportingSettings","additionalProperties":null,"annotations":null,"default":null,"description":"Status reporting settings","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"factoryResetDisabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether factory resetting from settings is disabled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"funDisabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the user is allowed to have fun. Controls whether the Easter egg game in Settings is disabled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"applications":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Policy applied to apps.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ApplicationPolicy","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"safeBootDisabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether rebooting the device into safe boot is disabled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"wifiConfigsLockdownEnabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether WiFi networks defined in Open Network Configuration are locked so they cannot be edited by the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"complianceRules":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Rules declaring which mitigating actions to take when a device is not compliant with its policy. When the conditions for multiple rules are satisfied, all of the mitigating actions for the rules are taken. There is a maximum limit of 100 rules.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ComplianceRule","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"wifiConfigDisabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether configuring WiFi access points is disabled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"unmuteMicrophoneDisabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the microphone is muted and adjusting microphone volume is disabled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"installUnknownSourcesAllowed":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the user is allowed to enable the \"Unknown Sources\" setting, which allows installation of apps from unknown sources.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"autoTimeRequired":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether auto time is required, which prevents the user from manually setting the date and time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"removeUserDisabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether removing other users is disabled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"statusBarDisabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the status bar is disabled. This disables notifications, quick settings and other screen overlays that allow escape from full-screen mode.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"stayOnPluggedModes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The battery plugged in modes for which the device stays on. When using this setting, it is recommended to clear maximum_time_to_lock so that the device doesn't lock itself while it stays on.","enum":null,"enumDescriptions":["This value is ignored.","Power source is an AC charger.","Power source is a USB port.","Power source is wireless."],"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["BATTERY_PLUGGED_MODE_UNSPECIFIED","AC","USB","WIRELESS"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"cameraDisabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether all cameras on the device are disabled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"blockApplicationsEnabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether applications other than the ones configured in applications are blocked from being installed. When set, applications that were installed under a previous policy but no longer appear in the policy are automatically uninstalled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"debuggingFeaturesAllowed":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the user is allowed to enable debugging features.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"maximumTimeToLock":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum time in milliseconds for user activity until the device will lock. A value of 0 means there is no restriction.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the policy in the form enterprises/{enterpriseId}/policies/{policyId}","enum":null,"enumDescriptions":nu
[...]
