{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/androidpublisher":{"description":"View and manage your Google Play Developer account"}}}},"basePath":"/androidpublisher/v1/applications/","baseUrl":"https://www.googleapis.com/androidpublisher/v1/applications/","batchPath":"batch/androidpublisher/v1","canonicalName":"Android Publisher","description":"Lets Android application developers access their Google Play accounts.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/android-publisher","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/Ex2nsAPYjRP0NRWSGg4yyxwNJ18\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.google.com/images/icons/product/android-16.png","x32":"https://www.google.com/images/icons/product/android-32.png"},"id":"androidpublisher:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"androidpublisher","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"purchases":{"methods":{"cancel":{"description":"Cancels a user's subscription purchase. The subscription remains valid until its expiration time.","etagRequired":null,"httpMethod":"POST","id":"androidpublisher.purchases.cancel","mediaUpload":null,"parameterOrder":["packageName","subscriptionId","token"],"parameters":{"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The package name of the application for which this subscription was purchased (for example, 'com.some.thing').","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"subscriptionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The purchased subscription ID (for example, 'monthly001').","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token provided to the user's device when the subscription was purchased.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/subscriptions/{subscriptionId}/purchases/{token}/cancel","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Checks whether a user's subscription purchase is valid and returns its expiry time.","etagRequired":null,"httpMethod":"GET","id":"androidpublisher.purchases.get","mediaUpload":null,"parameterOrder":["packageName","subscriptionId","token"],"parameters":{"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The package name of the application for which this subscription was purchased (for example, 'com.some.thing').","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"subscriptionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The purchased subscription ID (for example, 'monthly001').","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token provided to the user's device when the subscription was purchased.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/subscriptions/{subscriptionId}/purchases/{token}","request":null,"response":{"$ref":"SubscriptionPurchase"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20170913","rootUrl":"https://www.googleapis.com/","schemas":{"SubscriptionPurchase":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A SubscriptionPurchase resource indicates the status of a user's subscription purchase.","enum":null,"enumDescriptions":null,"format":null,"id":"SubscriptionPurchase","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"autoRenewing":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the subscription will automatically be renewed when it reaches its current expiry time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"initiationTimestampMsec":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time at which the subscription was granted, in milliseconds since the Epoch.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"androidpublisher#subscriptionPurchase","description":"This kind represents a subscriptionPurchase object in the androidpublisher service.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"validUntilTimestampMsec":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time at which the subscription will expire, in milliseconds since the Epoch.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"androidpublisher/v1/applications/","title":"Google Play Developer API","version":"v1","version_module":null}