{"auth":null,"basePath":"","baseUrl":"https://androiddeviceprovisioning.googleapis.com/","batchPath":"batch","canonicalName":"Android Provisioning Partner","description":"Automates reseller integration into zero-touch enrollment by assigning devices to customers and creating device reports.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/zero-touch/","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"androiddeviceprovisioning:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"androiddeviceprovisioning","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"operations":{"methods":{"get":{"description":"Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.","etagRequired":null,"httpMethod":"GET","id":"androiddeviceprovisioning.operations.get","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^operations/.+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Operation"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"partners":{"methods":null,"resources":{"customers":{"methods":{"create":{"description":"Creates a customer for zero-touch enrollment. After the method returns\nsuccessfully, admin and owner roles can manage devices and EMM configs\nby calling API methods or using their zero-touch enrollment portal. The API\ndoesn't notify the customer that they have access.","etagRequired":null,"httpMethod":"POST","id":"androiddeviceprovisioning.partners.customers.create","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The parent resource ID in format `partners/[PARTNER_ID]` that\nidentifies the reseller.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^partners/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+parent}/customers","request":{"$ref":"CreateCustomerRequest","parameterName":null},"response":{"$ref":"Company"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists the customers that are enrolled to the reseller identified by the\n`partnerId` argument. This list includes customers that the reseller\ncreated and customers that enrolled themselves using the portal.","etagRequired":null,"httpMethod":"GET","id":"androiddeviceprovisioning.partners.customers.list","mediaUpload":null,"parameterOrder":["partnerId"],"parameters":{"partnerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the partner.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/partners/{+partnerId}/customers","request":null,"response":{"$ref":"ListCustomersResponse"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"devices":{"methods":{"unclaimAsync":{"description":"Unclaim devices asynchronously.","etagRequired":null,"httpMethod":"POST","id":"androiddeviceprovisioning.partners.devices.unclaimAsync","mediaUpload":null,"parameterOrder":["partnerId"],"parameters":{"partnerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Partner ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/partners/{+partnerId}/devices:unclaimAsync","request":{"$ref":"UnclaimDevicesRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"metadata":{"description":"Update the metadata.","etagRequired":null,"httpMethod":"POST","id":"androiddeviceprovisioning.partners.devices.metadata","mediaUpload":null,"parameterOrder":["metadataOwnerId","deviceId"],"parameters":{"metadataOwnerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The owner of the newly set metadata. Set this to the partner ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the partner.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/partners/{+metadataOwnerId}/devices/{+deviceId}/metadata","request":{"$ref":"UpdateDeviceMetadataRequest","parameterName":null},"response":{"$ref":"DeviceMetadata"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"updateMetadataAsync":{"description":"Set metadata in batch asynchronously.","etagRequired":null,"httpMethod":"POST","id":"androiddeviceprovisioning.partners.devices.updateMetadataAsync","mediaUpload":null,"parameterOrder":["partnerId"],"parameters":{"partnerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Partner ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/partners/{+partnerId}/devices:updateMetadataAsync","request":{"$ref":"UpdateDeviceMetadataInBatchRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Get a device.","etagRequired":null,"httpMethod":"GET","id":"androiddeviceprovisioning.partners.devices.get","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Resource name in `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^partners/[^/]+/devices/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Device"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"unclaim":{"description":"Unclaim the device identified by the `device_id` or the `deviceIdentifier`.","etagRequired":null,"httpMethod":"POST","id":"androiddeviceprovisioning.partners.devices.unclaim","mediaUpload":null,"parameterOrder":["partnerId"],"parameters":{"partnerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the partner.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/partners/{+partnerId}/devices:unclaim","request":{"$ref":"UnclaimDeviceRequest","parameterName":null},"response":{"$ref":"Empty"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"findByOwner":{"description":"Find devices by ownership.","etagRequired":null,"httpMethod":"POST","id":"androiddeviceprovisioning.partners.devices.findByOwner","mediaUpload":null,"parameterOrder":["partnerId"],"parameters":{"partnerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the partner.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/partners/{+partnerId}/devices:findByOwner","request":{"$ref":"FindDevicesByOwnerRequest","parameterName":null},"response":{"$ref":"FindDevicesByOwnerResponse"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"claim":{"description":"Claim the device identified by device identifier.","etagRequired":null,"httpMethod":"POST","id":"androiddeviceprovisioning.partners.devices.claim","mediaUpload":null,"parameterOrder":["partnerId"],"parameters":{"partnerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the partner.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/partners/{+partnerId}/devices:claim","request":{"$ref":"ClaimDeviceRequest","parameterName":null},"response":{"$ref":"ClaimDeviceResponse"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"claimAsync":{"description":"Claim devices asynchronously.","etagRequired":null,"httpMethod":"POST","id":"androiddeviceprovisioning.partners.devices.claimAsync","mediaUpload":null,"parameterOrder":["partnerId"],"parameters":{"partnerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Partner ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/partners/{+partnerId}/devices:claimAsync","request":{"$ref":"ClaimDevicesRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"findByIdentifier":{"description":"Find devices by device identifier.","etagRequired":null,"httpMethod":"POST","id":"androiddeviceprovisioning.partners.devices.findByIdentifier","mediaUpload":null,"parameterOrder":["partnerId"],"parameters":{"partnerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the partner.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/partners/{+partnerId}/devices:findByIdentifier","request":{"$ref":"FindDevicesByDeviceIdentifierRequest","parameterName":null},"response":{"$ref":"FindDevicesByDeviceIdentifierResponse"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"revision":"20170930","rootUrl":"https://androiddeviceprovisioning.googleapis.com/","schemas":{"Status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.","enum":null,"enumDescriptions":null,"format":null,"id":"Status","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"code":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The status code, which should be an enum value of google.rpc.Code.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"message":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"details":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of the object. Contains field @type with type URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"FindDevicesByDeviceIdentifierRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to find devices.","enum":null,"enumDescriptions":null,"format":null,"id":"FindDevicesByDeviceIdentifierRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"limit":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of devices to show.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"deviceIdentifier":{"$ref":"DeviceIdentifier","additionalProperties":null,"annotations":null,"default":null,"description":"The device identifier to search.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Page token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OperationPerDevice":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Operation the server received for every device.","enum":null,"enumDescriptions":null,"format":null,"id":"OperationPerDevice","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"updateMetadata":{"$ref":"UpdateMetadataArguments","additionalProperties":null,"annotations":null,"default":null,"description":"Request to set metadata for a device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"unclaim":{"$ref":"PartnerUnclaim","additionalProperties":null,"annotations":null,"default":null,"description":"Request to unclaim a device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"result":{"$ref":"PerDeviceStatusInBatch","additionalProperties":null,"annotations":null,"default":null,"description":"Processing result for every device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"claim":{"$ref":"PartnerClaim","additionalProperties":null,"annotations":null,"default":null,"description":"Request to claim a device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"FindDevicesByOwnerResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response containing found devices.","enum":null,"enumDescriptions":null,"format":null,"id":"FindDevicesByOwnerResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"devices":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Devices found.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Device","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Page token of the next page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ClaimDeviceRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request message to claim a device on behalf of a customer.","enum":null,"enumDescriptions":null,"format":null,"id":"ClaimDeviceRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"deviceIdentifier":{"$ref":"DeviceIdentifier","additionalProperties":null,"annotations":null,"default":null,"description":"The device identifier of the device to claim.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"sectionType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The section to claim.","enum":["SECTION_TYPE_UNSPECIFIED","SECTION_TYPE_ZERO_TOUCH"],"enumDescriptions":["Unspecified section type.","Zero touch section type."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The customer to claim for.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DevicesLongRunningOperationMetadata":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Long running operation metadata.","enum":null,"enumDescriptions":null,"format":null,"id":"DevicesLongRunningOperationMetadata","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"progress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Processing progress from 0 to 100.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"devicesCount":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of devices parsed in your requests.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"processingStatus":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The overall processing status.","enum":["BATCH_PROCESS_STATUS_UNSPECIFIED","BATCH_PROCESS_PENDING","BATCH_PROCESS_IN_PROGRESS","BATCH_PROCESS_PROCESSED"],"enumDescriptions":["Invalid code. Shouldn't be used.","Pending.","In progress.","Processed.\nThis doesn't mean all items were processed sucessfully, you should\ncheck the `response` field for the result of every item."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UpdateDeviceMetadataInBatchRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to update device metadata in batch.","enum":null,"enumDescriptions":null,"format":null,"id":"UpdateDeviceMetadataInBatchRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"updates":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of metadata updates.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"UpdateMetadataArguments","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UpdateMetadataArguments":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies metdata updates to one device.","enum":null,"enumDescriptions":null,"format":null,"id":"UpdateMetadataArguments","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Device ID of the device.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"deviceIdentifier":{"$ref":"DeviceIdentifier","additionalProperties":null,"annotations":null,"default":null,"description":"Device identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"deviceMetadata":{"$ref":"DeviceMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"The metadata to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ClaimDeviceResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response message containing device id of the claim.","enum":null,"enumDescriptions":null,"format":null,"id":"ClaimDeviceResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"deviceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The resource name of the device in the format\n`partners/[PARTNER_ID]/devices/[DEVICE_ID]`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The device ID of the claimed device.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListCustomersResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response message of all customers related to this partner.","enum":null,"enumDescriptions":null,"format":null,"id":"ListCustomersResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"customers":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of customers related to this partner.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Company","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Device":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An Android device.","enum":null,"enumDescriptions":null,"format":null,"id":"Device","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"claims":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Claims.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"DeviceClaim","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"deviceIdentifier":{"$ref":"DeviceIdentifier","additionalProperties":null,"annotations":null,"default":null,"description":"Device identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"deviceMetadata":{"$ref":"DeviceMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Device metadata.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Resource name in `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Device ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"configuration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The resource name of the configuration.\nOnly set for customers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CreateCustomerRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request message to create a customer.","enum":null,"enumDescriptions":null,"format":null,"id":"CreateCustomerRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"customer":{"$ref":"Company","additionalProperties":null,"annotations":null,"default":null,"description":"Required. The company data to populate the new customer. Must contain a\nvalue for `companyName` and at least one `owner_email` that's associated\nwith a Google Account. The values for `companyId` and `name` must be empty.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Company":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A customer resource in the zero-touch enrollment API.","enum":null,"enumDescriptions":null,"format":null,"id":"Company","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"ownerEmails":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Input only. Email address of customer's users in the owner role. At least\none `owner_email` is required. Each email address must be associated with a\nGoogle Account. Owners share the same access as admins but can also add,\ndelete, and edit your organization's portal users.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"companyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Output only. The ID of the company. Assigned by the server.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"companyName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The name of the company. For example _XYZ Corp_. Characters\nallowed are: Latin letters, numerals, hyphens, and spaces. Displayed to the\ncustomer's employees in the zero-touch enrollment portal.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Output only. The API resource name of the company in the format\n`partners/[PARTNER_ID]/customers/[CUSTOMER_ID]`. Assigned by the server.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"adminEmails":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Input only. Optional. Email address of customer's users in the admin role.\nEach email address must be associated with a Google Account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UpdateDeviceMetadataRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to set metadata for a device.","enum":null,"enumDescriptions":null,"format":null,"id":"UpdateDeviceMetadataRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"deviceMetadata":{"$ref":"DeviceMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"The metdata to set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"PartnerUnclaim":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies one unclaim request.","enum":null,"enumDescriptions":null,"format":null,"id":"PartnerUnclaim","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Device ID of the device.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"deviceIdentifier":{"$ref":"DeviceIdentifier","additionalProperties":null,"annotations":null,"default":null,"description":"Device identifier of the device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"sectionType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Section type to unclaim.","enum":["SECTION_TYPE_UNSPECIFIED","SECTION_TYPE_ZERO_TOUCH"],"enumDescriptions":["Unspecified section type.","Zero touch section type."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Empty":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.","enum":null,"enumDescriptions":null,"format":null,"id":"Empty","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"FindDevicesByDeviceIdentifierResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response containing found devices.","enum":null,"enumDescriptions":null,"format":null,"id":"FindDevicesByDeviceIdentifierResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Page token of the next page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"devices":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Found devices.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Device","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"PartnerClaim":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies one claim request.","enum":null,"enumDescriptions":null,"format":null,"id":"PartnerClaim","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"deviceIdentifier":{"$ref":"DeviceIdentifier","additionalProperties":null,"annotations":null,"default":null,"description":"Device identifier of the device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"deviceMetadata":{"$ref":"DeviceMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Metadata to set at claim.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"sectionType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Section type to claim.","enum":["SECTION_TYPE_UNSPECIFIED","SECTION_TYPE_ZERO_TOUCH"],"enumDescriptions":["Unspecified section type.","Zero touch section type."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Customer ID to claim for.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UnclaimDeviceRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request message to unclaim a device.","enum":null,"enumDescriptions":null,"format":null,"id":"UnclaimDeviceRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The device ID returned by `ClaimDevice`.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"deviceIdentifier":{"$ref":"DeviceIdentifier","additionalProperties":null,"annotations":null,"default":null,"description":"The device identifier you used when you claimed this device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"sectionType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The section type to unclaim for.","enum":["SECTION_TYPE_UNSPECIFIED","SECTION_TYPE_ZERO_TOUCH"],"enumDescriptions":["Unspecified section type.","Zero touch section type."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DeviceMetadata":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A key-value pair of the device metadata.","enum":null,"enumDescriptions":null,"format":null,"id":"DeviceMetadata","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"entries":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"annotations":null,"default":null,"description":"Metadata entries","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DevicesLongRunningOperationResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Long running operation response.","enum":null,"enumDescriptions":null,"format":null,"id":"DevicesLongRunningOperationResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"successCount":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of succeesfully processed ones.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"perDeviceStatus":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Processing status for each device.\nOne `PerDeviceStatus` per device. The order is the same as in your requests.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"OperationPerDevice","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DeviceClaim":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Information about a device claimed for a partner.","enum":null,"enumDescriptions":null,"format":null,"id":"DeviceClaim","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"sectionType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Section type of the device claim.","enum":["SECTION_TYPE_UNSPECIFIED","SECTION_TYPE_ZERO_TOUCH"],"enumDescriptions":["Unspecified section type.","Zero touch section type."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ownerCompanyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Owner ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"PerDeviceStatusInBatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Stores the processing result for each device.","enum":null,"enumDescriptions":null,"format":null,"id":"PerDeviceStatusInBatch","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"errorMessage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Error message.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Device ID of the device if process succeeds.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Process result.","enum":["SINGLE_DEVICE_STATUS_UNSPECIFIED","SINGLE_DEVICE_STATUS_UNKNOWN_ERROR","SINGLE_DEVICE_STATUS_OTHER_ERROR","SINGLE_DEVICE_STATUS_SUCCESS","SINGLE_DEVICE_STATUS_PERMISSION_DENIED","SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER","SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE","SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS"],"enumDescriptions":["Invalid code. Shouldn't be used.","Unknown error.\nWe don't expect this error to occur here.","Other error.\nWe know/expect this error, but there's no defined error code for the\nerror.","Success.","Permission denied.","Invalid device identifier.","Invalid section type.","This section is claimed by another company."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"errorIdentifier":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Error identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"FindDevicesByOwnerRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to find devices by customers.","enum":null,"enumDescriptions":null,"format":null,"id":"FindDevicesByOwnerRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"limit":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The number of devices to show in the result.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Page token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sectionType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The section type.","enum":["SECTION_TYPE_UNSPECIFIED","SECTION_TYPE_ZERO_TOUCH"],"enumDescriptions":["Unspecified section type.","Zero touch section type."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of customer IDs to search for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ClaimDevicesRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to claim devices asynchronously in batch.","enum":null,"enumDescriptions":null,"format":null,"id":"ClaimDevicesRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"claims":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of claims.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"PartnerClaim","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DeviceIdentifier":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies a unique device.","enum":null,"enumDescriptions":null,"format":null,"id":"DeviceIdentifier","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"imei":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IMEI number.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"meid":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"MEID number.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"manufacturer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Manufacturer name to match `android.os.Build.MANUFACTURER` (required).\nAllowed values listed in\n[manufacturer names](/zero-touch/resources/manufacturer-names).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"serialNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Serial number (optional).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This resource represents a long-running operation that is the result of a\nnetwork API call.","enum":null,"enumDescriptions":null,"format":null,"id":"Operation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"response":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of the object. Contains field @type with type URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"annotations":null,"default":null,"description":"This field will contain a `DevicesLongRunningOperationResponse` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"error":{"$ref":"Status","additionalProperties":null,"annotations":null,"default":null,"description":"This field will always be not set if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`. In this case, error information for each device is set in `response.perDeviceStatus.result.status`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"metadata":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of the object. Contains field @type with type URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"annotations":null,"default":null,"description":"This field will contain a `DevicesLongRunningOperationMetadata` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"done":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UnclaimDevicesRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to unclaim devices asynchronously in batch.","enum":null,"enumDescriptions":null,"format":null,"id":"UnclaimDevicesRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"unclaims":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of devices to unclaim.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"PartnerUnclaim","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"","title":"Android Device Provisioning Partner API","version":"v1","version_module":true}