{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/androidpublisher":{"description":"View and manage your Google Play Developer account"}}}},"basePath":"/androidpublisher/v2/applications/","baseUrl":"https://www.googleapis.com/androidpublisher/v2/applications/","batchPath":"batch","canonicalName":"Android Publisher","description":"Lets Android application developers access their Google Play accounts.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/android-publisher","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/QjVvqrUMRW1tTVdJHVqdnKd9gLQ\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.google.com/images/icons/product/android-16.png","x32":"https://www.google.com/images/icons/product/android-32.png"},"id":"androidpublisher:v2","kind":"discovery#restDescription","labels":null,"methods":null,"name":"androidpublisher","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"edits":{"methods":{"commit":{"description":"Commits/applies the changes made in this edit back to the app.","etagRequired":null,"httpMethod":"POST","id":"androidpublisher.edits.commit","mediaUpload":null,"parameterOrder":["packageName","editId"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}:commit","request":null,"response":{"$ref":"AppEdit"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes an edit for an app. Creating a new edit will automatically delete any of your previous edits so this method need only be called if you want to preemptively abandon an edit.","etagRequired":null,"httpMethod":"DELETE","id":"androidpublisher.edits.delete","mediaUpload":null,"parameterOrder":["packageName","editId"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns information about the edit specified. Calls will fail if the edit is no long active (e.g. has been deleted, superseded or expired).","etagRequired":null,"httpMethod":"GET","id":"androidpublisher.edits.get","mediaUpload":null,"parameterOrder":["packageName","editId"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}","request":null,"response":{"$ref":"AppEdit"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a new edit for an app, populated with the app's current state.","etagRequired":null,"httpMethod":"POST","id":"androidpublisher.edits.insert","mediaUpload":null,"parameterOrder":["packageName"],"parameters":{"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits","request":{"$ref":"AppEdit","parameterName":null},"response":{"$ref":"AppEdit"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"validate":{"description":"Checks that the edit can be successfully committed. The edit's changes are not applied to the live app.","etagRequired":null,"httpMethod":"POST","id":"androidpublisher.edits.validate","mediaUpload":null,"parameterOrder":["packageName","editId"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}:validate","request":null,"response":{"$ref":"AppEdit"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"apklistings":{"methods":{"delete":{"description":"Deletes the APK-specific localized listing for a specified APK and language code.","etagRequired":null,"httpMethod":"DELETE","id":"androidpublisher.edits.apklistings.delete","mediaUpload":null,"parameterOrder":["packageName","editId","apkVersionCode","language"],"parameters":{"apkVersionCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The APK version code whose APK-specific listings should be read or modified.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language code (a BCP-47 language tag) of the APK-specific localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/apks/{apkVersionCode}/listings/{language}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"deleteall":{"description":"Deletes all the APK-specific localized listings for a specified APK.","etagRequired":null,"httpMethod":"DELETE","id":"androidpublisher.edits.apklistings.deleteall","mediaUpload":null,"parameterOrder":["packageName","editId","apkVersionCode"],"parameters":{"apkVersionCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The APK version code whose APK-specific listings should be read or modified.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/apks/{apkVersionCode}/listings","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Fetches the APK-specific localized listing for a specified APK and language code.","etagRequired":null,"httpMethod":"GET","id":"androidpublisher.edits.apklistings.get","mediaUpload":null,"parameterOrder":["packageName","editId","apkVersionCode","language"],"parameters":{"apkVersionCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The APK version code whose APK-specific listings should be read or modified.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language code (a BCP-47 language tag) of the APK-specific localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/apks/{apkVersionCode}/listings/{language}","request":null,"response":{"$ref":"ApkListing"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all the APK-specific localized listings for a specified APK.","etagRequired":null,"httpMethod":"GET","id":"androidpublisher.edits.apklistings.list","mediaUpload":null,"parameterOrder":["packageName","editId","apkVersionCode"],"parameters":{"apkVersionCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The APK version code whose APK-specific listings should be read or modified.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/apks/{apkVersionCode}/listings","request":null,"response":{"$ref":"ApkListingsListResponse"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates or creates the APK-specific localized listing for a specified APK and language code. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"androidpublisher.edits.apklistings.patch","mediaUpload":null,"parameterOrder":["packageName","editId","apkVersionCode","language"],"parameters":{"apkVersionCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The APK version code whose APK-specific listings should be read or modified.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language code (a BCP-47 language tag) of the APK-specific localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/apks/{apkVersionCode}/listings/{language}","request":{"$ref":"ApkListing","parameterName":null},"response":{"$ref":"ApkListing"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates or creates the APK-specific localized listing for a specified APK and language code.","etagRequired":null,"httpMethod":"PUT","id":"androidpublisher.edits.apklistings.update","mediaUpload":null,"parameterOrder":["packageName","editId","apkVersionCode","language"],"parameters":{"apkVersionCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The APK version code whose APK-specific listings should be read or modified.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language code (a BCP-47 language tag) of the APK-specific localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/apks/{apkVersionCode}/listings/{language}","request":{"$ref":"ApkListing","parameterName":null},"response":{"$ref":"ApkListing"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"apks":{"methods":{"addexternallyhosted":{"description":"Creates a new APK without uploading the APK itself to Google Play, instead hosting the APK at a specified URL. This function is only available to enterprises using Google Play for Work whose application is configured to restrict distribution to the enterprise domain.","etagRequired":null,"httpMethod":"POST","id":"androidpublisher.edits.apks.addexternallyhosted","mediaUpload":null,"parameterOrder":["packageName","editId"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/apks/externallyHosted","request":{"$ref":"ApksAddExternallyHostedRequest","parameterName":null},"response":{"$ref":"ApksAddExternallyHostedResponse"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":null,"etagRequired":null,"httpMethod":"GET","id":"androidpublisher.edits.apks.list","mediaUpload":null,"parameterOrder":["packageName","editId"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/apks","request":null,"response":{"$ref":"ApksListResponse"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"upload":{"description":null,"etagRequired":null,"httpMethod":"POST","id":"androidpublisher.edits.apks.upload","mediaUpload":{"accept":["application/octet-stream","application/vnd.android.package-archive"],"maxSize":"1GB","protocols":{"resumable":{"multipart":true,"path":"/resumable/upload/androidpublisher/v2/applications/{packageName}/edits/{editId}/apks"},"simple":{"multipart":true,"path":"/upload/androidpublisher/v2/applications/{packageName}/edits/{editId}/apks"}}},"parameterOrder":["packageName","editId"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/apks","request":null,"response":{"$ref":"Apk"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":true,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"deobfuscationfiles":{"methods":{"upload":{"description":"Uploads the deobfuscation file of the specified APK. If a deobfuscation file already exists, it will be replaced.","etagRequired":null,"httpMethod":"POST","id":"androidpublisher.edits.deobfuscationfiles.upload","mediaUpload":{"accept":["application/octet-stream"],"maxSize":"300MB","protocols":{"resumable":{"multipart":true,"path":"/resumable/upload/androidpublisher/v2/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"},"simple":{"multipart":true,"path":"/upload/androidpublisher/v2/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}"}}},"parameterOrder":["packageName","editId","apkVersionCode","deobfuscationFileType"],"parameters":{"apkVersionCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The version code of the APK whose deobfuscation file is being uploaded.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"deobfuscationFileType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["proguard"],"enumDescriptions":[""],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier of the Android app for which the deobfuscatiuon files are being uploaded; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/apks/{apkVersionCode}/deobfuscationFiles/{deobfuscationFileType}","request":null,"response":{"$ref":"DeobfuscationFilesUploadResponse"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":true,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"details":{"methods":{"get":{"description":"Fetches app details for this edit. This includes the default language and developer support contact information.","etagRequired":null,"httpMethod":"GET","id":"androidpublisher.edits.details.get","mediaUpload":null,"parameterOrder":["packageName","editId"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/details","request":null,"response":{"$ref":"AppDetails"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates app details for this edit. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"androidpublisher.edits.details.patch","mediaUpload":null,"parameterOrder":["packageName","editId"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/details","request":{"$ref":"AppDetails","parameterName":null},"response":{"$ref":"AppDetails"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates app details for this edit.","etagRequired":null,"httpMethod":"PUT","id":"androidpublisher.edits.details.update","mediaUpload":null,"parameterOrder":["packageName","editId"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/details","request":{"$ref":"AppDetails","parameterName":null},"response":{"$ref":"AppDetails"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"expansionfiles":{"methods":{"get":{"description":"Fetches the Expansion File configuration for the APK specified.","etagRequired":null,"httpMethod":"GET","id":"androidpublisher.edits.expansionfiles.get","mediaUpload":null,"parameterOrder":["packageName","editId","apkVersionCode","expansionFileType"],"parameters":{"apkVersionCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The version code of the APK whose Expansion File configuration is being read or modified.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"expansionFileType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["main","patch"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}","request":null,"response":{"$ref":"ExpansionFile"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates the APK's Expansion File configuration to reference another APK's Expansion Files. To add a new Expansion File use the Upload method. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"androidpublisher.edits.expansionfiles.patch","mediaUpload":null,"parameterOrder":["packageName","editId","apkVersionCode","expansionFileType"],"parameters":{"apkVersionCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The version code of the APK whose Expansion File configuration is being read or modified.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"expansionFileType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["main","patch"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}","request":{"$ref":"ExpansionFile","parameterName":null},"response":{"$ref":"ExpansionFile"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates the APK's Expansion File configuration to reference another APK's Expansion Files. To add a new Expansion File use the Upload method.","etagRequired":null,"httpMethod":"PUT","id":"androidpublisher.edits.expansionfiles.update","mediaUpload":null,"parameterOrder":["packageName","editId","apkVersionCode","expansionFileType"],"parameters":{"apkVersionCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The version code of the APK whose Expansion File configuration is being read or modified.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"expansionFileType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["main","patch"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}","request":{"$ref":"ExpansionFile","parameterName":null},"response":{"$ref":"ExpansionFile"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"upload":{"description":"Uploads and attaches a new Expansion File to the APK specified.","etagRequired":null,"httpMethod":"POST","id":"androidpublisher.edits.expansionfiles.upload","mediaUpload":{"accept":["application/octet-stream"],"maxSize":"2048MB","protocols":{"resumable":{"multipart":true,"path":"/resumable/upload/androidpublisher/v2/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"},"simple":{"multipart":true,"path":"/upload/androidpublisher/v2/applications/{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}"}}},"parameterOrder":["packageName","editId","apkVersionCode","expansionFileType"],"parameters":{"apkVersionCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The version code of the APK whose Expansion File configuration is being read or modified.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"expansionFileType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["main","patch"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/apks/{apkVersionCode}/expansionFiles/{expansionFileType}","request":null,"response":{"$ref":"ExpansionFilesUploadResponse"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":true,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"images":{"methods":{"delete":{"description":"Deletes the image (specified by id) from the edit.","etagRequired":null,"httpMethod":"DELETE","id":"androidpublisher.edits.images.delete","mediaUpload":null,"parameterOrder":["packageName","editId","language","imageType","imageId"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"imageId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier an image within the set of images attached to this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"imageType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["featureGraphic","icon","phoneScreenshots","promoGraphic","sevenInchScreenshots","tenInchScreenshots","tvBanner","tvScreenshots","wearScreenshots"],"enumDescriptions":["","","","","","","","",""],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language code (a BCP-47 language tag) of the localized listing whose images are to read or modified. For example, to select Austrian German, pass \"de-AT\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/listings/{language}/{imageType}/{imageId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"deleteall":{"description":"Deletes all images for the specified language and image type.","etagRequired":null,"httpMethod":"DELETE","id":"androidpublisher.edits.images.deleteall","mediaUpload":null,"parameterOrder":["packageName","editId","language","imageType"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"imageType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["featureGraphic","icon","phoneScreenshots","promoGraphic","sevenInchScreenshots","tenInchScreenshots","tvBanner","tvScreenshots","wearScreenshots"],"enumDescriptions":["","","","","","","","",""],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language code (a BCP-47 language tag) of the localized listing whose images are to read or modified. For example, to select Austrian German, pass \"de-AT\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/listings/{language}/{imageType}","request":null,"response":{"$ref":"ImagesDeleteAllResponse"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all images for the specified language and image type.","etagRequired":null,"httpMethod":"GET","id":"androidpublisher.edits.images.list","mediaUpload":null,"parameterOrder":["packageName","editId","language","imageType"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"imageType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["featureGraphic","icon","phoneScreenshots","promoGraphic","sevenInchScreenshots","tenInchScreenshots","tvBanner","tvScreenshots","wearScreenshots"],"enumDescriptions":["","","","","","","","",""],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language code (a BCP-47 language tag) of the localized listing whose images are to read or modified. For example, to select Austrian German, pass \"de-AT\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/listings/{language}/{imageType}","request":null,"response":{"$ref":"ImagesListResponse"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"upload":{"description":"Uploads a new image and adds it to the list of images for the specified language and image type.","etagRequired":null,"httpMethod":"POST","id":"androidpublisher.edits.images.upload","mediaUpload":{"accept":["image/*"],"maxSize":"15MB","protocols":{"resumable":{"multipart":true,"path":"/resumable/upload/androidpublisher/v2/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"},"simple":{"multipart":true,"path":"/upload/androidpublisher/v2/applications/{packageName}/edits/{editId}/listings/{language}/{imageType}"}}},"parameterOrder":["packageName","editId","language","imageType"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"imageType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["featureGraphic","icon","phoneScreenshots","promoGraphic","sevenInchScreenshots","tenInchScreenshots","tvBanner","tvScreenshots","wearScreenshots"],"enumDescriptions":["","","","","","","","",""],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language code (a BCP-47 language tag) of the localized listing whose images are to read or modified. For example, to select Austrian German, pass \"de-AT\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/listings/{language}/{imageType}","request":null,"response":{"$ref":"ImagesUploadResponse"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":true,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"listings":{"methods":{"delete":{"description":"Deletes the specified localized store listing from an edit.","etagRequired":null,"httpMethod":"DELETE","id":"androidpublisher.edits.listings.delete","mediaUpload":null,"parameterOrder":["packageName","editId","language"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language code (a BCP-47 language tag) of the localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/listings/{language}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"deleteall":{"description":"Deletes all localized listings from an edit.","etagRequired":null,"httpMethod":"DELETE","id":"androidpublisher.edits.listings.deleteall","mediaUpload":null,"parameterOrder":["packageName","editId"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/listings","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Fetches information about a localized store listing.","etagRequired":null,"httpMethod":"GET","id":"androidpublisher.edits.listings.get","mediaUpload":null,"parameterOrder":["packageName","editId","language"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language code (a BCP-47 language tag) of the localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/listings/{language}","request":null,"response":{"$ref":"Listing"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Returns all of the localized store listings attached to this edit.","etagRequired":null,"httpMethod":"GET","id":"androidpublisher.edits.listings.list","mediaUpload":null,"parameterOrder":["packageName","editId"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/listings","request":null,"response":{"$ref":"ListingsListResponse"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Creates or updates a localized store listing. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"androidpublisher.edits.listings.patch","mediaUpload":null,"parameterOrder":["packageName","editId","language"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language code (a BCP-47 language tag) of the localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/listings/{language}","request":{"$ref":"Listing","parameterName":null},"response":{"$ref":"Listing"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Creates or updates a localized store listing.","etagRequired":null,"httpMethod":"PUT","id":"androidpublisher.edits.listings.update","mediaUpload":null,"parameterOrder":["packageName","editId","language"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language code (a BCP-47 language tag) of the localized listing to read or modify. For example, to select Austrian German, pass \"de-AT\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/listings/{language}","request":{"$ref":"Listing","parameterName":null},"response":{"$ref":"Listing"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"testers":{"methods":{"get":{"description":null,"etagRequired":null,"httpMethod":"GET","id":"androidpublisher.edits.testers.get","mediaUpload":null,"parameterOrder":["packageName","editId","track"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"track":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["alpha","beta","production","rollout"],"enumDescriptions":["","","",""],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/testers/{track}","request":null,"response":{"$ref":"Testers"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":null,"etagRequired":null,"httpMethod":"PATCH","id":"androidpublisher.edits.testers.patch","mediaUpload":null,"parameterOrder":["packageName","editId","track"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"track":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["alpha","beta","production","rollout"],"enumDescriptions":["","","",""],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/testers/{track}","request":{"$ref":"Testers","parameterName":null},"response":{"$ref":"Testers"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":null,"etagRequired":null,"httpMethod":"PUT","id":"androidpublisher.edits.testers.update","mediaUpload":null,"parameterOrder":["packageName","editId","track"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"track":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["alpha","beta","production","rollout"],"enumDescriptions":["","","",""],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/testers/{track}","request":{"$ref":"Testers","parameterName":null},"response":{"$ref":"Testers"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"tracks":{"methods":{"get":{"description":"Fetches the track configuration for the specified track type. Includes the APK version codes that are in this track.","etagRequired":null,"httpMethod":"GET","id":"androidpublisher.edits.tracks.get","mediaUpload":null,"parameterOrder":["packageName","editId","track"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"track":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The track type to read or modify.","enum":["alpha","beta","production","rollout"],"enumDescriptions":["","","",""],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/tracks/{track}","request":null,"response":{"$ref":"Track"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all the track configurations for this edit.","etagRequired":null,"httpMethod":"GET","id":"androidpublisher.edits.tracks.list","mediaUpload":null,"parameterOrder":["packageName","editId"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/tracks","request":null,"response":{"$ref":"TracksListResponse"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates the track configuration for the specified track type. When halted, the rollout track cannot be updated without adding new APKs, and adding new APKs will cause it to resume. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"androidpublisher.edits.tracks.patch","mediaUpload":null,"parameterOrder":["packageName","editId","track"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"track":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The track type to read or modify.","enum":["alpha","beta","production","rollout"],"enumDescriptions":["","","",""],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/tracks/{track}","request":{"$ref":"Track","parameterName":null},"response":{"$ref":"Track"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates the track configuration for the specified track type. When halted, the rollout track cannot be updated without adding new APKs, and adding new APKs will cause it to resume.","etagRequired":null,"httpMethod":"PUT","id":"androidpublisher.edits.tracks.update","mediaUpload":null,"parameterOrder":["packageName","editId","track"],"parameters":{"editId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for this edit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app that is being updated; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"track":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The track type to read or modify.","enum":["alpha","beta","production","rollout"],"enumDescriptions":["","","",""],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/edits/{editId}/tracks/{track}","request":{"$ref":"Track","parameterName":null},"response":{"$ref":"Track"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"entitlements":{"methods":{"list":{"description":"Lists the user's current inapp item or subscription entitlements","etagRequired":null,"httpMethod":"GET","id":"androidpublisher.entitlements.list","mediaUpload":null,"parameterOrder":["packageName"],"parameters":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The package name of the application the inapp product was sold in (for example, 'com.some.thing').","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"productId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The product id of the inapp product (for example, 'sku1'). This can be used to restrict the result set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startIndex":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/entitlements","request":null,"response":{"$ref":"EntitlementsListResponse"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"inappproducts":{"methods":{"batch":{"description":null,"etagRequired":null,"httpMethod":"POST","id":"androidpublisher.inappproducts.batch","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"inappproducts/batch","request":{"$ref":"InappproductsBatchRequest","parameterName":null},"response":{"$ref":"InappproductsBatchResponse"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Delete an in-app product for an app.","etagRequired":null,"httpMethod":"DELETE","id":"androidpublisher.inappproducts.delete","mediaUpload":null,"parameterOrder":["packageName","sku"],"parameters":{"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app with the in-app product; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sku":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the in-app product.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/inappproducts/{sku}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns information about the in-app product specified.","etagRequired":null,"httpMethod":"GET","id":"androidpublisher.inappproducts.get","mediaUpload":null,"parameterOrder":["packageName","sku"],"parameters":{"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sku":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the in-app product.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/inappproducts/{sku}","request":null,"response":{"$ref":"InAppProduct"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a new in-app product for an app.","etagRequired":null,"httpMethod":"POST","id":"androidpublisher.inappproducts.insert","mediaUpload":null,"parameterOrder":["packageName"],"parameters":{"autoConvertMissingPrices":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/inappproducts","request":{"$ref":"InAppProduct","parameterName":null},"response":{"$ref":"InAppProduct"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List all the in-app products for an Android app, both subscriptions and managed in-app products..","etagRequired":null,"httpMethod":"GET","id":"androidpublisher.inappproducts.list","mediaUpload":null,"parameterOrder":["packageName"],"parameters":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app with in-app products; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"startIndex":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/inappproducts","request":null,"response":{"$ref":"InappproductsListResponse"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates the details of an in-app product. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"androidpublisher.inappproducts.patch","mediaUpload":null,"parameterOrder":["packageName","sku"],"parameters":{"autoConvertMissingPrices":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app with the in-app product; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sku":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the in-app product.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/inappproducts/{sku}","request":{"$ref":"InAppProduct","parameterName":null},"response":{"$ref":"InAppProduct"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates the details of an in-app product.","etagRequired":null,"httpMethod":"PUT","id":"androidpublisher.inappproducts.update","mediaUpload":null,"parameterOrder":["packageName","sku"],"parameters":{"autoConvertMissingPrices":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If true the prices for all regions targeted by the parent app that don't have a price specified for this in-app product will be auto converted to the target currency based on the default price. Defaults to false.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the Android app with the in-app product; for example, \"com.spiffygame\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sku":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the in-app product.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/inappproducts/{sku}","request":{"$ref":"InAppProduct","parameterName":null},"response":{"$ref":"InAppProduct"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"purchases":{"methods":null,"resources":{"products":{"methods":{"get":{"description":"Checks the purchase and consumption status of an inapp item.","etagRequired":null,"httpMethod":"GET","id":"androidpublisher.purchases.products.get","mediaUpload":null,"parameterOrder":["packageName","productId","token"],"parameters":{"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The package name of the application the inapp product was sold in (for example, 'com.some.thing').","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"productId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The inapp product SKU (for example, 'com.some.thing.inapp1').","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token provided to the user's device when the inapp product was purchased.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/purchases/products/{productId}/tokens/{token}","request":null,"response":{"$ref":"ProductPurchase"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"subscriptions":{"methods":{"cancel":{"description":"Cancels a user's subscription purchase. The subscription remains valid until its expiration time.","etagRequired":null,"httpMethod":"POST","id":"androidpublisher.purchases.subscriptions.cancel","mediaUpload":null,"parameterOrder":["packageName","subscriptionId","token"],"parameters":{"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The package name of the application for which this subscription was purchased (for example, 'com.some.thing').","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"subscriptionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The purchased subscription ID (for example, 'monthly001').","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token provided to the user's device when the subscription was purchased.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:cancel","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"defer":{"description":"Defers a user's subscription purchase until a specified future expiration time.","etagRequired":null,"httpMethod":"POST","id":"androidpublisher.purchases.subscriptions.defer","mediaUpload":null,"parameterOrder":["packageName","subscriptionId","token"],"parameters":{"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The package name of the application for which this subscription was purchased (for example, 'com.some.thing').","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"subscriptionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The purchased subscription ID (for example, 'monthly001').","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token provided to the user's device when the subscription was purchased.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}:defer","request":{"$ref":"SubscriptionPurchasesDeferRequest","parameterName":null},"response":{"$ref":"SubscriptionPurchasesDeferResponse"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Checks whether a user's subscription purchase is valid and returns its expiry time.","etagRequired":null,"httpMethod":"GET","id":"androidpublisher.purchases.subscriptions.get","mediaUpload":null,"parameterOrder":["packageName","subscriptionId","token"],"parameters":{"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The package name of the application for which this subscription was purchased (for example, 'com.some.thing').","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"subscriptionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The purchased subscription ID (for example, 'monthly001').","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token provided to the user's device when the subscription was purchased.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{packageName}/purchases/subscriptions/{subscriptionId}/tokens/{token}","request":null,"response":{"$ref":"SubscriptionPurchase"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"refund":{"d
[...]
