{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/androidenterprise":{"description":"Manage corporate Android devices"}}}},"basePath":"/androidenterprise/v1/","baseUrl":"https://www.googleapis.com/androidenterprise/v1/","batchPath":"batch/androidenterprise/v1","canonicalName":"Android Enterprise","description":"Manages the deployment of apps to Android for Work users.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/android/work/play/emm-api","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/7UslSb60TeW6KI2iSku03nsKFWw\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.google.com/images/icons/product/android-16.png","x32":"https://www.google.com/images/icons/product/android-32.png"},"id":"androidenterprise:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"androidenterprise","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"devices":{"methods":{"get":{"description":"Retrieves the details of a device.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.devices.get","mediaUpload":null,"parameterOrder":["enterpriseId","userId","deviceId"],"parameters":{"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}","request":null,"response":{"$ref":"Device"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getState":{"description":"Retrieves whether a device's access to Google services is enabled or disabled. The device state takes effect only if enforcing EMM policies on Android devices is enabled in the Google Admin Console. Otherwise, the device state is ignored and all devices are allowed access to Google services. This is only supported for Google-managed users.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.devices.getState","mediaUpload":null,"parameterOrder":["enterpriseId","userId","deviceId"],"parameters":{"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state","request":null,"response":{"$ref":"DeviceState"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves the IDs of all of a user's devices.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.devices.list","mediaUpload":null,"parameterOrder":["enterpriseId","userId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/devices","request":null,"response":{"$ref":"DevicesListResponse"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"setState":{"description":"Sets whether a device's access to Google services is enabled or disabled. The device state takes effect only if enforcing EMM policies on Android devices is enabled in the Google Admin Console. Otherwise, the device state is ignored and all devices are allowed access to Google services. This is only supported for Google-managed users.","etagRequired":null,"httpMethod":"PUT","id":"androidenterprise.devices.setState","mediaUpload":null,"parameterOrder":["enterpriseId","userId","deviceId"],"parameters":{"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/state","request":{"$ref":"DeviceState","parameterName":null},"response":{"$ref":"DeviceState"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"enterprises":{"methods":{"acknowledgeNotificationSet":{"description":"Acknowledges notifications that were received from Enterprises.PullNotificationSet to prevent subsequent calls from returning the same notifications.","etagRequired":null,"httpMethod":"POST","id":"androidenterprise.enterprises.acknowledgeNotificationSet","mediaUpload":null,"parameterOrder":null,"parameters":{"notificationSetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The notification set ID as returned by Enterprises.PullNotificationSet. This must be provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"enterprises/acknowledgeNotificationSet","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"completeSignup":{"description":"Completes the signup flow, by specifying the Completion token and Enterprise token. This request must not be called multiple times for a given Enterprise Token.","etagRequired":null,"httpMethod":"POST","id":"androidenterprise.enterprises.completeSignup","mediaUpload":null,"parameterOrder":null,"parameters":{"completionToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Completion token initially returned by GenerateSignupUrl.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"enterpriseToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Enterprise token appended to the Callback URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"enterprises/completeSignup","request":null,"response":{"$ref":"Enterprise"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"createWebToken":{"description":"Returns a unique token to access an embeddable UI. To generate a web UI, pass the generated token into the managed Google Play javascript API. Each token may only be used to start one UI session. See the javascript API documentation for further information.","etagRequired":null,"httpMethod":"POST","id":"androidenterprise.enterprises.createWebToken","mediaUpload":null,"parameterOrder":["enterpriseId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/createWebToken","request":{"$ref":"AdministratorWebTokenSpec","parameterName":null},"response":{"$ref":"AdministratorWebToken"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes the binding between the EMM and enterprise. This is now deprecated. Use this method only to unenroll customers that were previously enrolled with the insert call, then enroll them again with the enroll call.","etagRequired":null,"httpMethod":"DELETE","id":"androidenterprise.enterprises.delete","mediaUpload":null,"parameterOrder":["enterpriseId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"enroll":{"description":"Enrolls an enterprise with the calling EMM.","etagRequired":null,"httpMethod":"POST","id":"androidenterprise.enterprises.enroll","mediaUpload":null,"parameterOrder":["token"],"parameters":{"token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token provided by the enterprise to register the EMM.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/enroll","request":{"$ref":"Enterprise","parameterName":null},"response":{"$ref":"Enterprise"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"generateSignupUrl":{"description":"Generates a sign-up URL.","etagRequired":null,"httpMethod":"POST","id":"androidenterprise.enterprises.generateSignupUrl","mediaUpload":null,"parameterOrder":null,"parameters":{"callbackUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The callback URL to which the Admin will be redirected after successfully creating an enterprise. Before redirecting there the system will add a single query parameter to this URL named \"enterpriseToken\" which will contain an opaque token to be used for the CompleteSignup request.\nBeware that this means that the URL will be parsed, the parameter added and then a new URL formatted, i.e. there may be some minor formatting changes and, more importantly, the URL must be well-formed so that it can be parsed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"enterprises/signupUrl","request":null,"response":{"$ref":"SignupInfo"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves the name and domain of an enterprise.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.enterprises.get","mediaUpload":null,"parameterOrder":["enterpriseId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}","request":null,"response":{"$ref":"Enterprise"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getAndroidDevicePolicyConfig":{"description":"Returns the Android Device Policy config resource.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.enterprises.getAndroidDevicePolicyConfig","mediaUpload":null,"parameterOrder":["enterpriseId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/androidDevicePolicyConfig","request":null,"response":{"$ref":"AndroidDevicePolicyConfig"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getServiceAccount":{"description":"Returns a service account and credentials. The service account can be bound to the enterprise by calling setAccount. The service account is unique to this enterprise and EMM, and will be deleted if the enterprise is unbound. The credentials contain private key data and are not stored server-side.\n\nThis method can only be called after calling Enterprises.Enroll or Enterprises.CompleteSignup, and before Enterprises.SetAccount; at other times it will return an error.\n\nSubsequent calls after the first will generate a new, unique set of credentials, and invalidate the previously generated credentials.\n\nOnce the service account is bound to the enterprise, it can be managed using the serviceAccountKeys resource.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.enterprises.getServiceAccount","mediaUpload":null,"parameterOrder":["enterpriseId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"keyType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of credential to return with the service account. Required.","enum":["googleCredentials","pkcs12"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/serviceAccount","request":null,"response":{"$ref":"ServiceAccount"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getStoreLayout":{"description":"Returns the store layout for the enterprise. If the store layout has not been set, returns \"basic\" as the store layout type and no homepage.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.enterprises.getStoreLayout","mediaUpload":null,"parameterOrder":["enterpriseId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/storeLayout","request":null,"response":{"$ref":"StoreLayout"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Establishes the binding between the EMM and an enterprise. This is now deprecated; use enroll instead.","etagRequired":null,"httpMethod":"POST","id":"androidenterprise.enterprises.insert","mediaUpload":null,"parameterOrder":["token"],"parameters":{"token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token provided by the enterprise to register the EMM.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises","request":{"$ref":"Enterprise","parameterName":null},"response":{"$ref":"Enterprise"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Looks up an enterprise by domain name. This is only supported for enterprises created via the Google-initiated creation flow. Lookup of the id is not needed for enterprises created via the EMM-initiated flow since the EMM learns the enterprise ID in the callback specified in the Enterprises.generateSignupUrl call.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.enterprises.list","mediaUpload":null,"parameterOrder":["domain"],"parameters":{"domain":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The exact primary domain name of the enterprise to look up.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises","request":null,"response":{"$ref":"EnterprisesListResponse"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"pullNotificationSet":{"description":"Pulls and returns a notification set for the enterprises associated with the service account authenticated for the request. The notification set may be empty if no notification are pending.\nA notification set returned needs to be acknowledged within 20 seconds by calling Enterprises.AcknowledgeNotificationSet, unless the notification set is empty.\nNotifications that are not acknowledged within the 20 seconds will eventually be included again in the response to another PullNotificationSet request, and those that are never acknowledged will ultimately be deleted according to the Google Cloud Platform Pub/Sub system policy.\nMultiple requests might be performed concurrently to retrieve notifications, in which case the pending notifications (if any) will be split among each caller, if any are pending.\nIf no notifications are present, an empty notification list is returned. Subsequent requests may return more notifications once they become available.","etagRequired":null,"httpMethod":"POST","id":"androidenterprise.enterprises.pullNotificationSet","mediaUpload":null,"parameterOrder":null,"parameters":{"requestMode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The request mode for pulling notifications.\nSpecifying waitForNotifications will cause the request to block and wait until one or more notifications are present, or return an empty notification list if no notifications are present after some time.\nSpeciying returnImmediately will cause the request to immediately return the pending notifications, or an empty list if no notifications are present.\nIf omitted, defaults to waitForNotifications.","enum":["returnImmediately","waitForNotifications"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"enterprises/pullNotificationSet","request":null,"response":{"$ref":"NotificationSet"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"sendTestPushNotification":{"description":"Sends a test notification to validate the EMM integration with the Google Cloud Pub/Sub service for this enterprise.","etagRequired":null,"httpMethod":"POST","id":"androidenterprise.enterprises.sendTestPushNotification","mediaUpload":null,"parameterOrder":["enterpriseId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/sendTestPushNotification","request":null,"response":{"$ref":"EnterprisesSendTestPushNotificationResponse"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"setAccount":{"description":"Sets the account that will be used to authenticate to the API as the enterprise.","etagRequired":null,"httpMethod":"PUT","id":"androidenterprise.enterprises.setAccount","mediaUpload":null,"parameterOrder":["enterpriseId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/account","request":{"$ref":"EnterpriseAccount","parameterName":null},"response":{"$ref":"EnterpriseAccount"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"setAndroidDevicePolicyConfig":{"description":"Sets the Android Device Policy config resource. EMM may use this method to enable or disable Android Device Policy support for the specified enterprise. To learn more about managing devices and apps with Android Device Policy, see the Android Management API.","etagRequired":null,"httpMethod":"PUT","id":"androidenterprise.enterprises.setAndroidDevicePolicyConfig","mediaUpload":null,"parameterOrder":["enterpriseId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/androidDevicePolicyConfig","request":{"$ref":"AndroidDevicePolicyConfig","parameterName":null},"response":{"$ref":"AndroidDevicePolicyConfig"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"setStoreLayout":{"description":"Sets the store layout for the enterprise. By default, storeLayoutType is set to \"basic\" and the basic store layout is enabled. The basic layout only contains apps approved by the admin, and that have been added to the available product set for a user (using the  setAvailableProductSet call). Apps on the page are sorted in order of their product ID value. If you create a custom store layout (by setting storeLayoutType = \"custom\" and setting a homepage), the basic store layout is disabled.","etagRequired":null,"httpMethod":"PUT","id":"androidenterprise.enterprises.setStoreLayout","mediaUpload":null,"parameterOrder":["enterpriseId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/storeLayout","request":{"$ref":"StoreLayout","parameterName":null},"response":{"$ref":"StoreLayout"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"unenroll":{"description":"Unenrolls an enterprise from the calling EMM.","etagRequired":null,"httpMethod":"POST","id":"androidenterprise.enterprises.unenroll","mediaUpload":null,"parameterOrder":["enterpriseId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/unenroll","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"entitlements":{"methods":{"delete":{"description":"Removes an entitlement to an app for a user.","etagRequired":null,"httpMethod":"DELETE","id":"androidenterprise.entitlements.delete","mediaUpload":null,"parameterOrder":["enterpriseId","userId","entitlementId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entitlementId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the entitlement (a product ID), e.g. \"app:com.google.android.gm\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves details of an entitlement.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.entitlements.get","mediaUpload":null,"parameterOrder":["enterpriseId","userId","entitlementId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entitlementId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the entitlement (a product ID), e.g. \"app:com.google.android.gm\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}","request":null,"response":{"$ref":"Entitlement"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all entitlements for the specified user. Only the ID is set.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.entitlements.list","mediaUpload":null,"parameterOrder":["enterpriseId","userId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/entitlements","request":null,"response":{"$ref":"EntitlementsListResponse"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Adds or updates an entitlement to an app for a user. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"androidenterprise.entitlements.patch","mediaUpload":null,"parameterOrder":["enterpriseId","userId","entitlementId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entitlementId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the entitlement (a product ID), e.g. \"app:com.google.android.gm\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"install":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set to true to also install the product on all the user's devices where possible. Failure to install on one or more devices will not prevent this operation from returning successfully, as long as the entitlement was successfully assigned to the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}","request":{"$ref":"Entitlement","parameterName":null},"response":{"$ref":"Entitlement"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Adds or updates an entitlement to an app for a user.","etagRequired":null,"httpMethod":"PUT","id":"androidenterprise.entitlements.update","mediaUpload":null,"parameterOrder":["enterpriseId","userId","entitlementId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entitlementId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the entitlement (a product ID), e.g. \"app:com.google.android.gm\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"install":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set to true to also install the product on all the user's devices where possible. Failure to install on one or more devices will not prevent this operation from returning successfully, as long as the entitlement was successfully assigned to the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/entitlements/{entitlementId}","request":{"$ref":"Entitlement","parameterName":null},"response":{"$ref":"Entitlement"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"grouplicenses":{"methods":{"get":{"description":"Retrieves details of an enterprise's group license for a product.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.grouplicenses.get","mediaUpload":null,"parameterOrder":["enterpriseId","groupLicenseId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"groupLicenseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the product the group license is for, e.g. \"app:com.google.android.gm\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}","request":null,"response":{"$ref":"GroupLicense"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves IDs of all products for which the enterprise has a group license.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.grouplicenses.list","mediaUpload":null,"parameterOrder":["enterpriseId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/groupLicenses","request":null,"response":{"$ref":"GroupLicensesListResponse"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"grouplicenseusers":{"methods":{"list":{"description":"Retrieves the IDs of the users who have been granted entitlements under the license.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.grouplicenseusers.list","mediaUpload":null,"parameterOrder":["enterpriseId","groupLicenseId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"groupLicenseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the product the group license is for, e.g. \"app:com.google.android.gm\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/groupLicenses/{groupLicenseId}/users","request":null,"response":{"$ref":"GroupLicenseUsersListResponse"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"installs":{"methods":{"delete":{"description":"Requests to remove an app from a device. A call to get or list will still show the app as installed on the device until it is actually removed.","etagRequired":null,"httpMethod":"DELETE","id":"androidenterprise.installs.delete","mediaUpload":null,"parameterOrder":["enterpriseId","userId","deviceId","installId"],"parameters":{"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Android ID of the device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"installId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves details of an installation of an app on a device.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.installs.get","mediaUpload":null,"parameterOrder":["enterpriseId","userId","deviceId","installId"],"parameters":{"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Android ID of the device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"installId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}","request":null,"response":{"$ref":"Install"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves the details of all apps installed on the specified device.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.installs.list","mediaUpload":null,"parameterOrder":["enterpriseId","userId","deviceId"],"parameters":{"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Android ID of the device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs","request":null,"response":{"$ref":"InstallsListResponse"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Requests to install the latest version of an app to a device. If the app is already installed, then it is updated to the latest version if necessary. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"androidenterprise.installs.patch","mediaUpload":null,"parameterOrder":["enterpriseId","userId","deviceId","installId"],"parameters":{"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Android ID of the device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"installId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}","request":{"$ref":"Install","parameterName":null},"response":{"$ref":"Install"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Requests to install the latest version of an app to a device. If the app is already installed, then it is updated to the latest version if necessary.","etagRequired":null,"httpMethod":"PUT","id":"androidenterprise.installs.update","mediaUpload":null,"parameterOrder":["enterpriseId","userId","deviceId","installId"],"parameters":{"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Android ID of the device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"installId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the product represented by the install, e.g. \"app:com.google.android.gm\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/installs/{installId}","request":{"$ref":"Install","parameterName":null},"response":{"$ref":"Install"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"managedconfigurationsfordevice":{"methods":{"delete":{"description":"Removes a per-device managed configuration for an app for the specified device.","etagRequired":null,"httpMethod":"DELETE","id":"androidenterprise.managedconfigurationsfordevice.delete","mediaUpload":null,"parameterOrder":["enterpriseId","userId","deviceId","managedConfigurationForDeviceId"],"parameters":{"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Android ID of the device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"managedConfigurationForDeviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves details of a per-device managed configuration.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.managedconfigurationsfordevice.get","mediaUpload":null,"parameterOrder":["enterpriseId","userId","deviceId","managedConfigurationForDeviceId"],"parameters":{"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Android ID of the device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"managedConfigurationForDeviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}","request":null,"response":{"$ref":"ManagedConfiguration"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all the per-device managed configurations for the specified device. Only the ID is set.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.managedconfigurationsfordevice.list","mediaUpload":null,"parameterOrder":["enterpriseId","userId","deviceId"],"parameters":{"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Android ID of the device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice","request":null,"response":{"$ref":"ManagedConfigurationsForDeviceListResponse"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Adds or updates a per-device managed configuration for an app for the specified device. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"androidenterprise.managedconfigurationsfordevice.patch","mediaUpload":null,"parameterOrder":["enterpriseId","userId","deviceId","managedConfigurationForDeviceId"],"parameters":{"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Android ID of the device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"managedConfigurationForDeviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}","request":{"$ref":"ManagedConfiguration","parameterName":null},"response":{"$ref":"ManagedConfiguration"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Adds or updates a per-device managed configuration for an app for the specified device.","etagRequired":null,"httpMethod":"PUT","id":"androidenterprise.managedconfigurationsfordevice.update","mediaUpload":null,"parameterOrder":["enterpriseId","userId","deviceId","managedConfigurationForDeviceId"],"parameters":{"deviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Android ID of the device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"managedConfigurationForDeviceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/devices/{deviceId}/managedConfigurationsForDevice/{managedConfigurationForDeviceId}","request":{"$ref":"ManagedConfiguration","parameterName":null},"response":{"$ref":"ManagedConfiguration"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"managedconfigurationsforuser":{"methods":{"delete":{"description":"Removes a per-user managed configuration for an app for the specified user.","etagRequired":null,"httpMethod":"DELETE","id":"androidenterprise.managedconfigurationsforuser.delete","mediaUpload":null,"parameterOrder":["enterpriseId","userId","managedConfigurationForUserId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"managedConfigurationForUserId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves details of a per-user managed configuration for an app for the specified user.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.managedconfigurationsforuser.get","mediaUpload":null,"parameterOrder":["enterpriseId","userId","managedConfigurationForUserId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"managedConfigurationForUserId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}","request":null,"response":{"$ref":"ManagedConfiguration"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all the per-user managed configurations for the specified user. Only the ID is set.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.managedconfigurationsforuser.list","mediaUpload":null,"parameterOrder":["enterpriseId","userId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser","request":null,"response":{"$ref":"ManagedConfigurationsForUserListResponse"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Adds or updates a per-user managed configuration for an app for the specified user. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"androidenterprise.managedconfigurationsforuser.patch","mediaUpload":null,"parameterOrder":["enterpriseId","userId","managedConfigurationForUserId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"managedConfigurationForUserId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}","request":{"$ref":"ManagedConfiguration","parameterName":null},"response":{"$ref":"ManagedConfiguration"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Adds or updates a per-user managed configuration for an app for the specified user.","etagRequired":null,"httpMethod":"PUT","id":"androidenterprise.managedconfigurationsforuser.update","mediaUpload":null,"parameterOrder":["enterpriseId","userId","managedConfigurationForUserId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"managedConfigurationForUserId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managed configuration (a product ID), e.g. \"app:com.google.android.gm\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/users/{userId}/managedConfigurationsForUser/{managedConfigurationForUserId}","request":{"$ref":"ManagedConfiguration","parameterName":null},"response":{"$ref":"ManagedConfiguration"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"permissions":{"methods":{"get":{"description":"Retrieves details of an Android app permission for display to an enterprise admin.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.permissions.get","mediaUpload":null,"parameterOrder":["permissionId"],"parameters":{"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\")","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"permissionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the permission.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"permissions/{permissionId}","request":null,"response":{"$ref":"Permission"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"products":{"methods":{"approve":{"description":"Approves the specified product and the relevant app permissions, if any. The maximum number of products that you can approve per enterprise customer is 1,000.\n\nTo learn how to use managed Google Play to design and create a store layout to display approved products to your users, see Store Layout Design.","etagRequired":null,"httpMethod":"POST","id":"androidenterprise.products.approve","mediaUpload":null,"parameterOrder":["enterpriseId","productId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"productId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the product.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/products/{productId}/approve","request":{"$ref":"ProductsApproveRequest","parameterName":null},"response":null,"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"generateApprovalUrl":{"description":"Generates a URL that can be rendered in an iframe to display the permissions (if any) of a product. An enterprise admin must view these permissions and accept them on behalf of their organization in order to approve that product.\n\nAdmins should accept the displayed permissions by interacting with a separate UI element in the EMM console, which in turn should trigger the use of this URL as the approvalUrlInfo.approvalUrl property in a Products.approve call to approve the product. This URL can only be used to display permissions for up to 1 day.","etagRequired":null,"httpMethod":"POST","id":"androidenterprise.products.generateApprovalUrl","mediaUpload":null,"parameterOrder":["enterpriseId","productId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"languageCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The BCP 47 language code used for permission names and descriptions in the returned iframe, for instance \"en-US\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"productId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the product.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/products/{productId}/generateApprovalUrl","request":null,"response":{"$ref":"ProductsGenerateApprovalUrlResponse"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves details of a product for display to an enterprise admin.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.products.get","mediaUpload":null,"parameterOrder":["enterpriseId","productId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"productId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the product, e.g. \"app:com.google.android.gm\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/products/{productId}","request":null,"response":{"$ref":"Product"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getAppRestrictionsSchema":{"description":"Retrieves the schema that defines the configurable properties for this product. All products have a schema, but this schema may be empty if no managed configurations have been defined. This schema can be used to populate a UI that allows an admin to configure the product. To apply a managed configuration based on the schema obtained using this API, see Managed Configurations through Play.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.products.getAppRestrictionsSchema","mediaUpload":null,"parameterOrder":["enterpriseId","productId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"productId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the product.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/products/{productId}/appRestrictionsSchema","request":null,"response":{"$ref":"AppRestrictionsSchema"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getPermissions":{"description":"Retrieves the Android app permissions required by this app.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.products.getPermissions","mediaUpload":null,"parameterOrder":["enterpriseId","productId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"productId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the product.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/products/{productId}/permissions","request":null,"response":{"$ref":"ProductPermissions"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Finds approved products that match a query, or all approved products if there is no query.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.products.list","mediaUpload":null,"parameterOrder":["enterpriseId"],"parameters":{"approved":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies whether to search among all products (false) or among only products that have been approved (true). Only \"true\" is supported, and should be specified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The BCP47 tag for the user's preferred language (e.g. \"en-US\", \"de\"). Results are returned in the language best matching the preferred language.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies the maximum number of products that can be returned per request. If not specified, uses a default value of 100, which is also the maximum retrievable within a single response.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"query":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The search query as typed in the Google Play store search box. If omitted, all approved apps will be returned (using the pagination parameters), including apps that are not available in the store (e.g. unpublished apps).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A pagination token is contained in a request''s response when there are more products. The token can be used in a subsequent request to obtain more products, and so forth. This parameter cannot be used in the initial request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/products","request":null,"response":{"$ref":"ProductsListResponse"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"unapprove":{"description":"Unapproves the specified product (and the relevant app permissions, if any)","etagRequired":null,"httpMethod":"POST","id":"androidenterprise.products.unapprove","mediaUpload":null,"parameterOrder":["enterpriseId","productId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"productId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the product.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/products/{productId}/unapprove","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"serviceaccountkeys":{"methods":{"delete":{"description":"Removes and invalidates the specified credentials for the service account associated with this enterprise. The calling service account must have been retrieved by calling Enterprises.GetServiceAccount and must have been set as the enterprise service account by calling Enterprises.SetAccount.","etagRequired":null,"httpMethod":"DELETE","id":"androidenterprise.serviceaccountkeys.delete","mediaUpload":null,"parameterOrder":["enterpriseId","keyId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"keyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the key.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/serviceAccountKeys/{keyId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Generates new credentials for the service account associated with this enterprise. The calling service account must have been retrieved by calling Enterprises.GetServiceAccount and must have been set as the enterprise service account by calling Enterprises.SetAccount.\n\nOnly the type of the key should be populated in the resource to be inserted.","etagRequired":null,"httpMethod":"POST","id":"androidenterprise.serviceaccountkeys.insert","mediaUpload":null,"parameterOrder":["enterpriseId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/serviceAccountKeys","request":{"$ref":"ServiceAccountKey","parameterName":null},"response":{"$ref":"ServiceAccountKey"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all active credentials for the service account associated with this enterprise. Only the ID and key type are returned. The calling service account must have been retrieved by calling Enterprises.GetServiceAccount and must have been set as the enterprise service account by calling Enterprises.SetAccount.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.serviceaccountkeys.list","mediaUpload":null,"parameterOrder":["enterpriseId"],"parameters":{"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/serviceAccountKeys","request":null,"response":{"$ref":"ServiceAccountKeysListResponse"},"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"storelayoutclusters":{"methods":{"delete":{"description":"Deletes a cluster.","etagRequired":null,"httpMethod":"DELETE","id":"androidenterprise.storelayoutclusters.delete","mediaUpload":null,"parameterOrder":["enterpriseId","pageId","clusterId"],"parameters":{"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the cluster.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/androidenterprise"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves details of a cluster.","etagRequired":null,"httpMethod":"GET","id":"androidenterprise.storelayoutclusters.get","mediaUpload":null,"parameterOrder":["enterpriseId","pageId","clusterId"],"parameters":{"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the cluster.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"enterpriseId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the enterprise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"enterprises/{enterpriseId}/storeLayout/pages/{pageId}/clusters/{clusterId}","request":
[...]
