{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/activity":{"description":"View the activity history of your Google apps"},"https://www.googleapis.com/auth/drive":{"description":"View and manage the files in your Google Drive"},"https://www.googleapis.com/auth/drive.metadata":{"description":"View and manage metadata of files in your Google Drive"},"https://www.googleapis.com/auth/drive.metadata.readonly":{"description":"View metadata for files in your Google Drive"},"https://www.googleapis.com/auth/drive.readonly":{"description":"View the files in your Google Drive"}}}},"basePath":"/appsactivity/v1/","baseUrl":"https://www.googleapis.com/appsactivity/v1/","batchPath":"batch/appsactivity/v1","canonicalName":null,"description":"Provides a historical view of activity.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/google-apps/activity/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/kFAnMJNmaN64ynO6wl0fvbppm7Y\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png","x32":"https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"},"id":"appsactivity:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"appsactivity","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"activities":{"methods":{"list":{"description":"Returns a list of activities visible to the current logged in user. Visible activities are determined by the visiblity settings of the object that was acted on, e.g. Drive files a user can see. An activity is a record of past events. Multiple events may be merged if they are similar. A request is scoped to activities from a given Google service using the source parameter.","etagRequired":null,"httpMethod":"GET","id":"appsactivity.activities.list","mediaUpload":null,"parameterOrder":null,"parameters":{"drive.ancestorId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the Drive folder containing the items for which to return activities.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"drive.fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the Drive item to return activities for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"groupingStrategy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"driveUi","description":"Indicates the strategy to use when grouping singleEvents items in the associated combinedEvent object.","enum":["driveUi","none"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"50","description":"The maximum number of events to return on a page. The response includes a continuation token if there are more events.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token to retrieve a specific page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google service from which to return activities. Possible values of source are: \n- drive.google.com","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"Indicates the user to return activity for. Use the special value me to indicate the currently authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"activities","request":null,"response":{"$ref":"ListActivitiesResponse"},"scopes":["https://www.googleapis.com/auth/activity","https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20170926","rootUrl":"https://www.googleapis.com/","schemas":{"Activity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An Activity resource is a combined view of multiple events. An activity has a list of individual events and a combined view of the common fields among all events.","enum":null,"enumDescriptions":null,"format":null,"id":"Activity","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"combinedEvent":{"$ref":"Event","additionalProperties":null,"annotations":null,"default":null,"description":"The fields common to all of the singleEvents that make up the Activity.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"singleEvents":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of all the Events that make up the Activity.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Event","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Event":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents the changes associated with an action taken by a user.","enum":null,"enumDescriptions":null,"format":null,"id":"Event","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"additionalEventTypes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Additional event types. Some events may have multiple types when multiple actions are part of a single event. For example, creating a document, renaming it, and sharing it may be part of a single file-creation event.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["comment","create","edit","emptyTrash","move","permissionChange","rename","trash","unknown","untrash","upload"],"enumDescriptions":["","","","","","","","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"eventTimeMillis":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time at which the event occurred formatted as Unix time in milliseconds.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fromUserDeletion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether this event is caused by a user being deleted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"move":{"$ref":"Move","additionalProperties":null,"annotations":null,"default":null,"description":"Extra information for move type events, such as changes in an object's parents.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"permissionChanges":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Extra information for permissionChange type events, such as the user or group the new permission applies to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"PermissionChange","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"primaryEventType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The main type of event that occurred.","enum":["comment","create","edit","emptyTrash","move","permissionChange","rename","trash","unknown","untrash","upload"],"enumDescriptions":["","","","","","","","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"rename":{"$ref":"Rename","additionalProperties":null,"annotations":null,"default":null,"description":"Extra information for rename type events, such as the old and new names.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"target":{"$ref":"Target","additionalProperties":null,"annotations":null,"default":null,"description":"Information specific to the Target object modified by the event.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"user":{"$ref":"User","additionalProperties":null,"annotations":null,"default":null,"description":"Represents the user responsible for the event.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListActivitiesResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response from the list request. Contains a list of activities and a token to retrieve the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":"ListActivitiesResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"activities":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of activities.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Activity","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token for the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Move":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Contains information about changes in an object's parents as a result of a move type event.","enum":null,"enumDescriptions":null,"format":null,"id":"Move","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"addedParents":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The added parent(s).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Parent","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"removedParents":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The removed parent(s).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Parent","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Contains information about a parent object. For example, a folder in Drive is a parent for all files within it.","enum":null,"enumDescriptions":null,"format":null,"id":"Parent","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The parent's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"isRoot":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether this is the root folder.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"title":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The parent's title.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Permission":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Contains information about the permissions and type of access allowed with regards to a Google Drive object. This is a subset of the fields contained in a corresponding Drive Permissions object.","enum":null,"enumDescriptions":null,"format":null,"id":"Permission","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the user or group the permission applies to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"permissionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID for this permission. Corresponds to the Drive API's permission ID returned as part of the Drive Permissions resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"role":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Indicates the Google Drive permissions role. The role determines a user's ability to read, write, or comment on the file.","enum":["commenter","owner","reader","writer"],"enumDescriptions":["","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Indicates how widely permissions are granted.","enum":["anyone","domain","group","user"],"enumDescriptions":["","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"user":{"$ref":"User","additionalProperties":null,"annotations":null,"default":null,"description":"The user's information if the type is USER.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"withLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the permission requires a link to the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"PermissionChange":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Contains information about a Drive object's permissions that changed as a result of a permissionChange type event.","enum":null,"enumDescriptions":null,"format":null,"id":"PermissionChange","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"addedPermissions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Lists all Permission objects added.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Permission","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"removedPermissions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Lists all Permission objects removed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Permission","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Photo":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Photo information for a user.","enum":null,"enumDescriptions":null,"format":null,"id":"Photo","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL of the photo.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Rename":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Contains information about a renametype event.","enum":null,"enumDescriptions":null,"format":null,"id":"Rename","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"newTitle":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The new title.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oldTitle":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The old title.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Target":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Information about the object modified by the event.","enum":null,"enumDescriptions":null,"format":null,"id":"Target","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the target. For example, in Google Drive, this is the file or folder ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"mimeType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The MIME type of the target.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the target. For example, in Google Drive, this is the title of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"User":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A representation of a user.","enum":null,"enumDescriptions":null,"format":null,"id":"User","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"isDeleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A boolean which indicates whether the specified User was deleted. If true, name, photo and permission_id will be omitted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"isMe":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the user is the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The displayable name of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"permissionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The permission ID associated with this user. Equivalent to the Drive API's permission ID for this user, returned as part of the Drive Permissions resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"photo":{"$ref":"Photo","additionalProperties":null,"annotations":null,"default":null,"description":"The profile photo of the user. Not present if the user has no profile photo.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"appsactivity/v1/","title":"G Suite Activity API","version":"v1","version_module":null}