{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/blogger":{"description":"Manage your Blogger account"},"https://www.googleapis.com/auth/blogger.readonly":{"description":"View your Blogger account"}}}},"basePath":"/blogger/v3/","baseUrl":"https://www.googleapis.com/blogger/v3/","batchPath":"batch","canonicalName":null,"description":"API for access to the data within Blogger.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/blogger/docs/3.0/getting_started","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/Goh5bsNuqq7lTY-yMf_QcKSL760\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.google.com/images/icons/product/blogger-16.png","x32":"https://www.google.com/images/icons/product/blogger-32.png"},"id":"blogger:v3","kind":"discovery#restDescription","labels":["limited_availability"],"methods":null,"name":"blogger","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"blogUserInfos":{"methods":{"get":{"description":"Gets one blog and user info pair by blogId and userId.","etagRequired":null,"httpMethod":"GET","id":"blogger.blogUserInfos.get","mediaUpload":null,"parameterOrder":["userId","blogId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the blog to get.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxPosts":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of posts to pull back with the blog.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the user whose blogs are to be fetched. Either the word 'self' (sans quote marks) or the user's profile identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"users/{userId}/blogs/{blogId}","request":null,"response":{"$ref":"BlogUserInfo"},"scopes":["https://www.googleapis.com/auth/blogger","https://www.googleapis.com/auth/blogger.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"blogs":{"methods":{"get":{"description":"Gets one blog by ID.","etagRequired":null,"httpMethod":"GET","id":"blogger.blogs.get","mediaUpload":null,"parameterOrder":["blogId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the blog to get.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxPosts":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of posts to pull back with the blog.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Access level with which to view the blog. Note that some fields require elevated access.","enum":["ADMIN","AUTHOR","READER"],"enumDescriptions":["Admin level detail.","Author level detail.","Reader level detail."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"blogs/{blogId}","request":null,"response":{"$ref":"Blog"},"scopes":["https://www.googleapis.com/auth/blogger","https://www.googleapis.com/auth/blogger.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getByUrl":{"description":"Retrieve a Blog by URL.","etagRequired":null,"httpMethod":"GET","id":"blogger.blogs.getByUrl","mediaUpload":null,"parameterOrder":["url"],"parameters":{"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL of the blog to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Access level with which to view the blog. Note that some fields require elevated access.","enum":["ADMIN","AUTHOR","READER"],"enumDescriptions":["Admin level detail.","Author level detail.","Reader level detail."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"blogs/byurl","request":null,"response":{"$ref":"Blog"},"scopes":["https://www.googleapis.com/auth/blogger","https://www.googleapis.com/auth/blogger.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"listByUser":{"description":"Retrieves a list of blogs, possibly filtered.","etagRequired":null,"httpMethod":"GET","id":"blogger.blogs.listByUser","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"fetchUserInfo":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the response is a list of blogs with per-user information instead of just blogs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"role":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User access types for blogs to include in the results, e.g. AUTHOR will return blogs where the user has author level access. If no roles are specified, defaults to ADMIN and AUTHOR roles.","enum":["ADMIN","AUTHOR","READER"],"enumDescriptions":["Admin role - Blogs where the user has Admin level access.","Author role - Blogs where the user has Author level access.","Reader role - Blogs where the user has Reader level access (to a private blog)."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"LIVE","description":"Blog statuses to include in the result (default: Live blogs only). Note that ADMIN access is required to view deleted blogs.","enum":["DELETED","LIVE"],"enumDescriptions":["Blog has been deleted by an administrator.","Blog is currently live."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the user whose blogs are to be fetched. Either the word 'self' (sans quote marks) or the user's profile identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Access level with which to view the blogs. Note that some fields require elevated access.","enum":["ADMIN","AUTHOR","READER"],"enumDescriptions":["Admin level detail.","Author level detail.","Reader level detail."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"users/{userId}/blogs","request":null,"response":{"$ref":"BlogList"},"scopes":["https://www.googleapis.com/auth/blogger","https://www.googleapis.com/auth/blogger.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"comments":{"methods":{"approve":{"description":"Marks a comment as not spam.","etagRequired":null,"httpMethod":"POST","id":"blogger.comments.approve","mediaUpload":null,"parameterOrder":["blogId","postId","commentId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"commentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the comment to mark as not spam.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"postId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Post.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"blogs/{blogId}/posts/{postId}/comments/{commentId}/approve","request":null,"response":{"$ref":"Comment"},"scopes":["https://www.googleapis.com/auth/blogger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Delete a comment by ID.","etagRequired":null,"httpMethod":"DELETE","id":"blogger.comments.delete","mediaUpload":null,"parameterOrder":["blogId","postId","commentId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"commentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the comment to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"postId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Post.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"blogs/{blogId}/posts/{postId}/comments/{commentId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/blogger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets one comment by ID.","etagRequired":null,"httpMethod":"GET","id":"blogger.comments.get","mediaUpload":null,"parameterOrder":["blogId","postId","commentId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the blog to containing the comment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"commentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the comment to get.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"postId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the post to fetch posts from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Access level for the requested comment (default: READER). Note that some comments will require elevated permissions, for example comments where the parent posts which is in a draft state, or comments that are pending moderation.","enum":["ADMIN","AUTHOR","READER"],"enumDescriptions":["Admin level detail","Author level detail","Admin level detail"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"blogs/{blogId}/posts/{postId}/comments/{commentId}","request":null,"response":{"$ref":"Comment"},"scopes":["https://www.googleapis.com/auth/blogger","https://www.googleapis.com/auth/blogger.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves the comments for a post, possibly filtered.","etagRequired":null,"httpMethod":"GET","id":"blogger.comments.list","mediaUpload":null,"parameterOrder":["blogId","postId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the blog to fetch comments from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"endDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Latest date of comment to fetch, a date-time with RFC 3339 formatting.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fetchBodies":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the body content of the comments is included.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of comments to include in the result.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token if request is paged.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"postId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the post to fetch posts from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"startDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Earliest date of comment to fetch, a date-time with RFC 3339 formatting.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["emptied","live","pending","spam"],"enumDescriptions":["Comments that have had their content removed","Comments that are publicly visible","Comments that are awaiting administrator approval","Comments marked as spam by the administrator"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Access level with which to view the returned result. Note that some fields require elevated access.","enum":["ADMIN","AUTHOR","READER"],"enumDescriptions":["Admin level detail","Author level detail","Reader level detail"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"blogs/{blogId}/posts/{postId}/comments","request":null,"response":{"$ref":"CommentList"},"scopes":["https://www.googleapis.com/auth/blogger","https://www.googleapis.com/auth/blogger.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"listByBlog":{"description":"Retrieves the comments for a blog, across all posts, possibly filtered.","etagRequired":null,"httpMethod":"GET","id":"blogger.comments.listByBlog","mediaUpload":null,"parameterOrder":["blogId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the blog to fetch comments from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"endDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Latest date of comment to fetch, a date-time with RFC 3339 formatting.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fetchBodies":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the body content of the comments is included.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of comments to include in the result.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token if request is paged.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Earliest date of comment to fetch, a date-time with RFC 3339 formatting.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["emptied","live","pending","spam"],"enumDescriptions":["Comments that have had their content removed","Comments that are publicly visible","Comments that are awaiting administrator approval","Comments marked as spam by the administrator"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null}},"path":"blogs/{blogId}/comments","request":null,"response":{"$ref":"CommentList"},"scopes":["https://www.googleapis.com/auth/blogger","https://www.googleapis.com/auth/blogger.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"markAsSpam":{"description":"Marks a comment as spam.","etagRequired":null,"httpMethod":"POST","id":"blogger.comments.markAsSpam","mediaUpload":null,"parameterOrder":["blogId","postId","commentId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"commentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the comment to mark as spam.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"postId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Post.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"blogs/{blogId}/posts/{postId}/comments/{commentId}/spam","request":null,"response":{"$ref":"Comment"},"scopes":["https://www.googleapis.com/auth/blogger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"removeContent":{"description":"Removes the content of a comment.","etagRequired":null,"httpMethod":"POST","id":"blogger.comments.removeContent","mediaUpload":null,"parameterOrder":["blogId","postId","commentId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"commentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the comment to delete content from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"postId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Post.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"blogs/{blogId}/posts/{postId}/comments/{commentId}/removecontent","request":null,"response":{"$ref":"Comment"},"scopes":["https://www.googleapis.com/auth/blogger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"pageViews":{"methods":{"get":{"description":"Retrieve pageview stats for a Blog.","etagRequired":null,"httpMethod":"GET","id":"blogger.pageViews.get","mediaUpload":null,"parameterOrder":["blogId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the blog to get.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"range":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["30DAYS","7DAYS","all"],"enumDescriptions":["Page view counts from the last thirty days.","Page view counts from the last seven days.","Total page view counts from all time."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null}},"path":"blogs/{blogId}/pageviews","request":null,"response":{"$ref":"Pageviews"},"scopes":["https://www.googleapis.com/auth/blogger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"pages":{"methods":{"delete":{"description":"Delete a page by ID.","etagRequired":null,"httpMethod":"DELETE","id":"blogger.pages.delete","mediaUpload":null,"parameterOrder":["blogId","pageId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"blogs/{blogId}/pages/{pageId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/blogger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets one blog page by ID.","etagRequired":null,"httpMethod":"GET","id":"blogger.pages.get","mediaUpload":null,"parameterOrder":["blogId","pageId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the blog containing the page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the page to get.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["ADMIN","AUTHOR","READER"],"enumDescriptions":["Admin level detail","Author level detail","Reader level detail"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"blogs/{blogId}/pages/{pageId}","request":null,"response":{"$ref":"Page"},"scopes":["https://www.googleapis.com/auth/blogger","https://www.googleapis.com/auth/blogger.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Add a page.","etagRequired":null,"httpMethod":"POST","id":"blogger.pages.insert","mediaUpload":null,"parameterOrder":["blogId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the blog to add the page to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"isDraft":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to create the page as a draft (default: false).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"blogs/{blogId}/pages","request":{"$ref":"Page","parameterName":null},"response":{"$ref":"Page"},"scopes":["https://www.googleapis.com/auth/blogger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves the pages for a blog, optionally including non-LIVE statuses.","etagRequired":null,"httpMethod":"GET","id":"blogger.pages.list","mediaUpload":null,"parameterOrder":["blogId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the blog to fetch Pages from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fetchBodies":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to retrieve the Page bodies.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of Pages to fetch.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token if the request is paged.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["draft","live"],"enumDescriptions":["Draft (unpublished) Pages","Pages that are publicly visible"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Access level with which to view the returned result. Note that some fields require elevated access.","enum":["ADMIN","AUTHOR","READER"],"enumDescriptions":["Admin level detail","Author level detail","Reader level detail"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"blogs/{blogId}/pages","request":null,"response":{"$ref":"PageList"},"scopes":["https://www.googleapis.com/auth/blogger","https://www.googleapis.com/auth/blogger.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Update a page. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"blogger.pages.patch","mediaUpload":null,"parameterOrder":["blogId","pageId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"publish":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether a publish action should be performed when the page is updated (default: false).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"revert":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether a revert action should be performed when the page is updated (default: false).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"blogs/{blogId}/pages/{pageId}","request":{"$ref":"Page","parameterName":null},"response":{"$ref":"Page"},"scopes":["https://www.googleapis.com/auth/blogger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"publish":{"description":"Publishes a draft page.","etagRequired":null,"httpMethod":"POST","id":"blogger.pages.publish","mediaUpload":null,"parameterOrder":["blogId","pageId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"blogs/{blogId}/pages/{pageId}/publish","request":null,"response":{"$ref":"Page"},"scopes":["https://www.googleapis.com/auth/blogger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"revert":{"description":"Revert a published or scheduled page to draft state.","etagRequired":null,"httpMethod":"POST","id":"blogger.pages.revert","mediaUpload":null,"parameterOrder":["blogId","pageId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"blogs/{blogId}/pages/{pageId}/revert","request":null,"response":{"$ref":"Page"},"scopes":["https://www.googleapis.com/auth/blogger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Update a page.","etagRequired":null,"httpMethod":"PUT","id":"blogger.pages.update","mediaUpload":null,"parameterOrder":["blogId","pageId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"publish":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether a publish action should be performed when the page is updated (default: false).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"revert":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether a revert action should be performed when the page is updated (default: false).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"blogs/{blogId}/pages/{pageId}","request":{"$ref":"Page","parameterName":null},"response":{"$ref":"Page"},"scopes":["https://www.googleapis.com/auth/blogger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"postUserInfos":{"methods":{"get":{"description":"Gets one post and user info pair, by post ID and user ID. The post user info contains per-user information about the post, such as access rights, specific to the user.","etagRequired":null,"httpMethod":"GET","id":"blogger.postUserInfos.get","mediaUpload":null,"parameterOrder":["userId","blogId","postId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxComments":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of comments to pull back on a post.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"postId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the post to get.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the user for the per-user information to be fetched. Either the word 'self' (sans quote marks) or the user's profile identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"users/{userId}/blogs/{blogId}/posts/{postId}","request":null,"response":{"$ref":"PostUserInfo"},"scopes":["https://www.googleapis.com/auth/blogger","https://www.googleapis.com/auth/blogger.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of post and post user info pairs, possibly filtered. The post user info contains per-user information about the post, such as access rights, specific to the user.","etagRequired":null,"httpMethod":"GET","id":"blogger.postUserInfos.list","mediaUpload":null,"parameterOrder":["userId","blogId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the blog to fetch posts from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"endDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Latest post date to fetch, a date-time with RFC 3339 formatting.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fetchBodies":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the body content of posts is included. Default is false.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"labels":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Comma-separated list of labels to search for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of posts to fetch.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"orderBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"PUBLISHED","description":"Sort order applied to search results. Default is published.","enum":["published","updated"],"enumDescriptions":["Order by the date the post was published","Order by the date the post was last updated"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token if the request is paged.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Earliest post date to fetch, a date-time with RFC 3339 formatting.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["draft","live","scheduled"],"enumDescriptions":["Draft posts","Published posts","Posts that are scheduled to publish in future."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the user for the per-user information to be fetched. Either the word 'self' (sans quote marks) or the user's profile identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Access level with which to view the returned result. Note that some fields require elevated access.","enum":["ADMIN","AUTHOR","READER"],"enumDescriptions":["Admin level detail","Author level detail","Reader level detail"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"users/{userId}/blogs/{blogId}/posts","request":null,"response":{"$ref":"PostUserInfosList"},"scopes":["https://www.googleapis.com/auth/blogger","https://www.googleapis.com/auth/blogger.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"posts":{"methods":{"delete":{"description":"Delete a post by ID.","etagRequired":null,"httpMethod":"DELETE","id":"blogger.posts.delete","mediaUpload":null,"parameterOrder":["blogId","postId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"postId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Post.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"blogs/{blogId}/posts/{postId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/blogger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Get a post by ID.","etagRequired":null,"httpMethod":"GET","id":"blogger.posts.get","mediaUpload":null,"parameterOrder":["blogId","postId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the blog to fetch the post from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fetchBody":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Whether the body content of the post is included (default: true). This should be set to false when the post bodies are not required, to help minimize traffic.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fetchImages":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether image URL metadata for each post is included (default: false).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"maxComments":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of comments to pull back on a post.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"postId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the post","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Access level with which to view the returned result. Note that some fields require elevated access.","enum":["ADMIN","AUTHOR","READER"],"enumDescriptions":["Admin level detail","Author level detail","Reader level detail"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"blogs/{blogId}/posts/{postId}","request":null,"response":{"$ref":"Post"},"scopes":["https://www.googleapis.com/auth/blogger","https://www.googleapis.com/auth/blogger.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getByPath":{"description":"Retrieve a Post by Path.","etagRequired":null,"httpMethod":"GET","id":"blogger.posts.getByPath","mediaUpload":null,"parameterOrder":["blogId","path"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the blog to fetch the post from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxComments":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of comments to pull back on a post.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Path of the Post to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Access level with which to view the returned result. Note that some fields require elevated access.","enum":["ADMIN","AUTHOR","READER"],"enumDescriptions":["Admin level detail","Author level detail","Reader level detail"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"blogs/{blogId}/posts/bypath","request":null,"response":{"$ref":"Post"},"scopes":["https://www.googleapis.com/auth/blogger","https://www.googleapis.com/auth/blogger.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Add a post.","etagRequired":null,"httpMethod":"POST","id":"blogger.posts.insert","mediaUpload":null,"parameterOrder":["blogId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the blog to add the post to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fetchBody":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Whether the body content of the post is included with the result (default: true).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fetchImages":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether image URL metadata for each post is included in the returned result (default: false).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"isDraft":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to create the post as a draft (default: false).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"blogs/{blogId}/posts","request":{"$ref":"Post","parameterName":null},"response":{"$ref":"Post"},"scopes":["https://www.googleapis.com/auth/blogger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of posts, possibly filtered.","etagRequired":null,"httpMethod":"GET","id":"blogger.posts.list","mediaUpload":null,"parameterOrder":["blogId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the blog to fetch posts from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"endDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Latest post date to fetch, a date-time with RFC 3339 formatting.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fetchBodies":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Whether the body content of posts is included (default: true). This should be set to false when the post bodies are not required, to help minimize traffic.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fetchImages":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether image URL metadata for each post is included.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"labels":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Comma-separated list of labels to search for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of posts to fetch.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"orderBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"PUBLISHED","description":"Sort search results","enum":["published","updated"],"enumDescriptions":["Order by the date the post was published","Order by the date the post was last updated"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token if the request is paged.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Earliest post date to fetch, a date-time with RFC 3339 formatting.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Statuses to include in the results.","enum":["draft","live","scheduled"],"enumDescriptions":["Draft (non-published) posts.","Published posts","Posts that are scheduled to publish in the future."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Access level with which to view the returned result. Note that some fields require escalated access.","enum":["ADMIN","AUTHOR","READER"],"enumDescriptions":["Admin level detail","Author level detail","Reader level detail"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"blogs/{blogId}/posts","request":null,"response":{"$ref":"PostList"},"scopes":["https://www.googleapis.com/auth/blogger","https://www.googleapis.com/auth/blogger.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Update a post. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"blogger.posts.patch","mediaUpload":null,"parameterOrder":["blogId","postId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fetchBody":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Whether the body content of the post is included with the result (default: true).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fetchImages":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether image URL metadata for each post is included in the returned result (default: false).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"maxComments":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of comments to retrieve with the returned post.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"postId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Post.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"publish":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether a publish action should be performed when the post is updated (default: false).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"revert":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether a revert action should be performed when the post is updated (default: false).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"blogs/{blogId}/posts/{postId}","request":{"$ref":"Post","parameterName":null},"response":{"$ref":"Post"},"scopes":["https://www.googleapis.com/auth/blogger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"publish":{"description":"Publishes a draft post, optionally at the specific time of the given publishDate parameter.","etagRequired":null,"httpMethod":"POST","id":"blogger.posts.publish","mediaUpload":null,"parameterOrder":["blogId","postId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"postId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Post.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"publishDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional date and time to schedule the publishing of the Blog. If no publishDate parameter is given, the post is either published at the a previously saved schedule date (if present), or the current time. If a future date is given, the post will be scheduled to be published.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"blogs/{blogId}/posts/{postId}/publish","request":null,"response":{"$ref":"Post"},"scopes":["https://www.googleapis.com/auth/blogger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"revert":{"description":"Revert a published or scheduled post to draft state.","etagRequired":null,"httpMethod":"POST","id":"blogger.posts.revert","mediaUpload":null,"parameterOrder":["blogId","postId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"postId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Post.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"blogs/{blogId}/posts/{postId}/revert","request":null,"response":{"$ref":"Post"},"scopes":["https://www.googleapis.com/auth/blogger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"search":{"description":"Search for a post.","etagRequired":null,"httpMethod":"GET","id":"blogger.posts.search","mediaUpload":null,"parameterOrder":["blogId","q"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the blog to fetch the post from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fetchBodies":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Whether the body content of posts is included (default: true). This should be set to false when the post bodies are not required, to help minimize traffic.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"orderBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"PUBLISHED","description":"Sort search results","enum":["published","updated"],"enumDescriptions":["Order by the date the post was published","Order by the date the post was last updated"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"q":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Query terms to search this blog for matching posts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"blogs/{blogId}/posts/search","request":null,"response":{"$ref":"PostList"},"scopes":["https://www.googleapis.com/auth/blogger","https://www.googleapis.com/auth/blogger.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Update a post.","etagRequired":null,"httpMethod":"PUT","id":"blogger.posts.update","mediaUpload":null,"parameterOrder":["blogId","postId"],"parameters":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fetchBody":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Whether the body content of the post is included with the result (default: true).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fetchImages":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether image URL metadata for each post is included in the returned result (default: false).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"maxComments":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of comments to retrieve with the returned post.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"postId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Post.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"publish":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether a publish action should be performed when the post is updated (default: false).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"revert":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether a revert action should be performed when the post is updated (default: false).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"blogs/{blogId}/posts/{postId}","request":{"$ref":"Post","parameterName":null},"response":{"$ref":"Post"},"scopes":["https://www.googleapis.com/auth/blogger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"users":{"methods":{"get":{"description":"Gets one user by ID.","etagRequired":null,"httpMethod":"GET","id":"blogger.users.get","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user to get.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"users/{userId}","request":null,"response":{"$ref":"User"},"scopes":["https://www.googleapis.com/auth/blogger","https://www.googleapis.com/auth/blogger.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20150422","rootUrl":"https://www.googleapis.com/","schemas":{"Blog":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"Blog","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"customMetaData":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The JSON custom meta-data for the Blog","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The description of this blog. This is displayed underneath the title.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The identifier for this resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"blogger#blog","description":"The kind of this entry. Always blogger#blog","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The locale this Blog is set to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"country":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The country this blog's locale is set to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language this blog is authored in.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"variant":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language variant this blog is authored in.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of this blog. This is displayed as the title.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pages":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The container of pages in this blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"selfLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL of the container for pages in this blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"totalItems":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The count of pages in this blog.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"posts":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The container of posts in this blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The List of Posts for this Blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Post","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"selfLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL of the container for posts in this blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"totalItems":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The count of posts in this blog.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"published":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"RFC 3339 date-time when this blog was published.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"selfLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The API REST URL to fetch this resource from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The status of the blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"updated":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"RFC 3339 date-time when this blog was last updated.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL where this blog is published.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BlogList":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"BlogList","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"blogUserInfos":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Admin level list of blog per-user information","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"BlogUserInfo","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of Blogs this user has Authorship or Admin rights over.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Blog","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"blogger#blogList","description":"The kind of this entity. Always blogger#blogList","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BlogPerUserInfo":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"BlogPerUserInfo","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"blogId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the Blog resource","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"hasAdminAccess":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if the user has Admin level access to the blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"blogger#blogPerUserInfo","description":"The kind of this entity. Always blogger#blogPerUserInfo","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"photosAlbumKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Photo Album Key for the user when adding photos to the blog","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"role":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Access permissions that the user has for the blog (ADMIN, AUTHOR, or READER).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the User","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BlogUserInfo":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"BlogUserInfo","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"blog":{"$ref":"Blog","additionalProperties":null,"annotations":null,"default":null,"description":"The Blog resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"blog_user_info":{"$ref":"BlogPerUserInfo","additionalProperties":null,"annotations":null,"default":null,"description":"Information about a User for the Blog.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"blogger#blogUserInfo","description":"The kind of this entity. Always blogger#blogUserInfo","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Comment":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"Comment","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"author":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The author of this Comment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"displayName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The display name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The identifier of the Comment creator.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"image":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The comment creator's avatar.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The comment creator's avatar URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL of the Comment creator's Profile page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"blog":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Data about the blog containing this comment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The identifier of the blog containing this comment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"content":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The actual content of the comment. May include HTML markup.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The identifier for this resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"inReplyTo":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Data about the comment this is in reply to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The identified of the parent of this comment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"blogger#comment","description":"The kind of this entry. Always blogger#comment","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,
[...]
