{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/books":{"description":"Manage your books"}}}},"basePath":"/books/v1/","baseUrl":"https://www.googleapis.com/books/v1/","batchPath":"batch/books/v1","canonicalName":null,"description":"Searches for books and manages your Google Books library.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/books/docs/v1/getting_started","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/q1aPzEOdugLS9_Y8FK61EmJhEHg\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.google.com/images/icons/product/ebooks-16.png","x32":"https://www.google.com/images/icons/product/ebooks-32.png"},"id":"books:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"books","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"bookshelves":{"methods":{"get":{"description":"Retrieves metadata for a specific bookshelf for the specified user.","etagRequired":null,"httpMethod":"GET","id":"books.bookshelves.get","mediaUpload":null,"parameterOrder":["userId","shelf"],"parameters":{"shelf":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of bookshelf to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of user for whom to retrieve bookshelves.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"users/{userId}/bookshelves/{shelf}","request":null,"response":{"$ref":"Bookshelf"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of public bookshelves for the specified user.","etagRequired":null,"httpMethod":"GET","id":"books.bookshelves.list","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of user for whom to retrieve bookshelves.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"users/{userId}/bookshelves","request":null,"response":{"$ref":"Bookshelves"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"volumes":{"methods":{"list":{"description":"Retrieves volumes in a specific bookshelf for the specified user.","etagRequired":null,"httpMethod":"GET","id":"books.bookshelves.volumes.list","mediaUpload":null,"parameterOrder":["userId","shelf"],"parameters":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of results to return","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"shelf":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of bookshelf to retrieve volumes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"showPreorders":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set to true to show pre-ordered books. Defaults to false.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startIndex":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Index of the first element to return (starts at 0)","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of user for whom to retrieve bookshelf volumes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"users/{userId}/bookshelves/{shelf}/volumes","request":null,"response":{"$ref":"Volumes"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"cloudloading":{"methods":{"addBook":{"description":"","etagRequired":null,"httpMethod":"POST","id":"books.cloudloading.addBook","mediaUpload":null,"parameterOrder":null,"parameters":{"drive_document_id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A drive document id. The upload_client_token must not be set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"mime_type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The document MIME type. It can be set only if the drive_document_id is set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The document name. It can be set only if the drive_document_id is set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"upload_client_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"cloudloading/addBook","request":null,"response":{"$ref":"BooksCloudloadingResource"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"deleteBook":{"description":"Remove the book and its contents","etagRequired":null,"httpMethod":"POST","id":"books.cloudloading.deleteBook","mediaUpload":null,"parameterOrder":["volumeId"],"parameters":{"volumeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of the book to be removed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"cloudloading/deleteBook","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"updateBook":{"description":"","etagRequired":null,"httpMethod":"POST","id":"books.cloudloading.updateBook","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"cloudloading/updateBook","request":{"$ref":"BooksCloudloadingResource","parameterName":null},"response":{"$ref":"BooksCloudloadingResource"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"dictionary":{"methods":{"listOfflineMetadata":{"description":"Returns a list of offline dictionary metadata available","etagRequired":null,"httpMethod":"GET","id":"books.dictionary.listOfflineMetadata","mediaUpload":null,"parameterOrder":["cpksver"],"parameters":{"cpksver":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The device/version ID from which to request the data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"dictionary/listOfflineMetadata","request":null,"response":{"$ref":"Metadata"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"layers":{"methods":{"get":{"description":"Gets the layer summary for a volume.","etagRequired":null,"httpMethod":"GET","id":"books.layers.get","mediaUpload":null,"parameterOrder":["volumeId","summaryId"],"parameters":{"contentVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The content version for the requested volume.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"summaryId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID for the layer to get the summary for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"volumeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The volume to retrieve layers for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"volumes/{volumeId}/layersummary/{summaryId}","request":null,"response":{"$ref":"Layersummary"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List the layer summaries for a volume.","etagRequired":null,"httpMethod":"GET","id":"books.layers.list","mediaUpload":null,"parameterOrder":["volumeId"],"parameters":{"contentVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The content version for the requested volume.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of results to return","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"200","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The value of the nextToken from the previous page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"volumeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The volume to retrieve layers for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"volumes/{volumeId}/layersummary","request":null,"response":{"$ref":"Layersummaries"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"annotationData":{"methods":{"get":{"description":"Gets the annotation data.","etagRequired":null,"httpMethod":"GET","id":"books.layers.annotationData.get","mediaUpload":null,"parameterOrder":["volumeId","layerId","annotationDataId","contentVersion"],"parameters":{"allowWebDefinitions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For the dictionary layer. Whether or not to allow web definitions.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"annotationDataId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the annotation data to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"contentVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The content version for the volume you are trying to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"h":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The requested pixel height for any images. If height is provided width must also be provided.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"layerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID for the layer to get the annotations.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"scale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The requested scale for the image.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"volumeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The volume to retrieve annotations for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"w":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The requested pixel width for any images. If width is provided height must also be provided.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}","request":null,"response":{"$ref":"Annotationdata"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Gets the annotation data for a volume and layer.","etagRequired":null,"httpMethod":"GET","id":"books.layers.annotationData.list","mediaUpload":null,"parameterOrder":["volumeId","layerId","contentVersion"],"parameters":{"annotationDataId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of Annotation Data Ids to retrieve. Pagination is ignored if this is set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"contentVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The content version for the requested volume.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"h":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The requested pixel height for any images. If height is provided width must also be provided.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"layerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID for the layer to get the annotation data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of results to return","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"200","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The value of the nextToken from the previous page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"scale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The requested scale for the image.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"updatedMax":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"updatedMin":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"volumeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The volume to retrieve annotation data for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"w":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The requested pixel width for any images. If width is provided height must also be provided.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"volumes/{volumeId}/layers/{layerId}/data","request":null,"response":{"$ref":"Annotationsdata"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"volumeAnnotations":{"methods":{"get":{"description":"Gets the volume annotation.","etagRequired":null,"httpMethod":"GET","id":"books.layers.volumeAnnotations.get","mediaUpload":null,"parameterOrder":["volumeId","layerId","annotationId"],"parameters":{"annotationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the volume annotation to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"layerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID for the layer to get the annotations.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"volumeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The volume to retrieve annotations for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"volumes/{volumeId}/layers/{layerId}/annotations/{annotationId}","request":null,"response":{"$ref":"Volumeannotation"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Gets the volume annotations for a volume and layer.","etagRequired":null,"httpMethod":"GET","id":"books.layers.volumeAnnotations.list","mediaUpload":null,"parameterOrder":["volumeId","layerId","contentVersion"],"parameters":{"contentVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The content version for the requested volume.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"endOffset":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The end offset to end retrieving data from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"endPosition":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The end position to end retrieving data from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"layerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID for the layer to get the annotations.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The locale information for the data. ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of results to return","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"200","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The value of the nextToken from the previous page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"showDeleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startOffset":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The start offset to start retrieving data from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startPosition":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The start position to start retrieving data from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"updatedMax":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"updatedMin":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"volumeAnnotationsVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The version of the volume annotations that you are requesting.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"volumeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The volume to retrieve annotations for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"volumes/{volumeId}/layers/{layerId}","request":null,"response":{"$ref":"Volumeannotations"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"myconfig":{"methods":{"getUserSettings":{"description":"Gets the current settings for the user.","etagRequired":null,"httpMethod":"GET","id":"books.myconfig.getUserSettings","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"myconfig/getUserSettings","request":null,"response":{"$ref":"Usersettings"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"releaseDownloadAccess":{"description":"Release downloaded content access restriction.","etagRequired":null,"httpMethod":"POST","id":"books.myconfig.releaseDownloadAccess","mediaUpload":null,"parameterOrder":["volumeIds","cpksver"],"parameters":{"cpksver":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The device/version ID from which to release the restriction.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"volumeIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The volume(s) to release restrictions for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":true,"type":"string","variant":null,"ETag":null}},"path":"myconfig/releaseDownloadAccess","request":null,"response":{"$ref":"DownloadAccesses"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"requestAccess":{"description":"Request concurrent and download access restrictions.","etagRequired":null,"httpMethod":"POST","id":"books.myconfig.requestAccess","mediaUpload":null,"parameterOrder":["source","volumeId","nonce","cpksver"],"parameters":{"cpksver":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The device/version ID from which to request the restrictions.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"licenseTypes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of access license to request. If not specified, the default is BOTH.","enum":["BOTH","CONCURRENT","DOWNLOAD"],"enumDescriptions":["Both concurrent and download licenses.","Concurrent access license.","Offline download access license."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nonce":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The client nonce value.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"volumeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The volume to request concurrent/download restrictions for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"myconfig/requestAccess","request":null,"response":{"$ref":"RequestAccess"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"syncVolumeLicenses":{"description":"Request downloaded content access for specified volumes on the My eBooks shelf.","etagRequired":null,"httpMethod":"POST","id":"books.myconfig.syncVolumeLicenses","mediaUpload":null,"parameterOrder":["source","nonce","cpksver"],"parameters":{"cpksver":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The device/version ID from which to release the restriction.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"features":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of features supported by the client, i.e., 'RENTALS'","enum":["RENTALS"],"enumDescriptions":["Client supports rentals."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"includeNonComicsSeries":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set to true to include non-comics series. Defaults to false.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nonce":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The client nonce value.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"showPreorders":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set to true to show pre-ordered books. Defaults to false.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"volumeIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The volume(s) to request download restrictions for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null}},"path":"myconfig/syncVolumeLicenses","request":null,"response":{"$ref":"Volumes"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"updateUserSettings":{"description":"Sets the settings for the user. If a sub-object is specified, it will overwrite the existing sub-object stored in the server. Unspecified sub-objects will retain the existing value.","etagRequired":null,"httpMethod":"POST","id":"books.myconfig.updateUserSettings","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"myconfig/updateUserSettings","request":{"$ref":"Usersettings","parameterName":null},"response":{"$ref":"Usersettings"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"mylibrary":{"methods":null,"resources":{"annotations":{"methods":{"delete":{"description":"Deletes an annotation.","etagRequired":null,"httpMethod":"DELETE","id":"books.mylibrary.annotations.delete","mediaUpload":null,"parameterOrder":["annotationId"],"parameters":{"annotationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID for the annotation to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"mylibrary/annotations/{annotationId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Inserts a new annotation.","etagRequired":null,"httpMethod":"POST","id":"books.mylibrary.annotations.insert","mediaUpload":null,"parameterOrder":null,"parameters":{"annotationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID for the annotation to insert.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"country":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ISO-3166-1 code to override the IP-based location.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"showOnlySummaryInResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requests that only the summary of the specified layer be provided in the response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"mylibrary/annotations","request":{"$ref":"Annotation","parameterName":null},"response":{"$ref":"Annotation"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of annotations, possibly filtered.","etagRequired":null,"httpMethod":"GET","id":"books.mylibrary.annotations.list","mediaUpload":null,"parameterOrder":null,"parameters":{"contentVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The content version for the requested volume.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"layerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The layer ID to limit annotation by.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"layerIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The layer ID(s) to limit annotation by.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of results to return","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"40","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The value of the nextToken from the previous page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"showDeleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set to true to return deleted annotations. updatedMin must be in the request to use this. Defaults to false.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"updatedMax":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"RFC 3339 timestamp to restrict to items updated prior to this timestamp (exclusive).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"updatedMin":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"RFC 3339 timestamp to restrict to items updated since this timestamp (inclusive).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"volumeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The volume to restrict annotations to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"mylibrary/annotations","request":null,"response":{"$ref":"Annotations"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"summary":{"description":"Gets the summary of specified layers.","etagRequired":null,"httpMethod":"POST","id":"books.mylibrary.annotations.summary","mediaUpload":null,"parameterOrder":["layerIds","volumeId"],"parameters":{"layerIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Array of layer IDs to get the summary for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":true,"type":"string","variant":null,"ETag":null},"volumeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Volume id to get the summary for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"mylibrary/annotations/summary","request":null,"response":{"$ref":"AnnotationsSummary"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an existing annotation.","etagRequired":null,"httpMethod":"PUT","id":"books.mylibrary.annotations.update","mediaUpload":null,"parameterOrder":["annotationId"],"parameters":{"annotationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID for the annotation to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"mylibrary/annotations/{annotationId}","request":{"$ref":"Annotation","parameterName":null},"response":{"$ref":"Annotation"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"bookshelves":{"methods":{"addVolume":{"description":"Adds a volume to a bookshelf.","etagRequired":null,"httpMethod":"POST","id":"books.mylibrary.bookshelves.addVolume","mediaUpload":null,"parameterOrder":["shelf","volumeId"],"parameters":{"reason":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The reason for which the book is added to the library.","enum":["IOS_PREX","IOS_SEARCH","ONBOARDING"],"enumDescriptions":["Volumes added from the PREX flow on iOS.","Volumes added from the Search flow on iOS.","Volumes added from the Onboarding flow."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"shelf":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of bookshelf to which to add a volume.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"volumeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of volume to add.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"mylibrary/bookshelves/{shelf}/addVolume","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"clearVolumes":{"description":"Clears all volumes from a bookshelf.","etagRequired":null,"httpMethod":"POST","id":"books.mylibrary.bookshelves.clearVolumes","mediaUpload":null,"parameterOrder":["shelf"],"parameters":{"shelf":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of bookshelf from which to remove a volume.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"mylibrary/bookshelves/{shelf}/clearVolumes","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves metadata for a specific bookshelf belonging to the authenticated user.","etagRequired":null,"httpMethod":"GET","id":"books.mylibrary.bookshelves.get","mediaUpload":null,"parameterOrder":["shelf"],"parameters":{"shelf":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of bookshelf to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"mylibrary/bookshelves/{shelf}","request":null,"response":{"$ref":"Bookshelf"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of bookshelves belonging to the authenticated user.","etagRequired":null,"httpMethod":"GET","id":"books.mylibrary.bookshelves.list","mediaUpload":null,"parameterOrder":null,"parameters":{"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"mylibrary/bookshelves","request":null,"response":{"$ref":"Bookshelves"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"moveVolume":{"description":"Moves a volume within a bookshelf.","etagRequired":null,"httpMethod":"POST","id":"books.mylibrary.bookshelves.moveVolume","mediaUpload":null,"parameterOrder":["shelf","volumeId","volumePosition"],"parameters":{"shelf":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of bookshelf with the volume.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"volumeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of volume to move.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"volumePosition":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Position on shelf to move the item (0 puts the item before the current first item, 1 puts it between the first and the second and so on.)","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null}},"path":"mylibrary/bookshelves/{shelf}/moveVolume","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"removeVolume":{"description":"Removes a volume from a bookshelf.","etagRequired":null,"httpMethod":"POST","id":"books.mylibrary.bookshelves.removeVolume","mediaUpload":null,"parameterOrder":["shelf","volumeId"],"parameters":{"reason":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The reason for which the book is removed from the library.","enum":["ONBOARDING"],"enumDescriptions":["Samples removed from the Onboarding flow."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"shelf":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of bookshelf from which to remove a volume.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"volumeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of volume to remove.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"mylibrary/bookshelves/{shelf}/removeVolume","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"volumes":{"methods":{"list":{"description":"Gets volume information for volumes on a bookshelf.","etagRequired":null,"httpMethod":"GET","id":"books.mylibrary.bookshelves.volumes.list","mediaUpload":null,"parameterOrder":["shelf"],"parameters":{"country":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ISO-3166-1 code to override the IP-based location.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of results to return","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Restrict information returned to a set of selected fields.","enum":["full","lite"],"enumDescriptions":["Includes all volume data.","Includes a subset of fields in volumeInfo and accessInfo."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"q":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Full-text search query string in this bookshelf.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"shelf":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The bookshelf ID or name retrieve volumes for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"showPreorders":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set to true to show pre-ordered books. Defaults to false.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startIndex":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Index of the first element to return (starts at 0)","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"mylibrary/bookshelves/{shelf}/volumes","request":null,"response":{"$ref":"Volumes"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"readingpositions":{"methods":{"get":{"description":"Retrieves my reading position information for a volume.","etagRequired":null,"httpMethod":"GET","id":"books.mylibrary.readingpositions.get","mediaUpload":null,"parameterOrder":["volumeId"],"parameters":{"contentVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Volume content version for which this reading position is requested.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"volumeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of volume for which to retrieve a reading position.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"mylibrary/readingpositions/{volumeId}","request":null,"response":{"$ref":"ReadingPosition"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"setPosition":{"description":"Sets my reading position information for a volume.","etagRequired":null,"httpMethod":"POST","id":"books.mylibrary.readingpositions.setPosition","mediaUpload":null,"parameterOrder":["volumeId","timestamp","position"],"parameters":{"action":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Action that caused this reading position to be set.","enum":["bookmark","chapter","next-page","prev-page","scroll","search"],"enumDescriptions":["User chose bookmark within volume.","User selected chapter from list.","Next page event.","Previous page event.","User navigated to page.","User chose search results within volume."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"contentVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Volume content version for which this reading position applies.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"deviceCookie":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Random persistent device cookie optional on set position.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"position":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Position string for the new volume reading position.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timestamp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"RFC 3339 UTC format timestamp associated with this reading position.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"volumeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of volume for which to update the reading position.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"mylibrary/readingpositions/{volumeId}/setPosition","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"notification":{"methods":{"get":{"description":"Returns notification details for a given notification id.","etagRequired":null,"httpMethod":"GET","id":"books.notification.get","mediaUpload":null,"parameterOrder":["notification_id"],"parameters":{"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating notification title and body.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"notification_id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the notification.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"notification/get","request":null,"response":{"$ref":"Notification"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"onboarding":{"methods":{"listCategories":{"description":"List categories for onboarding experience.","etagRequired":null,"httpMethod":"GET","id":"books.onboarding.listCategories","mediaUpload":null,"parameterOrder":null,"parameters":{"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"onboarding/listCategories","request":null,"response":{"$ref":"Category"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"listCategoryVolumes":{"description":"List available volumes under categories for onboarding experience.","etagRequired":null,"httpMethod":"GET","id":"books.onboarding.listCategoryVolumes","mediaUpload":null,"parameterOrder":null,"parameters":{"categoryId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of category ids requested.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ISO-639-1 language and ISO-3166-1 country code. Default is en-US if unset.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxAllowedMaturityRating":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum allowed maturity rating of returned volumes. Books with a higher maturity rating are filtered out.","enum":["mature","not-mature"],"enumDescriptions":["Show books which are rated mature or lower.","Show books which are rated not mature."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of maximum results per page to be included in the response.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The value of the nextToken from the previous page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"onboarding/listCategoryVolumes","request":null,"response":{"$ref":"Volume2"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"personalizedstream":{"methods":{"get":{"description":"Returns a stream of personalized book clusters","etagRequired":null,"httpMethod":"GET","id":"books.personalizedstream.get","mediaUpload":null,"parameterOrder":null,"parameters":{"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ISO-639-1 language and ISO-3166-1 country code. Ex: 'en_US'. Used for generating recommendations.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxAllowedMaturityRating":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum allowed maturity rating of returned recommendations. Books with a higher maturity rating are filtered out.","enum":["mature","not-mature"],"enumDescriptions":["Show books which are rated mature or lower.","Show books which are rated not mature."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"personalizedstream/get","request":null,"response":{"$ref":"Discoveryclusters"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"promooffer":{"methods":{"accept":{"description":"","etagRequired":null,"httpMethod":"POST","id":"books.promooffer.accept","mediaUpload":null,"parameterOrder":null,"parameters":{"androidId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"device android_id","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"device":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"device device","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"manufacturer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"device manufacturer","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"model":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"device model","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"offerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"product":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"device product","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"serial":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"device serial","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"volumeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Volume id to exercise the offer","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"promooffer/accept","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"dismiss":{"description":"","etagRequired":null,"httpMethod":"POST","id":"books.promooffer.dismiss","mediaUpload":null,"parameterOrder":null,"parameters":{"androidId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"device android_id","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"device":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"device device","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"manufacturer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"device manufacturer","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"model":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"device model","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"offerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Offer to dimiss","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"product":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"device product","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"serial":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"device serial","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"promooffer/dismiss","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns a list of promo offers available to the user","etagRequired":null,"httpMethod":"GET","id":"books.promooffer.get","mediaUpload":null,"parameterOrder":null,"parameters":{"androidId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"device android_id","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"device":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"device device","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"manufacturer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"device manufacturer","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"model":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"device model","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"product":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"device product","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"serial":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"device serial","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"promooffer/get","request":null,"response":{"$ref":"Offers"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"series":{"methods":{"get":{"description":"Returns Series metadata for the given series ids.","etagRequired":null,"httpMethod":"GET","id":"books.series.get","mediaUpload":null,"parameterOrder":["series_id"],"parameters":{"series_id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String that identifies the series","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":true,"type":"string","variant":null,"ETag":null}},"path":"series/get","request":null,"response":{"$ref":"Series"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"membership":{"methods":{"get":{"description":"Returns Series membership data given the series id.","etagRequired":null,"httpMethod":"GET","id":"books.series.membership.get","mediaUpload":null,"parameterOrder":["series_id"],"parameters":{"page_size":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of maximum results per page to be included in the response.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"page_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The value of the nextToken from the previous page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"series_id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String that identifies the series","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"series/membership/get","request":null,"response":{"$ref":"Seriesmembership"},"scopes":["https://www.googleapis.com/auth/books"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"volumes":{"methods":{"get":{"description":"Gets volume information for a single volume.","etagRequired":null,"httpMethod":"GET","id":"books.volumes.get","mediaUpload":null,"parameterOrder":["volumeId"],"parameters":{"country":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ISO-3166-1 code to override the IP-based location.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"includeNonComicsSeries":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set to true to include non-comics series. Defaults to false.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"partner":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Brand results for partner ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Restrict information returned to a set of selected fields.","enum":["full","lite"],"enumDescriptions":["Includes all volume data.","Includes a subset of fields in volumeInfo and accessInfo."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String to identify the originator of this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":nu
[...]
