{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/calendar":{"description":"Manage your calendars"},"https://www.googleapis.com/auth/calendar.readonly":{"description":"View your calendars"}}}},"basePath":"/calendar/v3/","baseUrl":"https://www.googleapis.com/calendar/v3/","batchPath":"batch/calendar/v3","canonicalName":null,"description":"Manipulates events and other calendar data.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/google-apps/calendar/firstapp","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/2j8D2nFUEmPd5-ldLWN3HdwZdb0\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/calendar-16.png","x32":"http://www.google.com/images/icons/product/calendar-32.png"},"id":"calendar:v3","kind":"discovery#restDescription","labels":null,"methods":null,"name":"calendar","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"acl":{"methods":{"delete":{"description":"Deletes an access control rule.","etagRequired":null,"httpMethod":"DELETE","id":"calendar.acl.delete","mediaUpload":null,"parameterOrder":["calendarId","ruleId"],"parameters":{"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ruleId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ACL rule identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"calendars/{calendarId}/acl/{ruleId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns an access control rule.","etagRequired":null,"httpMethod":"GET","id":"calendar.acl.get","mediaUpload":null,"parameterOrder":["calendarId","ruleId"],"parameters":{"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ruleId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ACL rule identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"calendars/{calendarId}/acl/{ruleId}","request":null,"response":{"$ref":"AclRule"},"scopes":["https://www.googleapis.com/auth/calendar","https://www.googleapis.com/auth/calendar.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates an access control rule.","etagRequired":null,"httpMethod":"POST","id":"calendar.acl.insert","mediaUpload":null,"parameterOrder":["calendarId"],"parameters":{"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"calendars/{calendarId}/acl","request":{"$ref":"AclRule","parameterName":null},"response":{"$ref":"AclRule"},"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Returns the rules in the access control list for the calendar.","etagRequired":null,"httpMethod":"GET","id":"calendar.acl.list","mediaUpload":null,"parameterOrder":["calendarId"],"parameters":{"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token specifying which result page to return. Optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"showDeleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"syncToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"calendars/{calendarId}/acl","request":null,"response":{"$ref":"Acl"},"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":true,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an access control rule. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"calendar.acl.patch","mediaUpload":null,"parameterOrder":["calendarId","ruleId"],"parameters":{"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ruleId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ACL rule identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"calendars/{calendarId}/acl/{ruleId}","request":{"$ref":"AclRule","parameterName":null},"response":{"$ref":"AclRule"},"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an access control rule.","etagRequired":null,"httpMethod":"PUT","id":"calendar.acl.update","mediaUpload":null,"parameterOrder":["calendarId","ruleId"],"parameters":{"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ruleId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ACL rule identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"calendars/{calendarId}/acl/{ruleId}","request":{"$ref":"AclRule","parameterName":null},"response":{"$ref":"AclRule"},"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"watch":{"description":"Watch for changes to ACL resources.","etagRequired":null,"httpMethod":"POST","id":"calendar.acl.watch","mediaUpload":null,"parameterOrder":["calendarId"],"parameters":{"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token specifying which result page to return. Optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"showDeleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to include deleted ACLs in the result. Deleted ACLs are represented by role equal to \"none\". Deleted ACLs will always be included if syncToken is provided. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"syncToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All entries deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"calendars/{calendarId}/acl/watch","request":{"$ref":"Channel","parameterName":"resource"},"response":{"$ref":"Channel"},"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":true,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"calendarList":{"methods":{"delete":{"description":"Deletes an entry on the user's calendar list.","etagRequired":null,"httpMethod":"DELETE","id":"calendar.calendarList.delete","mediaUpload":null,"parameterOrder":["calendarId"],"parameters":{"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"users/me/calendarList/{calendarId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns an entry on the user's calendar list.","etagRequired":null,"httpMethod":"GET","id":"calendar.calendarList.get","mediaUpload":null,"parameterOrder":["calendarId"],"parameters":{"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"users/me/calendarList/{calendarId}","request":null,"response":{"$ref":"CalendarListEntry"},"scopes":["https://www.googleapis.com/auth/calendar","https://www.googleapis.com/auth/calendar.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Adds an entry to the user's calendar list.","etagRequired":null,"httpMethod":"POST","id":"calendar.calendarList.insert","mediaUpload":null,"parameterOrder":null,"parameters":{"colorRgbFormat":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"users/me/calendarList","request":{"$ref":"CalendarListEntry","parameterName":null},"response":{"$ref":"CalendarListEntry"},"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Returns entries on the user's calendar list.","etagRequired":null,"httpMethod":"GET","id":"calendar.calendarList.list","mediaUpload":null,"parameterOrder":null,"parameters":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"minAccessRole":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The minimum access role for the user in the returned entries. Optional. The default is no restriction.","enum":["freeBusyReader","owner","reader","writer"],"enumDescriptions":["The user can read free/busy information.","The user can read and modify events and access control lists.","The user can read events that are not private.","The user can read and modify events."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token specifying which result page to return. Optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"showDeleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to include deleted calendar list entries in the result. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"showHidden":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to show hidden entries. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"syncToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"users/me/calendarList","request":null,"response":{"$ref":"CalendarList"},"scopes":["https://www.googleapis.com/auth/calendar","https://www.googleapis.com/auth/calendar.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":true,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an entry on the user's calendar list. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"calendar.calendarList.patch","mediaUpload":null,"parameterOrder":["calendarId"],"parameters":{"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"colorRgbFormat":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"users/me/calendarList/{calendarId}","request":{"$ref":"CalendarListEntry","parameterName":null},"response":{"$ref":"CalendarListEntry"},"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an entry on the user's calendar list.","etagRequired":null,"httpMethod":"PUT","id":"calendar.calendarList.update","mediaUpload":null,"parameterOrder":["calendarId"],"parameters":{"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"colorRgbFormat":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to use the foregroundColor and backgroundColor fields to write the calendar colors (RGB). If this feature is used, the index-based colorId field will be set to the best matching option automatically. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"users/me/calendarList/{calendarId}","request":{"$ref":"CalendarListEntry","parameterName":null},"response":{"$ref":"CalendarListEntry"},"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"watch":{"description":"Watch for changes to CalendarList resources.","etagRequired":null,"httpMethod":"POST","id":"calendar.calendarList.watch","mediaUpload":null,"parameterOrder":null,"parameters":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"minAccessRole":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The minimum access role for the user in the returned entries. Optional. The default is no restriction.","enum":["freeBusyReader","owner","reader","writer"],"enumDescriptions":["The user can read free/busy information.","The user can read and modify events and access control lists.","The user can read events that are not private.","The user can read and modify events."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token specifying which result page to return. Optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"showDeleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to include deleted calendar list entries in the result. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"showHidden":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to show hidden entries. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"syncToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. If only read-only fields such as calendar properties or ACLs have changed, the entry won't be returned. All entries deleted and hidden since the previous list request will always be in the result set and it is not allowed to set showDeleted neither showHidden to False.\nTo ensure client state consistency minAccessRole query parameter cannot be specified together with nextSyncToken.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"users/me/calendarList/watch","request":{"$ref":"Channel","parameterName":"resource"},"response":{"$ref":"Channel"},"scopes":["https://www.googleapis.com/auth/calendar","https://www.googleapis.com/auth/calendar.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":true,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"calendars":{"methods":{"clear":{"description":"Clears a primary calendar. This operation deletes all events associated with the primary calendar of an account.","etagRequired":null,"httpMethod":"POST","id":"calendar.calendars.clear","mediaUpload":null,"parameterOrder":["calendarId"],"parameters":{"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"calendars/{calendarId}/clear","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a secondary calendar. Use calendars.clear for clearing all events on primary calendars.","etagRequired":null,"httpMethod":"DELETE","id":"calendar.calendars.delete","mediaUpload":null,"parameterOrder":["calendarId"],"parameters":{"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"calendars/{calendarId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns metadata for a calendar.","etagRequired":null,"httpMethod":"GET","id":"calendar.calendars.get","mediaUpload":null,"parameterOrder":["calendarId"],"parameters":{"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"calendars/{calendarId}","request":null,"response":{"$ref":"Calendar"},"scopes":["https://www.googleapis.com/auth/calendar","https://www.googleapis.com/auth/calendar.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a secondary calendar.","etagRequired":null,"httpMethod":"POST","id":"calendar.calendars.insert","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"calendars","request":{"$ref":"Calendar","parameterName":null},"response":{"$ref":"Calendar"},"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates metadata for a calendar. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"calendar.calendars.patch","mediaUpload":null,"parameterOrder":["calendarId"],"parameters":{"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"calendars/{calendarId}","request":{"$ref":"Calendar","parameterName":null},"response":{"$ref":"Calendar"},"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates metadata for a calendar.","etagRequired":null,"httpMethod":"PUT","id":"calendar.calendars.update","mediaUpload":null,"parameterOrder":["calendarId"],"parameters":{"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"calendars/{calendarId}","request":{"$ref":"Calendar","parameterName":null},"response":{"$ref":"Calendar"},"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"channels":{"methods":{"stop":{"description":"Stop watching resources through this channel","etagRequired":null,"httpMethod":"POST","id":"calendar.channels.stop","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"channels/stop","request":{"$ref":"Channel","parameterName":"resource"},"response":null,"scopes":["https://www.googleapis.com/auth/calendar","https://www.googleapis.com/auth/calendar.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"colors":{"methods":{"get":{"description":"Returns the color definitions for calendars and events.","etagRequired":null,"httpMethod":"GET","id":"calendar.colors.get","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"colors","request":null,"response":{"$ref":"Colors"},"scopes":["https://www.googleapis.com/auth/calendar","https://www.googleapis.com/auth/calendar.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"events":{"methods":{"delete":{"description":"Deletes an event.","etagRequired":null,"httpMethod":"DELETE","id":"calendar.events.delete","mediaUpload":null,"parameterOrder":["calendarId","eventId"],"parameters":{"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"eventId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Event identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sendNotifications":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to send notifications about the deletion of the event. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"calendars/{calendarId}/events/{eventId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns an event.","etagRequired":null,"httpMethod":"GET","id":"calendar.events.get","mediaUpload":null,"parameterOrder":["calendarId","eventId"],"parameters":{"alwaysIncludeEmail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"eventId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Event identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxAttendees":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"timeZone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time zone used in the response. Optional. The default is the time zone of the calendar.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"calendars/{calendarId}/events/{eventId}","request":null,"response":{"$ref":"Event"},"scopes":["https://www.googleapis.com/auth/calendar","https://www.googleapis.com/auth/calendar.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"import":{"description":"Imports an event. This operation is used to add a private copy of an existing event to a calendar.","etagRequired":null,"httpMethod":"POST","id":"calendar.events.import","mediaUpload":null,"parameterOrder":["calendarId"],"parameters":{"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"supportsAttachments":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether API client performing operation supports event attachments. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"calendars/{calendarId}/events/import","request":{"$ref":"Event","parameterName":null},"response":{"$ref":"Event"},"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates an event.","etagRequired":null,"httpMethod":"POST","id":"calendar.events.insert","mediaUpload":null,"parameterOrder":["calendarId"],"parameters":{"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxAttendees":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"sendNotifications":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to send notifications about the creation of the new event. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"supportsAttachments":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether API client performing operation supports event attachments. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"calendars/{calendarId}/events","request":{"$ref":"Event","parameterName":null},"response":{"$ref":"Event"},"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"instances":{"description":"Returns instances of the specified recurring event.","etagRequired":null,"httpMethod":"GET","id":"calendar.events.instances","mediaUpload":null,"parameterOrder":["calendarId","eventId"],"parameters":{"alwaysIncludeEmail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"eventId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Recurring event identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxAttendees":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of events returned on one result page. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"originalStart":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The original start time of the instance in the result. Optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token specifying which result page to return. Optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"showDeleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events will still be included if singleEvents is False. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"timeMax":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timeMin":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timeZone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time zone used in the response. Optional. The default is the time zone of the calendar.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"calendars/{calendarId}/events/{eventId}/instances","request":null,"response":{"$ref":"Events"},"scopes":["https://www.googleapis.com/auth/calendar","https://www.googleapis.com/auth/calendar.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":true,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Returns events on the specified calendar.","etagRequired":null,"httpMethod":"GET","id":"calendar.events.list","mediaUpload":null,"parameterOrder":["calendarId"],"parameters":{"alwaysIncludeEmail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"iCalUID":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies event ID in the iCalendar format to be included in the response. Optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxAttendees":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"250","description":"Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"orderBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The order of the events returned in the result. Optional. The default is an unspecified, stable order.","enum":["startTime","updated"],"enumDescriptions":["Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)","Order by last modification time (ascending)."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token specifying which result page to return. Optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"privateExtendedProperty":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"q":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Free text search terms to find events that match these terms in any field, except for extended properties. Optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sharedExtendedProperty":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"showDeleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"showHiddenInvitations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to include hidden invitations in the result. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"singleEvents":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"syncToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timeMax":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, e.g., 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but will be ignored. If timeMin is set, timeMax must be greater than timeMin.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timeMin":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, e.g., 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but will be ignored. If timeMax is set, timeMin must be smaller than timeMax.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timeZone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time zone used in the response. Optional. The default is the time zone of the calendar.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"updatedMin":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"calendars/{calendarId}/events","request":null,"response":{"$ref":"Events"},"scopes":["https://www.googleapis.com/auth/calendar","https://www.googleapis.com/auth/calendar.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":true,"useMediaDownloadService":null,"ETag":null},"move":{"description":"Moves an event to another calendar, i.e. changes an event's organizer.","etagRequired":null,"httpMethod":"POST","id":"calendar.events.move","mediaUpload":null,"parameterOrder":["calendarId","eventId","destination"],"parameters":{"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier of the source calendar where the event currently is on.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"destination":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier of the target calendar where the event is to be moved to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"eventId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Event identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sendNotifications":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to send notifications about the change of the event's organizer. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"calendars/{calendarId}/events/{eventId}/move","request":null,"response":{"$ref":"Event"},"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an event. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"calendar.events.patch","mediaUpload":null,"parameterOrder":["calendarId","eventId"],"parameters":{"alwaysIncludeEmail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"eventId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Event identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxAttendees":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"sendNotifications":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to send notifications about the event update (e.g. attendee's responses, title changes, etc.). Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"supportsAttachments":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether API client performing operation supports event attachments. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"calendars/{calendarId}/events/{eventId}","request":{"$ref":"Event","parameterName":null},"response":{"$ref":"Event"},"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"quickAdd":{"description":"Creates an event based on a simple text string.","etagRequired":null,"httpMethod":"POST","id":"calendar.events.quickAdd","mediaUpload":null,"parameterOrder":["calendarId","text"],"parameters":{"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sendNotifications":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to send notifications about the creation of the event. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"text":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The text describing the event to be created.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"calendars/{calendarId}/events/quickAdd","request":null,"response":{"$ref":"Event"},"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an event.","etagRequired":null,"httpMethod":"PUT","id":"calendar.events.update","mediaUpload":null,"parameterOrder":["calendarId","eventId"],"parameters":{"alwaysIncludeEmail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"eventId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Event identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxAttendees":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"sendNotifications":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to send notifications about the event update (e.g. attendee's responses, title changes, etc.). Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"supportsAttachments":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether API client performing operation supports event attachments. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"calendars/{calendarId}/events/{eventId}","request":{"$ref":"Event","parameterName":null},"response":{"$ref":"Event"},"scopes":["https://www.googleapis.com/auth/calendar"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"watch":{"description":"Watch for changes to Events resources.","etagRequired":null,"httpMethod":"POST","id":"calendar.events.watch","mediaUpload":null,"parameterOrder":["calendarId"],"parameters":{"alwaysIncludeEmail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to always include a value in the email field for the organizer, creator and attendees, even if no real email is available (i.e. a generated, non-working value will be provided). The use of this option is discouraged and should only be used by clients which cannot handle the absence of an email address value in the mentioned places. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"calendarId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Calendar identifier. To retrieve calendar IDs call the calendarList.list method. If you want to access the primary calendar of the currently logged in user, use the \"primary\" keyword.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"iCalUID":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies event ID in the iCalendar format to be included in the response. Optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxAttendees":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of attendees to include in the response. If there are more than the specified number of attendees, only the participant is returned. Optional.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"250","description":"Maximum number of events returned on one result page. The number of events in the resulting page may be less than this value, or none at all, even if there are more events matching the query. Incomplete pages can be detected by a non-empty nextPageToken field in the response. By default the value is 250 events. The page size can never be larger than 2500 events. Optional.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"orderBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The order of the events returned in the result. Optional. The default is an unspecified, stable order.","enum":["startTime","updated"],"enumDescriptions":["Order by the start date/time (ascending). This is only available when querying single events (i.e. the parameter singleEvents is True)","Order by last modification time (ascending)."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token specifying which result page to return. Optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"privateExtendedProperty":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Extended properties constraint specified as propertyName=value. Matches only private properties. This parameter might be repeated multiple times to return events that match all given constraints.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"q":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Free text search terms to find events that match these terms in any field, except for extended properties. Optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sharedExtendedProperty":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Extended properties constraint specified as propertyName=value. Matches only shared properties. This parameter might be repeated multiple times to return events that match all given constraints.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"showDeleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to include deleted events (with status equals \"cancelled\") in the result. Cancelled instances of recurring events (but not the underlying recurring event) will still be included if showDeleted and singleEvents are both False. If showDeleted and singleEvents are both True, only single instances of deleted events (but not the underlying recurring events) are returned. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"showHiddenInvitations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to include hidden invitations in the result. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"singleEvents":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to expand recurring events into instances and only return single one-off events and instances of recurring events, but not the underlying recurring events themselves. Optional. The default is False.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"syncToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then. All events deleted since the previous list request will always be in the result set and it is not allowed to set showDeleted to False.\nThere are several query parameters that cannot be specified together with nextSyncToken to ensure consistency of the client state.\n\nThese are: \n- iCalUID \n- orderBy \n- privateExtendedProperty \n- q \n- sharedExtendedProperty \n- timeMin \n- timeMax \n- updatedMin If the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timeMax":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upper bound (exclusive) for an event's start time to filter by. Optional. The default is not to filter by start time. Must be an RFC3339 timestamp with mandatory time zone offset, e.g., 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but will be ignored. If timeMin is set, timeMax must be greater than timeMin.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timeMin":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Lower bound (inclusive) for an event's end time to filter by. Optional. The default is not to filter by end time. Must be an RFC3339 timestamp with mandatory time zone offset, e.g., 2011-06-03T10:00:00-07:00, 2011-06-03T10:00:00Z. Milliseconds may be provided but will be ignored. If timeMax is set, timeMin must be smaller than timeMax.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timeZone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time zone used in the response. Optional. The default is the time zone of the calendar.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"updatedMin":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Lower bound for an event's last modification time (as a RFC3339 timestamp) to filter by. When specified, entries deleted since this time will always be included regardless of showDeleted. Optional. The default is not to filter by last modification time.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"calendars/{calendarId}/events/watch","request":{"$ref":"Channel","parameterName":"resource"},"response":{"$ref":"Channel"},"scopes":["https://www.googleapis.com/auth/calendar","https://www.googleapis.com/auth/calendar.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":true,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"freebusy":{"methods":{"query":{"description":"Returns free/busy information for a set of calendars.","etagRequired":null,"httpMethod":"POST","id":"calendar.freebusy.query","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"freeBusy","request":{"$ref":"FreeBusyRequest","parameterName":null},"response":{"$ref":"FreeBusyResponse"},"scopes":["https://www.googleapis.com/auth/calendar","https://www.googleapis.com/auth/calendar.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"settings":{"methods":{"get":{"description":"Returns a single user setting.","etagRequired":null,"httpMethod":"GET","id":"calendar.settings.get","mediaUpload":null,"parameterOrder":["setting"],"parameters":{"setting":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of the user setting.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"users/me/settings/{setting}","request":null,"response":{"$ref":"Setting"},"scopes":["https://www.googleapis.com/auth/calendar","https://www.googleapis.com/auth/calendar.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Returns all user settings for the authenticated user.","etagRequired":null,"httpMethod":"GET","id":"calendar.settings.list","mediaUpload":null,"parameterOrder":null,"parameters":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token specifying which result page to return. Optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"syncToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"users/me/settings","request":null,"response":{"$ref":"Settings"},"scopes":["https://www.googleapis.com/auth/calendar","https://www.googleapis.com/auth/calendar.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":true,"useMediaDownloadService":null,"ETag":null},"watch":{"description":"Watch for changes to Settings resources.","etagRequired":null,"httpMethod":"POST","id":"calendar.settings.watch","mediaUpload":null,"parameterOrder":null,"parameters":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of entries returned on one result page. By default the value is 100 entries. The page size can never be larger than 250 entries. Optional.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token specifying which result page to return. Optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"syncToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token obtained from the nextSyncToken field returned on the last page of results from the previous list request. It makes the result of this list request contain only entries that have changed since then.\nIf the syncToken expires, the server will respond with a 410 GONE response code and the client should clear its storage and perform a full synchronization without any syncToken.\nLearn more about incremental synchronization.\nOptional. The default is to return all entries.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"users/me/settings/watch","request":{"$ref":"Channel","parameterName":"resource"},"response":{"$ref":"Channel"},"scopes":["https://www.googleapis.com/auth/calendar","https://www.googleapis.com/auth/calendar.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":true,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20170924","rootUrl":"https://www.googleapis.com/","schemas":{"Acl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"Acl","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"etag":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ETag of the collection.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of rules on the access control list.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"AclRule","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"calendar#acl","description":"Type of the collection (\"calendar#acl\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token used to access the next page of this result. Omitted if no further results are available, in which case nextSyncToken is provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextSyncToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token used at a later point in time to retrieve only the entries that have changed since this result was returned. Omitted if further results are available, in which case nextPageToken is provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AclRule":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AclRule","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"etag":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ETag of the resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier of the ACL rule.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"calendar#aclRule","description":"Type of the resource (\"calendar#aclRule\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"role":{"$ref":null,"additionalProperties":null,"annotations":{"required":["calendar.acl.insert"]},"default":null,"description":"The role assigned to the scope. Possible values are:  \n- \"none\" - Provides no access. \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\" - Provides read access
[...]
