{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"}}}},"basePath":"","baseUrl":"https://clouderrorreporting.googleapis.com/","batchPath":"batch","canonicalName":"Clouderrorreporting","description":"Groups and counts similar errors from cloud services and applications, reports new errors, and provides access to error groups and their associated errors.\n","discoveryVersion":"v1","documentationLink":"https://cloud.google.com/error-reporting/","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"clouderrorreporting:v1beta1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"clouderrorreporting","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"projects":{"methods":{"deleteEvents":{"description":"Deletes all error events of a given project.","etagRequired":null,"httpMethod":"DELETE","id":"clouderrorreporting.projects.deleteEvents","mediaUpload":null,"parameterOrder":["projectName"],"parameters":{"projectName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Required] The resource name of the Google Cloud Platform project. Written\nas `projects/` plus the\n[Google Cloud Platform project\nID](https://support.google.com/cloud/answer/6158840).\nExample: `projects/my-project-123`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1beta1/{+projectName}/events","request":null,"response":{"$ref":"DeleteEventsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"events":{"methods":{"list":{"description":"Lists the specified events.","etagRequired":null,"httpMethod":"GET","id":"clouderrorreporting.projects.events.list","mediaUpload":null,"parameterOrder":["projectName"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Optional] A `next_page_token` provided by a previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"serviceFilter.service":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Optional] The exact value to match against\n[`ServiceContext.service`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.service).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Optional] The maximum number of results to return per response.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"serviceFilter.version":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Optional] The exact value to match against\n[`ServiceContext.version`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.version).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"serviceFilter.resourceType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Optional] The exact value to match against\n[`ServiceContext.resource_type`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.resource_type).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timeRange.period":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Restricts the query to the specified time range.","enum":["PERIOD_UNSPECIFIED","PERIOD_1_HOUR","PERIOD_6_HOURS","PERIOD_1_DAY","PERIOD_1_WEEK","PERIOD_30_DAYS"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Required] The resource name of the Google Cloud Platform project. Written\nas `projects/` plus the\n[Google Cloud Platform project\nID](https://support.google.com/cloud/answer/6158840).\nExample: `projects/my-project-123`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"groupId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Required] The group for which events shall be returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1beta1/{+projectName}/events","request":null,"response":{"$ref":"ListEventsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"report":{"description":"Report an individual error event.\n\nThis endpoint accepts <strong>either</strong> an OAuth token,\n<strong>or</strong> an\n<a href=\"https://support.google.com/cloud/answer/6158862\">API key</a>\nfor authentication. To use an API key, append it to the URL as the value of\na `key` parameter. For example:\n<pre>POST https://clouderrorreporting.googleapis.com/v1beta1/projects/example-project/events:report?key=123ABC456</pre>","etagRequired":null,"httpMethod":"POST","id":"clouderrorreporting.projects.events.report","mediaUpload":null,"parameterOrder":["projectName"],"parameters":{"projectName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Required] The resource name of the Google Cloud Platform project. Written\nas `projects/` plus the\n[Google Cloud Platform project ID](https://support.google.com/cloud/answer/6158840).\nExample: `projects/my-project-123`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1beta1/{+projectName}/events:report","request":{"$ref":"ReportedErrorEvent","parameterName":null},"response":{"$ref":"ReportErrorEventResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"groupStats":{"methods":{"list":{"description":"Lists the specified groups.","etagRequired":null,"httpMethod":"GET","id":"clouderrorreporting.projects.groupStats.list","mediaUpload":null,"parameterOrder":["projectName"],"parameters":{"alignmentTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Optional] Time where the timed counts shall be aligned if rounded\nalignment is chosen. Default is 00:00 UTC.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"serviceFilter.resourceType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Optional] The exact value to match against\n[`ServiceContext.resource_type`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.resource_type).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Required] The resource name of the Google Cloud Platform project. Written\nas <code>projects/</code> plus the\n<a href=\"https://support.google.com/cloud/answer/6158840\">Google Cloud\nPlatform project ID</a>.\n\nExample: <code>projects/my-project-123</code>.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"timedCountDuration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Optional] The preferred duration for a single returned `TimedCount`.\nIf not set, no timed counts are returned.","enum":null,"enumDescriptions":null,"format":"google-duration","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Optional] A `next_page_token` provided by a previous response. To view\nadditional results, pass this token along with the identical query\nparameters as the first request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timeRange.period":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Restricts the query to the specified time range.","enum":["PERIOD_UNSPECIFIED","PERIOD_1_HOUR","PERIOD_6_HOURS","PERIOD_1_DAY","PERIOD_1_WEEK","PERIOD_30_DAYS"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alignment":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Optional] The alignment of the timed counts to be returned.\nDefault is `ALIGNMENT_EQUAL_AT_END`.","enum":["ERROR_COUNT_ALIGNMENT_UNSPECIFIED","ALIGNMENT_EQUAL_ROUNDED","ALIGNMENT_EQUAL_AT_END"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"groupId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Optional] List all <code>ErrorGroupStats</code> with these IDs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"serviceFilter.service":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Optional] The exact value to match against\n[`ServiceContext.service`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.service).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Optional] The maximum number of results to return per response.\nDefault is 20.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"serviceFilter.version":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Optional] The exact value to match against\n[`ServiceContext.version`](/error-reporting/reference/rest/v1beta1/ServiceContext#FIELDS.version).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"order":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Optional] The sort order in which the results are returned.\nDefault is `COUNT_DESC`.","enum":["GROUP_ORDER_UNSPECIFIED","COUNT_DESC","LAST_SEEN_DESC","CREATED_DESC","AFFECTED_USERS_DESC"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1beta1/{+projectName}/groupStats","request":null,"response":{"$ref":"ListGroupStatsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"groups":{"methods":{"get":{"description":"Get the specified group.","etagRequired":null,"httpMethod":"GET","id":"clouderrorreporting.projects.groups.get","mediaUpload":null,"parameterOrder":["groupName"],"parameters":{"groupName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Required] The group resource name. Written as\n<code>projects/<var>projectID</var>/groups/<var>group_name</var></code>.\nCall\n<a href=\"/error-reporting/reference/rest/v1beta1/projects.groupStats/list\">\n<code>groupStats.list</code></a> to return a list of groups belonging to\nthis project.\n\nExample: <code>projects/my-project-123/groups/my-group</code>","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/groups/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1beta1/{+groupName}","request":null,"response":{"$ref":"ErrorGroup"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Replace the data for the specified group.\nFails if the group does not exist.","etagRequired":null,"httpMethod":"PUT","id":"clouderrorreporting.projects.groups.update","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The group resource name.\nExample: <code>projects/my-project-123/groups/my-groupid</code>","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/groups/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1beta1/{+name}","request":{"$ref":"ErrorGroup","parameterName":null},"response":{"$ref":"ErrorGroup"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"revision":"20171002","rootUrl":"https://clouderrorreporting.googleapis.com/","schemas":{"TrackingIssue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Information related to tracking the progress on resolving the error.","enum":null,"enumDescriptions":null,"format":null,"id":"TrackingIssue","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A URL pointing to a related entry in an issue tracking system.\nExample: https://github.com/user/project/issues/4","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ErrorGroupStats":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Data extracted for a specific group based on certain filter criteria,\nsuch as a given time period and/or service filter.","enum":null,"enumDescriptions":null,"format":null,"id":"ErrorGroupStats","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"lastSeenTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Approximate last occurrence that was ever seen for this group and\nwhich matches the given filter criteria, ignoring the time_range\nthat was specified in the request.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"affectedUsersCount":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Approximate number of affected users in the given group that\nmatch the filter criteria.\nUsers are distinguished by data in the `ErrorContext` of the\nindividual error events, such as their login name or their remote\nIP address in case of HTTP requests.\nThe number of affected users can be zero even if the number of\nerrors is non-zero if no data was provided from which the\naffected user could be deduced.\nUsers are counted based on data in the request\ncontext that was provided in the error report. If more users are\nimplicitly affected, such as due to a crash of the whole service,\nthis is not reflected here.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"numAffectedServices":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The total number of services with a non-zero error count for the given\nfilter criteria.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"affectedServices":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Service contexts with a non-zero error count for the given filter\ncriteria. This list can be truncated if multiple services are affected.\nRefer to `num_affected_services` for the total count.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ServiceContext","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"representative":{"$ref":"ErrorEvent","additionalProperties":null,"annotations":null,"default":null,"description":"An arbitrary event that is chosen as representative for the whole group.\nThe representative event is intended to be used as a quick preview for\nthe whole group. Events in the group are usually sufficiently similar\nto each other such that showing an arbitrary representative provides\ninsight into the characteristics of the group as a whole.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"timedCounts":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Approximate number of occurrences over time.\nTimed counts returned by ListGroups are guaranteed to be:\n\n- Inside the requested time interval\n- Non-overlapping, and\n- Ordered by ascending time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"TimedCount","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"group":{"$ref":"ErrorGroup","additionalProperties":null,"annotations":null,"default":null,"description":"Group data that is independent of the filter criteria.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"firstSeenTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Approximate first occurrence that was ever seen for this group\nand which matches the given filter criteria, ignoring the\ntime_range that was specified in the request.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"count":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Approximate total number of events in the given group that match\nthe filter criteria.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListEventsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Contains a set of requested error events.","enum":null,"enumDescriptions":null,"format":null,"id":"ListEventsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"timeRangeBegin":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The timestamp specifies the start time to which the request was restricted.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"errorEvents":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The error events which match the given request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ErrorEvent","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If non-empty, more results are available.\nPass this token, along with the same query parameters as the first\nrequest, to view the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TimedCount":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The number of errors in a given time period.\nAll numbers are approximate since the error events are sampled\nbefore counting them.","enum":null,"enumDescriptions":null,"format":null,"id":"TimedCount","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"endTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"End of the time period to which `count` refers (excluded).","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Start of the time period to which `count` refers (included).","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"count":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Approximate number of occurrences in the given time period.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ErrorGroup":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Description of a group of similar error events.","enum":null,"enumDescriptions":null,"format":null,"id":"ErrorGroup","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"trackingIssues":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Associated tracking issues.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"TrackingIssue","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"groupId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Group IDs are unique for a given project. If the same kind of error\noccurs in different service contexts, it will receive the same group ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The group resource name.\nExample: <code>projects/my-project-123/groups/my-groupid</code>","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SourceLocation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Indicates a location in the source code of the service for which errors are\nreported. `functionName` must be provided by the application when reporting\nan error, unless the error report contains a `message` with a supported\nexception stack trace. All fields are optional for the later case.","enum":null,"enumDescriptions":null,"format":null,"id":"SourceLocation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"functionName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Human-readable name of a function or method.\nThe value can include optional context like the class or package name.\nFor example, `my.package.MyClass.method` in case of Java.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"filePath":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The source code filename, which can include a truncated relative\npath, or a full path from a production machine.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"lineNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"1-based. 0 indicates that the line number is unknown.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ServiceContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Describes a running service that sends errors.\nIts version changes over time and multiple versions can run in parallel.","enum":null,"enumDescriptions":null,"format":null,"id":"ServiceContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"service":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An identifier of the service, such as the name of the\nexecutable, job, or Google App Engine service name. This field is expected\nto have a low number of values that are relatively stable over time, as\nopposed to `version`, which can be changed whenever new code is deployed.\n\nContains the service name for error reports extracted from Google\nApp Engine logs or `default` if the App Engine default service is used.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"resourceType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Type of the MonitoredResource. List of possible values:\nhttps://cloud.google.com/monitoring/api/resources\n\nValue is set automatically for incoming errors and must not be set when\nreporting errors.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"version":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents the source code version that the developer provided,\nwhich could represent a version label or a Git SHA-1 hash, for example.\nFor App Engine standard environment, the version is set to the version of\nthe app.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ReportErrorEventResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response for reporting an individual error event.\nData may be added to this message in the future.","enum":null,"enumDescriptions":null,"format":null,"id":"ReportErrorEventResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"HttpRequestContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"HTTP request data that is related to a reported error.\nThis data should be provided by the application when reporting an error,\nunless the\nerror report has been generated automatically from Google App Engine logs.","enum":null,"enumDescriptions":null,"format":null,"id":"HttpRequestContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"method":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of HTTP request, such as `GET`, `POST`, etc.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"remoteIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The IP address from which the request originated.\nThis can be IPv4, IPv6, or a token which is derived from the\nIP address, depending on the data that has been provided\nin the error report.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"referrer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The referrer information that is provided with the request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userAgent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The user agent information that is provided with the request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL of the request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"responseStatusCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The HTTP response status code for the request.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListGroupStatsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Contains a set of requested error group stats.","enum":null,"enumDescriptions":null,"format":null,"id":"ListGroupStatsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"timeRangeBegin":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The timestamp specifies the start time to which the request was restricted.\nThe start time is set based on the requested time range. It may be adjusted\nto a later time if a project has exceeded the storage quota and older data\nhas been deleted.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"errorGroupStats":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The error group stats which match the given request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ErrorGroupStats","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If non-empty, more results are available.\nPass this token, along with the same query parameters as the first\nrequest, to view the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SourceReference":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A reference to a particular snapshot of the source tree used to build and\ndeploy an application.","enum":null,"enumDescriptions":null,"format":null,"id":"SourceReference","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"repository":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional. A URI string identifying the repository.\nExample: \"https://github.com/GoogleCloudPlatform/kubernetes.git\"","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"revisionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The canonical and persistent identifier of the deployed revision.\nExample (git): \"0035781c50ec7aa23385dc841529ce8a4b70db1b\"","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DeleteEventsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response message for deleting error events.","enum":null,"enumDescriptions":null,"format":null,"id":"DeleteEventsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ErrorEvent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An error event which is returned by the Error Reporting system.","enum":null,"enumDescriptions":null,"format":null,"id":"ErrorEvent","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"context":{"$ref":"ErrorContext","additionalProperties":null,"annotations":null,"default":null,"description":"Data about the context in which the error occurred.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"message":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The stack trace that was reported or logged by the service.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"serviceContext":{"$ref":"ServiceContext","additionalProperties":null,"annotations":null,"default":null,"description":"The `ServiceContext` for which this error was reported.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"eventTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time when the event occurred as provided in the error report.\nIf the report did not contain a timestamp, the time the error was received\nby the Error Reporting system is used.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ReportedErrorEvent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An error event which is reported to the Error Reporting system.","enum":null,"enumDescriptions":null,"format":null,"id":"ReportedErrorEvent","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"eventTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Optional] Time when the event occurred.\nIf not provided, the time when the event was received by the\nError Reporting system will be used.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"context":{"$ref":"ErrorContext","additionalProperties":null,"annotations":null,"default":null,"description":"[Optional] A description of the context in which the error occurred.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"message":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Required] The error message.\nIf no `context.reportLocation` is provided, the message must contain a\nheader (typically consisting of the exception type name and an error\nmessage) and an exception stack trace in one of the supported programming\nlanguages and formats.\nSupported languages are Java, Python, JavaScript, Ruby, C#, PHP, and Go.\nSupported stack trace formats are:\n\n* **Java**: Must be the return value of [`Throwable.printStackTrace()`](https://docs.oracle.com/javase/7/docs/api/java/lang/Throwable.html#printStackTrace%28%29).\n* **Python**: Must be the return value of [`traceback.format_exc()`](https://docs.python.org/2/library/traceback.html#traceback.format_exc).\n* **JavaScript**: Must be the value of [`error.stack`](https://github.com/v8/v8/wiki/Stack-Trace-API)\nas returned by V8.\n* **Ruby**: Must contain frames returned by [`Exception.backtrace`](https://ruby-doc.org/core-2.2.0/Exception.html#method-i-backtrace).\n* **C#**: Must be the return value of [`Exception.ToString()`](https://msdn.microsoft.com/en-us/library/system.exception.tostring.aspx).\n* **PHP**: Must start with `PHP (Notice|Parse error|Fatal error|Warning)`\nand contain the result of [`(string)$exception`](http://php.net/manual/en/exception.tostring.php).\n* **Go**: Must be the return value of [`runtime.Stack()`](https://golang.org/pkg/runtime/debug/#Stack).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"serviceContext":{"$ref":"ServiceContext","additionalProperties":null,"annotations":null,"default":null,"description":"[Required] The service context in which this error has occurred.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ErrorContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A description of the context in which an error occurred.\nThis data should be provided by the application when reporting an error,\nunless the\nerror report has been generated automatically from Google App Engine logs.","enum":null,"enumDescriptions":null,"format":null,"id":"ErrorContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"sourceReferences":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Source code that was used to build the executable which has\ncaused the given error message.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"SourceReference","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"reportLocation":{"$ref":"SourceLocation","additionalProperties":null,"annotations":null,"default":null,"description":"The location in the source code where the decision was made to\nreport the error, usually the place where it was logged.\nFor a logged exception this would be the source line where the\nexception is logged, usually close to the place where it was\ncaught.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"httpRequest":{"$ref":"HttpRequestContext","additionalProperties":null,"annotations":null,"default":null,"description":"The HTTP request which was processed when the error was\ntriggered.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"user":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The user who caused or was affected by the crash.\nThis can be a user ID, an email address, or an arbitrary token that\nuniquely identifies the user.\nWhen sending an error report, leave this field empty if the user was not\nlogged in. In this case the\nError Reporting system will use other data, such as remote IP address, to\ndistinguish affected users. See `affected_users_count` in\n`ErrorGroupStats`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"","title":"Stackdriver Error Reporting API","version":"v1beta1","version_module":true}