{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"}}}},"basePath":"","baseUrl":"https://cloudbuild.googleapis.com/","batchPath":"batch","canonicalName":"Cloud Build","description":"Builds container images in the cloud.","discoveryVersion":"v1","documentationLink":"https://cloud.google.com/container-builder/docs/","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"cloudbuild:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"cloudbuild","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"operations":{"methods":{"cancel":{"description":"Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of 1,\ncorresponding to `Code.CANCELLED`.","etagRequired":null,"httpMethod":"POST","id":"cloudbuild.operations.cancel","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation resource to be cancelled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^operations/.+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}:cancel","request":{"$ref":"CancelOperationRequest","parameterName":null},"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.","etagRequired":null,"httpMethod":"GET","id":"cloudbuild.operations.get","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^operations/.+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding allows API services to override the binding\nto use different resource name schemes, such as `users/*/operations`. To\noverride the binding, API services can add a binding such as\n`\"/v1/{name=users/*}/operations\"` to their service configuration.\nFor backwards compatibility, the default name includes the operations\ncollection id, however overriding users must ensure the name binding\nis the parent resource, without the operations collection id.","etagRequired":null,"httpMethod":"GET","id":"cloudbuild.operations.list","mediaUpload":null,"parameterOrder":["name"],"parameters":{"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The standard list filter.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The standard list page token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation's parent resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^operations$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The standard list page size.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"ListOperationsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"projects":{"methods":null,"resources":{"builds":{"methods":{"cancel":{"description":"Cancels a requested build in progress.","etagRequired":null,"httpMethod":"POST","id":"cloudbuild.projects.builds.cancel","mediaUpload":null,"parameterOrder":["projectId","id"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the project.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the build.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/builds/{id}:cancel","request":{"$ref":"CancelBuildRequest","parameterName":null},"response":{"$ref":"Build"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists previously requested builds.\n\nPreviously requested builds may still be in-progress, or may have finished\nsuccessfully or unsuccessfully.","etagRequired":null,"httpMethod":"GET","id":"cloudbuild.projects.builds.list","mediaUpload":null,"parameterOrder":["projectId"],"parameters":{"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The raw filter text to constrain the results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token to provide to skip to a particular spot in the list.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of results to return in the list.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the project.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/builds","request":null,"response":{"$ref":"ListBuildsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns information about a previously requested build.\n\nThe Build that is returned includes its status (e.g., success or failure,\nor in-progress), and timing information.","etagRequired":null,"httpMethod":"GET","id":"cloudbuild.projects.builds.get","mediaUpload":null,"parameterOrder":["projectId","id"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the project.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the build.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/builds/{id}","request":null,"response":{"$ref":"Build"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Starts a build with the specified configuration.\n\nThe long-running Operation returned by this method will include the ID of\nthe build, which can be passed to GetBuild to determine its status (e.g.,\nsuccess or failure).","etagRequired":null,"httpMethod":"POST","id":"cloudbuild.projects.builds.create","mediaUpload":null,"parameterOrder":["projectId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the project.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/builds","request":{"$ref":"Build","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"triggers":{"methods":{"patch":{"description":"Updates an BuildTrigger by its project ID and trigger ID.\n\nThis API is experimental.","etagRequired":null,"httpMethod":"PATCH","id":"cloudbuild.projects.triggers.patch","mediaUpload":null,"parameterOrder":["projectId","triggerId"],"parameters":{"triggerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the BuildTrigger to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the project that owns the trigger.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/triggers/{triggerId}","request":{"$ref":"BuildTrigger","parameterName":null},"response":{"$ref":"BuildTrigger"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists existing BuildTrigger.\n\nThis API is experimental.","etagRequired":null,"httpMethod":"GET","id":"cloudbuild.projects.triggers.list","mediaUpload":null,"parameterOrder":["projectId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the project for which to list BuildTriggers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/triggers","request":null,"response":{"$ref":"ListBuildTriggersResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets information about a BuildTrigger.\n\nThis API is experimental.","etagRequired":null,"httpMethod":"GET","id":"cloudbuild.projects.triggers.get","mediaUpload":null,"parameterOrder":["projectId","triggerId"],"parameters":{"triggerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the BuildTrigger to get.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the project that owns the trigger.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/triggers/{triggerId}","request":null,"response":{"$ref":"BuildTrigger"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates a new BuildTrigger.\n\nThis API is experimental.","etagRequired":null,"httpMethod":"POST","id":"cloudbuild.projects.triggers.create","mediaUpload":null,"parameterOrder":["projectId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the project for which to configure automatic builds.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/triggers","request":{"$ref":"BuildTrigger","parameterName":null},"response":{"$ref":"BuildTrigger"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes an BuildTrigger by its project ID and trigger ID.\n\nThis API is experimental.","etagRequired":null,"httpMethod":"DELETE","id":"cloudbuild.projects.triggers.delete","mediaUpload":null,"parameterOrder":["projectId","triggerId"],"parameters":{"triggerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the BuildTrigger to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the project that owns the trigger.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/triggers/{triggerId}","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"revision":"20171005","rootUrl":"https://cloudbuild.googleapis.com/","schemas":{"Empty":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.","enum":null,"enumDescriptions":null,"format":null,"id":"Empty","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BuildTrigger":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Configuration for an automated build in response to source repository\nchanges.","enum":null,"enumDescriptions":null,"format":null,"id":"BuildTrigger","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier of the trigger.\n\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"build":{"$ref":"Build","additionalProperties":null,"annotations":null,"default":null,"description":"Contents of the build template.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"substitutions":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"annotations":null,"default":null,"description":"Substitutions data for Build resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Human-readable description of this trigger.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"createTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time when the trigger was created.\n\n@OutputOnly","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"disabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If true, the trigger will never result in a build.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"triggerTemplate":{"$ref":"RepoSource","additionalProperties":null,"annotations":null,"default":null,"description":"Template describing the types of source changes to trigger a build.\n\nBranch and tag names in trigger templates are interpreted as regular\nexpressions. Any branch or tag change that matches that regular expression\nwill trigger a build.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"filename":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Path, from the source root, to a file whose contents is used for the\ntemplate.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Build":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A build resource in the Container Builder API.\n\nAt a high level, a Build describes where to find source code, how to build\nit (for example, the builder image to run on the source), and what tag to\napply to the built image when it is pushed to Google Container Registry.\n\nFields can include the following variables which will be expanded when the\nbuild is created:\n\n- $PROJECT_ID: the project ID of the build.\n- $BUILD_ID: the autogenerated ID of the build.\n- $REPO_NAME: the source repository name specified by RepoSource.\n- $BRANCH_NAME: the branch name specified by RepoSource.\n- $TAG_NAME: the tag name specified by RepoSource.\n- $REVISION_ID or $COMMIT_SHA: the commit SHA specified by RepoSource or\n  resolved from the specified branch or tag.\n- $SHORT_SHA: first 7 characters of $REVISION_ID or $COMMIT_SHA.","enum":null,"enumDescriptions":null,"format":null,"id":"Build","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"tags":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Tags for annotation of a Build. These are not docker tags.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier of the build.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"substitutions":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"annotations":null,"default":null,"description":"Substitutions data for Build resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time at which execution of the build was started.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sourceProvenance":{"$ref":"SourceProvenance","additionalProperties":null,"annotations":null,"default":null,"description":"A permanent fixed identifier for source.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"createTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time at which the request to create the build was received.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"images":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of images to be pushed upon the successful completion of all build\nsteps.\n\nThe images will be pushed using the builder service account's credentials.\n\nThe digests of the pushed images will be stored in the Build resource's\nresults field.\n\nIf any of the images fail to be pushed, the build is marked FAILURE.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the project.\n@OutputOnly.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"logUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"URL to logs for this build in Google Cloud Logging.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"finishTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time at which execution of the build was finished.\n\nThe difference between finish_time and start_time is the duration of the\nbuild's execution.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"options":{"$ref":"BuildOptions","additionalProperties":null,"annotations":null,"default":null,"description":"Special options for this build.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"source":{"$ref":"Source","additionalProperties":null,"annotations":null,"default":null,"description":"Describes where to find the source files to build.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"statusDetail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Customer-readable message about the current status.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Status of the build.\n@OutputOnly","enum":["STATUS_UNKNOWN","QUEUED","WORKING","SUCCESS","FAILURE","INTERNAL_ERROR","TIMEOUT","CANCELLED"],"enumDescriptions":["Status of the build is unknown.","Build is queued; work has not yet begun.","Build is being executed.","Build finished successfully.","Build failed to complete successfully.","Build failed due to an internal cause.","Build took longer than was allowed.","Build was canceled by a user."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timeout":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Amount of time that this build should be allowed to run, to second\ngranularity. If this amount of time elapses, work on the build will cease\nand the build status will be TIMEOUT.\n\nDefault time is ten minutes.","enum":null,"enumDescriptions":null,"format":"google-duration","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"secrets":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Secrets to decrypt using Cloud KMS.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Secret","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"logsBucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google Cloud Storage bucket where logs should be written (see\n[Bucket Name\nRequirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).\nLogs file names will be of the format `${logs_bucket}/log-${build_id}.txt`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"results":{"$ref":"Results","additionalProperties":null,"annotations":null,"default":null,"description":"Results of the build.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"steps":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Describes the operations to be performed on the workspace.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"BuildStep","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"buildTriggerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the BuildTrigger that triggered this build, if it was\ntriggered automatically.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CancelBuildRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to cancel an ongoing build.","enum":null,"enumDescriptions":null,"format":null,"id":"CancelBuildRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Volume":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Volume describes a Docker container volume which is mounted into build steps\nin order to persist files across build step execution.","enum":null,"enumDescriptions":null,"format":null,"id":"Volume","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Path at which to mount the volume.\n\nPaths must be absolute and cannot conflict with other volume paths on the\nsame build step or with certain reserved volume paths.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the volume to mount.\n\nVolume names must be unique per build step and must be valid names for\nDocker volumes. Each named volume must be used by at least two build steps.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListBuildsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response including listed builds.","enum":null,"enumDescriptions":null,"format":null,"id":"ListBuildsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token to receive the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"builds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Builds will be sorted by create_time, descending.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Build","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListOperationsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response message for Operations.ListOperations.","enum":null,"enumDescriptions":null,"format":null,"id":"ListOperationsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The standard List next-page token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"operations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of operations that matches the specified filter in the request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Operation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Source describes the location of the source in a supported storage\nservice.","enum":null,"enumDescriptions":null,"format":null,"id":"Source","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"storageSource":{"$ref":"StorageSource","additionalProperties":null,"annotations":null,"default":null,"description":"If provided, get the source from this location in Google Cloud Storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"repoSource":{"$ref":"RepoSource","additionalProperties":null,"annotations":null,"default":null,"description":"If provided, get source from this location in a Cloud Repo.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BuildOptions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional arguments to enable specific features of builds.","enum":null,"enumDescriptions":null,"format":null,"id":"BuildOptions","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"substitutionOption":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"SubstitutionOption to allow unmatch substitutions.","enum":["MUST_MATCH","ALLOW_LOOSE"],"enumDescriptions":["Fails the build if error in substitutions checks, like missing\na substitution in the template or in the map.","Do not fail the build if error in substitutions checks."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestedVerifyOption":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested verifiability options.","enum":["NOT_VERIFIED","VERIFIED"],"enumDescriptions":["Not a verifiable build. (default)","Verified build."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sourceProvenanceHash":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested hash for SourceProvenance.","enum":null,"enumDescriptions":["No hash requested.","Use a sha256 hash."],"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["NONE","SHA256"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"StorageSource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"StorageSource describes the location of the source in an archive file in\nGoogle Cloud Storage.","enum":null,"enumDescriptions":null,"format":null,"id":"StorageSource","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google Cloud Storage bucket containing source (see\n[Bucket Name\nRequirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"object":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google Cloud Storage object containing source.\n\nThis object must be a gzipped archive file (.tar.gz) containing source to\nbuild.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"generation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google Cloud Storage generation for the object. If the generation is\nomitted, the latest generation will be used.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Results describes the artifacts created by the build pipeline.","enum":null,"enumDescriptions":null,"format":null,"id":"Results","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"buildStepImages":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of build step digests, in order corresponding to build step indices.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"images":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Images that were built as a part of the build.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"BuiltImage","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BuildOperationMetadata":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Metadata for build operations.","enum":null,"enumDescriptions":null,"format":null,"id":"BuildOperationMetadata","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"build":{"$ref":"Build","additionalProperties":null,"annotations":null,"default":null,"description":"The build that the operation is tracking.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SourceProvenance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Provenance of the source. Ways to find the original source, or verify that\nsome source was used for this build.","enum":null,"enumDescriptions":null,"format":null,"id":"SourceProvenance","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"resolvedRepoSource":{"$ref":"RepoSource","additionalProperties":null,"annotations":null,"default":null,"description":"A copy of the build's source.repo_source, if exists, with any\nrevisions resolved.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"resolvedStorageSource":{"$ref":"StorageSource","additionalProperties":null,"annotations":null,"default":null,"description":"A copy of the build's source.storage_source, if exists, with any\ngenerations resolved.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"fileHashes":{"$ref":null,"additionalProperties":{"$ref":"FileHashes","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"annotations":null,"default":null,"description":"Hash(es) of the build source, which can be used to verify that the original\nsource integrity was maintained in the build. Note that FileHashes will\nonly be populated if BuildOptions has requested a SourceProvenanceHash.\n\nThe keys to this map are file paths used as build source and the values\ncontain the hash values for those files.\n\nIf the build source came in a single package such as a gzipped tarfile\n(.tar.gz), the FileHash will be for the single path to that file.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CancelOperationRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The request message for Operations.CancelOperation.","enum":null,"enumDescriptions":null,"format":null,"id":"CancelOperationRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListBuildTriggersResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response containing existing BuildTriggers.","enum":null,"enumDescriptions":null,"format":null,"id":"ListBuildTriggersResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"triggers":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"BuildTriggers for the project, sorted by create_time descending.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"BuildTrigger","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This resource represents a long-running operation that is the result of a\nnetwork API call.","enum":null,"enumDescriptions":null,"format":null,"id":"Operation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"metadata":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of the object. Contains field @type with type URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"annotations":null,"default":null,"description":"Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"done":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"response":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of the object. Contains field @type with type URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"annotations":null,"default":null,"description":"The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"error":{"$ref":"Status","additionalProperties":null,"annotations":null,"default":null,"description":"The error result of the operation in case of failure or cancellation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BuiltImage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"BuiltImage describes an image built by the pipeline.","enum":null,"enumDescriptions":null,"format":null,"id":"BuiltImage","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name used to push the container image to Google Container Registry, as\npresented to `docker push`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"digest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Docker Registry 2.0 digest.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Hash":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Container message for hash values.","enum":null,"enumDescriptions":null,"format":null,"id":"Hash","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of hash that was performed.","enum":["NONE","SHA256"],"enumDescriptions":["No hash requested.","Use a sha256 hash."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The hash value.","enum":null,"enumDescriptions":null,"format":"byte","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"RepoSource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"RepoSource describes the location of the source in a Google Cloud Source\nRepository.","enum":null,"enumDescriptions":null,"format":null,"id":"RepoSource","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"commitSha":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Explicit commit SHA to build.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"tagName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the tag to build.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"branchName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the branch to build.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"repoName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the repo. If omitted, the name \"default\" is assumed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the project that owns the repo. If omitted, the project ID requesting\nthe build is assumed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BuildStep":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"BuildStep describes a step to perform in the build pipeline.","enum":null,"enumDescriptions":null,"format":null,"id":"BuildStep","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"waitFor":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID(s) of the step(s) that this build step depends on.\nThis build step will not start until all the build steps in wait_for\nhave completed successfully. If wait_for is empty, this build step will\nstart when all previous build steps in the Build.Steps list have completed\nsuccessfully.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"env":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of environment variable definitions to be used when running a step.\n\nThe elements are of the form \"KEY=VALUE\" for the environment variable \"KEY\"\nbeing given the value \"VALUE\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"args":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of arguments that will be presented to the step when it is started.\n\nIf the image used to run the step's container has an entrypoint, these args\nwill be used as arguments to that entrypoint. If the image does not define\nan entrypoint, the first element in args will be used as the entrypoint,\nand the remainder will be used as arguments.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the container image that will run this particular build step.\n\nIf the image is already available in the host's Docker daemon's cache, it\nwill be run directly. If not, the host will attempt to pull the image\nfirst, using the builder service account's credentials if necessary.\n\nThe Docker daemon's cache will already have the latest versions of all of\nthe officially supported build steps\n([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)).\nThe Docker daemon will also have cached many of the layers for some popular\nimages, like \"ubuntu\", \"debian\", but they will be refreshed at the time you\nattempt to use them.\n\nIf you built an image in a previous build step, it will be stored in the\nhost's Docker daemon's cache and is available to use as the name for a\nlater build step.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"entrypoint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional entrypoint to be used instead of the build step image's default\nIf unset, the image's default will be used.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"secretEnv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of environment variables which are encrypted using a Cloud KMS\ncrypto key. These values must be specified in the build's secrets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional unique identifier for this build step, used in wait_for to\nreference this build step as a dependency.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"volumes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of volumes to mount into the build step.\n\nEach volume will be created as an empty volume prior to execution of the\nbuild step. Upon completion of the build, volumes and their contents will\nbe discarded.\n\nUsing a named volume in only one step is not valid as it is indicative\nof a mis-configured build request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Volume","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"dir":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Working directory (relative to project source root) to use when running\nthis operation's container.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"FileHashes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Container message for hashes of byte content of files, used in\nSourceProvenance messages to verify integrity of source input to the build.","enum":null,"enumDescriptions":null,"format":null,"id":"FileHashes","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"fileHash":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Collection of file hashes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Hash","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Secret":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Secret pairs a set of secret environment variables containing encrypted\nvalues with the Cloud KMS key to use to decrypt the value.","enum":null,"enumDescriptions":null,"format":null,"id":"Secret","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"secretEnv":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"byte","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"annotations":null,"default":null,"description":"Map of environment variable name to its encrypted value.\n\nSecret environment variables must be unique across all of a build's\nsecrets, and must be used by at least one build step. Values can be at most\n1 KB in size. There can be at most ten secret values across all of a\nbuild's secrets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"kmsKeyName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud KMS key name to use to decrypt these envs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.","enum":null,"enumDescriptions":null,"format":null,"id":"Status","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"message":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"details":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of the object. Contains field @type with type URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"code":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The status code, which should be an enum value of google.rpc.Code.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"","title":"Google Cloud Container Builder API","version":"v1","version_module":true}