{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/cloud_debugger":{"description":"Manage cloud debugger"},"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"}}}},"basePath":"","baseUrl":"https://clouddebugger.googleapis.com/","batchPath":"batch","canonicalName":"Cloud Debugger","description":"Examines the call stack and variables of a running application without stopping or slowing it down.\n","discoveryVersion":"v1","documentationLink":"http://cloud.google.com/debugger","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"clouddebugger:v2","kind":"discovery#restDescription","labels":null,"methods":null,"name":"clouddebugger","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"controller":{"methods":null,"resources":{"debuggees":{"methods":{"register":{"description":"Registers the debuggee with the controller service.\n\nAll agents attached to the same application must call this method with\nexactly the same request content to get back the same stable `debuggee_id`.\nAgents should call this method again whenever `google.rpc.Code.NOT_FOUND`\nis returned from any controller method.\n\nThis protocol allows the controller service to disable debuggees, recover\nfrom data loss, or change the `debuggee_id` format. Agents must handle\n`debuggee_id` value changing upon re-registration.","etagRequired":null,"httpMethod":"POST","id":"clouddebugger.controller.debuggees.register","mediaUpload":null,"parameterOrder":[],"parameters":{},"path":"v2/controller/debuggees/register","request":{"$ref":"RegisterDebuggeeRequest","parameterName":null},"response":{"$ref":"RegisterDebuggeeResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud_debugger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"breakpoints":{"methods":{"list":{"description":"Returns the list of all active breakpoints for the debuggee.\n\nThe breakpoint specification (`location`, `condition`, and `expressions`\nfields) is semantically immutable, although the field values may\nchange. For example, an agent may update the location line number\nto reflect the actual line where the breakpoint was set, but this\ndoesn't change the breakpoint semantics.\n\nThis means that an agent does not need to check if a breakpoint has changed\nwhen it encounters the same breakpoint on a successive call.\nMoreover, an agent should remember the breakpoints that are completed\nuntil the controller removes them from the active list to avoid\nsetting those breakpoints again.","etagRequired":null,"httpMethod":"GET","id":"clouddebugger.controller.debuggees.breakpoints.list","mediaUpload":null,"parameterOrder":["debuggeeId"],"parameters":{"successOnTimeout":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If set to `true` (recommended), returns `google.rpc.Code.OK` status and\nsets the `wait_expired` response field to `true` when the server-selected\ntimeout has expired.\n\nIf set to `false` (deprecated), returns `google.rpc.Code.ABORTED` status\nwhen the server-selected timeout has expired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"debuggeeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the debuggee.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"waitToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token that, if specified, blocks the method call until the list\nof active breakpoints has changed, or a server-selected timeout has\nexpired. The value should be set from the `next_wait_token` field in\nthe last response. The initial value should be set to `\"init\"`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2/controller/debuggees/{debuggeeId}/breakpoints","request":null,"response":{"$ref":"ListActiveBreakpointsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud_debugger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates the breakpoint state or mutable fields.\nThe entire Breakpoint message must be sent back to the controller service.\n\nUpdates to active breakpoint fields are only allowed if the new value\ndoes not change the breakpoint specification. Updates to the `location`,\n`condition` and `expressions` fields should not alter the breakpoint\nsemantics. These may only make changes such as canonicalizing a value\nor snapping the location to the correct line of code.","etagRequired":null,"httpMethod":"PUT","id":"clouddebugger.controller.debuggees.breakpoints.update","mediaUpload":null,"parameterOrder":["debuggeeId","id"],"parameters":{"debuggeeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the debuggee being debugged.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Breakpoint identifier, unique in the scope of the debuggee.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2/controller/debuggees/{debuggeeId}/breakpoints/{id}","request":{"$ref":"UpdateActiveBreakpointRequest","parameterName":null},"response":{"$ref":"UpdateActiveBreakpointResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud_debugger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"ETag":null},"debugger":{"methods":null,"resources":{"debuggees":{"methods":{"list":{"description":"Lists all the debuggees that the user has access to.","etagRequired":null,"httpMethod":"GET","id":"clouddebugger.debugger.debuggees.list","mediaUpload":null,"parameterOrder":[],"parameters":{"clientVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The client version making the call.\nSchema: `domain/type/version` (e.g., `google.com/intellij/v1`).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"includeInactive":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When set to `true`, the result includes all debuggees. Otherwise, the\nresult includes only debuggees that are active.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project number of a Google Cloud project whose debuggees to list.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2/debugger/debuggees","request":null,"response":{"$ref":"ListDebuggeesResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud_debugger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"breakpoints":{"methods":{"list":{"description":"Lists all breakpoints for the debuggee.","etagRequired":null,"httpMethod":"GET","id":"clouddebugger.debugger.debuggees.breakpoints.list","mediaUpload":null,"parameterOrder":["debuggeeId"],"parameters":{"clientVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The client version making the call.\nSchema: `domain/type/version` (e.g., `google.com/intellij/v1`).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"action.value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Only breakpoints with the specified action will pass the filter.","enum":["CAPTURE","LOG"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"includeInactive":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When set to `true`, the response includes active and inactive\nbreakpoints. Otherwise, it includes only active breakpoints.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"includeAllUsers":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When set to `true`, the response includes the list of breakpoints set by\nany user. Otherwise, it includes only breakpoints set by the caller.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"stripResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This field is deprecated. The following fields are always stripped out of\nthe result: `stack_frames`, `evaluated_expressions` and `variable_table`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"debuggeeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the debuggee whose breakpoints to list.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"waitToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A wait token that, if specified, blocks the call until the breakpoints\nlist has changed, or a server selected timeout has expired.  The value\nshould be set from the last response. The error code\n`google.rpc.Code.ABORTED` (RPC) is returned on wait timeout, which\nshould be called again with the same `wait_token`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2/debugger/debuggees/{debuggeeId}/breakpoints","request":null,"response":{"$ref":"ListBreakpointsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud_debugger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets breakpoint information.","etagRequired":null,"httpMethod":"GET","id":"clouddebugger.debugger.debuggees.breakpoints.get","mediaUpload":null,"parameterOrder":["debuggeeId","breakpointId"],"parameters":{"debuggeeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the debuggee whose breakpoint to get.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clientVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The client version making the call.\nSchema: `domain/type/version` (e.g., `google.com/intellij/v1`).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"breakpointId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the breakpoint to get.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2/debugger/debuggees/{debuggeeId}/breakpoints/{breakpointId}","request":null,"response":{"$ref":"GetBreakpointResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud_debugger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes the breakpoint from the debuggee.","etagRequired":null,"httpMethod":"DELETE","id":"clouddebugger.debugger.debuggees.breakpoints.delete","mediaUpload":null,"parameterOrder":["debuggeeId","breakpointId"],"parameters":{"clientVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The client version making the call.\nSchema: `domain/type/version` (e.g., `google.com/intellij/v1`).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"breakpointId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the breakpoint to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"debuggeeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the debuggee whose breakpoint to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2/debugger/debuggees/{debuggeeId}/breakpoints/{breakpointId}","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud_debugger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"set":{"description":"Sets the breakpoint to the debuggee.","etagRequired":null,"httpMethod":"POST","id":"clouddebugger.debugger.debuggees.breakpoints.set","mediaUpload":null,"parameterOrder":["debuggeeId"],"parameters":{"debuggeeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the debuggee where the breakpoint is to be set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clientVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The client version making the call.\nSchema: `domain/type/version` (e.g., `google.com/intellij/v1`).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2/debugger/debuggees/{debuggeeId}/breakpoints/set","request":{"$ref":"Breakpoint","parameterName":null},"response":{"$ref":"SetBreakpointResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud_debugger"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"ETag":null}},"revision":"20170928","rootUrl":"https://clouddebugger.googleapis.com/","schemas":{"SourceLocation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a location in the source code.","enum":null,"enumDescriptions":null,"format":null,"id":"SourceLocation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"line":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Line inside the file. The first line in the file has the value `1`.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Path to the source file within the source context of the target binary.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Debuggee":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents the debugged application. The application may include one or more\nreplicated processes executing the same code. Each of these processes is\nattached with a debugger agent, carrying out the debugging commands.\nAgents attached to the same debuggee identify themselves as such by using\nexactly the same Debuggee message value when registering.","enum":null,"enumDescriptions":null,"format":null,"id":"Debuggee","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Human readable description of the debuggee.\nIncluding a human-readable project name, environment name and version\ninformation is recommended.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"uniquifier":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Uniquifier to further distiguish the application.\nIt is possible that different applications might have identical values in\nthe debuggee message, thus, incorrectly identified as a single application\nby the Controller service. This field adds salt to further distiguish the\napplication. Agents should consider seeding this field with value that\nidentifies the code, binary, configuration and environment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sourceContexts":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"References to the locations and revisions of the source code used in the\ndeployed application.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"SourceContext","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"extSourceContexts":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"References to the locations and revisions of the source code used in the\ndeployed application.\n\nNOTE: this field is experimental and can be ignored.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ExtendedSourceContext","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"labels":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"annotations":null,"default":null,"description":"A set of custom debuggee properties, populated by the agent, to be\ndisplayed to the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"isInactive":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If set to `true`, indicates that Controller service does not detect any\nactivity from the debuggee agents and the application is possibly stopped.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"status":{"$ref":"StatusMessage","additionalProperties":null,"annotations":null,"default":null,"description":"Human readable message to be displayed to the user about this debuggee.\nAbsence of this field indicates no status. The message can be either\ninformational or an error status.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project the debuggee is associated with.\nUse project number or id when registering a Google Cloud Platform project.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the debuggee generated by the controller service.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"isDisabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If set to `true`, indicates that the agent should disable itself and\ndetach from the debuggee.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"agentVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Version ID of the agent.\nSchema: `domain/language-platform/vmajor.minor` (for example\n`google.com/java-gcp/v1.1`).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ProjectRepoId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selects a repo using a Google Cloud Platform project ID\n(e.g. winged-cargo-31) and a repo name within that project.","enum":null,"enumDescriptions":null,"format":null,"id":"ProjectRepoId","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"repoName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the repo. Leave empty for the default repo.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the project.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListActiveBreakpointsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response for listing active breakpoints.","enum":null,"enumDescriptions":null,"format":null,"id":"ListActiveBreakpointsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"breakpoints":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of all active breakpoints.\nThe fields `id` and `location` are guaranteed to be set on each breakpoint.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Breakpoint","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"waitExpired":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If set to `true`, indicates that there is no change to the\nlist of active breakpoints and the server-selected timeout has expired.\nThe `breakpoints` field would be empty and should be ignored.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"nextWaitToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token that can be used in the next method call to block until\nthe list of breakpoints changes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CloudWorkspaceSourceContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A CloudWorkspaceSourceContext denotes a workspace at a particular snapshot.","enum":null,"enumDescriptions":null,"format":null,"id":"CloudWorkspaceSourceContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"snapshotId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the snapshot.\nAn empty snapshot_id refers to the most recent snapshot.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"workspaceId":{"$ref":"CloudWorkspaceId","additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the workspace.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UpdateActiveBreakpointResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response for updating an active breakpoint.\nThe message is defined to allow future extensions.","enum":null,"enumDescriptions":null,"format":null,"id":"UpdateActiveBreakpointResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GerritSourceContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A SourceContext referring to a Gerrit project.","enum":null,"enumDescriptions":null,"format":null,"id":"GerritSourceContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"revisionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A revision (commit) ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"hostUri":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URI of a running Gerrit instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"aliasName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of an alias (branch, tag, etc.).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"aliasContext":{"$ref":"AliasContext","additionalProperties":null,"annotations":null,"default":null,"description":"An alias, which may be a branch or tag.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"gerritProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The full project name within the host. Projects may be nested, so\n\"project/subproject\" is a valid project name.\nThe \"repo name\" is hostURI/project.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CloudWorkspaceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A CloudWorkspaceId is a unique identifier for a cloud workspace.\nA cloud workspace is a place associated with a repo where modified files\ncan be stored before they are committed.","enum":null,"enumDescriptions":null,"format":null,"id":"CloudWorkspaceId","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"repoId":{"$ref":"RepoId","additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the repo containing the workspace.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique name of the workspace within the repo.  This is the name\nchosen by the client in the Source API's CreateWorkspace method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListBreakpointsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response for listing breakpoints.","enum":null,"enumDescriptions":null,"format":null,"id":"ListBreakpointsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"breakpoints":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of breakpoints matching the request.\nThe fields `id` and `location` are guaranteed to be set on each breakpoint.\nThe fields: `stack_frames`, `evaluated_expressions` and `variable_table`\nare cleared on each breakpoint regardless of its status.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Breakpoint","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"nextWaitToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A wait token that can be used in the next call to `list` (REST) or\n`ListBreakpoints` (RPC) to block until the list of breakpoints has changes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Breakpoint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents the breakpoint specification, status and results.","enum":null,"enumDescriptions":null,"format":null,"id":"Breakpoint","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"location":{"$ref":"SourceLocation","additionalProperties":null,"annotations":null,"default":null,"description":"Breakpoint source location.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"finalTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time this breakpoint was finalized as seen by the server in seconds\nresolution.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"variableTable":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The `variable_table` exists to aid with computation, memory and network\ntraffic optimization.  It enables storing a variable once and reference\nit from multiple variables, including variables stored in the\n`variable_table` itself.\nFor example, the same `this` object, which may appear at many levels of\nthe stack, can have all of its data stored once in this table.  The\nstack frame variables then would hold only a reference to it.\n\nThe variable `var_table_index` field is an index into this repeated field.\nThe stored objects are nameless and get their name from the referencing\nvariable. The effective variable is a merge of the referencing variable\nand the referenced variable.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Variable","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"labels":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"annotations":null,"default":null,"description":"A set of custom breakpoint properties, populated by the agent, to be\ndisplayed to the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"logMessageFormat":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Only relevant when action is `LOG`. Defines the message to log when\nthe breakpoint hits. The message may include parameter placeholders `$0`,\n`$1`, etc. These placeholders are replaced with the evaluated value\nof the appropriate expression. Expressions not referenced in\n`log_message_format` are not logged.\n\nExample: `Message received, id = $0, count = $1` with\n`expressions` = `[ message.id, message.count ]`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"createTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time this breakpoint was created by the server in seconds resolution.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"expressions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of read-only expressions to evaluate at the breakpoint location.\nThe expressions are composed using expressions in the programming language\nat the source location. If the breakpoint action is `LOG`, the evaluated\nexpressions are included in log statements.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"evaluatedExpressions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Values of evaluated expressions at breakpoint time.\nThe evaluated expressions appear in exactly the same order they\nare listed in the `expressions` field.\nThe `name` field holds the original expression text, the `value` or\n`members` field holds the result of the evaluated expression.\nIf the expression cannot be evaluated, the `status` inside the `Variable`\nwill indicate an error and contain the error text.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Variable","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"isFinalState":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When true, indicates that this is a final result and the\nbreakpoint state will not change from here on.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"stackFrames":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The stack at breakpoint time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"StackFrame","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"condition":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Condition that triggers the breakpoint.\nThe condition is a compound boolean expression composed using expressions\nin a programming language at the source location.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":"StatusMessage","additionalProperties":null,"annotations":null,"default":null,"description":"Breakpoint status.\n\nThe status includes an error flag and a human readable message.\nThis field is usually unset. The message can be either\ninformational or an error message. Regardless, clients should always\ndisplay the text message back to the user.\n\nError status indicates complete failure of the breakpoint.\n\nExample (non-final state): `Still loading symbols...`\n\nExamples (final state):\n\n*   `Invalid line number` referring to location\n*   `Field f not found in class C` referring to condition","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"userEmail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"E-mail address of the user that created this breakpoint","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"action":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Action that the agent should perform when the code at the\nbreakpoint location is hit.","enum":["CAPTURE","LOG"],"enumDescriptions":["Capture stack frame and variables and update the breakpoint.\nThe data is only captured once. After that the breakpoint is set\nin a final state.","Log each breakpoint hit. The breakpoint remains active until\ndeleted or expired."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"logLevel":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Indicates the severity of the log. Only relevant when action is `LOG`.","enum":["INFO","WARNING","ERROR"],"enumDescriptions":["Information log message.","Warning log message.","Error log message."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Breakpoint identifier, unique in the scope of the debuggee.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UpdateActiveBreakpointRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to update an active breakpoint.","enum":null,"enumDescriptions":null,"format":null,"id":"UpdateActiveBreakpointRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"breakpoint":{"$ref":"Breakpoint","additionalProperties":null,"annotations":null,"default":null,"description":"Updated breakpoint information.\nThe field `id` must be set.\nThe agent must echo all Breakpoint specification fields in the update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SetBreakpointResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response for setting a breakpoint.","enum":null,"enumDescriptions":null,"format":null,"id":"SetBreakpointResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"breakpoint":{"$ref":"Breakpoint","additionalProperties":null,"annotations":null,"default":null,"description":"Breakpoint resource.\nThe field `id` is guaranteed to be set (in addition to the echoed fileds).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SourceContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A SourceContext is a reference to a tree of files. A SourceContext together\nwith a path point to a unique revision of a single file or directory.","enum":null,"enumDescriptions":null,"format":null,"id":"SourceContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"git":{"$ref":"GitSourceContext","additionalProperties":null,"annotations":null,"default":null,"description":"A SourceContext referring to any third party Git repo (e.g. GitHub).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"gerrit":{"$ref":"GerritSourceContext","additionalProperties":null,"annotations":null,"default":null,"description":"A SourceContext referring to a Gerrit project.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"cloudWorkspace":{"$ref":"CloudWorkspaceSourceContext","additionalProperties":null,"annotations":null,"default":null,"description":"A SourceContext referring to a snapshot in a cloud workspace.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"cloudRepo":{"$ref":"CloudRepoSourceContext","additionalProperties":null,"annotations":null,"default":null,"description":"A SourceContext referring to a revision in a cloud repo.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CloudRepoSourceContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A CloudRepoSourceContext denotes a particular revision in a cloud\nrepo (a repo hosted by the Google Cloud Platform).","enum":null,"enumDescriptions":null,"format":null,"id":"CloudRepoSourceContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"repoId":{"$ref":"RepoId","additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the repo.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"aliasContext":{"$ref":"AliasContext","additionalProperties":null,"annotations":null,"default":null,"description":"An alias, which may be a branch or tag.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"revisionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A revision ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"aliasName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of an alias (branch, tag, etc.).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"RegisterDebuggeeRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to register a debuggee.","enum":null,"enumDescriptions":null,"format":null,"id":"RegisterDebuggeeRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"debuggee":{"$ref":"Debuggee","additionalProperties":null,"annotations":null,"default":null,"description":"Debuggee information to register.\nThe fields `project`, `uniquifier`, `description` and `agent_version`\nof the debuggee must be set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"RegisterDebuggeeResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response for registering a debuggee.","enum":null,"enumDescriptions":null,"format":null,"id":"RegisterDebuggeeResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"debuggee":{"$ref":"Debuggee","additionalProperties":null,"annotations":null,"default":null,"description":"Debuggee resource.\nThe field `id` is guranteed to be set (in addition to the echoed fields).\nIf the field `is_disabled` is set to `true`, the agent should disable\nitself by removing all breakpoints and detaching from the application.\nIt should however continue to poll `RegisterDebuggee` until reenabled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GetBreakpointResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response for getting breakpoint information.","enum":null,"enumDescriptions":null,"format":null,"id":"GetBreakpointResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"breakpoint":{"$ref":"Breakpoint","additionalProperties":null,"annotations":null,"default":null,"description":"Complete breakpoint state.\nThe fields `id` and `location` are guaranteed to be set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"StatusMessage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a contextual status message.\nThe message can indicate an error or informational status, and refer to\nspecific parts of the containing object.\nFor example, the `Breakpoint.status` field can indicate an error referring\nto the `BREAKPOINT_SOURCE_LOCATION` with the message `Location not found`.","enum":null,"enumDescriptions":null,"format":null,"id":"StatusMessage","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"refersTo":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Reference to which the message applies.","enum":["UNSPECIFIED","BREAKPOINT_SOURCE_LOCATION","BREAKPOINT_CONDITION","BREAKPOINT_EXPRESSION","BREAKPOINT_AGE","VARIABLE_NAME","VARIABLE_VALUE"],"enumDescriptions":["Status doesn't refer to any particular input.","Status applies to the breakpoint and is related to its location.","Status applies to the breakpoint and is related to its condition.","Status applies to the breakpoint and is related to its expressions.","Status applies to the breakpoint and is related to its age.","Status applies to the entire variable.","Status applies to variable value (variable name is valid)."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"description":{"$ref":"FormatMessage","additionalProperties":null,"annotations":null,"default":null,"description":"Status message text.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"isError":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Distinguishes errors from informational messages.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GitSourceContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A GitSourceContext denotes a particular revision in a third party Git\nrepository (e.g. GitHub).","enum":null,"enumDescriptions":null,"format":null,"id":"GitSourceContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"revisionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Git commit hash.\nrequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Git repository URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Variable":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a variable or an argument possibly of a compound object type.\nNote how the following variables are represented:\n\n1) A simple variable:\n\n    int x = 5\n\n    { name: \"x\", value: \"5\", type: \"int\" }  // Captured variable\n\n2) A compound object:\n\n    struct T {\n        int m1;\n        int m2;\n    };\n    T x = { 3, 7 };\n\n    {  // Captured variable\n        name: \"x\",\n        type: \"T\",\n        members { name: \"m1\", value: \"3\", type: \"int\" },\n        members { name: \"m2\", value: \"7\", type: \"int\" }\n    }\n\n3) A pointer where the pointee was captured:\n\n    T x = { 3, 7 };\n    T* p = &x;\n\n    {   // Captured variable\n        name: \"p\",\n        type: \"T*\",\n        value: \"0x00500500\",\n        members { name: \"m1\", value: \"3\", type: \"int\" },\n        members { name: \"m2\", value: \"7\", type: \"int\" }\n    }\n\n4) A pointer where the pointee was not captured:\n\n    T* p = new T;\n\n    {   // Captured variable\n        name: \"p\",\n        type: \"T*\",\n        value: \"0x00400400\"\n        status { is_error: true, description { format: \"unavailable\" } }\n    }\n\nThe status should describe the reason for the missing value,\nsuch as `<optimized out>`, `<inaccessible>`, `<pointers limit reached>`.\n\nNote that a null pointer should not have members.\n\n5) An unnamed value:\n\n    int* p = new int(7);\n\n    {   // Captured variable\n        name: \"p\",\n        value: \"0x00500500\",\n        type: \"int*\",\n        members { value: \"7\", type: \"int\" } }\n\n6) An unnamed pointer where the pointee was not captured:\n\n    int* p = new int(7);\n    int** pp = &p;\n\n    {  // Captured variable\n        name: \"pp\",\n        value: \"0x00500500\",\n        type: \"int**\",\n        members {\n            value: \"0x00400400\",\n            type: \"int*\"\n            status {\n                is_error: true,\n                description: { format: \"unavailable\" } }\n            }\n        }\n    }\n\nTo optimize computation, memory and network traffic, variables that\nrepeat in the output multiple times can be stored once in a shared\nvariable table and be referenced using the `var_table_index` field.  The\nvariables stored in the shared table are nameless and are essentially\na partition of the complete variable. To reconstruct the complete\nvariable, merge the referencing variable with the referenced variable.\n\nWhen using the shared variable table, the following variables:\n\n    T x = { 3, 7 };\n    T* p = &x;\n    T& r = x;\n\n    { name: \"x\", var_table_index: 3, type: \"T\" }  // Captured variables\n    { name: \"p\", value \"0x00500500\", type=\"T*\", var_table_index: 3 }\n    { name: \"r\", type=\"T&\", var_table_index: 3 }\n\n    {  // Shared variable table entry #3:\n        members { name: \"m1\", value: \"3\", type: \"int\" },\n        members { name: \"m2\", value: \"7\", type: \"int\" }\n    }\n\nNote that the pointer address is stored with the referencing variable\nand not with the referenced variable. This allows the referenced variable\nto be shared between pointers and references.\n\nThe type field is optional. The debugger agent may or may not support it.","enum":null,"enumDescriptions":null,"format":null,"id":"Variable","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"status":{"$ref":"StatusMessage","additionalProperties":null,"annotations":null,"default":null,"description":"Status associated with the variable. This field will usually stay\nunset. A status of a single variable only applies to that variable or\nexpression. The rest of breakpoint data still remains valid. Variables\nmight be reported in error state even when breakpoint is not in final\nstate.\n\nThe message may refer to variable name with `refers_to` set to\n`VARIABLE_NAME`. Alternatively `refers_to` will be set to `VARIABLE_VALUE`.\nIn either case variable value and members will be unset.\n\nExample of error message applied to name: `Invalid expression syntax`.\n\nExample of information message applied to value: `Not captured`.\n\nExamples of error message applied to value:\n\n*   `Malformed string`,\n*   `Field f not found in class C`\n*   `Null pointer dereference`","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the variable, if any.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Variable type (e.g. `MyClass`). If the variable is split with\n`var_table_index`, `type` goes next to `value`. The interpretation of\na type is agent specific. It is recommended to include the dynamic type\nrather than a static type of an object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"varTableIndex":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Reference to a variable in the shared variable table. More than\none variable can reference the same variable in the table. The\n`var_table_index` field is an index into `variable_table` in Breakpoint.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Simple value of the variable.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"members":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Members contained or pointed to by the variable.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Variable","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"StackFrame":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a stack frame context.","enum":null,"enumDescriptions":null,"format":null,"id":"StackFrame","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"location":{"$ref":"SourceLocation","additionalProperties":null,"annotations":null,"default":null,"description":"Source location of the call site.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"function":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Demangled function name at the call site.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"arguments":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of arguments passed to this function.\nNote that this might not be populated for all stack frames.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Variable","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"locals":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of local variables at the stack frame location.\nNote that this might not be populated for all stack frames.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Variable","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"RepoId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A unique identifier for a cloud repo.","enum":null,"enumDescriptions":null,"format":null,"id":"RepoId","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"uid":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A server-assigned, globally unique identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectRepoId":{"$ref":"ProjectRepoId","additionalProperties":null,"annotations":null,"default":null,"description":"A combination of a project ID and a repo name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"FormatMessage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a message with parameters.","enum":null,"enumDescriptions":null,"format":null,"id":"FormatMessage","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"parameters":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional parameters to be embedded into the message.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"format":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Format template for the message. The `format` uses placeholders `$0`,\n`$1`, etc. to reference parameters. `$$` can be used to denote the `$`\ncharacter.\n\nExamples:\n\n*   `Failed to load '$0' which helps debug $1 the first time it\n    is loaded.  Again, $0 is very important.`\n*   `Please pay $$10 to use $0 instead of $1.`","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ExtendedSourceContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An ExtendedSourceContext is a SourceContext combined with additional\ndetails describing the context.","enum":null,"enumDescriptions":null,"format":null,"id":"ExtendedSourceContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"context":{"$ref":"SourceContext","additionalProperties":null,"annotations":null,"default":null,"description":"Any source context.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"labels":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"annotations":null,"default":null,"description":"Labels with user defined metadata.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AliasContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An alias to a repo revision.","enum":null,"enumDescriptions":null,"format":null,"id":"AliasContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The alias name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The alias kind.","enum":["ANY","FIXED","MOVABLE","OTHER"],"enumDescriptions":["Do not use.","Git tag","Git branch","OTHER is used to specify non-standard aliases, those not of the kinds\nabove. For example, if a Git repo has a ref named \"refs/foo/bar\", it\nis considered to be of kind OTHER."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListDebuggeesResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response for listing debuggees.","enum":null,"enumDescriptions":null,"format":null,"id":"ListDebuggeesResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"debuggees":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of debuggees accessible to the calling user.\nThe fields `debuggee.id` and `description` are guaranteed to be set.\nThe `description` field is a human readable field provided by agents and\ncan be displayed to users.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Debuggee","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Empty":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.","enum":null,"enumDescriptions":null,"format":null,"id":"Empty","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"","title":"Stackdriver Debugger API","version":"v2","version_module":true}