{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"},"https://www.googleapis.com/auth/cloud-platform.read-only":{"description":"View your data across Google Cloud Platform services"},"https://www.googleapis.com/auth/cloud.useraccounts":{"description":"Manage your Google Cloud User Accounts"},"https://www.googleapis.com/auth/cloud.useraccounts.readonly":{"description":"View your Google Cloud User Accounts"}}}},"basePath":"/clouduseraccounts/beta/projects/","baseUrl":"https://www.googleapis.com/clouduseraccounts/beta/projects/","batchPath":"batch/clouduseraccounts/beta","canonicalName":"Cloud User Accounts","description":"Creates and manages users and groups for accessing Google Compute Engine virtual machines.","discoveryVersion":"v1","documentationLink":"https://cloud.google.com/compute/docs/access/user-accounts/api/latest/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/-BiORd5nMN3AbHTR5Pi2H1JslEk\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.google.com/images/icons/product/compute_engine-16.png","x32":"https://www.google.com/images/icons/product/compute_engine-32.png"},"id":"clouduseraccounts:beta","kind":"discovery#restDescription","labels":null,"methods":null,"name":"clouduseraccounts","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"globalAccountsOperations":{"methods":{"delete":{"description":"Deletes the specified operation resource.","etagRequired":null,"httpMethod":"DELETE","id":"clouduseraccounts.globalAccountsOperations.delete","mediaUpload":null,"parameterOrder":["project","operation"],"parameters":{"operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the Operations resource to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/global/operations/{operation}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud.useraccounts"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves the specified operation resource.","etagRequired":null,"httpMethod":"GET","id":"clouduseraccounts.globalAccountsOperations.get","mediaUpload":null,"parameterOrder":["project","operation"],"parameters":{"operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the Operations resource to return.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/global/operations/{operation}","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/cloud.useraccounts","https://www.googleapis.com/auth/cloud.useraccounts.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves the list of operation resources contained within the specified project.","etagRequired":null,"httpMethod":"GET","id":"clouduseraccounts.globalAccountsOperations.list","mediaUpload":null,"parameterOrder":["project"],"parameters":{"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nCompute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.\n\nThe Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"500","description":"The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"500","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"orderBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.\n\nYou can also sort results in descending order based on the creation timestamp using orderBy=\"creationTimestamp desc\". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.\n\nCurrently, only sorting by name or creationTimestamp desc is supported.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/global/operations","request":null,"response":{"$ref":"OperationList"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/cloud.useraccounts","https://www.googleapis.com/auth/cloud.useraccounts.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"groups":{"methods":{"addMember":{"description":"Adds users to the specified group.","etagRequired":null,"httpMethod":"POST","id":"clouduseraccounts.groups.addMember","mediaUpload":null,"parameterOrder":["project","groupName"],"parameters":{"groupName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the group for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"[a-z][-a-z0-9_]{0,31}","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/global/groups/{groupName}/addMember","request":{"$ref":"GroupsAddMemberRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud.useraccounts"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes the specified Group resource.","etagRequired":null,"httpMethod":"DELETE","id":"clouduseraccounts.groups.delete","mediaUpload":null,"parameterOrder":["project","groupName"],"parameters":{"groupName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the Group resource to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"[a-z][-a-z0-9_]{0,31}","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/global/groups/{groupName}","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud.useraccounts"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns the specified Group resource.","etagRequired":null,"httpMethod":"GET","id":"clouduseraccounts.groups.get","mediaUpload":null,"parameterOrder":["project","groupName"],"parameters":{"groupName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the Group resource to return.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"[a-z][-a-z0-9_]{0,31}","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/global/groups/{groupName}","request":null,"response":{"$ref":"Group"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/cloud.useraccounts","https://www.googleapis.com/auth/cloud.useraccounts.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a Group resource in the specified project using the data included in the request.","etagRequired":null,"httpMethod":"POST","id":"clouduseraccounts.groups.insert","mediaUpload":null,"parameterOrder":["project"],"parameters":{"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/global/groups","request":{"$ref":"Group","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud.useraccounts"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves the list of groups contained within the specified project.","etagRequired":null,"httpMethod":"GET","id":"clouduseraccounts.groups.list","mediaUpload":null,"parameterOrder":["project"],"parameters":{"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nCompute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.\n\nThe Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"500","description":"The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"500","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"orderBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.\n\nYou can also sort results in descending order based on the creation timestamp using orderBy=\"creationTimestamp desc\". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.\n\nCurrently, only sorting by name or creationTimestamp desc is supported.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/global/groups","request":null,"response":{"$ref":"GroupList"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/cloud.useraccounts","https://www.googleapis.com/auth/cloud.useraccounts.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"removeMember":{"description":"Removes users from the specified group.","etagRequired":null,"httpMethod":"POST","id":"clouduseraccounts.groups.removeMember","mediaUpload":null,"parameterOrder":["project","groupName"],"parameters":{"groupName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the group for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"[a-z][-a-z0-9_]{0,31}","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/global/groups/{groupName}/removeMember","request":{"$ref":"GroupsRemoveMemberRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud.useraccounts"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"linux":{"methods":{"getAuthorizedKeysView":{"description":"Returns a list of authorized public keys for a specific user account.","etagRequired":null,"httpMethod":"POST","id":"clouduseraccounts.linux.getAuthorizedKeysView","mediaUpload":null,"parameterOrder":["project","zone","user","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The fully-qualified URL of the virtual machine requesting the view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"login":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the view was requested as part of a user-initiated login.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"user":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The user account for which you want to get a list of authorized public keys.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"[a-z][-a-z0-9_]{0,31}","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the zone for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/zones/{zone}/authorizedKeysView/{user}","request":null,"response":{"$ref":"LinuxGetAuthorizedKeysViewResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/cloud.useraccounts","https://www.googleapis.com/auth/cloud.useraccounts.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getLinuxAccountViews":{"description":"Retrieves a list of user accounts for an instance within a specific project.","etagRequired":null,"httpMethod":"POST","id":"clouduseraccounts.linux.getLinuxAccountViews","mediaUpload":null,"parameterOrder":["project","zone","instance"],"parameters":{"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nCompute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.\n\nThe Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The fully-qualified URL of the virtual machine requesting the views.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"500","description":"The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"500","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"orderBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.\n\nYou can also sort results in descending order based on the creation timestamp using orderBy=\"creationTimestamp desc\". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.\n\nCurrently, only sorting by name or creationTimestamp desc is supported.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the zone for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/zones/{zone}/linuxAccountViews","request":null,"response":{"$ref":"LinuxGetLinuxAccountViewsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/cloud.useraccounts","https://www.googleapis.com/auth/cloud.useraccounts.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"users":{"methods":{"addPublicKey":{"description":"Adds a public key to the specified User resource with the data included in the request.","etagRequired":null,"httpMethod":"POST","id":"clouduseraccounts.users.addPublicKey","mediaUpload":null,"parameterOrder":["project","user"],"parameters":{"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"user":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the user for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"[a-z][-a-z0-9_]{0,31}","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/global/users/{user}/addPublicKey","request":{"$ref":"PublicKey","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud.useraccounts"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes the specified User resource.","etagRequired":null,"httpMethod":"DELETE","id":"clouduseraccounts.users.delete","mediaUpload":null,"parameterOrder":["project","user"],"parameters":{"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"user":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the user resource to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"[a-z][-a-z0-9_]{0,31}","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/global/users/{user}","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud.useraccounts"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns the specified User resource.","etagRequired":null,"httpMethod":"GET","id":"clouduseraccounts.users.get","mediaUpload":null,"parameterOrder":["project","user"],"parameters":{"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"user":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the user resource to return.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"[a-z][-a-z0-9_]{0,31}","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/global/users/{user}","request":null,"response":{"$ref":"User"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/cloud.useraccounts","https://www.googleapis.com/auth/cloud.useraccounts.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a User resource in the specified project using the data included in the request.","etagRequired":null,"httpMethod":"POST","id":"clouduseraccounts.users.insert","mediaUpload":null,"parameterOrder":["project"],"parameters":{"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/global/users","request":{"$ref":"User","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud.useraccounts"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of users contained within the specified project.","etagRequired":null,"httpMethod":"GET","id":"clouduseraccounts.users.list","mediaUpload":null,"parameterOrder":["project"],"parameters":{"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Sets a filter expression for filtering listed resources, in the form filter={expression}. Your {expression} must be in the format: field_name comparison_string literal_string.\n\nThe field_name is the name of the field you want to compare. Only atomic field types are supported (string, number, boolean). The comparison_string must be either eq (equals) or ne (not equals). The literal_string is the string value to filter to. The literal value must be valid for the type of field you are filtering by (string, number, boolean). For string fields, the literal value is interpreted as a regular expression using RE2 syntax. The literal value must match the entire field.\n\nFor example, to filter for instances that do not have a name of example-instance, you would use filter=name ne example-instance.\n\nCompute Engine Beta API Only: If you use filtering in the Beta API, you can also filter on nested fields. For example, you could filter on instances that have set the scheduling.automaticRestart field to true. In particular, use filtering on nested fields to take advantage of instance labels to organize and filter results based on label values.\n\nThe Beta API also supports filtering on multiple expressions by providing each separate expression within parentheses. For example, (scheduling.automaticRestart eq true) (zone eq us-central1-f). Multiple expressions are treated as AND expressions, meaning that resources must match all expressions to pass the filters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"500","description":"The maximum number of results per page that should be returned. If the number of available results is larger than maxResults, Compute Engine returns a nextPageToken that can be used to get the next page of results in subsequent list requests.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"500","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"orderBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Sorts list results by a certain order. By default, results are returned in alphanumerical order based on the resource name.\n\nYou can also sort results in descending order based on the creation timestamp using orderBy=\"creationTimestamp desc\". This sorts results based on the creationTimestamp field in reverse chronological order (newest result first). Use this to sort resources like operations so that the newest operation is returned first.\n\nCurrently, only sorting by name or creationTimestamp desc is supported.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies a page token to use. Set pageToken to the nextPageToken returned by a previous list request to get the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/global/users","request":null,"response":{"$ref":"UserList"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/cloud.useraccounts","https://www.googleapis.com/auth/cloud.useraccounts.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"removePublicKey":{"description":"Removes the specified public key from the user.","etagRequired":null,"httpMethod":"POST","id":"clouduseraccounts.users.removePublicKey","mediaUpload":null,"parameterOrder":["project","user","fingerprint"],"parameters":{"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The fingerprint of the public key to delete. Public keys are identified by their fingerprint, which is defined by RFC4716 to be the MD5 digest of the public key.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-f0-9]{32}","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"(?:(?:[-a-z0-9]{1,63}\\.)*(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?):)?(?:[0-9]{1,19}|(?:[a-z](?:[-a-z0-9]{0,61}[a-z0-9])?))","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"user":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the user for this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"[a-z][-a-z0-9_]{0,31}","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/global/users/{user}/removePublicKey","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud.useraccounts"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20160316","rootUrl":"https://www.googleapis.com/","schemas":{"AuthorizedKeysView":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of authorized public keys for a user account.","enum":null,"enumDescriptions":null,"format":null,"id":"AuthorizedKeysView","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"keys":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] The list of authorized public keys in SSH format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"sudoer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] Whether the user has the ability to elevate on the instance that requested the authorized keys.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Group":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Group resource.","enum":null,"enumDescriptions":null,"format":null,"id":"Group","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"creationTimestamp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] Creation timestamp in RFC3339 text format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An optional textual description of the resource; provided by the client when the resource is created.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] Unique identifier for the resource; defined by the server.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"clouduseraccounts#group","description":"[Output Only] Type of the resource. Always clouduseraccounts#group for groups.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"members":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] A list of URLs to User resources who belong to the group. Users may only be members of groups in the same project.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":{"required":["clouduseraccounts.groups.insert"]},"default":null,"description":"Name of the resource; provided by the client when the resource is created.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":"[a-z][-a-z0-9_]{0,31}","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"selfLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] Server defined URL for the resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GroupList":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"GroupList","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] Unique identifier for the resource; defined by the server.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] A list of Group resources.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Group","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"clouduseraccounts#groupList","description":"[Output Only] Type of resource. Always clouduseraccounts#groupList for lists of groups.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] A token used to continue a truncated list request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"selfLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] Server defined URL for this resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GroupsAddMemberRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"GroupsAddMemberRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"users":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Fully-qualified URLs of the User resources to add.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GroupsRemoveMemberRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"GroupsRemoveMemberRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"users":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Fully-qualified URLs of the User resources to remove.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LinuxAccountViews":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of all Linux accounts for this project. This API is only used by Compute Engine virtual machines to get information about user accounts for a project or instance. Linux resources are read-only views into users and groups managed by the Compute Engine Accounts API.","enum":null,"enumDescriptions":null,"format":null,"id":"LinuxAccountViews","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"groupViews":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] A list of all groups within a project.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"LinuxGroupView","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"clouduseraccounts#linuxAccountViews","description":"[Output Only] Type of the resource. Always clouduseraccounts#linuxAccountViews for Linux resources.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userViews":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] A list of all users within a project.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"LinuxUserView","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LinuxGetAuthorizedKeysViewResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"LinuxGetAuthorizedKeysViewResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"resource":{"$ref":"AuthorizedKeysView","additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] A list of authorized public keys for a user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LinuxGetLinuxAccountViewsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"LinuxGetLinuxAccountViewsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"resource":{"$ref":"LinuxAccountViews","additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] A list of authorized user accounts and groups.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LinuxGroupView":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A detailed view of a Linux group.","enum":null,"enumDescriptions":null,"format":null,"id":"LinuxGroupView","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"gid":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] The Group ID.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"groupName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] Group name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"members":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] List of user accounts that belong to the group.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LinuxUserView":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A detailed view of a Linux user account.","enum":null,"enumDescriptions":null,"format":null,"id":"LinuxUserView","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"gecos":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] The GECOS (user information) entry for this account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"gid":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] User's default group ID.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"homeDirectory":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] The path to the home directory for this account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"shell":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] The path to the login shell for this account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"uid":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] User ID.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"username":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] The username of the account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An Operation resource, used to manage asynchronous API requests.","enum":null,"enumDescriptions":null,"format":null,"id":"Operation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"clientOperationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] Reserved for future use.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"creationTimestamp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] Creation timestamp in RFC3339 text format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] A textual description of the operation, which is set when the operation is created.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"endTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] The time that this operation was completed. This value is in RFC3339 text format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"error":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] If errors are generated during processing of the operation, this field will be populated.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"errors":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] The array of errors encountered while processing this operation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"code":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] The error type identifier for this error.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] Indicates the field in the request that caused the error. This property is optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"message":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] An optional, human-readable error message.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"httpErrorMessage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] If the operation fails, this field contains the HTTP error message that was returned, such as NOT FOUND.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"httpErrorStatusCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] If the operation fails, this field contains the HTTP error status code that was returned. For example, a 404 means the resource was not found.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] The unique identifier for the resource. This identifier is defined by the server.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"insertTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] The time that this operation was requested. This value is in RFC3339 text format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"clouduseraccounts#operation","description":"[Output Only] Type of the resource. Always compute#operation for Operation resources.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] Name of the resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"operationType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] The type of operation, such as insert, update, or delete, and so on.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"progress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess when the operation will be complete. This number should monotonically increase as the operation progresses.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"region":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] The URL of the region where the operation resides. Only available when performing regional operations.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"selfLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] Server-defined URL for the resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] The time that this operation was started by the server. This value is in RFC3339 text format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] The status of the operation, which can be one of the following: PENDING, RUNNING, or DONE.","enum":["DONE","PENDING","RUNNING"],"enumDescriptions":["","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"statusMessage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] An optional textual description of the current status of the operation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"targetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] The unique target ID, which identifies a specific incarnation of the target resource.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"targetLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] The URL of the resource that the operation modifies.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"user":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] User who requested the operation, for example: user@example.com.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"warnings":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] If warning messages are generated during processing of the operation, this field will be populated.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"code":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE if there are no results in the response.","enum":["CLEANUP_FAILED","DEPRECATED_RESOURCE_USED","DISK_SIZE_LARGER_THAN_IMAGE_SIZE","INJECTED_KERNELS_DEPRECATED","NEXT_HOP_ADDRESS_NOT_ASSIGNED","NEXT_HOP_CANNOT_IP_FORWARD","NEXT_HOP_INSTANCE_NOT_FOUND","NEXT_HOP_INSTANCE_NOT_ON_NETWORK","NEXT_HOP_NOT_RUNNING","NOT_CRITICAL_ERROR","NO_RESULTS_ON_PAGE","REQUIRED_TOS_AGREEMENT","RESOURCE_NOT_DELETED","SINGLE_INSTANCE_PROPERTY_TEMPLATE","UNREACHABLE"],"enumDescriptions":["","","","","","","","","","","","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"data":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] Metadata about this warning in key: value format. For example:\n\"data\": [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] A key that provides more detail on the warning being returned. For example, for warnings where there are no results in a list request for a particular zone, this key might be scope and the key value might be the zone name. Other examples might be a key indicating a deprecated resource and a suggested replacement, or a warning about invalid network settings (for example, if an instance attempts to perform IP forwarding but is not enabled for IP forwarding).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] A warning data value corresponding to the key.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"message":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] A human-readable description of the warning code.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] The URL of the zone where the operation resides. Only available when performing per-zone operations.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OperationList":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Contains a list of Operation resources.","enum":null,"enumDescriptions":null,"format":null,"id":"OperationList","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] The unique identifier for the resource. This identifier is defined by the server.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] A list of Operation resources.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Operation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"clouduseraccounts#operationList","description":"[Output Only] Type of resource. Always compute#operations for Operations resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] This token allows you to get the next page of results for list requests. If the number of results is larger than maxResults, use the nextPageToken as a value for the query parameter pageToken in the next list request. Subsequent list requests will have their own nextPageToken to continue paging through the results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"selfLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] Server-defined URL for this resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"PublicKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A public key for authenticating to guests.","enum":null,"enumDescriptions":null,"format":null,"id":"PublicKey","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"creationTimestamp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] Creation timestamp in RFC3339 text format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An optional textual description of the resource; provided by the client when the resource is created.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"expirationTimestamp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional expiration timestamp. If provided, the timestamp must be in RFC3339 text format. If not provided, the public key never expires.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] The fingerprint of the key is defined by RFC4716 to be the MD5 digest of the public key.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Public key text in SSH format, defined by RFC4253 section 6.6.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"User":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A User resource.","enum":null,"enumDescriptions":null,"format":null,"id":"User","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"creationTimestamp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] Creation timestamp in RFC3339 text format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An optional textual description of the resource; provided by the client when the resource is created.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"groups":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] A list of URLs to Group resources who contain the user. Users are only members of groups in the same project.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] Unique identifier for the resource; defined by the server.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"clouduseraccounts#user","description":"[Output Only] Type of the resource. Always clouduseraccounts#user for users.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":{"required":["clouduseraccounts.users.insert"]},"default":null,"description":"Name of the resource; provided by the client when the resource is created.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":"[a-z][-a-z0-9_]{0,31}","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"owner":{"$ref":null,"additionalProperties":null,"annotations":{"required":["clouduseraccounts.users.insert"]},"default":null,"description":"Email address of account's owner. This account will be validated to make sure it exists. The email can belong to any domain, but it must be tied to a Google account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"publicKeys":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] Public keys that this user may use to login.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"PublicKey","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"selfLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] Server defined URL for the resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UserList":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"UserList","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] Unique identifier for the resource; defined by the server.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] A list of User resources.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"User","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"clouduseraccounts#userList","description":"[Output Only] Type of resource. Always clouduseraccounts#userList for lists of users.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] A token used to continue a truncated list request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"selfLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] Server defined URL for this resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"clouduseraccounts/beta/projects/","title":"Cloud User Accounts API","version":"beta","version_module":null}