{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"},"https://www.googleapis.com/auth/monitoring":{"description":"View and write monitoring data for all of your Google and third-party Cloud and API projects"}}}},"basePath":"/cloudmonitoring/v2beta2/projects/","baseUrl":"https://www.googleapis.com/cloudmonitoring/v2beta2/projects/","batchPath":"batch/cloudmonitoring/v2beta2","canonicalName":"Cloud Monitoring","description":"Accesses Google Cloud Monitoring data.","discoveryVersion":"v1","documentationLink":"https://cloud.google.com/monitoring/v2beta2/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/NOsFjtPY9zRzc3K9F8mQGuDeSj0\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png","x32":"https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"},"id":"cloudmonitoring:v2beta2","kind":"discovery#restDescription","labels":null,"methods":null,"name":"cloudmonitoring","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"metricDescriptors":{"methods":{"create":{"description":"Create a new metric.","etagRequired":null,"httpMethod":"POST","id":"cloudmonitoring.metricDescriptors.create","mediaUpload":null,"parameterOrder":["project"],"parameters":{"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project id. The value can be the numeric project ID or string-based project name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/metricDescriptors","request":{"$ref":"MetricDescriptor","parameterName":null},"response":{"$ref":"MetricDescriptor"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/monitoring"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Delete an existing metric.","etagRequired":null,"httpMethod":"DELETE","id":"cloudmonitoring.metricDescriptors.delete","mediaUpload":null,"parameterOrder":["project","metric"],"parameters":{"metric":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the metric.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project ID to which the metric belongs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/metricDescriptors/{metric}","request":null,"response":{"$ref":"DeleteMetricDescriptorResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/monitoring"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List metric descriptors that match the query. If the query is not set, then all of the metric descriptors will be returned. Large responses will be paginated, use the nextPageToken returned in the response to request subsequent pages of results by setting the pageToken query parameter to the value of the nextPageToken.","etagRequired":null,"httpMethod":"GET","id":"cloudmonitoring.metricDescriptors.list","mediaUpload":null,"parameterOrder":["project"],"parameters":{"count":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"100","description":"Maximum number of metric descriptors per page. Used for pagination. If not specified, count = 100.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The pagination token, which is used to page through large result sets. Set this value to the value of the nextPageToken to retrieve the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project id. The value can be the numeric project ID or string-based project name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"query":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The query used to search against existing metrics. Separate keywords with a space; the service joins all keywords with AND, meaning that all keywords must match for a metric to be returned. If this field is omitted, all metrics are returned. If an empty string is passed with this field, no metrics are returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"{project}/metricDescriptors","request":{"$ref":"ListMetricDescriptorsRequest","parameterName":null},"response":{"$ref":"ListMetricDescriptorsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/monitoring"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"timeseries":{"methods":{"list":{"description":"List the data points of the time series that match the metric and labels values and that have data points in the interval. Large responses are paginated; use the nextPageToken returned in the response to request subsequent pages of results by setting the pageToken query parameter to the value of the nextPageToken.","etagRequired":null,"httpMethod":"GET","id":"cloudmonitoring.timeseries.list","mediaUpload":null,"parameterOrder":["project","metric","youngest"],"parameters":{"aggregator":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The aggregation function that will reduce the data points in each window to a single point. This parameter is only valid for non-cumulative metrics with a value type of INT64 or DOUBLE.","enum":["max","mean","min","sum"],"enumDescriptions":["","","",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"count":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"6000","description":"Maximum number of data points per page, which is used for pagination of results.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"12000","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"labels":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A collection of labels for the matching time series, which are represented as:  \n- key==value: key equals the value \n- key=~value: key regex matches the value \n- key!=value: key does not equal the value \n- key!~value: key regex does not match the value  For example, to list all of the time series descriptors for the region us-central1, you could specify:\nlabel=cloud.googleapis.com%2Flocation=~us-central1.*","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"(.+?)(==|=~|!=|!~)(.+)","properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"metric":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Metric names are protocol-free URLs as listed in the Supported Metrics page. For example, compute.googleapis.com/instance/disk/read_ops_count.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"oldest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Start of the time interval (exclusive), which is expressed as an RFC 3339 timestamp. If neither oldest nor timespan is specified, the default time interval will be (youngest - 4 hours, youngest]","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The pagination token, which is used to page through large result sets. Set this value to the value of the nextPageToken to retrieve the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project ID to which this time series belongs. The value can be the numeric project ID or string-based project name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"timespan":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Length of the time interval to query, which is an alternative way to declare the interval: (youngest - timespan, youngest]. The timespan and oldest parameters should not be used together. Units:  \n- s: second \n- m: minute \n- h: hour \n- d: day \n- w: week  Examples: 2s, 3m, 4w. Only one unit is allowed, for example: 2w3d is not allowed; you should use 17d instead.\n\nIf neither oldest nor timespan is specified, the default time interval will be (youngest - 4 hours, youngest].","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[0-9]+[smhdw]?","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"window":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The sampling window. At most one data point will be returned for each window in the requested time interval. This parameter is only valid for non-cumulative metric types. Units:  \n- m: minute \n- h: hour \n- d: day \n- w: week  Examples: 3m, 4w. Only one unit is allowed, for example: 2w3d is not allowed; you should use 17d instead.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[0-9]+[mhdw]?","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"youngest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"End of the time interval (inclusive), which is expressed as an RFC 3339 timestamp.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/timeseries/{metric}","request":{"$ref":"ListTimeseriesRequest","parameterName":null},"response":{"$ref":"ListTimeseriesResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/monitoring"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"write":{"description":"Put data points to one or more time series for one or more metrics. If a time series does not exist, a new time series will be created. It is not allowed to write a time series point that is older than the existing youngest point of that time series. Points that are older than the existing youngest point of that time series will be discarded silently. Therefore, users should make sure that points of a time series are written sequentially in the order of their end time.","etagRequired":null,"httpMethod":"POST","id":"cloudmonitoring.timeseries.write","mediaUpload":null,"parameterOrder":["project"],"parameters":{"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project ID. The value can be the numeric project ID or string-based project name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/timeseries:write","request":{"$ref":"WriteTimeseriesRequest","parameterName":null},"response":{"$ref":"WriteTimeseriesResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/monitoring"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"timeseriesDescriptors":{"methods":{"list":{"description":"List the descriptors of the time series that match the metric and labels values and that have data points in the interval. Large responses are paginated; use the nextPageToken returned in the response to request subsequent pages of results by setting the pageToken query parameter to the value of the nextPageToken.","etagRequired":null,"httpMethod":"GET","id":"cloudmonitoring.timeseriesDescriptors.list","mediaUpload":null,"parameterOrder":["project","metric","youngest"],"parameters":{"aggregator":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The aggregation function that will reduce the data points in each window to a single point. This parameter is only valid for non-cumulative metrics with a value type of INT64 or DOUBLE.","enum":["max","mean","min","sum"],"enumDescriptions":["","","",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"count":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"100","description":"Maximum number of time series descriptors per page. Used for pagination. If not specified, count = 100.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"labels":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A collection of labels for the matching time series, which are represented as:  \n- key==value: key equals the value \n- key=~value: key regex matches the value \n- key!=value: key does not equal the value \n- key!~value: key regex does not match the value  For example, to list all of the time series descriptors for the region us-central1, you could specify:\nlabel=cloud.googleapis.com%2Flocation=~us-central1.*","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"(.+?)(==|=~|!=|!~)(.+)","properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"metric":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Metric names are protocol-free URLs as listed in the Supported Metrics page. For example, compute.googleapis.com/instance/disk/read_ops_count.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"oldest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Start of the time interval (exclusive), which is expressed as an RFC 3339 timestamp. If neither oldest nor timespan is specified, the default time interval will be (youngest - 4 hours, youngest]","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The pagination token, which is used to page through large result sets. Set this value to the value of the nextPageToken to retrieve the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project ID to which this time series belongs. The value can be the numeric project ID or string-based project name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"timespan":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Length of the time interval to query, which is an alternative way to declare the interval: (youngest - timespan, youngest]. The timespan and oldest parameters should not be used together. Units:  \n- s: second \n- m: minute \n- h: hour \n- d: day \n- w: week  Examples: 2s, 3m, 4w. Only one unit is allowed, for example: 2w3d is not allowed; you should use 17d instead.\n\nIf neither oldest nor timespan is specified, the default time interval will be (youngest - 4 hours, youngest].","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[0-9]+[smhdw]?","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"window":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The sampling window. At most one data point will be returned for each window in the requested time interval. This parameter is only valid for non-cumulative metric types. Units:  \n- m: minute \n- h: hour \n- d: day \n- w: week  Examples: 3m, 4w. Only one unit is allowed, for example: 2w3d is not allowed; you should use 17d instead.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[0-9]+[mhdw]?","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"youngest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"End of the time interval (inclusive), which is expressed as an RFC 3339 timestamp.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/timeseriesDescriptors/{metric}","request":{"$ref":"ListTimeseriesDescriptorsRequest","parameterName":null},"response":{"$ref":"ListTimeseriesDescriptorsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/monitoring"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20170501","rootUrl":"https://www.googleapis.com/","schemas":{"DeleteMetricDescriptorResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response of cloudmonitoring.metricDescriptors.delete.","enum":null,"enumDescriptions":null,"format":null,"id":"DeleteMetricDescriptorResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"cloudmonitoring#deleteMetricDescriptorResponse","description":"Identifies what kind of resource this is. Value: the fixed string \"cloudmonitoring#deleteMetricDescriptorResponse\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListMetricDescriptorsRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The request of cloudmonitoring.metricDescriptors.list.","enum":null,"enumDescriptions":null,"format":null,"id":"ListMetricDescriptorsRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"cloudmonitoring#listMetricDescriptorsRequest","description":"Identifies what kind of resource this is. Value: the fixed string \"cloudmonitoring#listMetricDescriptorsRequest\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListMetricDescriptorsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response of cloudmonitoring.metricDescriptors.list.","enum":null,"enumDescriptions":null,"format":null,"id":"ListMetricDescriptorsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"cloudmonitoring#listMetricDescriptorsResponse","description":"Identifies what kind of resource this is. Value: the fixed string \"cloudmonitoring#listMetricDescriptorsResponse\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"metrics":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The returned metric descriptors.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"MetricDescriptor","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Pagination token. If present, indicates that additional results are available for retrieval. To access the results past the pagination limit, pass this value to the pageToken query parameter.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListTimeseriesDescriptorsRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The request of cloudmonitoring.timeseriesDescriptors.list","enum":null,"enumDescriptions":null,"format":null,"id":"ListTimeseriesDescriptorsRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"cloudmonitoring#listTimeseriesDescriptorsRequest","description":"Identifies what kind of resource this is. Value: the fixed string \"cloudmonitoring#listTimeseriesDescriptorsRequest\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListTimeseriesDescriptorsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response of cloudmonitoring.timeseriesDescriptors.list","enum":null,"enumDescriptions":null,"format":null,"id":"ListTimeseriesDescriptorsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"cloudmonitoring#listTimeseriesDescriptorsResponse","description":"Identifies what kind of resource this is. Value: the fixed string \"cloudmonitoring#listTimeseriesDescriptorsResponse\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Pagination token. If present, indicates that additional results are available for retrieval. To access the results past the pagination limit, set this value to the pageToken query parameter.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oldest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The oldest timestamp of the interval of this query, as an RFC 3339 string.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timeseries":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The returned time series descriptors.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"TimeseriesDescriptor","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"youngest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The youngest timestamp of the interval of this query, as an RFC 3339 string.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListTimeseriesRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The request of cloudmonitoring.timeseries.list","enum":null,"enumDescriptions":null,"format":null,"id":"ListTimeseriesRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"cloudmonitoring#listTimeseriesRequest","description":"Identifies what kind of resource this is. Value: the fixed string \"cloudmonitoring#listTimeseriesRequest\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListTimeseriesResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response of cloudmonitoring.timeseries.list","enum":null,"enumDescriptions":null,"format":null,"id":"ListTimeseriesResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"cloudmonitoring#listTimeseriesResponse","description":"Identifies what kind of resource this is. Value: the fixed string \"cloudmonitoring#listTimeseriesResponse\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Pagination token. If present, indicates that additional results are available for retrieval. To access the results past the pagination limit, set the pageToken query parameter to this value. All of the points of a time series will be returned before returning any point of the subsequent time series.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oldest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The oldest timestamp of the interval of this query as an RFC 3339 string.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timeseries":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The returned time series.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Timeseries","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"youngest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The youngest timestamp of the interval of this query as an RFC 3339 string.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"MetricDescriptor":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A metricDescriptor defines the name, label keys, and data type of a particular metric.","enum":null,"enumDescriptions":null,"format":null,"id":"MetricDescriptor","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Description of this metric.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"labels":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Labels defined for this metric.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"MetricDescriptorLabelDescriptor","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of this metric.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project ID to which the metric belongs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"typeDescriptor":{"$ref":"MetricDescriptorTypeDescriptor","additionalProperties":null,"annotations":null,"default":null,"description":"Type description for this metric.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"MetricDescriptorLabelDescriptor":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A label in a metric is a description of this metric, including the key of this description (what the description is), and the value for this description.","enum":null,"enumDescriptions":null,"format":null,"id":"MetricDescriptorLabelDescriptor","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Label description.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Label key.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"MetricDescriptorTypeDescriptor":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A type in a metric contains information about how the metric is collected and what its data points look like.","enum":null,"enumDescriptions":null,"format":null,"id":"MetricDescriptorTypeDescriptor","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"metricType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The method of collecting data for the metric. See Metric types.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"valueType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The data type of of individual points in the metric's time series. See Metric value types.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Point":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Point is a single point in a time series. It consists of a start time, an end time, and a value.","enum":null,"enumDescriptions":null,"format":null,"id":"Point","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"boolValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The value of this data point. Either \"true\" or \"false\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"distributionValue":{"$ref":"PointDistribution","additionalProperties":null,"annotations":null,"default":null,"description":"The value of this data point as a distribution. A distribution value can contain a list of buckets and/or an underflowBucket and an overflowBucket. The values of these points can be used to create a histogram.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"doubleValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The value of this data point as a double-precision floating-point number.","enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"end":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The interval [start, end] is the time period to which the point's value applies. For gauge metrics, whose values are instantaneous measurements, this interval should be empty (start should equal end). For cumulative metrics (of which deltas and rates are special cases), the interval should be non-empty. Both start and end are RFC 3339 strings.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"int64Value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The value of this data point as a 64-bit integer.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"start":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The interval [start, end] is the time period to which the point's value applies. For gauge metrics, whose values are instantaneous measurements, this interval should be empty (start should equal end). For cumulative metrics (of which deltas and rates are special cases), the interval should be non-empty. Both start and end are RFC 3339 strings.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"stringValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The value of this data point in string format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"PointDistribution":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Distribution data point value type. When writing distribution points, try to be consistent with the boundaries of your buckets. If you must modify the bucket boundaries, then do so by merging, partitioning, or appending rather than skewing them.","enum":null,"enumDescriptions":null,"format":null,"id":"PointDistribution","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"buckets":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The finite buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"PointDistributionBucket","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"overflowBucket":{"$ref":"PointDistributionOverflowBucket","additionalProperties":null,"annotations":null,"default":null,"description":"The overflow bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"underflowBucket":{"$ref":"PointDistributionUnderflowBucket","additionalProperties":null,"annotations":null,"default":null,"description":"The underflow bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"PointDistributionBucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The histogram's bucket. Buckets that form the histogram of a distribution value. If the upper bound of a bucket, say U1, does not equal the lower bound of the next bucket, say L2, this means that there is no event in [U1, L2).","enum":null,"enumDescriptions":null,"format":null,"id":"PointDistributionBucket","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"count":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The number of events whose values are in the interval defined by this bucket.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"lowerBound":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The lower bound of the value interval of this bucket (inclusive).","enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"upperBound":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The upper bound of the value interval of this bucket (exclusive).","enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"PointDistributionOverflowBucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The overflow bucket is a special bucket that does not have the upperBound field; it includes all of the events that are no less than its lower bound.","enum":null,"enumDescriptions":null,"format":null,"id":"PointDistributionOverflowBucket","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"count":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The number of events whose values are in the interval defined by this bucket.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"lowerBound":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The lower bound of the value interval of this bucket (inclusive).","enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"PointDistributionUnderflowBucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The underflow bucket is a special bucket that does not have the lowerBound field; it includes all of the events that are less than its upper bound.","enum":null,"enumDescriptions":null,"format":null,"id":"PointDistributionUnderflowBucket","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"count":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The number of events whose values are in the interval defined by this bucket.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"upperBound":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The upper bound of the value interval of this bucket (exclusive).","enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Timeseries":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The monitoring data is organized as metrics and stored as data points that are recorded over time. Each data point represents information like the CPU utilization of your virtual machine. A historical record of these data points is called a time series.","enum":null,"enumDescriptions":null,"format":null,"id":"Timeseries","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"points":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The data points of this time series. The points are listed in order of their end timestamp, from younger to older.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Point","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"timeseriesDesc":{"$ref":"TimeseriesDescriptor","additionalProperties":null,"annotations":null,"default":null,"description":"The descriptor of this time series.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TimeseriesDescriptor":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"TimeseriesDescriptor identifies a single time series.","enum":null,"enumDescriptions":null,"format":null,"id":"TimeseriesDescriptor","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"labels":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The label's name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"annotations":null,"default":null,"description":"The label's name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"metric":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the metric.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Developers Console project number to which this time series belongs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TimeseriesDescriptorLabel":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"TimeseriesDescriptorLabel","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The label's name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The label's value.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TimeseriesPoint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When writing time series, TimeseriesPoint should be used instead of Timeseries, to enforce single point for each time series in the timeseries.write request.","enum":null,"enumDescriptions":null,"format":null,"id":"TimeseriesPoint","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"point":{"$ref":"Point","additionalProperties":null,"annotations":null,"default":null,"description":"The data point in this time series snapshot.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"timeseriesDesc":{"$ref":"TimeseriesDescriptor","additionalProperties":null,"annotations":null,"default":null,"description":"The descriptor of this time series.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"WriteTimeseriesRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The request of cloudmonitoring.timeseries.write","enum":null,"enumDescriptions":null,"format":null,"id":"WriteTimeseriesRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"commonLabels":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The label's name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"annotations":null,"default":null,"description":"The label's name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"timeseries":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Provide time series specific labels and the data points for each time series. The labels in timeseries and the common_labels should form a complete list of labels that required by the metric.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"TimeseriesPoint","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"WriteTimeseriesResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response of cloudmonitoring.timeseries.write","enum":null,"enumDescriptions":null,"format":null,"id":"WriteTimeseriesResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"cloudmonitoring#writeTimeseriesResponse","description":"Identifies what kind of resource this is. Value: the fixed string \"cloudmonitoring#writeTimeseriesResponse\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"cloudmonitoring/v2beta2/projects/","title":"Cloud Monitoring API","version":"v2beta2","version_module":null}