{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"}}}},"basePath":"","baseUrl":"https://container.googleapis.com/","batchPath":"batch","canonicalName":"Container","description":"The Google Container Engine API is used for building and managing container based applications, powered by the open source Kubernetes technology.","discoveryVersion":"v1","documentationLink":"https://cloud.google.com/container-engine/","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"container:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"container","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"projects":{"methods":null,"resources":{"zones":{"methods":{"getServerconfig":{"description":"Returns configuration info about the Container Engine service.","etagRequired":null,"httpMethod":"GET","id":"container.projects.zones.getServerconfig","mediaUpload":null,"parameterOrder":["projectId","zone"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine [zone](/compute/docs/zones#available)\nto return operations for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/serverconfig","request":null,"response":{"$ref":"ServerConfig"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"clusters":{"methods":{"locations":{"description":"Sets the locations of a specific cluster.","etagRequired":null,"httpMethod":"POST","id":"container.projects.zones.clusters.locations","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster to upgrade.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/locations","request":{"$ref":"SetLocationsRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates the settings of a specific cluster.","etagRequired":null,"httpMethod":"PUT","id":"container.projects.zones.clusters.update","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster to upgrade.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}","request":{"$ref":"UpdateClusterRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"monitoring":{"description":"Sets the monitoring service of a specific cluster.","etagRequired":null,"httpMethod":"POST","id":"container.projects.zones.clusters.monitoring","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster to upgrade.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/monitoring","request":{"$ref":"SetMonitoringServiceRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"master":{"description":"Updates the master of a specific cluster.","etagRequired":null,"httpMethod":"POST","id":"container.projects.zones.clusters.master","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster to upgrade.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/master","request":{"$ref":"UpdateMasterRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"setMasterAuth":{"description":"Used to set master auth materials. Currently supports :-\nChanging the admin password of a specific cluster.\nThis can be either via password generation or explicitly set the password.","etagRequired":null,"httpMethod":"POST","id":"container.projects.zones.clusters.setMasterAuth","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster to upgrade.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMasterAuth","request":{"$ref":"SetMasterAuthRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"logging":{"description":"Sets the logging service of a specific cluster.","etagRequired":null,"httpMethod":"POST","id":"container.projects.zones.clusters.logging","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster to upgrade.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/logging","request":{"$ref":"SetLoggingServiceRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all clusters owned by a project in either the specified zone or all\nzones.","etagRequired":null,"httpMethod":"GET","id":"container.projects.zones.clusters.list","mediaUpload":null,"parameterOrder":["projectId","zone"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides, or \"-\" for all zones.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters","request":null,"response":{"$ref":"ListClustersResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"resourceLabels":{"description":"Sets labels on a cluster.","etagRequired":null,"httpMethod":"POST","id":"container.projects.zones.clusters.resourceLabels","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/resourceLabels","request":{"$ref":"SetLabelsRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates a cluster, consisting of the specified number and type of Google\nCompute Engine instances.\n\nBy default, the cluster is created in the project's\n[default network](/compute/docs/networks-and-firewalls#networks).\n\nOne firewall is added for the cluster. After cluster creation,\nthe cluster creates routes for each node to allow the containers\non that node to communicate with all other instances in the\ncluster.\n\nFinally, an entry is added to the project's global metadata indicating\nwhich CIDR range is being used by the cluster.","etagRequired":null,"httpMethod":"POST","id":"container.projects.zones.clusters.create","mediaUpload":null,"parameterOrder":["projectId","zone"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters","request":{"$ref":"CreateClusterRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"completeIpRotation":{"description":"Completes master IP rotation.","etagRequired":null,"httpMethod":"POST","id":"container.projects.zones.clusters.completeIpRotation","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:completeIpRotation","request":{"$ref":"CompleteIPRotationRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"legacyAbac":{"description":"Enables or disables the ABAC authorization mechanism on a cluster.","etagRequired":null,"httpMethod":"POST","id":"container.projects.zones.clusters.legacyAbac","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/legacyAbac","request":{"$ref":"SetLegacyAbacRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"setNetworkPolicy":{"description":"Enables/Disables Network Policy for a cluster.","etagRequired":null,"httpMethod":"POST","id":"container.projects.zones.clusters.setNetworkPolicy","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setNetworkPolicy","request":{"$ref":"SetNetworkPolicyRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets the details of a specific cluster.","etagRequired":null,"httpMethod":"GET","id":"container.projects.zones.clusters.get","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}","request":null,"response":{"$ref":"Cluster"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"startIpRotation":{"description":"Start master IP rotation.","etagRequired":null,"httpMethod":"POST","id":"container.projects.zones.clusters.startIpRotation","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:startIpRotation","request":{"$ref":"StartIPRotationRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"setMaintenancePolicy":{"description":"Sets the maintenance policy for a cluster.","etagRequired":null,"httpMethod":"POST","id":"container.projects.zones.clusters.setMaintenancePolicy","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}:setMaintenancePolicy","request":{"$ref":"SetMaintenancePolicyRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"addons":{"description":"Sets the addons of a specific cluster.","etagRequired":null,"httpMethod":"POST","id":"container.projects.zones.clusters.addons","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster to upgrade.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/addons","request":{"$ref":"SetAddonsConfigRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes the cluster, including the Kubernetes endpoint and all worker\nnodes.\n\nFirewalls and routes that were configured during cluster creation\nare also deleted.\n\nOther Google Compute Engine resources that might be in use by the cluster\n(e.g. load balancer resources) will not be deleted if they weren't present\nat the initial create time.","etagRequired":null,"httpMethod":"DELETE","id":"container.projects.zones.clusters.delete","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"nodePools":{"methods":{"get":{"description":"Retrieves the node pool requested.","etagRequired":null,"httpMethod":"GET","id":"container.projects.zones.clusters.nodePools.get","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId","nodePoolId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"nodePoolId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the node pool.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}","request":null,"response":{"$ref":"NodePool"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates the version and/or image type of a specific node pool.","etagRequired":null,"httpMethod":"POST","id":"container.projects.zones.clusters.nodePools.update","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId","nodePoolId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster to upgrade.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"nodePoolId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the node pool to upgrade.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/update","request":{"$ref":"UpdateNodePoolRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"setSize":{"description":"Sets the size of a specific node pool.","etagRequired":null,"httpMethod":"POST","id":"container.projects.zones.clusters.nodePools.setSize","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId","nodePoolId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"nodePoolId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the node pool to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setSize","request":{"$ref":"SetNodePoolSizeRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"setManagement":{"description":"Sets the NodeManagement options for a node pool.","etagRequired":null,"httpMethod":"POST","id":"container.projects.zones.clusters.nodePools.setManagement","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId","nodePoolId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"nodePoolId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the node pool to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/setManagement","request":{"$ref":"SetNodePoolManagementRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a node pool from a cluster.","etagRequired":null,"httpMethod":"DELETE","id":"container.projects.zones.clusters.nodePools.delete","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId","nodePoolId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"nodePoolId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the node pool to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists the node pools for a cluster.","etagRequired":null,"httpMethod":"GET","id":"container.projects.zones.clusters.nodePools.list","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools","request":null,"response":{"$ref":"ListNodePoolsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"rollback":{"description":"Roll back the previously Aborted or Failed NodePool upgrade.\nThis will be an no-op if the last upgrade successfully completed.","etagRequired":null,"httpMethod":"POST","id":"container.projects.zones.clusters.nodePools.rollback","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId","nodePoolId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster to rollback.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"nodePoolId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the node pool to rollback.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}:rollback","request":{"$ref":"RollbackNodePoolUpgradeRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates a node pool for a cluster.","etagRequired":null,"httpMethod":"POST","id":"container.projects.zones.clusters.nodePools.create","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools","request":{"$ref":"CreateNodePoolRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"autoscaling":{"description":"Sets the autoscaling settings of a specific node pool.","etagRequired":null,"httpMethod":"POST","id":"container.projects.zones.clusters.nodePools.autoscaling","mediaUpload":null,"parameterOrder":["projectId","zone","clusterId","nodePoolId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the cluster to upgrade.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"nodePoolId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the node pool to upgrade.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/clusters/{clusterId}/nodePools/{nodePoolId}/autoscaling","request":{"$ref":"SetNodePoolAutoscalingRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"operations":{"methods":{"cancel":{"description":"Cancels the specified operation.","etagRequired":null,"httpMethod":"POST","id":"container.projects.zones.operations.cancel","mediaUpload":null,"parameterOrder":["projectId","zone","operationId"],"parameters":{"operationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The server-assigned `name` of the operation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the operation resides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/operations/{operationId}:cancel","request":{"$ref":"CancelOperationRequest","parameterName":null},"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets the specified operation.","etagRequired":null,"httpMethod":"GET","id":"container.projects.zones.operations.get","mediaUpload":null,"parameterOrder":["projectId","zone","operationId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the cluster\nresides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"operationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The server-assigned `name` of the operation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/operations/{operationId}","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all operations in a project in a specific zone or all zones.","etagRequired":null,"httpMethod":"GET","id":"container.projects.zones.operations.list","mediaUpload":null,"parameterOrder":["projectId","zone"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine [zone](/compute/docs/zones#available)\nto return operations for, or `-` for all zones.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/zones/{zone}/operations","request":null,"response":{"$ref":"ListOperationsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"ETag":null}},"revision":"20170922","rootUrl":"https://container.googleapis.com/","schemas":{"StartIPRotationRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"StartIPRotationRequest creates a new IP for the cluster and then performs\na node upgrade on each node pool to point to the new IP.","enum":null,"enumDescriptions":null,"format":null,"id":"StartIPRotationRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SetLabelsRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"SetLabelsRequest sets the Google Cloud Platform labels on a Google Container\nEngine cluster, which will in turn set them for Google Compute Engine\nresources used by that cluster","enum":null,"enumDescriptions":null,"format":null,"id":"SetLabelsRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"resourceLabels":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"annotations":null,"default":null,"description":"The labels to set for that cluster.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"labelFingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The fingerprint of the previous set of labels for this resource,\nused to detect conflicts. The fingerprint is initially generated by\nContainer Engine and changes after every request to modify or update\nlabels. You must always provide an up-to-date fingerprint hash when\nupdating or changing labels. Make a <code>get()</code> request to the\nresource to get the latest fingerprint.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"NodePool":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"NodePool contains the name and configuration for a cluster's node pool.\nNode pools are a set of nodes (i.e. VM's), with a common configuration and\nspecification, under the control of the cluster master. They may have a set\nof Kubernetes labels applied to them, which may be used to reference them\nduring pod scheduling. They may also be resized up or down, to accommodate\nthe workload.","enum":null,"enumDescriptions":null,"format":null,"id":"NodePool","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output only] The status of the nodes in this pool instance.","enum":["STATUS_UNSPECIFIED","PROVISIONING","RUNNING","RUNNING_WITH_ERROR","RECONCILING","STOPPING","ERROR"],"enumDescriptions":["Not set.","The PROVISIONING state indicates the node pool is being created.","The RUNNING state indicates the node pool has been created\nand is fully usable.","The RUNNING_WITH_ERROR state indicates the node pool has been created\nand is partially usable. Some error state has occurred and some\nfunctionality may be impaired. Customer may need to reissue a request\nor trigger a new update.","The RECONCILING state indicates that some work is actively being done on\nthe node pool, such as upgrading node software. Details can\nbe found in the `statusMessage` field.","The STOPPING state indicates the node pool is being deleted.","The ERROR state indicates the node pool may be unusable. Details\ncan be found in the `statusMessage` field."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"config":{"$ref":"NodeConfig","additionalProperties":null,"annotations":null,"default":null,"description":"The node configuration of the pool.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"statusMessage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output only] Additional information about the current status of this\nnode pool instance, if available.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the node pool.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"autoscaling":{"$ref":"NodePoolAutoscaling","additionalProperties":null,"annotations":null,"default":null,"description":"Autoscaler configuration for this NodePool. Autoscaler is enabled\nonly if a valid configuration is present.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"initialNodeCount":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The initial node count for the pool. You must ensure that your\nCompute Engine <a href=\"/compute/docs/resource-quotas\">resource quota</a>\nis sufficient for this number of instances. You must also have available\nfirewall and routes quota.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"management":{"$ref":"NodeManagement","additionalProperties":null,"annotations":null,"default":null,"description":"NodeManagement configuration for this NodePool.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"selfLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output only] Server-defined URL for the resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"instanceGroupUrls":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output only] The resource URLs of [instance\ngroups](/compute/docs/instance-groups/) associated with this\nnode pool.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"version":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output only] The version of the Kubernetes of this node.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"NodeManagement":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"NodeManagement defines the set of node management services turned on for the\nnode pool.","enum":null,"enumDescriptions":null,"format":null,"id":"NodeManagement","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"autoRepair":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A flag that specifies whether the node auto-repair is enabled for the node\npool. If enabled, the nodes in this node pool will be monitored and, if\nthey fail health checks too many times, an automatic repair action will be\ntriggered.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"autoUpgrade":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A flag that specifies whether node auto-upgrade is enabled for the node\npool. If enabled, node auto-upgrade helps keep the nodes in your node pool\nup to date with the latest release version of Kubernetes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"upgradeOptions":{"$ref":"AutoUpgradeOptions","additionalProperties":null,"annotations":null,"default":null,"description":"Specifies the Auto Upgrade knobs for the node pool.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CancelOperationRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"CancelOperationRequest cancels a single operation.","enum":null,"enumDescriptions":null,"format":null,"id":"CancelOperationRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"KubernetesDashboard":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Configuration for the Kubernetes Dashboard.","enum":null,"enumDescriptions":null,"format":null,"id":"KubernetesDashboard","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"disabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the Kubernetes Dashboard is enabled for this cluster.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This operation resource represents operations that may have happened or are\nhappening on the cluster. All fields are output only.","enum":null,"enumDescriptions":null,"format":null,"id":"Operation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"detail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Detailed operation progress, if available.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"endTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output only] The time the operation completed, in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"targetLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Server-defined URL for the target of the operation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"operationType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The operation type.","enum":["TYPE_UNSPECIFIED","CREATE_CLUSTER","DELETE_CLUSTER","UPGRADE_MASTER","UPGRADE_NODES","REPAIR_CLUSTER","UPDATE_CLUSTER","CREATE_NODE_POOL","DELETE_NODE_POOL","SET_NODE_POOL_MANAGEMENT","AUTO_REPAIR_NODES","AUTO_UPGRADE_NODES","SET_LABELS","SET_MASTER_AUTH","SET_NODE_POOL_SIZE","SET_NETWORK_POLICY","SET_MAINTENANCE_POLICY"],"enumDescriptions":["Not set.","Cluster create.","Cluster delete.","A master upgrade.","A node upgrade.","Cluster repair.","Cluster update.","Node pool create.","Node pool delete.","Set node pool management.","Automatic node pool repair.","Automatic node upgrade.","Set labels.","Set/generate master auth materials","Set node pool size.","Updates network policy for a cluster.","Set the maintenance policy."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output only] The time the operation started, in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt) text format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which the operation\nis taking place.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The current status of the operation.","enum":["STATUS_UNSPECIFIED","PENDING","RUNNING","DONE","ABORTING"],"enumDescriptions":["Not set.","The operation has been created.","The operation is currently running.","The operation is done, either cancelled or completed.","The operation is aborting."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The server-assigned ID for the operation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"statusMessage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If an error has occurred, a textual description of the error.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"selfLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Server-defined URL for the resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"MaintenanceWindow":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"MaintenanceWindow defines the maintenance window to be used for the cluster.","enum":null,"enumDescriptions":null,"format":null,"id":"MaintenanceWindow","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"dailyMaintenanceWindow":{"$ref":"DailyMaintenanceWindow","additionalProperties":null,"annotations":null,"default":null,"description":"DailyMaintenanceWindow specifies a daily maintenance operation window.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"RollbackNodePoolUpgradeRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"RollbackNodePoolUpgradeRequest rollbacks the previously Aborted or Failed\nNodePool upgrade. This will be an no-op if the last upgrade successfully\ncompleted.","enum":null,"enumDescriptions":null,"format":null,"id":"RollbackNodePoolUpgradeRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"NetworkPolicy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Configuration options for the NetworkPolicy feature.\nhttps://kubernetes.io/docs/concepts/services-networking/networkpolicies/","enum":null,"enumDescriptions":null,"format":null,"id":"NetworkPolicy","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"enabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether network policy is enabled on the cluster.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"provider":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The selected network policy provider.","enum":["PROVIDER_UNSPECIFIED","CALICO"],"enumDescriptions":["Not set","Tigera (Calico Felix)."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UpdateMasterRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"UpdateMasterRequest updates the master of the cluster.","enum":null,"enumDescriptions":null,"format":null,"id":"UpdateMasterRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"masterVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Kubernetes version to change the master to. The only valid value is the\nlatest supported version. Use \"-\" to have the server automatically select\nthe latest version.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListOperationsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ListOperationsResponse is the result of ListOperationsRequest.","enum":null,"enumDescriptions":null,"format":null,"id":"ListOperationsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"operations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of operations in the project in the specified zone.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Operation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"missingZones":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If any zones are listed here, the list of operations returned\nmay be missing the operations from those zones.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CidrBlock":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"CidrBlock contains an optional name and one CIDR block.","enum":null,"enumDescriptions":null,"format":null,"id":"CidrBlock","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"cidrBlock":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"cidr_block must be specified in CIDR notation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"displayName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"display_name is an optional field for users to identify CIDR blocks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SetMonitoringServiceRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"SetMonitoringServiceRequest sets the monitoring service of a cluster.","enum":null,"enumDescriptions":null,"format":null,"id":"SetMonitoringServiceRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"monitoringService":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The monitoring service the cluster should use to write metrics.\nCurrently available options:\n\n* \"monitoring.googleapis.com\" - the Google Cloud Monitoring service\n* \"none\" - no metrics will be exported from the cluster","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ServerConfig":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Container Engine service configuration.","enum":null,"enumDescriptions":null,"format":null,"id":"ServerConfig","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"validMasterVersions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of valid master versions.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"defaultImageType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Default image type.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"defaultClusterVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Version of Kubernetes the service deploys by default.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"validImageTypes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of valid image types.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"validNodeVersions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of valid node upgrade target versions.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"NodeConfig":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Parameters that describe the nodes in a cluster.","enum":null,"enumDescriptions":null,"format":null,"id":"NodeConfig","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"oauthScopes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The set of Google API scopes to be made available on all of the\nnode VMs under the \"default\" service account.\n\nThe following scopes are recommended, but not required, and by default are\nnot included:\n\n* `https://www.googleapis.com/auth/compute` is required for mounting\npersistent storage on your nodes.\n* `https://www.googleapis.com/auth/devstorage.read_only` is required for\ncommunicating with **gcr.io**\n(the [Google Container Registry](/container-registry/)).\n\nIf unspecified, no scopes are added, unless Cloud Logging or Cloud\nMonitoring are enabled, in which case their required scopes will be added.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"labels":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"annotations":null,"default":null,"description":"The map of Kubernetes labels (key/value pairs) to be applied to each node.\nThese will added in addition to any default label(s) that\nKubernetes may apply to the node.\nIn case of conflict in label keys, the applied set may differ depending on\nthe Kubernetes version -- it's best to assume the behavior is undefined\nand conflicts should be avoided.\nFor more information, including usage and the valid values, see:\nhttps://kubernetes.io/docs/concepts/overview/working-with-objects/labels/","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"diskSizeGb":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Size of the disk attached to each node, specified in GB.\nThe smallest allowed disk size is 10GB.\n\nIf unspecified, the default disk size is 100GB.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"accelerators":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of hardware accelerators to be attached to each node.\nSee https://cloud.google.com/compute/docs/gpus for more information about\nsupport for GPUs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"AcceleratorConfig","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"machineType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of a Google Compute Engine [machine\ntype](/compute/docs/machine-types) (e.g.\n`n1-standard-1`).\n\nIf unspecified, the default machine type is\n`n1-standard-1`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"minCpuPlatform":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Minimum CPU platform to be used by this instance. The instance may be\nscheduled on the specified or newer CPU platform. Applicable values are the\nfriendly names of CPU platforms, such as\n<code>minCpuPlatform: &quot;Intel Haswell&quot;</code> or\n<code>minCpuPlatform: &quot;Intel Sandy Bridge&quot;</code>. For more\ninformation, read [h
[...]
