{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/content":{"description":"Manage your product listings and accounts for Google Shopping"}}}},"basePath":"/content/v2sandbox/","baseUrl":"https://www.googleapis.com/content/v2sandbox/","batchPath":"batch/content/v2sandbox","canonicalName":"Shopping Content","description":"Manages product items, inventory, and Merchant Center accounts for Google Shopping.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/shopping-content","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/QmLvLWNsI9BfMK5wWeN2hMPf260\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png","x32":"https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"},"id":"content:v2sandbox","kind":"discovery#restDescription","labels":null,"methods":null,"name":"content","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"orders":{"methods":{"acknowledge":{"description":"Marks an order as acknowledged. This method can only be called for non-multi-client accounts.","etagRequired":null,"httpMethod":"POST","id":"content.orders.acknowledge","mediaUpload":null,"parameterOrder":["merchantId","orderId"],"parameters":{"merchantId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managing account.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"orderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the order.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{merchantId}/orders/{orderId}/acknowledge","request":{"$ref":"OrdersAcknowledgeRequest","parameterName":null},"response":{"$ref":"OrdersAcknowledgeResponse"},"scopes":["https://www.googleapis.com/auth/content"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"advancetestorder":{"description":"Sandbox only. Moves a test order from state \"inProgress\" to state \"pendingShipment\". This method can only be called for non-multi-client accounts.","etagRequired":null,"httpMethod":"POST","id":"content.orders.advancetestorder","mediaUpload":null,"parameterOrder":["merchantId","orderId"],"parameters":{"merchantId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managing account.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"orderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the test order to modify.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{merchantId}/testorders/{orderId}/advance","request":null,"response":{"$ref":"OrdersAdvanceTestOrderResponse"},"scopes":["https://www.googleapis.com/auth/content"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"cancel":{"description":"Cancels all line items in an order, making a full refund. This method can only be called for non-multi-client accounts.","etagRequired":null,"httpMethod":"POST","id":"content.orders.cancel","mediaUpload":null,"parameterOrder":["merchantId","orderId"],"parameters":{"merchantId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managing account.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"orderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the order to cancel.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{merchantId}/orders/{orderId}/cancel","request":{"$ref":"OrdersCancelRequest","parameterName":null},"response":{"$ref":"OrdersCancelResponse"},"scopes":["https://www.googleapis.com/auth/content"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"cancellineitem":{"description":"Cancels a line item, making a full refund. This method can only be called for non-multi-client accounts.","etagRequired":null,"httpMethod":"POST","id":"content.orders.cancellineitem","mediaUpload":null,"parameterOrder":["merchantId","orderId"],"parameters":{"merchantId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managing account.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"orderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the order.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{merchantId}/orders/{orderId}/cancelLineItem","request":{"$ref":"OrdersCancelLineItemRequest","parameterName":null},"response":{"$ref":"OrdersCancelLineItemResponse"},"scopes":["https://www.googleapis.com/auth/content"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"createtestorder":{"description":"Sandbox only. Creates a test order. This method can only be called for non-multi-client accounts.","etagRequired":null,"httpMethod":"POST","id":"content.orders.createtestorder","mediaUpload":null,"parameterOrder":["merchantId"],"parameters":{"merchantId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managing account.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{merchantId}/testorders","request":{"$ref":"OrdersCreateTestOrderRequest","parameterName":null},"response":{"$ref":"OrdersCreateTestOrderResponse"},"scopes":["https://www.googleapis.com/auth/content"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"custombatch":{"description":"Retrieves or modifies multiple orders in a single request. This method can only be called for non-multi-client accounts.","etagRequired":null,"httpMethod":"POST","id":"content.orders.custombatch","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"orders/batch","request":{"$ref":"OrdersCustomBatchRequest","parameterName":null},"response":{"$ref":"OrdersCustomBatchResponse"},"scopes":["https://www.googleapis.com/auth/content"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves an order from your Merchant Center account. This method can only be called for non-multi-client accounts.","etagRequired":null,"httpMethod":"GET","id":"content.orders.get","mediaUpload":null,"parameterOrder":["merchantId","orderId"],"parameters":{"merchantId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managing account.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"orderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the order.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{merchantId}/orders/{orderId}","request":null,"response":{"$ref":"Order"},"scopes":["https://www.googleapis.com/auth/content"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getbymerchantorderid":{"description":"Retrieves an order using merchant order id. This method can only be called for non-multi-client accounts.","etagRequired":null,"httpMethod":"GET","id":"content.orders.getbymerchantorderid","mediaUpload":null,"parameterOrder":["merchantId","merchantOrderId"],"parameters":{"merchantId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managing account.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"merchantOrderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The merchant order id to be looked for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{merchantId}/ordersbymerchantid/{merchantOrderId}","request":null,"response":{"$ref":"OrdersGetByMerchantOrderIdResponse"},"scopes":["https://www.googleapis.com/auth/content"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"gettestordertemplate":{"description":"Sandbox only. Retrieves an order template that can be used to quickly create a new order in sandbox. This method can only be called for non-multi-client accounts.","etagRequired":null,"httpMethod":"GET","id":"content.orders.gettestordertemplate","mediaUpload":null,"parameterOrder":["merchantId","templateName"],"parameters":{"merchantId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managing account.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"templateName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the template to retrieve.","enum":["template1","template1a","template1b","template2"],"enumDescriptions":["","","",""],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{merchantId}/testordertemplates/{templateName}","request":null,"response":{"$ref":"OrdersGetTestOrderTemplateResponse"},"scopes":["https://www.googleapis.com/auth/content"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists the orders in your Merchant Center account. This method can only be called for non-multi-client accounts.","etagRequired":null,"httpMethod":"GET","id":"content.orders.list","mediaUpload":null,"parameterOrder":["merchantId"],"parameters":{"acknowledged":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Obtains orders that match the acknowledgement status. When set to true, obtains orders that have been acknowledged. When false, obtains orders that have not been acknowledged.\nWe recommend using this filter set to false, in conjunction with the acknowledge call, such that only un-acknowledged orders are returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of orders to return in the response, used for paging. The default value is 25 orders per page, and the maximum allowed value is 250 orders per page.\nKnown issue: All List calls will return all Orders without limit regardless of the value of this field.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"merchantId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managing account.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"orderBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ordering of the returned list. The only supported value are placedDate desc and placedDate asc for now, which returns orders sorted by placement date. \"placedDate desc\" stands for listing orders by placement date, from oldest to most recent. \"placedDate asc\" stands for listing orders by placement date, from most recent to oldest. In future releases we'll support other sorting criteria.","enum":["placedDate asc","placedDate desc"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token returned by the previous request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"placedDateEnd":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Obtains orders placed before this date (exclusively), in ISO 8601 format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"placedDateStart":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Obtains orders placed after this date (inclusively), in ISO 8601 format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"statuses":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Obtains orders that match any of the specified statuses. Multiple values can be specified with comma separation. Additionally, please note that active is a shortcut for pendingShipment and partiallyShipped, and completed is a shortcut for shipped , partiallyDelivered, delivered, partiallyReturned, returned, and canceled.","enum":["active","canceled","completed","delivered","inProgress","partiallyDelivered","partiallyReturned","partiallyShipped","pendingShipment","returned","shipped"],"enumDescriptions":["","","","","","","","","","",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null}},"path":"{merchantId}/orders","request":null,"response":{"$ref":"OrdersListResponse"},"scopes":["https://www.googleapis.com/auth/content"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"refund":{"description":"Refund a portion of the order, up to the full amount paid. This method can only be called for non-multi-client accounts.","etagRequired":null,"httpMethod":"POST","id":"content.orders.refund","mediaUpload":null,"parameterOrder":["merchantId","orderId"],"parameters":{"merchantId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managing account.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"orderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the order to refund.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{merchantId}/orders/{orderId}/refund","request":{"$ref":"OrdersRefundRequest","parameterName":null},"response":{"$ref":"OrdersRefundResponse"},"scopes":["https://www.googleapis.com/auth/content"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"returnlineitem":{"description":"Returns a line item. This method can only be called for non-multi-client accounts.","etagRequired":null,"httpMethod":"POST","id":"content.orders.returnlineitem","mediaUpload":null,"parameterOrder":["merchantId","orderId"],"parameters":{"merchantId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managing account.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"orderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the order.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{merchantId}/orders/{orderId}/returnLineItem","request":{"$ref":"OrdersReturnLineItemRequest","parameterName":null},"response":{"$ref":"OrdersReturnLineItemResponse"},"scopes":["https://www.googleapis.com/auth/content"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"shiplineitems":{"description":"Marks line item(s) as shipped. This method can only be called for non-multi-client accounts.","etagRequired":null,"httpMethod":"POST","id":"content.orders.shiplineitems","mediaUpload":null,"parameterOrder":["merchantId","orderId"],"parameters":{"merchantId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managing account.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"orderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the order.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{merchantId}/orders/{orderId}/shipLineItems","request":{"$ref":"OrdersShipLineItemsRequest","parameterName":null},"response":{"$ref":"OrdersShipLineItemsResponse"},"scopes":["https://www.googleapis.com/auth/content"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"updatemerchantorderid":{"description":"Updates the merchant order ID for a given order. This method can only be called for non-multi-client accounts.","etagRequired":null,"httpMethod":"POST","id":"content.orders.updatemerchantorderid","mediaUpload":null,"parameterOrder":["merchantId","orderId"],"parameters":{"merchantId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managing account.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"orderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the order.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{merchantId}/orders/{orderId}/updateMerchantOrderId","request":{"$ref":"OrdersUpdateMerchantOrderIdRequest","parameterName":null},"response":{"$ref":"OrdersUpdateMerchantOrderIdResponse"},"scopes":["https://www.googleapis.com/auth/content"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"updateshipment":{"description":"Updates a shipment's status, carrier, and/or tracking ID. This method can only be called for non-multi-client accounts.","etagRequired":null,"httpMethod":"POST","id":"content.orders.updateshipment","mediaUpload":null,"parameterOrder":["merchantId","orderId"],"parameters":{"merchantId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the managing account.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"orderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the order.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{merchantId}/orders/{orderId}/updateShipment","request":{"$ref":"OrdersUpdateShipmentRequest","parameterName":null},"response":{"$ref":"OrdersUpdateShipmentResponse"},"scopes":["https://www.googleapis.com/auth/content"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20170928","rootUrl":"https://www.googleapis.com/","schemas":{"Error":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An error returned by the API.","enum":null,"enumDescriptions":null,"format":null,"id":"Error","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"domain":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The domain of the error.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"message":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A description of the error.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reason":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The error code.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Errors":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of errors returned by a failed batch entry.","enum":null,"enumDescriptions":null,"format":null,"id":"Errors","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"code":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The HTTP status of the first error in errors.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"errors":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of errors.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Error","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"message":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The message of the first error in errors.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Order":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"Order","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"acknowledged":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the order was acknowledged.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"channelType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The channel type of the order: \"purchaseOnGoogle\" or \"googleExpress\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"customer":{"$ref":"OrderCustomer","additionalProperties":null,"annotations":null,"default":null,"description":"The details of the customer who placed the order.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"deliveryDetails":{"$ref":"OrderDeliveryDetails","additionalProperties":null,"annotations":null,"default":null,"description":"The details for the delivery.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The REST id of the order. Globally unique.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"content#order","description":"Identifies what kind of resource this is. Value: the fixed string \"content#order\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"lineItems":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Line items that are ordered.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"OrderLineItem","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"merchantId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"merchantOrderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Merchant-provided id of the order.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"netAmount":{"$ref":"Price","additionalProperties":null,"annotations":null,"default":null,"description":"The net amount for the order. For example, if an order was originally for a grand total of $100 and a refund was issued for $20, the net amount will be $80.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"paymentMethod":{"$ref":"OrderPaymentMethod","additionalProperties":null,"annotations":null,"default":null,"description":"The details of the payment method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"paymentStatus":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The status of the payment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"placedDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The date when the order was placed, in ISO 8601 format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"promotions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The details of the merchant provided promotions applied to the order. More details about the program are here.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"OrderPromotion","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"refunds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Refunds for the order.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"OrderRefund","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"shipments":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Shipments of the order.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"OrderShipment","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"shippingCost":{"$ref":"Price","additionalProperties":null,"annotations":null,"default":null,"description":"The total cost of shipping for all items.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"shippingCostTax":{"$ref":"Price","additionalProperties":null,"annotations":null,"default":null,"description":"The tax for the total shipping cost.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"shippingOption":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The requested shipping option.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The status of the order.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrderAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrderAddress","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"country":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"CLDR country code (e.g. \"US\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fullAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Strings representing the lines of the printed label for mailing the order, for example:\nJohn Smith\n1600 Amphitheatre Parkway\nMountain View, CA, 94043\nUnited States","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"isPostOfficeBox":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the address is a post office box.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"locality":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"City, town or commune. May also include dependent localities or sublocalities (e.g. neighborhoods or suburbs).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"postalCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Postal Code or ZIP (e.g. \"94043\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"recipientName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the recipient.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"region":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Top-level administrative subdivision of the country (e.g. \"CA\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"streetAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Street-level part of the address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrderCancellation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrderCancellation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"actor":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The actor that created the cancellation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"creationDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Date on which the cancellation has been created, in ISO 8601 format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quantity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The quantity that was canceled.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"reason":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The reason for the cancellation. Orders that are cancelled with a noInventory reason will lead to the removal of the product from POG until you make an update to that product. This will not affect your Shopping ads.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reasonText":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The explanation of the reason.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrderCustomer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrderCustomer","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"email":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email address of the customer.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"explicitMarketingPreference":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If set, this indicates the user explicitly chose to opt in or out of providing marketing rights to the merchant. If unset, this indicates the user has already made this choice in a previous purchase, and was thus not shown the marketing right opt in/out checkbox during the checkout flow.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fullName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Full name of the customer.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrderDeliveryDetails":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrderDeliveryDetails","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"address":{"$ref":"OrderAddress","additionalProperties":null,"annotations":null,"default":null,"description":"The delivery address","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"phoneNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The phone number of the person receiving the delivery.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrderLineItem":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrderLineItem","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"cancellations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cancellations of the line item.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"OrderCancellation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"channelType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The channel type of the order: \"purchaseOnGoogle\" or \"googleExpress\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of the line item.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"price":{"$ref":"Price","additionalProperties":null,"annotations":null,"default":null,"description":"Total price for the line item. For example, if two items for $10 are purchased, the total price will be $20.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"product":{"$ref":"OrderLineItemProduct","additionalProperties":null,"annotations":null,"default":null,"description":"Product data from the time of the order placement.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"quantityCanceled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of items canceled.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"quantityDelivered":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of items delivered.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"quantityOrdered":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of items ordered.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"quantityPending":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of items pending.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"quantityReturned":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of items returned.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"quantityShipped":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of items shipped.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"returnInfo":{"$ref":"OrderLineItemReturnInfo","additionalProperties":null,"annotations":null,"default":null,"description":"Details of the return policy for the line item.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"returns":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Returns of the line item.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"OrderReturn","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"shippingDetails":{"$ref":"OrderLineItemShippingDetails","additionalProperties":null,"annotations":null,"default":null,"description":"Details of the requested shipping for the line item.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"tax":{"$ref":"Price","additionalProperties":null,"annotations":null,"default":null,"description":"Total tax amount for the line item. For example, if two items are purchased, and each have a cost tax of $2, the total tax amount will be $4.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrderLineItemProduct":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrderLineItemProduct","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"brand":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Brand of the item.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"channel":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The item's channel (online or local).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"condition":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Condition or state of the item.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"contentLanguage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The two-letter ISO 639-1 language code for the item.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"gtin":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Global Trade Item Number (GTIN) of the item.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The REST id of the product.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"imageLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"URL of an image of the item.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"itemGroupId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Shared identifier for all variants of the same product.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"mpn":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Manufacturer Part Number (MPN) of the item.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"offerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An identifier of the item.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"price":{"$ref":"Price","additionalProperties":null,"annotations":null,"default":null,"description":"Price of the item.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"shownImage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"URL to the cached image shown to the user when order was placed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"targetCountry":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The CLDR territory code of the target country of the product.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"title":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The title of the product.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"variantAttributes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Variant attributes for the item. These are dimensions of the product, such as color, gender, material, pattern, and size. You can find a comprehensive list of variant attributes here.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"OrderLineItemProductVariantAttribute","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrderLineItemProductVariantAttribute":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrderLineItemProductVariantAttribute","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"dimension":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The dimension of the variant.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The value for the dimension.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrderLineItemReturnInfo":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrderLineItemReturnInfo","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"daysToReturn":{"$ref":null,"additionalProperties":null,"annotations":{"required":["content.orders.createtestorder"]},"default":null,"description":"How many days later the item can be returned.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"isReturnable":{"$ref":null,"additionalProperties":null,"annotations":{"required":["content.orders.createtestorder"]},"default":null,"description":"Whether the item is returnable.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"policyUrl":{"$ref":null,"additionalProperties":null,"annotations":{"required":["content.orders.createtestorder"]},"default":null,"description":"URL of the item return policy.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrderLineItemShippingDetails":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrderLineItemShippingDetails","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"deliverByDate":{"$ref":null,"additionalProperties":null,"annotations":{"required":["content.orders.createtestorder"]},"default":null,"description":"The delivery by date, in ISO 8601 format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"method":{"$ref":"OrderLineItemShippingDetailsMethod","additionalProperties":null,"annotations":{"required":["content.orders.createtestorder"]},"default":null,"description":"Details of the shipping method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"shipByDate":{"$ref":null,"additionalProperties":null,"annotations":{"required":["content.orders.createtestorder"]},"default":null,"description":"The ship by date, in ISO 8601 format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrderLineItemShippingDetailsMethod":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrderLineItemShippingDetailsMethod","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"carrier":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The carrier for the shipping. Optional. See shipments[].carrier for a list of acceptable values.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxDaysInTransit":{"$ref":null,"additionalProperties":null,"annotations":{"required":["content.orders.createtestorder"]},"default":null,"description":"Maximum transit time.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"methodName":{"$ref":null,"additionalProperties":null,"annotations":{"required":["content.orders.createtestorder"]},"default":null,"description":"The name of the shipping method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"minDaysInTransit":{"$ref":null,"additionalProperties":null,"annotations":{"required":["content.orders.createtestorder"]},"default":null,"description":"Minimum transit time.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrderPaymentMethod":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrderPaymentMethod","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"billingAddress":{"$ref":"OrderAddress","additionalProperties":null,"annotations":null,"default":null,"description":"The billing address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"expirationMonth":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The card expiration month (January = 1, February = 2 etc.).","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"expirationYear":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The card expiration year (4-digit, e.g. 2015).","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"lastFourDigits":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last four digits of the card number.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"phoneNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The billing phone number.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of instrument.\n\nAcceptable values are:  \n- \"AMEX\" \n- \"DISCOVER\" \n- \"JCB\" \n- \"MASTERCARD\" \n- \"UNIONPAY\" \n- \"VISA\" \n- \"\"","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrderPromotion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrderPromotion","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"benefits":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"OrderPromotionBenefit","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"effectiveDates":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The date and time frame when the promotion is active and ready for validation review. Note that the promotion live time may be delayed for a few hours due to the validation review.\nStart date and end date are separated by a forward slash (/). The start date is specified by the format (YYYY-MM-DD), followed by the letter ?T?, the time of the day when the sale starts (in Greenwich Mean Time, GMT), followed by an expression of the time zone for the sale. The end date is in the same format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"genericRedemptionCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional. The text code that corresponds to the promotion when applied on the retailer?s website.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique ID of the promotion.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"longTitle":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The full title of the promotion.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"productApplicability":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the promotion is applicable to all products or only specific products.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"redemptionChannel":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Indicates that the promotion is valid online.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrderPromotionBenefit":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrderPromotionBenefit","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"discount":{"$ref":"Price","additionalProperties":null,"annotations":null,"default":null,"description":"The discount in the order price when the promotion is applied.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"offerIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The OfferId(s) that were purchased in this order and map to this specific benefit of the promotion.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"subType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Further describes the benefit of the promotion. Note that we will expand on this enumeration as we support new promotion sub-types.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"taxImpact":{"$ref":"Price","additionalProperties":null,"annotations":null,"default":null,"description":"The impact on tax when the promotion is applied.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Describes whether the promotion applies to products (e.g. 20% off) or to shipping (e.g. Free Shipping).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrderRefund":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrderRefund","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"actor":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The actor that created the refund.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"amount":{"$ref":"Price","additionalProperties":null,"annotations":null,"default":null,"description":"The amount that is refunded.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"creationDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Date on which the item has been created, in ISO 8601 format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reason":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The reason for the refund.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reasonText":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The explanation of the reason.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrderReturn":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrderReturn","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"actor":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The actor that created the refund.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"creationDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Date on which the item has been created, in ISO 8601 format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quantity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Quantity that is returned.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"reason":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The reason for the return.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reasonText":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The explanation of the reason.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrderShipment":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrderShipment","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"carrier":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The carrier handling the shipment.\n\nAcceptable values are:  \n- \"gsx\" \n- \"ups\" \n- \"united parcel service\" \n- \"usps\" \n- \"united states postal service\" \n- \"fedex\" \n- \"dhl\" \n- \"ecourier\" \n- \"cxt\" \n- \"google\" \n- \"on trac\" \n- \"ontrac\" \n- \"on-trac\" \n- \"on_trac\" \n- \"delvic\" \n- \"dynamex\" \n- \"lasership\" \n- \"smartpost\" \n- \"fedex smartpost\" \n- \"mpx\" \n- \"uds\" \n- \"united delivery service\"","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"creationDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Date on which the shipment has been created, in ISO 8601 format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"deliveryDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Date on which the shipment has been delivered, in ISO 8601 format. Present only if status is delievered","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of the shipment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"lineItems":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The line items that are shipped.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"OrderShipmentLineItemShipment","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The status of the shipment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"trackingId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The tracking id for the shipment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrderShipmentLineItemShipment":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrderShipmentLineItemShipment","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"lineItemId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of the line item that is shipped.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quantity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The quantity that is shipped.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrdersAcknowledgeRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrdersAcknowledgeRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"operationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the operation. Unique across all operations for a given order.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrdersAcknowledgeResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrdersAcknowledgeResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"executionStatus":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The status of the execution.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"content#ordersAcknowledgeResponse","description":"Identifies what kind of resource this is. Value: the fixed string \"content#ordersAcknowledgeResponse\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrdersAdvanceTestOrderResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrdersAdvanceTestOrderResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"content#ordersAdvanceTestOrderResponse","description":"Identifies what kind of resource this is. Value: the fixed string \"content#ordersAdvanceTestOrderResponse\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrdersCancelLineItemRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrdersCancelLineItemRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"amount":{"$ref":"Price","additionalProperties":null,"annotations":null,"default":null,"description":"Amount to refund for the cancelation. Optional. If not set, Google will calculate the default based on the price and tax of the items involved. The amount must not be larger than the net amount left on the order.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"lineItemId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the line item to cancel.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"operationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the operation. Unique across all operations for a given order.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quantity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The quantity to cancel.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"reason":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The reason for the cancellation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reasonText":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The explanation of the reason.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrdersCancelLineItemResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrdersCancelLineItemResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"executionStatus":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The status of the execution.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"content#ordersCancelLineItemResponse","description":"Identifies what kind of resource this is. Value: the fixed string \"content#ordersCancelLineItemResponse\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrdersCancelRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrdersCancelRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"operationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the operation. Unique across all operations for a given order.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reason":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The reason for the cancellation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reasonText":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The explanation of the reason.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrdersCancelResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OrdersCancelResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"executionStatus":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The status of the execution.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"content#ordersCancelResponse","description":"Identifies what kind of resource this is. Value: the fixed string \"content#ordersCancelResponse\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OrdersCr
[...]
