{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/compute.readonly":{"description":"View your Google Compute Engine resources"},"https://www.googleapis.com/auth/compute":{"description":"View and manage your Google Compute Engine resources"},"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"},"https://www.googleapis.com/auth/userinfo.email":{"description":"View your email address"}}}},"basePath":"","baseUrl":"https://dataflow.googleapis.com/","batchPath":"batch","canonicalName":null,"description":"Manages Google Cloud Dataflow projects on Google Cloud Platform.","discoveryVersion":"v1","documentationLink":"https://cloud.google.com/dataflow","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"dataflow:v1b3","kind":"discovery#restDescription","labels":null,"methods":null,"name":"dataflow","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"projects":{"methods":{"workerMessages":{"description":"Send a worker_message to the service.","etagRequired":null,"httpMethod":"POST","id":"dataflow.projects.workerMessages","mediaUpload":null,"parameterOrder":["projectId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to send the WorkerMessages to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/WorkerMessages","request":{"$ref":"SendWorkerMessagesRequest","parameterName":null},"response":{"$ref":"SendWorkerMessagesResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"locations":{"methods":{"workerMessages":{"description":"Send a worker_message to the service.","etagRequired":null,"httpMethod":"POST","id":"dataflow.projects.locations.workerMessages","mediaUpload":null,"parameterOrder":["projectId","location"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to send the WorkerMessages to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location which contains the job","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/locations/{location}/WorkerMessages","request":{"$ref":"SendWorkerMessagesRequest","parameterName":null},"response":{"$ref":"SendWorkerMessagesResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"templates":{"methods":{"launch":{"description":"Launch a template.","etagRequired":null,"httpMethod":"POST","id":"dataflow.projects.locations.templates.launch","mediaUpload":null,"parameterOrder":["projectId","location"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The ID of the Cloud Platform project that the job belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"gcsPath":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. A Cloud Storage path to the template from which to create\nthe job.\nMust be valid Cloud Storage URL, beginning with 'gs://'.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location to which to direct the request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"validateOnly":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If true, the request is validated but not actually executed.\nDefaults to false.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/locations/{location}/templates:launch","request":{"$ref":"LaunchTemplateParameters","parameterName":null},"response":{"$ref":"LaunchTemplateResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Get the template associated with a template.","etagRequired":null,"httpMethod":"GET","id":"dataflow.projects.locations.templates.get","mediaUpload":null,"parameterOrder":["projectId","location"],"parameters":{"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location to which to direct the request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The view to retrieve. Defaults to METADATA_ONLY.","enum":["METADATA_ONLY"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The ID of the Cloud Platform project that the job belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"gcsPath":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. A Cloud Storage path to the template from which to\ncreate the job.\nMust be a valid Cloud Storage URL, beginning with `gs://`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/locations/{location}/templates:get","request":null,"response":{"$ref":"GetTemplateResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates a Cloud Dataflow job from a template.","etagRequired":null,"httpMethod":"POST","id":"dataflow.projects.locations.templates.create","mediaUpload":null,"parameterOrder":["projectId","location"],"parameters":{"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location to which to direct the request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The ID of the Cloud Platform project that the job belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/locations/{location}/templates","request":{"$ref":"CreateJobFromTemplateRequest","parameterName":null},"response":{"$ref":"Job"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"jobs":{"methods":{"getMetrics":{"description":"Request the job status.","etagRequired":null,"httpMethod":"GET","id":"dataflow.projects.locations.jobs.getMetrics","mediaUpload":null,"parameterOrder":["projectId","location","jobId"],"parameters":{"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Return only metric data that has changed since this time.\nDefault is to return all information about all metrics for the job.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"jobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The job to get messages for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A project id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location which contains the job specified by job_id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics","request":null,"response":{"$ref":"JobMetrics"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List the jobs of a project in a given region.","etagRequired":null,"httpMethod":"GET","id":"dataflow.projects.locations.jobs.list","mediaUpload":null,"parameterOrder":["projectId","location"],"parameters":{"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If there are many jobs, limit response to at most this many.\nThe actual number of jobs returned will be the lesser of max_responses\nand an unspecified server-defined limit.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.","enum":["JOB_VIEW_UNKNOWN","JOB_VIEW_SUMMARY","JOB_VIEW_ALL","JOB_VIEW_DESCRIPTION"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project which owns the jobs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The kind of filter to use.","enum":["UNKNOWN","ALL","TERMINATED","ACTIVE"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location that contains this job.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set this to the 'next_page_token' field of a previous response\nto request additional results in a long list.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/locations/{location}/jobs","request":null,"response":{"$ref":"ListJobsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets the state of the specified Cloud Dataflow job.","etagRequired":null,"httpMethod":"GET","id":"dataflow.projects.locations.jobs.get","mediaUpload":null,"parameterOrder":["projectId","location","jobId"],"parameters":{"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The level of information requested in response.","enum":["JOB_VIEW_UNKNOWN","JOB_VIEW_SUMMARY","JOB_VIEW_ALL","JOB_VIEW_DESCRIPTION"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"jobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The job ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Cloud Platform project that the job belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location that contains this job.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}","request":null,"response":{"$ref":"Job"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates the state of an existing Cloud Dataflow job.","etagRequired":null,"httpMethod":"PUT","id":"dataflow.projects.locations.jobs.update","mediaUpload":null,"parameterOrder":["projectId","location","jobId"],"parameters":{"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location that contains this job.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"jobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The job ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Cloud Platform project that the job belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}","request":{"$ref":"Job","parameterName":null},"response":{"$ref":"Job"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates a Cloud Dataflow job.","etagRequired":null,"httpMethod":"POST","id":"dataflow.projects.locations.jobs.create","mediaUpload":null,"parameterOrder":["projectId","location"],"parameters":{"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The level of information requested in response.","enum":["JOB_VIEW_UNKNOWN","JOB_VIEW_SUMMARY","JOB_VIEW_ALL","JOB_VIEW_DESCRIPTION"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Cloud Platform project that the job belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location that contains this job.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"replaceJobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Deprecated. This field is now in the Job message.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/locations/{location}/jobs","request":{"$ref":"Job","parameterName":null},"response":{"$ref":"Job"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"workItems":{"methods":{"reportStatus":{"description":"Reports the status of dataflow WorkItems leased by a worker.","etagRequired":null,"httpMethod":"POST","id":"dataflow.projects.locations.jobs.workItems.reportStatus","mediaUpload":null,"parameterOrder":["projectId","location","jobId"],"parameters":{"jobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The job which the WorkItem is part of.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project which owns the WorkItem's job.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location which contains the WorkItem's job.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus","request":{"$ref":"ReportWorkItemStatusRequest","parameterName":null},"response":{"$ref":"ReportWorkItemStatusResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"lease":{"description":"Leases a dataflow WorkItem to run.","etagRequired":null,"httpMethod":"POST","id":"dataflow.projects.locations.jobs.workItems.lease","mediaUpload":null,"parameterOrder":["projectId","location","jobId"],"parameters":{"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location which contains the WorkItem's job.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"jobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the workflow job this worker belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the project this worker belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease","request":{"$ref":"LeaseWorkItemRequest","parameterName":null},"response":{"$ref":"LeaseWorkItemResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"debug":{"methods":{"sendCapture":{"description":"Send encoded debug capture data for component.","etagRequired":null,"httpMethod":"POST","id":"dataflow.projects.locations.jobs.debug.sendCapture","mediaUpload":null,"parameterOrder":["projectId","location","jobId"],"parameters":{"jobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The job id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location which contains the job specified by job_id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture","request":{"$ref":"SendDebugCaptureRequest","parameterName":null},"response":{"$ref":"SendDebugCaptureResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getConfig":{"description":"Get encoded debug configuration for component. Not cacheable.","etagRequired":null,"httpMethod":"POST","id":"dataflow.projects.locations.jobs.debug.getConfig","mediaUpload":null,"parameterOrder":["projectId","location","jobId"],"parameters":{"jobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The job id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location which contains the job specified by job_id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig","request":{"$ref":"GetDebugConfigRequest","parameterName":null},"response":{"$ref":"GetDebugConfigResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"messages":{"methods":{"list":{"description":"Request the job status.","etagRequired":null,"httpMethod":"GET","id":"dataflow.projects.locations.jobs.messages.list","mediaUpload":null,"parameterOrder":["projectId","location","jobId"],"parameters":{"jobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The job to get messages about.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A project id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location which contains the job specified by job_id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"endTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Return only messages with timestamps < end_time. The default is now\n(i.e. return up to the latest messages available).","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If supplied, this should be the value of next_page_token returned\nby an earlier call. This will cause the next page of results to\nbe returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If specified, return only messages with timestamps >= start_time.\nThe default is the job creation time (i.e. beginning of messages).","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If specified, determines the maximum number of messages to\nreturn.  If unspecified, the service may choose an appropriate\ndefault, or may return an arbitrarily large number of results.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"minimumImportance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Filter to only get messages with importance >= level","enum":["JOB_MESSAGE_IMPORTANCE_UNKNOWN","JOB_MESSAGE_DEBUG","JOB_MESSAGE_DETAILED","JOB_MESSAGE_BASIC","JOB_MESSAGE_WARNING","JOB_MESSAGE_ERROR"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages","request":null,"response":{"$ref":"ListJobMessagesResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"ETag":null},"templates":{"methods":{"create":{"description":"Creates a Cloud Dataflow job from a template.","etagRequired":null,"httpMethod":"POST","id":"dataflow.projects.templates.create","mediaUpload":null,"parameterOrder":["projectId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The ID of the Cloud Platform project that the job belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/templates","request":{"$ref":"CreateJobFromTemplateRequest","parameterName":null},"response":{"$ref":"Job"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"launch":{"description":"Launch a template.","etagRequired":null,"httpMethod":"POST","id":"dataflow.projects.templates.launch","mediaUpload":null,"parameterOrder":["projectId"],"parameters":{"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location to which to direct the request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"validateOnly":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If true, the request is validated but not actually executed.\nDefaults to false.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The ID of the Cloud Platform project that the job belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"gcsPath":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. A Cloud Storage path to the template from which to create\nthe job.\nMust be valid Cloud Storage URL, beginning with 'gs://'.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/templates:launch","request":{"$ref":"LaunchTemplateParameters","parameterName":null},"response":{"$ref":"LaunchTemplateResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Get the template associated with a template.","etagRequired":null,"httpMethod":"GET","id":"dataflow.projects.templates.get","mediaUpload":null,"parameterOrder":["projectId"],"parameters":{"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The view to retrieve. Defaults to METADATA_ONLY.","enum":["METADATA_ONLY"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The ID of the Cloud Platform project that the job belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"gcsPath":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. A Cloud Storage path to the template from which to\ncreate the job.\nMust be a valid Cloud Storage URL, beginning with `gs://`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location to which to direct the request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/templates:get","request":null,"response":{"$ref":"GetTemplateResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"jobs":{"methods":{"create":{"description":"Creates a Cloud Dataflow job.","etagRequired":null,"httpMethod":"POST","id":"dataflow.projects.jobs.create","mediaUpload":null,"parameterOrder":["projectId"],"parameters":{"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location that contains this job.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"replaceJobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Deprecated. This field is now in the Job message.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The level of information requested in response.","enum":["JOB_VIEW_UNKNOWN","JOB_VIEW_SUMMARY","JOB_VIEW_ALL","JOB_VIEW_DESCRIPTION"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Cloud Platform project that the job belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/jobs","request":{"$ref":"Job","parameterName":null},"response":{"$ref":"Job"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getMetrics":{"description":"Request the job status.","etagRequired":null,"httpMethod":"GET","id":"dataflow.projects.jobs.getMetrics","mediaUpload":null,"parameterOrder":["projectId","jobId"],"parameters":{"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location which contains the job specified by job_id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Return only metric data that has changed since this time.\nDefault is to return all information about all metrics for the job.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"jobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The job to get messages for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A project id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/jobs/{jobId}/metrics","request":null,"response":{"$ref":"JobMetrics"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets the state of the specified Cloud Dataflow job.","etagRequired":null,"httpMethod":"GET","id":"dataflow.projects.jobs.get","mediaUpload":null,"parameterOrder":["projectId","jobId"],"parameters":{"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location that contains this job.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The level of information requested in response.","enum":["JOB_VIEW_UNKNOWN","JOB_VIEW_SUMMARY","JOB_VIEW_ALL","JOB_VIEW_DESCRIPTION"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"jobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The job ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Cloud Platform project that the job belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/jobs/{jobId}","request":null,"response":{"$ref":"Job"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates the state of an existing Cloud Dataflow job.","etagRequired":null,"httpMethod":"PUT","id":"dataflow.projects.jobs.update","mediaUpload":null,"parameterOrder":["projectId","jobId"],"parameters":{"jobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The job ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Cloud Platform project that the job belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location that contains this job.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/jobs/{jobId}","request":{"$ref":"Job","parameterName":null},"response":{"$ref":"Job"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"aggregated":{"description":"List the jobs of a project across all regions.","etagRequired":null,"httpMethod":"GET","id":"dataflow.projects.jobs.aggregated","mediaUpload":null,"parameterOrder":["projectId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project which owns the jobs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The kind of filter to use.","enum":["UNKNOWN","ALL","TERMINATED","ACTIVE"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location that contains this job.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set this to the 'next_page_token' field of a previous response\nto request additional results in a long list.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If there are many jobs, limit response to at most this many.\nThe actual number of jobs returned will be the lesser of max_responses\nand an unspecified server-defined limit.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.","enum":["JOB_VIEW_UNKNOWN","JOB_VIEW_SUMMARY","JOB_VIEW_ALL","JOB_VIEW_DESCRIPTION"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/jobs:aggregated","request":null,"response":{"$ref":"ListJobsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List the jobs of a project in a given region.","etagRequired":null,"httpMethod":"GET","id":"dataflow.projects.jobs.list","mediaUpload":null,"parameterOrder":["projectId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project which owns the jobs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The kind of filter to use.","enum":["UNKNOWN","ALL","TERMINATED","ACTIVE"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location that contains this job.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set this to the 'next_page_token' field of a previous response\nto request additional results in a long list.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If there are many jobs, limit response to at most this many.\nThe actual number of jobs returned will be the lesser of max_responses\nand an unspecified server-defined limit.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.","enum":["JOB_VIEW_UNKNOWN","JOB_VIEW_SUMMARY","JOB_VIEW_ALL","JOB_VIEW_DESCRIPTION"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/jobs","request":null,"response":{"$ref":"ListJobsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"workItems":{"methods":{"reportStatus":{"description":"Reports the status of dataflow WorkItems leased by a worker.","etagRequired":null,"httpMethod":"POST","id":"dataflow.projects.jobs.workItems.reportStatus","mediaUpload":null,"parameterOrder":["projectId","jobId"],"parameters":{"jobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The job which the WorkItem is part of.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project which owns the WorkItem's job.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus","request":{"$ref":"ReportWorkItemStatusRequest","parameterName":null},"response":{"$ref":"ReportWorkItemStatusResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"lease":{"description":"Leases a dataflow WorkItem to run.","etagRequired":null,"httpMethod":"POST","id":"dataflow.projects.jobs.workItems.lease","mediaUpload":null,"parameterOrder":["projectId","jobId"],"parameters":{"jobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the workflow job this worker belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the project this worker belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease","request":{"$ref":"LeaseWorkItemRequest","parameterName":null},"response":{"$ref":"LeaseWorkItemResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"debug":{"methods":{"sendCapture":{"description":"Send encoded debug capture data for component.","etagRequired":null,"httpMethod":"POST","id":"dataflow.projects.jobs.debug.sendCapture","mediaUpload":null,"parameterOrder":["projectId","jobId"],"parameters":{"jobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The job id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture","request":{"$ref":"SendDebugCaptureRequest","parameterName":null},"response":{"$ref":"SendDebugCaptureResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getConfig":{"description":"Get encoded debug configuration for component. Not cacheable.","etagRequired":null,"httpMethod":"POST","id":"dataflow.projects.jobs.debug.getConfig","mediaUpload":null,"parameterOrder":["projectId","jobId"],"parameters":{"jobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The job id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig","request":{"$ref":"GetDebugConfigRequest","parameterName":null},"response":{"$ref":"GetDebugConfigResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"messages":{"methods":{"list":{"description":"Request the job status.","etagRequired":null,"httpMethod":"GET","id":"dataflow.projects.jobs.messages.list","mediaUpload":null,"parameterOrder":["projectId","jobId"],"parameters":{"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location which contains the job specified by job_id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"endTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Return only messages with timestamps < end_time. The default is now\n(i.e. return up to the latest messages available).","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If supplied, this should be the value of next_page_token returned\nby an earlier call. This will cause the next page of results to\nbe returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If specified, return only messages with timestamps >= start_time.\nThe default is the job creation time (i.e. beginning of messages).","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If specified, determines the maximum number of messages to\nreturn.  If unspecified, the service may choose an appropriate\ndefault, or may return an arbitrarily large number of results.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"minimumImportance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Filter to only get messages with importance >= level","enum":["JOB_MESSAGE_IMPORTANCE_UNKNOWN","JOB_MESSAGE_DEBUG","JOB_MESSAGE_DETAILED","JOB_MESSAGE_BASIC","JOB_MESSAGE_WARNING","JOB_MESSAGE_ERROR"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"jobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The job to get messages about.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A project id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1b3/projects/{projectId}/jobs/{jobId}/messages","request":null,"response":{"$ref":"ListJobMessagesResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/userinfo.email"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"ETag":null}},"revision":"20170930","rootUrl":"https://dataflow.googleapis.com/","schemas":{"TemplateMetadata":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Metadata describing a template.","enum":null,"enumDescriptions":null,"format":null,"id":"TemplateMetadata","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"parameters":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The parameters for the template.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ParameterMetadata","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The name of the template.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional. A description of the template.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"WorkerMessage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"WorkerMessage provides information to the backend about a worker.","enum":null,"enumDescriptions":null,"format":null,"id":"WorkerMessage","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"workerMessageCode":{"$ref":"WorkerMessageCode","additionalProperties":null,"annotations":null,"default":null,"description":"A worker message code.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"workerMetrics":{"$ref":"ResourceUtilizationReport","additionalProperties":null,"annotations":null,"default":null,"description":"Resource metrics reported by workers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"labels":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"annotations":null,"default":null,"description":"Labels are used to group WorkerMessages.\nFor example, a worker_message about a particular container\nmight have the labels:\n{ \"JOB_ID\": \"2015-04-22\",\n  \"WORKER_ID\": \"wordcount-vm-2015…\"\n  \"CONTAINER_TYPE\": \"worker\",\n  \"CONTAINER_ID\": \"ac1234def\"}\nLabel tags typically correspond to Label enum values. However, for ease\nof development other strings can be used as tags. LABEL_UNSPECIFIED should\nnot be used here.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"time":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The timestamp of the worker_message.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"workerShutdownNotice":{"$ref":"WorkerShutdownNotice","additionalProperties":null,"annotations":null,"default":null,"description":"Shutdown notice by workers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"workerHealthReport":{"$ref":"WorkerHealthReport","additionalProperties":null,"annotations":null,"default":null,"description":"The health of a worker.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"JobMetrics":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JobMetrics contains a collection of metrics descibing the detailed progress\nof a Dataflow job. Metrics correspond to user-defined and system-defined\nmetrics in the job.\n\nThis resource captures only the most recent values of each metric;\ntime-series data can be queried for them (under the same metric names)\nfrom Cloud Monitoring.","enum":null,"enumDescriptions":null,"format":null,"id":"JobMetrics","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"metrics":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"All metrics for this job.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"MetricUpdate","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"metricTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Timestamp as of which metric values are current.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"WorkerShutdownNoticeResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Service-side response to WorkerMessage issuing shutdown notice.","enum":null,"enumDescriptions":null,"format":null,"id":"WorkerShutdownNoticeResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"FloatingPointList":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A metric value representing a list of floating point numbers.","enum":null,"enumDescriptions":null,"format":null,"id":"FloatingPointList","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"elements":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Elements of the list.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CounterUpdate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An update to a Counter sent from a worker.","enum":null,"enumDescriptions":null,"format":null,"id":"CounterUpdate","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"nameAndKind":{"$ref":"NameAndKind","additionalProperties":null,"annotations":null,"default":null,"description":"Counter name and aggregation type.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"stringList":{"$ref":"StringList","additionalProperties":null,"annotations":null,"default":null,"description":"List of strings, for Set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"distribution":{"$ref":"DistributionUpdate","additionalProperties":null,"annotations":null,"default":null,"description":"Distribution data","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"shortId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The service-generated short identifier for this counter.\nThe short_id -> (name, metadata) mapping is constant for the lifetime of\na job.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"floatingPointList":{"$ref":"FloatingPointList","additionalProperties":null,"annotations":null,"default":null,"description":"List of floating point numbers, for Set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"integer":{"$ref":"SplitInt64","additionalProperties":null,"annotations":null,"default":null,"description":"Integer value for Sum, Max, Min.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"structuredNameAndMetadata":{"$ref":"CounterStructuredNameAndMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Counter structured name and metadata.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"integerList":{"$ref":"IntegerList","additionalProperties":null,"annotations":null,"default":null,"description":"List of integers, for Set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"integerMean":{"$ref":"IntegerMean","additionalProperties":null,"annotations":null,"default":null,"description":"Integer mean aggregation value for Mean.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"floatingPoint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Floating point value for Sum, Max, Min.","enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"internal":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Value for internally-defined counters used by the Dataflow service.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"cumulative":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if this counter is reported as the total cumulative aggregate\nvalue accumulated since the worker started working on this WorkItem.\nBy default this is false, indicating that this counter is reported\nas a delta.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"floatingPointMean":{"$ref":"FloatingPointMean","additionalProperties":null,"annotations":null,"default":null,"description":"Floating point mean aggregation value for Mean.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"boolean":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Boolean value for And, Or.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SourceMetadata":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Metadata about a Source useful for automatically optimizing\nand tuning the pipeline, etc.","enum":null,"enumDescriptions":null,"format":null,"id":"SourceMetadata","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"estimatedSizeBytes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An estimate of the total size (in bytes) of the data that would be\nread from this source.  This estimate is in terms of external storage\nsize, before any decompression or other processing done by the reader.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"infinite":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies that the size of this source is known to be infinite\n(this is a streaming source).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"producesSortedKeys":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether this source is known to produce key/value pairs with\nthe (encoded) keys in lexicographically sorted order.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DistributionUpdate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A metric value representing a distribution.","enum":null,"enumDescriptions":null,"format":null,"id":"DistributionUpdate","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"min":{"$ref":"SplitInt64","additionalProperties":null,"annotations":null,"default":null,"description":"The minimum value present in the distribution.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"sumOfSquares":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Use a double since the sum of squares is likely to overflow int64.","enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"sum":{"$ref":"SplitInt64","additionalProperties":null,"annotations":null,"default":null,"description":"Use an int64 since we'd prefer the added precision. If overflow is a common\nproblem we can detect it and use an additional int64 or a double.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"histogram":{"$ref":"Histogram","additionalProperties":null,"annotations":null,"default":null,"description":"(Optional) Histogram of value counts for the distribution.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"max":{"$ref":"SplitInt64","additionalProperties":null,"annotations":null,"default":null,"description":"The maximum value present in the distribution.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"count":{"$ref":"SplitInt64","additionalProperties":null,"annotations":null,"default":null,"description":"The count of the number of elements present in the distribution.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SourceFork":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"DEPRECATED in favor of DynamicSourceSplit.","enum":null,"enumDescriptions":null,"format":null,"id":"SourceFork","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"residualSource":{"$ref":"DerivedSource","additionalProperties":null,"annotations":null,"default":null,"description":"DEPRECATED","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"primary":{"$ref":"SourceSplitShard","additionalProperties":null,"annotations":null,"default":null,"description":"DEPRECATED","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"primarySource":{"$ref":"DerivedSource","additionalProperties":null,"annotations":null,"default":null,"description":"DEPRECATED","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"residual":{"$ref":"SourceSplitShard","additionalProperties":null,"annotations":null,"default":null,"description":"DEPRECATED","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"WorkerHealthReportResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"WorkerHealthReportResponse contains information returned to the worker\nin response to a health ping.","enum":null,"enumDescriptions":null,"format":null,"id":"WorkerHealthReportResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"reportInterval":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A positive value indicates the worker should change its reporting interval\nto the specified value.\n\nThe default value of zero means no change in report rate is requested by\nthe server.","enum":null,"enumDescriptions":null,"format":"google-duration","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"WorkItemStatus":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Conveys a worker's progress through the work described by a WorkItem.","enum":null,"enumDescriptions":null,"format":null,"id":"WorkItemStatus","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"workItemId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the WorkItem.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"metricUpdates":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"DEPRECATED in favor of counter_updates.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"MetricUpdate","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"errors":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies errors which occurred during processing.  If errors are\nprovided, and completed = true, then the WorkItem is considered\nto have failed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Status","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"dynamicSourceSplit":{"$ref":"DynamicSourceSplit","additionalProperties":null,"annotations":null,"default":null,"description":"See documentation of stop_position.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"sourceOperationResponse":{"$ref":"SourceOperationResponse","additionalProperties":null,"annotations":null,"default":null,"description":"If the work item represented a SourceOperationRequest, and the work\nis completed, contains the result of the operation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"progress":{"$ref":"ApproximateProgress","additionalProperties":null,"annotations":null,"default":null,"description":"DEPRECATED in favor of reported_progress.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"requestedLeaseDuration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Amount of time the worker requests for its lease.","enum":null,"enumDescriptions":null,"format":"google-duration","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reportIndex":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The report index.  When a WorkItem is leased, the lease will\ncontain an initial report index.  When a WorkItem's status is\nreported to the system, the report should be sent with\nthat report index, and the response will contain the index the\nworker should use for the next report.  Reports received with\nunexpected index values will be rejected by the service.\n\nIn order to preserve idempotency, the worker should not alter the\ncontents of a report, even if the worker must submit the same\nreport multiple times before getting back a response.  The worker\nshould not submit a subsequent report until the response for the\nprevious report had been received from the service.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"st
[...]
