{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/ddmconversions":{"description":"Manage DoubleClick Digital Marketing conversions"},"https://www.googleapis.com/auth/dfareporting":{"description":"View and manage DoubleClick for Advertisers reports"},"https://www.googleapis.com/auth/dfatrafficking":{"description":"View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns"}}}},"basePath":"/dfareporting/v2.8/","baseUrl":"https://www.googleapis.com/dfareporting/v2.8/","batchPath":"batch/dfareporting/v2.8","canonicalName":null,"description":"Manages your DoubleClick Campaign Manager ad campaigns and reports.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/doubleclick-advertisers/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/emGV_y_FRSYhyMgSPP7gVElVBpw\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.google.com/images/icons/product/doubleclick-16.gif","x32":"https://www.google.com/images/icons/product/doubleclick-32.gif"},"id":"dfareporting:v2.8","kind":"discovery#restDescription","labels":null,"methods":null,"name":"dfareporting","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"accountActiveAdSummaries":{"methods":{"get":{"description":"Gets the account's active ad summary by account ID.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.accountActiveAdSummaries.get","mediaUpload":null,"parameterOrder":["profileId","summaryAccountId"],"parameters":{"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"summaryAccountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/accountActiveAdSummaries/{summaryAccountId}","request":null,"response":{"$ref":"AccountActiveAdSummary"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"accountPermissionGroups":{"methods":{"get":{"description":"Gets one account permission group by ID.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.accountPermissionGroups.get","mediaUpload":null,"parameterOrder":["profileId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account permission group ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/accountPermissionGroups/{id}","request":null,"response":{"$ref":"AccountPermissionGroup"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves the list of account permission groups.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.accountPermissionGroups.list","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/accountPermissionGroups","request":null,"response":{"$ref":"AccountPermissionGroupsListResponse"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"accountPermissions":{"methods":{"get":{"description":"Gets one account permission by ID.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.accountPermissions.get","mediaUpload":null,"parameterOrder":["profileId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account permission ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/accountPermissions/{id}","request":null,"response":{"$ref":"AccountPermission"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves the list of account permissions.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.accountPermissions.list","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/accountPermissions","request":null,"response":{"$ref":"AccountPermissionsListResponse"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"accountUserProfiles":{"methods":{"get":{"description":"Gets one account user profile by ID.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.accountUserProfiles.get","mediaUpload":null,"parameterOrder":["profileId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/accountUserProfiles/{id}","request":null,"response":{"$ref":"AccountUserProfile"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Inserts a new account user profile.","etagRequired":null,"httpMethod":"POST","id":"dfareporting.accountUserProfiles.insert","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/accountUserProfiles","request":{"$ref":"AccountUserProfile","parameterName":null},"response":{"$ref":"AccountUserProfile"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of account user profiles, possibly filtered. This method supports paging.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.accountUserProfiles.list","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"active":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only active user profiles.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"ids":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only user profiles with these IDs.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"1000","description":"Maximum number of results to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Value of the nextPageToken from the previous result page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"searchString":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Allows searching for objects by name, ID or email. Wildcards (*) are allowed. For example, \"user profile*2015\" will return objects with names like \"user profile June 2015\", \"user profile April 2015\", or simply \"user profile 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"user profile\" will match objects with name \"my user profile\", \"user profile 2015\", or simply \"user profile\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sortField":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"ID","description":"Field by which to sort the list.","enum":["ID","NAME"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sortOrder":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"ASCENDING","description":"Order of sorted results.","enum":["ASCENDING","DESCENDING"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"subaccountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only user profiles with the specified subaccount ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userRoleId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only user profiles with the specified user role ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/accountUserProfiles","request":null,"response":{"$ref":"AccountUserProfilesListResponse"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an existing account user profile. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"dfareporting.accountUserProfiles.patch","mediaUpload":null,"parameterOrder":["profileId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/accountUserProfiles","request":{"$ref":"AccountUserProfile","parameterName":null},"response":{"$ref":"AccountUserProfile"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an existing account user profile.","etagRequired":null,"httpMethod":"PUT","id":"dfareporting.accountUserProfiles.update","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/accountUserProfiles","request":{"$ref":"AccountUserProfile","parameterName":null},"response":{"$ref":"AccountUserProfile"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"accounts":{"methods":{"get":{"description":"Gets one account by ID.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.accounts.get","mediaUpload":null,"parameterOrder":["profileId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/accounts/{id}","request":null,"response":{"$ref":"Account"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves the list of accounts, possibly filtered. This method supports paging.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.accounts.list","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"active":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only active accounts. Don't set this field to select both active and non-active accounts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"ids":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only accounts with these IDs.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"1000","description":"Maximum number of results to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Value of the nextPageToken from the previous result page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"searchString":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"account*2015\" will return objects with names like \"account June 2015\", \"account April 2015\", or simply \"account 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"account\" will match objects with name \"my account\", \"account 2015\", or simply \"account\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sortField":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"ID","description":"Field by which to sort the list.","enum":["ID","NAME"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sortOrder":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"ASCENDING","description":"Order of sorted results.","enum":["ASCENDING","DESCENDING"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/accounts","request":null,"response":{"$ref":"AccountsListResponse"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an existing account. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"dfareporting.accounts.patch","mediaUpload":null,"parameterOrder":["profileId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/accounts","request":{"$ref":"Account","parameterName":null},"response":{"$ref":"Account"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an existing account.","etagRequired":null,"httpMethod":"PUT","id":"dfareporting.accounts.update","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/accounts","request":{"$ref":"Account","parameterName":null},"response":{"$ref":"Account"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"ads":{"methods":{"get":{"description":"Gets one ad by ID.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.ads.get","mediaUpload":null,"parameterOrder":["profileId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/ads/{id}","request":null,"response":{"$ref":"Ad"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Inserts a new ad.","etagRequired":null,"httpMethod":"POST","id":"dfareporting.ads.insert","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/ads","request":{"$ref":"Ad","parameterName":null},"response":{"$ref":"Ad"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of ads, possibly filtered. This method supports paging.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.ads.list","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"active":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only active ads.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"advertiserId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only ads with this advertiser ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"archived":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only archived ads.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"audienceSegmentIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only ads with these audience segment IDs.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"campaignIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only ads with these campaign IDs.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"compatibility":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select default ads with the specified compatibility. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering an in-stream video ads developed with the VAST standard.","enum":["APP","APP_INTERSTITIAL","DISPLAY","DISPLAY_INTERSTITIAL","IN_STREAM_VIDEO"],"enumDescriptions":["","","","",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"creativeIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only ads with these creative IDs assigned.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"creativeOptimizationConfigurationIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only ads with these creative optimization configuration IDs.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"dynamicClickTracker":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only dynamic click trackers. Applicable when type is AD_SERVING_CLICK_TRACKER. If true, select dynamic click trackers. If false, select static click trackers. Leave unset to select both.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"ids":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only ads with these IDs.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"landingPageIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only ads with these landing page IDs.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"1000","description":"Maximum number of results to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"overriddenEventTagId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only ads with this event tag override ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Value of the nextPageToken from the previous result page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"placementIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only ads with these placement IDs assigned.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"remarketingListIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only ads whose list targeting expression use these remarketing list IDs.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"searchString":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"ad*2015\" will return objects with names like \"ad June 2015\", \"ad April 2015\", or simply \"ad 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"ad\" will match objects with name \"my ad\", \"ad 2015\", or simply \"ad\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sizeIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only ads with these size IDs.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"sortField":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"ID","description":"Field by which to sort the list.","enum":["ID","NAME"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sortOrder":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"ASCENDING","description":"Order of sorted results.","enum":["ASCENDING","DESCENDING"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sslCompliant":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only ads that are SSL-compliant.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"sslRequired":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only ads that require SSL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only ads with these types.","enum":["AD_SERVING_CLICK_TRACKER","AD_SERVING_DEFAULT_AD","AD_SERVING_STANDARD_AD","AD_SERVING_TRACKING"],"enumDescriptions":["","","",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/ads","request":null,"response":{"$ref":"AdsListResponse"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an existing ad. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"dfareporting.ads.patch","mediaUpload":null,"parameterOrder":["profileId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ad ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/ads","request":{"$ref":"Ad","parameterName":null},"response":{"$ref":"Ad"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an existing ad.","etagRequired":null,"httpMethod":"PUT","id":"dfareporting.ads.update","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/ads","request":{"$ref":"Ad","parameterName":null},"response":{"$ref":"Ad"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"advertiserGroups":{"methods":{"delete":{"description":"Deletes an existing advertiser group.","etagRequired":null,"httpMethod":"DELETE","id":"dfareporting.advertiserGroups.delete","mediaUpload":null,"parameterOrder":["profileId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Advertiser group ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/advertiserGroups/{id}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets one advertiser group by ID.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.advertiserGroups.get","mediaUpload":null,"parameterOrder":["profileId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Advertiser group ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/advertiserGroups/{id}","request":null,"response":{"$ref":"AdvertiserGroup"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Inserts a new advertiser group.","etagRequired":null,"httpMethod":"POST","id":"dfareporting.advertiserGroups.insert","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/advertiserGroups","request":{"$ref":"AdvertiserGroup","parameterName":null},"response":{"$ref":"AdvertiserGroup"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of advertiser groups, possibly filtered. This method supports paging.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.advertiserGroups.list","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"ids":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only advertiser groups with these IDs.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"1000","description":"Maximum number of results to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Value of the nextPageToken from the previous result page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"searchString":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser group June 2015\", \"advertiser group April 2015\", or simply \"advertiser group 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertisergroup\" will match objects with name \"my advertisergroup\", \"advertisergroup 2015\", or simply \"advertisergroup\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sortField":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"ID","description":"Field by which to sort the list.","enum":["ID","NAME"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sortOrder":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"ASCENDING","description":"Order of sorted results.","enum":["ASCENDING","DESCENDING"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/advertiserGroups","request":null,"response":{"$ref":"AdvertiserGroupsListResponse"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an existing advertiser group. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"dfareporting.advertiserGroups.patch","mediaUpload":null,"parameterOrder":["profileId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Advertiser group ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/advertiserGroups","request":{"$ref":"AdvertiserGroup","parameterName":null},"response":{"$ref":"AdvertiserGroup"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an existing advertiser group.","etagRequired":null,"httpMethod":"PUT","id":"dfareporting.advertiserGroups.update","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/advertiserGroups","request":{"$ref":"AdvertiserGroup","parameterName":null},"response":{"$ref":"AdvertiserGroup"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"advertisers":{"methods":{"get":{"description":"Gets one advertiser by ID.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.advertisers.get","mediaUpload":null,"parameterOrder":["profileId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Advertiser ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/advertisers/{id}","request":null,"response":{"$ref":"Advertiser"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Inserts a new advertiser.","etagRequired":null,"httpMethod":"POST","id":"dfareporting.advertisers.insert","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/advertisers","request":{"$ref":"Advertiser","parameterName":null},"response":{"$ref":"Advertiser"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of advertisers, possibly filtered. This method supports paging.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.advertisers.list","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"advertiserGroupIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only advertisers with these advertiser group IDs.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"floodlightConfigurationIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only advertisers with these floodlight configuration IDs.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"ids":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only advertisers with these IDs.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"includeAdvertisersWithoutGroupsOnly":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only advertisers which do not belong to any advertiser group.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"1000","description":"Maximum number of results to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"onlyParent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only advertisers which use another advertiser's floodlight configuration.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Value of the nextPageToken from the previous result page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"searchString":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"advertiser*2015\" will return objects with names like \"advertiser June 2015\", \"advertiser April 2015\", or simply \"advertiser 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"advertiser\" will match objects with name \"my advertiser\", \"advertiser 2015\", or simply \"advertiser\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sortField":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"ID","description":"Field by which to sort the list.","enum":["ID","NAME"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sortOrder":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"ASCENDING","description":"Order of sorted results.","enum":["ASCENDING","DESCENDING"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only advertisers with the specified status.","enum":["APPROVED","ON_HOLD"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"subaccountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only advertisers with these subaccount IDs.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/advertisers","request":null,"response":{"$ref":"AdvertisersListResponse"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an existing advertiser. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"dfareporting.advertisers.patch","mediaUpload":null,"parameterOrder":["profileId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Advertiser ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/advertisers","request":{"$ref":"Advertiser","parameterName":null},"response":{"$ref":"Advertiser"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an existing advertiser.","etagRequired":null,"httpMethod":"PUT","id":"dfareporting.advertisers.update","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/advertisers","request":{"$ref":"Advertiser","parameterName":null},"response":{"$ref":"Advertiser"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"browsers":{"methods":{"list":{"description":"Retrieves a list of browsers.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.browsers.list","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/browsers","request":null,"response":{"$ref":"BrowsersListResponse"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"campaignCreativeAssociations":{"methods":{"insert":{"description":"Associates a creative with the specified campaign. This method creates a default ad with dimensions matching the creative in the campaign if such a default ad does not exist already.","etagRequired":null,"httpMethod":"POST","id":"dfareporting.campaignCreativeAssociations.insert","mediaUpload":null,"parameterOrder":["profileId","campaignId"],"parameters":{"campaignId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Campaign ID in this association.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/campaigns/{campaignId}/campaignCreativeAssociations","request":{"$ref":"CampaignCreativeAssociation","parameterName":null},"response":{"$ref":"CampaignCreativeAssociation"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves the list of creative IDs associated with the specified campaign. This method supports paging.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.campaignCreativeAssociations.list","mediaUpload":null,"parameterOrder":["profileId","campaignId"],"parameters":{"campaignId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Campaign ID in this association.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"1000","description":"Maximum number of results to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Value of the nextPageToken from the previous result page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sortOrder":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"ASCENDING","description":"Order of sorted results.","enum":["ASCENDING","DESCENDING"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/campaigns/{campaignId}/campaignCreativeAssociations","request":null,"response":{"$ref":"CampaignCreativeAssociationsListResponse"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"campaigns":{"methods":{"get":{"description":"Gets one campaign by ID.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.campaigns.get","mediaUpload":null,"parameterOrder":["profileId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Campaign ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/campaigns/{id}","request":null,"response":{"$ref":"Campaign"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Inserts a new campaign.","etagRequired":null,"httpMethod":"POST","id":"dfareporting.campaigns.insert","mediaUpload":null,"parameterOrder":["profileId","defaultLandingPageName","defaultLandingPageUrl"],"parameters":{"defaultLandingPageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Default landing page name for this new campaign. Must be less than 256 characters long.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"defaultLandingPageUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Default landing page URL for this new campaign.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/campaigns","request":{"$ref":"Campaign","parameterName":null},"response":{"$ref":"Campaign"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of campaigns, possibly filtered. This method supports paging.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.campaigns.list","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"advertiserGroupIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only campaigns whose advertisers belong to these advertiser groups.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"advertiserIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only campaigns that belong to these advertisers.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"archived":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only archived campaigns. Don't set this field to select both archived and non-archived campaigns.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"atLeastOneOptimizationActivity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only campaigns that have at least one optimization activity.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"excludedIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Exclude campaigns with these IDs.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"ids":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only campaigns with these IDs.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"1000","description":"Maximum number of results to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"overriddenEventTagId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only campaigns that have overridden this event tag ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Value of the nextPageToken from the previous result page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"searchString":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Allows searching for campaigns by name or ID. Wildcards (*) are allowed. For example, \"campaign*2015\" will return campaigns with names like \"campaign June 2015\", \"campaign April 2015\", or simply \"campaign 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"campaign\" will match campaigns with name \"my campaign\", \"campaign 2015\", or simply \"campaign\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sortField":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"ID","description":"Field by which to sort the list.","enum":["ID","NAME"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sortOrder":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"ASCENDING","description":"Order of sorted results.","enum":["ASCENDING","DESCENDING"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"subaccountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only campaigns that belong to this subaccount.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/campaigns","request":null,"response":{"$ref":"CampaignsListResponse"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an existing campaign. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"dfareporting.campaigns.patch","mediaUpload":null,"parameterOrder":["profileId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Campaign ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/campaigns","request":{"$ref":"Campaign","parameterName":null},"response":{"$ref":"Campaign"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an existing campaign.","etagRequired":null,"httpMethod":"PUT","id":"dfareporting.campaigns.update","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/campaigns","request":{"$ref":"Campaign","parameterName":null},"response":{"$ref":"Campaign"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"changeLogs":{"methods":{"get":{"description":"Gets one change log by ID.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.changeLogs.get","mediaUpload":null,"parameterOrder":["profileId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Change log ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/changeLogs/{id}","request":null,"response":{"$ref":"ChangeLog"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of change logs. This method supports paging.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.changeLogs.list","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"action":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only change logs with the specified action.","enum":["ACTION_ADD","ACTION_ASSIGN","ACTION_ASSOCIATE","ACTION_CREATE","ACTION_DELETE","ACTION_DISABLE","ACTION_EMAIL_TAGS","ACTION_ENABLE","ACTION_LINK","ACTION_MARK_AS_DEFAULT","ACTION_PUSH","ACTION_REMOVE","ACTION_SEND","ACTION_SHARE","ACTION_UNASSIGN","ACTION_UNLINK","ACTION_UPDATE"],"enumDescriptions":["","","","","","","","","","","","","","","","",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ids":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only change logs with these IDs.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"maxChangeTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only change logs whose change time is before the specified maxChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is \"2015-07-18T22:54:00-04:00\". In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"1000","description":"Maximum number of results to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"minChangeTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only change logs whose change time is before the specified minChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is \"2015-07-18T22:54:00-04:00\". In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"objectIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only change logs with these object IDs.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"objectType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only change logs with the specified object type.","enum":["OBJECT_ACCOUNT","OBJECT_ACCOUNT_BILLING_FEATURE","OBJECT_AD","OBJECT_ADVERTISER","OBJECT_ADVERTISER_GROUP","OBJECT_BILLING_ACCOUNT_GROUP","OBJECT_BILLING_FEATURE","OBJECT_BILLING_MINIMUM_FEE","OBJECT_BILLING_PROFILE","OBJECT_CAMPAIGN","OBJECT_CONTENT_CATEGORY","OBJECT_CREATIVE","OBJECT_CREATIVE_ASSET","OBJECT_CREATIVE_BUNDLE","OBJECT_CREATIVE_FIELD","OBJECT_CREATIVE_GROUP","OBJECT_DFA_SITE","OBJECT_EVENT_TAG","OBJECT_FLOODLIGHT_ACTIVITY_GROUP","OBJECT_FLOODLIGHT_ACTVITY","OBJECT_FLOODLIGHT_CONFIGURATION","OBJECT_INSTREAM_CREATIVE","OBJECT_LANDING_PAGE","OBJECT_MEDIA_ORDER","OBJECT_PLACEMENT","OBJECT_PLACEMENT_STRATEGY","OBJECT_PLAYSTORE_LINK","OBJECT_PROVIDED_LIST_CLIENT","OBJECT_RATE_CARD","OBJECT_REMARKETING_LIST","OBJECT_RICHMEDIA_CREATIVE","OBJECT_SD_SITE","OBJECT_SEARCH_LIFT_STUDY","OBJECT_SIZE","OBJECT_SUBACCOUNT","OBJECT_TARGETING_TEMPLATE","OBJECT_USER_PROFILE","OBJECT_USER_PROFILE_FILTER","OBJECT_USER_ROLE"],"enumDescriptions":["","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Value of the nextPageToken from the previous result page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"searchString":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only change logs whose object ID, user name, old or new values match the search string.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userProfileIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only change logs with these user profile IDs.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/changeLogs","request":null,"response":{"$ref":"ChangeLogsListResponse"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"cities":{"methods":{"list":{"description":"Retrieves a list of cities, possibly filtered.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.cities.list","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"countryDartIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only cities from these countries.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"dartIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only cities with these DART IDs.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"namePrefix":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only cities with names starting with this prefix.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"regionDartIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only cities from these regions.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/cities","request":null,"response":{"$ref":"CitiesListResponse"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"connectionTypes":{"methods":{"get":{"description":"Gets one connection type by ID.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.connectionTypes.get","mediaUpload":null,"parameterOrder":["profileId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Connection type ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/connectionTypes/{id}","request":null,"response":{"$ref":"ConnectionType"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of connection types.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.connectionTypes.list","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/connectionTypes","request":null,"response":{"$ref":"ConnectionTypesListResponse"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"contentCategories":{"methods":{"delete":{"description":"Deletes an existing content category.","etagRequired":null,"httpMethod":"DELETE","id":"dfareporting.contentCategories.delete","mediaUpload":null,"parameterOrder":["profileId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Content category ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/contentCategories/{id}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets one content category by ID.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.contentCategories.get","mediaUpload":null,"parameterOrder":["profileId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Content category ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/contentCategories/{id}","request":null,"response":{"$ref":"ContentCategory"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Inserts a new content category.","etagRequired":null,"httpMethod":"POST","id":"dfareporting.contentCategories.insert","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"userprofiles/{profileId}/contentCategories","request":{"$ref":"ContentCategory","parameterName":null},"response":{"$ref":"ContentCategory"},"scopes":["https://www.googleapis.com/auth/dfatrafficking"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of content categories, possibly filtered. This method supports paging.","etagRequired":null,"httpMethod":"GET","id":"dfareporting.contentCategories.list","mediaUpload":null,"parameterOrder":["profileId"],"parameters":{"ids":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Select only content categories with these IDs.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"1000","description":"Maximum number of results to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Value of the nextPageToken from the previous result page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"profileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User profile ID associated with this request.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"searchString":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, \"contentcategory*2015\" will return objects with names like \"contentcategory June 2015\", \"contentcategory April 2015\", or simply \"contentcategory 2015\". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of \"contentcategory\" will match objects with name \"my contentcategory\", \"contentcategory 2015\", or simply \"contentcategory\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null
[...]
