{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"}}}},"basePath":"","baseUrl":"https://dlp.googleapis.com/","batchPath":"batch","canonicalName":"DLP","description":"The Google Data Loss Prevention API provides methods for detection of privacy-sensitive fragments in text, images, and Google Cloud Platform storage repositories.","discoveryVersion":"v1","documentationLink":"https://cloud.google.com/dlp/docs/","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"dlp:v2beta1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"dlp","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"protocol":"rest","resources":{"content":{"methods":{"deidentify":{"description":"De-identifies potentially sensitive info from a list of strings.\nThis method has limits on input size and output size.","etagRequired":null,"httpMethod":"POST","id":"dlp.content.deidentify","mediaUpload":null,"parameterOrder":[],"parameters":{},"path":"v2beta1/content:deidentify","request":{"$ref":"GooglePrivacyDlpV2beta1DeidentifyContentRequest","parameterName":null},"response":{"$ref":"GooglePrivacyDlpV2beta1DeidentifyContentResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"inspect":{"description":"Finds potentially sensitive info in a list of strings.\nThis method has limits on input size, processing time, and output size.","etagRequired":null,"httpMethod":"POST","id":"dlp.content.inspect","mediaUpload":null,"parameterOrder":[],"parameters":{},"path":"v2beta1/content:inspect","request":{"$ref":"GooglePrivacyDlpV2beta1InspectContentRequest","parameterName":null},"response":{"$ref":"GooglePrivacyDlpV2beta1InspectContentResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"redact":{"description":"Redacts potentially sensitive info from a list of strings.\nThis method has limits on input size, processing time, and output size.","etagRequired":null,"httpMethod":"POST","id":"dlp.content.redact","mediaUpload":null,"parameterOrder":[],"parameters":{},"path":"v2beta1/content:redact","request":{"$ref":"GooglePrivacyDlpV2beta1RedactContentRequest","parameterName":null},"response":{"$ref":"GooglePrivacyDlpV2beta1RedactContentResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"rootCategories":{"methods":{"list":{"description":"Returns the list of root categories of sensitive information.","etagRequired":null,"httpMethod":"GET","id":"dlp.rootCategories.list","mediaUpload":null,"parameterOrder":[],"parameters":{"languageCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional language code for localized friendly category names.\nIf omitted or if localized strings are not available,\nen-US strings will be returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/rootCategories","request":null,"response":{"$ref":"GooglePrivacyDlpV2beta1ListRootCategoriesResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"infoTypes":{"methods":{"list":{"description":"Returns sensitive information types for given category.","etagRequired":null,"httpMethod":"GET","id":"dlp.rootCategories.infoTypes.list","mediaUpload":null,"parameterOrder":["category"],"parameters":{"category":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Category name as returned by ListRootCategories.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"languageCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional BCP-47 language code for localized info type friendly\nnames. If omitted, or if localized strings are not available,\nen-US strings will be returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/rootCategories/{+category}/infoTypes","request":null,"response":{"$ref":"GooglePrivacyDlpV2beta1ListInfoTypesResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"riskAnalysis":{"methods":null,"resources":{"operations":{"methods":{"cancel":{"description":"Cancels an operation. Use the `inspect.operations.get` to check whether the cancellation succeeded or the operation completed despite cancellation.","etagRequired":null,"httpMethod":"POST","id":"dlp.riskAnalysis.operations.cancel","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation resource to be cancelled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^riskAnalysis/operations/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/{+name}:cancel","request":{"$ref":"GoogleLongrunningCancelOperationRequest","parameterName":null},"response":{"$ref":"GoogleProtobufEmpty"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"This method is not supported and the server returns `UNIMPLEMENTED`.","etagRequired":null,"httpMethod":"DELETE","id":"dlp.riskAnalysis.operations.delete","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation resource to be deleted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^riskAnalysis/operations/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/{+name}","request":null,"response":{"$ref":"GoogleProtobufEmpty"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Fetches the list of long running operations.","etagRequired":null,"httpMethod":"GET","id":"dlp.riskAnalysis.operations.list","mediaUpload":null,"parameterOrder":["name"],"parameters":{"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Filters by `done`. That is, `done=true` or `done=false`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation's parent resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^riskAnalysis/operations$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The standard list page token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list page size. The maximum allowed value is 256 and the default is 100.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"v2beta1/{+name}","request":null,"response":{"$ref":"GoogleLongrunningListOperationsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.","etagRequired":null,"httpMethod":"GET","id":"dlp.riskAnalysis.operations.get","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^riskAnalysis/operations/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/{+name}","request":null,"response":{"$ref":"GoogleLongrunningOperation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"dataSource":{"methods":{"analyze":{"description":"Schedules a job to compute risk analysis metrics over content in a Google\nCloud Platform repository.","etagRequired":null,"httpMethod":"POST","id":"dlp.dataSource.analyze","mediaUpload":null,"parameterOrder":[],"parameters":{},"path":"v2beta1/dataSource:analyze","request":{"$ref":"GooglePrivacyDlpV2beta1AnalyzeDataSourceRiskRequest","parameterName":null},"response":{"$ref":"GoogleLongrunningOperation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"inspect":{"methods":null,"resources":{"results":{"methods":null,"resources":{"findings":{"methods":{"list":{"description":"Returns list of results for given inspect operation result set id.","etagRequired":null,"httpMethod":"GET","id":"dlp.inspect.results.findings.list","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier of the results set returned as metadata of\nthe longrunning operation created by a call to InspectDataSource.\nShould be in the format of `inspect/results/{id}`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^inspect/results/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The value returned by the last `ListInspectFindingsResponse`; indicates\nthat this is a continuation of a prior `ListInspectFindings` call, and that\nthe system should return the next page of data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of results to return.\nIf 0, the implementation selects a reasonable value.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Restricts findings to items that match. Supports info_type and likelihood.\n\nExamples:\n\n- info_type=EMAIL_ADDRESS\n- info_type=PHONE_NUMBER,EMAIL_ADDRESS\n- likelihood=VERY_LIKELY\n- likelihood=VERY_LIKELY,LIKELY\n- info_type=EMAIL_ADDRESS,likelihood=VERY_LIKELY,LIKELY","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/{+name}/findings","request":null,"response":{"$ref":"GooglePrivacyDlpV2beta1ListInspectFindingsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"operations":{"methods":{"cancel":{"description":"Cancels an operation. Use the `inspect.operations.get` to check whether the cancellation succeeded or the operation completed despite cancellation.","etagRequired":null,"httpMethod":"POST","id":"dlp.inspect.operations.cancel","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation resource to be cancelled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^inspect/operations/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/{+name}:cancel","request":{"$ref":"GoogleLongrunningCancelOperationRequest","parameterName":null},"response":{"$ref":"GoogleProtobufEmpty"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"This method is not supported and the server returns `UNIMPLEMENTED`.","etagRequired":null,"httpMethod":"DELETE","id":"dlp.inspect.operations.delete","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation resource to be deleted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^inspect/operations/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/{+name}","request":null,"response":{"$ref":"GoogleProtobufEmpty"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Fetches the list of long running operations.","etagRequired":null,"httpMethod":"GET","id":"dlp.inspect.operations.list","mediaUpload":null,"parameterOrder":["name"],"parameters":{"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list page size. The maximum allowed value is 256 and the default is 100.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Filters by `done`. That is, `done=true` or `done=false`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation's parent resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^inspect/operations$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The standard list page token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/{+name}","request":null,"response":{"$ref":"GoogleLongrunningListOperationsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.","etagRequired":null,"httpMethod":"GET","id":"dlp.inspect.operations.get","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^inspect/operations/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2beta1/{+name}","request":null,"response":{"$ref":"GoogleLongrunningOperation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Schedules a job scanning content in a Google Cloud Platform data\nrepository.","etagRequired":null,"httpMethod":"POST","id":"dlp.inspect.operations.create","mediaUpload":null,"parameterOrder":[],"parameters":{},"path":"v2beta1/inspect/operations","request":{"$ref":"GooglePrivacyDlpV2beta1CreateInspectOperationRequest","parameterName":null},"response":{"$ref":"GoogleLongrunningOperation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"revision":"20171003","rootUrl":"https://dlp.googleapis.com/","schemas":{"GooglePrivacyDlpV2beta1PathElement":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A (kind, ID/name) pair used to construct a key path.\n\nIf either name or ID is set, the element is complete.\nIf neither is set, the element is incomplete.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1PathElement","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the entity.\nA name matching regex `__.*__` is reserved/read-only.\nA name must not be more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The kind of the entity.\nA kind matching regex `__.*__` is reserved/read-only.\nA kind must not contain more than 1500 bytes when UTF-8 encoded.\nCannot be `\"\"`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The auto-allocated ID of the entity.\nNever equal to zero. Values less than zero are discouraged and may not\nbe supported in the future.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1SummaryResult":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A collection that informs the user the number of times a particular\n`TransformationResultCode` and error details occurred.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1SummaryResult","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"details":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A place for warnings or errors to show up if a transformation didn't\nwork as expected.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"count":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"code":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["TRANSFORMATION_RESULT_CODE_UNSPECIFIED","SUCCESS","ERROR"],"enumDescriptions":["","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1BigQueryTable":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Message defining the location of a BigQuery table. A table is uniquely\nidentified  by its project_id, dataset_id, and table_name. Within a query\na table is often referenced with a string in the format of:\n`<project_id>:<dataset_id>.<table_id>` or\n`<project_id>.<dataset_id>.<table_id>`.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1BigQueryTable","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"tableId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the table.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Google Cloud Platform project ID of the project containing the table.\nIf omitted, project ID is inferred from the API call.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"datasetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Dataset ID of the table.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1InfoTypeTransformations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A type of transformation that will scan unstructured text and\napply various `PrimitiveTransformation`s to each finding, where the\ntransformation is applied to only values that were identified as a specific\ninfo_type.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1InfoTypeTransformations","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"transformations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Transformation for each info type. Cannot specify more than one\nfor a given info type. [required]","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GooglePrivacyDlpV2beta1InfoTypeTransformation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1ListRootCategoriesResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response for ListRootCategories request.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1ListRootCategoriesResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"categories":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of all into type categories supported by the API.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GooglePrivacyDlpV2beta1CategoryDescription","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1KindExpression":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A representation of a Datastore kind.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1KindExpression","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the kind.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1FileSet":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of files to scan.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1FileSet","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The url, in the format `gs://<bucket>/<path>`. Trailing wildcard in the\npath is allowed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1InfoTypeTransformation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A transformation to apply to text that is identified as a specific\ninfo_type.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1InfoTypeTransformation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"primitiveTransformation":{"$ref":"GooglePrivacyDlpV2beta1PrimitiveTransformation","additionalProperties":null,"annotations":null,"default":null,"description":"Primitive transformation to apply to the info type. [required]","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"infoTypes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Info types to apply the transformation to. Empty list will match all\navailable info types for this transformation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GooglePrivacyDlpV2beta1InfoType","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1AnalyzeDataSourceRiskRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request for creating a risk analysis operation.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1AnalyzeDataSourceRiskRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"privacyMetric":{"$ref":"GooglePrivacyDlpV2beta1PrivacyMetric","additionalProperties":null,"annotations":null,"default":null,"description":"Privacy metric to compute.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"sourceTable":{"$ref":"GooglePrivacyDlpV2beta1BigQueryTable","additionalProperties":null,"annotations":null,"default":null,"description":"Input dataset to compute metrics over.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1KAnonymityResult":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Result of the k-anonymity computation.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1KAnonymityResult","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"equivalenceClassHistogramBuckets":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Histogram of k-anonymity equivalence classes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GooglePrivacyDlpV2beta1KAnonymityHistogramBucket","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1Bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Buckets represented as ranges, along with replacement values. Ranges must\nbe non-overlapping.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1Bucket","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"max":{"$ref":"GooglePrivacyDlpV2beta1Value","additionalProperties":null,"annotations":null,"default":null,"description":"Upper bound of the range, exclusive; type must match min.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"replacementValue":{"$ref":"GooglePrivacyDlpV2beta1Value","additionalProperties":null,"annotations":null,"default":null,"description":"Replacement value for this bucket. If not provided\nthe default behavior will be to hyphenate the min-max range.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"min":{"$ref":"GooglePrivacyDlpV2beta1Value","additionalProperties":null,"annotations":null,"default":null,"description":"Lower bound of the range, inclusive. Type should be the same as max if\nused.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1CategoricalStatsHistogramBucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Histogram bucket of value frequencies in the column.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1CategoricalStatsHistogramBucket","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"valueFrequencyUpperBound":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upper bound on the value frequency of the values in this bucket.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"valueFrequencyLowerBound":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Lower bound on the value frequency of the values in this bucket.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"bucketValues":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Sample of value frequencies in this bucket. The total number of\nvalues returned per bucket is capped at 20.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GooglePrivacyDlpV2beta1ValueFrequency","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"bucketSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Total number of records in this bucket.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1TableLocation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Location of a finding within a `ContentItem.Table`.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1TableLocation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"rowIndex":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The zero-based index of the row where the finding is located.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1DatastoreKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Record key for a finding in Cloud Datastore.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1DatastoreKey","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"entityKey":{"$ref":"GooglePrivacyDlpV2beta1Key","additionalProperties":null,"annotations":null,"default":null,"description":"Datastore entity key.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1KAnonymityConfig":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"k-anonymity metric, used for analysis of reidentification risk.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1KAnonymityConfig","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"quasiIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of fields to compute k-anonymity over. When multiple fields are\nspecified, they are considered a single composite key. Structs and\nrepeated data types are not supported; however, nested fields are\nsupported so long as they are not structs themselves or nested within\na repeated field.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GooglePrivacyDlpV2beta1FieldId","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"entityId":{"$ref":"GooglePrivacyDlpV2beta1EntityId","additionalProperties":null,"annotations":null,"default":null,"description":"Optional message indicating that each distinct `EntityId` should not\ncontribute to the k-anonymity count more than once per equivalence class.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1RecordKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Message for a unique key indicating a record that contains a finding.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1RecordKey","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"datastoreKey":{"$ref":"GooglePrivacyDlpV2beta1DatastoreKey","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"cloudStorageKey":{"$ref":"GooglePrivacyDlpV2beta1CloudStorageKey","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1DeidentifyContentRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to de-identify a list of items.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1DeidentifyContentRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"deidentifyConfig":{"$ref":"GooglePrivacyDlpV2beta1DeidentifyConfig","additionalProperties":null,"annotations":null,"default":null,"description":"Configuration for the de-identification of the list of content items.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"inspectConfig":{"$ref":"GooglePrivacyDlpV2beta1InspectConfig","additionalProperties":null,"annotations":null,"default":null,"description":"Configuration for the inspector.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of items to inspect. Up to 100 are allowed per request.\nAll items will be treated as text/*.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GooglePrivacyDlpV2beta1ContentItem","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1InspectResult":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"All the findings for a single scanned item.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1InspectResult","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"findings":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of findings for an item.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GooglePrivacyDlpV2beta1Finding","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"findingsTruncated":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If true, then this item might have more findings than were returned,\nand the findings returned are an arbitrary subset of all findings.\nThe findings list might be truncated because the input items were too\nlarge, or because the server reached the maximum amount of resources\nallowed for a single API call. For best results, divide the input into\nsmaller batches.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1ImageLocation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Bounding box encompassing detected text within an image.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1ImageLocation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"top":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Top coordinate of the bounding box. (0,0) is upper left.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"left":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Left coordinate of the bounding box. (0,0) is upper left.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"width":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Width of the bounding box in pixels.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"height":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Height of the bounding box in pixels.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1ReplaceValueConfig":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Replace each input value with a given `Value`.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1ReplaceValueConfig","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"newValue":{"$ref":"GooglePrivacyDlpV2beta1Value","additionalProperties":null,"annotations":null,"default":null,"description":"Value to replace it with.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1ContentItem":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Container structure for the content to inspect.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1ContentItem","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String data to inspect or redact.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"table":{"$ref":"GooglePrivacyDlpV2beta1Table","additionalProperties":null,"annotations":null,"default":null,"description":"Structured content for inspection.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"data":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Content data to inspect or redact.","enum":null,"enumDescriptions":null,"format":"byte","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Type of the content, as defined in Content-Type HTTP header.\nSupported types are: all \"text\" types, octet streams, PNG images,\nJPEG images.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1CryptoReplaceFfxFpeConfig":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Replaces an identifier with an surrogate using FPE with the FFX\nmode of operation.\nThe identifier must be representable by the US-ASCII character set.\nFor a given crypto key and context, the same identifier will be\nreplaced with the same surrogate.\nNote that a given identifier must be either the empty string or be at\nleast two characters long.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1CryptoReplaceFfxFpeConfig","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"customAlphabet":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is supported by mapping these to the alphanumeric characters\nthat the FFX mode natively supports. This happens before/after\nencryption/decryption.\nEach character listed must appear only once.\nNumber of characters must be in the range [2, 62].\nThis must be encoded as ASCII.\nThe order of characters does not matter.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"cryptoKey":{"$ref":"GooglePrivacyDlpV2beta1CryptoKey","additionalProperties":null,"annotations":null,"default":null,"description":"The key used by the encryption algorithm. [required]","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"commonAlphabet":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["FFX_COMMON_NATIVE_ALPHABET_UNSPECIFIED","NUMERIC","HEXADECIMAL","UPPER_CASE_ALPHA_NUMERIC","ALPHA_NUMERIC"],"enumDescriptions":["","[0-9] (radix of 10)","[0-9A-F] (radix of 16)","[0-9A-Z] (radix of 36)","[0-9A-Za-z] (radix of 62)"],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"radix":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The native way to select the alphabet. Must be in the range [2, 62].","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"context":{"$ref":"GooglePrivacyDlpV2beta1FieldId","additionalProperties":null,"annotations":null,"default":null,"description":"A context may be used for higher security since the same\nidentifier in two different contexts likely will be given a distinct\nsurrogate. The principle is that the likeliness is inversely related\nto the ratio of the number of distinct identifiers per context over the\nnumber of possible surrogates: As long as this ratio is small, the\nlikehood is large.\n\nIf the context is not set, a default tweak will be used.\nIf the context is set but:\n\n1. there is no record present when transforming a given value or\n1. the field is not present when transforming a given value,\n\na default tweak will be used.\n\nNote that case (1) is expected when an `InfoTypeTransformation` is\napplied to both structured and non-structured `ContentItem`s.\nCurrently, the referenced field may be of value type integer or string.\n\nThe tweak is constructed as a sequence of bytes in big endian byte order\nsuch that:\n\n- a 64 bit integer is encoded followed by a single byte of value 1\n- a string is encoded in UTF-8 format followed by a single byte of value 2\n\nThis is also known as the 'tweak', as in tweakable encryption.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1Color":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a color in the RGB color space.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1Color","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"red":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The amount of red in the color as a value in the interval [0, 1].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"green":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The amount of green in the color as a value in the interval [0, 1].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"blue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The amount of blue in the color as a value in the interval [0, 1].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1Table":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Structured content to inspect. Up to 50,000 `Value`s per request allowed.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1Table","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"headers":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GooglePrivacyDlpV2beta1FieldId","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"rows":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GooglePrivacyDlpV2beta1Row","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1ValueFrequency":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A value of a field, including its frequency.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1ValueFrequency","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"count":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"How many times the value is contained in the field.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":"GooglePrivacyDlpV2beta1Value","additionalProperties":null,"annotations":null,"default":null,"description":"A value contained in the field in question.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1InfoTypeLimit":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Max findings configuration per info type, per content item or long running\noperation.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1InfoTypeLimit","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"infoType":{"$ref":"GooglePrivacyDlpV2beta1InfoType","additionalProperties":null,"annotations":null,"default":null,"description":"Type of information the findings limit applies to. Only one limit per\ninfo_type should be provided. If InfoTypeLimit does not have an\ninfo_type, the DLP API applies the limit against all info_types that are\nfound but not specified in another InfoTypeLimit.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"maxFindings":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Max findings limit for the given infoType.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1CryptoKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is a data encryption key (DEK) (as opposed to\na key encryption key (KEK) stored by KMS).\nWhen using KMS to wrap/unwrap DEKs, be sure to set an appropriate\nIAM policy on the KMS CryptoKey (KEK) to ensure an attacker cannot\nunwrap the data crypto key.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1CryptoKey","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"unwrapped":{"$ref":"GooglePrivacyDlpV2beta1UnwrappedCryptoKey","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"transient":{"$ref":"GooglePrivacyDlpV2beta1TransientCryptoKey","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"kmsWrapped":{"$ref":"GooglePrivacyDlpV2beta1KmsWrappedCryptoKey","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1LDiversityHistogramBucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Histogram bucket of sensitive value frequencies in the table.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1LDiversityHistogramBucket","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"sensitiveValueFrequencyLowerBound":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Lower bound on the sensitive value frequencies of the equivalence\nclasses in this bucket.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"bucketValues":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Sample of equivalence classes in this bucket. The total number of\nclasses returned per bucket is capped at 20.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GooglePrivacyDlpV2beta1LDiversityEquivalenceClass","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"bucketSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Total number of records in this bucket.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sensitiveValueFrequencyUpperBound":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upper bound on the sensitive value frequencies of the equivalence\nclasses in this bucket.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1Value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of primitive values supported by the system.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1Value","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"timeValue":{"$ref":"GoogleTypeTimeOfDay","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"integerValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"stringValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"dateValue":{"$ref":"GoogleTypeDate","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"timestampValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"booleanValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"floatValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1Condition":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The field type of `value` and `field` do not need to match to be\nconsidered equal, but not all comparisons are possible.\n\nA `value` of type:\n\n- `string` can be compared against all other types\n- `boolean` can only be compared against other booleans\n- `integer` can be compared against doubles or a string if the string value\ncan be parsed as an integer.\n- `double` can be compared against integers or a string if the string can\nbe parsed as a double.\n- `Timestamp` can be compared against strings in RFC 3339 date string\nformat.\n- `TimeOfDay` can be compared against timestamps and strings in the format\nof 'HH:mm:ss'.\n\nIf we fail to compare do to type mismatch, a warning will be given and\nthe condition will evaluate to false.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1Condition","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"field":{"$ref":"GooglePrivacyDlpV2beta1FieldId","additionalProperties":null,"annotations":null,"default":null,"description":"Field within the record this condition is evaluated against. [required]","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"operator":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Operator used to compare the field or info type to the value. [required]","enum":["RELATIONAL_OPERATOR_UNSPECIFIED","EQUAL_TO","NOT_EQUAL_TO","GREATER_THAN","LESS_THAN","GREATER_THAN_OR_EQUALS","LESS_THAN_OR_EQUALS","EXISTS"],"enumDescriptions":["","Equal.","Not equal to.","Greater than.","Less than.","Greater than or equals.","Less than or equals.","Exists"],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":"GooglePrivacyDlpV2beta1Value","additionalProperties":null,"annotations":null,"default":null,"description":"Value to compare against. [Required, except for `EXISTS` tests.]","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1PartitionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Datastore partition ID.\nA partition ID identifies a grouping of entities. The grouping is always\nby project and namespace, however the namespace ID may be empty.\n\nA partition ID contains several dimensions:\nproject ID and namespace ID.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1PartitionId","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the project to which the entities belong.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"namespaceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If not empty, the ID of the namespace to which the entities belong.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1InspectContentResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Results of inspecting a list of items.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1InspectContentResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Each content_item from the request has a result in this list, in the\nsame order as the request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GooglePrivacyDlpV2beta1InspectResult","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1RedactContentRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to search for potentially sensitive info in a list of items\nand replace it with a default or provided content.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1RedactContentRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"replaceConfigs":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The strings to replace findings text findings with. Must specify at least\none of these or one ImageRedactionConfig if redacting images.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GooglePrivacyDlpV2beta1ReplaceConfig","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"imageRedactionConfigs":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The configuration for specifying what content to redact from images.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GooglePrivacyDlpV2beta1ImageRedactionConfig","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"inspectConfig":{"$ref":"GooglePrivacyDlpV2beta1InspectConfig","additionalProperties":null,"annotations":null,"default":null,"description":"Configuration for the inspector.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of items to inspect. Up to 100 are allowed per request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GooglePrivacyDlpV2beta1ContentItem","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1FieldId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"General identifier of a data field in a storage service.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1FieldId","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"columnName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name describing the field.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1TransformationSummary":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Summary of a single tranformation.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1TransformationSummary","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"results":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GooglePrivacyDlpV2beta1SummaryResult","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"field":{"$ref":"GooglePrivacyDlpV2beta1FieldId","additionalProperties":null,"annotations":null,"default":null,"description":"Set if the transformation was limited to a specific FieldId.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"fieldTransformations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The field transformation that was applied. This list will contain\nmultiple only in the case of errors.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GooglePrivacyDlpV2beta1FieldTransformation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"recordSuppress":{"$ref":"GooglePrivacyDlpV2beta1RecordSuppression","additionalProperties":null,"annotations":null,"default":null,"description":"The specific suppression option these stats apply to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"infoType":{"$ref":"GooglePrivacyDlpV2beta1InfoType","additionalProperties":null,"annotations":null,"default":null,"description":"Set if the transformation was limited to a specific info_type.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"transformation":{"$ref":"GooglePrivacyDlpV2beta1PrimitiveTransformation","additionalProperties":null,"annotations":null,"default":null,"description":"The specific transformation these stats apply to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleLongrunningCancelOperationRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The request message for Operations.CancelOperation.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleLongrunningCancelOperationRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1CharacterMaskConfig":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Partially mask a string by replacing a given number of characters with a\nfixed character. Masking can start from the beginning or end of the string.\nThis can be used on data of any type (numbers, longs, and so on) and when\nde-identifying structured data we'll attempt to preserve the original data's\ntype. (This allows you to take a long like 123 and modify it to a string like\n**3.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1CharacterMaskConfig","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"numberToMask":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of characters to mask. If not set, all matching chars will be\nmasked. Skipped characters do not count towards this tally.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"charactersToIgnore":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When masking a string, items in this list will be skipped when replacing.\nFor example, if your string is 555-555-5555 and you ask us to skip `-` and\nmask 5 chars with * we would produce ***-*55-5555.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GooglePrivacyDlpV2beta1CharsToIgnore","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"maskingCharacter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Character to mask the sensitive values&mdash;for example, \"*\" for an\nalphabetic string such as name, or \"0\" for a numeric string such as ZIP\ncode or credit card number. String must have length 1. If not supplied, we\nwill default to \"*\" for strings, 0 for digits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reverseOrder":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Mask characters in reverse order. For example, if `masking_character` is\n'0', number_to_mask is 14, and `reverse_order` is false, then\n1234-5678-9012-3456 -> 00000000000000-3456\nIf `masking_character` is '*', `number_to_mask` is 3, and `reverse_order`\nis true, then 12345 -> 12***","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1TransientCryptoKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Use this to have a random data crypto key generated.\nIt will be discarded after the operation/request finishes.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1TransientCryptoKey","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the key. [required]\nThis is an arbitrary string used to differentiate different keys.\nA unique key is generated per name: two separate `TransientCryptoKey`\nprotos share the same generated key if their names are the same.\nWhen the data crypto key is generated, this name is not used in any way\n(repeating the api call will result in a different key being generated).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1CreateInspectOperationRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request for scheduling a scan of a data subset from a Google Platform data\nrepository.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1CreateInspectOperationRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"inspectConfig":{"$ref":"GooglePrivacyDlpV2beta1InspectConfig","additionalProperties":null,"annotations":null,"default":null,"description":"Configuration for the inspector.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"storageConfig":{"$ref":"GooglePrivacyDlpV2beta1StorageConfig","additionalProperties":null,"annotations":null,"default":null,"description":"Specification of the data set to process.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"outputConfig":{"$ref":"GooglePrivacyDlpV2beta1OutputStorageConfig","additionalProperties":null,"annotations":null,"default":null,"description":"Optional location to store findings.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"operationConfig":{"$ref":"GooglePrivacyDlpV2beta1OperationConfig","additionalProperties":null,"annotations":null,"default":null,"description":"Additional configuration settings for long running operations.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1InfoTypeStatistics":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Statistics regarding a specific InfoType.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1InfoTypeStatistics","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"count":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of findings for this info type.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"infoType":{"$ref":"GooglePrivacyDlpV2beta1InfoType","additionalProperties":null,"annotations":null,"default":null,"description":"The type of finding this stat is for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1RedactContentResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Results of redacting a list of items.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1RedactContentResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The redacted content.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GooglePrivacyDlpV2beta1ContentItem","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GooglePrivacyDlpV2beta1PropertyReference":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A reference to a property relative to the Datastore kind expressions.","enum":null,"enumDescriptions":null,"format":null,"id":"GooglePrivacyDlpV2beta1PropertyReference","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"prope
[...]
