{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"},"https://www.googleapis.com/auth/cloud-platform.read-only":{"description":"View your data across Google Cloud Platform services"},"https://www.googleapis.com/auth/ndev.clouddns.readonly":{"description":"View your DNS records hosted by Google Cloud DNS"},"https://www.googleapis.com/auth/ndev.clouddns.readwrite":{"description":"View and manage your DNS records hosted by Google Cloud DNS"}}}},"basePath":"/dns/v2beta1/projects/","baseUrl":"https://www.googleapis.com/dns/v2beta1/projects/","batchPath":"batch/dns/v2beta1","canonicalName":null,"description":"Configures and serves authoritative DNS records.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/cloud-dns","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/hCZ9r7lonpaIRYcIWE2bmHSvZuc\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png","x32":"https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"},"id":"dns:v2beta1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"dns","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"changes":{"methods":{"create":{"description":"Atomically update the ResourceRecordSet collection.","etagRequired":null,"httpMethod":"POST","id":"dns.changes.create","mediaUpload":null,"parameterOrder":["project","managedZone"],"parameters":{"clientOperationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"managedZone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the managed zone addressed by this request. Can be the managed zone name or id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the project addressed by this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/managedZones/{managedZone}/changes","request":{"$ref":"Change","parameterName":null},"response":{"$ref":"Change"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/ndev.clouddns.readwrite"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Fetch the representation of an existing Change.","etagRequired":null,"httpMethod":"GET","id":"dns.changes.get","mediaUpload":null,"parameterOrder":["project","managedZone","changeId"],"parameters":{"changeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The identifier of the requested change, from a previous ResourceRecordSetsChangeResponse.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"clientOperationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"managedZone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the managed zone addressed by this request. Can be the managed zone name or id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the project addressed by this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/managedZones/{managedZone}/changes/{changeId}","request":null,"response":{"$ref":"Change"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/ndev.clouddns.readonly","https://www.googleapis.com/auth/ndev.clouddns.readwrite"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Enumerate Changes to a ResourceRecordSet collection.","etagRequired":null,"httpMethod":"GET","id":"dns.changes.list","mediaUpload":null,"parameterOrder":["project","managedZone"],"parameters":{"managedZone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the managed zone addressed by this request. Can be the managed zone name or id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the project addressed by this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sortBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"CHANGE_SEQUENCE","description":"Sorting criterion. The only supported value is change sequence.","enum":["CHANGE_SEQUENCE"],"enumDescriptions":[""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sortOrder":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Sorting order direction: 'ascending' or 'descending'.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"{project}/managedZones/{managedZone}/changes","request":null,"response":{"$ref":"ChangesListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/ndev.clouddns.readonly","https://www.googleapis.com/auth/ndev.clouddns.readwrite"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"dnsKeys":{"methods":{"get":{"description":"Fetch the representation of an existing DnsKey.","etagRequired":null,"httpMethod":"GET","id":"dns.dnsKeys.get","mediaUpload":null,"parameterOrder":["project","managedZone","dnsKeyId"],"parameters":{"clientOperationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"digestType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type will be computed and displayed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"dnsKeyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The identifier of the requested DnsKey.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"managedZone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the managed zone addressed by this request. Can be the managed zone name or id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the project addressed by this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}","request":null,"response":{"$ref":"DnsKey"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/ndev.clouddns.readonly","https://www.googleapis.com/auth/ndev.clouddns.readwrite"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Enumerate DnsKeys to a ResourceRecordSet collection.","etagRequired":null,"httpMethod":"GET","id":"dns.dnsKeys.list","mediaUpload":null,"parameterOrder":["project","managedZone"],"parameters":{"digestType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type will be computed and displayed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"managedZone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the managed zone addressed by this request. Can be the managed zone name or id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the project addressed by this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/managedZones/{managedZone}/dnsKeys","request":null,"response":{"$ref":"DnsKeysListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/ndev.clouddns.readonly","https://www.googleapis.com/auth/ndev.clouddns.readwrite"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"managedZoneOperations":{"methods":{"get":{"description":"Fetch the representation of an existing Operation.","etagRequired":null,"httpMethod":"GET","id":"dns.managedZoneOperations.get","mediaUpload":null,"parameterOrder":["project","managedZone","operation"],"parameters":{"clientOperationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"managedZone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the managed zone addressed by this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the operation addressed by this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the project addressed by this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/managedZones/{managedZone}/operations/{operation}","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/ndev.clouddns.readonly","https://www.googleapis.com/auth/ndev.clouddns.readwrite"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Enumerate Operations for the given ManagedZone.","etagRequired":null,"httpMethod":"GET","id":"dns.managedZoneOperations.list","mediaUpload":null,"parameterOrder":["project","managedZone"],"parameters":{"managedZone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the managed zone addressed by this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the project addressed by this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sortBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"START_TIME","description":"Sorting criterion. The only supported values are START_TIME and ID.","enum":["ID","START_TIME"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"{project}/managedZones/{managedZone}/operations","request":null,"response":{"$ref":"ManagedZoneOperationsListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/ndev.clouddns.readonly","https://www.googleapis.com/auth/ndev.clouddns.readwrite"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"managedZones":{"methods":{"create":{"description":"Create a new ManagedZone.","etagRequired":null,"httpMethod":"POST","id":"dns.managedZones.create","mediaUpload":null,"parameterOrder":["project"],"parameters":{"clientOperationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the project addressed by this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/managedZones","request":{"$ref":"ManagedZone","parameterName":null},"response":{"$ref":"ManagedZone"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/ndev.clouddns.readwrite"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Delete a previously created ManagedZone.","etagRequired":null,"httpMethod":"DELETE","id":"dns.managedZones.delete","mediaUpload":null,"parameterOrder":["project","managedZone"],"parameters":{"clientOperationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"managedZone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the managed zone addressed by this request. Can be the managed zone name or id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the project addressed by this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/managedZones/{managedZone}","request":null,"response":{"$ref":"ManagedZonesDeleteResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/ndev.clouddns.readwrite"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Fetch the representation of an existing ManagedZone.","etagRequired":null,"httpMethod":"GET","id":"dns.managedZones.get","mediaUpload":null,"parameterOrder":["project","managedZone"],"parameters":{"clientOperationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"managedZone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the managed zone addressed by this request. Can be the managed zone name or id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the project addressed by this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/managedZones/{managedZone}","request":null,"response":{"$ref":"ManagedZone"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/ndev.clouddns.readonly","https://www.googleapis.com/auth/ndev.clouddns.readwrite"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Enumerate ManagedZones that have been created but not yet deleted.","etagRequired":null,"httpMethod":"GET","id":"dns.managedZones.list","mediaUpload":null,"parameterOrder":["project"],"parameters":{"dnsName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Restricts the list to return only zones with this domain name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the project addressed by this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/managedZones","request":null,"response":{"$ref":"ManagedZonesListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/ndev.clouddns.readonly","https://www.googleapis.com/auth/ndev.clouddns.readwrite"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Update an existing ManagedZone. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"dns.managedZones.patch","mediaUpload":null,"parameterOrder":["project","managedZone"],"parameters":{"clientOperationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"managedZone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the managed zone addressed by this request. Can be the managed zone name or id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the project addressed by this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/managedZones/{managedZone}","request":{"$ref":"ManagedZone","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/ndev.clouddns.readwrite"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Update an existing ManagedZone.","etagRequired":null,"httpMethod":"PUT","id":"dns.managedZones.update","mediaUpload":null,"parameterOrder":["project","managedZone"],"parameters":{"clientOperationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"managedZone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the managed zone addressed by this request. Can be the managed zone name or id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the project addressed by this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/managedZones/{managedZone}","request":{"$ref":"ManagedZone","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/ndev.clouddns.readwrite"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"projects":{"methods":{"get":{"description":"Fetch the representation of an existing Project.","etagRequired":null,"httpMethod":"GET","id":"dns.projects.get","mediaUpload":null,"parameterOrder":["project"],"parameters":{"clientOperationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the project addressed by this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}","request":null,"response":{"$ref":"Project"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/ndev.clouddns.readonly","https://www.googleapis.com/auth/ndev.clouddns.readwrite"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"resourceRecordSets":{"methods":{"list":{"description":"Enumerate ResourceRecordSets that have been created but not yet deleted.","etagRequired":null,"httpMethod":"GET","id":"dns.resourceRecordSets.list","mediaUpload":null,"parameterOrder":["project","managedZone"],"parameters":{"managedZone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the managed zone addressed by this request. Can be the managed zone name or id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Restricts the list to return only records with this fully qualified domain name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies the project addressed by this request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Restricts the list to return only records of this type. If present, the \"name\" parameter must also be present.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"{project}/managedZones/{managedZone}/rrsets","request":null,"response":{"$ref":"ResourceRecordSetsListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/ndev.clouddns.readonly","https://www.googleapis.com/auth/ndev.clouddns.readwrite"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20170928","rootUrl":"https://www.googleapis.com/","schemas":{"Change":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An atomic update to a collection of ResourceRecordSets.","enum":null,"enumDescriptions":null,"format":null,"id":"Change","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"additions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Which ResourceRecordSets to add?","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ResourceRecordSet","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"deletions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Which ResourceRecordSets to remove? Must match existing data exactly.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ResourceRecordSet","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the resource; defined by the server (output only).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"isServing":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If the DNS queries for the zone will be served.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"dns#change","description":"Identifies what kind of resource this is. Value: the fixed string \"dns#change\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time that this operation was started by the server (output only). This is in RFC3339 text format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Status of the operation (output only).","enum":["DONE","PENDING"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ChangesListResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response to a request to enumerate Changes to a ResourceRecordSets collection.","enum":null,"enumDescriptions":null,"format":null,"id":"ChangesListResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"changes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The requested changes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Change","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"header":{"$ref":"ResponseHeader","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"dns#changesListResponse","description":"Type of resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token.\n\nIn this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a \"snapshot\" of collections larger than the maximum page size.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DnsKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A DNSSEC key pair.","enum":null,"enumDescriptions":null,"format":null,"id":"DnsKey","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"algorithm":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String mnemonic specifying the DNSSEC algorithm of this key. Immutable after creation time.","enum":["ECDSAP256SHA256","ECDSAP384SHA384","RSASHA1","RSASHA256","RSASHA512"],"enumDescriptions":["","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"creationTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time that this resource was created in the control plane. This is in RFC3339 text format. Output only.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the resource's function.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"digests":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cryptographic hashes of the DNSKEY resource record associated with this DnsKey. These digests are needed to construct a DS record that points at this DNS key. Output only.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"DnsKeyDigest","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the resource; defined by the server (output only).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"isActive":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Active keys will be used to sign subsequent changes to the ManagedZone. Inactive keys will still be present as DNSKEY Resource Records for the use of resolvers validating existing signatures.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"keyLength":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Length of the key in bits. Specified at creation time then immutable.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"keyTag":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The key tag is a non-cryptographic hash of the a DNSKEY resource record associated with this DnsKey. The key tag can be used to identify a DNSKEY more quickly (but it is not a unique identifier). In particular, the key tag is used in a parent zone's DS record to point at the DNSKEY in this child ManagedZone. The key tag is a number in the range [0, 65535] and the algorithm to calculate it is specified in RFC4034 Appendix B. Output only.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"dns#dnsKey","description":"Identifies what kind of resource this is. Value: the fixed string \"dns#dnsKey\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"publicKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Base64 encoded public half of this key. Output only.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"One of \"KEY_SIGNING\" or \"ZONE_SIGNING\". Keys of type KEY_SIGNING have the Secure Entry Point flag set and, when active, will be used to sign only resource record sets of type DNSKEY. Otherwise, the Secure Entry Point flag will be cleared and this key will be used to sign only resource record sets of other types. Immutable after creation time.","enum":["KEY_SIGNING","ZONE_SIGNING"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DnsKeyDigest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"DnsKeyDigest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"digest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The base-16 encoded bytes of this digest. Suitable for use in a DS resource record.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies the algorithm used to calculate this digest.","enum":["SHA1","SHA256","SHA384"],"enumDescriptions":["","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DnsKeySpec":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Parameters for DnsKey key generation. Used for generating initial keys for a new ManagedZone and as default when adding a new DnsKey.","enum":null,"enumDescriptions":null,"format":null,"id":"DnsKeySpec","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"algorithm":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"String mnemonic specifying the DNSSEC algorithm of this key.","enum":["ECDSAP256SHA256","ECDSAP384SHA384","RSASHA1","RSASHA256","RSASHA512"],"enumDescriptions":["","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"keyLength":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Length of the keys in bits.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"keyType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"One of \"KEY_SIGNING\" or \"ZONE_SIGNING\". Keys of type KEY_SIGNING have the Secure Entry Point flag set and, when active, will be used to sign only resource record sets of type DNSKEY. Otherwise, the Secure Entry Point flag will be cleared and this key will be used to sign only resource record sets of other types.","enum":["KEY_SIGNING","ZONE_SIGNING"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"dns#dnsKeySpec","description":"Identifies what kind of resource this is. Value: the fixed string \"dns#dnsKeySpec\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DnsKeysListResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response to a request to enumerate DnsKeys in a ManagedZone.","enum":null,"enumDescriptions":null,"format":null,"id":"DnsKeysListResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"dnsKeys":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The requested resources.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"DnsKey","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"header":{"$ref":"ResponseHeader","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"dns#dnsKeysListResponse","description":"Type of resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token.\n\nIn this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a \"snapshot\" of collections larger than the maximum page size.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ManagedZone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A zone is a subtree of the DNS namespace under one administrative responsibility. A ManagedZone is a resource that represents a DNS zone hosted by the Cloud DNS service.","enum":null,"enumDescriptions":null,"format":null,"id":"ManagedZone","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"creationTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time that this resource was created on the server. This is in RFC3339 text format. Output only.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the managed zone's function.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"dnsName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The DNS name of this managed zone, for instance \"example.com.\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"dnssecConfig":{"$ref":"ManagedZoneDnsSecConfig","additionalProperties":null,"annotations":null,"default":null,"description":"DNSSEC configuration.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the resource; defined by the server (output only)","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"dns#managedZone","description":"Identifies what kind of resource this is. Value: the fixed string \"dns#managedZone\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User assigned name for this resource. Must be unique within the project. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nameServerSet":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optionally specifies the NameServerSet for this ManagedZone. A NameServerSet is a set of DNS name servers that all host the same ManagedZones. Most users will leave this field unset.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nameServers":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Delegate your managed_zone to these virtual name servers; defined by the server (output only)","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ManagedZoneDnsSecConfig":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"ManagedZoneDnsSecConfig","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"defaultKeySpecs":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies parameters that will be used for generating initial DnsKeys for this ManagedZone. Output only while state is not OFF.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"DnsKeySpec","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"dns#managedZoneDnsSecConfig","description":"Identifies what kind of resource this is. Value: the fixed string \"dns#managedZoneDnsSecConfig\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nonExistence":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies the mechanism used to provide authenticated denial-of-existence responses. Output only while state is not OFF.","enum":["NSEC","NSEC3"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"state":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies whether DNSSEC is enabled, and what mode it is in.","enum":["OFF","ON","TRANSFER"],"enumDescriptions":["","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ManagedZoneOperationsListResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"ManagedZoneOperationsListResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"header":{"$ref":"ResponseHeader","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"dns#managedZoneOperationsListResponse","description":"Type of resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token.\n\nIn this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"operations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The operation resources.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Operation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ManagedZonesDeleteResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"ManagedZonesDeleteResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"header":{"$ref":"ResponseHeader","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ManagedZonesListResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"ManagedZonesListResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"header":{"$ref":"ResponseHeader","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"dns#managedZonesListResponse","description":"Type of resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"managedZones":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The managed zone resources.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ManagedZone","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token.\n\nIn this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An operation represents a successful mutation performed on a Cloud DNS resource. Operations provide: - An audit log of server resource mutations. - A way to recover/retry API calls in the case where the response is never received by the caller. Use the caller specified client_operation_id.","enum":null,"enumDescriptions":null,"format":null,"id":"Operation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"dnsKeyContext":{"$ref":"OperationDnsKeyContext","additionalProperties":null,"annotations":null,"default":null,"description":"Only populated if the operation targeted a DnsKey (output only).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique identifier for the resource. This is the client_operation_id if the client specified it when the mutation was initiated, otherwise, it is generated by the server. The name must be 1-63 characters long and match the regular expression [-a-z0-9]? (output only)","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"dns#operation","description":"Identifies what kind of resource this is. Value: the fixed string \"dns#operation\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time that this operation was started by the server. This is in RFC3339 text format (output only).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Status of the operation. Can be one of the following: \"PENDING\" or \"DONE\" (output only).","enum":["DONE","PENDING"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Type of the operation. Operations include insert, update, and delete (output only).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"user":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User who requested the operation, for example: user@example.com. cloud-dns-system for operations automatically done by the system. (output only)","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"zoneContext":{"$ref":"OperationManagedZoneContext","additionalProperties":null,"annotations":null,"default":null,"description":"Only populated if the operation targeted a ManagedZone (output only).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OperationDnsKeyContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OperationDnsKeyContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"newValue":{"$ref":"DnsKey","additionalProperties":null,"annotations":null,"default":null,"description":"The post-operation DnsKey resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"oldValue":{"$ref":"DnsKey","additionalProperties":null,"annotations":null,"default":null,"description":"The pre-operation DnsKey resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OperationManagedZoneContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"OperationManagedZoneContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"newValue":{"$ref":"ManagedZone","additionalProperties":null,"annotations":null,"default":null,"description":"The post-operation ManagedZone resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"oldValue":{"$ref":"ManagedZone","additionalProperties":null,"annotations":null,"default":null,"description":"The pre-operation ManagedZone resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A project resource. The project is a top level container for resources including Cloud DNS ManagedZones. Projects can be created only in the APIs console.","enum":null,"enumDescriptions":null,"format":null,"id":"Project","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User assigned unique identifier for the resource (output only).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"dns#project","description":"Identifies what kind of resource this is. Value: the fixed string \"dns#project\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"number":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique numeric identifier for the resource; defined by the server (output only).","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quota":{"$ref":"Quota","additionalProperties":null,"annotations":null,"default":null,"description":"Quotas assigned to this project (output only).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Quota":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Limits associated with a Project.","enum":null,"enumDescriptions":null,"format":null,"id":"Quota","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"dnsKeysPerManagedZone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum allowed number of DnsKeys per ManagedZone.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"dns#quota","description":"Identifies what kind of resource this is. Value: the fixed string \"dns#quota\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"managedZones":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum allowed number of managed zones in the project.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"resourceRecordsPerRrset":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum allowed number of ResourceRecords per ResourceRecordSet.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"rrsetAdditionsPerChange":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum allowed number of ResourceRecordSets to add per ChangesCreateRequest.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"rrsetDeletionsPerChange":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum allowed number of ResourceRecordSets to delete per ChangesCreateRequest.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"rrsetsPerManagedZone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum allowed number of ResourceRecordSets per zone in the project.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"totalRrdataSizePerChange":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum allowed size for total rrdata in one ChangesCreateRequest in bytes.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"whitelistedKeySpecs":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"DNSSEC algorithm and key length types that can be used for DnsKeys.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"DnsKeySpec","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ResourceRecordSet":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A unit of data that will be returned by the DNS servers.","enum":null,"enumDescriptions":null,"format":null,"id":"ResourceRecordSet","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"dns#resourceRecordSet","description":"Identifies what kind of resource this is. Value: the fixed string \"dns#resourceRecordSet\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For example, www.example.com.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"rrdatas":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"As defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"signatureRrdatas":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"As defined in RFC 4034 (section 3.2).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"ttl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of seconds that this ResourceRecordSet can be cached by resolvers.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The identifier of a supported record type, for example, A, AAAA, MX, TXT, and so on.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ResourceRecordSetsListResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"ResourceRecordSetsListResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"header":{"$ref":"ResponseHeader","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"dns#resourceRecordSetsListResponse","description":"Type of resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token.\n\nIn this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"rrsets":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The resource record set resources.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ResourceRecordSet","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ResponseHeader":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Elements common to every response.","enum":null,"enumDescriptions":null,"format":null,"id":"ResponseHeader","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"operationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For mutating operation requests that completed successfully. This is the client_operation_id if the client specified it, otherwise it is generated by the server (output only).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"dns/v2beta1/projects/","title":"Google Cloud DNS API","version":"v2beta1","version_module":null}