{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/doubleclickbidmanager":{"description":"View and manage your reports in DoubleClick Bid Manager"}}}},"basePath":"/doubleclickbidmanager/v1/","baseUrl":"https://www.googleapis.com/doubleclickbidmanager/v1/","batchPath":"batch/doubleclickbidmanager/v1","canonicalName":"DoubleClick Bid Manager","description":"API for viewing and managing your reports in DoubleClick Bid Manager.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/bid-manager/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/fiMIPCbr-8OYnnFx-elRq37f8OU\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png","x32":"https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"},"id":"doubleclickbidmanager:v1","kind":"discovery#restDescription","labels":["limited_availability"],"methods":null,"name":"doubleclickbidmanager","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"lineitems":{"methods":{"downloadlineitems":{"description":"Retrieves line items in CSV format.","etagRequired":null,"httpMethod":"POST","id":"doubleclickbidmanager.lineitems.downloadlineitems","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"lineitems/downloadlineitems","request":{"$ref":"DownloadLineItemsRequest","parameterName":null},"response":{"$ref":"DownloadLineItemsResponse"},"scopes":["https://www.googleapis.com/auth/doubleclickbidmanager"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"uploadlineitems":{"description":"Uploads line items in CSV format.","etagRequired":null,"httpMethod":"POST","id":"doubleclickbidmanager.lineitems.uploadlineitems","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"lineitems/uploadlineitems","request":{"$ref":"UploadLineItemsRequest","parameterName":null},"response":{"$ref":"UploadLineItemsResponse"},"scopes":["https://www.googleapis.com/auth/doubleclickbidmanager"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"queries":{"methods":{"createquery":{"description":"Creates a query.","etagRequired":null,"httpMethod":"POST","id":"doubleclickbidmanager.queries.createquery","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"query","request":{"$ref":"Query","parameterName":null},"response":{"$ref":"Query"},"scopes":["https://www.googleapis.com/auth/doubleclickbidmanager"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"deletequery":{"description":"Deletes a stored query as well as the associated stored reports.","etagRequired":null,"httpMethod":"DELETE","id":"doubleclickbidmanager.queries.deletequery","mediaUpload":null,"parameterOrder":["queryId"],"parameters":{"queryId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Query ID to delete.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"query/{queryId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/doubleclickbidmanager"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getquery":{"description":"Retrieves a stored query.","etagRequired":null,"httpMethod":"GET","id":"doubleclickbidmanager.queries.getquery","mediaUpload":null,"parameterOrder":["queryId"],"parameters":{"queryId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Query ID to retrieve.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"query/{queryId}","request":null,"response":{"$ref":"Query"},"scopes":["https://www.googleapis.com/auth/doubleclickbidmanager"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"listqueries":{"description":"Retrieves stored queries.","etagRequired":null,"httpMethod":"GET","id":"doubleclickbidmanager.queries.listqueries","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"queries","request":null,"response":{"$ref":"ListQueriesResponse"},"scopes":["https://www.googleapis.com/auth/doubleclickbidmanager"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"runquery":{"description":"Runs a stored query to generate a report.","etagRequired":null,"httpMethod":"POST","id":"doubleclickbidmanager.queries.runquery","mediaUpload":null,"parameterOrder":["queryId"],"parameters":{"queryId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Query ID to run.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"query/{queryId}","request":{"$ref":"RunQueryRequest","parameterName":null},"response":null,"scopes":["https://www.googleapis.com/auth/doubleclickbidmanager"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"reports":{"methods":{"listreports":{"description":"Retrieves stored reports.","etagRequired":null,"httpMethod":"GET","id":"doubleclickbidmanager.reports.listreports","mediaUpload":null,"parameterOrder":["queryId"],"parameters":{"queryId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Query ID with which the reports are associated.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"queries/{queryId}/reports","request":null,"response":{"$ref":"ListReportsResponse"},"scopes":["https://www.googleapis.com/auth/doubleclickbidmanager"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"sdf":{"methods":{"download":{"description":"Retrieves entities in SDF format.","etagRequired":null,"httpMethod":"POST","id":"doubleclickbidmanager.sdf.download","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"sdf/download","request":{"$ref":"DownloadRequest","parameterName":null},"response":{"$ref":"DownloadResponse"},"scopes":["https://www.googleapis.com/auth/doubleclickbidmanager"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20170705","rootUrl":"https://www.googleapis.com/","schemas":{"DownloadLineItemsRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to fetch stored line items.","enum":null,"enumDescriptions":null,"format":null,"id":"DownloadLineItemsRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"fileSpec":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"File specification (column names, types, order) in which the line items will be returned. Default to EWF.","enum":["EWF"],"enumDescriptions":[""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"filterIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Ids of the specified filter type used to filter line items to fetch. If omitted, all the line items will be returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"filterType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Filter type used to filter line items to fetch.","enum":["ADVERTISER_ID","INSERTION_ORDER_ID","LINE_ITEM_ID"],"enumDescriptions":["","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"format":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Format in which the line items will be returned. Default to CSV.","enum":["CSV"],"enumDescriptions":[""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DownloadLineItemsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Download line items response.","enum":null,"enumDescriptions":null,"format":null,"id":"DownloadLineItemsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"lineItems":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Retrieved line items in CSV format. For more information about file formats, see  Entity Write File Format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DownloadRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to fetch stored insertion orders, line items, TrueView ad groups and ads.","enum":null,"enumDescriptions":null,"format":null,"id":"DownloadRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"fileTypes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"File types that will be returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["AD","AD_GROUP","INSERTION_ORDER","LINE_ITEM"],"enumDescriptions":["","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"filterIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The IDs of the specified filter type. This is used to filter entities to fetch. At least one ID must be specified. Only one ID is allowed for the ADVERTISER_ID filter type. For INSERTION_ORDER_ID or LINE_ITEM_ID filter types, all IDs must be from the same Advertiser.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"filterType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Filter type used to filter line items to fetch.","enum":["ADVERTISER_ID","INSERTION_ORDER_ID","LINE_ITEM_ID"],"enumDescriptions":["","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"version":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"SDF Version (column names, types, order) in which the entities will be returned. Default to 3.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DownloadResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Download response.","enum":null,"enumDescriptions":null,"format":null,"id":"DownloadResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"adGroups":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Retrieved ad groups in SDF format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ads":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Retrieved ads in SDF format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"insertionOrders":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Retrieved insertion orders in SDF format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"lineItems":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Retrieved line items in SDF format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"FilterPair":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Filter used to match traffic data in your report.","enum":null,"enumDescriptions":null,"format":null,"id":"FilterPair","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Filter type.","enum":["FILTER_ACTIVE_VIEW_EXPECTED_VIEWABILITY","FILTER_ACTIVITY_ID","FILTER_ADVERTISER","FILTER_ADVERTISER_CURRENCY","FILTER_ADVERTISER_TIMEZONE","FILTER_AD_POSITION","FILTER_AGE","FILTER_BRANDSAFE_CHANNEL_ID","FILTER_BROWSER","FILTER_BUDGET_SEGMENT_DESCRIPTION","FILTER_CAMPAIGN_DAILY_FREQUENCY","FILTER_CARRIER","FILTER_CHANNEL_ID","FILTER_CITY","FILTER_COMPANION_CREATIVE_ID","FILTER_CONVERSION_DELAY","FILTER_COUNTRY","FILTER_CREATIVE_HEIGHT","FILTER_CREATIVE_ID","FILTER_CREATIVE_SIZE","FILTER_CREATIVE_TYPE","FILTER_CREATIVE_WIDTH","FILTER_DATA_PROVIDER","FILTER_DATE","FILTER_DAY_OF_WEEK","FILTER_DFP_ORDER_ID","FILTER_DMA","FILTER_EXCHANGE_ID","FILTER_FLOODLIGHT_PIXEL_ID","FILTER_GENDER","FILTER_INSERTION_ORDER","FILTER_INVENTORY_FORMAT","FILTER_INVENTORY_SOURCE","FILTER_INVENTORY_SOURCE_TYPE","FILTER_KEYWORD","FILTER_LINE_ITEM","FILTER_LINE_ITEM_DAILY_FREQUENCY","FILTER_LINE_ITEM_LIFETIME_FREQUENCY","FILTER_LINE_ITEM_TYPE","FILTER_MEDIA_PLAN","FILTER_MOBILE_DEVICE_MAKE","FILTER_MOBILE_DEVICE_MAKE_MODEL","FILTER_MOBILE_DEVICE_TYPE","FILTER_MOBILE_GEO","FILTER_MONTH","FILTER_MRAID_SUPPORT","FILTER_NIELSEN_AGE","FILTER_NIELSEN_COUNTRY_CODE","FILTER_NIELSEN_DEVICE_ID","FILTER_NIELSEN_GENDER","FILTER_NOT_SUPPORTED","FILTER_ORDER_ID","FILTER_OS","FILTER_PAGE_CATEGORY","FILTER_PAGE_LAYOUT","FILTER_PARTNER","FILTER_PARTNER_CURRENCY","FILTER_PUBLIC_INVENTORY","FILTER_QUARTER","FILTER_REGION","FILTER_REGULAR_CHANNEL_ID","FILTER_SITE_ID","FILTER_SITE_LANGUAGE","FILTER_SKIPPABLE_SUPPORT","FILTER_TARGETED_USER_LIST","FILTER_TIME_OF_DAY","FILTER_TRUEVIEW_AD_GROUP_AD_ID","FILTER_TRUEVIEW_AD_GROUP_ID","FILTER_TRUEVIEW_AGE","FILTER_TRUEVIEW_CATEGORY","FILTER_TRUEVIEW_CITY","FILTER_TRUEVIEW_CONVERSION_TYPE","FILTER_TRUEVIEW_COUNTRY","FILTER_TRUEVIEW_CUSTOM_AFFINITY","FILTER_TRUEVIEW_DMA","FILTER_TRUEVIEW_GENDER","FILTER_TRUEVIEW_IAR_AGE","FILTER_TRUEVIEW_IAR_CATEGORY","FILTER_TRUEVIEW_IAR_CITY","FILTER_TRUEVIEW_IAR_COUNTRY","FILTER_TRUEVIEW_IAR_GENDER","FILTER_TRUEVIEW_IAR_INTEREST","FILTER_TRUEVIEW_IAR_LANGUAGE","FILTER_TRUEVIEW_IAR_PARENTAL_STATUS","FILTER_TRUEVIEW_IAR_REGION","FILTER_TRUEVIEW_IAR_REMARKETING_LIST","FILTER_TRUEVIEW_IAR_TIME_OF_DAY","FILTER_TRUEVIEW_IAR_YOUTUBE_CHANNEL","FILTER_TRUEVIEW_IAR_YOUTUBE_VIDEO","FILTER_TRUEVIEW_IAR_ZIPCODE","FILTER_TRUEVIEW_INTEREST","FILTER_TRUEVIEW_KEYWORD","FILTER_TRUEVIEW_PARENTAL_STATUS","FILTER_TRUEVIEW_PLACEMENT","FILTER_TRUEVIEW_REGION","FILTER_TRUEVIEW_REMARKETING_LIST","FILTER_TRUEVIEW_URL","FILTER_TRUEVIEW_ZIPCODE","FILTER_UNKNOWN","FILTER_USER_LIST","FILTER_USER_LIST_FIRST_PARTY","FILTER_USER_LIST_THIRD_PARTY","FILTER_VIDEO_AD_POSITION_IN_STREAM","FILTER_VIDEO_COMPANION_SIZE","FILTER_VIDEO_COMPANION_TYPE","FILTER_VIDEO_CREATIVE_DURATION","FILTER_VIDEO_CREATIVE_DURATION_SKIPPABLE","FILTER_VIDEO_DURATION_SECONDS","FILTER_VIDEO_FORMAT_SUPPORT","FILTER_VIDEO_INVENTORY_TYPE","FILTER_VIDEO_PLAYER_SIZE","FILTER_VIDEO_RATING_TIER","FILTER_VIDEO_SKIPPABLE_SUPPORT","FILTER_VIDEO_VPAID_SUPPORT","FILTER_WEEK","FILTER_YEAR","FILTER_YOUTUBE_VERTICAL","FILTER_ZIP_CODE"],"enumDescriptions":["","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Filter value.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListQueriesResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List queries response.","enum":null,"enumDescriptions":null,"format":null,"id":"ListQueriesResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"doubleclickbidmanager#listQueriesResponse","description":"Identifies what kind of resource this is. Value: the fixed string \"doubleclickbidmanager#listQueriesResponse\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"queries":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Retrieved queries.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Query","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListReportsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List reports response.","enum":null,"enumDescriptions":null,"format":null,"id":"ListReportsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"doubleclickbidmanager#listReportsResponse","description":"Identifies what kind of resource this is. Value: the fixed string \"doubleclickbidmanager#listReportsResponse\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reports":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Retrieved reports.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Report","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Parameters":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Parameters of a query or report.","enum":null,"enumDescriptions":null,"format":null,"id":"Parameters","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"filters":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Filters used to match traffic data in your report.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"FilterPair","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"groupBys":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Data is grouped by the filters listed in this field.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["FILTER_ACTIVE_VIEW_EXPECTED_VIEWABILITY","FILTER_ACTIVITY_ID","FILTER_ADVERTISER","FILTER_ADVERTISER_CURRENCY","FILTER_ADVERTISER_TIMEZONE","FILTER_AD_POSITION","FILTER_AGE","FILTER_BRANDSAFE_CHANNEL_ID","FILTER_BROWSER","FILTER_BUDGET_SEGMENT_DESCRIPTION","FILTER_CAMPAIGN_DAILY_FREQUENCY","FILTER_CARRIER","FILTER_CHANNEL_ID","FILTER_CITY","FILTER_COMPANION_CREATIVE_ID","FILTER_CONVERSION_DELAY","FILTER_COUNTRY","FILTER_CREATIVE_HEIGHT","FILTER_CREATIVE_ID","FILTER_CREATIVE_SIZE","FILTER_CREATIVE_TYPE","FILTER_CREATIVE_WIDTH","FILTER_DATA_PROVIDER","FILTER_DATE","FILTER_DAY_OF_WEEK","FILTER_DFP_ORDER_ID","FILTER_DMA","FILTER_EXCHANGE_ID","FILTER_FLOODLIGHT_PIXEL_ID","FILTER_GENDER","FILTER_INSERTION_ORDER","FILTER_INVENTORY_FORMAT","FILTER_INVENTORY_SOURCE","FILTER_INVENTORY_SOURCE_TYPE","FILTER_KEYWORD","FILTER_LINE_ITEM","FILTER_LINE_ITEM_DAILY_FREQUENCY","FILTER_LINE_ITEM_LIFETIME_FREQUENCY","FILTER_LINE_ITEM_TYPE","FILTER_MEDIA_PLAN","FILTER_MOBILE_DEVICE_MAKE","FILTER_MOBILE_DEVICE_MAKE_MODEL","FILTER_MOBILE_DEVICE_TYPE","FILTER_MOBILE_GEO","FILTER_MONTH","FILTER_MRAID_SUPPORT","FILTER_NIELSEN_AGE","FILTER_NIELSEN_COUNTRY_CODE","FILTER_NIELSEN_DEVICE_ID","FILTER_NIELSEN_GENDER","FILTER_NOT_SUPPORTED","FILTER_ORDER_ID","FILTER_OS","FILTER_PAGE_CATEGORY","FILTER_PAGE_LAYOUT","FILTER_PARTNER","FILTER_PARTNER_CURRENCY","FILTER_PUBLIC_INVENTORY","FILTER_QUARTER","FILTER_REGION","FILTER_REGULAR_CHANNEL_ID","FILTER_SITE_ID","FILTER_SITE_LANGUAGE","FILTER_SKIPPABLE_SUPPORT","FILTER_TARGETED_USER_LIST","FILTER_TIME_OF_DAY","FILTER_TRUEVIEW_AD_GROUP_AD_ID","FILTER_TRUEVIEW_AD_GROUP_ID","FILTER_TRUEVIEW_AGE","FILTER_TRUEVIEW_CATEGORY","FILTER_TRUEVIEW_CITY","FILTER_TRUEVIEW_CONVERSION_TYPE","FILTER_TRUEVIEW_COUNTRY","FILTER_TRUEVIEW_CUSTOM_AFFINITY","FILTER_TRUEVIEW_DMA","FILTER_TRUEVIEW_GENDER","FILTER_TRUEVIEW_IAR_AGE","FILTER_TRUEVIEW_IAR_CATEGORY","FILTER_TRUEVIEW_IAR_CITY","FILTER_TRUEVIEW_IAR_COUNTRY","FILTER_TRUEVIEW_IAR_GENDER","FILTER_TRUEVIEW_IAR_INTEREST","FILTER_TRUEVIEW_IAR_LANGUAGE","FILTER_TRUEVIEW_IAR_PARENTAL_STATUS","FILTER_TRUEVIEW_IAR_REGION","FILTER_TRUEVIEW_IAR_REMARKETING_LIST","FILTER_TRUEVIEW_IAR_TIME_OF_DAY","FILTER_TRUEVIEW_IAR_YOUTUBE_CHANNEL","FILTER_TRUEVIEW_IAR_YOUTUBE_VIDEO","FILTER_TRUEVIEW_IAR_ZIPCODE","FILTER_TRUEVIEW_INTEREST","FILTER_TRUEVIEW_KEYWORD","FILTER_TRUEVIEW_PARENTAL_STATUS","FILTER_TRUEVIEW_PLACEMENT","FILTER_TRUEVIEW_REGION","FILTER_TRUEVIEW_REMARKETING_LIST","FILTER_TRUEVIEW_URL","FILTER_TRUEVIEW_ZIPCODE","FILTER_UNKNOWN","FILTER_USER_LIST","FILTER_USER_LIST_FIRST_PARTY","FILTER_USER_LIST_THIRD_PARTY","FILTER_VIDEO_AD_POSITION_IN_STREAM","FILTER_VIDEO_COMPANION_SIZE","FILTER_VIDEO_COMPANION_TYPE","FILTER_VIDEO_CREATIVE_DURATION","FILTER_VIDEO_CREATIVE_DURATION_SKIPPABLE","FILTER_VIDEO_DURATION_SECONDS","FILTER_VIDEO_FORMAT_SUPPORT","FILTER_VIDEO_INVENTORY_TYPE","FILTER_VIDEO_PLAYER_SIZE","FILTER_VIDEO_RATING_TIER","FILTER_VIDEO_SKIPPABLE_SUPPORT","FILTER_VIDEO_VPAID_SUPPORT","FILTER_WEEK","FILTER_YEAR","FILTER_YOUTUBE_VERTICAL","FILTER_ZIP_CODE"],"enumDescriptions":["","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"includeInviteData":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to include data from Invite Media.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"metrics":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Metrics to include as columns in your report.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["METRIC_ACTIVE_VIEW_AUDIBLE_VISIBLE_ON_COMPLETE_IMPRESSIONS","METRIC_ACTIVE_VIEW_AVERAGE_VIEWABLE_TIME","METRIC_ACTIVE_VIEW_DISTRIBUTION_UNMEASURABLE","METRIC_ACTIVE_VIEW_DISTRIBUTION_UNVIEWABLE","METRIC_ACTIVE_VIEW_DISTRIBUTION_VIEWABLE","METRIC_ACTIVE_VIEW_ELIGIBLE_IMPRESSIONS","METRIC_ACTIVE_VIEW_MEASURABLE_IMPRESSIONS","METRIC_ACTIVE_VIEW_PCT_MEASURABLE_IMPRESSIONS","METRIC_ACTIVE_VIEW_PCT_VIEWABLE_IMPRESSIONS","METRIC_ACTIVE_VIEW_PERCENT_AUDIBLE_VISIBLE_AT_START","METRIC_ACTIVE_VIEW_PERCENT_AUDIBLE_VISIBLE_FIRST_QUAR","METRIC_ACTIVE_VIEW_PERCENT_AUDIBLE_VISIBLE_ON_COMPLETE","METRIC_ACTIVE_VIEW_PERCENT_AUDIBLE_VISIBLE_SECOND_QUAR","METRIC_ACTIVE_VIEW_PERCENT_AUDIBLE_VISIBLE_THIRD_QUAR","METRIC_ACTIVE_VIEW_PERCENT_VIEWABLE_FOR_TIME_THRESHOLD","METRIC_ACTIVE_VIEW_PERCENT_VISIBLE_AT_START","METRIC_ACTIVE_VIEW_PERCENT_VISIBLE_FIRST_QUAR","METRIC_ACTIVE_VIEW_PERCENT_VISIBLE_ON_COMPLETE","METRIC_ACTIVE_VIEW_PERCENT_VISIBLE_SECOND_QUAR","METRIC_ACTIVE_VIEW_PERCENT_VISIBLE_THIRD_QUAR","METRIC_ACTIVE_VIEW_UNMEASURABLE_IMPRESSIONS","METRIC_ACTIVE_VIEW_UNVIEWABLE_IMPRESSIONS","METRIC_ACTIVE_VIEW_VIEWABLE_FOR_TIME_THRESHOLD","METRIC_ACTIVE_VIEW_VIEWABLE_IMPRESSIONS","METRIC_BID_REQUESTS","METRIC_BILLABLE_COST_ADVERTISER","METRIC_BILLABLE_COST_PARTNER","METRIC_BILLABLE_COST_USD","METRIC_CLICKS","METRIC_CLICK_TO_POST_CLICK_CONVERSION_RATE","METRIC_COMSCORE_VCE_AUDIENCE_AVG_FREQUENCY","METRIC_COMSCORE_VCE_AUDIENCE_IMPRESSIONS","METRIC_COMSCORE_VCE_AUDIENCE_IMPRESSIONS_SHARE","METRIC_COMSCORE_VCE_AUDIENCE_REACH_PCT","METRIC_COMSCORE_VCE_AUDIENCE_SHARE_PCT","METRIC_COMSCORE_VCE_GROSS_RATING_POINTS","METRIC_COMSCORE_VCE_POPULATION","METRIC_COMSCORE_VCE_UNIQUE_AUDIENCE","METRIC_CONVERSIONS_PER_MILLE","METRIC_CPM_FEE1_ADVERTISER","METRIC_CPM_FEE1_PARTNER","METRIC_CPM_FEE1_USD","METRIC_CPM_FEE2_ADVERTISER","METRIC_CPM_FEE2_PARTNER","METRIC_CPM_FEE2_USD","METRIC_CPM_FEE3_ADVERTISER","METRIC_CPM_FEE3_PARTNER","METRIC_CPM_FEE3_USD","METRIC_CPM_FEE4_ADVERTISER","METRIC_CPM_FEE4_PARTNER","METRIC_CPM_FEE4_USD","METRIC_CPM_FEE5_ADVERTISER","METRIC_CPM_FEE5_PARTNER","METRIC_CPM_FEE5_USD","METRIC_CTR","METRIC_DATA_COST_ADVERTISER","METRIC_DATA_COST_PARTNER","METRIC_DATA_COST_USD","METRIC_FEE10_ADVERTISER","METRIC_FEE10_PARTNER","METRIC_FEE10_USD","METRIC_FEE11_ADVERTISER","METRIC_FEE11_PARTNER","METRIC_FEE11_USD","METRIC_FEE12_ADVERTISER","METRIC_FEE12_PARTNER","METRIC_FEE12_USD","METRIC_FEE13_ADVERTISER","METRIC_FEE13_PARTNER","METRIC_FEE13_USD","METRIC_FEE14_ADVERTISER","METRIC_FEE14_PARTNER","METRIC_FEE14_USD","METRIC_FEE15_ADVERTISER","METRIC_FEE15_PARTNER","METRIC_FEE15_USD","METRIC_FEE16_ADVERTISER","METRIC_FEE16_PARTNER","METRIC_FEE16_USD","METRIC_FEE17_ADVERTISER","METRIC_FEE17_PARTNER","METRIC_FEE17_USD","METRIC_FEE18_ADVERTISER","METRIC_FEE18_PARTNER","METRIC_FEE18_USD","METRIC_FEE19_ADVERTISER","METRIC_FEE19_PARTNER","METRIC_FEE19_USD","METRIC_FEE20_ADVERTISER","METRIC_FEE20_PARTNER","METRIC_FEE20_USD","METRIC_FEE21_ADVERTISER","METRIC_FEE21_PARTNER","METRIC_FEE21_USD","METRIC_FEE22_ADVERTISER","METRIC_FEE22_PARTNER","METRIC_FEE22_USD","METRIC_FEE2_ADVERTISER","METRIC_FEE2_PARTNER","METRIC_FEE2_USD","METRIC_FEE3_ADVERTISER","METRIC_FEE3_PARTNER","METRIC_FEE3_USD","METRIC_FEE4_ADVERTISER","METRIC_FEE4_PARTNER","METRIC_FEE4_USD","METRIC_FEE5_ADVERTISER","METRIC_FEE5_PARTNER","METRIC_FEE5_USD","METRIC_FEE6_ADVERTISER","METRIC_FEE6_PARTNER","METRIC_FEE6_USD","METRIC_FEE7_ADVERTISER","METRIC_FEE7_PARTNER","METRIC_FEE7_USD","METRIC_FEE8_ADVERTISER","METRIC_FEE8_PARTNER","METRIC_FEE8_USD","METRIC_FEE9_ADVERTISER","METRIC_FEE9_PARTNER","METRIC_FEE9_USD","METRIC_IMPRESSIONS","METRIC_IMPRESSIONS_TO_CONVERSION_RATE","METRIC_LAST_CLICKS","METRIC_LAST_IMPRESSIONS","METRIC_MEDIA_COST_ADVERTISER","METRIC_MEDIA_COST_ECPAPC_ADVERTISER","METRIC_MEDIA_COST_ECPAPC_PARTNER","METRIC_MEDIA_COST_ECPAPC_USD","METRIC_MEDIA_COST_ECPAPV_ADVERTISER","METRIC_MEDIA_COST_ECPAPV_PARTNER","METRIC_MEDIA_COST_ECPAPV_USD","METRIC_MEDIA_COST_ECPA_ADVERTISER","METRIC_MEDIA_COST_ECPA_PARTNER","METRIC_MEDIA_COST_ECPA_USD","METRIC_MEDIA_COST_ECPCV_ADVERTISER","METRIC_MEDIA_COST_ECPCV_PARTNER","METRIC_MEDIA_COST_ECPCV_USD","METRIC_MEDIA_COST_ECPC_ADVERTISER","METRIC_MEDIA_COST_ECPC_PARTNER","METRIC_MEDIA_COST_ECPC_USD","METRIC_MEDIA_COST_ECPM_ADVERTISER","METRIC_MEDIA_COST_ECPM_PARTNER","METRIC_MEDIA_COST_ECPM_USD","METRIC_MEDIA_COST_PARTNER","METRIC_MEDIA_COST_USD","METRIC_MEDIA_COST_VIEWABLE_ECPM_ADVERTISER","METRIC_MEDIA_COST_VIEWABLE_ECPM_PARTNER","METRIC_MEDIA_COST_VIEWABLE_ECPM_USD","METRIC_MEDIA_FEE1_ADVERTISER","METRIC_MEDIA_FEE1_PARTNER","METRIC_MEDIA_FEE1_USD","METRIC_MEDIA_FEE2_ADVERTISER","METRIC_MEDIA_FEE2_PARTNER","METRIC_MEDIA_FEE2_USD","METRIC_MEDIA_FEE3_ADVERTISER","METRIC_MEDIA_FEE3_PARTNER","METRIC_MEDIA_FEE3_USD","METRIC_MEDIA_FEE4_ADVERTISER","METRIC_MEDIA_FEE4_PARTNER","METRIC_MEDIA_FEE4_USD","METRIC_MEDIA_FEE5_ADVERTISER","METRIC_MEDIA_FEE5_PARTNER","METRIC_MEDIA_FEE5_USD","METRIC_PIXEL_LOADS","METRIC_PLATFORM_FEE_ADVERTISER","METRIC_PLATFORM_FEE_PARTNER","METRIC_PLATFORM_FEE_USD","METRIC_POST_CLICK_DFA_REVENUE","METRIC_POST_VIEW_DFA_REVENUE","METRIC_PROFIT_ADVERTISER","METRIC_PROFIT_ECPAPC_ADVERTISER","METRIC_PROFIT_ECPAPC_PARTNER","METRIC_PROFIT_ECPAPC_USD","METRIC_PROFIT_ECPAPV_ADVERTISER","METRIC_PROFIT_ECPAPV_PARTNER","METRIC_PROFIT_ECPAPV_USD","METRIC_PROFIT_ECPA_ADVERTISER","METRIC_PROFIT_ECPA_PARTNER","METRIC_PROFIT_ECPA_USD","METRIC_PROFIT_ECPC_ADVERTISER","METRIC_PROFIT_ECPC_PARTNER","METRIC_PROFIT_ECPC_USD","METRIC_PROFIT_ECPM_ADVERTISER","METRIC_PROFIT_ECPM_PARTNER","METRIC_PROFIT_ECPM_USD","METRIC_PROFIT_MARGIN","METRIC_PROFIT_PARTNER","METRIC_PROFIT_USD","METRIC_PROFIT_VIEWABLE_ECPM_ADVERTISER","METRIC_PROFIT_VIEWABLE_ECPM_PARTNER","METRIC_PROFIT_VIEWABLE_ECPM_USD","METRIC_REACH_COOKIE_FREQUENCY","METRIC_REACH_COOKIE_REACH","METRIC_REVENUE_ADVERTISER","METRIC_REVENUE_ECPAPC_ADVERTISER","METRIC_REVENUE_ECPAPC_PARTNER","METRIC_REVENUE_ECPAPC_USD","METRIC_REVENUE_ECPAPV_ADVERTISER","METRIC_REVENUE_ECPAPV_PARTNER","METRIC_REVENUE_ECPAPV_USD","METRIC_REVENUE_ECPA_ADVERTISER","METRIC_REVENUE_ECPA_PARTNER","METRIC_REVENUE_ECPA_USD","METRIC_REVENUE_ECPCV_ADVERTISER","METRIC_REVENUE_ECPCV_PARTNER","METRIC_REVENUE_ECPCV_USD","METRIC_REVENUE_ECPC_ADVERTISER","METRIC_REVENUE_ECPC_PARTNER","METRIC_REVENUE_ECPC_USD","METRIC_REVENUE_ECPIAVC_ADVERTISER","METRIC_REVENUE_ECPM_ADVERTISER","METRIC_REVENUE_ECPM_PARTNER","METRIC_REVENUE_ECPM_USD","METRIC_REVENUE_PARTNER","METRIC_REVENUE_USD","METRIC_REVENUE_VIEWABLE_ECPM_ADVERTISER","METRIC_REVENUE_VIEWABLE_ECPM_PARTNER","METRIC_REVENUE_VIEWABLE_ECPM_USD","METRIC_RICH_MEDIA_VIDEO_COMPLETIONS","METRIC_RICH_MEDIA_VIDEO_FIRST_QUARTILE_COMPLETES","METRIC_RICH_MEDIA_VIDEO_FULL_SCREENS","METRIC_RICH_MEDIA_VIDEO_MIDPOINTS","METRIC_RICH_MEDIA_VIDEO_MUTES","METRIC_RICH_MEDIA_VIDEO_PAUSES","METRIC_RICH_MEDIA_VIDEO_PLAYS","METRIC_RICH_MEDIA_VIDEO_SKIPS","METRIC_RICH_MEDIA_VIDEO_THIRD_QUARTILE_COMPLETES","METRIC_TEA_TRUEVIEW_IMPRESSIONS","METRIC_TEA_TRUEVIEW_UNIQUE_COOKIES","METRIC_TEA_TRUEVIEW_UNIQUE_PEOPLE","METRIC_TOTAL_CONVERSIONS","METRIC_TOTAL_MEDIA_COST_ADVERTISER","METRIC_TOTAL_MEDIA_COST_ECPAPC_ADVERTISER","METRIC_TOTAL_MEDIA_COST_ECPAPC_PARTNER","METRIC_TOTAL_MEDIA_COST_ECPAPC_USD","METRIC_TOTAL_MEDIA_COST_ECPAPV_ADVERTISER","METRIC_TOTAL_MEDIA_COST_ECPAPV_PARTNER","METRIC_TOTAL_MEDIA_COST_ECPAPV_USD","METRIC_TOTAL_MEDIA_COST_ECPA_ADVERTISER","METRIC_TOTAL_MEDIA_COST_ECPA_PARTNER","METRIC_TOTAL_MEDIA_COST_ECPA_USD","METRIC_TOTAL_MEDIA_COST_ECPCV_ADVERTISER","METRIC_TOTAL_MEDIA_COST_ECPCV_PARTNER","METRIC_TOTAL_MEDIA_COST_ECPCV_USD","METRIC_TOTAL_MEDIA_COST_ECPC_ADVERTISER","METRIC_TOTAL_MEDIA_COST_ECPC_PARTNER","METRIC_TOTAL_MEDIA_COST_ECPC_USD","METRIC_TOTAL_MEDIA_COST_ECPM_ADVERTISER","METRIC_TOTAL_MEDIA_COST_ECPM_PARTNER","METRIC_TOTAL_MEDIA_COST_ECPM_USD","METRIC_TOTAL_MEDIA_COST_PARTNER","METRIC_TOTAL_MEDIA_COST_USD","METRIC_TOTAL_MEDIA_COST_VIEWABLE_ECPM_ADVERTISER","METRIC_TOTAL_MEDIA_COST_VIEWABLE_ECPM_PARTNER","METRIC_TOTAL_MEDIA_COST_VIEWABLE_ECPM_USD","METRIC_TRUEVIEW_AVERAGE_CPE_ADVERTISER","METRIC_TRUEVIEW_AVERAGE_CPE_PARTNER","METRIC_TRUEVIEW_AVERAGE_CPE_USD","METRIC_TRUEVIEW_CONVERSION_COST_MANY_PER_VIEW_ADVERTISER","METRIC_TRUEVIEW_CONVERSION_COST_MANY_PER_VIEW_PARTNER","METRIC_TRUEVIEW_CONVERSION_COST_MANY_PER_VIEW_USD","METRIC_TRUEVIEW_CONVERSION_COST_ONE_PER_VIEW_ADVERTISER","METRIC_TRUEVIEW_CONVERSION_COST_ONE_PER_VIEW_PARTNER","METRIC_TRUEVIEW_CONVERSION_COST_ONE_PER_VIEW_USD","METRIC_TRUEVIEW_CONVERSION_MANY_PER_VIEW","METRIC_TRUEVIEW_CONVERSION_ONE_PER_VIEW","METRIC_TRUEVIEW_CONVERSION_RATE_ONE_PER_VIEW","METRIC_TRUEVIEW_CONVERSION_VALUE_MANY_PER_VIEW_ADVERTISER","METRIC_TRUEVIEW_CONVERSION_VALUE_MANY_PER_VIEW_PARTNER","METRIC_TRUEVIEW_CONVERSION_VALUE_MANY_PER_VIEW_USD","METRIC_TRUEVIEW_CONVERSION_VALUE_ONE_PER_VIEW_ADVERTISER","METRIC_TRUEVIEW_CONVERSION_VALUE_ONE_PER_VIEW_PARTNER","METRIC_TRUEVIEW_CONVERSION_VALUE_ONE_PER_VIEW_USD","METRIC_TRUEVIEW_COST_CONVERSION_MANY_PER_VIEW_RATIO","METRIC_TRUEVIEW_COST_CONVERSION_ONE_PER_VIEW_RATIO","METRIC_TRUEVIEW_CPV_ADVERTISER","METRIC_TRUEVIEW_CPV_PARTNER","METRIC_TRUEVIEW_CPV_USD","METRIC_TRUEVIEW_EARNED_LIKES","METRIC_TRUEVIEW_EARNED_PLAYLIST_ADDITIONS","METRIC_TRUEVIEW_EARNED_SHARES","METRIC_TRUEVIEW_EARNED_SUBSCRIBERS","METRIC_TRUEVIEW_EARNED_VIEWS","METRIC_TRUEVIEW_ENGAGEMENTS","METRIC_TRUEVIEW_ENGAGEMENT_RATE","METRIC_TRUEVIEW_IMPRESSION_SHARE","METRIC_TRUEVIEW_LOST_IS_BUDGET","METRIC_TRUEVIEW_LOST_IS_RANK","METRIC_TRUEVIEW_TOTAL_CONVERSION_VALUE","METRIC_TRUEVIEW_TOTAL_CONVERSION_VALUES_ADVERTISER","METRIC_TRUEVIEW_TOTAL_CONVERSION_VALUES_PARTNER","METRIC_TRUEVIEW_TOTAL_CONVERSION_VALUES_USD","METRIC_TRUEVIEW_UNIQUE_VIEWERS","METRIC_TRUEVIEW_VALUE_CONVERSION_MANY_PER_VIEW_RATIO","METRIC_TRUEVIEW_VALUE_CONVERSION_ONE_PER_VIEW_RATIO","METRIC_TRUEVIEW_VIEWS","METRIC_TRUEVIEW_VIEW_RATE","METRIC_TRUEVIEW_VIEW_THROUGH_CONVERSION","METRIC_UNIQUE_VISITORS_COOKIES","METRIC_UNKNOWN","METRIC_VIDEO_COMPANION_CLICKS","METRIC_VIDEO_COMPANION_IMPRESSIONS","METRIC_VIDEO_COMPLETION_RATE"],"enumDescriptions":["","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Report type.","enum":["TYPE_ACTIVE_GRP","TYPE_AUDIENCE_COMPOSITION","TYPE_AUDIENCE_PERFORMANCE","TYPE_CLIENT_SAFE","TYPE_COMSCORE_VCE","TYPE_CROSS_FEE","TYPE_CROSS_PARTNER","TYPE_CROSS_PARTNER_THIRD_PARTY_DATA_PROVIDER","TYPE_ESTIMATED_CONVERSION","TYPE_FEE","TYPE_GENERAL","TYPE_INVENTORY_AVAILABILITY","TYPE_KEYWORD","TYPE_NIELSEN_AUDIENCE_PROFILE","TYPE_NIELSEN_DAILY_REACH_BUILD","TYPE_NIELSEN_ONLINE_GLOBAL_MARKET","TYPE_NIELSEN_SITE","TYPE_NOT_SUPPORTED","TYPE_ORDER_ID","TYPE_PAGE_CATEGORY","TYPE_PETRA_NIELSEN_AUDIENCE_PROFILE","TYPE_PETRA_NIELSEN_DAILY_REACH_BUILD","TYPE_PETRA_NIELSEN_ONLINE_GLOBAL_MARKET","TYPE_PIXEL_LOAD","TYPE_REACH_AND_FREQUENCY","TYPE_REACH_AUDIENCE","TYPE_THIRD_PARTY_DATA_PROVIDER","TYPE_TRUEVIEW","TYPE_TRUEVIEW_IAR","TYPE_VERIFICATION","TYPE_YOUTUBE_VERTICAL"],"enumDescriptions":["","","","","","","","","","","","","","","","","","","","","","","","","","","","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Query":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a query.","enum":null,"enumDescriptions":null,"format":null,"id":"Query","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"doubleclickbidmanager#query","description":"Identifies what kind of resource this is. Value: the fixed string \"doubleclickbidmanager#query\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"metadata":{"$ref":"QueryMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Query metadata.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"params":{"$ref":"Parameters","additionalProperties":null,"annotations":null,"default":null,"description":"Query parameters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"queryId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Query ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reportDataEndTimeMs":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ending time for the data that is shown in the report. Note, reportDataEndTimeMs is required if metadata.dataRange is CUSTOM_DATES and ignored otherwise.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reportDataStartTimeMs":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The starting time for the data that is shown in the report. Note, reportDataStartTimeMs is required if metadata.dataRange is CUSTOM_DATES and ignored otherwise.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"schedule":{"$ref":"QuerySchedule","additionalProperties":null,"annotations":null,"default":null,"description":"Information on how often and when to run a query.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"timezoneCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Canonical timezone code for report data time. Defaults to America/New_York.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"QueryMetadata":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Query metadata.","enum":null,"enumDescriptions":null,"format":null,"id":"QueryMetadata","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"dataRange":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Range of report data.","enum":["ALL_TIME","CURRENT_DAY","CUSTOM_DATES","LAST_14_DAYS","LAST_30_DAYS","LAST_365_DAYS","LAST_7_DAYS","LAST_90_DAYS","MONTH_TO_DATE","PREVIOUS_DAY","PREVIOUS_HALF_MONTH","PREVIOUS_MONTH","PREVIOUS_QUARTER","PREVIOUS_WEEK","PREVIOUS_YEAR","QUARTER_TO_DATE","TYPE_NOT_SUPPORTED","WEEK_TO_DATE","YEAR_TO_DATE"],"enumDescriptions":["","","","","","","","","","","","","","","","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"format":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Format of the generated report.","enum":["CSV","EXCEL_CSV","XLSX"],"enumDescriptions":["","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"googleCloudStoragePathForLatestReport":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The path to the location in Google Cloud Storage where the latest report is stored.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"googleDrivePathForLatestReport":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The path in Google Drive for the latest report.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"latestReportRunTimeMs":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time when the latest report started to run.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Locale of the generated reports. Valid values are cs CZECH de GERMAN en ENGLISH es SPANISH fr FRENCH it ITALIAN ja JAPANESE ko KOREAN pl POLISH pt-BR BRAZILIAN_PORTUGUESE ru RUSSIAN tr TURKISH uk UKRAINIAN zh-CN CHINA_CHINESE zh-TW TAIWAN_CHINESE\n\nAn locale string not in the list above will generate reports in English.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reportCount":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of reports that have been generated for the query.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"running":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the latest report is currently running.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"sendNotification":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to send an email notification when a report is ready. Default to false.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"shareEmailAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of email addresses which are sent email notifications when the report is finished. Separate from sendNotification.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"title":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Query title. It is used to name the reports generated from this query.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"QuerySchedule":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Information on how frequently and when to run a query.","enum":null,"enumDescriptions":null,"format":null,"id":"QuerySchedule","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"endTimeMs":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Datetime to periodically run the query until.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"frequency":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"How often the query is run.","enum":["DAILY","MONTHLY","ONE_TIME","QUARTERLY","SEMI_MONTHLY","WEEKLY"],"enumDescriptions":["","","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextRunMinuteOfDay":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time of day at which a new report will be generated, represented as minutes past midnight. Range is 0 to 1439. Only applies to scheduled reports.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"nextRunTimezoneCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Canonical timezone code for report generation time. Defaults to America/New_York.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Report":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a report.","enum":null,"enumDescriptions":null,"format":null,"id":"Report","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"key":{"$ref":"ReportKey","additionalProperties":null,"annotations":null,"default":null,"description":"Key used to identify a report.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"metadata":{"$ref":"ReportMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Report metadata.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"params":{"$ref":"Parameters","additionalProperties":null,"annotations":null,"default":null,"description":"Report parameters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ReportFailure":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An explanation of a report failure.","enum":null,"enumDescriptions":null,"format":null,"id":"ReportFailure","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"errorCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Error code that shows why the report was not created.","enum":["AUTHENTICATION_ERROR","DEPRECATED_REPORTING_INVALID_QUERY","REPORTING_BUCKET_NOT_FOUND","REPORTING_CREATE_BUCKET_FAILED","REPORTING_DELETE_BUCKET_FAILED","REPORTING_FATAL_ERROR","REPORTING_ILLEGAL_FILENAME","REPORTING_IMCOMPATIBLE_METRICS","REPORTING_INVALID_QUERY_MISSING_PARTNER_AND_ADVERTISER_FILTERS","REPORTING_INVALID_QUERY_TITLE_MISSING","REPORTING_INVALID_QUERY_TOO_MANY_UNFILTERED_LARGE_GROUP_BYS","REPORTING_QUERY_NOT_FOUND","REPORTING_TRANSIENT_ERROR","REPORTING_UPDATE_BUCKET_PERMISSION_FAILED","REPORTING_WRITE_BUCKET_OBJECT_FAILED","SERVER_ERROR","UNAUTHORIZED_API_ACCESS","VALIDATION_ERROR"],"enumDescriptions":["","","","","","","","","","","","","","","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ReportKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Key used to identify a report.","enum":null,"enumDescriptions":null,"format":null,"id":"ReportKey","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"queryId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Query ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reportId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Report ID.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ReportMetadata":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Report metadata.","enum":null,"enumDescriptions":null,"format":null,"id":"ReportMetadata","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"googleCloudStoragePath":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The path to the location in Google Cloud Storage where the report is stored.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reportDataEndTimeMs":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ending time for the data that is shown in the report.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reportDataStartTimeMs":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The starting time for the data that is shown in the report.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":"ReportStatus","additionalProperties":null,"annotations":null,"default":null,"description":"Report status.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ReportStatus":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Report status.","enum":null,"enumDescriptions":null,"format":null,"id":"ReportStatus","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"failure":{"$ref":"ReportFailure","additionalProperties":null,"annotations":null,"default":null,"description":"If the report failed, this records the cause.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"finishTimeMs":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time when this report either completed successfully or failed.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"format":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The file type of the report.","enum":["CSV","EXCEL_CSV","XLSX"],"enumDescriptions":["","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"state":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The state of the report.","enum":["DONE","FAILED","RUNNING"],"enumDescriptions":["","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"RowStatus":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents the upload status of a row in the request.","enum":null,"enumDescriptions":null,"format":null,"id":"RowStatus","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"changed":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the stored entity is changed as a result of upload.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"entityId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Entity Id.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"entityName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Entity name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"errors":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Reasons why the entity can't be uploaded.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"persisted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the entity is persisted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"rowNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Row number.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"RunQueryRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to run a stored query to generate a report.","enum":null,"enumDescriptions":null,"format":null,"id":"RunQueryRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"dataRange":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Report data range used to generate the report.","enum":["ALL_TIME","CURRENT_DAY","CUSTOM_DATES","LAST_14_DAYS","LAST_30_DAYS","LAST_365_DAYS","LAST_7_DAYS","LAST_90_DAYS","MONTH_TO_DATE","PREVIOUS_DAY","PREVIOUS_HALF_MONTH","PREVIOUS_MONTH","PREVIOUS_QUARTER","PREVIOUS_WEEK","PREVIOUS_YEAR","QUARTER_TO_DATE","TYPE_NOT_SUPPORTED","WEEK_TO_DATE","YEAR_TO_DATE"],"enumDescriptions":["","","","","","","","","","","","","","","","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reportDataEndTimeMs":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ending time for the data that is shown in the report. Note, reportDataEndTimeMs is required if dataRange is CUSTOM_DATES and ignored otherwise.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reportDataStartTimeMs":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The starting time for the data that is shown in the report. Note, reportDataStartTimeMs is required if dataRange is CUSTOM_DATES and ignored otherwise.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timezoneCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Canonical timezone code for report data time. Defaults to America/New_York.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UploadLineItemsRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to upload line items.","enum":null,"enumDescriptions":null,"format":null,"id":"UploadLineItemsRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"dryRun":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set to true to get upload status without actually persisting the line items.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"format":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Format the line items are in. Default to CSV.","enum":["CSV"],"enumDescriptions":[""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"lineItems":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Line items in CSV to upload. Refer to  Entity Write File Format for more information on file format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UploadLineItemsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload line items response.","enum":null,"enumDescriptions":null,"format":null,"id":"UploadLineItemsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"uploadStatus":{"$ref":"UploadStatus","additionalProperties":null,"annotations":null,"default":null,"description":"Status of upload.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UploadStatus":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents the status of upload.","enum":null,"enumDescriptions":null,"format":null,"id":"UploadStatus","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"errors":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Reasons why upload can't be completed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"rowStatus":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Per-row upload status.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"RowStatus","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"doubleclickbidmanager/v1/","title":"DoubleClick Bid Manager API","version":"v1","version_module":null}