{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/drive":{"description":"View and manage the files in your Google Drive"},"https://www.googleapis.com/auth/drive.appdata":{"description":"View and manage its own configuration data in your Google Drive"},"https://www.googleapis.com/auth/drive.file":{"description":"View and manage Google Drive files and folders that you have opened or created with this app"},"https://www.googleapis.com/auth/drive.metadata":{"description":"View and manage metadata of files in your Google Drive"},"https://www.googleapis.com/auth/drive.metadata.readonly":{"description":"View metadata for files in your Google Drive"},"https://www.googleapis.com/auth/drive.photos.readonly":{"description":"View the photos, videos and albums in your Google Photos"},"https://www.googleapis.com/auth/drive.readonly":{"description":"View the files in your Google Drive"},"https://www.googleapis.com/auth/drive.scripts":{"description":"Modify your Google Apps Script scripts' behavior"}}}},"basePath":"/drive/v3/","baseUrl":"https://www.googleapis.com/drive/v3/","batchPath":"batch/drive/v3","canonicalName":null,"description":"Manages files in Drive including uploading, downloading, searching, detecting changes, and updating sharing permissions.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/drive/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/HW5w-cFf0U4krsmZXvIvp9JfcBg\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://ssl.gstatic.com/docs/doclist/images/drive_icon_16.png","x32":"https://ssl.gstatic.com/docs/doclist/images/drive_icon_32.png"},"id":"drive:v3","kind":"discovery#restDescription","labels":null,"methods":null,"name":"drive","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"about":{"methods":{"get":{"description":"Gets information about the user, the user's Drive, and system capabilities.","etagRequired":null,"httpMethod":"GET","id":"drive.about.get","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"about","request":null,"response":{"$ref":"About"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"changes":{"methods":{"getStartPageToken":{"description":"Gets the starting pageToken for listing future changes.","etagRequired":null,"httpMethod":"GET","id":"drive.changes.getStartPageToken","mediaUpload":null,"parameterOrder":null,"parameters":{"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"teamDriveId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Team Drive for which the starting pageToken for listing future changes from that Team Drive will be returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"changes/startPageToken","request":null,"response":{"$ref":"StartPageToken"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists the changes for a user or Team Drive.","etagRequired":null,"httpMethod":"GET","id":"drive.changes.list","mediaUpload":null,"parameterOrder":["pageToken"],"parameters":{"includeCorpusRemovals":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"includeRemoved":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"includeTeamDriveItems":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether Team Drive files or changes should be included in results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"100","description":"The maximum number of changes to return per page.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"restrictToMyDrive":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"spaces":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"drive","description":"A comma-separated list of spaces to query within the user corpus. Supported values are 'drive', 'appDataFolder' and 'photos'.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"teamDriveId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Team Drive from which changes will be returned. If specified the change IDs will be reflective of the Team Drive; use the combined Team Drive ID and change ID as an identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"changes","request":null,"response":{"$ref":"ChangeList"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":true,"useMediaDownloadService":null,"ETag":null},"watch":{"description":"Subscribes to changes for a user.","etagRequired":null,"httpMethod":"POST","id":"drive.changes.watch","mediaUpload":null,"parameterOrder":["pageToken"],"parameters":{"includeCorpusRemovals":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"includeRemoved":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"includeTeamDriveItems":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether Team Drive files or changes should be included in results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"100","description":"The maximum number of changes to return per page.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"restrictToMyDrive":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to restrict the results to changes inside the My Drive hierarchy. This omits changes to files such as those in the Application Data folder or shared files which have not been added to My Drive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"spaces":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"drive","description":"A comma-separated list of spaces to query within the user corpus. Supported values are 'drive', 'appDataFolder' and 'photos'.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"teamDriveId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Team Drive from which changes will be returned. If specified the change IDs will be reflective of the Team Drive; use the combined Team Drive ID and change ID as an identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"changes/watch","request":{"$ref":"Channel","parameterName":"resource"},"response":{"$ref":"Channel"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":true,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"channels":{"methods":{"stop":{"description":"Stop watching resources through this channel","etagRequired":null,"httpMethod":"POST","id":"drive.channels.stop","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"channels/stop","request":{"$ref":"Channel","parameterName":"resource"},"response":null,"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"comments":{"methods":{"create":{"description":"Creates a new comment on a file.","etagRequired":null,"httpMethod":"POST","id":"drive.comments.create","mediaUpload":null,"parameterOrder":["fileId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/comments","request":{"$ref":"Comment","parameterName":null},"response":{"$ref":"Comment"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a comment.","etagRequired":null,"httpMethod":"DELETE","id":"drive.comments.delete","mediaUpload":null,"parameterOrder":["fileId","commentId"],"parameters":{"commentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the comment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/comments/{commentId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a comment by ID.","etagRequired":null,"httpMethod":"GET","id":"drive.comments.get","mediaUpload":null,"parameterOrder":["fileId","commentId"],"parameters":{"commentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the comment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"includeDeleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to return deleted comments. Deleted comments will not include their original content.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}/comments/{commentId}","request":null,"response":{"$ref":"Comment"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists a file's comments.","etagRequired":null,"httpMethod":"GET","id":"drive.comments.list","mediaUpload":null,"parameterOrder":["fileId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"includeDeleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to include deleted comments. Deleted comments will not include their original content.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"20","description":"The maximum number of comments to return per page.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"100","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startModifiedTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The minimum value of 'modifiedTime' for the result comments (RFC 3339 date-time).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/comments","request":null,"response":{"$ref":"CommentList"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a comment with patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"drive.comments.update","mediaUpload":null,"parameterOrder":["fileId","commentId"],"parameters":{"commentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the comment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/comments/{commentId}","request":{"$ref":"Comment","parameterName":null},"response":{"$ref":"Comment"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"files":{"methods":{"copy":{"description":"Creates a copy of a file and applies any requested updates with patch semantics.","etagRequired":null,"httpMethod":"POST","id":"drive.files.copy","mediaUpload":null,"parameterOrder":["fileId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ignoreDefaultVisibility":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"keepRevisionForever":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Drive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"ocrLanguage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A language hint for OCR processing during image import (ISO 639-1 code).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}/copy","request":{"$ref":"File","parameterName":null},"response":{"$ref":"File"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.photos.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates a new file.","etagRequired":null,"httpMethod":"POST","id":"drive.files.create","mediaUpload":{"accept":["*/*"],"maxSize":"5120GB","protocols":{"resumable":{"multipart":true,"path":"/resumable/upload/drive/v3/files"},"simple":{"multipart":true,"path":"/upload/drive/v3/files"}}},"parameterOrder":null,"parameters":{"ignoreDefaultVisibility":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to ignore the domain's default visibility settings for the created file. Domain administrators can choose to make all uploaded files visible to the domain by default; this parameter bypasses that behavior for the request. Permissions are still inherited from parent folders.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"keepRevisionForever":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Drive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"ocrLanguage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A language hint for OCR processing during image import (ISO 639-1 code).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"useContentAsIndexableText":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to use the uploaded content as indexable text.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files","request":{"$ref":"File","parameterName":null},"response":{"$ref":"File"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":true,"supportsSubscription":true,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Permanently deletes a file owned by the user without moving it to the trash. If the file belongs to a Team Drive the user must be an organizer on the parent. If the target is a folder, all descendants owned by the user are also deleted.","etagRequired":null,"httpMethod":"DELETE","id":"drive.files.delete","mediaUpload":null,"parameterOrder":["fileId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"emptyTrash":{"description":"Permanently deletes all of the user's trashed files.","etagRequired":null,"httpMethod":"DELETE","id":"drive.files.emptyTrash","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"files/trash","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/drive"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"export":{"description":"Exports a Google Doc to the requested MIME type and returns the exported content. Please note that the exported content is limited to 10MB.","etagRequired":null,"httpMethod":"GET","id":"drive.files.export","mediaUpload":null,"parameterOrder":["fileId","mimeType"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"mimeType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The MIME type of the format requested for this export.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/export","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":true,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"generateIds":{"description":"Generates a set of file IDs which can be provided in create requests.","etagRequired":null,"httpMethod":"GET","id":"drive.files.generateIds","mediaUpload":null,"parameterOrder":null,"parameters":{"count":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"10","description":"The number of IDs to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"space":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"drive","description":"The space in which the IDs can be used to create new files. Supported values are 'drive' and 'appDataFolder'.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"files/generateIds","request":null,"response":{"$ref":"GeneratedIds"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a file's metadata or content by ID.","etagRequired":null,"httpMethod":"GET","id":"drive.files.get","mediaUpload":null,"parameterOrder":["fileId"],"parameters":{"acknowledgeAbuse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}","request":null,"response":{"$ref":"File"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":true,"supportsMediaUpload":null,"supportsSubscription":true,"useMediaDownloadService":true,"ETag":null},"list":{"description":"Lists or searches files.","etagRequired":null,"httpMethod":"GET","id":"drive.files.list","mediaUpload":null,"parameterOrder":null,"parameters":{"corpora":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Comma-separated list of bodies of items (files/documents) to which the query applies. Supported bodies are 'user', 'domain', 'teamDrive' and 'allTeamDrives'. 'allTeamDrives' must be combined with 'user'; all other values must be used in isolation. Prefer 'user' or 'teamDrive' to 'allTeamDrives' for efficiency.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"corpus":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The source of files to list. Deprecated: use 'corpora' instead.","enum":["domain","user"],"enumDescriptions":["Files shared to the user's domain.","Files owned by or shared to the user."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"includeTeamDriveItems":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether Team Drive items should be included in results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"orderBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of sort keys. Valid keys are 'createdTime', 'folder', 'modifiedByMeTime', 'modifiedTime', 'name', 'name_natural', 'quotaBytesUsed', 'recency', 'sharedWithMeTime', 'starred', and 'viewedByMeTime'. Each key sorts ascending by default, but may be reversed with the 'desc' modifier. Example usage: ?orderBy=folder,modifiedTime desc,name. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"100","description":"The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"q":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A query for filtering the file results. See the \"Search for Files\" guide for supported syntax.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"spaces":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"drive","description":"A comma-separated list of spaces to query within the corpus. Supported values are 'drive', 'appDataFolder' and 'photos'.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"teamDriveId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of Team Drive to search.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"files","request":null,"response":{"$ref":"FileList"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a file's metadata and/or content with patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"drive.files.update","mediaUpload":{"accept":["*/*"],"maxSize":"5120GB","protocols":{"resumable":{"multipart":true,"path":"/resumable/upload/drive/v3/files/{fileId}"},"simple":{"multipart":true,"path":"/upload/drive/v3/files/{fileId}"}}},"parameterOrder":["fileId"],"parameters":{"addParents":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of parent IDs to add.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"keepRevisionForever":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to set the 'keepForever' field in the new head revision. This is only applicable to files with binary content in Drive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"ocrLanguage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A language hint for OCR processing during image import (ISO 639-1 code).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"removeParents":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of parent IDs to remove.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"useContentAsIndexableText":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to use the uploaded content as indexable text.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}","request":{"$ref":"File","parameterName":null},"response":{"$ref":"File"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.scripts"],"supportsMediaDownload":null,"supportsMediaUpload":true,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"watch":{"description":"Subscribes to changes to a file","etagRequired":null,"httpMethod":"POST","id":"drive.files.watch","mediaUpload":null,"parameterOrder":["fileId"],"parameters":{"acknowledgeAbuse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}/watch","request":{"$ref":"Channel","parameterName":"resource"},"response":{"$ref":"Channel"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":true,"supportsMediaUpload":null,"supportsSubscription":true,"useMediaDownloadService":true,"ETag":null}},"resources":null,"ETag":null},"permissions":{"methods":{"create":{"description":"Creates a permission for a file or Team Drive.","etagRequired":null,"httpMethod":"POST","id":"drive.permissions.create","mediaUpload":null,"parameterOrder":["fileId"],"parameters":{"emailMessage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A custom message to include in the notification email.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file or Team Drive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sendNotificationEmail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to send a notification email when sharing to users or groups. This defaults to true for users and groups, and is not allowed for other requests. It must not be disabled for ownership transfers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"transferOwnership":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}/permissions","request":{"$ref":"Permission","parameterName":null},"response":{"$ref":"Permission"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a permission.","etagRequired":null,"httpMethod":"DELETE","id":"drive.permissions.delete","mediaUpload":null,"parameterOrder":["fileId","permissionId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file or Team Drive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"permissionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the permission.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}/permissions/{permissionId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a permission by ID.","etagRequired":null,"httpMethod":"GET","id":"drive.permissions.get","mediaUpload":null,"parameterOrder":["fileId","permissionId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"permissionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the permission.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}/permissions/{permissionId}","request":null,"response":{"$ref":"Permission"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists a file's or Team Drive's permissions.","etagRequired":null,"httpMethod":"GET","id":"drive.permissions.list","mediaUpload":null,"parameterOrder":["fileId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file or Team Drive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of permissions to return per page. When not set for files in a Team Drive, at most 100 results will be returned. When not set for files that are not in a Team Drive, the entire list will be returned.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"100","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}/permissions","request":null,"response":{"$ref":"PermissionList"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a permission with patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"drive.permissions.update","mediaUpload":null,"parameterOrder":["fileId","permissionId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file or Team Drive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"permissionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the permission.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"removeExpiration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to remove the expiration date.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"transferOwnership":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to transfer ownership to the specified user and downgrade the current owner to a writer. This parameter is required as an acknowledgement of the side effect.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}/permissions/{permissionId}","request":{"$ref":"Permission","parameterName":null},"response":{"$ref":"Permission"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"replies":{"methods":{"create":{"description":"Creates a new reply to a comment.","etagRequired":null,"httpMethod":"POST","id":"drive.replies.create","mediaUpload":null,"parameterOrder":["fileId","commentId"],"parameters":{"commentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the comment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/comments/{commentId}/replies","request":{"$ref":"Reply","parameterName":null},"response":{"$ref":"Reply"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a reply.","etagRequired":null,"httpMethod":"DELETE","id":"drive.replies.delete","mediaUpload":null,"parameterOrder":["fileId","commentId","replyId"],"parameters":{"commentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the comment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"replyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the reply.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/comments/{commentId}/replies/{replyId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a reply by ID.","etagRequired":null,"httpMethod":"GET","id":"drive.replies.get","mediaUpload":null,"parameterOrder":["fileId","commentId","replyId"],"parameters":{"commentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the comment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"includeDeleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to return deleted replies. Deleted replies will not include their original content.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"replyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the reply.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/comments/{commentId}/replies/{replyId}","request":null,"response":{"$ref":"Reply"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists a comment's replies.","etagRequired":null,"httpMethod":"GET","id":"drive.replies.list","mediaUpload":null,"parameterOrder":["fileId","commentId"],"parameters":{"commentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the comment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"includeDeleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to include deleted replies. Deleted replies will not include their original content.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"20","description":"The maximum number of replies to return per page.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"100","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/comments/{commentId}/replies","request":null,"response":{"$ref":"ReplyList"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a reply with patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"drive.replies.update","mediaUpload":null,"parameterOrder":["fileId","commentId","replyId"],"parameters":{"commentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the comment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"replyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the reply.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/comments/{commentId}/replies/{replyId}","request":{"$ref":"Reply","parameterName":null},"response":{"$ref":"Reply"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"revisions":{"methods":{"delete":{"description":"Permanently deletes a revision. This method is only applicable to files with binary content in Drive.","etagRequired":null,"httpMethod":"DELETE","id":"drive.revisions.delete","mediaUpload":null,"parameterOrder":["fileId","revisionId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"revisionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the revision.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/revisions/{revisionId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a revision's metadata or content by ID.","etagRequired":null,"httpMethod":"GET","id":"drive.revisions.get","mediaUpload":null,"parameterOrder":["fileId","revisionId"],"parameters":{"acknowledgeAbuse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the user is acknowledging the risk of downloading known malware or other abusive files. This is only applicable when alt=media.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"revisionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the revision.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/revisions/{revisionId}","request":null,"response":{"$ref":"Revision"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":true,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":true,"ETag":null},"list":{"description":"Lists a file's revisions.","etagRequired":null,"httpMethod":"GET","id":"drive.revisions.list","mediaUpload":null,"parameterOrder":["fileId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"200","description":"The maximum number of revisions to return per page.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/revisions","request":null,"response":{"$ref":"RevisionList"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a revision with patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"drive.revisions.update","mediaUpload":null,"parameterOrder":["fileId","revisionId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"revisionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the revision.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/revisions/{revisionId}","request":{"$ref":"Revision","parameterName":null},"response":{"$ref":"Revision"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"teamdrives":{"methods":{"create":{"description":"Creates a new Team Drive.","etagRequired":null,"httpMethod":"POST","id":"drive.teamdrives.create","mediaUpload":null,"parameterOrder":["requestId"],"parameters":{"requestId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An ID, such as a random UUID, which uniquely identifies this user's request for idempotent creation of a Team Drive. A repeated request by the same user and with the same request ID will avoid creating duplicates by attempting to create the same Team Drive. If the Team Drive already exists a 409 error will be returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"teamdrives","request":{"$ref":"TeamDrive","parameterName":null},"response":{"$ref":"TeamDrive"},"scopes":["https://www.googleapis.com/auth/drive"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Permanently deletes a Team Drive for which the user is an organizer. The Team Drive cannot contain any untrashed items.","etagRequired":null,"httpMethod":"DELETE","id":"drive.teamdrives.delete","mediaUpload":null,"parameterOrder":["teamDriveId"],"parameters":{"teamDriveId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Team Drive","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"teamdrives/{teamDriveId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/drive"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a Team Drive's metadata by ID.","etagRequired":null,"httpMethod":"GET","id":"drive.teamdrives.get","mediaUpload":null,"parameterOrder":["teamDriveId"],"parameters":{"teamDriveId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Team Drive","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"teamdrives/{teamDriveId}","request":null,"response":{"$ref":"TeamDrive"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists the user's Team Drives.","etagRequired":null,"httpMethod":"GET","id":"drive.teamdrives.list","mediaUpload":null,"parameterOrder":null,"parameters":{"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"10","description":"Maximum number of Team Drives to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"100","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Page token for Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"teamdrives","request":null,"response":{"$ref":"TeamDriveList"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a Team Drive's metadata","etagRequired":null,"httpMethod":"PATCH","id":"drive.teamdrives.update","mediaUpload":null,"parameterOrder":["teamDriveId"],"parameters":{"teamDriveId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Team Drive","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"teamdrives/{teamDriveId}","request":{"$ref":"TeamDrive","parameterName":null},"response":{"$ref":"TeamDrive"},"scopes":["https://www.googleapis.com/auth/drive"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20170929","rootUrl":"https://www.googleapis.com/","schemas":{"About":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Information about the user, the user's Drive, and system capabilities.","enum":null,"enumDescriptions":null,"format":null,"id":"About","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"appInstalled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the user has installed the requesting app.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"exportFormats":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"annotations":null,"default":null,"description":"A map of source MIME type to possible targets for all supported exports.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"folderColorPalette":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The currently supported folder colors as RGB hex strings.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"importFormats":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"annotations":null,"default":null,"description":"A map of source MIME type to possible targets for all supported imports.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"drive#about","description":"Identifies what kind of resource this is. Value: the fixed string \"drive#about\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxImportSizes":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"annotations":null,"default":null,"description":"A map of maximum import sizes by MIME type, in bytes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"maxUploadSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum upload size in bytes.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"storageQuota":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The user's storage quota limits and usage. All fields are measured in bytes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"limit":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The usage limit, if applicable. This will not be present if the user has unlimited storage.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"usage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The total usage across all services.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"usageInDrive":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The usage by all files in Google Drive.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"usageInDriveTrash":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The usage by trashed files in Google Drive.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"teamDriveThemes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of themes that are supported for Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"backgroundImageLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A link to this Team Drive theme's background image.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"colorRgb":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The color of this Team Drive theme as an RGB hex string.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the theme.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"user":{"$ref":"User","additionalProperties":null,"annotations":null,"default":null,"description":"The authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Change":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A change to a file or Team Drive.","enum":null,"enumDescriptions":null,"format":null,"id":"Change","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"file":{"$ref":"File","additionalProperties":null,"annotations":null,"default":null,"description":"The updated state of the file. Present if the type is file and the file has not been removed from this list of changes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file which has changed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"drive#change","description":"Identifies what kind of resource this is. Value: the fixed string \"drive#change\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"removed":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the file or Team Drive has been removed from this list of changes, for example by deletion or loss of access.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"teamDrive":{"$ref":"TeamDrive","additionalProperties":null,"annotations":null,"default":null,"description":"The updated state of the Team Drive. Present if the type is teamDrive, the user is still a member of the Team Drive, and the Team Drive has not been removed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"teamDriveId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Team Drive associated with this change.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"time":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time of this change (RFC 3339 date-time).","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of the change. Possible values are file and teamDrive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ChangeList":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of changes for a user.","enum":null,"enumDescriptions":null,"format":null,"id":"ChangeList","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"changes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of changes. If nextPageToken is populated, then this list may be incomplete and an additional page of results should be fetched.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Change","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"drive#changeList","description":"Identifies what kind of resource this is. Value: the fixed string \"drive#changeList\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"newStartPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The starting page token for future changes. This will be present only if the end of the current changes list has been reached.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"re
[...]
