{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/drive":{"description":"View and manage the files in your Google Drive"},"https://www.googleapis.com/auth/drive.appdata":{"description":"View and manage its own configuration data in your Google Drive"},"https://www.googleapis.com/auth/drive.apps.readonly":{"description":"View your Google Drive apps"},"https://www.googleapis.com/auth/drive.file":{"description":"View and manage Google Drive files and folders that you have opened or created with this app"},"https://www.googleapis.com/auth/drive.metadata":{"description":"View and manage metadata of files in your Google Drive"},"https://www.googleapis.com/auth/drive.metadata.readonly":{"description":"View metadata for files in your Google Drive"},"https://www.googleapis.com/auth/drive.photos.readonly":{"description":"View the photos, videos and albums in your Google Photos"},"https://www.googleapis.com/auth/drive.readonly":{"description":"View the files in your Google Drive"},"https://www.googleapis.com/auth/drive.scripts":{"description":"Modify your Google Apps Script scripts' behavior"}}}},"basePath":"/drive/v2/","baseUrl":"https://www.googleapis.com/drive/v2/","batchPath":"batch/drive/v2","canonicalName":null,"description":"Manages files in Drive including uploading, downloading, searching, detecting changes, and updating sharing permissions.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/drive/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/1RCkqkDVxjzKcg79tVyn2P5sSLo\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://ssl.gstatic.com/docs/doclist/images/drive_icon_16.png","x32":"https://ssl.gstatic.com/docs/doclist/images/drive_icon_32.png"},"id":"drive:v2","kind":"discovery#restDescription","labels":null,"methods":null,"name":"drive","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"about":{"methods":{"get":{"description":"Gets the information about the current user along with Drive API settings","etagRequired":null,"httpMethod":"GET","id":"drive.about.get","mediaUpload":null,"parameterOrder":null,"parameters":{"includeSubscribed":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"When calculating the number of remaining change IDs, whether to include public files the user has opened and shared files. When set to false, this counts only change IDs for owned files and any shared or public files that the user has explicitly added to a folder they own.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"maxChangeIdCount":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"1","description":"Maximum number of remaining change IDs to count","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startChangeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Change ID to start counting from when calculating number of remaining change IDs","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"about","request":null,"response":{"$ref":"About"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"apps":{"methods":{"get":{"description":"Gets a specific app.","etagRequired":null,"httpMethod":"GET","id":"drive.apps.get","mediaUpload":null,"parameterOrder":["appId"],"parameters":{"appId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the app.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"apps/{appId}","request":null,"response":{"$ref":"App"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.apps.readonly","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists a user's installed apps.","etagRequired":null,"httpMethod":"GET","id":"drive.apps.list","mediaUpload":null,"parameterOrder":null,"parameters":{"appFilterExtensions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"","description":"A comma-separated list of file extensions for open with filtering. All apps within the given app query scope which can open any of the given file extensions will be included in the response. If appFilterMimeTypes are provided as well, the result is a union of the two resulting app lists.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"appFilterMimeTypes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"","description":"A comma-separated list of MIME types for open with filtering. All apps within the given app query scope which can open any of the given MIME types will be included in the response. If appFilterExtensions are provided as well, the result is a union of the two resulting app lists.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"languageCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A language or locale code, as defined by BCP 47, with some extensions from Unicode's LDML format (http://www.unicode.org/reports/tr35/).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"apps","request":null,"response":{"$ref":"AppList"},"scopes":["https://www.googleapis.com/auth/drive.apps.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"changes":{"methods":{"get":{"description":"Gets a specific change.","etagRequired":null,"httpMethod":"GET","id":"drive.changes.get","mediaUpload":null,"parameterOrder":["changeId"],"parameters":{"changeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the change.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"teamDriveId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Team Drive from which the change will be returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"changes/{changeId}","request":null,"response":{"$ref":"Change"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.apps.readonly","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getStartPageToken":{"description":"Gets the starting pageToken for listing future changes.","etagRequired":null,"httpMethod":"GET","id":"drive.changes.getStartPageToken","mediaUpload":null,"parameterOrder":null,"parameters":{"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"teamDriveId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Team Drive for which the starting pageToken for listing future changes from that Team Drive will be returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"changes/startPageToken","request":null,"response":{"$ref":"StartPageToken"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.apps.readonly","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists the changes for a user or Team Drive.","etagRequired":null,"httpMethod":"GET","id":"drive.changes.list","mediaUpload":null,"parameterOrder":null,"parameters":{"includeCorpusRemovals":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"includeDeleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"includeSubscribed":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Whether to include public files the user has opened and shared files. When set to false, the list only includes owned files plus any shared or public files the user has explicitly added to a folder they own.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"includeTeamDriveItems":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether Team Drive files or changes should be included in results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"100","description":"Maximum number of changes to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"spaces":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of spaces to query. Supported values are 'drive', 'appDataFolder' and 'photos'.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startChangeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Change ID to start listing changes from.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"teamDriveId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Team Drive from which changes will be returned. If specified the change IDs will be reflective of the Team Drive; use the combined Team Drive ID and change ID as an identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"changes","request":null,"response":{"$ref":"ChangeList"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.apps.readonly","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":true,"useMediaDownloadService":null,"ETag":null},"watch":{"description":"Subscribe to changes for a user.","etagRequired":null,"httpMethod":"POST","id":"drive.changes.watch","mediaUpload":null,"parameterOrder":null,"parameters":{"includeCorpusRemovals":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether changes should include the file resource if the file is still accessible by the user at the time of the request, even when a file was removed from the list of changes and there will be no further change entries for this file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"includeDeleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Whether to include changes indicating that items have been removed from the list of changes, for example by deletion or loss of access.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"includeSubscribed":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Whether to include public files the user has opened and shared files. When set to false, the list only includes owned files plus any shared or public files the user has explicitly added to a folder they own.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"includeTeamDriveItems":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether Team Drive files or changes should be included in results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"100","description":"Maximum number of changes to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token for continuing a previous list request on the next page. This should be set to the value of 'nextPageToken' from the previous response or to the response from the getStartPageToken method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"spaces":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of spaces to query. Supported values are 'drive', 'appDataFolder' and 'photos'.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startChangeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Change ID to start listing changes from.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"teamDriveId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Team Drive from which changes will be returned. If specified the change IDs will be reflective of the Team Drive; use the combined Team Drive ID and change ID as an identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"changes/watch","request":{"$ref":"Channel","parameterName":"resource"},"response":{"$ref":"Channel"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.apps.readonly","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":true,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"channels":{"methods":{"stop":{"description":"Stop watching resources through this channel","etagRequired":null,"httpMethod":"POST","id":"drive.channels.stop","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"channels/stop","request":{"$ref":"Channel","parameterName":"resource"},"response":null,"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.apps.readonly","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"children":{"methods":{"delete":{"description":"Removes a child from a folder.","etagRequired":null,"httpMethod":"DELETE","id":"drive.children.delete","mediaUpload":null,"parameterOrder":["folderId","childId"],"parameters":{"childId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the child.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"folderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the folder.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"files/{folderId}/children/{childId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a specific child reference.","etagRequired":null,"httpMethod":"GET","id":"drive.children.get","mediaUpload":null,"parameterOrder":["folderId","childId"],"parameters":{"childId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the child.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"folderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the folder.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"files/{folderId}/children/{childId}","request":null,"response":{"$ref":"ChildReference"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Inserts a file into a folder.","etagRequired":null,"httpMethod":"POST","id":"drive.children.insert","mediaUpload":null,"parameterOrder":["folderId"],"parameters":{"folderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the folder.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{folderId}/children","request":{"$ref":"ChildReference","parameterName":null},"response":{"$ref":"ChildReference"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists a folder's children.","etagRequired":null,"httpMethod":"GET","id":"drive.children.list","mediaUpload":null,"parameterOrder":["folderId"],"parameters":{"folderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the folder.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"100","description":"Maximum number of children to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"orderBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of sort keys. Valid keys are 'createdDate', 'folder', 'lastViewedByMeDate', 'modifiedByMeDate', 'modifiedDate', 'quotaBytesUsed', 'recency', 'sharedWithMeDate', 'starred', and 'title'. Each key sorts ascending by default, but may be reversed with the 'desc' modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Page token for children.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"q":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Query string for searching children.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"files/{folderId}/children","request":null,"response":{"$ref":"ChildList"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"comments":{"methods":{"delete":{"description":"Deletes a comment.","etagRequired":null,"httpMethod":"DELETE","id":"drive.comments.delete","mediaUpload":null,"parameterOrder":["fileId","commentId"],"parameters":{"commentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the comment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/comments/{commentId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a comment by ID.","etagRequired":null,"httpMethod":"GET","id":"drive.comments.get","mediaUpload":null,"parameterOrder":["fileId","commentId"],"parameters":{"commentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the comment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"includeDeleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"If set, this will succeed when retrieving a deleted comment, and will include any deleted replies.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}/comments/{commentId}","request":null,"response":{"$ref":"Comment"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a new comment on the given file.","etagRequired":null,"httpMethod":"POST","id":"drive.comments.insert","mediaUpload":null,"parameterOrder":["fileId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/comments","request":{"$ref":"Comment","parameterName":null},"response":{"$ref":"Comment"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists a file's comments.","etagRequired":null,"httpMethod":"GET","id":"drive.comments.list","mediaUpload":null,"parameterOrder":["fileId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"includeDeleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"If set, all comments and replies, including deleted comments and replies (with content stripped) will be returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"20","description":"The maximum number of discussions to include in the response, used for paging.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"100","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The continuation token, used to page through large result sets. To get the next page of results, set this parameter to the value of \"nextPageToken\" from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"updatedMin":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Only discussions that were updated after this timestamp will be returned. Formatted as an RFC 3339 timestamp.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/comments","request":null,"response":{"$ref":"CommentList"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an existing comment. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"drive.comments.patch","mediaUpload":null,"parameterOrder":["fileId","commentId"],"parameters":{"commentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the comment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/comments/{commentId}","request":{"$ref":"Comment","parameterName":null},"response":{"$ref":"Comment"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an existing comment.","etagRequired":null,"httpMethod":"PUT","id":"drive.comments.update","mediaUpload":null,"parameterOrder":["fileId","commentId"],"parameters":{"commentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the comment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/comments/{commentId}","request":{"$ref":"Comment","parameterName":null},"response":{"$ref":"Comment"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"files":{"methods":{"copy":{"description":"Creates a copy of the specified file.","etagRequired":null,"httpMethod":"POST","id":"drive.files.copy","mediaUpload":null,"parameterOrder":["fileId"],"parameters":{"convert":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to convert this file to the corresponding Google Docs format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file to copy.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ocr":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"ocrLanguage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If ocr is true, hints at the language to use. Valid values are BCP 47 codes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pinned":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to pin the head revision of the new copy. A file can have a maximum of 200 pinned revisions.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"timedTextLanguage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language of the timed text.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timedTextTrackName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The timed text track name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"visibility":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"DEFAULT","description":"The visibility of the new file. This parameter is only relevant when the source is not a native Google Doc and convert=false.","enum":["DEFAULT","PRIVATE"],"enumDescriptions":["The visibility of the new file is determined by the user's default visibility/sharing policies.","The new file will be visible to only the owner."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/copy","request":{"$ref":"File","parameterName":null},"response":{"$ref":"File"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.apps.readonly","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.photos.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Permanently deletes a file by ID. Skips the trash. The currently authenticated user must own the file or be an organizer on the parent for Team Drive files.","etagRequired":null,"httpMethod":"DELETE","id":"drive.files.delete","mediaUpload":null,"parameterOrder":["fileId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"emptyTrash":{"description":"Permanently deletes all of the user's trashed files.","etagRequired":null,"httpMethod":"DELETE","id":"drive.files.emptyTrash","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"files/trash","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/drive"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"export":{"description":"Exports a Google Doc to the requested MIME type and returns the exported content. Please note that the exported content is limited to 10MB.","etagRequired":null,"httpMethod":"GET","id":"drive.files.export","mediaUpload":null,"parameterOrder":["fileId","mimeType"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"mimeType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The MIME type of the format requested for this export.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/export","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":true,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"generateIds":{"description":"Generates a set of file IDs which can be provided in insert requests.","etagRequired":null,"httpMethod":"GET","id":"drive.files.generateIds","mediaUpload":null,"parameterOrder":null,"parameters":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"10","description":"Maximum number of IDs to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"space":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"drive","description":"The space in which the IDs can be used to create new files. Supported values are 'drive' and 'appDataFolder'.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"files/generateIds","request":null,"response":{"$ref":"GeneratedIds"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a file's metadata by ID.","etagRequired":null,"httpMethod":"GET","id":"drive.files.get","mediaUpload":null,"parameterOrder":["fileId"],"parameters":{"acknowledgeAbuse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the user is acknowledging the risk of downloading known malware or other abusive files.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID for the file in question.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This parameter is deprecated and has no function.","enum":["BASIC","FULL"],"enumDescriptions":["Deprecated","Deprecated"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"revisionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"updateViewedDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Deprecated: Use files.update with modifiedDateBehavior=noChange, updateViewedDate=true and an empty request body.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}","request":null,"response":{"$ref":"File"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":true,"supportsMediaUpload":null,"supportsSubscription":true,"useMediaDownloadService":true,"ETag":null},"insert":{"description":"Insert a new file.","etagRequired":null,"httpMethod":"POST","id":"drive.files.insert","mediaUpload":{"accept":["*/*"],"maxSize":"5120GB","protocols":{"resumable":{"multipart":true,"path":"/resumable/upload/drive/v2/files"},"simple":{"multipart":true,"path":"/upload/drive/v2/files"}}},"parameterOrder":null,"parameters":{"convert":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to convert this file to the corresponding Google Docs format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"ocr":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"ocrLanguage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If ocr is true, hints at the language to use. Valid values are BCP 47 codes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pinned":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to pin the head revision of the uploaded file. A file can have a maximum of 200 pinned revisions.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"timedTextLanguage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language of the timed text.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timedTextTrackName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The timed text track name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"useContentAsIndexableText":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to use the content as indexable text.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"visibility":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"DEFAULT","description":"The visibility of the new file. This parameter is only relevant when convert=false.","enum":["DEFAULT","PRIVATE"],"enumDescriptions":["The visibility of the new file is determined by the user's default visibility/sharing policies.","The new file will be visible to only the owner."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"files","request":{"$ref":"File","parameterName":null},"response":{"$ref":"File"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.apps.readonly","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":true,"supportsSubscription":true,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists the user's files.","etagRequired":null,"httpMethod":"GET","id":"drive.files.list","mediaUpload":null,"parameterOrder":null,"parameters":{"corpora":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Comma-separated list of bodies of items (files/documents) to which the query applies. Supported bodies are 'default', 'domain', 'teamDrive' and 'allTeamDrives'. 'allTeamDrives' must be combined with 'default'; all other values must be used in isolation. Prefer 'default' or 'teamDrive' to 'allTeamDrives' for efficiency.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"corpus":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The body of items (files/documents) to which the query applies. Deprecated: use 'corpora' instead.","enum":["DEFAULT","DOMAIN"],"enumDescriptions":["The items that the user has accessed.","Items shared to the user's domain."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"includeTeamDriveItems":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether Team Drive items should be included in results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"100","description":"The maximum number of files to return per page. Partial or empty result pages are possible even before the end of the files list has been reached.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"orderBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of sort keys. Valid keys are 'createdDate', 'folder', 'lastViewedByMeDate', 'modifiedByMeDate', 'modifiedDate', 'quotaBytesUsed', 'recency', 'sharedWithMeDate', 'starred', 'title', and 'title_natural'. Each key sorts ascending by default, but may be reversed with the 'desc' modifier. Example usage: ?orderBy=folder,modifiedDate desc,title. Please note that there is a current limitation for users with approximately one million files in which the requested sort order is ignored.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Page token for files.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This parameter is deprecated and has no function.","enum":["BASIC","FULL"],"enumDescriptions":["Deprecated","Deprecated"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"q":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Query string for searching files.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"spaces":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A comma-separated list of spaces to query. Supported values are 'drive', 'appDataFolder' and 'photos'.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"teamDriveId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of Team Drive to search.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"files","request":null,"response":{"$ref":"FileList"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.apps.readonly","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates file metadata and/or content. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"drive.files.patch","mediaUpload":null,"parameterOrder":["fileId"],"parameters":{"addParents":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Comma-separated list of parent IDs to add.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"convert":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"This parameter is deprecated and has no function.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"modifiedDateBehavior":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Determines the behavior in which modifiedDate is updated. This overrides setModifiedDate.","enum":["fromBody","fromBodyIfNeeded","fromBodyOrNow","noChange","now","nowIfNeeded"],"enumDescriptions":["Set modifiedDate to the value provided in the body of the request. No change if no value was provided.","Set modifiedDate to the value provided in the body of the request depending on other contents of the update.","Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.","Maintain the previous value of modifiedDate.","Set modifiedDate to the current time.","Set modifiedDate to the current time depending on contents of the update."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"newRevision":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the Drive Help Center.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"ocr":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"ocrLanguage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If ocr is true, hints at the language to use. Valid values are BCP 47 codes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pinned":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to pin the new revision. A file can have a maximum of 200 pinned revisions.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"removeParents":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Comma-separated list of parent IDs to remove.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"setModifiedDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to set the modified date with the supplied modified date.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"timedTextLanguage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language of the timed text.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timedTextTrackName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The timed text track name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"updateViewedDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Whether to update the view date after successfully updating the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"useContentAsIndexableText":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to use the content as indexable text.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}","request":{"$ref":"File","parameterName":null},"response":{"$ref":"File"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.apps.readonly","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.scripts"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"touch":{"description":"Set the file's updated time to the current server time.","etagRequired":null,"httpMethod":"POST","id":"drive.files.touch","mediaUpload":null,"parameterOrder":["fileId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}/touch","request":null,"response":{"$ref":"File"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.apps.readonly","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"trash":{"description":"Moves a file to the trash. The currently authenticated user must own the file or be an organizer on the parent for Team Drive files.","etagRequired":null,"httpMethod":"POST","id":"drive.files.trash","mediaUpload":null,"parameterOrder":["fileId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file to trash.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}/trash","request":null,"response":{"$ref":"File"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.apps.readonly","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"untrash":{"description":"Restores a file from the trash.","etagRequired":null,"httpMethod":"POST","id":"drive.files.untrash","mediaUpload":null,"parameterOrder":["fileId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file to untrash.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}/untrash","request":null,"response":{"$ref":"File"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.apps.readonly","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates file metadata and/or content.","etagRequired":null,"httpMethod":"PUT","id":"drive.files.update","mediaUpload":{"accept":["*/*"],"maxSize":"5120GB","protocols":{"resumable":{"multipart":true,"path":"/resumable/upload/drive/v2/files/{fileId}"},"simple":{"multipart":true,"path":"/upload/drive/v2/files/{fileId}"}}},"parameterOrder":["fileId"],"parameters":{"addParents":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Comma-separated list of parent IDs to add.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"convert":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"This parameter is deprecated and has no function.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"modifiedDateBehavior":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Determines the behavior in which modifiedDate is updated. This overrides setModifiedDate.","enum":["fromBody","fromBodyIfNeeded","fromBodyOrNow","noChange","now","nowIfNeeded"],"enumDescriptions":["Set modifiedDate to the value provided in the body of the request. No change if no value was provided.","Set modifiedDate to the value provided in the body of the request depending on other contents of the update.","Set modifiedDate to the value provided in the body of the request, or to the current time if no value was provided.","Maintain the previous value of modifiedDate.","Set modifiedDate to the current time.","Set modifiedDate to the current time depending on contents of the update."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"newRevision":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Whether a blob upload should create a new revision. If false, the blob data in the current head revision is replaced. If true or not set, a new blob is created as head revision, and previous unpinned revisions are preserved for a short period of time. Pinned revisions are stored indefinitely, using additional storage quota, up to a maximum of 200 revisions. For details on how revisions are retained, see the Drive Help Center.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"ocr":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to attempt OCR on .jpg, .png, .gif, or .pdf uploads.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"ocrLanguage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If ocr is true, hints at the language to use. Valid values are BCP 47 codes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pinned":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to pin the new revision. A file can have a maximum of 200 pinned revisions.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"removeParents":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Comma-separated list of parent IDs to remove.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"setModifiedDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to set the modified date with the supplied modified date.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"timedTextLanguage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language of the timed text.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timedTextTrackName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The timed text track name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"updateViewedDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Whether to update the view date after successfully updating the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"useContentAsIndexableText":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether to use the content as indexable text.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}","request":{"$ref":"File","parameterName":null},"response":{"$ref":"File"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.apps.readonly","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.scripts"],"supportsMediaDownload":null,"supportsMediaUpload":true,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"watch":{"description":"Subscribe to changes on a file","etagRequired":null,"httpMethod":"POST","id":"drive.files.watch","mediaUpload":null,"parameterOrder":["fileId"],"parameters":{"acknowledgeAbuse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the user is acknowledging the risk of downloading known malware or other abusive files.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID for the file in question.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This parameter is deprecated and has no function.","enum":["BASIC","FULL"],"enumDescriptions":["Deprecated","Deprecated"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"revisionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies the Revision ID that should be downloaded. Ignored unless alt=media is specified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"updateViewedDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Deprecated: Use files.update with modifiedDateBehavior=noChange, updateViewedDate=true and an empty request body.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}/watch","request":{"$ref":"Channel","parameterName":"resource"},"response":{"$ref":"Channel"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":true,"supportsMediaUpload":null,"supportsSubscription":true,"useMediaDownloadService":true,"ETag":null}},"resources":null,"ETag":null},"parents":{"methods":{"delete":{"description":"Removes a parent from a file.","etagRequired":null,"httpMethod":"DELETE","id":"drive.parents.delete","mediaUpload":null,"parameterOrder":["fileId","parentId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"parentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the parent.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/parents/{parentId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a specific parent reference.","etagRequired":null,"httpMethod":"GET","id":"drive.parents.get","mediaUpload":null,"parameterOrder":["fileId","parentId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"parentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the parent.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/parents/{parentId}","request":null,"response":{"$ref":"ParentReference"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Adds a parent folder for a file.","etagRequired":null,"httpMethod":"POST","id":"drive.parents.insert","mediaUpload":null,"parameterOrder":["fileId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}/parents","request":{"$ref":"ParentReference","parameterName":null},"response":{"$ref":"ParentReference"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists a file's parents.","etagRequired":null,"httpMethod":"GET","id":"drive.parents.list","mediaUpload":null,"parameterOrder":["fileId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the file.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"files/{fileId}/parents","request":null,"response":{"$ref":"ParentList"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"permissions":{"methods":{"delete":{"description":"Deletes a permission from a file or Team Drive.","etagRequired":null,"httpMethod":"DELETE","id":"drive.permissions.delete","mediaUpload":null,"parameterOrder":["fileId","permissionId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID for the file or Team Drive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"permissionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID for the permission.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}/permissions/{permissionId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a permission by ID.","etagRequired":null,"httpMethod":"GET","id":"drive.permissions.get","mediaUpload":null,"parameterOrder":["fileId","permissionId"],"parameters":{"fileId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID for the file or Team Drive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"permissionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID for the permission.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"supportsTeamDrives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Whether the requesting application supports Team Drives.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"files/{fileId}/permissions/{permissionId}","request":null,"response":{"$ref":"Permission"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.metadata","https://www.googleapis.com/auth/drive.metadata.readonly","https://www.googleapis.com/auth/drive.photos.readonly","https://www.googleapis.com/auth/drive.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getIdForEmail":{"description":"Returns the permission ID for an email address.","etagRequired":null,"httpMethod":"GET","id":"drive.permissions.getIdForEmail","mediaUpload":null,"parameterOrder":["email"],"parameters":{"email":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The email address for which to return a permission ID","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"permissionIds/{email}","request":null,"
[...]
