{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/fitness.activity.read":{"description":"View your activity information in Google Fit"},"https://www.googleapis.com/auth/fitness.activity.write":{"description":"View and store your activity information in Google Fit"},"https://www.googleapis.com/auth/fitness.blood_glucose.read":{"description":"View blood glucose data in Google Fit"},"https://www.googleapis.com/auth/fitness.blood_glucose.write":{"description":"View and store blood glucose data in Google Fit"},"https://www.googleapis.com/auth/fitness.blood_pressure.read":{"description":"View blood pressure data in Google Fit"},"https://www.googleapis.com/auth/fitness.blood_pressure.write":{"description":"View and store blood pressure data in Google Fit"},"https://www.googleapis.com/auth/fitness.body.read":{"description":"View body sensor information in Google Fit"},"https://www.googleapis.com/auth/fitness.body.write":{"description":"View and store body sensor data in Google Fit"},"https://www.googleapis.com/auth/fitness.body_temperature.read":{"description":"View body temperature data in Google Fit"},"https://www.googleapis.com/auth/fitness.body_temperature.write":{"description":"View and store body temperature data in Google Fit"},"https://www.googleapis.com/auth/fitness.location.read":{"description":"View your stored location data in Google Fit"},"https://www.googleapis.com/auth/fitness.location.write":{"description":"View and store your location data in Google Fit"},"https://www.googleapis.com/auth/fitness.nutrition.read":{"description":"View nutrition information in Google Fit"},"https://www.googleapis.com/auth/fitness.nutrition.write":{"description":"View and store nutrition information in Google Fit"},"https://www.googleapis.com/auth/fitness.oxygen_saturation.read":{"description":"View oxygen saturation data in Google Fit"},"https://www.googleapis.com/auth/fitness.oxygen_saturation.write":{"description":"View and store oxygen saturation data in Google Fit"},"https://www.googleapis.com/auth/fitness.reproductive_health.read":{"description":"View reproductive health data in Google Fit"},"https://www.googleapis.com/auth/fitness.reproductive_health.write":{"description":"View and store reproductive health data in Google Fit"}}}},"basePath":"/fitness/v1/users/","baseUrl":"https://www.googleapis.com/fitness/v1/users/","batchPath":"batch/fitness/v1","canonicalName":null,"description":"Stores and accesses user data in the fitness store from apps on any platform.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/fit/rest/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/K1BxZmhfi_H1WlvW1SDsecgXAnE\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png","x32":"https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"},"id":"fitness:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"fitness","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"users":{"methods":null,"resources":{"dataSources":{"methods":{"create":{"description":"Creates a new data source that is unique across all data sources belonging to this user. The data stream ID field can be omitted and will be generated by the server with the correct format. The data stream ID is an ordered combination of some fields from the data source. In addition to the data source fields reflected into the data source ID, the developer project number that is authenticated when creating the data source is included. This developer project number is obfuscated when read by any other developer reading public data types.","etagRequired":null,"httpMethod":"POST","id":"fitness.users.dataSources.create","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Create the data source for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/dataSources","request":{"$ref":"DataSource","parameterName":null},"response":{"$ref":"DataSource"},"scopes":["https://www.googleapis.com/auth/fitness.activity.write","https://www.googleapis.com/auth/fitness.blood_glucose.write","https://www.googleapis.com/auth/fitness.blood_pressure.write","https://www.googleapis.com/auth/fitness.body.write","https://www.googleapis.com/auth/fitness.body_temperature.write","https://www.googleapis.com/auth/fitness.location.write","https://www.googleapis.com/auth/fitness.nutrition.write","https://www.googleapis.com/auth/fitness.oxygen_saturation.write","https://www.googleapis.com/auth/fitness.reproductive_health.write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes the specified data source. The request will fail if the data source contains any data points.","etagRequired":null,"httpMethod":"DELETE","id":"fitness.users.dataSources.delete","mediaUpload":null,"parameterOrder":["userId","dataSourceId"],"parameters":{"dataSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The data stream ID of the data source to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Retrieve a data source for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/dataSources/{dataSourceId}","request":null,"response":{"$ref":"DataSource"},"scopes":["https://www.googleapis.com/auth/fitness.activity.write","https://www.googleapis.com/auth/fitness.blood_glucose.write","https://www.googleapis.com/auth/fitness.blood_pressure.write","https://www.googleapis.com/auth/fitness.body.write","https://www.googleapis.com/auth/fitness.body_temperature.write","https://www.googleapis.com/auth/fitness.location.write","https://www.googleapis.com/auth/fitness.nutrition.write","https://www.googleapis.com/auth/fitness.oxygen_saturation.write","https://www.googleapis.com/auth/fitness.reproductive_health.write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns the specified data source.","etagRequired":null,"httpMethod":"GET","id":"fitness.users.dataSources.get","mediaUpload":null,"parameterOrder":["userId","dataSourceId"],"parameters":{"dataSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The data stream ID of the data source to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Retrieve a data source for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/dataSources/{dataSourceId}","request":null,"response":{"$ref":"DataSource"},"scopes":["https://www.googleapis.com/auth/fitness.activity.read","https://www.googleapis.com/auth/fitness.activity.write","https://www.googleapis.com/auth/fitness.blood_glucose.read","https://www.googleapis.com/auth/fitness.blood_glucose.write","https://www.googleapis.com/auth/fitness.blood_pressure.read","https://www.googleapis.com/auth/fitness.blood_pressure.write","https://www.googleapis.com/auth/fitness.body.read","https://www.googleapis.com/auth/fitness.body.write","https://www.googleapis.com/auth/fitness.body_temperature.read","https://www.googleapis.com/auth/fitness.body_temperature.write","https://www.googleapis.com/auth/fitness.location.read","https://www.googleapis.com/auth/fitness.location.write","https://www.googleapis.com/auth/fitness.nutrition.read","https://www.googleapis.com/auth/fitness.nutrition.write","https://www.googleapis.com/auth/fitness.oxygen_saturation.read","https://www.googleapis.com/auth/fitness.oxygen_saturation.write","https://www.googleapis.com/auth/fitness.reproductive_health.read","https://www.googleapis.com/auth/fitness.reproductive_health.write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all data sources that are visible to the developer, using the OAuth scopes provided. The list is not exhaustive; the user may have private data sources that are only visible to other developers, or calls using other scopes.","etagRequired":null,"httpMethod":"GET","id":"fitness.users.dataSources.list","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"dataTypeName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The names of data types to include in the list. If not specified, all data sources will be returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List data sources for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/dataSources","request":null,"response":{"$ref":"ListDataSourcesResponse"},"scopes":["https://www.googleapis.com/auth/fitness.activity.read","https://www.googleapis.com/auth/fitness.activity.write","https://www.googleapis.com/auth/fitness.blood_glucose.read","https://www.googleapis.com/auth/fitness.blood_glucose.write","https://www.googleapis.com/auth/fitness.blood_pressure.read","https://www.googleapis.com/auth/fitness.blood_pressure.write","https://www.googleapis.com/auth/fitness.body.read","https://www.googleapis.com/auth/fitness.body.write","https://www.googleapis.com/auth/fitness.body_temperature.read","https://www.googleapis.com/auth/fitness.body_temperature.write","https://www.googleapis.com/auth/fitness.location.read","https://www.googleapis.com/auth/fitness.location.write","https://www.googleapis.com/auth/fitness.nutrition.read","https://www.googleapis.com/auth/fitness.nutrition.write","https://www.googleapis.com/auth/fitness.oxygen_saturation.read","https://www.googleapis.com/auth/fitness.oxygen_saturation.write","https://www.googleapis.com/auth/fitness.reproductive_health.read","https://www.googleapis.com/auth/fitness.reproductive_health.write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates the specified data source. The dataStreamId, dataType, type, dataStreamName, and device properties with the exception of version, cannot be modified.\n\nData sources are identified by their dataStreamId. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"fitness.users.dataSources.patch","mediaUpload":null,"parameterOrder":["userId","dataSourceId"],"parameters":{"dataSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The data stream ID of the data source to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Update the data source for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/dataSources/{dataSourceId}","request":{"$ref":"DataSource","parameterName":null},"response":{"$ref":"DataSource"},"scopes":["https://www.googleapis.com/auth/fitness.activity.write","https://www.googleapis.com/auth/fitness.blood_glucose.write","https://www.googleapis.com/auth/fitness.blood_pressure.write","https://www.googleapis.com/auth/fitness.body.write","https://www.googleapis.com/auth/fitness.body_temperature.write","https://www.googleapis.com/auth/fitness.location.write","https://www.googleapis.com/auth/fitness.nutrition.write","https://www.googleapis.com/auth/fitness.oxygen_saturation.write","https://www.googleapis.com/auth/fitness.reproductive_health.write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates the specified data source. The dataStreamId, dataType, type, dataStreamName, and device properties with the exception of version, cannot be modified.\n\nData sources are identified by their dataStreamId.","etagRequired":null,"httpMethod":"PUT","id":"fitness.users.dataSources.update","mediaUpload":null,"parameterOrder":["userId","dataSourceId"],"parameters":{"dataSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The data stream ID of the data source to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Update the data source for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/dataSources/{dataSourceId}","request":{"$ref":"DataSource","parameterName":null},"response":{"$ref":"DataSource"},"scopes":["https://www.googleapis.com/auth/fitness.activity.write","https://www.googleapis.com/auth/fitness.blood_glucose.write","https://www.googleapis.com/auth/fitness.blood_pressure.write","https://www.googleapis.com/auth/fitness.body.write","https://www.googleapis.com/auth/fitness.body_temperature.write","https://www.googleapis.com/auth/fitness.location.write","https://www.googleapis.com/auth/fitness.nutrition.write","https://www.googleapis.com/auth/fitness.oxygen_saturation.write","https://www.googleapis.com/auth/fitness.reproductive_health.write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"dataPointChanges":{"methods":{"list":{"description":"Queries for user's data point changes for a particular data source.","etagRequired":null,"httpMethod":"GET","id":"fitness.users.dataSources.dataPointChanges.list","mediaUpload":null,"parameterOrder":["userId","dataSourceId"],"parameters":{"dataSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The data stream ID of the data source that created the dataset.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"limit":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If specified, no more than this many data point changes will be included in the response.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List data points for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/dataSources/{dataSourceId}/dataPointChanges","request":null,"response":{"$ref":"ListDataPointChangesResponse"},"scopes":["https://www.googleapis.com/auth/fitness.activity.read","https://www.googleapis.com/auth/fitness.activity.write","https://www.googleapis.com/auth/fitness.blood_glucose.read","https://www.googleapis.com/auth/fitness.blood_glucose.write","https://www.googleapis.com/auth/fitness.blood_pressure.read","https://www.googleapis.com/auth/fitness.blood_pressure.write","https://www.googleapis.com/auth/fitness.body.read","https://www.googleapis.com/auth/fitness.body.write","https://www.googleapis.com/auth/fitness.body_temperature.read","https://www.googleapis.com/auth/fitness.body_temperature.write","https://www.googleapis.com/auth/fitness.location.read","https://www.googleapis.com/auth/fitness.location.write","https://www.googleapis.com/auth/fitness.nutrition.read","https://www.googleapis.com/auth/fitness.nutrition.write","https://www.googleapis.com/auth/fitness.oxygen_saturation.read","https://www.googleapis.com/auth/fitness.oxygen_saturation.write","https://www.googleapis.com/auth/fitness.reproductive_health.read","https://www.googleapis.com/auth/fitness.reproductive_health.write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"datasets":{"methods":{"delete":{"description":"Performs an inclusive delete of all data points whose start and end times have any overlap with the time range specified by the dataset ID. For most data types, the entire data point will be deleted. For data types where the time span represents a consistent value (such as com.google.activity.segment), and a data point straddles either end point of the dataset, only the overlapping portion of the data point will be deleted.","etagRequired":null,"httpMethod":"DELETE","id":"fitness.users.dataSources.datasets.delete","mediaUpload":null,"parameterOrder":["userId","dataSourceId","datasetId"],"parameters":{"currentTimeMillis":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The client's current time in milliseconds since epoch.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"dataSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The data stream ID of the data source that created the dataset.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"datasetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Dataset identifier that is a composite of the minimum data point start time and maximum data point end time represented as nanoseconds from the epoch. The ID is formatted like: \"startTime-endTime\" where startTime and endTime are 64 bit integers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"modifiedTimeMillis":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When the operation was performed on the client.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Delete a dataset for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/dataSources/{dataSourceId}/datasets/{datasetId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/fitness.activity.write","https://www.googleapis.com/auth/fitness.blood_glucose.write","https://www.googleapis.com/auth/fitness.blood_pressure.write","https://www.googleapis.com/auth/fitness.body.write","https://www.googleapis.com/auth/fitness.body_temperature.write","https://www.googleapis.com/auth/fitness.location.write","https://www.googleapis.com/auth/fitness.nutrition.write","https://www.googleapis.com/auth/fitness.oxygen_saturation.write","https://www.googleapis.com/auth/fitness.reproductive_health.write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns a dataset containing all data points whose start and end times overlap with the specified range of the dataset minimum start time and maximum end time. Specifically, any data point whose start time is less than or equal to the dataset end time and whose end time is greater than or equal to the dataset start time.","etagRequired":null,"httpMethod":"GET","id":"fitness.users.dataSources.datasets.get","mediaUpload":null,"parameterOrder":["userId","dataSourceId","datasetId"],"parameters":{"dataSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The data stream ID of the data source that created the dataset.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"datasetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Dataset identifier that is a composite of the minimum data point start time and maximum data point end time represented as nanoseconds from the epoch. The ID is formatted like: \"startTime-endTime\" where startTime and endTime are 64 bit integers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"limit":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If specified, no more than this many data points will be included in the dataset. If there are more data points in the dataset, nextPageToken will be set in the dataset response.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The continuation token, which is used to page through large datasets. To get the next page of a dataset, set this parameter to the value of nextPageToken from the previous response. Each subsequent call will yield a partial dataset with data point end timestamps that are strictly smaller than those in the previous partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Retrieve a dataset for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/dataSources/{dataSourceId}/datasets/{datasetId}","request":null,"response":{"$ref":"Dataset"},"scopes":["https://www.googleapis.com/auth/fitness.activity.read","https://www.googleapis.com/auth/fitness.activity.write","https://www.googleapis.com/auth/fitness.blood_glucose.read","https://www.googleapis.com/auth/fitness.blood_glucose.write","https://www.googleapis.com/auth/fitness.blood_pressure.read","https://www.googleapis.com/auth/fitness.blood_pressure.write","https://www.googleapis.com/auth/fitness.body.read","https://www.googleapis.com/auth/fitness.body.write","https://www.googleapis.com/auth/fitness.body_temperature.read","https://www.googleapis.com/auth/fitness.body_temperature.write","https://www.googleapis.com/auth/fitness.location.read","https://www.googleapis.com/auth/fitness.location.write","https://www.googleapis.com/auth/fitness.nutrition.read","https://www.googleapis.com/auth/fitness.nutrition.write","https://www.googleapis.com/auth/fitness.oxygen_saturation.read","https://www.googleapis.com/auth/fitness.oxygen_saturation.write","https://www.googleapis.com/auth/fitness.reproductive_health.read","https://www.googleapis.com/auth/fitness.reproductive_health.write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Adds data points to a dataset. The dataset need not be previously created. All points within the given dataset will be returned with subsquent calls to retrieve this dataset. Data points can belong to more than one dataset. This method does not use patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"fitness.users.dataSources.datasets.patch","mediaUpload":null,"parameterOrder":["userId","dataSourceId","datasetId"],"parameters":{"currentTimeMillis":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The client's current time in milliseconds since epoch. Note that the minStartTimeNs and maxEndTimeNs properties in the request body are in nanoseconds instead of milliseconds.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"dataSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The data stream ID of the data source that created the dataset.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"datasetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Dataset identifier that is a composite of the minimum data point start time and maximum data point end time represented as nanoseconds from the epoch. The ID is formatted like: \"startTime-endTime\" where startTime and endTime are 64 bit integers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Patch a dataset for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/dataSources/{dataSourceId}/datasets/{datasetId}","request":{"$ref":"Dataset","parameterName":null},"response":{"$ref":"Dataset"},"scopes":["https://www.googleapis.com/auth/fitness.activity.write","https://www.googleapis.com/auth/fitness.blood_glucose.write","https://www.googleapis.com/auth/fitness.blood_pressure.write","https://www.googleapis.com/auth/fitness.body.write","https://www.googleapis.com/auth/fitness.body_temperature.write","https://www.googleapis.com/auth/fitness.location.write","https://www.googleapis.com/auth/fitness.nutrition.write","https://www.googleapis.com/auth/fitness.oxygen_saturation.write","https://www.googleapis.com/auth/fitness.reproductive_health.write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"dataset":{"methods":{"aggregate":{"description":"Aggregates data of a certain type or stream into buckets divided by a given type of boundary. Multiple data sets of multiple types and from multiple sources can be aggreated into exactly one bucket type per request.","etagRequired":null,"httpMethod":"POST","id":"fitness.users.dataset.aggregate","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Aggregate data for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/dataset:aggregate","request":{"$ref":"AggregateRequest","parameterName":null},"response":{"$ref":"AggregateResponse"},"scopes":["https://www.googleapis.com/auth/fitness.activity.read","https://www.googleapis.com/auth/fitness.activity.write","https://www.googleapis.com/auth/fitness.blood_glucose.read","https://www.googleapis.com/auth/fitness.blood_glucose.write","https://www.googleapis.com/auth/fitness.blood_pressure.read","https://www.googleapis.com/auth/fitness.blood_pressure.write","https://www.googleapis.com/auth/fitness.body.read","https://www.googleapis.com/auth/fitness.body.write","https://www.googleapis.com/auth/fitness.body_temperature.read","https://www.googleapis.com/auth/fitness.body_temperature.write","https://www.googleapis.com/auth/fitness.location.read","https://www.googleapis.com/auth/fitness.location.write","https://www.googleapis.com/auth/fitness.nutrition.read","https://www.googleapis.com/auth/fitness.nutrition.write","https://www.googleapis.com/auth/fitness.oxygen_saturation.read","https://www.googleapis.com/auth/fitness.oxygen_saturation.write","https://www.googleapis.com/auth/fitness.reproductive_health.read","https://www.googleapis.com/auth/fitness.reproductive_health.write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"sessions":{"methods":{"delete":{"description":"Deletes a session specified by the given session ID.","etagRequired":null,"httpMethod":"DELETE","id":"fitness.users.sessions.delete","mediaUpload":null,"parameterOrder":["userId","sessionId"],"parameters":{"currentTimeMillis":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The client's current time in milliseconds since epoch.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sessionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the session to be deleted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Delete a session for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/sessions/{sessionId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/fitness.activity.write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists sessions previously created.","etagRequired":null,"httpMethod":"GET","id":"fitness.users.sessions.list","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"endTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An RFC3339 timestamp. Only sessions ending between the start and end times will be included in the response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"includeDeleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If true, deleted sessions will be returned. When set to true, sessions returned in this response will only have an ID and will not have any other fields.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The continuation token, which is used to page through large result sets. To get the next page of results, set this parameter to the value of nextPageToken from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An RFC3339 timestamp. Only sessions ending between the start and end times will be included in the response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List sessions for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/sessions","request":null,"response":{"$ref":"ListSessionsResponse"},"scopes":["https://www.googleapis.com/auth/fitness.activity.read","https://www.googleapis.com/auth/fitness.activity.write","https://www.googleapis.com/auth/fitness.blood_glucose.read","https://www.googleapis.com/auth/fitness.blood_glucose.write","https://www.googleapis.com/auth/fitness.blood_pressure.read","https://www.googleapis.com/auth/fitness.blood_pressure.write","https://www.googleapis.com/auth/fitness.body.read","https://www.googleapis.com/auth/fitness.body.write","https://www.googleapis.com/auth/fitness.body_temperature.read","https://www.googleapis.com/auth/fitness.body_temperature.write","https://www.googleapis.com/auth/fitness.location.read","https://www.googleapis.com/auth/fitness.location.write","https://www.googleapis.com/auth/fitness.nutrition.read","https://www.googleapis.com/auth/fitness.nutrition.write","https://www.googleapis.com/auth/fitness.oxygen_saturation.read","https://www.googleapis.com/auth/fitness.oxygen_saturation.write","https://www.googleapis.com/auth/fitness.reproductive_health.read","https://www.googleapis.com/auth/fitness.reproductive_health.write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates or insert a given session.","etagRequired":null,"httpMethod":"PUT","id":"fitness.users.sessions.update","mediaUpload":null,"parameterOrder":["userId","sessionId"],"parameters":{"currentTimeMillis":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The client's current time in milliseconds since epoch.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sessionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the session to be created.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Create sessions for the person identified. Use me to indicate the authenticated user. Only me is supported at this time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/sessions/{sessionId}","request":{"$ref":"Session","parameterName":null},"response":{"$ref":"Session"},"scopes":["https://www.googleapis.com/auth/fitness.activity.write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"revision":"20170922","rootUrl":"https://www.googleapis.com/","schemas":{"AggregateBucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AggregateBucket","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"activity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available for Bucket.Type.ACTIVITY_TYPE, Bucket.Type.ACTIVITY_SEGMENT","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"dataset":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"There will be one dataset per AggregateBy in the request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Dataset","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"endTimeMillis":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The end time for the aggregated data, in milliseconds since epoch, inclusive.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"session":{"$ref":"Session","additionalProperties":null,"annotations":null,"default":null,"description":"Available for Bucket.Type.SESSION","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"startTimeMillis":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The start time for the aggregated data, in milliseconds since epoch, inclusive.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of a bucket signifies how the data aggregation is performed in the bucket.","enum":["activitySegment","activityType","session","time","unknown"],"enumDescriptions":["","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AggregateBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The specification of which data to aggregate.","enum":null,"enumDescriptions":null,"format":null,"id":"AggregateBy","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"dataSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A data source ID to aggregate. Mutually exclusive of dataTypeName. Only data from the specified data source ID will be included in the aggregation. The dataset in the response will have the same data source ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"dataTypeName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The data type to aggregate. All data sources providing this data type will contribute data to the aggregation. The response will contain a single dataset for this data type name. The dataset will have a data source ID of derived:com.google.:com.google.android.gms:aggregated","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AggregateRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Next id: 10","enum":null,"enumDescriptions":null,"format":null,"id":"AggregateRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"aggregateBy":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataset.aggregate"]},"default":null,"description":"The specification of data to be aggregated. At least one aggregateBy spec must be provided. All data that is specified will be aggregated using the same bucketing criteria. There will be one dataset in the response for every aggregateBy spec.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"AggregateBy","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"bucketByActivitySegment":{"$ref":"BucketByActivity","additionalProperties":null,"annotations":null,"default":null,"description":"Specifies that data be aggregated each activity segment recored for a user. Similar to bucketByActivitySegment, but bucketing is done for each activity segment rather than all segments of the same type. Mutually exclusive of other bucketing specifications.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"bucketByActivityType":{"$ref":"BucketByActivity","additionalProperties":null,"annotations":null,"default":null,"description":"Specifies that data be aggregated by the type of activity being performed when the data was recorded. All data that was recorded during a certain activity type (for the given time range) will be aggregated into the same bucket. Data that was recorded while the user was not active will not be included in the response. Mutually exclusive of other bucketing specifications.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"bucketBySession":{"$ref":"BucketBySession","additionalProperties":null,"annotations":null,"default":null,"description":"Specifies that data be aggregated by user sessions. Data that does not fall within the time range of a session will not be included in the response. Mutually exclusive of other bucketing specifications.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"bucketByTime":{"$ref":"BucketByTime","additionalProperties":null,"annotations":null,"default":null,"description":"Specifies that data be aggregated by a single time interval. Mutually exclusive of other bucketing specifications.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"endTimeMillis":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataset.aggregate"]},"default":null,"description":"The end of a window of time. Data that intersects with this time window will be aggregated. The time is in milliseconds since epoch, inclusive.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"filteredDataQualityStandard":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of acceptable data quality standards. Only data points which conform to at least one of the specified data quality standards will be returned. If the list is empty, all data points are returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["dataQualityBloodGlucoseIso151972003","dataQualityBloodGlucoseIso151972013","dataQualityBloodPressureAami","dataQualityBloodPressureBhsAA","dataQualityBloodPressureBhsAB","dataQualityBloodPressureBhsBA","dataQualityBloodPressureBhsBB","dataQualityBloodPressureEsh2002","dataQualityBloodPressureEsh2010","dataQualityUnknown"],"enumDescriptions":["","","","","","","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"startTimeMillis":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataset.aggregate"]},"default":null,"description":"The start of a window of time. Data that intersects with this time window will be aggregated. The time is in milliseconds since epoch, inclusive.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AggregateResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AggregateResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of buckets containing the aggregated data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"AggregateBucket","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Application":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"","enum":null,"enumDescriptions":null,"format":null,"id":"Application","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"detailsUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An optional URI that can be used to link back to the application.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.create","fitness.users.dataSources.update","fitness.users.sessions.update"]},"default":null,"description":"The name of this application. This is required for REST clients, but we do not enforce uniqueness of this name. It is provided as a matter of convenience for other developers who would like to identify which REST created an Application or Data Source.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Package name for this application. This is used as a unique identifier when created by Android applications, but cannot be specified by REST clients. REST clients will have their developer project number reflected into the Data Source data stream IDs, instead of the packageName.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"version":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Version of the application. You should update this field whenever the application changes in a way that affects the computation of the data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BucketByActivity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"BucketByActivity","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"activityDataSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The default activity stream will be used if a specific activityDataSourceId is not specified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"minDurationMillis":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies that only activity segments of duration longer than minDurationMillis are considered and used as a container for aggregated data.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BucketBySession":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"BucketBySession","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"minDurationMillis":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies that only sessions of duration longer than minDurationMillis are considered and used as a container for aggregated data.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BucketByTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"BucketByTime","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"durationMillis":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies that result buckets aggregate data by exactly durationMillis time frames. Time frames that contain no data will be included in the response with an empty dataset.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"period":{"$ref":"BucketByTimePeriod","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BucketByTimePeriod":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"BucketByTimePeriod","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"timeZoneId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"org.joda.timezone.DateTimeZone","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["day","month","week"],"enumDescriptions":["","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DataPoint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a single data point, generated by a particular data source. A data point holds a value for each field, an end timestamp and an optional start time. The exact semantics of each of these attributes are specified in the documentation for the particular data type.\n\nA data point can represent an instantaneous measurement, reading or input observation, as well as averages or aggregates over a time interval. Check the data type documentation to determine which is the case for a particular data type.\n\nData points always contain one value for each field of the data type.","enum":null,"enumDescriptions":null,"format":null,"id":"DataPoint","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"computationTimeMillis":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Used for version checking during transformation; that is, a datapoint can only replace another datapoint that has an older computation time stamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"dataTypeName":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.datasets.patch"]},"default":null,"description":"The data type defining the format of the values in this data point.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"endTimeNanos":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.datasets.patch"]},"default":null,"description":"The end time of the interval represented by this data point, in nanoseconds since epoch.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"modifiedTimeMillis":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Indicates the last time this data point was modified. Useful only in contexts where we are listing the data changes, rather than representing the current state of the data.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"originDataSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If the data point is contained in a dataset for a derived data source, this field will be populated with the data source stream ID that created the data point originally.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"rawTimestampNanos":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The raw timestamp from the original SensorEvent.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTimeNanos":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.datasets.patch"]},"default":null,"description":"The start time of the interval represented by this data point, in nanoseconds since epoch.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.datasets.patch"]},"default":null,"description":"Values of each data type field for the data point. It is expected that each value corresponding to a data type field will occur in the same order that the field is listed with in the data type specified in a data source.\n\nOnly one of integer and floating point fields will be populated, depending on the format enum value within data source's type field.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Value","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DataSource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Definition of a unique source of sensor data. Data sources can expose raw data coming from hardware sensors on local or companion devices. They can also expose derived data, created by transforming or merging other data sources. Multiple data sources can exist for the same data type. Every data point inserted into or read from this service has an associated data source.\n\nThe data source contains enough information to uniquely identify its data, including the hardware device and the application that collected and/or transformed the data. It also holds useful metadata, such as the hardware and application versions, and the device type.\n\nEach data source produces a unique stream of data, with a unique identifier. Not all changes to data source affect the stream identifier, so that data collected by updated versions of the same application/device can still be considered to belong to the same data stream.","enum":null,"enumDescriptions":null,"format":null,"id":"DataSource","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"application":{"$ref":"Application","additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.create","fitness.users.dataSources.update"]},"default":null,"description":"Information about an application which feeds sensor data into the platform.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"dataQualityStandard":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["dataQualityBloodGlucoseIso151972003","dataQualityBloodGlucoseIso151972013","dataQualityBloodPressureAami","dataQualityBloodPressureBhsAA","dataQualityBloodPressureBhsAB","dataQualityBloodPressureBhsBA","dataQualityBloodPressureBhsBB","dataQualityBloodPressureEsh2002","dataQualityBloodPressureEsh2010","dataQualityUnknown"],"enumDescriptions":["","","","","","","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"dataStreamId":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.update"]},"default":null,"description":"A unique identifier for the data stream produced by this data source. The identifier includes:\n\n \n- The physical device's manufacturer, model, and serial number (UID). \n- The application's package name or name. Package name is used when the data source was created by an Android application. The developer project number is used when the data source was created by a REST client. \n- The data source's type. \n- The data source's stream name.  Note that not all attributes of the data source are used as part of the stream identifier. In particular, the version of the hardware/the application isn't used. This allows us to preserve the same stream through version updates. This also means that two DataSource objects may represent the same data stream even if they're not equal.\n\nThe exact format of the data stream ID created by an Android application is: type:dataType.name:application.packageName:device.manufacturer:device.model:device.uid:dataStreamName \n\nThe exact format of the data stream ID created by a REST client is: type:dataType.name:developer project number:device.manufacturer:device.model:device.uid:dataStreamName \n\nWhen any of the optional fields that comprise of the data stream ID are blank, they will be omitted from the data stream ID. The minimum viable data stream ID would be: type:dataType.name:developer project number\n\nFinally, the developer project number is obfuscated when read by any REST or Android client that did not create the data source. Only the data source creator will see the developer project number in clear and normal form.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"dataStreamName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The stream name uniquely identifies this particular data source among other data sources of the same type from the same underlying producer. Setting the stream name is optional, but should be done whenever an application exposes two streams for the same data type, or when a device has two equivalent sensors.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"dataType":{"$ref":"DataType","additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.create","fitness.users.dataSources.update"]},"default":null,"description":"The data type defines the schema for a stream of data being collected by, inserted into, or queried from the Fitness API.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"device":{"$ref":"Device","additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.create","fitness.users.dataSources.update"]},"default":null,"description":"Representation of an integrated device (such as a phone or a wearable) that can hold sensors.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An end-user visible name for this data source.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.create","fitness.users.dataSources.update"]},"default":null,"description":"A constant describing the type of this data source. Indicates whether this data source produces raw or derived data.","enum":["derived","raw"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DataType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"","enum":null,"enumDescriptions":null,"format":null,"id":"DataType","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"field":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.create","fitness.users.dataSources.update"]},"default":null,"description":"A field represents one dimension of a data type.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"DataTypeField","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.create","fitness.users.dataSources.update"]},"default":null,"description":"Each data type has a unique, namespaced, name. All data types in the com.google namespace are shared as part of the platform.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DataTypeField":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"In case of multi-dimensional data (such as an accelerometer with x, y, and z axes) each field represents one dimension. Each data type field has a unique name which identifies it. The field also defines the format of the data (int, float, etc.).\n\nThis message is only instantiated in code and not used for wire comms or stored in any way.","enum":null,"enumDescriptions":null,"format":null,"id":"DataTypeField","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"format":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.create","fitness.users.dataSources.update"]},"default":null,"description":"The different supported formats for each field in a data type.","enum":["blob","floatList","floatPoint","integer","integerList","map","string"],"enumDescriptions":["","","","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.create","fitness.users.dataSources.update"]},"default":null,"description":"Defines the name and format of data. Unlike data type names, field names are not namespaced, and only need to be unique within the data type.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"optional":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Dataset":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A dataset represents a projection container for data points. They do not carry any info of their own. Datasets represent a set of data points from a particular data source. A data point can be found in more than one dataset.","enum":null,"enumDescriptions":null,"format":null,"id":"Dataset","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"dataSourceId":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.datasets.patch"]},"default":null,"description":"The data stream ID of the data source that created the points in this dataset.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxEndTimeNs":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.datasets.patch"]},"default":null,"description":"The largest end time of all data points in this possibly partial representation of the dataset. Time is in nanoseconds from epoch. This should also match the first part of the dataset identifier.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"minStartTimeNs":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.datasets.patch"]},"default":null,"description":"The smallest start time of all data points in this possibly partial representation of the dataset. Time is in nanoseconds from epoch. This should also match the first part of the dataset identifier.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This token will be set when a dataset is received in response to a GET request and the dataset is too large to be included in a single response. Provide this value in a subsequent GET request to return the next page of data points within this dataset.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"point":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.datasets.patch"]},"default":null,"description":"A partial list of data points contained in the dataset, ordered by largest endTimeNanos first. This list is considered complete when retrieving a small dataset and partial when patching a dataset or retrieving a dataset that is too large to include in a single response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"DataPoint","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Device":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Representation of an integrated device (such as a phone or a wearable) that can hold sensors. Each sensor is exposed as a data source.\n\nThe main purpose of the device information contained in this class is to identify the hardware of a particular data source. This can be useful in different ways, including:  \n- Distinguishing two similar sensors on different devices (the step counter on two nexus 5 phones, for instance)\n- Display the source of data to the user (by using the device make / model)\n- Treat data differently depending on sensor type (accelerometers on a watch may give different patterns than those on a phone)\n- Build different analysis models for each device/version.","enum":null,"enumDescriptions":null,"format":null,"id":"Device","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"manufacturer":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.create","fitness.users.dataSources.update"]},"default":null,"description":"Manufacturer of the product/hardware.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"model":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.create","fitness.users.dataSources.update"]},"default":null,"description":"End-user visible model name for the device.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.create","fitness.users.dataSources.update"]},"default":null,"description":"A constant representing the type of the device.","enum":["chestStrap","headMounted","phone","scale","tablet","unknown","watch"],"enumDescriptions":["","","","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"uid":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.create","fitness.users.dataSources.update"]},"default":null,"description":"The serial number or other unique ID for the hardware. This field is obfuscated when read by any REST or Android client that did not create the data source. Only the data source creator will see the uid field in clear and normal form.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"version":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.dataSources.create","fitness.users.dataSources.update"]},"default":null,"description":"Version string for the device hardware/software.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListDataPointChangesResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"ListDataPointChangesResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"dataSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The data stream ID of the data source with data point changes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"deletedDataPoint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Deleted data points for the user. Note, for modifications this should be parsed before handling insertions.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"DataPoint","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"insertedDataPoint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Inserted data points for the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"DataPoint","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The continuation token, which is used to page through large result sets. Provide this value in a subsequent request to return the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListDataSourcesResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"ListDataSourcesResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"dataSource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A previously created data source.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"DataSource","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListSessionsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"ListSessionsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"deletedSession":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If includeDeleted is set to true in the request, this list will contain sessions deleted with original end times that are within the startTime and endTime frame.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Session","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"hasMoreData":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Flag to indicate server has more data to transfer","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The continuation token, which is used to page through large result sets. Provide this value in a subsequent request to return the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"session":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Sessions with an end time that is between startTime and endTime of the request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Session","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"MapValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Holder object for the value of an entry in a map field of a data point.\n\nA map value supports a subset of the formats that the regular Value supports.","enum":null,"enumDescriptions":null,"format":null,"id":"MapValue","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"fpVal":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Floating point value.","enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Session":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Sessions contain metadata, such as a user-friendly name and time interval information.","enum":null,"enumDescriptions":null,"format":null,"id":"Session","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"activeTimeMillis":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Session active time. While start_time_millis and end_time_millis define the full session time, the active time can be shorter and specified by active_time_millis. If the inactive time during the session is known, it should also be inserted via a com.google.activity.segment data point with a STILL activity value","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"activityType":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.sessions.update"]},"default":null,"description":"The type of activity this session represents.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"application":{"$ref":"Application","additionalProperties":null,"annotations":{"required":["fitness.users.sessions.update"]},"default":null,"description":"The application that created the session.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A description for this session.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"endTimeMillis":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.sessions.update"]},"default":null,"description":"An end time, in milliseconds since epoch, inclusive.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.sessions.update"]},"default":null,"description":"A client-generated identifier that is unique across all sessions owned by this particular user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"modifiedTimeMillis":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A timestamp that indicates when the session was last modified.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":{"required":["fitness.users.sessions.update"]},"default":null,"description":"A human readable name of the session.","enum":null,"enumDescriptions":null,"format":nul
[...]
