{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/androidpublisher":{"description":"View and manage your Google Play Developer account"}}}},"basePath":"/games/v1configuration/","baseUrl":"https://www.googleapis.com/games/v1configuration/","batchPath":"batch/gamesConfiguration/v1configuration","canonicalName":"Games Configuration","description":"The Publishing API for Google Play Game Services.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/games/services","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/149WpcAPBIY2MEwRCtq8uuM0DJg\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png","x32":"https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"},"id":"gamesConfiguration:v1configuration","kind":"discovery#restDescription","labels":null,"methods":null,"name":"gamesConfiguration","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"achievementConfigurations":{"methods":{"delete":{"description":"Delete the achievement configuration with the given ID.","etagRequired":null,"httpMethod":"DELETE","id":"gamesConfiguration.achievementConfigurations.delete","mediaUpload":null,"parameterOrder":["achievementId"],"parameters":{"achievementId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the achievement used by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"achievements/{achievementId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves the metadata of the achievement configuration with the given ID.","etagRequired":null,"httpMethod":"GET","id":"gamesConfiguration.achievementConfigurations.get","mediaUpload":null,"parameterOrder":["achievementId"],"parameters":{"achievementId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the achievement used by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"achievements/{achievementId}","request":null,"response":{"$ref":"AchievementConfiguration"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Insert a new achievement configuration in this application.","etagRequired":null,"httpMethod":"POST","id":"gamesConfiguration.achievementConfigurations.insert","mediaUpload":null,"parameterOrder":["applicationId"],"parameters":{"applicationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The application ID from the Google Play developer console.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"applications/{applicationId}/achievements","request":{"$ref":"AchievementConfiguration","parameterName":null},"response":{"$ref":"AchievementConfiguration"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Returns a list of the achievement configurations in this application.","etagRequired":null,"httpMethod":"GET","id":"gamesConfiguration.achievementConfigurations.list","mediaUpload":null,"parameterOrder":["applicationId"],"parameters":{"applicationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The application ID from the Google Play developer console.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified maxResults.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"200","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token returned by the previous request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"applications/{applicationId}/achievements","request":null,"response":{"$ref":"AchievementConfigurationListResponse"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Update the metadata of the achievement configuration with the given ID. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"gamesConfiguration.achievementConfigurations.patch","mediaUpload":null,"parameterOrder":["achievementId"],"parameters":{"achievementId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the achievement used by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"achievements/{achievementId}","request":{"$ref":"AchievementConfiguration","parameterName":null},"response":{"$ref":"AchievementConfiguration"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Update the metadata of the achievement configuration with the given ID.","etagRequired":null,"httpMethod":"PUT","id":"gamesConfiguration.achievementConfigurations.update","mediaUpload":null,"parameterOrder":["achievementId"],"parameters":{"achievementId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the achievement used by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"achievements/{achievementId}","request":{"$ref":"AchievementConfiguration","parameterName":null},"response":{"$ref":"AchievementConfiguration"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"imageConfigurations":{"methods":{"upload":{"description":"Uploads an image for a resource with the given ID and image type.","etagRequired":null,"httpMethod":"POST","id":"gamesConfiguration.imageConfigurations.upload","mediaUpload":{"accept":["image/*"],"maxSize":"15MB","protocols":{"resumable":{"multipart":true,"path":"/resumable/upload/games/v1configuration/images/{resourceId}/imageType/{imageType}"},"simple":{"multipart":true,"path":"/upload/games/v1configuration/images/{resourceId}/imageType/{imageType}"}}},"parameterOrder":["resourceId","imageType"],"parameters":{"imageType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selects which image in a resource for this method.","enum":["ACHIEVEMENT_ICON","LEADERBOARD_ICON"],"enumDescriptions":["The icon image for an achievement resource.","The icon image for a leaderboard resource."],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"resourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the resource used by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"images/{resourceId}/imageType/{imageType}","request":null,"response":{"$ref":"ImageConfiguration"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":true,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"leaderboardConfigurations":{"methods":{"delete":{"description":"Delete the leaderboard configuration with the given ID.","etagRequired":null,"httpMethod":"DELETE","id":"gamesConfiguration.leaderboardConfigurations.delete","mediaUpload":null,"parameterOrder":["leaderboardId"],"parameters":{"leaderboardId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the leaderboard.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"leaderboards/{leaderboardId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves the metadata of the leaderboard configuration with the given ID.","etagRequired":null,"httpMethod":"GET","id":"gamesConfiguration.leaderboardConfigurations.get","mediaUpload":null,"parameterOrder":["leaderboardId"],"parameters":{"leaderboardId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the leaderboard.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"leaderboards/{leaderboardId}","request":null,"response":{"$ref":"LeaderboardConfiguration"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Insert a new leaderboard configuration in this application.","etagRequired":null,"httpMethod":"POST","id":"gamesConfiguration.leaderboardConfigurations.insert","mediaUpload":null,"parameterOrder":["applicationId"],"parameters":{"applicationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The application ID from the Google Play developer console.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"applications/{applicationId}/leaderboards","request":{"$ref":"LeaderboardConfiguration","parameterName":null},"response":{"$ref":"LeaderboardConfiguration"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Returns a list of the leaderboard configurations in this application.","etagRequired":null,"httpMethod":"GET","id":"gamesConfiguration.leaderboardConfigurations.list","mediaUpload":null,"parameterOrder":["applicationId"],"parameters":{"applicationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The application ID from the Google Play developer console.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of resource configurations to return in the response, used for paging. For any response, the actual number of resources returned may be less than the specified maxResults.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"200","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token returned by the previous request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"applications/{applicationId}/leaderboards","request":null,"response":{"$ref":"LeaderboardConfigurationListResponse"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Update the metadata of the leaderboard configuration with the given ID. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"gamesConfiguration.leaderboardConfigurations.patch","mediaUpload":null,"parameterOrder":["leaderboardId"],"parameters":{"leaderboardId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the leaderboard.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"leaderboards/{leaderboardId}","request":{"$ref":"LeaderboardConfiguration","parameterName":null},"response":{"$ref":"LeaderboardConfiguration"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Update the metadata of the leaderboard configuration with the given ID.","etagRequired":null,"httpMethod":"PUT","id":"gamesConfiguration.leaderboardConfigurations.update","mediaUpload":null,"parameterOrder":["leaderboardId"],"parameters":{"leaderboardId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the leaderboard.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"leaderboards/{leaderboardId}","request":{"$ref":"LeaderboardConfiguration","parameterName":null},"response":{"$ref":"LeaderboardConfiguration"},"scopes":["https://www.googleapis.com/auth/androidpublisher"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20170928","rootUrl":"https://www.googleapis.com/","schemas":{"AchievementConfiguration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is a JSON template for an achievement configuration resource.","enum":null,"enumDescriptions":null,"format":null,"id":"AchievementConfiguration","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"achievementType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of the achievement.\nPossible values are:  \n- \"STANDARD\" - Achievement is either locked or unlocked. \n- \"INCREMENTAL\" - Achievement is incremental.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"draft":{"$ref":"AchievementConfigurationDetail","additionalProperties":null,"annotations":null,"default":null,"description":"The draft data of the achievement.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the achievement.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"initialState":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The initial state of the achievement.\nPossible values are:  \n- \"HIDDEN\" - Achievement is hidden. \n- \"REVEALED\" - Achievement is revealed. \n- \"UNLOCKED\" - Achievement is unlocked.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"gamesConfiguration#achievementConfiguration","description":"Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#achievementConfiguration.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"published":{"$ref":"AchievementConfigurationDetail","additionalProperties":null,"annotations":null,"default":null,"description":"The read-only published data of the achievement.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"stepsToUnlock":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Steps to unlock. Only applicable to incremental achievements.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token for this resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AchievementConfigurationDetail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is a JSON template for an achievement configuration detail.","enum":null,"enumDescriptions":null,"format":null,"id":"AchievementConfigurationDetail","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"description":{"$ref":"LocalizedStringBundle","additionalProperties":null,"annotations":null,"default":null,"description":"Localized strings for the achievement description.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"iconUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The icon url of this achievement. Writes to this field are ignored.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"gamesConfiguration#achievementConfigurationDetail","description":"Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#achievementConfigurationDetail.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":"LocalizedStringBundle","additionalProperties":null,"annotations":null,"default":null,"description":"Localized strings for the achievement name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"pointValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Point value for the achievement.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"sortRank":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The sort rank of this achievement. Writes to this field are ignored.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AchievementConfigurationListResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is a JSON template for a ListConfigurations response.","enum":null,"enumDescriptions":null,"format":null,"id":"AchievementConfigurationListResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The achievement configurations.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"AchievementConfiguration","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"gamesConfiguration#achievementConfigurationListResponse","description":"Uniquely identifies the type of this resource. Value is always the fixed string games#achievementConfigurationListResponse.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The pagination token for the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GamesNumberAffixConfiguration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is a JSON template for a number affix resource.","enum":null,"enumDescriptions":null,"format":null,"id":"GamesNumberAffixConfiguration","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"few":{"$ref":"LocalizedStringBundle","additionalProperties":null,"annotations":null,"default":null,"description":"When the language requires special treatment of \"small\" numbers (as with 2, 3, and 4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in Polish).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"many":{"$ref":"LocalizedStringBundle","additionalProperties":null,"annotations":null,"default":null,"description":"When the language requires special treatment of \"large\" numbers (as with numbers ending 11-99 in Maltese).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"one":{"$ref":"LocalizedStringBundle","additionalProperties":null,"annotations":null,"default":null,"description":"When the language requires special treatment of numbers like one (as with the number 1 in English and most other languages; in Russian, any number ending in 1 but not ending in 11 is in this class).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"other":{"$ref":"LocalizedStringBundle","additionalProperties":null,"annotations":null,"default":null,"description":"When the language does not require special treatment of the given quantity (as with all numbers in Chinese, or 42 in English).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"two":{"$ref":"LocalizedStringBundle","additionalProperties":null,"annotations":null,"default":null,"description":"When the language requires special treatment of numbers like two (as with 2 in Welsh, or 102 in Slovenian).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"zero":{"$ref":"LocalizedStringBundle","additionalProperties":null,"annotations":null,"default":null,"description":"When the language requires special treatment of the number 0 (as in Arabic).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GamesNumberFormatConfiguration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is a JSON template for a number format resource.","enum":null,"enumDescriptions":null,"format":null,"id":"GamesNumberFormatConfiguration","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"currencyCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The curreny code string. Only used for CURRENCY format type.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"numDecimalPlaces":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The number of decimal places for number. Only used for NUMERIC format type.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"numberFormatType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The formatting for the number.\nPossible values are:  \n- \"NUMERIC\" - Numbers are formatted to have no digits or a fixed number of digits after the decimal point according to locale. An optional custom unit can be added.\n- \"TIME_DURATION\" - Numbers are formatted to hours, minutes and seconds.\n- \"CURRENCY\" - Numbers are formatted to currency according to locale.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"suffix":{"$ref":"GamesNumberAffixConfiguration","additionalProperties":null,"annotations":null,"default":null,"description":"An optional suffix for the NUMERIC format type. These strings follow the same  plural rules as all Android string resources.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ImageConfiguration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is a JSON template for an image configuration resource.","enum":null,"enumDescriptions":null,"format":null,"id":"ImageConfiguration","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"imageType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The image type for the image.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"gamesConfiguration#imageConfiguration","description":"Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#imageConfiguration.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"resourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The resource ID of resource which the image belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The url for this image.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LeaderboardConfiguration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is a JSON template for an leaderboard configuration resource.","enum":null,"enumDescriptions":null,"format":null,"id":"LeaderboardConfiguration","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"draft":{"$ref":"LeaderboardConfigurationDetail","additionalProperties":null,"annotations":null,"default":null,"description":"The draft data of the leaderboard.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the leaderboard.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"gamesConfiguration#leaderboardConfiguration","description":"Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#leaderboardConfiguration.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"published":{"$ref":"LeaderboardConfigurationDetail","additionalProperties":null,"annotations":null,"default":null,"description":"The read-only published data of the leaderboard.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"scoreMax":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum score that can be posted to this leaderboard.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"scoreMin":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Minimum score that can be posted to this leaderboard.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"scoreOrder":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of the leaderboard.\nPossible values are:  \n- \"LARGER_IS_BETTER\" - Larger scores posted are ranked higher. \n- \"SMALLER_IS_BETTER\" - Smaller scores posted are ranked higher.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token for this resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LeaderboardConfigurationDetail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is a JSON template for a leaderboard configuration detail.","enum":null,"enumDescriptions":null,"format":null,"id":"LeaderboardConfigurationDetail","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"iconUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The icon url of this leaderboard. Writes to this field are ignored.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"gamesConfiguration#leaderboardConfigurationDetail","description":"Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#leaderboardConfigurationDetail.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":"LocalizedStringBundle","additionalProperties":null,"annotations":null,"default":null,"description":"Localized strings for the leaderboard name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"scoreFormat":{"$ref":"GamesNumberFormatConfiguration","additionalProperties":null,"annotations":null,"default":null,"description":"The score formatting for the leaderboard.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"sortRank":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The sort rank of this leaderboard. Writes to this field are ignored.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LeaderboardConfigurationListResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is a JSON template for a ListConfigurations response.","enum":null,"enumDescriptions":null,"format":null,"id":"LeaderboardConfigurationListResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The leaderboard configurations.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"LeaderboardConfiguration","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"gamesConfiguration#leaderboardConfigurationListResponse","description":"Uniquely identifies the type of this resource. Value is always the fixed string games#leaderboardConfigurationListResponse.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The pagination token for the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LocalizedString":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is a JSON template for a localized string resource.","enum":null,"enumDescriptions":null,"format":null,"id":"LocalizedString","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"gamesConfiguration#localizedString","description":"Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The locale string.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The string value.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LocalizedStringBundle":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is a JSON template for a localized string bundle resource.","enum":null,"enumDescriptions":null,"format":null,"id":"LocalizedStringBundle","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"gamesConfiguration#localizedStringBundle","description":"Uniquely identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"translations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The locale strings.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"LocalizedString","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"games/v1configuration/","title":"Google Play Game Services Publishing API","version":"v1configuration","version_module":null}