{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/drive.appdata":{"description":"View and manage its own configuration data in your Google Drive"},"https://www.googleapis.com/auth/games":{"description":"Share your Google+ profile information and view and manage your game activity"},"https://www.googleapis.com/auth/plus.login":{"description":"Know the list of people in your circles, your age range, and language"}}}},"basePath":"/games/v1/","baseUrl":"https://www.googleapis.com/games/v1/","batchPath":"batch/games/v1","canonicalName":"Games","description":"The API for Google Play Game Services.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/games/services/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/HqTpap1nFJVzFsWm0bte26wBTIs\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png","x32":"https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"},"id":"games:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"games","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"achievementDefinitions":{"methods":{"list":{"description":"Lists all the achievement definitions for your application.","etagRequired":null,"httpMethod":"GET","id":"games.achievementDefinitions.list","mediaUpload":null,"parameterOrder":null,"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified maxResults.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"200","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token returned by the previous request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"achievements","request":null,"response":{"$ref":"AchievementDefinitionsListResponse"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"achievements":{"methods":{"increment":{"description":"Increments the steps of the achievement with the given ID for the currently authenticated player.","etagRequired":null,"httpMethod":"POST","id":"games.achievements.increment","mediaUpload":null,"parameterOrder":["achievementId","stepsToIncrement"],"parameters":{"achievementId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the achievement used by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"stepsToIncrement":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The number of steps to increment.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null}},"path":"achievements/{achievementId}/increment","request":null,"response":{"$ref":"AchievementIncrementResponse"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists the progress for all your application's achievements for the currently authenticated player.","etagRequired":null,"httpMethod":"GET","id":"games.achievements.list","mediaUpload":null,"parameterOrder":["playerId"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified maxResults.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"200","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token returned by the previous request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"playerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A player ID. A value of me may be used in place of the authenticated player's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"state":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned.","enum":["ALL","HIDDEN","REVEALED","UNLOCKED"],"enumDescriptions":["List all achievements. This is the default.","List only hidden achievements.","List only revealed achievements.","List only unlocked achievements."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"players/{playerId}/achievements","request":null,"response":{"$ref":"PlayerAchievementListResponse"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"reveal":{"description":"Sets the state of the achievement with the given ID to REVEALED for the currently authenticated player.","etagRequired":null,"httpMethod":"POST","id":"games.achievements.reveal","mediaUpload":null,"parameterOrder":["achievementId"],"parameters":{"achievementId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the achievement used by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"achievements/{achievementId}/reveal","request":null,"response":{"$ref":"AchievementRevealResponse"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"setStepsAtLeast":{"description":"Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.","etagRequired":null,"httpMethod":"POST","id":"games.achievements.setStepsAtLeast","mediaUpload":null,"parameterOrder":["achievementId","steps"],"parameters":{"achievementId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the achievement used by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"steps":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The minimum value to set the steps to.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null}},"path":"achievements/{achievementId}/setStepsAtLeast","request":null,"response":{"$ref":"AchievementSetStepsAtLeastResponse"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"unlock":{"description":"Unlocks this achievement for the currently authenticated player.","etagRequired":null,"httpMethod":"POST","id":"games.achievements.unlock","mediaUpload":null,"parameterOrder":["achievementId"],"parameters":{"achievementId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the achievement used by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"achievements/{achievementId}/unlock","request":null,"response":{"$ref":"AchievementUnlockResponse"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"updateMultiple":{"description":"Updates multiple achievements for the currently authenticated player.","etagRequired":null,"httpMethod":"POST","id":"games.achievements.updateMultiple","mediaUpload":null,"parameterOrder":null,"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"achievements/updateMultiple","request":{"$ref":"AchievementUpdateMultipleRequest","parameterName":null},"response":{"$ref":"AchievementUpdateMultipleResponse"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"applications":{"methods":{"get":{"description":"Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified platformType, the returned response will not include any instance data.","etagRequired":null,"httpMethod":"GET","id":"games.applications.get","mediaUpload":null,"parameterOrder":["applicationId"],"parameters":{"applicationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The application ID from the Google Play developer console.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"platformType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Restrict application details returned to the specific platform.","enum":["ANDROID","IOS","WEB_APP"],"enumDescriptions":["Retrieve applications that can be played on Android.","Retrieve applications that can be played on iOS.","Retrieve applications that can be played on desktop web."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"applications/{applicationId}","request":null,"response":{"$ref":"Application"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"played":{"description":"Indicate that the the currently authenticated user is playing your application.","etagRequired":null,"httpMethod":"POST","id":"games.applications.played","mediaUpload":null,"parameterOrder":null,"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"applications/played","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"verify":{"description":"Verifies the auth token provided with this request is for the application with the specified ID, and returns the ID of the player it was granted for.","etagRequired":null,"httpMethod":"GET","id":"games.applications.verify","mediaUpload":null,"parameterOrder":["applicationId"],"parameters":{"applicationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The application ID from the Google Play developer console.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"applications/{applicationId}/verify","request":null,"response":{"$ref":"ApplicationVerifyResponse"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"events":{"methods":{"listByPlayer":{"description":"Returns a list showing the current progress on events in this application for the currently authenticated user.","etagRequired":null,"httpMethod":"GET","id":"games.events.listByPlayer","mediaUpload":null,"parameterOrder":null,"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"100","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token returned by the previous request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"events","request":null,"response":{"$ref":"PlayerEventListResponse"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"listDefinitions":{"description":"Returns a list of the event definitions in this application.","etagRequired":null,"httpMethod":"GET","id":"games.events.listDefinitions","mediaUpload":null,"parameterOrder":null,"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified maxResults.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"100","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token returned by the previous request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"eventDefinitions","request":null,"response":{"$ref":"EventDefinitionListResponse"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"record":{"description":"Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.","etagRequired":null,"httpMethod":"POST","id":"games.events.record","mediaUpload":null,"parameterOrder":null,"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"events","request":{"$ref":"EventRecordRequest","parameterName":null},"response":{"$ref":"EventUpdateResponse"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"leaderboards":{"methods":{"get":{"description":"Retrieves the metadata of the leaderboard with the given ID.","etagRequired":null,"httpMethod":"GET","id":"games.leaderboards.get","mediaUpload":null,"parameterOrder":["leaderboardId"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"leaderboardId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the leaderboard.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"leaderboards/{leaderboardId}","request":null,"response":{"$ref":"Leaderboard"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all the leaderboard metadata for your application.","etagRequired":null,"httpMethod":"GET","id":"games.leaderboards.list","mediaUpload":null,"parameterOrder":null,"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified maxResults.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"200","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token returned by the previous request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"leaderboards","request":null,"response":{"$ref":"LeaderboardListResponse"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"metagame":{"methods":{"getMetagameConfig":{"description":"Return the metagame configuration data for the calling application.","etagRequired":null,"httpMethod":"GET","id":"games.metagame.getMetagameConfig","mediaUpload":null,"parameterOrder":null,"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"metagameConfig","request":null,"response":{"$ref":"MetagameConfig"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"listCategoriesByPlayer":{"description":"List play data aggregated per category for the player corresponding to playerId.","etagRequired":null,"httpMethod":"GET","id":"games.metagame.listCategoriesByPlayer","mediaUpload":null,"parameterOrder":["playerId","collection"],"parameters":{"collection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The collection of categories for which data will be returned.","enum":["all"],"enumDescriptions":["Retrieve data for all categories. This is the default."],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified maxResults.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"100","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token returned by the previous request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"playerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A player ID. A value of me may be used in place of the authenticated player's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"players/{playerId}/categories/{collection}","request":null,"response":{"$ref":"CategoryListResponse"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"players":{"methods":{"get":{"description":"Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set playerId to me.","etagRequired":null,"httpMethod":"GET","id":"games.players.get","mediaUpload":null,"parameterOrder":["playerId"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"playerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A player ID. A value of me may be used in place of the authenticated player's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"players/{playerId}","request":null,"response":{"$ref":"Player"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Get the collection of players for the currently authenticated user.","etagRequired":null,"httpMethod":"GET","id":"games.players.list","mediaUpload":null,"parameterOrder":["collection"],"parameters":{"collection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Collection of players being retrieved","enum":["connected","playedWith","played_with","visible"],"enumDescriptions":["Retrieve a list of players that are also playing this game in reverse chronological order.","(DEPRECATED: please use played_with!) Retrieve a list of players you have played a multiplayer game (realtime or turn-based) with recently.","Retrieve a list of players you have played a multiplayer game (realtime or turn-based) with recently.","Retrieve a list of players in the user's social graph that are visible to this game."],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified maxResults.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"50","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token returned by the previous request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"players/me/players/{collection}","request":null,"response":{"$ref":"PlayerListResponse"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"pushtokens":{"methods":{"remove":{"description":"Removes a push token for the current user and application. Removing a non-existent push token will report success.","etagRequired":null,"httpMethod":"POST","id":"games.pushtokens.remove","mediaUpload":null,"parameterOrder":null,"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"pushtokens/remove","request":{"$ref":"PushTokenId","parameterName":null},"response":null,"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Registers a push token for the current user and application.","etagRequired":null,"httpMethod":"PUT","id":"games.pushtokens.update","mediaUpload":null,"parameterOrder":null,"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"pushtokens","request":{"$ref":"PushToken","parameterName":null},"response":null,"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"questMilestones":{"methods":{"claim":{"description":"Report that a reward for the milestone corresponding to milestoneId for the quest corresponding to questId has been claimed by the currently authorized user.","etagRequired":null,"httpMethod":"PUT","id":"games.questMilestones.claim","mediaUpload":null,"parameterOrder":["questId","milestoneId","requestId"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"milestoneId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the milestone.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"questId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the quest.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"requestId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A numeric ID to ensure that the request is handled correctly across retries. Your client application must generate this ID randomly.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"quests/{questId}/milestones/{milestoneId}/claim","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"quests":{"methods":{"accept":{"description":"Indicates that the currently authorized user will participate in the quest.","etagRequired":null,"httpMethod":"POST","id":"games.quests.accept","mediaUpload":null,"parameterOrder":["questId"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"questId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the quest.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"quests/{questId}/accept","request":null,"response":{"$ref":"Quest"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Get a list of quests for your application and the currently authenticated player.","etagRequired":null,"httpMethod":"GET","id":"games.quests.list","mediaUpload":null,"parameterOrder":["playerId"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of quest resources to return in the response, used for paging. For any response, the actual number of quest resources returned may be less than the specified maxResults. Acceptable values are 1 to 50, inclusive. (Default: 50).","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"50","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token returned by the previous request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"playerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A player ID. A value of me may be used in place of the authenticated player's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"players/{playerId}/quests","request":null,"response":{"$ref":"QuestListResponse"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"revisions":{"methods":{"check":{"description":"Checks whether the games client is out of date.","etagRequired":null,"httpMethod":"GET","id":"games.revisions.check","mediaUpload":null,"parameterOrder":["clientRevision"],"parameters":{"clientRevision":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The revision of the client SDK used by your application. Format:\n[PLATFORM_TYPE]:[VERSION_NUMBER]. Possible values of PLATFORM_TYPE are:\n \n- \"ANDROID\" - Client is running the Android SDK. \n- \"IOS\" - Client is running the iOS SDK. \n- \"WEB_APP\" - Client is running as a Web App.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"revisions/check","request":null,"response":{"$ref":"RevisionCheckResponse"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"rooms":{"methods":{"create":{"description":"Create a room. For internal use by the Games SDK only. Calling this method directly is unsupported.","etagRequired":null,"httpMethod":"POST","id":"games.rooms.create","mediaUpload":null,"parameterOrder":null,"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"rooms/create","request":{"$ref":"RoomCreateRequest","parameterName":null},"response":{"$ref":"Room"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"decline":{"description":"Decline an invitation to join a room. For internal use by the Games SDK only. Calling this method directly is unsupported.","etagRequired":null,"httpMethod":"POST","id":"games.rooms.decline","mediaUpload":null,"parameterOrder":["roomId"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"roomId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the room.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"rooms/{roomId}/decline","request":null,"response":{"$ref":"Room"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"dismiss":{"description":"Dismiss an invitation to join a room. For internal use by the Games SDK only. Calling this method directly is unsupported.","etagRequired":null,"httpMethod":"POST","id":"games.rooms.dismiss","mediaUpload":null,"parameterOrder":["roomId"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"roomId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the room.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"rooms/{roomId}/dismiss","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Get the data for a room.","etagRequired":null,"httpMethod":"GET","id":"games.rooms.get","mediaUpload":null,"parameterOrder":["roomId"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"roomId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the room.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"rooms/{roomId}","request":null,"response":{"$ref":"Room"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"join":{"description":"Join a room. For internal use by the Games SDK only. Calling this method directly is unsupported.","etagRequired":null,"httpMethod":"POST","id":"games.rooms.join","mediaUpload":null,"parameterOrder":["roomId"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"roomId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the room.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"rooms/{roomId}/join","request":{"$ref":"RoomJoinRequest","parameterName":null},"response":{"$ref":"Room"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"leave":{"description":"Leave a room. For internal use by the Games SDK only. Calling this method directly is unsupported.","etagRequired":null,"httpMethod":"POST","id":"games.rooms.leave","mediaUpload":null,"parameterOrder":["roomId"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"roomId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the room.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"rooms/{roomId}/leave","request":{"$ref":"RoomLeaveRequest","parameterName":null},"response":{"$ref":"Room"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Returns invitations to join rooms.","etagRequired":null,"httpMethod":"GET","id":"games.rooms.list","mediaUpload":null,"parameterOrder":null,"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of rooms to return in the response, used for paging. For any response, the actual number of rooms to return may be less than the specified maxResults.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"500","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token returned by the previous request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"rooms","request":null,"response":{"$ref":"RoomList"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"reportStatus":{"description":"Updates sent by a client reporting the status of peers in a room. For internal use by the Games SDK only. Calling this method directly is unsupported.","etagRequired":null,"httpMethod":"POST","id":"games.rooms.reportStatus","mediaUpload":null,"parameterOrder":["roomId"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"roomId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the room.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"rooms/{roomId}/reportstatus","request":{"$ref":"RoomP2PStatuses","parameterName":null},"response":{"$ref":"RoomStatus"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"scores":{"methods":{"get":{"description":"Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, leaderboardId can be set to ALL to retrieve data for all leaderboards in a given time span.\nNOTE: You cannot ask for 'ALL' leaderboards and 'ALL' timeSpans in the same request; only one parameter may be set to 'ALL'.","etagRequired":null,"httpMethod":"GET","id":"games.scores.get","mediaUpload":null,"parameterOrder":["playerId","leaderboardId","timeSpan"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"includeRankType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The types of ranks to return. If the parameter is omitted, no ranks will be returned.","enum":["ALL","PUBLIC","SOCIAL"],"enumDescriptions":["Retrieve public and social ranks.","Retrieve public ranks, if the player is sharing their gameplay activity publicly.","Retrieve the social rank."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"leaderboardId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the leaderboard. Can be set to 'ALL' to retrieve data for all leaderboards for this application.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified maxResults.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"30","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token returned by the previous request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"playerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A player ID. A value of me may be used in place of the authenticated player's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"timeSpan":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time span for the scores and ranks you're requesting.","enum":["ALL","ALL_TIME","DAILY","WEEKLY"],"enumDescriptions":["Get the high scores for all time spans. If this is used, maxResults values will be ignored.","Get the all time high score.","List the top scores for the current day.","List the top scores for the current week."],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}","request":null,"response":{"$ref":"PlayerLeaderboardScoreListResponse"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists the scores in a leaderboard, starting from the top.","etagRequired":null,"httpMethod":"GET","id":"games.scores.list","mediaUpload":null,"parameterOrder":["leaderboardId","collection","timeSpan"],"parameters":{"collection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The collection of scores you're requesting.","enum":["PUBLIC","SOCIAL","SOCIAL_1P"],"enumDescriptions":["List all scores in the public leaderboard.","List only social scores.","List only social scores, not respecting the fACL."],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"leaderboardId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the leaderboard.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified maxResults.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"30","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token returned by the previous request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timeSpan":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time span for the scores and ranks you're requesting.","enum":["ALL_TIME","DAILY","WEEKLY"],"enumDescriptions":["List the all-time top scores.","List the top scores for the current day.","List the top scores for the current week."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"leaderboards/{leaderboardId}/scores/{collection}","request":null,"response":{"$ref":"LeaderboardScores"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"listWindow":{"description":"Lists the scores in a leaderboard around (and including) a player's score.","etagRequired":null,"httpMethod":"GET","id":"games.scores.listWindow","mediaUpload":null,"parameterOrder":["leaderboardId","collection","timeSpan"],"parameters":{"collection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The collection of scores you're requesting.","enum":["PUBLIC","SOCIAL","SOCIAL_1P"],"enumDescriptions":["List all scores in the public leaderboard.","List only social scores.","List only social scores, not respecting the fACL."],"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"leaderboardId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the leaderboard.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified maxResults.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"30","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token returned by the previous request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"resultsAbove":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred number of scores to return above the player's score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"returnTopIfAbsent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if the top scores should be returned when the player is not in the leaderboard. Defaults to true.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"timeSpan":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time span for the scores and ranks you're requesting.","enum":["ALL_TIME","DAILY","WEEKLY"],"enumDescriptions":["List the all-time top scores.","List the top scores for the current day.","List the top scores for the current week."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"leaderboards/{leaderboardId}/window/{collection}","request":null,"response":{"$ref":"LeaderboardScores"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"submit":{"description":"Submits a score to the specified leaderboard.","etagRequired":null,"httpMethod":"POST","id":"games.scores.submit","mediaUpload":null,"parameterOrder":["leaderboardId","score"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"leaderboardId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the leaderboard.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"score":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The score you're submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"scoreTag":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Additional information about the score you're submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":"[a-zA-Z0-9-._~]{0,64}","properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"leaderboards/{leaderboardId}/scores","request":null,"response":{"$ref":"PlayerScoreResponse"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"submitMultiple":{"description":"Submits multiple scores to leaderboards.","etagRequired":null,"httpMethod":"POST","id":"games.scores.submitMultiple","mediaUpload":null,"parameterOrder":null,"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"leaderboards/scores","request":{"$ref":"PlayerScoreSubmissionList","parameterName":null},"response":{"$ref":"PlayerScoreListResponse"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"snapshots":{"methods":{"get":{"description":"Retrieves the metadata for a given snapshot ID.","etagRequired":null,"httpMethod":"GET","id":"games.snapshots.get","mediaUpload":null,"parameterOrder":["snapshotId"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"snapshotId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the snapshot.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"snapshots/{snapshotId}","request":null,"response":{"$ref":"Snapshot"},"scopes":["https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of snapshots created by your application for the player corresponding to the player ID.","etagRequired":null,"httpMethod":"GET","id":"games.snapshots.list","mediaUpload":null,"parameterOrder":["playerId"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified maxResults.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"25","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token returned by the previous request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"playerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A player ID. A value of me may be used in place of the authenticated player's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"players/{playerId}/snapshots","request":null,"response":{"$ref":"SnapshotListResponse"},"scopes":["https://www.googleapis.com/auth/drive.appdata","https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"turnBasedMatches":{"methods":{"cancel":{"description":"Cancel a turn-based match.","etagRequired":null,"httpMethod":"PUT","id":"games.turnBasedMatches.cancel","mediaUpload":null,"parameterOrder":["matchId"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"matchId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the match.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"turnbasedmatches/{matchId}/cancel","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Create a turn-based match.","etagRequired":null,"httpMethod":"POST","id":"games.turnBasedMatches.create","mediaUpload":null,"parameterOrder":null,"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"turnbasedmatches/create","request":{"$ref":"TurnBasedMatchCreateRequest","parameterName":null},"response":{"$ref":"TurnBasedMatch"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"decline":{"description":"Decline an invitation to play a turn-based match.","etagRequired":null,"httpMethod":"PUT","id":"games.turnBasedMatches.decline","mediaUpload":null,"parameterOrder":["matchId"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"matchId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the match.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"turnbasedmatches/{matchId}/decline","request":null,"response":{"$ref":"TurnBasedMatch"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"dismiss":{"description":"Dismiss a turn-based match from the match list. The match will no longer show up in the list and will not generate notifications.","etagRequired":null,"httpMethod":"PUT","id":"games.turnBasedMatches.dismiss","mediaUpload":null,"parameterOrder":["matchId"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"matchId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the match.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"turnbasedmatches/{matchId}/dismiss","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"finish":{"description":"Finish a turn-based match. Each player should make this call once, after all results are in. Only the player whose turn it is may make the first call to Finish, and can pass in the final match state.","etagRequired":null,"httpMethod":"PUT","id":"games.turnBasedMatches.finish","mediaUpload":null,"parameterOrder":["matchId"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"matchId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the match.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"turnbasedmatches/{matchId}/finish","request":{"$ref":"TurnBasedMatchResults","parameterName":null},"response":{"$ref":"TurnBasedMatch"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Get the data for a turn-based match.","etagRequired":null,"httpMethod":"GET","id":"games.turnBasedMatches.get","mediaUpload":null,"parameterOrder":["matchId"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"includeMatchData":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Get match data along with metadata.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"matchId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the match.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"turnbasedmatches/{matchId}","request":null,"response":{"$ref":"TurnBasedMatch"},"scopes":["https://www.googleapis.com/auth/games","https://www.googleapis.com/auth/plus.login"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"join":{"description":"Join a turn-based match.","etagRequired":null,"httpMethod":"PUT","id":"games.turnBasedMatches.join","mediaUpload":null,"parameterOrder":["matchId"],"parameters":{"consistencyToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last-seen mutation timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The preferred language to use for strings returned by this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"matchId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"de
[...]
