{"auth":{"oauth2":{"scopes":{"https://mail.google.com/":{"description":"Read, send, delete, and manage your email"},"https://www.googleapis.com/auth/gmail.compose":{"description":"Manage drafts and send emails"},"https://www.googleapis.com/auth/gmail.insert":{"description":"Insert mail into your mailbox"},"https://www.googleapis.com/auth/gmail.labels":{"description":"Manage mailbox labels"},"https://www.googleapis.com/auth/gmail.metadata":{"description":"View your email message metadata such as labels and headers, but not the email body"},"https://www.googleapis.com/auth/gmail.modify":{"description":"View and modify but not delete your email"},"https://www.googleapis.com/auth/gmail.readonly":{"description":"View your email messages and settings"},"https://www.googleapis.com/auth/gmail.send":{"description":"Send email on your behalf"},"https://www.googleapis.com/auth/gmail.settings.basic":{"description":"Manage your basic mail settings"},"https://www.googleapis.com/auth/gmail.settings.sharing":{"description":"Manage your sensitive mail settings, including who can manage your mail"}}}},"basePath":"/gmail/v1/users/","baseUrl":"https://www.googleapis.com/gmail/v1/users/","batchPath":"batch/gmail/v1","canonicalName":null,"description":"Access Gmail mailboxes including sending user email.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/gmail/api/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/Jxtw49Vdy6XkRjNk3GQgsLTd4CA\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.google.com/images/icons/product/googlemail-16.png","x32":"https://www.google.com/images/icons/product/googlemail-32.png"},"id":"gmail:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"gmail","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"users":{"methods":{"getProfile":{"description":"Gets the current user's Gmail profile.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.getProfile","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/profile","request":null,"response":{"$ref":"Profile"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.compose","https://www.googleapis.com/auth/gmail.metadata","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"stop":{"description":"Stop receiving push notifications for the given user mailbox.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.stop","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/stop","request":null,"response":null,"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.metadata","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"watch":{"description":"Set up or update a push notification watch on the given user mailbox.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.watch","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/watch","request":{"$ref":"WatchRequest","parameterName":null},"response":{"$ref":"WatchResponse"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.metadata","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"drafts":{"methods":{"create":{"description":"Creates a new draft with the DRAFT label.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.drafts.create","mediaUpload":{"accept":["message/rfc822"],"maxSize":"35MB","protocols":{"resumable":{"multipart":true,"path":"/resumable/upload/gmail/v1/users/{userId}/drafts"},"simple":{"multipart":true,"path":"/upload/gmail/v1/users/{userId}/drafts"}}},"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/drafts","request":{"$ref":"Draft","parameterName":null},"response":{"$ref":"Draft"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.compose","https://www.googleapis.com/auth/gmail.modify"],"supportsMediaDownload":null,"supportsMediaUpload":true,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Immediately and permanently deletes the specified draft. Does not simply trash it.","etagRequired":null,"httpMethod":"DELETE","id":"gmail.users.drafts.delete","mediaUpload":null,"parameterOrder":["userId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the draft to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/drafts/{id}","request":null,"response":null,"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.compose","https://www.googleapis.com/auth/gmail.modify"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets the specified draft.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.drafts.get","mediaUpload":null,"parameterOrder":["userId","id"],"parameters":{"format":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"full","description":"The format to return the draft in.","enum":["full","metadata","minimal","raw"],"enumDescriptions":["","","",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the draft to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/drafts/{id}","request":null,"response":{"$ref":"Draft"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.compose","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists the drafts in the user's mailbox.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.drafts.list","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"includeSpamTrash":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Include drafts from SPAM and TRASH in the results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"100","description":"Maximum number of drafts to return.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Page token to retrieve a specific page of results in the list.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"q":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Only return draft messages matching the specified query. Supports the same query format as the Gmail search box. For example, \"from:someuser@example.com rfc822msgid: is:unread\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/drafts","request":null,"response":{"$ref":"ListDraftsResponse"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.compose","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"send":{"description":"Sends the specified, existing draft to the recipients in the To, Cc, and Bcc headers.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.drafts.send","mediaUpload":{"accept":["message/rfc822"],"maxSize":"35MB","protocols":{"resumable":{"multipart":true,"path":"/resumable/upload/gmail/v1/users/{userId}/drafts/send"},"simple":{"multipart":true,"path":"/upload/gmail/v1/users/{userId}/drafts/send"}}},"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/drafts/send","request":{"$ref":"Draft","parameterName":null},"response":{"$ref":"Message"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.compose","https://www.googleapis.com/auth/gmail.modify"],"supportsMediaDownload":null,"supportsMediaUpload":true,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Replaces a draft's content.","etagRequired":null,"httpMethod":"PUT","id":"gmail.users.drafts.update","mediaUpload":{"accept":["message/rfc822"],"maxSize":"35MB","protocols":{"resumable":{"multipart":true,"path":"/resumable/upload/gmail/v1/users/{userId}/drafts/{id}"},"simple":{"multipart":true,"path":"/upload/gmail/v1/users/{userId}/drafts/{id}"}}},"parameterOrder":["userId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the draft to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/drafts/{id}","request":{"$ref":"Draft","parameterName":null},"response":{"$ref":"Draft"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.compose","https://www.googleapis.com/auth/gmail.modify"],"supportsMediaDownload":null,"supportsMediaUpload":true,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"history":{"methods":{"list":{"description":"Lists the history of all changes to the given mailbox. History results are returned in chronological order (increasing historyId).","etagRequired":null,"httpMethod":"GET","id":"gmail.users.history.list","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"historyTypes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"History types to be returned by the function","enum":["labelAdded","labelRemoved","messageAdded","messageDeleted"],"enumDescriptions":["","","",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"labelId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Only return messages with a label matching the ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"100","description":"The maximum number of history records to return.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Page token to retrieve a specific page of results in the list.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startHistoryId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. Returns history records after the specified startHistoryId. The supplied startHistoryId should be obtained from the historyId of a message, thread, or previous list response. History IDs increase chronologically but are not contiguous with random gaps in between valid IDs. Supplying an invalid or out of date startHistoryId typically returns an HTTP 404 error code. A historyId is typically valid for at least a week, but in some rare circumstances may be valid for only a few hours. If you receive an HTTP 404 error response, your application should perform a full sync. If you receive no nextPageToken in the response, there are no updates to retrieve and you can store the returned historyId for a future request.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/history","request":null,"response":{"$ref":"ListHistoryResponse"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.metadata","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"labels":{"methods":{"create":{"description":"Creates a new label.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.labels.create","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/labels","request":{"$ref":"Label","parameterName":null},"response":{"$ref":"Label"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.labels","https://www.googleapis.com/auth/gmail.modify"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Immediately and permanently deletes the specified label and removes it from any messages and threads that it is applied to.","etagRequired":null,"httpMethod":"DELETE","id":"gmail.users.labels.delete","mediaUpload":null,"parameterOrder":["userId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the label to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/labels/{id}","request":null,"response":null,"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.labels","https://www.googleapis.com/auth/gmail.modify"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets the specified label.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.labels.get","mediaUpload":null,"parameterOrder":["userId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the label to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/labels/{id}","request":null,"response":{"$ref":"Label"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.labels","https://www.googleapis.com/auth/gmail.metadata","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all labels in the user's mailbox.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.labels.list","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/labels","request":null,"response":{"$ref":"ListLabelsResponse"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.labels","https://www.googleapis.com/auth/gmail.metadata","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates the specified label. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"gmail.users.labels.patch","mediaUpload":null,"parameterOrder":["userId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the label to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/labels/{id}","request":{"$ref":"Label","parameterName":null},"response":{"$ref":"Label"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.labels","https://www.googleapis.com/auth/gmail.modify"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates the specified label.","etagRequired":null,"httpMethod":"PUT","id":"gmail.users.labels.update","mediaUpload":null,"parameterOrder":["userId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the label to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/labels/{id}","request":{"$ref":"Label","parameterName":null},"response":{"$ref":"Label"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.labels","https://www.googleapis.com/auth/gmail.modify"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"messages":{"methods":{"batchDelete":{"description":"Deletes many messages by message ID. Provides no guarantees that messages were not already deleted or even existed at all.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.messages.batchDelete","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/messages/batchDelete","request":{"$ref":"BatchDeleteMessagesRequest","parameterName":null},"response":null,"scopes":["https://mail.google.com/"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"batchModify":{"description":"Modifies the labels on the specified messages.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.messages.batchModify","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/messages/batchModify","request":{"$ref":"BatchModifyMessagesRequest","parameterName":null},"response":null,"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.modify"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Immediately and permanently deletes the specified message. This operation cannot be undone. Prefer messages.trash instead.","etagRequired":null,"httpMethod":"DELETE","id":"gmail.users.messages.delete","mediaUpload":null,"parameterOrder":["userId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the message to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/messages/{id}","request":null,"response":null,"scopes":["https://mail.google.com/"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets the specified message.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.messages.get","mediaUpload":null,"parameterOrder":["userId","id"],"parameters":{"format":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"full","description":"The format to return the message in.","enum":["full","metadata","minimal","raw"],"enumDescriptions":["","","",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the message to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"metadataHeaders":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When given and format is METADATA, only include headers specified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/messages/{id}","request":null,"response":{"$ref":"Message"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.metadata","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"import":{"description":"Imports a message into only this user's mailbox, with standard email delivery scanning and classification similar to receiving via SMTP. Does not send a message.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.messages.import","mediaUpload":{"accept":["message/rfc822"],"maxSize":"50MB","protocols":{"resumable":{"multipart":true,"path":"/resumable/upload/gmail/v1/users/{userId}/messages/import"},"simple":{"multipart":true,"path":"/upload/gmail/v1/users/{userId}/messages/import"}}},"parameterOrder":["userId"],"parameters":{"deleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for G Suite accounts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"internalDateSource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"dateHeader","description":"Source for Gmail's internal date of the message.","enum":["dateHeader","receivedTime"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"neverMarkSpam":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Ignore the Gmail spam classifier decision and never mark this email as SPAM in the mailbox.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"processForCalendar":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Process calendar invites in the email and add any extracted meetings to the Google Calendar for this user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/messages/import","request":{"$ref":"Message","parameterName":null},"response":{"$ref":"Message"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.insert","https://www.googleapis.com/auth/gmail.modify"],"supportsMediaDownload":null,"supportsMediaUpload":true,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Directly inserts a message into only this user's mailbox similar to IMAP APPEND, bypassing most scanning and classification. Does not send a message.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.messages.insert","mediaUpload":{"accept":["message/rfc822"],"maxSize":"50MB","protocols":{"resumable":{"multipart":true,"path":"/resumable/upload/gmail/v1/users/{userId}/messages"},"simple":{"multipart":true,"path":"/upload/gmail/v1/users/{userId}/messages"}}},"parameterOrder":["userId"],"parameters":{"deleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Mark the email as permanently deleted (not TRASH) and only visible in Google Vault to a Vault administrator. Only used for G Suite accounts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"internalDateSource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"receivedTime","description":"Source for Gmail's internal date of the message.","enum":["dateHeader","receivedTime"],"enumDescriptions":["",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/messages","request":{"$ref":"Message","parameterName":null},"response":{"$ref":"Message"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.insert","https://www.googleapis.com/auth/gmail.modify"],"supportsMediaDownload":null,"supportsMediaUpload":true,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists the messages in the user's mailbox.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.messages.list","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"includeSpamTrash":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Include messages from SPAM and TRASH in the results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"labelIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Only return messages with labels that match all of the specified label IDs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"100","description":"Maximum number of messages to return.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Page token to retrieve a specific page of results in the list.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"q":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Only return messages matching the specified query. Supports the same query format as the Gmail search box. For example, \"from:someuser@example.com rfc822msgid:<somemsgid@example.com> is:unread\". Parameter cannot be used when accessing the api using the gmail.metadata scope.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/messages","request":null,"response":{"$ref":"ListMessagesResponse"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.metadata","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"modify":{"description":"Modifies the labels on the specified message.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.messages.modify","mediaUpload":null,"parameterOrder":["userId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the message to modify.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/messages/{id}/modify","request":{"$ref":"ModifyMessageRequest","parameterName":null},"response":{"$ref":"Message"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.modify"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"send":{"description":"Sends the specified message to the recipients in the To, Cc, and Bcc headers.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.messages.send","mediaUpload":{"accept":["message/rfc822"],"maxSize":"35MB","protocols":{"resumable":{"multipart":true,"path":"/resumable/upload/gmail/v1/users/{userId}/messages/send"},"simple":{"multipart":true,"path":"/upload/gmail/v1/users/{userId}/messages/send"}}},"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/messages/send","request":{"$ref":"Message","parameterName":null},"response":{"$ref":"Message"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.compose","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.send"],"supportsMediaDownload":null,"supportsMediaUpload":true,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"trash":{"description":"Moves the specified message to the trash.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.messages.trash","mediaUpload":null,"parameterOrder":["userId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the message to Trash.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/messages/{id}/trash","request":null,"response":{"$ref":"Message"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.modify"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"untrash":{"description":"Removes the specified message from the trash.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.messages.untrash","mediaUpload":null,"parameterOrder":["userId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the message to remove from Trash.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/messages/{id}/untrash","request":null,"response":{"$ref":"Message"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.modify"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"attachments":{"methods":{"get":{"description":"Gets the specified message attachment.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.messages.attachments.get","mediaUpload":null,"parameterOrder":["userId","messageId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the attachment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"messageId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the message containing the attachment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/messages/{messageId}/attachments/{id}","request":null,"response":{"$ref":"MessagePartBody"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"settings":{"methods":{"getAutoForwarding":{"description":"Gets the auto-forwarding setting for the specified account.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.settings.getAutoForwarding","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/autoForwarding","request":null,"response":{"$ref":"AutoForwarding"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly","https://www.googleapis.com/auth/gmail.settings.basic"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getImap":{"description":"Gets IMAP settings.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.settings.getImap","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/imap","request":null,"response":{"$ref":"ImapSettings"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly","https://www.googleapis.com/auth/gmail.settings.basic"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getPop":{"description":"Gets POP settings.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.settings.getPop","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/pop","request":null,"response":{"$ref":"PopSettings"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly","https://www.googleapis.com/auth/gmail.settings.basic"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getVacation":{"description":"Gets vacation responder settings.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.settings.getVacation","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/vacation","request":null,"response":{"$ref":"VacationSettings"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly","https://www.googleapis.com/auth/gmail.settings.basic"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"updateAutoForwarding":{"description":"Updates the auto-forwarding setting for the specified account. A verified forwarding address must be specified when auto-forwarding is enabled.\n\nThis method is only available to service account clients that have been delegated domain-wide authority.","etagRequired":null,"httpMethod":"PUT","id":"gmail.users.settings.updateAutoForwarding","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/autoForwarding","request":{"$ref":"AutoForwarding","parameterName":null},"response":{"$ref":"AutoForwarding"},"scopes":["https://www.googleapis.com/auth/gmail.settings.sharing"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"updateImap":{"description":"Updates IMAP settings.","etagRequired":null,"httpMethod":"PUT","id":"gmail.users.settings.updateImap","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/imap","request":{"$ref":"ImapSettings","parameterName":null},"response":{"$ref":"ImapSettings"},"scopes":["https://www.googleapis.com/auth/gmail.settings.basic"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"updatePop":{"description":"Updates POP settings.","etagRequired":null,"httpMethod":"PUT","id":"gmail.users.settings.updatePop","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/pop","request":{"$ref":"PopSettings","parameterName":null},"response":{"$ref":"PopSettings"},"scopes":["https://www.googleapis.com/auth/gmail.settings.basic"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"updateVacation":{"description":"Updates vacation responder settings.","etagRequired":null,"httpMethod":"PUT","id":"gmail.users.settings.updateVacation","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/vacation","request":{"$ref":"VacationSettings","parameterName":null},"response":{"$ref":"VacationSettings"},"scopes":["https://www.googleapis.com/auth/gmail.settings.basic"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"filters":{"methods":{"create":{"description":"Creates a filter.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.settings.filters.create","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/filters","request":{"$ref":"Filter","parameterName":null},"response":{"$ref":"Filter"},"scopes":["https://www.googleapis.com/auth/gmail.settings.basic"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a filter.","etagRequired":null,"httpMethod":"DELETE","id":"gmail.users.settings.filters.delete","mediaUpload":null,"parameterOrder":["userId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the filter to be deleted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/filters/{id}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/gmail.settings.basic"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a filter.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.settings.filters.get","mediaUpload":null,"parameterOrder":["userId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the filter to be fetched.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/filters/{id}","request":null,"response":{"$ref":"Filter"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly","https://www.googleapis.com/auth/gmail.settings.basic"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists the message filters of a Gmail user.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.settings.filters.list","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/filters","request":null,"response":{"$ref":"ListFiltersResponse"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly","https://www.googleapis.com/auth/gmail.settings.basic"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"forwardingAddresses":{"methods":{"create":{"description":"Creates a forwarding address. If ownership verification is required, a message will be sent to the recipient and the resource's verification status will be set to pending; otherwise, the resource will be created with verification status set to accepted.\n\nThis method is only available to service account clients that have been delegated domain-wide authority.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.settings.forwardingAddresses.create","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/forwardingAddresses","request":{"$ref":"ForwardingAddress","parameterName":null},"response":{"$ref":"ForwardingAddress"},"scopes":["https://www.googleapis.com/auth/gmail.settings.sharing"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes the specified forwarding address and revokes any verification that may have been required.\n\nThis method is only available to service account clients that have been delegated domain-wide authority.","etagRequired":null,"httpMethod":"DELETE","id":"gmail.users.settings.forwardingAddresses.delete","mediaUpload":null,"parameterOrder":["userId","forwardingEmail"],"parameters":{"forwardingEmail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The forwarding address to be deleted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/forwardingAddresses/{forwardingEmail}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/gmail.settings.sharing"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets the specified forwarding address.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.settings.forwardingAddresses.get","mediaUpload":null,"parameterOrder":["userId","forwardingEmail"],"parameters":{"forwardingEmail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The forwarding address to be retrieved.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/forwardingAddresses/{forwardingEmail}","request":null,"response":{"$ref":"ForwardingAddress"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly","https://www.googleapis.com/auth/gmail.settings.basic"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists the forwarding addresses for the specified account.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.settings.forwardingAddresses.list","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/forwardingAddresses","request":null,"response":{"$ref":"ListForwardingAddressesResponse"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly","https://www.googleapis.com/auth/gmail.settings.basic"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"sendAs":{"methods":{"create":{"description":"Creates a custom \"from\" send-as alias. If an SMTP MSA is specified, Gmail will attempt to connect to the SMTP service to validate the configuration before creating the alias. If ownership verification is required for the alias, a message will be sent to the email address and the resource's verification status will be set to pending; otherwise, the resource will be created with verification status set to accepted. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias.\n\nThis method is only available to service account clients that have been delegated domain-wide authority.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.settings.sendAs.create","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/sendAs","request":{"$ref":"SendAs","parameterName":null},"response":{"$ref":"SendAs"},"scopes":["https://www.googleapis.com/auth/gmail.settings.sharing"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes the specified send-as alias. Revokes any verification that may have been required for using it.\n\nThis method is only available to service account clients that have been delegated domain-wide authority.","etagRequired":null,"httpMethod":"DELETE","id":"gmail.users.settings.sendAs.delete","mediaUpload":null,"parameterOrder":["userId","sendAsEmail"],"parameters":{"sendAsEmail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The send-as alias to be deleted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/sendAs/{sendAsEmail}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/gmail.settings.sharing"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets the specified send-as alias. Fails with an HTTP 404 error if the specified address is not a member of the collection.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.settings.sendAs.get","mediaUpload":null,"parameterOrder":["userId","sendAsEmail"],"parameters":{"sendAsEmail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The send-as alias to be retrieved.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/sendAs/{sendAsEmail}","request":null,"response":{"$ref":"SendAs"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly","https://www.googleapis.com/auth/gmail.settings.basic"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists the send-as aliases for the specified account. The result includes the primary send-as address associated with the account as well as any custom \"from\" aliases.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.settings.sendAs.list","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/sendAs","request":null,"response":{"$ref":"ListSendAsResponse"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly","https://www.googleapis.com/auth/gmail.settings.basic"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates a send-as alias. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias.\n\nAddresses other than the primary address for the account can only be updated by service account clients that have been delegated domain-wide authority. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"gmail.users.settings.sendAs.patch","mediaUpload":null,"parameterOrder":["userId","sendAsEmail"],"parameters":{"sendAsEmail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The send-as alias to be updated.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/sendAs/{sendAsEmail}","request":{"$ref":"SendAs","parameterName":null},"response":{"$ref":"SendAs"},"scopes":["https://www.googleapis.com/auth/gmail.settings.basic","https://www.googleapis.com/auth/gmail.settings.sharing"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a send-as alias. If a signature is provided, Gmail will sanitize the HTML before saving it with the alias.\n\nAddresses other than the primary address for the account can only be updated by service account clients that have been delegated domain-wide authority.","etagRequired":null,"httpMethod":"PUT","id":"gmail.users.settings.sendAs.update","mediaUpload":null,"parameterOrder":["userId","sendAsEmail"],"parameters":{"sendAsEmail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The send-as alias to be updated.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/sendAs/{sendAsEmail}","request":{"$ref":"SendAs","parameterName":null},"response":{"$ref":"SendAs"},"scopes":["https://www.googleapis.com/auth/gmail.settings.basic","https://www.googleapis.com/auth/gmail.settings.sharing"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"verify":{"description":"Sends a verification email to the specified send-as alias address. The verification status must be pending.\n\nThis method is only available to service account clients that have been delegated domain-wide authority.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.settings.sendAs.verify","mediaUpload":null,"parameterOrder":["userId","sendAsEmail"],"parameters":{"sendAsEmail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The send-as alias to be verified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"User's email address. The special value \"me\" can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/sendAs/{sendAsEmail}/verify","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/gmail.settings.sharing"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"smimeInfo":{"methods":{"delete":{"description":"Deletes the specified S/MIME config for the specified send-as alias.","etagRequired":null,"httpMethod":"DELETE","id":"gmail.users.settings.sendAs.smimeInfo.delete","mediaUpload":null,"parameterOrder":["userId","sendAsEmail","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The immutable ID for the SmimeInfo.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sendAsEmail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The email address that appears in the \"From:\" header for mail sent using this alias.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/gmail.settings.basic","https://www.googleapis.com/auth/gmail.settings.sharing"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets the specified S/MIME config for the specified send-as alias.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.settings.sendAs.smimeInfo.get","mediaUpload":null,"parameterOrder":["userId","sendAsEmail","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The immutable ID for the SmimeInfo.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sendAsEmail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The email address that appears in the \"From:\" header for mail sent using this alias.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}","request":null,"response":{"$ref":"SmimeInfo"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly","https://www.googleapis.com/auth/gmail.settings.basic","https://www.googleapis.com/auth/gmail.settings.sharing"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Insert (upload) the given S/MIME config for the specified send-as alias. Note that pkcs12 format is required for the key.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.settings.sendAs.smimeInfo.insert","mediaUpload":null,"parameterOrder":["userId","sendAsEmail"],"parameters":{"sendAsEmail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The email address that appears in the \"From:\" header for mail sent using this alias.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/sendAs/{sendAsEmail}/smimeInfo","request":{"$ref":"SmimeInfo","parameterName":null},"response":{"$ref":"SmimeInfo"},"scopes":["https://www.googleapis.com/auth/gmail.settings.basic","https://www.googleapis.com/auth/gmail.settings.sharing"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists S/MIME configs for the specified send-as alias.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.settings.sendAs.smimeInfo.list","mediaUpload":null,"parameterOrder":["userId","sendAsEmail"],"parameters":{"sendAsEmail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The email address that appears in the \"From:\" header for mail sent using this alias.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/sendAs/{sendAsEmail}/smimeInfo","request":null,"response":{"$ref":"ListSmimeInfoResponse"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly","https://www.googleapis.com/auth/gmail.settings.basic","https://www.googleapis.com/auth/gmail.settings.sharing"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"setDefault":{"description":"Sets the default S/MIME config for the specified send-as alias.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.settings.sendAs.smimeInfo.setDefault","mediaUpload":null,"parameterOrder":["userId","sendAsEmail","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The immutable ID for the SmimeInfo.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sendAsEmail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The email address that appears in the \"From:\" header for mail sent using this alias.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/settings/sendAs/{sendAsEmail}/smimeInfo/{id}/setDefault","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/gmail.settings.basic","https://www.googleapis.com/auth/gmail.settings.sharing"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"ETag":null},"threads":{"methods":{"delete":{"description":"Immediately and permanently deletes the specified thread. This operation cannot be undone. Prefer threads.trash instead.","etagRequired":null,"httpMethod":"DELETE","id":"gmail.users.threads.delete","mediaUpload":null,"parameterOrder":["userId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the Thread to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/threads/{id}","request":null,"response":null,"scopes":["https://mail.google.com/"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets the specified thread.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.threads.get","mediaUpload":null,"parameterOrder":["userId","id"],"parameters":{"format":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"full","description":"The format to return the messages in.","enum":["full","metadata","minimal"],"enumDescriptions":["","",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the thread to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"metadataHeaders":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When given and format is METADATA, only include headers specified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/threads/{id}","request":null,"response":{"$ref":"Thread"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.metadata","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists the threads in the user's mailbox.","etagRequired":null,"httpMethod":"GET","id":"gmail.users.threads.list","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"includeSpamTrash":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Include threads from SPAM and TRASH in the results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"labelIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Only return threads with labels that match all of the specified label IDs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"100","description":"Maximum number of threads to return.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Page token to retrieve a specific page of results in the list.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"q":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Only return threads matching the specified query. Supports the same query format as the Gmail search box. For example, \"from:someuser@example.com rfc822msgid: is:unread\". Parameter cannot be used when accessing the api using the gmail.metadata scope.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/threads","request":null,"response":{"$ref":"ListThreadsResponse"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.metadata","https://www.googleapis.com/auth/gmail.modify","https://www.googleapis.com/auth/gmail.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"modify":{"description":"Modifies the labels applied to the thread. This applies to all messages in the thread.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.threads.modify","mediaUpload":null,"parameterOrder":["userId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the thread to modify.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/threads/{id}/modify","request":{"$ref":"ModifyThreadRequest","parameterName":null},"response":{"$ref":"Thread"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.modify"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"trash":{"description":"Moves the specified thread to the trash.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.threads.trash","mediaUpload":null,"parameterOrder":["userId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the thread to Trash.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"me","description":"The user's email address. The special value me can be used to indicate the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{userId}/threads/{id}/trash","request":null,"response":{"$ref":"Thread"},"scopes":["https://mail.google.com/","https://www.googleapis.com/auth/gmail.modify"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"untrash":{"description":"Removes the specified thread from the trash.","etagRequired":null,"httpMethod":"POST","id":"gmail.users.threads.untrash","mediaUpload":null,"parameterOrder":["userId","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the thread to remove from Trash.","enum":null,"enumDescriptions":null,"format":n
[...]
