{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"},"https://www.googleapis.com/auth/firebase":{"description":"View and administer all your Firebase data and settings"}}}},"basePath":"/identitytoolkit/v3/relyingparty/","baseUrl":"https://www.googleapis.com/identitytoolkit/v3/relyingparty/","batchPath":"batch/identitytoolkit/v3","canonicalName":"Identity Toolkit","description":"Help the third party sites to implement federated login.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/identity-toolkit/v3/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/-CIGDhyktArHgwyopFUaXBy_0sc\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png","x32":"https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"},"id":"identitytoolkit:v3","kind":"discovery#restDescription","labels":null,"methods":null,"name":"identitytoolkit","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"relyingparty":{"methods":{"createAuthUri":{"description":"Creates the URI used by the IdP to authenticate the user.","etagRequired":null,"httpMethod":"POST","id":"identitytoolkit.relyingparty.createAuthUri","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"createAuthUri","request":{"$ref":"IdentitytoolkitRelyingpartyCreateAuthUriRequest","parameterName":null},"response":{"$ref":"CreateAuthUriResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"deleteAccount":{"description":"Delete user account.","etagRequired":null,"httpMethod":"POST","id":"identitytoolkit.relyingparty.deleteAccount","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"deleteAccount","request":{"$ref":"IdentitytoolkitRelyingpartyDeleteAccountRequest","parameterName":null},"response":{"$ref":"DeleteAccountResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"downloadAccount":{"description":"Batch download user accounts.","etagRequired":null,"httpMethod":"POST","id":"identitytoolkit.relyingparty.downloadAccount","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"downloadAccount","request":{"$ref":"IdentitytoolkitRelyingpartyDownloadAccountRequest","parameterName":null},"response":{"$ref":"DownloadAccountResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/firebase"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"emailLinkSignin":{"description":"Reset password for a user.","etagRequired":null,"httpMethod":"POST","id":"identitytoolkit.relyingparty.emailLinkSignin","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"emailLinkSignin","request":{"$ref":"IdentitytoolkitRelyingpartyEmailLinkSigninRequest","parameterName":null},"response":{"$ref":"EmailLinkSigninResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getAccountInfo":{"description":"Returns the account info.","etagRequired":null,"httpMethod":"POST","id":"identitytoolkit.relyingparty.getAccountInfo","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"getAccountInfo","request":{"$ref":"IdentitytoolkitRelyingpartyGetAccountInfoRequest","parameterName":null},"response":{"$ref":"GetAccountInfoResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getOobConfirmationCode":{"description":"Get a code for user action confirmation.","etagRequired":null,"httpMethod":"POST","id":"identitytoolkit.relyingparty.getOobConfirmationCode","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"getOobConfirmationCode","request":{"$ref":"Relyingparty","parameterName":null},"response":{"$ref":"GetOobConfirmationCodeResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getProjectConfig":{"description":"Get project configuration.","etagRequired":null,"httpMethod":"GET","id":"identitytoolkit.relyingparty.getProjectConfig","mediaUpload":null,"parameterOrder":null,"parameters":{"delegatedProjectNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Delegated GCP project number of the request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GCP project number of the request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"getProjectConfig","request":null,"response":{"$ref":"IdentitytoolkitRelyingpartyGetProjectConfigResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getPublicKeys":{"description":"Get token signing public key.","etagRequired":null,"httpMethod":"GET","id":"identitytoolkit.relyingparty.getPublicKeys","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"publicKeys","request":null,"response":{"$ref":"IdentitytoolkitRelyingpartyGetPublicKeysResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getRecaptchaParam":{"description":"Get recaptcha secure param.","etagRequired":null,"httpMethod":"GET","id":"identitytoolkit.relyingparty.getRecaptchaParam","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"getRecaptchaParam","request":null,"response":{"$ref":"GetRecaptchaParamResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"resetPassword":{"description":"Reset password for a user.","etagRequired":null,"httpMethod":"POST","id":"identitytoolkit.relyingparty.resetPassword","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"resetPassword","request":{"$ref":"IdentitytoolkitRelyingpartyResetPasswordRequest","parameterName":null},"response":{"$ref":"ResetPasswordResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"sendVerificationCode":{"description":"Send SMS verification code.","etagRequired":null,"httpMethod":"POST","id":"identitytoolkit.relyingparty.sendVerificationCode","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"sendVerificationCode","request":{"$ref":"IdentitytoolkitRelyingpartySendVerificationCodeRequest","parameterName":null},"response":{"$ref":"IdentitytoolkitRelyingpartySendVerificationCodeResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"setAccountInfo":{"description":"Set account info for a user.","etagRequired":null,"httpMethod":"POST","id":"identitytoolkit.relyingparty.setAccountInfo","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"setAccountInfo","request":{"$ref":"IdentitytoolkitRelyingpartySetAccountInfoRequest","parameterName":null},"response":{"$ref":"SetAccountInfoResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"setProjectConfig":{"description":"Set project configuration.","etagRequired":null,"httpMethod":"POST","id":"identitytoolkit.relyingparty.setProjectConfig","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"setProjectConfig","request":{"$ref":"IdentitytoolkitRelyingpartySetProjectConfigRequest","parameterName":null},"response":{"$ref":"IdentitytoolkitRelyingpartySetProjectConfigResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"signOutUser":{"description":"Sign out user.","etagRequired":null,"httpMethod":"POST","id":"identitytoolkit.relyingparty.signOutUser","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"signOutUser","request":{"$ref":"IdentitytoolkitRelyingpartySignOutUserRequest","parameterName":null},"response":{"$ref":"IdentitytoolkitRelyingpartySignOutUserResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"signupNewUser":{"description":"Signup new user.","etagRequired":null,"httpMethod":"POST","id":"identitytoolkit.relyingparty.signupNewUser","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"signupNewUser","request":{"$ref":"IdentitytoolkitRelyingpartySignupNewUserRequest","parameterName":null},"response":{"$ref":"SignupNewUserResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"uploadAccount":{"description":"Batch upload existing user accounts.","etagRequired":null,"httpMethod":"POST","id":"identitytoolkit.relyingparty.uploadAccount","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"uploadAccount","request":{"$ref":"IdentitytoolkitRelyingpartyUploadAccountRequest","parameterName":null},"response":{"$ref":"UploadAccountResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/firebase"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"verifyAssertion":{"description":"Verifies the assertion returned by the IdP.","etagRequired":null,"httpMethod":"POST","id":"identitytoolkit.relyingparty.verifyAssertion","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"verifyAssertion","request":{"$ref":"IdentitytoolkitRelyingpartyVerifyAssertionRequest","parameterName":null},"response":{"$ref":"VerifyAssertionResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"verifyCustomToken":{"description":"Verifies the developer asserted ID token.","etagRequired":null,"httpMethod":"POST","id":"identitytoolkit.relyingparty.verifyCustomToken","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"verifyCustomToken","request":{"$ref":"IdentitytoolkitRelyingpartyVerifyCustomTokenRequest","parameterName":null},"response":{"$ref":"VerifyCustomTokenResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"verifyPassword":{"description":"Verifies the user entered password.","etagRequired":null,"httpMethod":"POST","id":"identitytoolkit.relyingparty.verifyPassword","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"verifyPassword","request":{"$ref":"IdentitytoolkitRelyingpartyVerifyPasswordRequest","parameterName":null},"response":{"$ref":"VerifyPasswordResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"verifyPhoneNumber":{"description":"Verifies ownership of a phone number and creates/updates the user account accordingly.","etagRequired":null,"httpMethod":"POST","id":"identitytoolkit.relyingparty.verifyPhoneNumber","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"verifyPhoneNumber","request":{"$ref":"IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest","parameterName":null},"response":{"$ref":"IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20170927","rootUrl":"https://www.googleapis.com/","schemas":{"CreateAuthUriResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response of creating the IDP authentication URL.","enum":null,"enumDescriptions":null,"format":null,"id":"CreateAuthUriResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"allProviders":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"all providers the user has once used to do federated login","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"authUri":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URI used by the IDP to authenticate the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"captchaRequired":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if captcha is required.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"forExistingProvider":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if the authUri is for user's existing provider.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"identitytoolkit#CreateAuthUriResponse","description":"The fixed string identitytoolkit#CreateAuthUriResponse\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"providerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The provider ID of the auth URI.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"registered":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the user is registered if the identifier is an email.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"sessionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Session ID which should be passed in the following verifyAssertion request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"signinMethods":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"All sign-in methods this user has used.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DeleteAccountResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Respone of deleting account.","enum":null,"enumDescriptions":null,"format":null,"id":"DeleteAccountResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"identitytoolkit#DeleteAccountResponse","description":"The fixed string \"identitytoolkit#DeleteAccountResponse\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DownloadAccountResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response of downloading accounts in batch.","enum":null,"enumDescriptions":null,"format":null,"id":"DownloadAccountResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"identitytoolkit#DownloadAccountResponse","description":"The fixed string \"identitytoolkit#DownloadAccountResponse\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The next page token. To be used in a subsequent request to return the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"users":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The user accounts data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"UserInfo","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"EmailLinkSigninResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response of email signIn.","enum":null,"enumDescriptions":null,"format":null,"id":"EmailLinkSigninResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"email":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The user's email.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"expiresIn":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Expiration time of STS id token in seconds.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"idToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The STS id token to login the newly signed in user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"isNewUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the user is new.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"identitytoolkit#EmailLinkSigninResponse","description":"The fixed string \"identitytoolkit#EmailLinkSigninResponse\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"localId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The RP local ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"refreshToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The refresh token for the signed in user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"EmailTemplate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Template for an email template.","enum":null,"enumDescriptions":null,"format":null,"id":"EmailTemplate","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"body":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email body.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"format":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email body format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"from":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"From address of the email.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fromDisplayName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"From display name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"replyTo":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Reply-to address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"subject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Subject of the email.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GetAccountInfoResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response of getting account information.","enum":null,"enumDescriptions":null,"format":null,"id":"GetAccountInfoResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"identitytoolkit#GetAccountInfoResponse","description":"The fixed string \"identitytoolkit#GetAccountInfoResponse\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"users":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The info of the users.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"UserInfo","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GetOobConfirmationCodeResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response of getting a code for user confirmation (reset password, change email etc.).","enum":null,"enumDescriptions":null,"format":null,"id":"GetOobConfirmationCodeResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"email":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The email address that the email is sent to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"identitytoolkit#GetOobConfirmationCodeResponse","description":"The fixed string \"identitytoolkit#GetOobConfirmationCodeResponse\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oobCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The code to be send to the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GetRecaptchaParamResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response of getting recaptcha param.","enum":null,"enumDescriptions":null,"format":null,"id":"GetRecaptchaParamResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"identitytoolkit#GetRecaptchaParamResponse","description":"The fixed string \"identitytoolkit#GetRecaptchaParamResponse\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"recaptchaSiteKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Site key registered at recaptcha.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"recaptchaStoken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The stoken field for the recaptcha widget, used to request captcha challenge.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"IdentitytoolkitRelyingpartyCreateAuthUriRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to get the IDP authentication URL.","enum":null,"enumDescriptions":null,"format":null,"id":"IdentitytoolkitRelyingpartyCreateAuthUriRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"appId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The app ID of the mobile app, base64(CERT_SHA1):PACKAGE_NAME for Android, BUNDLE_ID for iOS.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"authFlowType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Explicitly specify the auth flow type. Currently only support \"CODE_FLOW\" type. The field is only used for Google provider.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"clientId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The relying party OAuth client ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"context":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The opaque value used by the client to maintain context info between the authentication request and the IDP callback.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"continueUri":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URI to which the IDP redirects the user after the federated login flow.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"customParameter":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The customized query parameter.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"annotations":null,"default":null,"description":"The query parameter that client can customize by themselves in auth url. The following parameters are reserved for server so that they cannot be customized by clients: client_id, response_type, scope, redirect_uri, state, oauth_token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"hostedDomain":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The hosted domain to restrict sign-in to accounts at that domain for Google Apps hosted accounts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"identifier":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The email or federated ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauthConsumerKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The developer's consumer key for OpenId OAuth Extension","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauthScope":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Additional oauth scopes, beyond the basid user profile, that the user would be prompted to grant","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"openidRealm":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional realm for OpenID protocol. The sub string \"scheme://domain:port\" of the param \"continueUri\" is used if this is not set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"otaApp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The native app package for OTA installation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"providerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com, live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sessionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The session_id passed by client.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"IdentitytoolkitRelyingpartyDeleteAccountRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to delete account.","enum":null,"enumDescriptions":null,"format":null,"id":"IdentitytoolkitRelyingpartyDeleteAccountRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"delegatedProjectNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"idToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GITKit token or STS id token of the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"localId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The local ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"IdentitytoolkitRelyingpartyDownloadAccountRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to download user account in batch.","enum":null,"enumDescriptions":null,"format":null,"id":"IdentitytoolkitRelyingpartyDownloadAccountRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"delegatedProjectNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The max number of results to return in the response.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token for the next page. This should be taken from the previous response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"targetProjectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specify which project (field value is actually project id) to operate. Only used when provided credential.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"IdentitytoolkitRelyingpartyEmailLinkSigninRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to sign in with email.","enum":null,"enumDescriptions":null,"format":null,"id":"IdentitytoolkitRelyingpartyEmailLinkSigninRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"email":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The email address of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"idToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token for linking flow.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oobCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The confirmation code.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"IdentitytoolkitRelyingpartyGetAccountInfoRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to get the account information.","enum":null,"enumDescriptions":null,"format":null,"id":"IdentitytoolkitRelyingpartyGetAccountInfoRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"delegatedProjectNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"email":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of emails of the users to inquiry.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"idToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GITKit token of the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"localId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of local ID's of the users to inquiry.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"phoneNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Privileged caller can query users by specified phone number.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"IdentitytoolkitRelyingpartyGetProjectConfigResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response of getting the project configuration.","enum":null,"enumDescriptions":null,"format":null,"id":"IdentitytoolkitRelyingpartyGetProjectConfigResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"allowPasswordUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to allow password user sign in or sign up.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"apiKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Browser API key, needed when making http request to Apiary.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"authorizedDomains":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Authorized domains.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"changeEmailTemplate":{"$ref":"EmailTemplate","additionalProperties":null,"annotations":null,"default":null,"description":"Change email template.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"dynamicLinksDomain":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"enableAnonymousUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether anonymous user is enabled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"idpConfig":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth2 provider configuration.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"IdpConfig","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"legacyResetPasswordTemplate":{"$ref":"EmailTemplate","additionalProperties":null,"annotations":null,"default":null,"description":"Legacy reset password email template.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the relying party.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"resetPasswordTemplate":{"$ref":"EmailTemplate","additionalProperties":null,"annotations":null,"default":null,"description":"Reset password email template.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"useEmailSending":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to use email sending provided by Firebear.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"verifyEmailTemplate":{"$ref":"EmailTemplate","additionalProperties":null,"annotations":null,"default":null,"description":"Verify email template.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"IdentitytoolkitRelyingpartyGetPublicKeysResponse":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"annotations":null,"default":null,"description":"Respone of getting public keys.","enum":null,"enumDescriptions":null,"format":null,"id":"IdentitytoolkitRelyingpartyGetPublicKeysResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"IdentitytoolkitRelyingpartyResetPasswordRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to reset the password.","enum":null,"enumDescriptions":null,"format":null,"id":"IdentitytoolkitRelyingpartyResetPasswordRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"email":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The email address of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"newPassword":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The new password inputted by the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oldPassword":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The old password inputted by the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oobCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The confirmation code.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"IdentitytoolkitRelyingpartySendVerificationCodeRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request for Identitytoolkit-SendVerificationCode","enum":null,"enumDescriptions":null,"format":null,"id":"IdentitytoolkitRelyingpartySendVerificationCodeRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"iosReceipt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Receipt of successful app token validation with APNS.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"iosSecret":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Secret delivered to iOS app via APNS.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"phoneNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The phone number to send the verification code to in E.164 format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"recaptchaToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Recaptcha solution.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"IdentitytoolkitRelyingpartySendVerificationCodeResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response for Identitytoolkit-SendVerificationCode","enum":null,"enumDescriptions":null,"format":null,"id":"IdentitytoolkitRelyingpartySendVerificationCodeResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"sessionInfo":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Encrypted session information","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"IdentitytoolkitRelyingpartySetAccountInfoRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to set the account information.","enum":null,"enumDescriptions":null,"format":null,"id":"IdentitytoolkitRelyingpartySetAccountInfoRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"captchaChallenge":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The captcha challenge.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"captchaResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response to the captcha.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"createdAt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The timestamp when the account is created.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"customAttributes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The custom attributes to be set in the user's id token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"delegatedProjectNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"deleteAttribute":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The attributes users request to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"deleteProvider":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The IDPs the user request to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"disableUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to disable the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"displayName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"email":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The email of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"emailVerified":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Mark the email as verified or not.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"idToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GITKit token of the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"instanceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Instance id token of the app.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"lastLoginAt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Last login timestamp.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"localId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The local ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oobCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The out-of-band code of the change email request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"password":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The new password of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"phoneNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Privileged caller can update user with specified phone number.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"photoUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The photo url of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"provider":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The associated IDPs of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"returnSecureToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether return sts id token and refresh token instead of gitkit token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"upgradeToFederatedLogin":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Mark the user to upgrade to federated login.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"validSince":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Timestamp in seconds for valid login token.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"IdentitytoolkitRelyingpartySetProjectConfigRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to set the project configuration.","enum":null,"enumDescriptions":null,"format":null,"id":"IdentitytoolkitRelyingpartySetProjectConfigRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"allowPasswordUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to allow password user sign in or sign up.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"apiKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Browser API key, needed when making http request to Apiary.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"authorizedDomains":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Authorized domains for widget redirect.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"changeEmailTemplate":{"$ref":"EmailTemplate","additionalProperties":null,"annotations":null,"default":null,"description":"Change email template.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"delegatedProjectNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"enableAnonymousUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to enable anonymous user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"idpConfig":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Oauth2 provider configuration.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"IdpConfig","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"legacyResetPasswordTemplate":{"$ref":"EmailTemplate","additionalProperties":null,"annotations":null,"default":null,"description":"Legacy reset password email template.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"resetPasswordTemplate":{"$ref":"EmailTemplate","additionalProperties":null,"annotations":null,"default":null,"description":"Reset password email template.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"useEmailSending":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to use email sending provided by Firebear.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"verifyEmailTemplate":{"$ref":"EmailTemplate","additionalProperties":null,"annotations":null,"default":null,"description":"Verify email template.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"IdentitytoolkitRelyingpartySetProjectConfigResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response of setting the project configuration.","enum":null,"enumDescriptions":null,"format":null,"id":"IdentitytoolkitRelyingpartySetProjectConfigResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the relying party.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"IdentitytoolkitRelyingpartySignOutUserRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to sign out user.","enum":null,"enumDescriptions":null,"format":null,"id":"IdentitytoolkitRelyingpartySignOutUserRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"instanceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Instance id token of the app.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"localId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The local ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"IdentitytoolkitRelyingpartySignOutUserResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response of signing out user.","enum":null,"enumDescriptions":null,"format":null,"id":"IdentitytoolkitRelyingpartySignOutUserResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"localId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The local ID of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"IdentitytoolkitRelyingpartySignupNewUserRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to signup new user, create anonymous user or anonymous user reauth.","enum":null,"enumDescriptions":null,"format":null,"id":"IdentitytoolkitRelyingpartySignupNewUserRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"captchaChallenge":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The captcha challenge.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"captchaResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response to the captcha.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"disabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to disable the user. Only can be used by service account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"displayName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"email":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The email of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"emailVerified":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Mark the email as verified or not. Only can be used by service account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"idToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GITKit token of the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"instanceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Instance id token of the app.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"localId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Privileged caller can create user with specified user id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"password":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The new password of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"phoneNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Privileged caller can create user with specified phone number.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"photoUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The photo url of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"IdentitytoolkitRelyingpartyUploadAccountRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to upload user account in batch.","enum":null,"enumDescriptions":null,"format":null,"id":"IdentitytoolkitRelyingpartyUploadAccountRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"allowOverwrite":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether allow overwrite existing account when user local_id exists.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"blockSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"cpuMemCost":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The following 4 fields are for standard scrypt algorithm.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"delegatedProjectNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"dkLen":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"hashAlgorithm":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The password hash algorithm.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"memoryCost":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Memory cost for hash calculation. Used by scrypt similar algorithms.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"parallelization":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"rounds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Rounds for hash calculation. Used by scrypt and similar algorithms.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"saltSeparator":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The salt separator.","enum":null,"enumDescriptions":null,"format":"byte","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sanityCheck":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If true, backend will do sanity check(including duplicate email and federated id) when uploading account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"signerKey":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The key for to hash the password.","enum":null,"enumDescriptions":null,"format":"byte","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"targetProjectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specify which project (field value is actually project id) to operate. Only used when provided credential.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"users":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account info to be stored.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"UserInfo","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"IdentitytoolkitRelyingpartyVerifyAssertionRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to verify the IDP assertion.","enum":null,"enumDescriptions":null,"format":null,"id":"IdentitytoolkitRelyingpartyVerifyAssertionRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"autoCreate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When it's true, automatically creates a new account if the user doesn't exist. When it's false, allows existing user to sign in normally and throws exception if the user doesn't exist.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"delegatedProjectNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"idToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GITKit token of the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"instanceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Instance id token of the app.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pendingIdToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GITKit token for the non-trusted IDP pending to be confirmed by the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"postBody":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The post body if the request is a HTTP POST.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestUri":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URI to which the IDP redirects the user back. It may contain federated login result params added by the IDP.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"returnIdpCredential":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether return 200 and IDP credential rather than throw exception when federated id is already linked.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"returnRefreshToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to return refresh tokens.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"returnSecureToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether return sts id token and refresh token instead of gitkit token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"sessionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Session ID, which should match the one in previous createAuthUri request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"IdentitytoolkitRelyingpartyVerifyCustomTokenRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request to verify a custom token","enum":null,"enumDescriptions":null,"format":null,"id":"IdentitytoolkitRelyingpartyVerifyCustomTokenRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"delegatedProjectNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GCP project number of the requesting delegated app. Currently only intended for Firebase V1 migration.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"instanceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Instance id token of the app.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"returnSecureToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether return sts id token and refresh token instead of gitkit token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The custom token to verify","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":n
[...]
