{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/apps.licensing":{"description":"View and manage G Suite licenses for your domain"}}}},"basePath":"/apps/licensing/v1/product/","baseUrl":"https://www.googleapis.com/apps/licensing/v1/product/","batchPath":"batch/licensing/v1","canonicalName":null,"description":"Views and manages licenses for your domain.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/google-apps/licensing/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/WD_dCFRiB71YKGuRij6Gw1Sn7dI\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png","x32":"https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"},"id":"licensing:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"licensing","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"licenseAssignments":{"methods":{"delete":{"description":"Revoke License.","etagRequired":null,"httpMethod":"DELETE","id":"licensing.licenseAssignments.delete","mediaUpload":null,"parameterOrder":["productId","skuId","userId"],"parameters":{"productId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name for product","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"skuId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name for sku","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"email id or unique Id of the user","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{productId}/sku/{skuId}/user/{userId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/apps.licensing"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Get license assignment of a particular product and sku for a user","etagRequired":null,"httpMethod":"GET","id":"licensing.licenseAssignments.get","mediaUpload":null,"parameterOrder":["productId","skuId","userId"],"parameters":{"productId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name for product","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"skuId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name for sku","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"email id or unique Id of the user","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{productId}/sku/{skuId}/user/{userId}","request":null,"response":{"$ref":"LicenseAssignment"},"scopes":["https://www.googleapis.com/auth/apps.licensing"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Assign License.","etagRequired":null,"httpMethod":"POST","id":"licensing.licenseAssignments.insert","mediaUpload":null,"parameterOrder":["productId","skuId"],"parameters":{"productId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name for product","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"skuId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name for sku","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{productId}/sku/{skuId}/user","request":{"$ref":"LicenseAssignmentInsert","parameterName":null},"response":{"$ref":"LicenseAssignment"},"scopes":["https://www.googleapis.com/auth/apps.licensing"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"listForProduct":{"description":"List license assignments for given product of the customer.","etagRequired":null,"httpMethod":"GET","id":"licensing.licenseAssignments.listForProduct","mediaUpload":null,"parameterOrder":["productId","customerId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"CustomerId represents the customer for whom licenseassignments are queried","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"100","description":"Maximum number of campaigns to return at one time. Must be positive. Optional. Default value is 100.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"","description":"Token to fetch the next page.Optional. By default server will return first page","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"productId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name for product","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{productId}/users","request":null,"response":{"$ref":"LicenseAssignmentList"},"scopes":["https://www.googleapis.com/auth/apps.licensing"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"listForProductAndSku":{"description":"List license assignments for given product and sku of the customer.","etagRequired":null,"httpMethod":"GET","id":"licensing.licenseAssignments.listForProductAndSku","mediaUpload":null,"parameterOrder":["productId","skuId","customerId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"CustomerId represents the customer for whom licenseassignments are queried","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"100","description":"Maximum number of campaigns to return at one time. Must be positive. Optional. Default value is 100.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"1000","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"","description":"Token to fetch the next page.Optional. By default server will return first page","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"productId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name for product","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"skuId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name for sku","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{productId}/sku/{skuId}/users","request":null,"response":{"$ref":"LicenseAssignmentList"},"scopes":["https://www.googleapis.com/auth/apps.licensing"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Assign License. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"licensing.licenseAssignments.patch","mediaUpload":null,"parameterOrder":["productId","skuId","userId"],"parameters":{"productId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name for product","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"skuId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name for sku for which license would be revoked","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"email id or unique Id of the user","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{productId}/sku/{skuId}/user/{userId}","request":{"$ref":"LicenseAssignment","parameterName":null},"response":{"$ref":"LicenseAssignment"},"scopes":["https://www.googleapis.com/auth/apps.licensing"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Assign License.","etagRequired":null,"httpMethod":"PUT","id":"licensing.licenseAssignments.update","mediaUpload":null,"parameterOrder":["productId","skuId","userId"],"parameters":{"productId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name for product","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"skuId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name for sku for which license would be revoked","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"email id or unique Id of the user","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{productId}/sku/{skuId}/user/{userId}","request":{"$ref":"LicenseAssignment","parameterName":null},"response":{"$ref":"LicenseAssignment"},"scopes":["https://www.googleapis.com/auth/apps.licensing"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20170213","rootUrl":"https://www.googleapis.com/","schemas":{"LicenseAssignment":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Template for LiscenseAssignment Resource","enum":null,"enumDescriptions":null,"format":null,"id":"LicenseAssignment","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"etags":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ETag of the resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"licensing#licenseAssignment","description":"Identifies the resource as a LicenseAssignment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"productId":{"$ref":null,"additionalProperties":null,"annotations":{"required":["licensing.licenseAssignments.update"]},"default":null,"description":"Id of the product.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"productName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Display Name of the product.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"selfLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Link to this page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"skuId":{"$ref":null,"additionalProperties":null,"annotations":{"required":["licensing.licenseAssignments.update"]},"default":null,"description":"Id of the sku of the product.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"skuName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Display Name of the sku of the product.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":{"required":["licensing.licenseAssignments.update"]},"default":null,"description":"Email id of the user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LicenseAssignmentInsert":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Template for LicenseAssignment Insert request","enum":null,"enumDescriptions":null,"format":null,"id":"LicenseAssignmentInsert","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"userId":{"$ref":null,"additionalProperties":null,"annotations":{"required":["licensing.licenseAssignments.insert"]},"default":null,"description":"Email id of the user","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LicenseAssignmentList":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"LicesnseAssignment List for a given product/sku for a customer.","enum":null,"enumDescriptions":null,"format":null,"id":"LicenseAssignmentList","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"etag":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ETag of the resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The LicenseAssignments in this page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"LicenseAssignment","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"licensing#licenseAssignmentList","description":"Identifies the resource as a collection of LicenseAssignments.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"apps/licensing/v1/product/","title":"Enterprise License Manager API","version":"v1","version_module":null}