{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/manufacturercenter":{"description":"Manage your product listings for Google Manufacturer Center"}}}},"basePath":"","baseUrl":"https://manufacturers.googleapis.com/","batchPath":"batch","canonicalName":"Manufacturer Center","description":"Public API for managing Manufacturer Center related data.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/manufacturers/","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"manufacturers:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"manufacturers","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"accounts":{"methods":null,"resources":{"products":{"methods":{"delete":{"description":"Deletes the product from a Manufacturer Center account.","etagRequired":null,"httpMethod":"DELETE","id":"manufacturers.accounts.products.delete","mediaUpload":null,"parameterOrder":["parent","name"],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Parent ID in the format `accounts/{account_id}`.\n\n`account_id` - The ID of the Manufacturer Center account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^accounts/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name in the format `{target_country}:{content_language}:{product_id}`.\n\n`target_country`   - The target country of the product as a CLDR territory\n                     code (for example, US).\n\n`content_language` - The content language of the product as a two-letter\n                     ISO 639-1 language code (for example, en).\n\n`product_id`     -   The ID of the product. For more information, see\n                     https://support.google.com/manufacturers/answer/6124116#id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+parent}/products/{+name}","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/manufacturercenter"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets the product from a Manufacturer Center account, including product\nissues.\n\nA recently updated product takes around 15 minutes to process. Changes are\nonly visible after it has been processed. While some issues may be\navailable once the product has been processed, other issues may take days\nto appear.","etagRequired":null,"httpMethod":"GET","id":"manufacturers.accounts.products.get","mediaUpload":null,"parameterOrder":["parent","name"],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Parent ID in the format `accounts/{account_id}`.\n\n`account_id` - The ID of the Manufacturer Center account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^accounts/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name in the format `{target_country}:{content_language}:{product_id}`.\n\n`target_country`   - The target country of the product as a CLDR territory\n                     code (for example, US).\n\n`content_language` - The content language of the product as a two-letter\n                     ISO 639-1 language code (for example, en).\n\n`product_id`     -   The ID of the product. For more information, see\n                     https://support.google.com/manufacturers/answer/6124116#id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+parent}/products/{+name}","request":null,"response":{"$ref":"Product"},"scopes":["https://www.googleapis.com/auth/manufacturercenter"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all the products in a Manufacturer Center account.","etagRequired":null,"httpMethod":"GET","id":"manufacturers.accounts.products.list","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Parent ID in the format `accounts/{account_id}`.\n\n`account_id` - The ID of the Manufacturer Center account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^accounts/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token returned by the previous request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of product statuses to return in the response, used for\npaging.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"v1/{+parent}/products","request":null,"response":{"$ref":"ListProductsResponse"},"scopes":["https://www.googleapis.com/auth/manufacturercenter"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Inserts or updates the product in a Manufacturer Center account.\n\nThe checks at upload time are minimal. All required attributes need to be\npresent for a product to be valid. Issues may show up later\nafter the API has accepted an update for a product and it is possible to\noverwrite an existing valid product with an invalid product. To detect\nthis, you should retrieve the product and check it for issues once the\nupdated version is available.\n\nInserted or updated products first need to be processed before they can be\nretrieved. Until then, new products will be unavailable, and retrieval\nof updated products will return the original state of the product.","etagRequired":null,"httpMethod":"PUT","id":"manufacturers.accounts.products.update","mediaUpload":null,"parameterOrder":["parent","name"],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Parent ID in the format `accounts/{account_id}`.\n\n`account_id` - The ID of the Manufacturer Center account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^accounts/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name in the format `{target_country}:{content_language}:{product_id}`.\n\n`target_country`   - The target country of the product as a CLDR territory\n                     code (for example, US).\n\n`content_language` - The content language of the product as a two-letter\n                     ISO 639-1 language code (for example, en).\n\n`product_id`     -   The ID of the product. For more information, see\n                     https://support.google.com/manufacturers/answer/6124116#id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+parent}/products/{+name}","request":{"$ref":"Product","parameterName":null},"response":{"$ref":"Product"},"scopes":["https://www.googleapis.com/auth/manufacturercenter"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"revision":"20170808","rootUrl":"https://manufacturers.googleapis.com/","schemas":{"Attributes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Attributes of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116.","enum":null,"enumDescriptions":null,"format":null,"id":"Attributes","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"pattern":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The pattern of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#pattern.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"imageLink":{"$ref":"Image","additionalProperties":null,"annotations":null,"default":null,"description":"The image of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#image.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"productType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The category of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#producttype.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"format":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The format of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"additionalImageLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The additional images of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#addlimage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Image","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"videoLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The videos of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#video.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"color":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The color of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#color.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"productName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The canonical name of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#productname.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sizeType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The size type of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#sizetype.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"suggestedRetailPrice":{"$ref":"Price","additionalProperties":null,"annotations":null,"default":null,"description":"The suggested retail price (MSRP) of the product. For more information,\nsee https://support.google.com/manufacturers/answer/6124116#price.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"featureDescription":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The rich format description of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#featuredesc.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"FeatureDescription","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"targetAccountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The target account id. Should only be used in the accounts of the data\npartners.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"size":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The size of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#size.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"title":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The title of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#title.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"count":{"$ref":"Count","additionalProperties":null,"annotations":null,"default":null,"description":"The count of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#count.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"brand":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The brand name of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#brand.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"disclosureDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The disclosure date of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#disclosure.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"material":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The material of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#material.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"scent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The scent of the product. For more information, see\n https://support.google.com/manufacturers/answer/6124116#scent.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ageGroup":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The target age group of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#agegroup.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"productDetail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The details of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#productdetail.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ProductDetail","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"flavor":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The flavor of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#flavor.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"mpn":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Manufacturer Part Number (MPN) of the product. For more information,\nsee https://support.google.com/manufacturers/answer/6124116#mpn.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"productPageUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL of the detail page of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#productpage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"releaseDate":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The release date of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#release.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"gtin":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Global Trade Item Number (GTIN) of the product. For more information,\nsee https://support.google.com/manufacturers/answer/6124116#gtin.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"itemGroupId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The item group id of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#itemgroupid.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"productLine":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the group of products related to the product. For more\ninformation, see\nhttps://support.google.com/manufacturers/answer/6124116#productline.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"capacity":{"$ref":"Capacity","additionalProperties":null,"annotations":null,"default":null,"description":"The capacity of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#capacity.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The description of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#description.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"gender":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The target gender of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#gender.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sizeSystem":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The size system of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#sizesystem.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"theme":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The theme of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#theme.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Count":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The number of products in a single package. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#count.","enum":null,"enumDescriptions":null,"format":null,"id":"Count","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"unit":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unit in which these products are counted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The numeric value of the number of products in a package.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Product":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Product data.","enum":null,"enumDescriptions":null,"format":null,"id":"Product","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"productId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#id.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"uploadedAttributes":{"$ref":"Attributes","additionalProperties":null,"annotations":null,"default":null,"description":"Attributes of the product uploaded via the Manufacturer Center API or via\nfeeds.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Parent ID in the format `accounts/{account_id}`.\n\n`account_id` - The ID of the Manufacturer Center account.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"manuallyProvidedAttributes":{"$ref":"Attributes","additionalProperties":null,"annotations":null,"default":null,"description":"Attributes of the product provided manually via the Manufacturer Center UI.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"contentLanguage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The content language of the product as a two-letter ISO 639-1 language code\n(for example, en).\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"targetCountry":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The target country of the product as a CLDR territory code (for example,\nUS).\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name in the format `{target_country}:{content_language}:{product_id}`.\n\n`target_country`   - The target country of the product as a CLDR territory\n                     code (for example, US).\n\n`content_language` - The content language of the product as a two-letter\n                     ISO 639-1 language code (for example, en).\n\n`product_id`     -   The ID of the product. For more information, see\n                     https://support.google.com/manufacturers/answer/6124116#id.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"issues":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A server-generated list of issues associated with the product.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Issue","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"manuallyDeletedAttributes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Names of the attributes of the product deleted manually via the\nManufacturer Center UI.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"finalAttributes":{"$ref":"Attributes","additionalProperties":null,"annotations":null,"default":null,"description":"Final attributes of the product. The final attributes are obtained by\noverriding the uploaded attributes with the manually provided and deleted\nattributes. Google systems only process, evaluate, review, and/or use final\nattributes.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Capacity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The capacity of a product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#capacity.","enum":null,"enumDescriptions":null,"format":null,"id":"Capacity","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"unit":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unit of the capacity, i.e., MB, GB, or TB.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The numeric value of the capacity.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListProductsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"ListProductsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"products":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of the products.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Product","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token for the retrieval of the next page of product statuses.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ProductDetail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A product detail of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#productdetail.","enum":null,"enumDescriptions":null,"format":null,"id":"ProductDetail","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"attributeValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The value of the attribute.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sectionName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A short section name that can be reused between multiple product details.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"attributeName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the attribute.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Issue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Product issue.","enum":null,"enumDescriptions":null,"format":null,"id":"Issue","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"timestamp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The timestamp when this issue appeared.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"severity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The severity of the issue.","enum":["SEVERITY_UNSPECIFIED","ERROR","WARNING","INFO"],"enumDescriptions":["Unspecified severity, never used.","Error severity. The issue prevents the usage of the whole item.","Warning severity. The issue is either one that prevents the usage of the\nattribute that triggered it or one that will soon prevent the usage of\nthe whole item.","Info severity. The issue is one that doesn't require immediate attention.\nIt is, for example, used to communicate which attributes are still\npending review."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Description of the issue.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The server-generated type of the issue, for example,\n“INCORRECT_TEXT_FORMATTING”, “IMAGE_NOT_SERVEABLE”, etc.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"attribute":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, the attribute that triggered the issue. For more information\nabout attributes, see\nhttps://support.google.com/manufacturers/answer/6124116.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"FeatureDescription":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A feature description of the product. For more information, see\nhttps://support.google.com/manufacturers/answer/6124116#featuredesc.","enum":null,"enumDescriptions":null,"format":null,"id":"FeatureDescription","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"image":{"$ref":"Image","additionalProperties":null,"annotations":null,"default":null,"description":"An optional image describing the feature.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"headline":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A short description of the feature.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"text":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A detailed description of the feature.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Price":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A price.","enum":null,"enumDescriptions":null,"format":null,"id":"Price","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"amount":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The numeric value of the price.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"currency":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The currency in which the price is denoted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Empty":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.","enum":null,"enumDescriptions":null,"format":null,"id":"Empty","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Image":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An image.","enum":null,"enumDescriptions":null,"format":null,"id":"Image","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of the image, i.e., crawled or uploaded.\n@OutputOnly","enum":["TYPE_UNSPECIFIED","CRAWLED","UPLOADED"],"enumDescriptions":["Type is unspecified. Should not be used.","The image was crawled from a provided URL.","The image was uploaded."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"imageUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL of the image. For crawled images, this is the provided URL. For\nuploaded images, this is a serving URL from Google if the image has been\nprocessed successfully.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The status of the image.\n@OutputOnly","enum":["STATUS_UNSPECIFIED","PENDING_PROCESSING","PENDING_CRAWL","OK","ROBOTED","XROBOTED","CRAWL_ERROR","PROCESSING_ERROR","DECODING_ERROR","TOO_BIG","CRAWL_SKIPPED"],"enumDescriptions":["Status is unspecified. Should not be used.","Image was uploaded and is being processed.","The image crawl is still pending.","The image was processed and it meets the requirements.","The image URL is protected by robots.txt file and cannot be crawled.","The image URL is protected by X-Robots-Tag and cannot be crawled.","There was an error while crawling the image.","The image cannot be processed.","The image cannot be decoded.","The image is too big.","The image was manually overridden and will not be crawled."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"","title":"Manufacturer Center API","version":"v1","version_module":true}