{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/monitoring.write":{"description":"Publish metric data to your Google Cloud projects"},"https://www.googleapis.com/auth/monitoring.read":{"description":"View monitoring data for all of your Google Cloud and third-party projects"},"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"},"https://www.googleapis.com/auth/monitoring":{"description":"View and write monitoring data for all of your Google and third-party Cloud and API projects"}}}},"basePath":"","baseUrl":"https://monitoring.googleapis.com/","batchPath":"batch","canonicalName":"Monitoring","description":"Manages your Stackdriver Monitoring data and configurations. Most projects must be associated with a Stackdriver account, with a few exceptions as noted on the individual method pages.","discoveryVersion":"v1","documentationLink":"https://cloud.google.com/monitoring/api/","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"monitoring:v3","kind":"discovery#restDescription","labels":null,"methods":null,"name":"monitoring","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"protocol":"rest","resources":{"projects":{"methods":null,"resources":{"timeSeries":{"methods":{"list":{"description":"Lists time series that match a filter. This method does not require a Stackdriver account.","etagRequired":null,"httpMethod":"GET","id":"monitoring.projects.timeSeries.list","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project on which to execute the request. The format is \"projects/{project_id_or_number}\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"aggregation.groupByFields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The set of fields to preserve when crossSeriesReducer is specified. The groupByFields determine how the time series are partitioned into subsets prior to applying the aggregation function. Each subset contains time series that have the same value for each of the grouping fields. Each individual time series is a member of exactly one subset. The crossSeriesReducer is applied to each subset of time series. It is not possible to reduce across different resource types, so this field implicitly contains resource.type. Fields not specified in groupByFields are aggregated away. If groupByFields is not specified and all the time series have the same resource type, then the time series are aggregated into a single output time series. If crossSeriesReducer is not defined, this field is ignored.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"interval.endTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The end of the time interval.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"aggregation.alignmentPeriod":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The alignment period for per-time series alignment. If present, alignmentPeriod must be at least 60 seconds. After per-time series alignment, each time series will contain data points only on the period boundaries. If perSeriesAligner is not specified or equals ALIGN_NONE, then this field is ignored. If perSeriesAligner is specified and does not equal ALIGN_NONE, then this field must be defined; otherwise an error is returned.","enum":null,"enumDescriptions":null,"format":"google-duration","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A positive number that is the maximum number of results to return. When view field sets to FULL, it limits the number of Points server will return; if view field is HEADERS, it limits the number of TimeSeries server will return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"orderBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies the order in which the points of the time series should be returned. By default, results are not ordered. Currently, this field must be left blank.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"aggregation.crossSeriesReducer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The approach to be used to combine time series. Not all reducer functions may be applied to all time series, depending on the metric type and the value type of the original time series. Reduction may change the metric type of value type of the time series.Time series data must be aligned in order to perform cross-time series reduction. If crossSeriesReducer is specified, then perSeriesAligner must be specified and not equal ALIGN_NONE and alignmentPeriod must be specified; otherwise, an error is returned.","enum":["REDUCE_NONE","REDUCE_MEAN","REDUCE_MIN","REDUCE_MAX","REDUCE_SUM","REDUCE_STDDEV","REDUCE_COUNT","REDUCE_COUNT_TRUE","REDUCE_FRACTION_TRUE","REDUCE_PERCENTILE_99","REDUCE_PERCENTILE_95","REDUCE_PERCENTILE_50","REDUCE_PERCENTILE_05"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A monitoring filter that specifies which time series should be returned. The filter must specify a single metric type, and can additionally specify metric labels and other information. For example:\nmetric.type = \"compute.googleapis.com/instance/cpu/usage_time\" AND\n    metric.label.instance_name = \"my-instance-name\"\n","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"aggregation.perSeriesAligner":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The approach to be used to align individual time series. Not all alignment functions may be applied to all time series, depending on the metric type and value type of the original time series. Alignment may change the metric type or the value type of the time series.Time series data must be aligned in order to perform cross-time series reduction. If crossSeriesReducer is specified, then perSeriesAligner must be specified and not equal ALIGN_NONE and alignmentPeriod must be specified; otherwise, an error is returned.","enum":["ALIGN_NONE","ALIGN_DELTA","ALIGN_RATE","ALIGN_INTERPOLATE","ALIGN_NEXT_OLDER","ALIGN_MIN","ALIGN_MAX","ALIGN_MEAN","ALIGN_COUNT","ALIGN_SUM","ALIGN_STDDEV","ALIGN_COUNT_TRUE","ALIGN_FRACTION_TRUE","ALIGN_PERCENTILE_99","ALIGN_PERCENTILE_95","ALIGN_PERCENTILE_50","ALIGN_PERCENTILE_05"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"interval.startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional. The beginning of the time interval. The default value for the start time is the end time. The start time must not be later than the end time.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies which information is returned about the time series.","enum":["FULL","HEADERS"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v3/{+name}/timeSeries","request":null,"response":{"$ref":"ListTimeSeriesResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/monitoring.read"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates or adds data to one or more time series. The response is empty if all time series in the request were written. If any time series could not be written, a corresponding failure message is included in the error response.","etagRequired":null,"httpMethod":"POST","id":"monitoring.projects.timeSeries.create","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project on which to execute the request. The format is \"projects/{project_id_or_number}\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v3/{+name}/timeSeries","request":{"$ref":"CreateTimeSeriesRequest","parameterName":null},"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/monitoring.write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"metricDescriptors":{"methods":{"get":{"description":"Gets a single metric descriptor. This method does not require a Stackdriver account.","etagRequired":null,"httpMethod":"GET","id":"monitoring.projects.metricDescriptors.get","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The metric descriptor on which to execute the request. The format is \"projects/{project_id_or_number}/metricDescriptors/{metric_id}\". An example value of {metric_id} is \"compute.googleapis.com/instance/disk/read_bytes_count\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/metricDescriptors/.+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v3/{+name}","request":null,"response":{"$ref":"MetricDescriptor"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/monitoring.read","https://www.googleapis.com/auth/monitoring.write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists metric descriptors that match a filter. This method does not require a Stackdriver account.","etagRequired":null,"httpMethod":"GET","id":"monitoring.projects.metricDescriptors.list","mediaUpload":null,"parameterOrder":["name"],"parameters":{"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A positive number that is the maximum number of results to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If this field is empty, all custom and system-defined metric descriptors are returned. Otherwise, the filter specifies which metric descriptors are to be returned. For example, the following filter matches all custom metrics:\nmetric.type = starts_with(\"custom.googleapis.com/\")\n","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project on which to execute the request. The format is \"projects/{project_id_or_number}\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v3/{+name}/metricDescriptors","request":null,"response":{"$ref":"ListMetricDescriptorsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/monitoring.read","https://www.googleapis.com/auth/monitoring.write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates a new metric descriptor. User-created metric descriptors define custom metrics.","etagRequired":null,"httpMethod":"POST","id":"monitoring.projects.metricDescriptors.create","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project on which to execute the request. The format is \"projects/{project_id_or_number}\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v3/{+name}/metricDescriptors","request":{"$ref":"MetricDescriptor","parameterName":null},"response":{"$ref":"MetricDescriptor"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/monitoring.write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a metric descriptor. Only user-created custom metrics can be deleted.","etagRequired":null,"httpMethod":"DELETE","id":"monitoring.projects.metricDescriptors.delete","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The metric descriptor on which to execute the request. The format is \"projects/{project_id_or_number}/metricDescriptors/{metric_id}\". An example of {metric_id} is: \"custom.googleapis.com/my_test_metric\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/metricDescriptors/.+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v3/{+name}","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/monitoring"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"monitoredResourceDescriptors":{"methods":{"get":{"description":"Gets a single monitored resource descriptor. This method does not require a Stackdriver account.","etagRequired":null,"httpMethod":"GET","id":"monitoring.projects.monitoredResourceDescriptors.get","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The monitored resource descriptor to get. The format is \"projects/{project_id_or_number}/monitoredResourceDescriptors/{resource_type}\". The {resource_type} is a predefined type, such as cloudsql_database.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/monitoredResourceDescriptors/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v3/{+name}","request":null,"response":{"$ref":"MonitoredResourceDescriptor"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/monitoring.read","https://www.googleapis.com/auth/monitoring.write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists monitored resource descriptors that match a filter. This method does not require a Stackdriver account.","etagRequired":null,"httpMethod":"GET","id":"monitoring.projects.monitoredResourceDescriptors.list","mediaUpload":null,"parameterOrder":["name"],"parameters":{"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A positive number that is the maximum number of results to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An optional filter describing the descriptors to be returned. The filter can reference the descriptor's type and labels. For example, the following filter returns only Google Compute Engine descriptors that have an id label:\nresource.type = starts_with(\"gce_\") AND resource.label:id\n","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project on which to execute the request. The format is \"projects/{project_id_or_number}\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v3/{+name}/monitoredResourceDescriptors","request":null,"response":{"$ref":"ListMonitoredResourceDescriptorsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/monitoring.read","https://www.googleapis.com/auth/monitoring.write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"groups":{"methods":{"delete":{"description":"Deletes an existing group.","etagRequired":null,"httpMethod":"DELETE","id":"monitoring.projects.groups.delete","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The group to delete. The format is \"projects/{project_id_or_number}/groups/{group_id}\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/groups/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v3/{+name}","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/monitoring"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a single group.","etagRequired":null,"httpMethod":"GET","id":"monitoring.projects.groups.get","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The group to retrieve. The format is \"projects/{project_id_or_number}/groups/{group_id}\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/groups/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v3/{+name}","request":null,"response":{"$ref":"Group"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/monitoring.read"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists the existing groups.","etagRequired":null,"httpMethod":"GET","id":"monitoring.projects.groups.list","mediaUpload":null,"parameterOrder":["name"],"parameters":{"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A positive number that is the maximum number of results to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"ancestorsOfGroup":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A group name: \"projects/{project_id_or_number}/groups/{group_id}\". Returns groups that are ancestors of the specified group. The groups are returned in order, starting with the immediate parent and ending with the most distant ancestor. If the specified group has no immediate parent, the results are empty.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project whose groups are to be listed. The format is \"projects/{project_id_or_number}\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"childrenOfGroup":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A group name: \"projects/{project_id_or_number}/groups/{group_id}\". Returns groups whose parentName field contains the group name. If no groups have this parent, the results are empty.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"descendantsOfGroup":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A group name: \"projects/{project_id_or_number}/groups/{group_id}\". Returns the descendants of the specified group. This is a superset of the results returned by the childrenOfGroup filter, and includes children-of-children, and so forth.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v3/{+name}/groups","request":null,"response":{"$ref":"ListGroupsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/monitoring.read"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an existing group. You can change any group attributes except name.","etagRequired":null,"httpMethod":"PUT","id":"monitoring.projects.groups.update","mediaUpload":null,"parameterOrder":["name"],"parameters":{"validateOnly":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If true, validate this request but do not update the existing group.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Output only. The name of this group. The format is \"projects/{project_id_or_number}/groups/{group_id}\". When creating a group, this field is ignored and a new name is created consisting of the project specified in the call to CreateGroup and a unique {group_id} that is generated automatically.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/groups/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v3/{+name}","request":{"$ref":"Group","parameterName":null},"response":{"$ref":"Group"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/monitoring"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates a new group.","etagRequired":null,"httpMethod":"POST","id":"monitoring.projects.groups.create","mediaUpload":null,"parameterOrder":["name"],"parameters":{"validateOnly":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If true, validate this request but do not create the group.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project in which to create the group. The format is \"projects/{project_id_or_number}\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v3/{+name}/groups","request":{"$ref":"Group","parameterName":null},"response":{"$ref":"Group"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/monitoring"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"members":{"methods":{"list":{"description":"Lists the monitored resources that are members of a group.","etagRequired":null,"httpMethod":"GET","id":"monitoring.projects.groups.members.list","mediaUpload":null,"parameterOrder":["name"],"parameters":{"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An optional list filter describing the members to be returned. The filter may reference the type, labels, and metadata of monitored resources that comprise the group. For example, to return only resources representing Compute Engine VM instances, use this filter:\nresource.type = \"gce_instance\"\n","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If this field is not empty then it must contain the nextPageToken value returned by a previous call to this method. Using this field causes the method to return additional results from the previous method call.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A positive number that is the maximum number of results to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"interval.startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional. The beginning of the time interval. The default value for the start time is the end time. The start time must not be later than the end time.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The group whose members are listed. The format is \"projects/{project_id_or_number}/groups/{group_id}\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/groups/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"interval.endTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The end of the time interval.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v3/{+name}/members","request":null,"response":{"$ref":"ListGroupMembersResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/monitoring.read"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"collectdTimeSeries":{"methods":{"create":{"description":"Stackdriver Monitoring Agent only: Creates a new time series.<aside class=\"caution\">This method is only for use by the Stackdriver Monitoring Agent. Use projects.timeSeries.create instead.</aside>","etagRequired":null,"httpMethod":"POST","id":"monitoring.projects.collectdTimeSeries.create","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project in which to create the time series. The format is \"projects/PROJECT_ID_OR_NUMBER\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v3/{+name}/collectdTimeSeries","request":{"$ref":"CreateCollectdTimeSeriesRequest","parameterName":null},"response":{"$ref":"CreateCollectdTimeSeriesResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/monitoring","https://www.googleapis.com/auth/monitoring.write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"revision":"20171001","rootUrl":"https://monitoring.googleapis.com/","schemas":{"Explicit":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies a set of buckets with arbitrary widths.There are size(bounds) + 1 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 <= i < N-1): boundsi  Lower bound (1 <= i < N); boundsi - 1The bounds field must contain at least one element. If bounds has only one element, then there are no finite buckets, and that single element is the common boundary of the overflow and underflow buckets.","enum":null,"enumDescriptions":null,"format":null,"id":"Explicit","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"bounds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The values must be monotonically increasing.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TimeInterval":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A time interval extending just after a start time through an end time. If the start time is the same as the end time, then the interval represents a single point in time.","enum":null,"enumDescriptions":null,"format":null,"id":"TimeInterval","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"endTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The end of the time interval.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional. The beginning of the time interval. The default value for the start time is the end time. The start time must not be later than the end time.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Exponential":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies an exponential sequence of buckets that have a width that is proportional to the value of the lower bound. Each bucket represents a constant relative uncertainty on a specific value in the bucket.There are num_finite_buckets + 2 (= N) buckets. Bucket i has the following boundaries:Upper bound (0 <= i < N-1): scale * (growth_factor ^ i).  Lower bound (1 <= i < N): scale * (growth_factor ^ (i - 1)).","enum":null,"enumDescriptions":null,"format":null,"id":"Exponential","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"numFiniteBuckets":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Must be greater than 0.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"growthFactor":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Must be greater than 1.","enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"scale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Must be greater than 0.","enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Point":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A single data point in a time series.","enum":null,"enumDescriptions":null,"format":null,"id":"Point","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"value":{"$ref":"TypedValue","additionalProperties":null,"annotations":null,"default":null,"description":"The value of the data point.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"interval":{"$ref":"TimeInterval","additionalProperties":null,"annotations":null,"default":null,"description":"The time interval to which the data point applies. For GAUGE metrics, only the end time of the interval is used. For DELTA metrics, the start and end time should specify a non-zero interval, with subsequent points specifying contiguous and non-overlapping intervals. For CUMULATIVE metrics, the start and end time should specify a non-zero interval, with subsequent points specifying the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Metric":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A specific metric, identified by specifying values for all of the labels of a MetricDescriptor.","enum":null,"enumDescriptions":null,"format":null,"id":"Metric","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"labels":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"annotations":null,"default":null,"description":"The set of label values that uniquely identify this metric. All labels listed in the MetricDescriptor must be assigned values.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An existing metric type, see google.api.MetricDescriptor. For example, custom.googleapis.com/invoice/paid/amount.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Field":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A single field of a message type.","enum":null,"enumDescriptions":null,"format":null,"id":"Field","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"typeUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The field type URL, without the scheme, for message or enumeration types. Example: \"type.googleapis.com/google.protobuf.Timestamp\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"number":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The field number.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The field type.","enum":["TYPE_UNKNOWN","TYPE_DOUBLE","TYPE_FLOAT","TYPE_INT64","TYPE_UINT64","TYPE_INT32","TYPE_FIXED64","TYPE_FIXED32","TYPE_BOOL","TYPE_STRING","TYPE_GROUP","TYPE_MESSAGE","TYPE_BYTES","TYPE_UINT32","TYPE_ENUM","TYPE_SFIXED32","TYPE_SFIXED64","TYPE_SINT32","TYPE_SINT64"],"enumDescriptions":["Field type unknown.","Field type double.","Field type float.","Field type int64.","Field type uint64.","Field type int32.","Field type fixed64.","Field type fixed32.","Field type bool.","Field type string.","Field type group. Proto2 syntax only, and deprecated.","Field type message.","Field type bytes.","Field type uint32.","Field type enum.","Field type sfixed32.","Field type sfixed64.","Field type sint32.","Field type sint64."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"jsonName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The field JSON name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"options":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The protocol buffer options.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Option","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"oneofIndex":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The index of the field type in Type.oneofs, for message or enumeration types. The first type has index 1; zero means the type is not in the list.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"cardinality":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The field cardinality.","enum":["CARDINALITY_UNKNOWN","CARDINALITY_OPTIONAL","CARDINALITY_REQUIRED","CARDINALITY_REPEATED"],"enumDescriptions":["For fields with unknown cardinality.","For optional fields.","For required fields. Proto2 syntax only.","For repeated fields."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"packed":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to use alternative packed wire representation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"defaultValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The string value of the default value of this field. Proto2 syntax only.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The field name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LabelDescriptor":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A description of a label.","enum":null,"enumDescriptions":null,"format":null,"id":"LabelDescriptor","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The label key.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A human-readable description for the label.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"valueType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of data that can be assigned to the label.","enum":["STRING","BOOL","INT64"],"enumDescriptions":["A variable-length string. This is the default.","Boolean; true or false.","A 64-bit signed integer."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListTimeSeriesResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ListTimeSeries response.","enum":null,"enumDescriptions":null,"format":null,"id":"ListTimeSeriesResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"timeSeries":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"One or more time series that match the filter included in the request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"TimeSeries","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Group":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The description of a dynamic collection of monitored resources. Each group has a filter that is matched against monitored resources and their associated metadata. If a group's filter matches an available monitored resource, then that resource is a member of that group. Groups can contain any number of monitored resources, and each monitored resource can be a member of any number of groups.Groups can be nested in parent-child hierarchies. The parentName field identifies an optional parent for each group. If a group has a parent, then the only monitored resources available to be matched by the group's filter are the resources contained in the parent group. In other words, a group contains the monitored resources that match its filter and the filters of all the group's ancestors. A group without a parent can contain any monitored resource.For example, consider an infrastructure running a set of instances with two user-defined tags: \"environment\" and \"role\". A parent group has a filter, environment=\"production\". A child of that parent group has a filter, role=\"transcoder\". The parent group contains all instances in the production environment, regardless of their roles. The child group contains instances that have the transcoder role and are in the production environment.The monitored resources contained in a group can change at any moment, depending on what resources exist and what filters are associated with the group and its ancestors.","enum":null,"enumDescriptions":null,"format":null,"id":"Group","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"displayName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A user-assigned name for this group, used only for display purposes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"isCluster":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If true, the members of this group are considered to be a cluster. The system can perform additional analysis on groups that are clusters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The filter used to determine which monitored resources belong to this group.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"parentName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the group's parent, if it has one. The format is \"projects/{project_id_or_number}/groups/{group_id}\". For groups with no parent, parentName is the empty string, \"\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Output only. The name of this group. The format is \"projects/{project_id_or_number}/groups/{group_id}\". When creating a group, this field is ignored and a new name is created consisting of the project specified in the call to CreateGroup and a unique {group_id} that is generated automatically.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A protocol buffer message type.","enum":null,"enumDescriptions":null,"format":null,"id":"Type","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"options":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The protocol buffer options.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Option","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of fields.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Field","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The fully qualified message name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oneofs":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of types appearing in oneof definitions in this type.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"syntax":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The source syntax.","enum":["SYNTAX_PROTO2","SYNTAX_PROTO3"],"enumDescriptions":["Syntax proto2.","Syntax proto3."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sourceContext":{"$ref":"SourceContext","additionalProperties":null,"annotations":null,"default":null,"description":"The source context.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BucketOptions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"BucketOptions describes the bucket boundaries used to create a histogram for the distribution. The buckets can be in a linear sequence, an exponential sequence, or each bucket can be specified explicitly. BucketOptions does not include the number of values in each bucket.A bucket has an inclusive lower bound and exclusive upper bound for the values that are counted for that bucket. The upper bound of a bucket must be strictly greater than the lower bound. The sequence of N buckets for a distribution consists of an underflow bucket (number 0), zero or more finite buckets (number 1 through N - 2) and an overflow bucket (number N - 1). The buckets are contiguous: the lower bound of bucket i (i > 0) is the same as the upper bound of bucket i - 1. The buckets span the whole range of finite values: lower bound of the underflow bucket is -infinity and the upper bound of the overflow bucket is +infinity. The finite buckets are so-called because both bounds are finite.","enum":null,"enumDescriptions":null,"format":null,"id":"BucketOptions","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"explicitBuckets":{"$ref":"Explicit","additionalProperties":null,"annotations":null,"default":null,"description":"The explicit buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"linearBuckets":{"$ref":"Linear","additionalProperties":null,"annotations":null,"default":null,"description":"The linear bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"exponentialBuckets":{"$ref":"Exponential","additionalProperties":null,"annotations":null,"default":null,"description":"The exponential buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CollectdValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A single data point from a collectd-based plugin.","enum":null,"enumDescriptions":null,"format":null,"id":"CollectdValue","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"value":{"$ref":"TypedValue","additionalProperties":null,"annotations":null,"default":null,"description":"The measurement value.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"dataSourceType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of measurement.","enum":["UNSPECIFIED_DATA_SOURCE_TYPE","GAUGE","COUNTER","DERIVE","ABSOLUTE"],"enumDescriptions":["An unspecified data source type. This corresponds to google.api.MetricDescriptor.MetricKind.METRIC_KIND_UNSPECIFIED.","An instantaneous measurement of a varying quantity. This corresponds to google.api.MetricDescriptor.MetricKind.GAUGE.","A cumulative value over time. This corresponds to google.api.MetricDescriptor.MetricKind.CUMULATIVE.","A rate of change of the measurement.","An amount of change since the last measurement interval. This corresponds to google.api.MetricDescriptor.MetricKind.DELTA."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"dataSourceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The data source for the collectd value. For example there are two data sources for network measurements: \"rx\" and \"tx\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Status type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc). The error model is designed to be:\nSimple to use and understand for most users\nFlexible enough to meet unexpected needsOverviewThe Status message contains three pieces of data: error code, error message, and error details. The error code should be an enum value of google.rpc.Code, but it may accept additional error codes if needed. The error message should be a developer-facing English message that helps developers understand and resolve the error. If a localized user-facing error message is needed, put the localized message in the error details or localize it in the client. The optional error details may contain arbitrary information about the error. There is a predefined set of error detail types in the package google.rpc that can be used for common error conditions.Language mappingThe Status message is the logical representation of the error model, but it is not necessarily the actual wire format. When the Status message is exposed in different client libraries and different wire protocols, it can be mapped differently. For example, it will likely be mapped to some exceptions in Java, but more likely mapped to some error codes in C.Other usesThe error model and the Status message can be used in a variety of environments, either with or without APIs, to provide a consistent developer experience across different environments.Example uses of this error model include:\nPartial errors. If a service needs to return partial errors to the client, it may embed the Status in the normal response to indicate the partial errors.\nWorkflow errors. A typical workflow has multiple steps. Each step may have a Status message for error reporting.\nBatch operations. If a client uses batch request and batch response, the Status message should be used directly inside batch response, one for each error sub-response.\nAsynchronous operations. If an API call embeds asynchronous operation results in its response, the status of those operations should be represented directly using the Status message.\nLogging. If some API errors are stored in logs, the message Status could be used directly after any stripping needed for security/privacy reasons.","enum":null,"enumDescriptions":null,"format":null,"id":"Status","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"code":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The status code, which should be an enum value of google.rpc.Code.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"message":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"details":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of messages that carry the error details. There is a common set of message types for APIs to use.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of the object. Contains field @type with type URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SourceContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"SourceContext represents information about the source of a protobuf element, like the file in which it is defined.","enum":null,"enumDescriptions":null,"format":null,"id":"SourceContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"fileName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The path-qualified name of the .proto file that contained the associated protobuf element. For example: \"google/protobuf/source_context.proto\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"MetricDescriptor":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Defines a metric type and its schema. Once a metric descriptor is created, deleting or altering it stops data collection and makes the metric type's existing data unusable.","enum":null,"enumDescriptions":null,"format":null,"id":"MetricDescriptor","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"metricKind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the metric records instantaneous values, changes to a value, etc. Some combinations of metric_kind and value_type might not be supported.","enum":["METRIC_KIND_UNSPECIFIED","GAUGE","DELTA","CUMULATIVE"],"enumDescriptions":["Do not use this default value.","An instantaneous measurement of a value.","The change in a value during a time interval.","A value accumulated over a time interval. Cumulative measurements in a time series should have the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A detailed description of the metric, which can be used in documentation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"displayName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A concise name for the metric, which can be displayed in user interfaces. Use sentence case without an ending period, for example \"Request count\". This field is optional but it is recommended to be set for any metrics associated with user-visible concepts, such as Quota.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"unit":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unit in which the metric value is reported. It is only applicable if the value_type is INT64, DOUBLE, or DISTRIBUTION. The supported units are a subset of The Unified Code for Units of Measure (http://unitsofmeasure.org/ucum.html) standard:Basic units (UNIT)\nbit bit\nBy byte\ns second\nmin minute\nh hour\nd dayPrefixes (PREFIX)\nk kilo (10**3)\nM mega (10**6)\nG giga (10**9)\nT tera (10**12)\nP peta (10**15)\nE exa (10**18)\nZ zetta (10**21)\nY yotta (10**24)\nm milli (10**-3)\nu micro (10**-6)\nn nano (10**-9)\np pico (10**-12)\nf femto (10**-15)\na atto (10**-18)\nz zepto (10**-21)\ny yocto (10**-24)\nKi kibi (2**10)\nMi mebi (2**20)\nGi gibi (2**30)\nTi tebi (2**40)GrammarThe grammar includes the dimensionless unit 1, such as 1/s.The grammar also includes these connectors:\n/ division (as an infix operator, e.g. 1/s).\n. multiplication (as an infix operator, e.g. GBy.d)The grammar for a unit is as follows:\nExpression = Component { \".\" Component } { \"/\" Component } ;\n\nComponent = [ PREFIX ] UNIT [ Annotation ]\n          | Annotation\n          | \"1\"\n          ;\n\nAnnotation = \"{\" NAME \"}\" ;\nNotes:\nAnnotation is just a comment if it follows a UNIT and is  equivalent to 1 if it is used alone. For examples,  {requests}/s == 1/s, By{transmitted}/s == By/s.\nNAME is a sequence of non-blank printable ASCII characters not  containing '{' or '}'.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"labels":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The set of labels that can be used to describe a specific instance of this metric type. For example, the appengine.googleapis.com/http/server/response_latencies metric type has a label for the HTTP response code, response_code, so you can look at latencies for successful responses or just for responses that failed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"LabelDescriptor","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The resource name of the metric descriptor.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The metric type, including its DNS name prefix. The type is not URL-encoded. All user-defined custom metric types have the DNS name custom.googleapis.com. Metric types should use a natural hierarchical grouping. For example:\n\"custom.googleapis.com/invoice/paid/amount\"\n\"appengine.googleapis.com/http/server/response_latencies\"\n","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"valueType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the measurement is an integer, a floating-point number, etc. Some combinations of metric_kind and value_type might not be supported.","enum":["VALUE_TYPE_UNSPECIFIED","BOOL","INT64","DOUBLE","STRING","DISTRIBUTION","MONEY"],"enumDescriptions":["Do not use this default value.","The value is a boolean. This value type can be used only if the metric kind is GAUGE.","The value is a signed 64-bit integer.","The value is a double precision floating point number.","The value is a text string. This value type can be used only if the metric kind is GAUGE.","The value is a Distribution.","The value is money."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Range":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The range of the population values.","enum":null,"enumDescriptions":null,"format":null,"id":"Range","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"min":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The minimum of the population values.","enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"max":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum of the population values.","enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListGroupsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ListGroups response.","enum":null,"enumDescriptions":null,"format":null,"id":"ListGroupsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"group":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The groups that match the specified filters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Group","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListGroupMembersResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ListGroupMembers response.","enum":null,"enumDescriptions":null,"format":null,"id":"ListGroupMembersResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"members":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A set of monitored resources in the group.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"MonitoredResource","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"totalSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The total number of elements matching this request.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CreateCollectdTimeSeriesRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The CreateCollectdTimeSeries request.","enum":null,"enumDescriptions":null,"format":null,"id":"CreateCollectdTimeSeriesRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"collectdPayloads":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The collectd payloads representing the time series data. You must not include more than a single point for each time series, so no two payloads can have the same values for all of the fields plugin, plugin_instance, type, and type_instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"CollectdPayload","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"resource":{"$ref":"MonitoredResource","additionalProperties":null,"annotations":null,"default":null,"description":"The monitored resource associated with the time series.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"collectdVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The version of collectd that collected the data. Example: \"5.3.0-192.el6\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListMonitoredResourceDescriptorsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ListMonitoredResourceDescriptors response.","enum":null,"enumDescriptions":null,"format":null,"id":"ListMonitoredResourceDescriptorsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If there are more results than have been returned, then this field is set to a non-empty value. To see the additional results, use that value as pageToken in the next call to this method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"resourceDescriptors":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The monitored resource descriptors that are available to this project and that match filter, if present.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"MonitoredResourceDescriptor","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TimeSeries":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A collection of data points that describes the time-varying values of a metric. A time series is identified by a combination of a fully-specified monitored resource and a fully-specified metric. This type is used for both listing and creating time series.","enum":null,"enumDescriptions":null,"format":null,"id":"TimeSeries","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"resource":{"$ref":"MonitoredResource","additionalProperties":null,"annotations":null,"default":null,"description":"The associated monitored resource. Custom metrics can use only certain monitored resource types in their time series data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"metricKind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The metric kind of the time series. When listing time series, this metric kind might be different from the metric kind of the associated metric if this time series is an alignment or reduction of other time series.When creating a time series, this field is optional. If present, it must be the same as the metric kind of the associated metric. If the associated metric's descriptor must be auto-created, then this field specifies the metric kind of the new descriptor and must be either GAUGE (the default) or CUMULATIVE.","enum":["METRIC_KIND_UNSPECIFIED","GAUGE","DELTA","CUMULATIVE"],"enumDescriptions":["Do not use this default value.","An instantaneous measurement of a value.","The change in a value during a time interval.","A value accumulated over a time interval. Cumulative measurements in a time series should have the same start time and increasing end times, until an event resets the cumulative value to zero and sets a new start time for the following points."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"points":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The data points of this time series. When listing time series, the order of the points is specified by the list method.When creating a time series, this field must contain exactly one point and the point's type must be the same as the value type of the associated metric. If the associated metric's descriptor must be auto-created, then the value type of the descriptor is determined by the point's type, which must be BOOL, INT64, DOUBLE, or DISTRIBUTION.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Point","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"metric":{"$ref":"Metric","additionalProperties":null,"annotations":null,"default":null,"description":"The associated metric. A fully-specified metric used to identify the time series.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"valueType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The value type of the time series. When listing time series, this value type might be different from the value type of the associated metric if this time series is an alignment or reduction of other time series.When creating a time series, this field is optional. If present, it must be the same as the type of the data in the points field.","enum":["VALUE_TYPE_UNSPECIFIED","BOOL","INT64","DOUBLE","STRING","DISTRIBUTION","MONEY"],"enumDescriptions":["Do not use this default value.","The value is a boolean. This value type can be used only if the metric kind is GAUGE.","The value is a signed 64-bit integer.","The value is a double precision floating point number.","The value is a text string. This value type can be used only if the metric kind is GAUGE.","The value is a Distribution.","The value is money."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CreateTimeSeriesRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The CreateTimeSeries request.","enum":null,"enumDescriptions":null,"format":null,"id":"CreateTimeSeriesRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"timeSeries":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The new data to be added to a list of time series. Adds at most one data point to each of several time series. The new data point must be more recent than any other point in its time series. Each TimeSeries value must fully specify a unique time series by supplying all label values for the metric and the monitored resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"TimeSeries","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Distribution":{"$ref":null,"addition
[...]
