{"auth":null,"basePath":"","baseUrl":"https://partners.googleapis.com/","batchPath":"batch","canonicalName":"Partners","description":"Searches certified companies and creates contact leads with them, and also audits the usage of clients.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/partners/","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"partners:v2","kind":"discovery#restDescription","labels":null,"methods":null,"name":"partners","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"clientMessages":{"methods":{"log":{"description":"Logs a generic message from the client, such as\n`Failed to render component`, `Profile page is running slow`,\n`More than 500 users have accessed this result.`, etc.","etagRequired":null,"httpMethod":"POST","id":"partners.clientMessages.log","mediaUpload":null,"parameterOrder":[],"parameters":{},"path":"v2/clientMessages:log","request":{"$ref":"LogMessageRequest","parameterName":null},"response":{"$ref":"LogMessageResponse"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"exams":{"methods":{"getToken":{"description":"Gets an Exam Token for a Partner's user to take an exam in the Exams System","etagRequired":null,"httpMethod":"GET","id":"partners.exams.getToken","mediaUpload":null,"parameterOrder":["examType"],"parameters":{"requestMetadata.partnersSessionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google Partners session ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Logged-in user ID to impersonate instead of the user's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Locale to use for the current request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.ipAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address to use instead of the user's geo-located IP address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.experimentIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Experiment IDs the current request belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSubId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"examType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The exam type we are requesting a token for.","enum":["CERTIFICATION_EXAM_TYPE_UNSPECIFIED","CET_ADWORDS_FUNDAMENTALS","CET_ADWORDS_ADVANCED_SEARCH","CET_ADWORDS_ADVANCED_DISPLAY","CET_VIDEO_ADS","CET_DOUBLECLICK","CET_ANALYTICS","CET_SHOPPING","CET_MOBILE","CET_DIGITAL_SALES","CET_MOBILE_SITES"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2/exams/{examType}/token","request":null,"response":{"$ref":"ExamToken"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"leads":{"methods":{"list":{"description":"Lists advertiser leads for a user's associated company.\nShould only be called within the context of an authorized logged in user.","etagRequired":null,"httpMethod":"GET","id":"partners.leads.list","mediaUpload":null,"parameterOrder":[],"parameters":{"requestMetadata.userOverrides.userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Logged-in user ID to impersonate instead of the user's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.partnersSessionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google Partners session ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results that the server returns.\nTypically, this is the value of `ListLeadsResponse.next_page_token`\nreturned from the previous call to\nListLeads.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. Server may return fewer leads than requested.\nIf unspecified, server picks an appropriate default.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Locale to use for the current request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.ipAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address to use instead of the user's geo-located IP address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.experimentIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Experiment IDs the current request belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"orderBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"How to order Leads. Currently, only `create_time`\nand `create_time desc` are supported","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSubId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2/leads","request":null,"response":{"$ref":"ListLeadsResponse"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"offers":{"methods":{"list":{"description":"Lists the Offers available for the current user","etagRequired":null,"httpMethod":"GET","id":"partners.offers.list","mediaUpload":null,"parameterOrder":[],"parameters":{"requestMetadata.partnersSessionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google Partners session ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Logged-in user ID to impersonate instead of the user's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Locale to use for the current request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.ipAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address to use instead of the user's geo-located IP address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.experimentIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Experiment IDs the current request belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSubId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2/offers","request":null,"response":{"$ref":"ListOffersResponse"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"history":{"methods":{"list":{"description":"Lists the Historical Offers for the current user (or user's entire company)","etagRequired":null,"httpMethod":"GET","id":"partners.offers.history.list","mediaUpload":null,"parameterOrder":[],"parameters":{"requestMetadata.userOverrides.userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Logged-in user ID to impersonate instead of the user's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.partnersSessionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google Partners session ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token to retrieve a specific page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of rows to return per page.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Locale to use for the current request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.ipAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address to use instead of the user's geo-located IP address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"entireCompany":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"if true, show history for the entire company.  Requires user to be admin.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"requestMetadata.experimentIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Experiment IDs the current request belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"orderBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Comma-separated list of fields to order by, e.g.: \"foo,bar,baz\".\nUse \"foo desc\" to sort descending.\nList of valid field names is: name, offer_code, expiration_time, status,\n    last_modified_time, sender_name, creation_time, country_code,\n    offer_type.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSubId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2/offers/history","request":null,"response":{"$ref":"ListOffersHistoryResponse"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"analytics":{"methods":{"list":{"description":"Lists analytics data for a user's associated company.\nShould only be called within the context of an authorized logged in user.","etagRequired":null,"httpMethod":"GET","id":"partners.analytics.list","mediaUpload":null,"parameterOrder":[],"parameters":{"requestMetadata.experimentIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Experiment IDs the current request belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSubId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Logged-in user ID to impersonate instead of the user's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.partnersSessionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google Partners session ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results that the server returns.\nTypically, this is the value of `ListAnalyticsResponse.next_page_token`\nreturned from the previous call to\nListAnalytics.\nWill be a date string in `YYYY-MM-DD` format representing the end date\nof the date range of results to return.\nIf unspecified or set to \"\", default value is the current date.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. Server may return fewer analytics than requested.\nIf unspecified or set to 0, default value is 30.\nSpecifies the number of days in the date range when querying analytics.\nThe `page_token` represents the end date of the date range\nand the start date is calculated using the `page_size` as the number\nof days BEFORE the end date.\nMust be a non-negative integer.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Locale to use for the current request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.ipAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address to use instead of the user's geo-located IP address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2/analytics","request":null,"response":{"$ref":"ListAnalyticsResponse"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"userStates":{"methods":{"list":{"description":"Lists states for current user.","etagRequired":null,"httpMethod":"GET","id":"partners.userStates.list","mediaUpload":null,"parameterOrder":[],"parameters":{"requestMetadata.userOverrides.userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Logged-in user ID to impersonate instead of the user's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.partnersSessionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google Partners session ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Locale to use for the current request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.ipAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address to use instead of the user's geo-located IP address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.experimentIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Experiment IDs the current request belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSubId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2/userStates","request":null,"response":{"$ref":"ListUserStatesResponse"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"v2":{"methods":{"updateLeads":{"description":"Updates the specified lead.","etagRequired":null,"httpMethod":"PATCH","id":"partners.updateLeads","mediaUpload":null,"parameterOrder":[],"parameters":{"requestMetadata.userOverrides.userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Logged-in user ID to impersonate instead of the user's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.partnersSessionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google Partners session ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Locale to use for the current request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.ipAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address to use instead of the user's geo-located IP address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"updateMask":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Standard field mask for the set of fields to be updated.\nRequired with at least 1 value in FieldMask's paths.\nOnly `state` and `adwords_customer_id` are currently supported.","enum":null,"enumDescriptions":null,"format":"google-fieldmask","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.experimentIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Experiment IDs the current request belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSubId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2/leads","request":{"$ref":"Lead","parameterName":null},"response":{"$ref":"Lead"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"updateCompanies":{"description":"Update company.\nShould only be called within the context of an authorized logged in user.","etagRequired":null,"httpMethod":"PATCH","id":"partners.updateCompanies","mediaUpload":null,"parameterOrder":[],"parameters":{"requestMetadata.locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Locale to use for the current request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.ipAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address to use instead of the user's geo-located IP address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"updateMask":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Standard field mask for the set of fields to be updated.\nRequired with at least 1 value in FieldMask's paths.","enum":null,"enumDescriptions":null,"format":"google-fieldmask","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.experimentIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Experiment IDs the current request belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSubId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Logged-in user ID to impersonate instead of the user's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.partnersSessionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google Partners session ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2/companies","request":{"$ref":"Company","parameterName":null},"response":{"$ref":"Company"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getPartnersstatus":{"description":"Gets Partners Status of the logged in user's agency.\nShould only be called if the logged in user is the admin of the agency.","etagRequired":null,"httpMethod":"GET","id":"partners.getPartnersstatus","mediaUpload":null,"parameterOrder":[],"parameters":{"requestMetadata.experimentIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Experiment IDs the current request belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSubId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.partnersSessionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google Partners session ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Logged-in user ID to impersonate instead of the user's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Locale to use for the current request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.ipAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address to use instead of the user's geo-located IP address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2/partnersstatus","request":null,"response":{"$ref":"GetPartnersStatusResponse"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"companies":{"methods":{"list":{"description":"Lists companies.","etagRequired":null,"httpMethod":"GET","id":"partners.companies.list","mediaUpload":null,"parameterOrder":[],"parameters":{"requestMetadata.experimentIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Experiment IDs the current request belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"orderBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"How to order addresses within the returned companies. Currently, only\n`address` and `address desc` is supported which will sorted by closest to\nfarthest in distance from given address and farthest to closest distance\nfrom given address respectively.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"specializations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of specializations that the returned agencies should provide. If this\nis not empty, any returned agency must have at least one of these\nspecializations, or one of the services in the \"services\" field.","enum":["BADGE_SPECIALIZATION_UNKNOWN","BADGE_SPECIALIZATION_ADWORDS_SEARCH","BADGE_SPECIALIZATION_ADWORDS_DISPLAY","BADGE_SPECIALIZATION_ADWORDS_MOBILE","BADGE_SPECIALIZATION_ADWORDS_VIDEO","BADGE_SPECIALIZATION_ADWORDS_SHOPPING"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"maxMonthlyBudget.currencyCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The 3-letter currency code defined in ISO 4217.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Logged-in user ID to impersonate instead of the user's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"minMonthlyBudget.currencyCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The 3-letter currency code defined in ISO 4217.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The view of the `Company` resource to be returned. This must not be\n`COMPANY_VIEW_UNSPECIFIED`.","enum":["COMPANY_VIEW_UNSPECIFIED","CV_GOOGLE_PARTNER_SEARCH"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"address":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The address to use when searching for companies.\nIf not given, the geo-located address of the request is used.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Locale to use for the current request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"minMonthlyBudget.units":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The whole units of the amount.\nFor example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxMonthlyBudget.nanos":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of nano (10^-9) units of the amount.\nThe value must be between -999,999,999 and +999,999,999 inclusive.\nIf `units` is positive, `nanos` must be positive or zero.\nIf `units` is zero, `nanos` can be positive, zero, or negative.\nIf `units` is negative, `nanos` must be negative or zero.\nFor example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"services":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of services that the returned agencies should provide. If this is\nnot empty, any returned agency must have at least one of these services,\nor one of the specializations in the \"specializations\" field.","enum":["SERVICE_UNSPECIFIED","S_ADVANCED_ADWORDS_SUPPORT","S_ADVERTISING_ON_GOOGLE","S_AN_ENHANCED_WEBSITE","S_AN_ONLINE_MARKETING_PLAN","S_MOBILE_AND_VIDEO_ADS","S_MOBILE_WEBSITE_SERVICES"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxMonthlyBudget.units":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The whole units of the amount.\nFor example if `currencyCode` is `\"USD\"`, then 1 unit is one US dollar.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"minMonthlyBudget.nanos":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of nano (10^-9) units of the amount.\nThe value must be between -999,999,999 and +999,999,999 inclusive.\nIf `units` is positive, `nanos` must be positive or zero.\nIf `units` is zero, `nanos` can be positive, zero, or negative.\nIf `units` is negative, `nanos` must be negative or zero.\nFor example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSubId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.partnersSessionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google Partners session ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"companyName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Company name to search for.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results that the server returns.\nTypically, this is the value of `ListCompaniesResponse.next_page_token`\nreturned from the previous call to\nListCompanies.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"industries":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of industries the company can help with.","enum":["INDUSTRY_UNSPECIFIED","I_AUTOMOTIVE","I_BUSINESS_TO_BUSINESS","I_CONSUMER_PACKAGED_GOODS","I_EDUCATION","I_FINANCE","I_HEALTHCARE","I_MEDIA_AND_ENTERTAINMENT","I_RETAIL","I_TECHNOLOGY","I_TRAVEL"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"websiteUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Website URL that will help to find a better matched company.\n.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"gpsMotivations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of reasons for using Google Partner Search to get companies.","enum":["GPS_MOTIVATION_UNSPECIFIED","GPSM_HELP_WITH_ADVERTISING","GPSM_HELP_WITH_WEBSITE","GPSM_NO_WEBSITE"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"languageCodes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of language codes that company can support. Only primary language\nsubtags are accepted as defined by\n<a href=\"https://tools.ietf.org/html/bcp47\">BCP 47</a>\n(IETF BCP 47, \"Tags for Identifying Languages\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. Server may return fewer companies than requested.\nIf unspecified, server picks an appropriate default.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"requestMetadata.userOverrides.ipAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address to use instead of the user's geo-located IP address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2/companies","request":null,"response":{"$ref":"ListCompaniesResponse"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a company.","etagRequired":null,"httpMethod":"GET","id":"partners.companies.get","mediaUpload":null,"parameterOrder":["companyId"],"parameters":{"requestMetadata.partnersSessionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google Partners session ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Logged-in user ID to impersonate instead of the user's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The view of `Company` resource to be returned. This must not be\n`COMPANY_VIEW_UNSPECIFIED`.","enum":["COMPANY_VIEW_UNSPECIFIED","CV_GOOGLE_PARTNER_SEARCH"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"address":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The address to use for sorting the company's addresses by proximity.\nIf not given, the geo-located address of the request is used.\nUsed when order_by is set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Locale to use for the current request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.ipAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address to use instead of the user's geo-located IP address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"companyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the company to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"currencyCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If the company's budget is in a different currency code than this one, then\nthe converted budget is converted to this currency code.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.experimentIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Experiment IDs the current request belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSubId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"orderBy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"How to order addresses within the returned company. Currently, only\n`address` and `address desc` is supported which will sorted by closest to\nfarthest in distance from given address and farthest to closest distance\nfrom given address respectively.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2/companies/{companyId}","request":null,"response":{"$ref":"GetCompanyResponse"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"leads":{"methods":{"create":{"description":"Creates an advertiser lead for the given company ID.","etagRequired":null,"httpMethod":"POST","id":"partners.companies.leads.create","mediaUpload":null,"parameterOrder":["companyId"],"parameters":{"companyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the company to contact.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2/companies/{companyId}/leads","request":{"$ref":"CreateLeadRequest","parameterName":null},"response":{"$ref":"CreateLeadResponse"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"users":{"methods":{"deleteCompanyRelation":{"description":"Deletes a user's company relation. Unaffiliaites the user from a company.","etagRequired":null,"httpMethod":"DELETE","id":"partners.users.deleteCompanyRelation","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"requestMetadata.experimentIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Experiment IDs the current request belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user. Can be set to <code>me</code> to mean\nthe currently authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSubId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.partnersSessionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google Partners session ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Logged-in user ID to impersonate instead of the user's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Locale to use for the current request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.ipAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address to use instead of the user's geo-located IP address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2/users/{userId}/companyRelation","request":null,"response":{"$ref":"Empty"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"createCompanyRelation":{"description":"Creates a user's company relation. Affiliates the user to a company.","etagRequired":null,"httpMethod":"PUT","id":"partners.users.createCompanyRelation","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"requestMetadata.locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Locale to use for the current request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.ipAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address to use instead of the user's geo-located IP address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.experimentIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Experiment IDs the current request belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSubId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the user. Can be set to <code>me</code> to mean\nthe currently authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Logged-in user ID to impersonate instead of the user's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.partnersSessionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google Partners session ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2/users/{userId}/companyRelation","request":{"$ref":"CompanyRelation","parameterName":null},"response":{"$ref":"CompanyRelation"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a user.","etagRequired":null,"httpMethod":"GET","id":"partners.users.get","mediaUpload":null,"parameterOrder":["userId"],"parameters":{"requestMetadata.experimentIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Experiment IDs the current request belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier of the user. Can be set to <code>me</code> to mean the currently\nauthenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSubId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.partnersSessionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google Partners session ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Logged-in user ID to impersonate instead of the user's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userView":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies what parts of the user information to return.","enum":["BASIC","PROFILE","PUBLIC_PROFILE"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Locale to use for the current request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.ipAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address to use instead of the user's geo-located IP address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2/users/{userId}","request":null,"response":{"$ref":"User"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"updateProfile":{"description":"Updates a user's profile. A user can only update their own profile and\nshould only be called within the context of a logged in user.","etagRequired":null,"httpMethod":"PATCH","id":"partners.users.updateProfile","mediaUpload":null,"parameterOrder":[],"parameters":{"requestMetadata.experimentIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Experiment IDs the current request belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSubId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.partnersSessionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google Partners session ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.userId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Logged-in user ID to impersonate instead of the user's ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.trafficSource.trafficSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Locale to use for the current request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMetadata.userOverrides.ipAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address to use instead of the user's geo-located IP address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2/users/profile","request":{"$ref":"UserProfile","parameterName":null},"response":{"$ref":"UserProfile"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"userEvents":{"methods":{"log":{"description":"Logs a user event.","etagRequired":null,"httpMethod":"POST","id":"partners.userEvents.log","mediaUpload":null,"parameterOrder":[],"parameters":{},"path":"v2/userEvents:log","request":{"$ref":"LogUserEventRequest","parameterName":null},"response":{"$ref":"LogUserEventResponse"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20171004","rootUrl":"https://partners.googleapis.com/","schemas":{"Date":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a whole calendar date, e.g. date of birth. The time of day and\ntime zone are either specified elsewhere or are not significant. The date\nis relative to the Proleptic Gregorian Calendar. The day may be 0 to\nrepresent a year and month where the day is not significant, e.g. credit card\nexpiration date. The year may be 0 to represent a month and day independent\nof year, e.g. anniversary date. Related types are google.type.TimeOfDay\nand `google.protobuf.Timestamp`.","enum":null,"enumDescriptions":null,"format":null,"id":"Date","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"day":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Day of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying a year/month where the day is not significant.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"year":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Year of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"month":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Month of year. Must be from 1 to 12.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Empty":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.","enum":null,"enumDescriptions":null,"format":null,"id":"Empty","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TrafficSource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Source of traffic for the current request.","enum":null,"enumDescriptions":null,"format":null,"id":"TrafficSource","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"trafficSourceId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"trafficSubId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Second level identifier to indicate where the traffic comes from.\nAn identifier has multiple letters created by a team which redirected the\ntraffic to us.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"RequestMetadata":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Common data that is in each API request.","enum":null,"enumDescriptions":null,"format":null,"id":"RequestMetadata","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"trafficSource":{"$ref":"TrafficSource","additionalProperties":null,"annotations":null,"default":null,"description":"Source of traffic for the current request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"experimentIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Experiment IDs the current request belongs to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Locale to use for the current request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"partnersSessionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google Partners session ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userOverrides":{"$ref":"UserOverrides","additionalProperties":null,"annotations":null,"default":null,"description":"Values to use instead of the user's respective defaults for the current\nrequest. These are only honored by whitelisted products.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CreateLeadRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request message for CreateLead.","enum":null,"enumDescriptions":null,"format":null,"id":"CreateLeadRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"requestMetadata":{"$ref":"RequestMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Current request metadata.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"recaptchaChallenge":{"$ref":"RecaptchaChallenge","additionalProperties":null,"annotations":null,"default":null,"description":"<a href=\"https://www.google.com/recaptcha/\">reCaptcha</a> challenge info.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"lead":{"$ref":"Lead","additionalProperties":null,"annotations":null,"default":null,"description":"The lead resource. The `LeadType` must not be `LEAD_TYPE_UNSPECIFIED`\nand either `email` or `phone_number` must be provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"EventData":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Key value data pair for an event.","enum":null,"enumDescriptions":null,"format":null,"id":"EventData","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Data type.","enum":["EVENT_DATA_TYPE_UNSPECIFIED","ACTION","AGENCY_ID","AGENCY_NAME","AGENCY_PHONE_NUMBER","AGENCY_WEBSITE","BUDGET","CENTER_POINT","CERTIFICATION","COMMENT","COUNTRY","CURRENCY","CURRENTLY_VIEWED_AGENCY_ID","DISTANCE","DISTANCE_TYPE","EXAM","HISTORY_TOKEN","ID","INDUSTRY","INSIGHT_TAG","LANGUAGE","LOCATION","MARKETING_OPT_IN","QUERY","SEARCH_START_INDEX","SERVICE","SHOW_VOW","SOLUTION","TRAFFIC_SOURCE_ID","TRAFFIC_SUB_ID","VIEW_PORT","WEBSITE","DETAILS","EXPERIMENT_ID","GPS_MOTIVATION","URL","ELEMENT_FOCUS","PROGRESS"],"enumDescriptions":["Unchosen.","Action data.","Agency ID data.","Agency name data.","Agency phone number data.","Agency website data.","Budget data.","Center-point data.","Certification data.","Comment data.","Country data.","Currency data.","Currently viewed agency ID data.","Distance data.","Distance type data.","Exam data.","History token data.","Identifier data.","Industry data.","Insight tag data.","Language data.","Location  data.","Marketing opt-in data.","Query data.","Search start index data.","Service data.","Show vow data.","Solution data.","Traffic source ID data.","Traffic sub ID data.","Viewport data.","Website data.","Details data.","Experiment ID data.","Google Partner Search motivation data.","URL data.","Element we wanted user to focus on.","Progress when viewing an item \\[0-100\\]."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"values":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Data values.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ExamStatus":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A user's information on a specific exam.","enum":null,"enumDescriptions":null,"format":null,"id":"ExamStatus","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"taken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The date the user last taken this exam.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"passed":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether this exam has been passed and not expired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"warning":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether this exam is in the state of warning.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"expiration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Date this exam is due to expire.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"lastPassed":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The date the user last passed this exam.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"examType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of the exam.","enum":["CERTIFICATION_EXAM_TYPE_UNSPECIFIED","CET_ADWORDS_FUNDAMENTALS","CET_ADWORDS_ADVANCED_SEARCH","CET_ADWORDS_ADVANCED_DISPLAY","CET_VIDEO_ADS","CET_DOUBLECLICK","CET_ANALYTICS","CET_SHOPPING","CET_MOBILE","CET_DIGITAL_SALES","CET_MOBILE_SITES"],"enumDescriptions":["Unchosen.","Adwords Fundamentals exam.","AdWords advanced search exam.","AdWords advanced display exam.","VideoAds exam.","DoubleClick exam.","Analytics exam.","Shopping exam.","Mobile exam.","Digital Sales exam.","Mobile Sites exam."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListOffersResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response for ListOffer.","enum":null,"enumDescriptions":null,"format":null,"id":"ListOffersResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"responseMetadata":{"$ref":"ResponseMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Current response metadata.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"noOfferReason":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Reason why no Offers are available.","enum":["NO_OFFER_REASON_UNSPECIFIED","NO_OFFER_REASON_NO_MCC","NO_OFFER_REASON_LIMIT_REACHED","NO_OFFER_REASON_INELIGIBLE"],"enumDescriptions":["Unset.","Not an MCC.","Offer limit has been reached.","Ineligible for offers."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"availableOffers":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available Offers to be distributed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"AvailableOffer","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enu
[...]
