{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/plus.login":{"description":"Know the list of people in your circles, your age range, and language"},"https://www.googleapis.com/auth/userinfo.profile":{"description":"View your basic profile info"},"https://www.googleapis.com/auth/user.addresses.read":{"description":"View your street addresses"},"https://www.googleapis.com/auth/contacts":{"description":"Manage your contacts"},"https://www.googleapis.com/auth/user.emails.read":{"description":"View your email addresses"},"https://www.googleapis.com/auth/user.phonenumbers.read":{"description":"View your phone numbers"},"https://www.googleapis.com/auth/userinfo.email":{"description":"View your email address"},"https://www.googleapis.com/auth/contacts.readonly":{"description":"View your contacts"},"https://www.googleapis.com/auth/user.birthday.read":{"description":"View your complete date of birth"}}}},"basePath":"","baseUrl":"https://people.googleapis.com/","batchPath":"batch","canonicalName":"People Service","description":"Provides access to information about profiles and contacts.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/people/","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"people:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"people","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"people":{"methods":{"updateContact":{"description":"Update contact data for an existing contact person. Any non-contact data\nwill not be modified.\n\nThe request throws a 400 error if `updatePersonFields` is not specified.\n<br>\nThe request throws a 400 error if `person.metadata.sources` is not\nspecified for the contact to be updated.\n<br>\nThe request throws a 412 error if `person.metadata.sources.etag` is\ndifferent than the contact's etag, which indicates the contact has changed\nsince its data was read. Clients should get the latest person and re-apply\ntheir updates to the latest person.","etagRequired":null,"httpMethod":"PATCH","id":"people.people.updateContact","mediaUpload":null,"parameterOrder":["resourceName"],"parameters":{"resourceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The resource name for the person, assigned by the server. An ASCII string\nwith a max length of 27 characters, in the form of\n`people/`<var>person_id</var>.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^people/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"updatePersonFields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"**Required.** A field mask to restrict which fields on the person are\nupdated. Valid values are:\n\n* addresses\n* biographies\n* birthdays\n* braggingRights\n* emailAddresses\n* events\n* genders\n* imClients\n* interests\n* locales\n* names\n* nicknames\n* occupations\n* organizations\n* phoneNumbers\n* relations\n* residences\n* skills\n* urls","enum":null,"enumDescriptions":null,"format":"google-fieldmask","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/{+resourceName}:updateContact","request":{"$ref":"Person","parameterName":null},"response":{"$ref":"Person"},"scopes":["https://www.googleapis.com/auth/contacts"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"createContact":{"description":"Create a new contact and return the person resource for that contact.","etagRequired":null,"httpMethod":"POST","id":"people.people.createContact","mediaUpload":null,"parameterOrder":[],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The resource name of the owning person resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/people:createContact","request":{"$ref":"Person","parameterName":null},"response":{"$ref":"Person"},"scopes":["https://www.googleapis.com/auth/contacts"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"deleteContact":{"description":"Delete a contact person. Any non-contact data will not be deleted.","etagRequired":null,"httpMethod":"DELETE","id":"people.people.deleteContact","mediaUpload":null,"parameterOrder":["resourceName"],"parameters":{"resourceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The resource name of the contact to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^people/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+resourceName}:deleteContact","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/contacts"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getBatchGet":{"description":"Provides information about a list of specific people by specifying a list\nof requested resource names. Use `people/me` to indicate the authenticated\nuser.\n<br>\nThe request throws a 400 error if 'personFields' is not specified.","etagRequired":null,"httpMethod":"GET","id":"people.people.getBatchGet","mediaUpload":null,"parameterOrder":[],"parameters":{"personFields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"**Required.** A field mask to restrict which fields on each person are\nreturned. Valid values are:\n\n* addresses\n* ageRanges\n* biographies\n* birthdays\n* braggingRights\n* coverPhotos\n* emailAddresses\n* events\n* genders\n* imClients\n* interests\n* locales\n* memberships\n* metadata\n* names\n* nicknames\n* occupations\n* organizations\n* phoneNumbers\n* photos\n* relations\n* relationshipInterests\n* relationshipStatuses\n* residences\n* skills\n* taglines\n* urls","enum":null,"enumDescriptions":null,"format":"google-fieldmask","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMask.includeField":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"**Required.** Comma-separated list of person fields to be included in the\nresponse. Each path should start with `person.`: for example,\n`person.names` or `person.photos`.","enum":null,"enumDescriptions":null,"format":"google-fieldmask","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"resourceNames":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The resource names of the people to provide information about.\n\n- To get information about the authenticated user, specify `people/me`.\n- To get information about a google account, specify\n  `people/`<var>account_id</var>.\n- To get information about a contact, specify the resource name that\n  identifies the contact as returned by\n[`people.connections.list`](/people/api/rest/v1/people.connections/list).\n\nYou can include up to 50 resource names in one request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/people:batchGet","request":null,"response":{"$ref":"GetPeopleResponse"},"scopes":["https://www.googleapis.com/auth/contacts","https://www.googleapis.com/auth/contacts.readonly","https://www.googleapis.com/auth/plus.login","https://www.googleapis.com/auth/user.addresses.read","https://www.googleapis.com/auth/user.birthday.read","https://www.googleapis.com/auth/user.emails.read","https://www.googleapis.com/auth/user.phonenumbers.read","https://www.googleapis.com/auth/userinfo.email","https://www.googleapis.com/auth/userinfo.profile"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Provides information about a person by specifying a resource name. Use\n`people/me` to indicate the authenticated user.\n<br>\nThe request throws a 400 error if 'personFields' is not specified.","etagRequired":null,"httpMethod":"GET","id":"people.people.get","mediaUpload":null,"parameterOrder":["resourceName"],"parameters":{"resourceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The resource name of the person to provide information about.\n\n- To get information about the authenticated user, specify `people/me`.\n- To get information about a google account, specify\n `people/`<var>account_id</var>.\n- To get information about a contact, specify the resource name that\n  identifies the contact as returned by\n[`people.connections.list`](/people/api/rest/v1/people.connections/list).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^people/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"personFields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"**Required.** A field mask to restrict which fields on the person are\nreturned. Valid values are:\n\n* addresses\n* ageRanges\n* biographies\n* birthdays\n* braggingRights\n* coverPhotos\n* emailAddresses\n* events\n* genders\n* imClients\n* interests\n* locales\n* memberships\n* metadata\n* names\n* nicknames\n* occupations\n* organizations\n* phoneNumbers\n* photos\n* relations\n* relationshipInterests\n* relationshipStatuses\n* residences\n* skills\n* taglines\n* urls","enum":null,"enumDescriptions":null,"format":"google-fieldmask","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestMask.includeField":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"**Required.** Comma-separated list of person fields to be included in the\nresponse. Each path should start with `person.`: for example,\n`person.names` or `person.photos`.","enum":null,"enumDescriptions":null,"format":"google-fieldmask","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/{+resourceName}","request":null,"response":{"$ref":"Person"},"scopes":["https://www.googleapis.com/auth/contacts","https://www.googleapis.com/auth/contacts.readonly","https://www.googleapis.com/auth/plus.login","https://www.googleapis.com/auth/user.addresses.read","https://www.googleapis.com/auth/user.birthday.read","https://www.googleapis.com/auth/user.emails.read","https://www.googleapis.com/auth/user.phonenumbers.read","https://www.googleapis.com/auth/userinfo.email","https://www.googleapis.com/auth/userinfo.profile"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"connections":{"methods":{"list":{"description":"Provides a list of the authenticated user's contacts merged with any\nconnected profiles.\n<br>\nThe request throws a 400 error if 'personFields' is not specified.","etagRequired":null,"httpMethod":"GET","id":"people.people.connections.list","mediaUpload":null,"parameterOrder":["resourceName"],"parameters":{"personFields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"**Required.** A field mask to restrict which fields on each person are\nreturned. Valid values are:\n\n* addresses\n* ageRanges\n* biographies\n* birthdays\n* braggingRights\n* coverPhotos\n* emailAddresses\n* events\n* genders\n* imClients\n* interests\n* locales\n* memberships\n* metadata\n* names\n* nicknames\n* occupations\n* organizations\n* phoneNumbers\n* photos\n* relations\n* relationshipInterests\n* relationshipStatuses\n* residences\n* skills\n* taglines\n* urls","enum":null,"enumDescriptions":null,"format":"google-fieldmask","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sortOrder":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The order in which the connections should be sorted. Defaults to\n`LAST_MODIFIED_ASCENDING`.","enum":["LAST_MODIFIED_ASCENDING","FIRST_NAME_ASCENDING","LAST_NAME_ASCENDING"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestSyncToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the response should include a sync token, which can be used to get\nall changes since the last request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token of the page to be returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"resourceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The resource name to return connections for. Only `people/me` is valid.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^people/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The number of connections to include in the response. Valid values are\nbetween 1 and 2000, inclusive. Defaults to 100.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"requestMask.includeField":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"**Required.** Comma-separated list of person fields to be included in the\nresponse. Each path should start with `person.`: for example,\n`person.names` or `person.photos`.","enum":null,"enumDescriptions":null,"format":"google-fieldmask","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"syncToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A sync token, returned by a previous call to `people.connections.list`.\nOnly resources changed since the sync token was created will be returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/{+resourceName}/connections","request":null,"response":{"$ref":"ListConnectionsResponse"},"scopes":["https://www.googleapis.com/auth/contacts","https://www.googleapis.com/auth/contacts.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"contactGroups":{"methods":{"get":{"description":"Get a specific contact group owned by the authenticated user by specifying\na contact group resource name.","etagRequired":null,"httpMethod":"GET","id":"people.contactGroups.get","mediaUpload":null,"parameterOrder":["resourceName"],"parameters":{"maxMembers":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies the maximum number of members to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"resourceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The resource name of the contact group to get.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^contactGroups/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+resourceName}","request":null,"response":{"$ref":"ContactGroup"},"scopes":["https://www.googleapis.com/auth/contacts","https://www.googleapis.com/auth/contacts.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Update the name of an existing contact group owned by the authenticated\nuser.","etagRequired":null,"httpMethod":"PUT","id":"people.contactGroups.update","mediaUpload":null,"parameterOrder":["resourceName"],"parameters":{"resourceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The resource name for the contact group, assigned by the server. An ASCII\nstring, in the form of `contactGroups/`<var>contact_group_id</var>.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^contactGroups/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+resourceName}","request":{"$ref":"UpdateContactGroupRequest","parameterName":null},"response":{"$ref":"ContactGroup"},"scopes":["https://www.googleapis.com/auth/contacts"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"batchGet":{"description":"Get a list of contact groups owned by the authenticated user by specifying\na list of contact group resource names.","etagRequired":null,"httpMethod":"GET","id":"people.contactGroups.batchGet","mediaUpload":null,"parameterOrder":[],"parameters":{"maxMembers":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies the maximum number of members to return for each group.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"resourceNames":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The resource names of the contact groups to get.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/contactGroups:batchGet","request":null,"response":{"$ref":"BatchGetContactGroupsResponse"},"scopes":["https://www.googleapis.com/auth/contacts","https://www.googleapis.com/auth/contacts.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Delete an existing contact group owned by the authenticated user by\nspecifying a contact group resource name.","etagRequired":null,"httpMethod":"DELETE","id":"people.contactGroups.delete","mediaUpload":null,"parameterOrder":["resourceName"],"parameters":{"resourceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The resource name of the contact group to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^contactGroups/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"deleteContacts":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set to true to also delete the contacts in the specified group.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"v1/{+resourceName}","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/contacts"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List all contact groups owned by the authenticated user. Members of the\ncontact groups are not populated.","etagRequired":null,"httpMethod":"GET","id":"people.contactGroups.list","mediaUpload":null,"parameterOrder":[],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The next_page_token value returned from a previous call to\n[ListContactGroups](/people/api/rest/v1/contactgroups/list).\nRequests the next page of resources.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of resources to return.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"syncToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A sync token, returned by a previous call to `contactgroups.list`.\nOnly resources changed since the sync token was created will be returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/contactGroups","request":null,"response":{"$ref":"ListContactGroupsResponse"},"scopes":["https://www.googleapis.com/auth/contacts","https://www.googleapis.com/auth/contacts.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Create a new contact group owned by the authenticated user.","etagRequired":null,"httpMethod":"POST","id":"people.contactGroups.create","mediaUpload":null,"parameterOrder":[],"parameters":{},"path":"v1/contactGroups","request":{"$ref":"CreateContactGroupRequest","parameterName":null},"response":{"$ref":"ContactGroup"},"scopes":["https://www.googleapis.com/auth/contacts"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"members":{"methods":{"modify":{"description":"Modify the members of a contact group owned by the authenticated user.","etagRequired":null,"httpMethod":"POST","id":"people.contactGroups.members.modify","mediaUpload":null,"parameterOrder":["resourceName"],"parameters":{"resourceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The resource name of the contact group to modify.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^contactGroups/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+resourceName}/members:modify","request":{"$ref":"ModifyContactGroupMembersRequest","parameterName":null},"response":{"$ref":"ModifyContactGroupMembersResponse"},"scopes":["https://www.googleapis.com/auth/contacts"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"revision":"20171005","rootUrl":"https://people.googleapis.com/","schemas":{"CoverPhoto":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A person's read-only cover photo. A large image shown on the person's\nprofile page that represents who they are or what they care about.","enum":null,"enumDescriptions":null,"format":null,"id":"CoverPhoto","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"metadata":{"$ref":"FieldMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Metadata about the cover photo.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"default":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if the cover photo is the default cover photo;\nfalse if the cover photo is a user-provided cover photo.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL of the cover photo.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Interest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"One of the person's interests.","enum":null,"enumDescriptions":null,"format":null,"id":"Interest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"metadata":{"$ref":"FieldMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Metadata about the interest.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The interest; for example, `stargazing`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"EmailAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A person's email address.","enum":null,"enumDescriptions":null,"format":null,"id":"EmailAddress","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"displayName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The display name of the email.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"metadata":{"$ref":"FieldMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Metadata about the email address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of the email address. The type can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `home`\n* `work`\n* `other`","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The email address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"formattedType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The read-only type of the email address translated and formatted in the\nviewer's account locale or the `Accept-Language` HTTP header locale.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Nickname":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A person's nickname.","enum":null,"enumDescriptions":null,"format":null,"id":"Nickname","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The nickname.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"metadata":{"$ref":"FieldMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Metadata about the nickname.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of the nickname.","enum":["DEFAULT","MAIDEN_NAME","INITIALS","GPLUS","OTHER_NAME"],"enumDescriptions":["Generic nickname.","Maiden name or birth family name. Used when the person's family name has\nchanged as a result of marriage.","Initials.","Google+ profile nickname.","A professional affiliation or other name; for example, `Dr. Smith.`"],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Skill":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A skill that the person has.","enum":null,"enumDescriptions":null,"format":null,"id":"Skill","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"metadata":{"$ref":"FieldMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Metadata about the skill.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The skill; for example, `underwater basket weaving`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Date":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a whole calendar date, for example a date of birth. The time\nof day and time zone are either specified elsewhere or are not\nsignificant. The date is relative to the\n[Proleptic Gregorian Calendar](https://en.wikipedia.org/wiki/Proleptic_Gregorian_calendar).\nThe day may be 0 to represent a year and month where the day is not\nsignificant. The year may be 0 to represent a month and day independent\nof year; for example, anniversary date.","enum":null,"enumDescriptions":null,"format":null,"id":"Date","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"month":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Month of year. Must be from 1 to 12.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"year":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Year of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"day":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Day of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying a year/month where the day is not significant.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Tagline":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A read-only brief one-line description of the person.","enum":null,"enumDescriptions":null,"format":null,"id":"Tagline","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"metadata":{"$ref":"FieldMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Metadata about the tagline.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The tagline.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A person's name. If the name is a mononym, the family name is empty.","enum":null,"enumDescriptions":null,"format":null,"id":"Name","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"honorificPrefix":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The honorific prefixes, such as `Mrs.` or `Dr.`","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"phoneticHonorificSuffix":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The honorific suffixes spelled as they sound.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"middleName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The middle name(s).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"givenName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The given name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"phoneticHonorificPrefix":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The honorific prefixes spelled as they sound.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"phoneticGivenName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The given name spelled as it sounds.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"phoneticFamilyName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The family name spelled as it sounds.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"familyName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The family name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"phoneticMiddleName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The middle name(s) spelled as they sound.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"metadata":{"$ref":"FieldMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Metadata about the name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"phoneticFullName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The full name spelled as it sounds.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"displayNameLastFirst":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The read-only display name with the last name first formatted according to\nthe locale specified by the viewer's account or the\n`Accept-Language` HTTP header.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"displayName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The read-only display name formatted according to the locale specified by\nthe viewer's account or the `Accept-Language` HTTP header.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"honorificSuffix":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The honorific suffixes, such as `Jr.`","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A person's locale preference.","enum":null,"enumDescriptions":null,"format":null,"id":"Locale","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The well-formed [IETF BCP 47](https://tools.ietf.org/html/bcp47)\nlanguage tag representing the locale.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"metadata":{"$ref":"FieldMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Metadata about the locale.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Empty":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.","enum":null,"enumDescriptions":null,"format":null,"id":"Empty","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UserDefined":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Arbitrary user data that is populated by the end users.","enum":null,"enumDescriptions":null,"format":null,"id":"UserDefined","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The end user specified value of the user defined data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The end user specified key of the user defined data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"metadata":{"$ref":"FieldMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Metadata about the user defined data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Biography":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A person's short biography.","enum":null,"enumDescriptions":null,"format":null,"id":"Biography","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The short biography.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"contentType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The content type of the biography.","enum":["CONTENT_TYPE_UNSPECIFIED","TEXT_PLAIN","TEXT_HTML"],"enumDescriptions":["Unspecified.","Plain text.","HTML text."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"metadata":{"$ref":"FieldMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Metadata about the biography.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"FieldMetadata":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Metadata about a field.","enum":null,"enumDescriptions":null,"format":null,"id":"FieldMetadata","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"verified":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if the field is verified; false if the field is unverified. A\nverified field is typically a name, email address, phone number, or\nwebsite that has been confirmed to be owned by the person.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"primary":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if the field is the primary field; false if the field is a secondary\nfield.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"source":{"$ref":"Source","additionalProperties":null,"annotations":null,"default":null,"description":"The source of the field.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"RelationshipInterest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A person's read-only relationship interest .","enum":null,"enumDescriptions":null,"format":null,"id":"RelationshipInterest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The kind of relationship the person is looking for. The value can be custom\nor predefined. Possible values include, but are not limited to, the\nfollowing values:\n\n* `friend`\n* `date`\n* `relationship`\n* `networking`","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"formattedValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The value of the relationship interest translated and formatted in the\nviewer's account locale or the locale specified in the Accept-Language\nHTTP header.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"metadata":{"$ref":"FieldMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Metadata about the relationship interest.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The source of a field.","enum":null,"enumDescriptions":null,"format":null,"id":"Source","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"etag":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"**Only populated in `person.metadata.sources`.**\n\nThe [HTTP entity tag](https://en.wikipedia.org/wiki/HTTP_ETag) of the\nsource. Used for web cache validation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique identifier within the source type generated by the server.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"profileMetadata":{"$ref":"ProfileMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"**Only populated in `person.metadata.sources`.**\n\nMetadata about a source of type PROFILE.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"updateTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"**Only populated in `person.metadata.sources`.**\n\nLast update timestamp of this source.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The source type.","enum":["SOURCE_TYPE_UNSPECIFIED","ACCOUNT","PROFILE","DOMAIN_PROFILE","CONTACT"],"enumDescriptions":["Unspecified.","[Google Account](https://accounts.google.com).","[Google profile](https://profiles.google.com). You can view the\nprofile at https://profiles.google.com/<var>id</var> where\n<var>id</var> is the source id.","[Google Apps domain profile](https://admin.google.com).","[Google contact](https://contacts.google.com). You can view the\ncontact at https://contact.google.com/<var>id</var> where <var>id</var>\nis the source id."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GetPeopleResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"GetPeopleResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"responses":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response for each requested resource name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"PersonResponse","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"PhoneNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A person's phone number.","enum":null,"enumDescriptions":null,"format":null,"id":"PhoneNumber","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The phone number.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"formattedType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The read-only type of the phone number translated and formatted in the\nviewer's account locale or the `Accept-Language` HTTP header locale.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"canonicalForm":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The read-only canonicalized [ITU-T E.164](https://law.resource.org/pub/us/cfr/ibr/004/itu-t.E.164.1.2008.pdf)\nform of the phone number.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"metadata":{"$ref":"FieldMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Metadata about the phone number.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of the phone number. The type can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `home`\n* `work`\n* `mobile`\n* `homeFax`\n* `workFax`\n* `otherFax`\n* `pager`\n* `workMobile`\n* `workPager`\n* `main`\n* `googleVoice`\n* `other`","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Photo":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A person's read-only photo. A picture shown next to the person's name to\nhelp others recognize the person.","enum":null,"enumDescriptions":null,"format":null,"id":"Photo","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL of the photo. You can change the desired size by appending a query\nparameter `sz=`<var>size</var> at the end of the url. Example:\n`https://lh3.googleusercontent.com/-T_wVWLlmg7w/AAAAAAAAAAI/AAAAAAAABa8/00gzXvDBYqw/s100/photo.jpg?sz=50`","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"metadata":{"$ref":"FieldMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Metadata about the photo.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"default":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if the photo is a default photo;\nfalse if the photo is a user-provided photo.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListConnectionsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"ListConnectionsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token that can be used to retrieve the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"connections":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of people that the requestor is connected to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Person","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"nextSyncToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token that can be used to retrieve changes since the last request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"totalItems":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The total number of items in the list without pagination.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"totalPeople":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"**DEPRECATED** (Please use totalItems)\nThe total number of people in the list without pagination.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Birthday":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A person's birthday. At least one of the `date` and `text` fields are\nspecified. The `date` and `text` fields typically represent the same\ndate, but are not guaranteed to.","enum":null,"enumDescriptions":null,"format":null,"id":"Birthday","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"date":{"$ref":"Date","additionalProperties":null,"annotations":null,"default":null,"description":"The date of the birthday.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"metadata":{"$ref":"FieldMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Metadata about the birthday.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"text":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A free-form string representing the user's birthday.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CreateContactGroupRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A request to create a new contact group.","enum":null,"enumDescriptions":null,"format":null,"id":"CreateContactGroupRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"contactGroup":{"$ref":"ContactGroup","additionalProperties":null,"annotations":null,"default":null,"description":"The contact group to create.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Address":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A person's physical address. May be a P.O. box or street address. All fields\nare optional.","enum":null,"enumDescriptions":null,"format":null,"id":"Address","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"poBox":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The P.O. box of the address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"postalCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The postal code of the address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"region":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The region of the address; for example, the state or province.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"streetAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The street address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"metadata":{"$ref":"FieldMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Metadata about the address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"countryCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The [ISO 3166-1 alpha-2](http://www.iso.org/iso/country_codes.htm) country\ncode of the address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"formattedType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The read-only type of the address translated and formatted in the viewer's\naccount locale or the `Accept-Language` HTTP header locale.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"city":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The city of the address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"formattedValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unstructured value of the address. If this is not set by the user it\nwill be automatically constructed from structured values.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"country":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The country of the address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of the address. The type can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `home`\n* `work`\n* `other`","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"extendedAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The extended address of the address; for example, the apartment number.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ContactGroupMembership":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Google contact group membership.","enum":null,"enumDescriptions":null,"format":null,"id":"ContactGroupMembership","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"contactGroupId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The contact group ID for the contact group membership. The contact group\nID can be custom or predefined. Possible values include, but are not\nlimited to, the following:\n\n*  `myContacts`\n*  `starred`\n*  A numerical ID for user-created groups.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.","enum":null,"enumDescriptions":null,"format":null,"id":"Status","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"details":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of the object. Contains field @type with type URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"code":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The status code, which should be an enum value of google.rpc.Code.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"message":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"PersonMetadata":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The read-only metadata about a person.","enum":null,"enumDescriptions":null,"format":null,"id":"PersonMetadata","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"objectType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"**DEPRECATED** (Please use\n`person.metadata.sources.profileMetadata.objectType` instead)\n\nThe type of the person object.","enum":["OBJECT_TYPE_UNSPECIFIED","PERSON","PAGE"],"enumDescriptions":["Unspecified.","Person.","[Google+ Page.](http://www.google.com/+/brands/)"],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"linkedPeopleResourceNames":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Resource names of people linked to this resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"sources":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The sources of data for the person.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Source","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"previousResourceNames":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Any former resource names this person has had. Populated only for\n[`connections.list`](/people/api/rest/v1/people.connections/list) requests\nthat include a sync token.\n\nThe resource name may change when adding or removing fields that link a\ncontact and profile such as a verified email, verified phone number, or\nprofile URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"deleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if the person resource has been deleted. Populated only for\n[`connections.list`](/people/api/rest/v1/people.connections/list) requests\nthat include a sync token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ModifyContactGroupMembersRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A request to modify an existing contact group's members.","enum":null,"enumDescriptions":null,"format":null,"id":"ModifyContactGroupMembersRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"resourceNamesToRemove":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The resource names of the contact people to remove in the form of in the\nform of `people/`<var>person_id</var>.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"resourceNamesToAdd":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The resource names of the contact people to add in the form of in the form\n`people/`<var>person_id</var>.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ContactGroupResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response for a specific contact group.","enum":null,"enumDescriptions":null,"format":null,"id":"ContactGroupResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"contactGroup":{"$ref":"ContactGroup","additionalProperties":null,"annotations":null,"default":null,"description":"The contact group.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"status":{"$ref":"Status","additionalProperties":null,"annotations":null,"default":null,"description":"The status of the response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"requestedResourceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The original requested resource name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A person's associated URLs.","enum":null,"enumDescriptions":null,"format":null,"id":"Url","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"metadata":{"$ref":"FieldMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Metadata about the URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of the URL. The type can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `home`\n* `work`\n* `blog`\n* `profile`\n* `homePage`\n* `ftp`\n* `reservations`\n* `appInstallPage`: website for a Google+ application.\n* `other`","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"formattedType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The read-only type of the URL translated and formatted in the viewer's\naccount locale or the `Accept-Language` HTTP header locale.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ImClient":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A person's instant messaging client.","enum":null,"enumDescriptions":null,"format":null,"id":"ImClient","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"formattedProtocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The read-only protocol of the IM client formatted in the viewer's account\nlocale or the `Accept-Language` HTTP header locale.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"formattedType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The read-only type of the IM client translated and formatted in the\nviewer's account locale or the `Accept-Language` HTTP header locale.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The protocol of the IM client. The protocol can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `aim`\n* `msn`\n* `yahoo`\n* `skype`\n* `qq`\n* `googleTalk`\n* `icq`\n* `jabber`\n* `netMeeting`","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"metadata":{"$ref":"FieldMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Metadata about the IM client.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of the IM client. The type can be custom or predefined.\nPossible values include, but are not limited to, the following:\n\n* `home`\n* `work`\n* `other`","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"username":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The user name used in the IM client.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DomainMembership":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Google Apps Domain membership.","enum":null,"enumDescriptions":null,"format":null,"id":"DomainMembership","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"inViewerDomain":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if the person is in the viewer's Google Apps domain.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Membership":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A person's read-only membership in a group.","enum":null,"enumDescriptions":null,"format":null,"id":"Membership","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"metadata":{"$ref":"FieldMetadata","additionalProperties":null,"annotations":null,"default":null,"description":"Metadata about the membership.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"contactGroupMembership":{"$ref":"ContactGroupMembership","additionalProperties":null,"annotations":null,"default":null,"description":"The contact group membership.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"domainMembership":{"$ref":"DomainMembership","additionalProperties":null,"annotations":null,"default":null,"description":"The domain membership.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BatchGetContactGroupsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response to a batch get contact groups request.","enum":null,"enumDescriptions":null,"format":null,"id":"BatchGetContactGroupsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"responses":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of responses for each requested contact group resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ContactGroupResponse","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"RelationshipStatus":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null
[...]
