{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/apps.order":{"description":"Manage users on your domain"},"https://www.googleapis.com/auth/apps.order.readonly":{"description":"Manage users on your domain"}}}},"basePath":"/apps/reseller/v1/","baseUrl":"https://www.googleapis.com/apps/reseller/v1/","batchPath":"batch/reseller/v1","canonicalName":null,"description":"Creates and manages your customers and their subscriptions.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/google-apps/reseller/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/X8_Q_t3uaU1QrzrqghkL9l2OAyo\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png","x32":"https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"},"id":"reseller:v1","kind":"discovery#restDescription","labels":["limited_availability"],"methods":null,"name":"reseller","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"customers":{"methods":{"get":{"description":"Get a customer account.","etagRequired":null,"httpMethod":"GET","id":"reseller.customers.get","mediaUpload":null,"parameterOrder":["customerId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Either the customer's primary domain name or the customer's unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customers/{customerId}","request":null,"response":{"$ref":"Customer"},"scopes":["https://www.googleapis.com/auth/apps.order","https://www.googleapis.com/auth/apps.order.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Order a new customer's account.","etagRequired":null,"httpMethod":"POST","id":"reseller.customers.insert","mediaUpload":null,"parameterOrder":null,"parameters":{"customerAuthToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The customerAuthToken query string is required when creating a resold account that transfers a direct customer's subscription or transfers another reseller customer's subscription to your reseller management. This is a hexadecimal authentication token needed to complete the subscription transfer. For more information, see the administrator help center.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"customers","request":{"$ref":"Customer","parameterName":null},"response":{"$ref":"Customer"},"scopes":["https://www.googleapis.com/auth/apps.order"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Update a customer account's settings. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"reseller.customers.patch","mediaUpload":null,"parameterOrder":["customerId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Either the customer's primary domain name or the customer's unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customers/{customerId}","request":{"$ref":"Customer","parameterName":null},"response":{"$ref":"Customer"},"scopes":["https://www.googleapis.com/auth/apps.order"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Update a customer account's settings.","etagRequired":null,"httpMethod":"PUT","id":"reseller.customers.update","mediaUpload":null,"parameterOrder":["customerId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Either the customer's primary domain name or the customer's unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customers/{customerId}","request":{"$ref":"Customer","parameterName":null},"response":{"$ref":"Customer"},"scopes":["https://www.googleapis.com/auth/apps.order"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"resellernotify":{"methods":{"getwatchdetails":{"description":"Returns all the details of the watch corresponding to the reseller.","etagRequired":null,"httpMethod":"GET","id":"reseller.resellernotify.getwatchdetails","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"resellernotify/getwatchdetails","request":null,"response":{"$ref":"ResellernotifyGetwatchdetailsResponse"},"scopes":["https://www.googleapis.com/auth/apps.order","https://www.googleapis.com/auth/apps.order.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"register":{"description":"Registers a Reseller for receiving notifications.","etagRequired":null,"httpMethod":"POST","id":"reseller.resellernotify.register","mediaUpload":null,"parameterOrder":null,"parameters":{"serviceAccountEmailAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The service account which will own the created Cloud-PubSub topic.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"resellernotify/register","request":null,"response":{"$ref":"ResellernotifyResource"},"scopes":["https://www.googleapis.com/auth/apps.order"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"unregister":{"description":"Unregisters a Reseller for receiving notifications.","etagRequired":null,"httpMethod":"POST","id":"reseller.resellernotify.unregister","mediaUpload":null,"parameterOrder":null,"parameters":{"serviceAccountEmailAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The service account which owns the Cloud-PubSub topic.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"resellernotify/unregister","request":null,"response":{"$ref":"ResellernotifyResource"},"scopes":["https://www.googleapis.com/auth/apps.order"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"subscriptions":{"methods":{"activate":{"description":"Activates a subscription previously suspended by the reseller","etagRequired":null,"httpMethod":"POST","id":"reseller.subscriptions.activate","mediaUpload":null,"parameterOrder":["customerId","subscriptionId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Either the customer's primary domain name or the customer's unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"subscriptionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is a required property. The subscriptionId is the subscription identifier and is unique for each customer. Since a subscriptionId changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the subscriptionId can be found using the retrieve all reseller subscriptions method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customers/{customerId}/subscriptions/{subscriptionId}/activate","request":null,"response":{"$ref":"Subscription"},"scopes":["https://www.googleapis.com/auth/apps.order"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"changePlan":{"description":"Update a subscription plan. Use this method to update a plan for a 30-day trial or a flexible plan subscription to an annual commitment plan with monthly or yearly payments.","etagRequired":null,"httpMethod":"POST","id":"reseller.subscriptions.changePlan","mediaUpload":null,"parameterOrder":["customerId","subscriptionId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Either the customer's primary domain name or the customer's unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"subscriptionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is a required property. The subscriptionId is the subscription identifier and is unique for each customer. Since a subscriptionId changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the subscriptionId can be found using the retrieve all reseller subscriptions method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customers/{customerId}/subscriptions/{subscriptionId}/changePlan","request":{"$ref":"ChangePlanRequest","parameterName":null},"response":{"$ref":"Subscription"},"scopes":["https://www.googleapis.com/auth/apps.order"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"changeRenewalSettings":{"description":"Update a user license's renewal settings. This is applicable for accounts with annual commitment plans only.","etagRequired":null,"httpMethod":"POST","id":"reseller.subscriptions.changeRenewalSettings","mediaUpload":null,"parameterOrder":["customerId","subscriptionId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Either the customer's primary domain name or the customer's unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"subscriptionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is a required property. The subscriptionId is the subscription identifier and is unique for each customer. Since a subscriptionId changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the subscriptionId can be found using the retrieve all reseller subscriptions method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customers/{customerId}/subscriptions/{subscriptionId}/changeRenewalSettings","request":{"$ref":"RenewalSettings","parameterName":null},"response":{"$ref":"Subscription"},"scopes":["https://www.googleapis.com/auth/apps.order"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"changeSeats":{"description":"Update a subscription's user license settings.","etagRequired":null,"httpMethod":"POST","id":"reseller.subscriptions.changeSeats","mediaUpload":null,"parameterOrder":["customerId","subscriptionId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Either the customer's primary domain name or the customer's unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"subscriptionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is a required property. The subscriptionId is the subscription identifier and is unique for each customer. Since a subscriptionId changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the subscriptionId can be found using the retrieve all reseller subscriptions method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customers/{customerId}/subscriptions/{subscriptionId}/changeSeats","request":{"$ref":"Seats","parameterName":null},"response":{"$ref":"Subscription"},"scopes":["https://www.googleapis.com/auth/apps.order"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Cancel, suspend or transfer a subscription to direct.","etagRequired":null,"httpMethod":"DELETE","id":"reseller.subscriptions.delete","mediaUpload":null,"parameterOrder":["customerId","subscriptionId","deletionType"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Either the customer's primary domain name or the customer's unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"deletionType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The deletionType query string enables the cancellation, downgrade, or suspension of a subscription.","enum":["cancel","downgrade","suspend","transfer_to_direct"],"enumDescriptions":["Cancels the subscription immediately. This does not apply to a G Suite subscription.","Downgrades a G Suite subscription to a Google Apps Free edition subscription only if the customer was initially subscribed to a Google Apps Free edition (also known as the Standard edition). Once downgraded, the customer no longer has access to the previous G Suite subscription and is no longer managed by the reseller.\n\nA G Suite subscription's downgrade cannot be invoked if an active or suspended Google Drive or Google Vault subscription is present. The Google Drive or Google Vault subscription must be cancelled before the G Suite subscription's downgrade is invoked.\n\nThe downgrade deletionType does not apply to other products or G Suite SKUs.","(DEPRECATED) The G Suite account is suspended for four days and then cancelled. Once suspended, an administrator has access to the suspended account, but the account users can not access their services. A suspension can be lifted, using the reseller tools.\n\nA G Suite subscription's suspension can not be invoked if an active or suspended Google Drive or Google Vault subscription is present. The Google Drive or Google Vault subscription must be cancelled before the G Suite subscription's suspension is invoked.","Transfers a subscription directly to Google.  The customer is immediately transferred to a direct billing relationship with Google and is given a short amount of time with no service interruption. The customer can then choose to set up billing directly with Google by using a credit card, or they can transfer to another reseller."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"subscriptionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is a required property. The subscriptionId is the subscription identifier and is unique for each customer. Since a subscriptionId changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the subscriptionId can be found using the retrieve all reseller subscriptions method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customers/{customerId}/subscriptions/{subscriptionId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/apps.order"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Get a specific subscription.","etagRequired":null,"httpMethod":"GET","id":"reseller.subscriptions.get","mediaUpload":null,"parameterOrder":["customerId","subscriptionId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Either the customer's primary domain name or the customer's unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"subscriptionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is a required property. The subscriptionId is the subscription identifier and is unique for each customer. Since a subscriptionId changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the subscriptionId can be found using the retrieve all reseller subscriptions method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customers/{customerId}/subscriptions/{subscriptionId}","request":null,"response":{"$ref":"Subscription"},"scopes":["https://www.googleapis.com/auth/apps.order","https://www.googleapis.com/auth/apps.order.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Create or transfer a subscription.","etagRequired":null,"httpMethod":"POST","id":"reseller.subscriptions.insert","mediaUpload":null,"parameterOrder":["customerId"],"parameters":{"customerAuthToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The customerAuthToken query string is required when creating a resold account that transfers a direct customer's subscription or transfers another reseller customer's subscription to your reseller management. This is a hexadecimal authentication token needed to complete the subscription transfer. For more information, see the administrator help center.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Either the customer's primary domain name or the customer's unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customers/{customerId}/subscriptions","request":{"$ref":"Subscription","parameterName":null},"response":{"$ref":"Subscription"},"scopes":["https://www.googleapis.com/auth/apps.order"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List of subscriptions managed by the reseller. The list can be all subscriptions, all of a customer's subscriptions, or all of a customer's transferable subscriptions.","etagRequired":null,"httpMethod":"GET","id":"reseller.subscriptions.list","mediaUpload":null,"parameterOrder":null,"parameters":{"customerAuthToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The customerAuthToken query string is required when creating a resold account that transfers a direct customer's subscription or transfers another reseller customer's subscription to your reseller management. This is a hexadecimal authentication token needed to complete the subscription transfer. For more information, see the administrator help center.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Either the customer's primary domain name or the customer's unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"customerNamePrefix":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When retrieving all of your subscriptions and filtering for specific customers, you can enter a prefix for a customer name. Using an example customer group that includes exam.com, example20.com and example.com:  \n- exa -- Returns all customer names that start with 'exa' which could include exam.com, example20.com, and example.com. A name prefix is similar to using a regular expression's asterisk, exa*. \n- example -- Returns example20.com and example.com.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When retrieving a large list, the maxResults is the maximum number of results per page. The nextPageToken value takes you to the next page. The default is 20.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":"100","minimum":"1","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token to specify next page in the list","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"subscriptions","request":null,"response":{"$ref":"Subscriptions"},"scopes":["https://www.googleapis.com/auth/apps.order","https://www.googleapis.com/auth/apps.order.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"startPaidService":{"description":"Immediately move a 30-day free trial subscription to a paid service subscription.","etagRequired":null,"httpMethod":"POST","id":"reseller.subscriptions.startPaidService","mediaUpload":null,"parameterOrder":["customerId","subscriptionId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Either the customer's primary domain name or the customer's unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"subscriptionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is a required property. The subscriptionId is the subscription identifier and is unique for each customer. Since a subscriptionId changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the subscriptionId can be found using the retrieve all reseller subscriptions method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customers/{customerId}/subscriptions/{subscriptionId}/startPaidService","request":null,"response":{"$ref":"Subscription"},"scopes":["https://www.googleapis.com/auth/apps.order"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"suspend":{"description":"Suspends an active subscription.","etagRequired":null,"httpMethod":"POST","id":"reseller.subscriptions.suspend","mediaUpload":null,"parameterOrder":["customerId","subscriptionId"],"parameters":{"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Either the customer's primary domain name or the customer's unique identifier. If using the domain name, we do not recommend using a customerId as a key for persistent data. If the domain name for a customerId is changed, the Google system automatically updates.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"subscriptionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is a required property. The subscriptionId is the subscription identifier and is unique for each customer. Since a subscriptionId changes when a subscription is updated, we recommend to not use this ID as a key for persistent data. And the subscriptionId can be found using the retrieve all reseller subscriptions method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"customers/{customerId}/subscriptions/{subscriptionId}/suspend","request":null,"response":{"$ref":"Subscription"},"scopes":["https://www.googleapis.com/auth/apps.order"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20170228","rootUrl":"https://www.googleapis.com/","schemas":{"Address":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSON template for address of a customer.","enum":null,"enumDescriptions":null,"format":null,"id":"Address","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"addressLine1":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A customer's physical address. An address can be composed of one to three lines. The addressline2 and addressLine3 are optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"addressLine2":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Line 2 of the address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"addressLine3":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Line 3 of the address.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"contactName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The customer contact's name. This is required.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"countryCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For countryCode information, see the ISO 3166 country code elements. Verify that country is approved for resale of Google products. This property is required when creating a new customer.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"customers#address","description":"Identifies the resource as a customer address. Value: customers#address","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"locality":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An example of a locality value is the city of San Francisco.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"organizationName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The company or company division name. This is required.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"postalCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A postalCode example is a postal zip code such as 94043. This property is required when creating a new customer.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"region":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An example of a region value is CA for the state of California.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ChangePlanRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSON template for the ChangePlan rpc request.","enum":null,"enumDescriptions":null,"format":null,"id":"ChangePlanRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"dealCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google-issued code (100 char max) for discounted pricing on subscription plans. Deal code must be included in changePlan request in order to receive discounted rate. This property is optional. If a deal code has already been added to a subscription, this property may be left empty and the existing discounted rate will still apply (if not empty, only provide the deal code that is already present on the subscription). If a deal code has never been added to a subscription and this property is left blank, regular pricing will apply.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"subscriptions#changePlanRequest","description":"Identifies the resource as a subscription change plan request. Value: subscriptions#changePlanRequest","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"planName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The planName property is required. This is the name of the subscription's payment plan. For more information about the Google payment plans, see API concepts.\n\nPossible values are:  \n- ANNUAL_MONTHLY_PAY - The annual commitment plan with monthly payments  \n- ANNUAL_YEARLY_PAY - The annual commitment plan with yearly payments  \n- FLEXIBLE - The flexible plan  \n- TRIAL - The 30-day free trial plan","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"purchaseOrderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is an optional property. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"seats":{"$ref":"Seats","additionalProperties":null,"annotations":null,"default":null,"description":"This is a required property. The seats property is the number of user seat licenses.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Customer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSON template for a customer.","enum":null,"enumDescriptions":null,"format":null,"id":"Customer","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"alternateEmail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Like the \"Customer email\" in the reseller tools, this email is the secondary contact used if something happens to the customer's service such as service outage or a security issue. This property is required when creating a new customer and should not use the same domain as customerDomain.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"customerDomain":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The customer's primary domain name string. customerDomain is required when creating a new customer. Do not include the www prefix in the domain when adding a customer.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"customerDomainVerified":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the customer's primary domain has been verified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This property will always be returned in a response as the unique identifier generated by Google. In a request, this property can be either the primary domain or the unique identifier generated by Google.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"reseller#customer","description":"Identifies the resource as a customer. Value: reseller#customer","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"phoneNumber":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Customer contact phone number. This can be continuous numbers, with spaces, etc. But it must be a real phone number and not, for example, \"123\". See phone  local format conventions.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"postalAddress":{"$ref":"Address","additionalProperties":null,"annotations":null,"default":null,"description":"A customer's address information. Each field has a limit of 255 charcters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"resourceUiUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"URL to customer's Admin console dashboard. The read-only URL is generated by the API service. This is used if your client application requires the customer to complete a task in the Admin console.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"RenewalSettings":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSON template for a subscription renewal settings.","enum":null,"enumDescriptions":null,"format":null,"id":"RenewalSettings","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"subscriptions#renewalSettings","description":"Identifies the resource as a subscription renewal setting. Value: subscriptions#renewalSettings","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"renewalType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Renewal settings for the annual commitment plan. For more detailed information, see renewal options in the administrator help center. When renewing a subscription, the renewalType is a required property.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ResellernotifyGetwatchdetailsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSON template for resellernotify getwatchdetails response.","enum":null,"enumDescriptions":null,"format":null,"id":"ResellernotifyGetwatchdetailsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"serviceAccountEmailAddresses":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of registered service accounts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"topicName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Topic name of the PubSub","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ResellernotifyResource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSON template for resellernotify response.","enum":null,"enumDescriptions":null,"format":null,"id":"ResellernotifyResource","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"topicName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Topic name of the PubSub","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Seats":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSON template for subscription seats.","enum":null,"enumDescriptions":null,"format":null,"id":"Seats","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"subscriptions#seats","description":"Identifies the resource as a subscription change plan request. Value: subscriptions#seats","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"licensedNumberOfSeats":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Read-only field containing the current number of licensed seats for FLEXIBLE Google-Apps subscriptions and secondary subscriptions such as Google-Vault and Drive-storage.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"maximumNumberOfSeats":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximumNumberOfSeats property is the maximum number of licenses that the customer can purchase. This property applies to plans other than the annual commitment plan. How a user's licenses are managed depends on the subscription's payment plan:  \n- annual commitment plan (with monthly or yearly payments) — For this plan, a reseller is invoiced on the number of user licenses in the numberOfSeats property. The maximumNumberOfSeats property is a read-only property in the API's response.  \n- flexible plan — For this plan, a reseller is invoiced on the actual number of users which is capped by the maximumNumberOfSeats. This is the maximum number of user licenses a customer has for user license provisioning. This quantity can be increased up to the maximum limit defined in the reseller's contract. And the minimum quantity is the current number of users in the customer account.  \n- 30-day free trial plan — A subscription in a 30-day free trial is restricted to maximum 10 seats.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"numberOfSeats":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The numberOfSeats property holds the customer's number of user licenses. How a user's licenses are managed depends on the subscription's plan:  \n- annual commitment plan (with monthly or yearly pay) — For this plan, a reseller is invoiced on the number of user licenses in the numberOfSeats property. This is the maximum number of user licenses that a reseller's customer can create. The reseller can add more licenses, but once set, the numberOfSeats can not be reduced until renewal. The reseller is invoiced based on the numberOfSeats value regardless of how many of these user licenses are provisioned users.  \n- flexible plan — For this plan, a reseller is invoiced on the actual number of users which is capped by the maximumNumberOfSeats. The numberOfSeats property is not used in the request or response for flexible plan customers.  \n- 30-day free trial plan — The numberOfSeats property is not used in the request or response for an account in a 30-day trial.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Subscription":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSON template for a subscription.","enum":null,"enumDescriptions":null,"format":null,"id":"Subscription","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"billingMethod":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Read-only field that returns the current billing method for a subscription.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"creationTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The creationTime property is the date when subscription was created. It is in milliseconds using the Epoch format. See an example Epoch converter.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"customerDomain":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Primary domain name of the customer","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"customerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This property will always be returned in a response as the unique identifier generated by Google. In a request, this property can be either the primary domain or the unique identifier generated by Google.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"dealCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Google-issued code (100 char max) for discounted pricing on subscription plans. Deal code must be included in insert requests in order to receive discounted rate. This property is optional, regular pricing applies if left empty.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"reseller#subscription","description":"Identifies the resource as a Subscription. Value: reseller#subscription","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"plan":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The plan property is required. In this version of the API, the G Suite plans are the flexible plan, annual commitment plan, and the 30-day free trial plan. For more information about the API\"s payment plans, see the API concepts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"commitmentInterval":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"In this version of the API, annual commitment plan's interval is one year.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"endTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An annual commitment plan's interval's endTime in milliseconds using the UNIX Epoch format. See an example Epoch converter.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An annual commitment plan's interval's startTime in milliseconds using UNIX Epoch format. See an example Epoch converter.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"isCommitmentPlan":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The isCommitmentPlan property's boolean value identifies the plan as an annual commitment plan:\n- true — The subscription's plan is an annual commitment plan.\n- false — The plan is not an annual commitment plan.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"planName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The planName property is required. This is the name of the subscription's plan. For more information about the Google payment plans, see the API concepts.\n\nPossible values are:  \n- ANNUAL_MONTHLY_PAY — The annual commitment plan with monthly payments  \n- ANNUAL_YEARLY_PAY — The annual commitment plan with yearly payments  \n- FLEXIBLE — The flexible plan  \n- TRIAL — The 30-day free trial plan. A subscription in trial will be suspended after the 30th free day if no payment plan is assigned. Calling changePlan will assign a payment plan to a trial but will not activate the plan. A trial will automatically begin its assigned payment plan after its 30th free day or immediately after calling startPaidService.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"purchaseOrderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is an optional property. This purchase order (PO) information is for resellers to use for their company tracking usage. If a purchaseOrderId value is given it appears in the API responses and shows up in the invoice. The property accepts up to 80 plain text characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"renewalSettings":{"$ref":"RenewalSettings","additionalProperties":null,"annotations":null,"default":null,"description":"Renewal settings for the annual commitment plan. For more detailed information, see renewal options in the administrator help center.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"resourceUiUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"URL to customer's Subscriptions page in the Admin console. The read-only URL is generated by the API service. This is used if your client application requires the customer to complete a task using the Subscriptions page in the Admin console.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"seats":{"$ref":"Seats","additionalProperties":null,"annotations":null,"default":null,"description":"This is a required property. The number and limit of user seat licenses in the plan.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"skuId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A required property. The skuId is a unique system identifier for a product's SKU assigned to a customer in the subscription. For products and SKUs available in this version of the API, see  Product and SKU IDs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"skuName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Read-only external display name for a product's SKU assigned to a customer in the subscription. SKU names are subject to change at Google's discretion. For products and SKUs available in this version of the API, see  Product and SKU IDs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is an optional property.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"subscriptionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The subscriptionId is the subscription identifier and is unique for each customer. This is a required property. Since a subscriptionId changes when a subscription is updated, we recommend not using this ID as a key for persistent data. Use the subscriptionId as described in retrieve all reseller subscriptions.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"suspensionReasons":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Read-only field containing an enumerable of all the current suspension reasons for a subscription. It is possible for a subscription to have many concurrent, overlapping suspension reasons. A subscription's STATUS is SUSPENDED until all pending suspensions are removed.\n\nPossible options include:  \n- PENDING_TOS_ACCEPTANCE - The customer has not logged in and accepted the G Suite Resold Terms of Services.  \n- RENEWAL_WITH_TYPE_CANCEL - The customer's commitment ended and their service was cancelled at the end of their term.  \n- RESELLER_INITIATED - A manual suspension invoked by a Reseller.  \n- TRIAL_ENDED - The customer's trial expired without a plan selected.  \n- OTHER - The customer is suspended for an internal Google reason (e.g. abuse or otherwise).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"transferInfo":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Read-only transfer related information for the subscription. For more information, see retrieve transferable subscriptions for a customer.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"minimumTransferableSeats":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When inserting a subscription, this is the minimum number of seats listed in the transfer order for this product. For example, if the customer has 20 users, the reseller cannot place a transfer order of 15 seats. The minimum is 20 seats.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"transferabilityExpirationTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time when transfer token or intent to transfer will expire. The time is in milliseconds using UNIX Epoch format.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"trialSettings":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The G Suite annual commitment and flexible payment plans can be in a 30-day free trial. For more information, see the API concepts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"isInTrial":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Determines if a subscription's plan is in a 30-day free trial or not:\n- true — The plan is in trial.\n- false — The plan is not in trial.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"trialEndTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Date when the trial ends. The value is in milliseconds using the UNIX Epoch format. See an example Epoch converter.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Subscriptions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSON template for a subscription list.","enum":null,"enumDescriptions":null,"format":null,"id":"Subscriptions","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"reseller#subscriptions","description":"Identifies the resource as a collection of subscriptions. Value: reseller#subscriptions","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"subscriptions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The subscriptions in this page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Subscription","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"apps/reseller/v1/","title":"Enterprise Apps Reseller API","version":"v1","version_module":null}