{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"},"https://www.googleapis.com/auth/cloud-platform.read-only":{"description":"View your data across Google Cloud Platform services"},"https://www.googleapis.com/auth/compute":{"description":"View and manage your Google Compute Engine resources"},"https://www.googleapis.com/auth/compute.readonly":{"description":"View your Google Compute Engine resources"},"https://www.googleapis.com/auth/ndev.cloudman":{"description":"View and manage your Google Cloud Platform management resources and deployment status information"},"https://www.googleapis.com/auth/ndev.cloudman.readonly":{"description":"View your Google Cloud Platform management resources and deployment status information"}}}},"basePath":"/resourceviews/v1beta1/projects/","baseUrl":"https://www.googleapis.com/resourceviews/v1beta1/projects/","batchPath":"batch/resourceviews/v1beta1","canonicalName":null,"description":"The Resource View API allows users to create and manage logical sets of Google Compute Engine instances.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/compute/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/HxZRDFK7f86Z7kwjlvcp4S6C4Oc\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png","x32":"https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"},"id":"resourceviews:v1beta1","kind":"discovery#restDescription","labels":["limited_availability"],"methods":null,"name":"resourceviews","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"regionViews":{"methods":{"addresources":{"description":"Add resources to the view.","etagRequired":null,"httpMethod":"POST","id":"resourceviews.regionViews.addresources","mediaUpload":null,"parameterOrder":["projectName","region","resourceViewName"],"parameters":{"projectName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"region":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The region name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"resourceViewName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectName}/regions/{region}/resourceViews/{resourceViewName}/addResources","request":{"$ref":"RegionViewsAddResourcesRequest","parameterName":null},"response":null,"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/ndev.cloudman"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Delete a resource view.","etagRequired":null,"httpMethod":"DELETE","id":"resourceviews.regionViews.delete","mediaUpload":null,"parameterOrder":["projectName","region","resourceViewName"],"parameters":{"projectName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"region":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The region name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"resourceViewName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectName}/regions/{region}/resourceViews/{resourceViewName}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/ndev.cloudman"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Get the information of a resource view.","etagRequired":null,"httpMethod":"GET","id":"resourceviews.regionViews.get","mediaUpload":null,"parameterOrder":["projectName","region","resourceViewName"],"parameters":{"projectName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"region":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The region name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"resourceViewName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectName}/regions/{region}/resourceViews/{resourceViewName}","request":null,"response":{"$ref":"ResourceView"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/ndev.cloudman","https://www.googleapis.com/auth/ndev.cloudman.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Create a resource view.","etagRequired":null,"httpMethod":"POST","id":"resourceviews.regionViews.insert","mediaUpload":null,"parameterOrder":["projectName","region"],"parameters":{"projectName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"region":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The region name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectName}/regions/{region}/resourceViews","request":{"$ref":"ResourceView","parameterName":null},"response":{"$ref":"RegionViewsInsertResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/ndev.cloudman"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List resource views.","etagRequired":null,"httpMethod":"GET","id":"resourceviews.regionViews.list","mediaUpload":null,"parameterOrder":["projectName","region"],"parameters":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"5000","description":"Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"5000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"region":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The region name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectName}/regions/{region}/resourceViews","request":null,"response":{"$ref":"RegionViewsListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/ndev.cloudman","https://www.googleapis.com/auth/ndev.cloudman.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"listresources":{"description":"List the resources in the view.","etagRequired":null,"httpMethod":"POST","id":"resourceviews.regionViews.listresources","mediaUpload":null,"parameterOrder":["projectName","region","resourceViewName"],"parameters":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"5000","description":"Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"5000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"region":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The region name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"resourceViewName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectName}/regions/{region}/resourceViews/{resourceViewName}/resources","request":null,"response":{"$ref":"RegionViewsListResourcesResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/ndev.cloudman","https://www.googleapis.com/auth/ndev.cloudman.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"removeresources":{"description":"Remove resources from the view.","etagRequired":null,"httpMethod":"POST","id":"resourceviews.regionViews.removeresources","mediaUpload":null,"parameterOrder":["projectName","region","resourceViewName"],"parameters":{"projectName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"region":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The region name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"resourceViewName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectName}/regions/{region}/resourceViews/{resourceViewName}/removeResources","request":{"$ref":"RegionViewsRemoveResourcesRequest","parameterName":null},"response":null,"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/ndev.cloudman"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"zoneViews":{"methods":{"addresources":{"description":"Add resources to the view.","etagRequired":null,"httpMethod":"POST","id":"resourceviews.zoneViews.addresources","mediaUpload":null,"parameterOrder":["projectName","zone","resourceViewName"],"parameters":{"projectName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"resourceViewName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The zone name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectName}/zones/{zone}/resourceViews/{resourceViewName}/addResources","request":{"$ref":"ZoneViewsAddResourcesRequest","parameterName":null},"response":null,"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/ndev.cloudman"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Delete a resource view.","etagRequired":null,"httpMethod":"DELETE","id":"resourceviews.zoneViews.delete","mediaUpload":null,"parameterOrder":["projectName","zone","resourceViewName"],"parameters":{"projectName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"resourceViewName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The zone name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectName}/zones/{zone}/resourceViews/{resourceViewName}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/ndev.cloudman"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Get the information of a zonal resource view.","etagRequired":null,"httpMethod":"GET","id":"resourceviews.zoneViews.get","mediaUpload":null,"parameterOrder":["projectName","zone","resourceViewName"],"parameters":{"projectName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"resourceViewName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The zone name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectName}/zones/{zone}/resourceViews/{resourceViewName}","request":null,"response":{"$ref":"ResourceView"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/ndev.cloudman","https://www.googleapis.com/auth/ndev.cloudman.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Create a resource view.","etagRequired":null,"httpMethod":"POST","id":"resourceviews.zoneViews.insert","mediaUpload":null,"parameterOrder":["projectName","zone"],"parameters":{"projectName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The zone name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectName}/zones/{zone}/resourceViews","request":{"$ref":"ResourceView","parameterName":null},"response":{"$ref":"ZoneViewsInsertResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/ndev.cloudman"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List resource views.","etagRequired":null,"httpMethod":"GET","id":"resourceviews.zoneViews.list","mediaUpload":null,"parameterOrder":["projectName","zone"],"parameters":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"5000","description":"Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"5000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The zone name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectName}/zones/{zone}/resourceViews","request":null,"response":{"$ref":"ZoneViewsListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/ndev.cloudman","https://www.googleapis.com/auth/ndev.cloudman.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"listresources":{"description":"List the resources of the resource view.","etagRequired":null,"httpMethod":"POST","id":"resourceviews.zoneViews.listresources","mediaUpload":null,"parameterOrder":["projectName","zone","resourceViewName"],"parameters":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"5000","description":"Maximum count of results to be returned. Acceptable values are 0 to 5000, inclusive. (Default: 5000)","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":"5000","minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies a nextPageToken returned by a previous list request. This token can be used to request the next page of results from a previous list request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"resourceViewName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The zone name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectName}/zones/{zone}/resourceViews/{resourceViewName}/resources","request":null,"response":{"$ref":"ZoneViewsListResourcesResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/compute.readonly","https://www.googleapis.com/auth/ndev.cloudman","https://www.googleapis.com/auth/ndev.cloudman.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"removeresources":{"description":"Remove resources from the view.","etagRequired":null,"httpMethod":"POST","id":"resourceviews.zoneViews.removeresources","mediaUpload":null,"parameterOrder":["projectName","zone","resourceViewName"],"parameters":{"projectName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"resourceViewName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"zone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The zone name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectName}/zones/{zone}/resourceViews/{resourceViewName}/removeResources","request":{"$ref":"ZoneViewsRemoveResourcesRequest","parameterName":null},"response":null,"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/compute","https://www.googleapis.com/auth/ndev.cloudman"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20160512","rootUrl":"https://www.googleapis.com/","schemas":{"Label":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Label to be applied to the resource views.","enum":null,"enumDescriptions":null,"format":null,"id":"Label","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Key of the label.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Value of the label.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"RegionViewsAddResourcesRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The request to add resources to the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":"RegionViewsAddResourcesRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"resources":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of resources to be added.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"RegionViewsInsertResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response to a resource view insert request.","enum":null,"enumDescriptions":null,"format":null,"id":"RegionViewsInsertResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"resource":{"$ref":"ResourceView","additionalProperties":null,"annotations":null,"default":null,"description":"The resource view object inserted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"RegionViewsListResourcesResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response to the list resource request.","enum":null,"enumDescriptions":null,"format":null,"id":"RegionViewsListResourcesResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"members":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The resources in the view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token used for pagination.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"RegionViewsListResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response to the list resource view request.","enum":null,"enumDescriptions":null,"format":null,"id":"RegionViewsListResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token used for pagination.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"resourceViews":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of resource views that meet the criteria.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ResourceView","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"RegionViewsRemoveResourcesRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The request to remove resources from the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":"RegionViewsRemoveResourcesRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"resources":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of resources to be removed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ResourceView":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The resource view object.","enum":null,"enumDescriptions":null,"format":null,"id":"ResourceView","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"creationTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The creation time of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The detailed description of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] The ID of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"resourceviews#resourceView","description":"Type of the resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"labels":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The labels for events.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Label","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"lastModified":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last modified time of the view. Not supported yet.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"members":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of all resources in the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"numMembers":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The total number of resources in the resource view.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"selfLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"[Output Only] A self-link to the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ZoneViewsAddResourcesRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The request to add resources to the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":"ZoneViewsAddResourcesRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"resources":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of resources to be added.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ZoneViewsInsertResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response to an insert request.","enum":null,"enumDescriptions":null,"format":null,"id":"ZoneViewsInsertResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"resource":{"$ref":"ResourceView","additionalProperties":null,"annotations":null,"default":null,"description":"The resource view object that has been inserted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ZoneViewsListResourcesResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response to a list resource request.","enum":null,"enumDescriptions":null,"format":null,"id":"ZoneViewsListResourcesResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"members":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The full URL of resources in the view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token used for pagination.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ZoneViewsListResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response to a list request.","enum":null,"enumDescriptions":null,"format":null,"id":"ZoneViewsListResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token used for pagination.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"resourceViews":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The result that contains all resource views that meet the criteria.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ResourceView","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ZoneViewsRemoveResourcesRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The request to remove resources from the resource view.","enum":null,"enumDescriptions":null,"format":null,"id":"ZoneViewsRemoveResourcesRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"resources":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of resources to be removed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"resourceviews/v1beta1/projects/","title":"Resource Views API","version":"v1beta1","version_module":null}