{"auth":null,"basePath":"","baseUrl":"https://searchconsole.googleapis.com/","batchPath":"batch","canonicalName":"Search Console","description":"Provides tools for running validation tests against single URLs","discoveryVersion":"v1","documentationLink":"https://developers.google.com/webmaster-tools/search-console-api/","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"searchconsole:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"searchconsole","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"urlTestingTools":{"methods":null,"resources":{"mobileFriendlyTest":{"methods":{"run":{"description":"Runs Mobile-Friendly Test for a given URL.","etagRequired":null,"httpMethod":"POST","id":"searchconsole.urlTestingTools.mobileFriendlyTest.run","mediaUpload":null,"parameterOrder":[],"parameters":{},"path":"v1/urlTestingTools/mobileFriendlyTest:run","request":{"$ref":"RunMobileFriendlyTestRequest","parameterName":null},"response":{"$ref":"RunMobileFriendlyTestResponse"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"revision":"20170927","rootUrl":"https://searchconsole.googleapis.com/","schemas":{"RunMobileFriendlyTestRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Mobile-friendly test request.","enum":null,"enumDescriptions":null,"format":null,"id":"RunMobileFriendlyTestRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"URL for inspection.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"requestScreenshot":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether or not screenshot is requested. Default is false.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Image":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Describe image data.","enum":null,"enumDescriptions":null,"format":null,"id":"Image","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"mimeType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The mime-type of the image data.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"data":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Image data in format determined by the mime type. Currently, the format\nwill always be \"image/png\", but this might change in the future.","enum":null,"enumDescriptions":null,"format":"byte","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"MobileFriendlyIssue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Mobile-friendly issue.","enum":null,"enumDescriptions":null,"format":null,"id":"MobileFriendlyIssue","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"rule":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Rule violated.","enum":["MOBILE_FRIENDLY_RULE_UNSPECIFIED","USES_INCOMPATIBLE_PLUGINS","CONFIGURE_VIEWPORT","FIXED_WIDTH_VIEWPORT","SIZE_CONTENT_TO_VIEWPORT","USE_LEGIBLE_FONT_SIZES","TAP_TARGETS_TOO_CLOSE"],"enumDescriptions":["Unknown rule. Sorry, we don't have any description for the rule that was\nbroken.","Plugins incompatible with mobile devices are being used. [Learn more]\n(https://support.google.com/webmasters/answer/6352293#flash_usage).","Viewsport is not specified using the meta viewport tag. [Learn more]\n(https://support.google.com/webmasters/answer/6352293#viewport_not_configured).","Viewport defined to a fixed width. [Learn more]\n(https://support.google.com/webmasters/answer/6352293#fixed-width_viewport).","Content not sized to viewport. [Learn more]\n(https://support.google.com/webmasters/answer/6352293#content_not_sized_to_viewport).","Font size is too small for easy reading on a small screen. [Learn More]\n(https://support.google.com/webmasters/answer/6352293#small_font_size).","Touch elements are too close to each other. [Learn more]\n(https://support.google.com/webmasters/answer/6352293#touch_elements_too_close)."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"RunMobileFriendlyTestResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Mobile-friendly test response, including mobile-friendly issues and resource\nissues.","enum":null,"enumDescriptions":null,"format":null,"id":"RunMobileFriendlyTestResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"testStatus":{"$ref":"TestStatus","additionalProperties":null,"annotations":null,"default":null,"description":"Final state of the test, can be either complete or an error.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"resourceIssues":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Information about embedded resources issues.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ResourceIssue","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"mobileFriendliness":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Test verdict, whether the page is mobile friendly or not.","enum":["MOBILE_FRIENDLY_TEST_RESULT_UNSPECIFIED","MOBILE_FRIENDLY","NOT_MOBILE_FRIENDLY"],"enumDescriptions":["Internal error when running this test. Please try running the test again.","The page is mobile friendly.","The page is not mobile friendly."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"mobileFriendlyIssues":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of mobile-usability issues.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"MobileFriendlyIssue","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"screenshot":{"$ref":"Image","additionalProperties":null,"annotations":null,"default":null,"description":"Screenshot of the requested URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ResourceIssue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Information about a resource with issue.","enum":null,"enumDescriptions":null,"format":null,"id":"ResourceIssue","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"blockedResource":{"$ref":"BlockedResource","additionalProperties":null,"annotations":null,"default":null,"description":"Describes a blocked resource issue.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BlockedResource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Blocked resource.","enum":null,"enumDescriptions":null,"format":null,"id":"BlockedResource","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"URL of the blocked resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TestStatus":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Final state of the test, including error details if necessary.","enum":null,"enumDescriptions":null,"format":null,"id":"TestStatus","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Status of the test.","enum":["TEST_STATUS_UNSPECIFIED","COMPLETE","INTERNAL_ERROR","PAGE_UNREACHABLE"],"enumDescriptions":["Internal error when running this test. Please try running the test again.","Inspection has completed without errors.","Inspection terminated in an error state. This indicates a problem in\nGoogle's infrastructure, not a user error. Please try again later.","Google can not access the URL because of a user error such as a robots.txt\nblockage, a 403 or 500 code etc. Please make sure that the URL provided is\naccessible by Googlebot and is not password protected."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"details":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Error details if applicable.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"","title":"Google Search Console URL Testing Tools API","version":"v1","version_module":true}