{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/service.management.readonly":{"description":"View your Google API service configuration"},"https://www.googleapis.com/auth/cloud-platform.read-only":{"description":"View your data across Google Cloud Platform services"},"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"},"https://www.googleapis.com/auth/service.management":{"description":"Manage your Google API service configuration"}}}},"basePath":"","baseUrl":"https://servicemanagement.googleapis.com/","batchPath":"batch","canonicalName":"Service Management","description":"Google Service Management allows service producers to publish their services on Google Cloud Platform so that they can be discovered and used by service consumers.","discoveryVersion":"v1","documentationLink":"https://cloud.google.com/service-management/","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"servicemanagement:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"servicemanagement","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"services":{"methods":{"list":{"description":"Lists managed services.\n\nReturns all public services. For authenticated users, also returns all\nservices the calling user has \"servicemanagement.services.get\" permission\nfor.\n\n**BETA:** If the caller specifies the `consumer_id`, it returns only the\nservices enabled on the consumer. The `consumer_id` must have the format\nof \"project:{PROJECT-ID}\".","etagRequired":null,"httpMethod":"GET","id":"servicemanagement.services.list","mediaUpload":null,"parameterOrder":[],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token identifying which result to start with; returned by a previous list\ncall.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested size of the next page of data.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"producerProjectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Include services produced by the specified project.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"consumerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Include services consumed by the specified consumer.\n\nThe Google Service Management implementation accepts the following\nforms:\n- project:<project_id>","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/services","request":null,"response":{"$ref":"ListServicesResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/service.management","https://www.googleapis.com/auth/service.management.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates a new managed service.\nPlease note one producer project can own no more than 20 services.\n\nOperation<response: ManagedService>","etagRequired":null,"httpMethod":"POST","id":"servicemanagement.services.create","mediaUpload":null,"parameterOrder":[],"parameters":{},"path":"v1/services","request":{"$ref":"ManagedService","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/service.management"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"generateConfigReport":{"description":"Generates and returns a report (errors, warnings and changes from\nexisting configurations) associated with\nGenerateConfigReportRequest.new_value\n\nIf GenerateConfigReportRequest.old_value is specified,\nGenerateConfigReportRequest will contain a single ChangeReport based on the\ncomparison between GenerateConfigReportRequest.new_value and\nGenerateConfigReportRequest.old_value.\nIf GenerateConfigReportRequest.old_value is not specified, this method\nwill compare GenerateConfigReportRequest.new_value with the last pushed\nservice configuration.","etagRequired":null,"httpMethod":"POST","id":"servicemanagement.services.generateConfigReport","mediaUpload":null,"parameterOrder":[],"parameters":{},"path":"v1/services:generateConfigReport","request":{"$ref":"GenerateConfigReportRequest","parameterName":null},"response":{"$ref":"GenerateConfigReportResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/service.management"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a managed service. Authentication is required unless the service is\npublic.","etagRequired":null,"httpMethod":"GET","id":"servicemanagement.services.get","mediaUpload":null,"parameterOrder":["serviceName"],"parameters":{"serviceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the service.  See the `ServiceManager` overview for naming\nrequirements.  For example: `example.googleapis.com`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/services/{serviceName}","request":null,"response":{"$ref":"ManagedService"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/service.management","https://www.googleapis.com/auth/service.management.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"testIamPermissions":{"description":"Returns permissions that a caller has on the specified resource.\nIf the resource does not exist, this will return an empty set of\npermissions, not a NOT_FOUND error.\n\nNote: This operation is designed to be used for building permission-aware\nUIs and command-line tools, not for authorization checking. This operation\nmay \"fail open\" without warning.","etagRequired":null,"httpMethod":"POST","id":"servicemanagement.services.testIamPermissions","mediaUpload":null,"parameterOrder":["resource"],"parameters":{"resource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"REQUIRED: The resource for which the policy detail is being requested.\nSee the operation documentation for the appropriate value for this field.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^services/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+resource}:testIamPermissions","request":{"$ref":"TestIamPermissionsRequest","parameterName":null},"response":{"$ref":"TestIamPermissionsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/service.management","https://www.googleapis.com/auth/service.management.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getConfig":{"description":"Gets a service configuration (version) for a managed service.","etagRequired":null,"httpMethod":"GET","id":"servicemanagement.services.getConfig","mediaUpload":null,"parameterOrder":["serviceName"],"parameters":{"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies which parts of the Service Config should be returned in the\nresponse.","enum":["BASIC","FULL"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"serviceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the service.  See the [overview](/service-management/overview)\nfor naming requirements.  For example: `example.googleapis.com`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"configId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of the service configuration resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/services/{serviceName}/config","request":null,"response":{"$ref":"Service"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/service.management","https://www.googleapis.com/auth/service.management.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a managed service. This method will change the service to the\n`Soft-Delete` state for 30 days. Within this period, service producers may\ncall UndeleteService to restore the service.\nAfter 30 days, the service will be permanently deleted.\n\nOperation<response: google.protobuf.Empty>","etagRequired":null,"httpMethod":"DELETE","id":"servicemanagement.services.delete","mediaUpload":null,"parameterOrder":["serviceName"],"parameters":{"serviceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the service.  See the [overview](/service-management/overview)\nfor naming requirements.  For example: `example.googleapis.com`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/services/{serviceName}","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/service.management"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"enable":{"description":"Enables a service for a project, so it can be used\nfor the project. See\n[Cloud Auth Guide](https://cloud.google.com/docs/authentication) for\nmore information.\n\nOperation<response: EnableServiceResponse>","etagRequired":null,"httpMethod":"POST","id":"servicemanagement.services.enable","mediaUpload":null,"parameterOrder":["serviceName"],"parameters":{"serviceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the service to enable. Specifying an unknown service name will\ncause the request to fail.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/services/{serviceName}:enable","request":{"$ref":"EnableServiceRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/service.management"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"setIamPolicy":{"description":"Sets the access control policy on the specified resource. Replaces any\nexisting policy.","etagRequired":null,"httpMethod":"POST","id":"servicemanagement.services.setIamPolicy","mediaUpload":null,"parameterOrder":["resource"],"parameters":{"resource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"REQUIRED: The resource for which the policy is being specified.\nSee the operation documentation for the appropriate value for this field.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^services/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+resource}:setIamPolicy","request":{"$ref":"SetIamPolicyRequest","parameterName":null},"response":{"$ref":"Policy"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/service.management"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"disable":{"description":"Disables a service for a project, so it can no longer be\nbe used for the project. It prevents accidental usage that may cause\nunexpected billing charges or security leaks.\n\nOperation<response: DisableServiceResponse>","etagRequired":null,"httpMethod":"POST","id":"servicemanagement.services.disable","mediaUpload":null,"parameterOrder":["serviceName"],"parameters":{"serviceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the service to disable. Specifying an unknown service name\nwill cause the request to fail.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/services/{serviceName}:disable","request":{"$ref":"DisableServiceRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/service.management"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getIamPolicy":{"description":"Gets the access control policy for a resource.\nReturns an empty policy if the resource exists and does not have a policy\nset.","etagRequired":null,"httpMethod":"POST","id":"servicemanagement.services.getIamPolicy","mediaUpload":null,"parameterOrder":["resource"],"parameters":{"resource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"REQUIRED: The resource for which the policy is being requested.\nSee the operation documentation for the appropriate value for this field.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^services/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+resource}:getIamPolicy","request":{"$ref":"GetIamPolicyRequest","parameterName":null},"response":{"$ref":"Policy"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/service.management","https://www.googleapis.com/auth/service.management.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"undelete":{"description":"Revives a previously deleted managed service. The method restores the\nservice using the configuration at the time the service was deleted.\nThe target service must exist and must have been deleted within the\nlast 30 days.\n\nOperation<response: UndeleteServiceResponse>","etagRequired":null,"httpMethod":"POST","id":"servicemanagement.services.undelete","mediaUpload":null,"parameterOrder":["serviceName"],"parameters":{"serviceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the service. See the [overview](/service-management/overview)\nfor naming requirements. For example: `example.googleapis.com`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/services/{serviceName}:undelete","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/service.management"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"configs":{"methods":{"submit":{"description":"Creates a new service configuration (version) for a managed service based\non\nuser-supplied configuration source files (for example: OpenAPI\nSpecification). This method stores the source configurations as well as the\ngenerated service configuration. To rollout the service configuration to\nother services,\nplease call CreateServiceRollout.\n\nOperation<response: SubmitConfigSourceResponse>","etagRequired":null,"httpMethod":"POST","id":"servicemanagement.services.configs.submit","mediaUpload":null,"parameterOrder":["serviceName"],"parameters":{"serviceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the service.  See the [overview](/service-management/overview)\nfor naming requirements.  For example: `example.googleapis.com`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/services/{serviceName}/configs:submit","request":{"$ref":"SubmitConfigSourceRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/service.management"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a service configuration (version) for a managed service.","etagRequired":null,"httpMethod":"GET","id":"servicemanagement.services.configs.get","mediaUpload":null,"parameterOrder":["serviceName","configId"],"parameters":{"serviceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the service.  See the [overview](/service-management/overview)\nfor naming requirements.  For example: `example.googleapis.com`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"configId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of the service configuration resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies which parts of the Service Config should be returned in the\nresponse.","enum":["BASIC","FULL"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/services/{serviceName}/configs/{configId}","request":null,"response":{"$ref":"Service"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/service.management","https://www.googleapis.com/auth/service.management.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists the history of the service configuration for a managed service,\nfrom the newest to the oldest.","etagRequired":null,"httpMethod":"GET","id":"servicemanagement.services.configs.list","mediaUpload":null,"parameterOrder":["serviceName"],"parameters":{"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The max number of items to include in the response list.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"serviceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the service.  See the [overview](/service-management/overview)\nfor naming requirements.  For example: `example.googleapis.com`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token of the page to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/services/{serviceName}/configs","request":null,"response":{"$ref":"ListServiceConfigsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/service.management","https://www.googleapis.com/auth/service.management.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates a new service configuration (version) for a managed service.\nThis method only stores the service configuration. To roll out the service\nconfiguration to backend systems please call\nCreateServiceRollout.","etagRequired":null,"httpMethod":"POST","id":"servicemanagement.services.configs.create","mediaUpload":null,"parameterOrder":["serviceName"],"parameters":{"serviceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the service.  See the [overview](/service-management/overview)\nfor naming requirements.  For example: `example.googleapis.com`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/services/{serviceName}/configs","request":{"$ref":"Service","parameterName":null},"response":{"$ref":"Service"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/service.management"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"consumers":{"methods":{"setIamPolicy":{"description":"Sets the access control policy on the specified resource. Replaces any\nexisting policy.","etagRequired":null,"httpMethod":"POST","id":"servicemanagement.services.consumers.setIamPolicy","mediaUpload":null,"parameterOrder":["resource"],"parameters":{"resource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"REQUIRED: The resource for which the policy is being specified.\nSee the operation documentation for the appropriate value for this field.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^services/[^/]+/consumers/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+resource}:setIamPolicy","request":{"$ref":"SetIamPolicyRequest","parameterName":null},"response":{"$ref":"Policy"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/service.management"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"testIamPermissions":{"description":"Returns permissions that a caller has on the specified resource.\nIf the resource does not exist, this will return an empty set of\npermissions, not a NOT_FOUND error.\n\nNote: This operation is designed to be used for building permission-aware\nUIs and command-line tools, not for authorization checking. This operation\nmay \"fail open\" without warning.","etagRequired":null,"httpMethod":"POST","id":"servicemanagement.services.consumers.testIamPermissions","mediaUpload":null,"parameterOrder":["resource"],"parameters":{"resource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"REQUIRED: The resource for which the policy detail is being requested.\nSee the operation documentation for the appropriate value for this field.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^services/[^/]+/consumers/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+resource}:testIamPermissions","request":{"$ref":"TestIamPermissionsRequest","parameterName":null},"response":{"$ref":"TestIamPermissionsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/service.management","https://www.googleapis.com/auth/service.management.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getIamPolicy":{"description":"Gets the access control policy for a resource.\nReturns an empty policy if the resource exists and does not have a policy\nset.","etagRequired":null,"httpMethod":"POST","id":"servicemanagement.services.consumers.getIamPolicy","mediaUpload":null,"parameterOrder":["resource"],"parameters":{"resource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"REQUIRED: The resource for which the policy is being requested.\nSee the operation documentation for the appropriate value for this field.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^services/[^/]+/consumers/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+resource}:getIamPolicy","request":{"$ref":"GetIamPolicyRequest","parameterName":null},"response":{"$ref":"Policy"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/service.management","https://www.googleapis.com/auth/service.management.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"rollouts":{"methods":{"get":{"description":"Gets a service configuration rollout.","etagRequired":null,"httpMethod":"GET","id":"servicemanagement.services.rollouts.get","mediaUpload":null,"parameterOrder":["serviceName","rolloutId"],"parameters":{"rolloutId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of the rollout resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"serviceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the service.  See the [overview](/service-management/overview)\nfor naming requirements.  For example: `example.googleapis.com`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/services/{serviceName}/rollouts/{rolloutId}","request":null,"response":{"$ref":"Rollout"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/service.management","https://www.googleapis.com/auth/service.management.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists the history of the service configuration rollouts for a managed\nservice, from the newest to the oldest.","etagRequired":null,"httpMethod":"GET","id":"servicemanagement.services.rollouts.list","mediaUpload":null,"parameterOrder":["serviceName"],"parameters":{"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The max number of items to include in the response list.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Use `filter` to return subset of rollouts.\nThe following filters are supported:\n  -- To limit the results to only those in\n     [status](google.api.servicemanagement.v1.RolloutStatus) 'SUCCESS',\n     use filter='status=SUCCESS'\n  -- To limit the results to those in\n     [status](google.api.servicemanagement.v1.RolloutStatus) 'CANCELLED'\n     or 'FAILED', use filter='status=CANCELLED OR status=FAILED'","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"serviceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the service.  See the [overview](/service-management/overview)\nfor naming requirements.  For example: `example.googleapis.com`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The token of the page to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/services/{serviceName}/rollouts","request":null,"response":{"$ref":"ListServiceRolloutsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/service.management","https://www.googleapis.com/auth/service.management.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates a new service configuration rollout. Based on rollout, the\nGoogle Service Management will roll out the service configurations to\ndifferent backend services. For example, the logging configuration will be\npushed to Google Cloud Logging.\n\nPlease note that any previous pending and running Rollouts and associated\nOperations will be automatically cancelled so that the latest Rollout will\nnot be blocked by previous Rollouts.\n\nOperation<response: Rollout>","etagRequired":null,"httpMethod":"POST","id":"servicemanagement.services.rollouts.create","mediaUpload":null,"parameterOrder":["serviceName"],"parameters":{"serviceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the service.  See the [overview](/service-management/overview)\nfor naming requirements.  For example: `example.googleapis.com`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/services/{serviceName}/rollouts","request":{"$ref":"Rollout","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/service.management"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"operations":{"methods":{"get":{"description":"Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.","etagRequired":null,"httpMethod":"GET","id":"servicemanagement.operations.get","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^operations/.+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/service.management"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists service operations that match the specified filter in the request.","etagRequired":null,"httpMethod":"GET","id":"servicemanagement.operations.list","mediaUpload":null,"parameterOrder":[],"parameters":{"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A string for filtering Operations.\n  The following filter fields are supported&#58;\n\n  * serviceName&#58; Required. Only `=` operator is allowed.\n  * startTime&#58; The time this job was started, in ISO 8601 format.\n    Allowed operators are `>=`,  `>`, `<=`, and `<`.\n  * status&#58; Can be `done`, `in_progress`, or `failed`. Allowed\n    operators are `=`, and `!=`.\n\n  Filter expression supports conjunction (AND) and disjunction (OR)\n  logical operators. However, the serviceName restriction must be at the\n  top-level and can only be combined with other restrictions via the AND\n  logical operator.\n\n  Examples&#58;\n\n  * `serviceName={some-service}.googleapis.com`\n  * `serviceName={some-service}.googleapis.com AND startTime>=\"2017-02-01\"`\n  * `serviceName={some-service}.googleapis.com AND status=done`\n  * `serviceName={some-service}.googleapis.com AND (status=done OR startTime>=\"2017-02-01\")`","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The standard list page token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Not used.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of operations to return. If unspecified, defaults to\n50. The maximum value is 100.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"v1/operations","request":null,"response":{"$ref":"ListOperationsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/service.management"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20170926","rootUrl":"https://servicemanagement.googleapis.com/","schemas":{"MonitoredResourceDescriptor":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An object that describes the schema of a MonitoredResource object using a\ntype name and a set of labels.  For example, the monitored resource\ndescriptor for Google Compute Engine VM instances has a type of\n`\"gce_instance\"` and specifies the use of the labels `\"instance_id\"` and\n`\"zone\"` to identify particular VM instances.\n\nDifferent APIs can support different monitored resource types. APIs generally\nprovide a `list` method that returns the monitored resource descriptors used\nby the API.","enum":null,"enumDescriptions":null,"format":null,"id":"MonitoredResourceDescriptor","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"labels":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. A set of labels used to describe instances of this monitored\nresource type. For example, an individual Google Cloud SQL database is\nidentified by values for the labels `\"database_id\"` and `\"zone\"`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"LabelDescriptor","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional. The resource name of the monitored resource descriptor:\n`\"projects/{project_id}/monitoredResourceDescriptors/{type}\"` where\n{type} is the value of the `type` field in this object and\n{project_id} is a project ID that provides API-specific context for\naccessing the type.  APIs that do not use project information can use the\nresource name format `\"monitoredResourceDescriptors/{type}\"`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional. A detailed description of the monitored resource type that might\nbe used in documentation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"displayName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional. A concise name for the monitored resource type that might be\ndisplayed in user interfaces. It should be a Title Cased Noun Phrase,\nwithout any article or other determiners. For example,\n`\"Google Cloud SQL Database\"`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The monitored resource type. For example, the type\n`\"cloudsql_database\"` represents databases in Google Cloud SQL.\nThe maximum length of this value is 256 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CustomErrorRule":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A custom error rule.","enum":null,"enumDescriptions":null,"format":null,"id":"CustomErrorRule","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"selector":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selects messages to which this rule applies.\n\nRefer to selector for syntax details.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"isErrorType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Mark this message as possible payload in error response.  Otherwise,\nobjects of this type will be filtered when they appear in error payload.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CustomAuthRequirements":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Configuration for a custom authentication provider.","enum":null,"enumDescriptions":null,"format":null,"id":"CustomAuthRequirements","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"provider":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A configuration string containing connection information for the\nauthentication provider, typically formatted as a SmartService string\n(go/smartservice).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"MediaDownload":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Defines the Media configuration for a service in case of a download.\nUse this only for Scotty Requests. Do not use this for media support using\nBytestream, add instead [][google.bytestream.RestByteStream] as an API to\nyour configuration for Bytestream methods.","enum":null,"enumDescriptions":null,"format":null,"id":"MediaDownload","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"useDirectDownload":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A boolean that determines if direct download from ESF should be used for\ndownload of this media.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"enabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether download is enabled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"downloadService":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"DO NOT USE FIELDS BELOW THIS LINE UNTIL THIS WARNING IS REMOVED.\n\nSpecify name of the download service if one is used for download.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"completeNotification":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A boolean that determines whether a notification for the completion of a\ndownload should be sent to the backend.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"dropzone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the Scotty dropzone to use for the current API.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxDirectDownloadSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional maximum acceptable size for direct download.\nThe size is specified in bytes.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ChangeReport":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Change report associated with a particular service configuration.\n\nIt contains a list of ConfigChanges based on the comparison between\ntwo service configurations.","enum":null,"enumDescriptions":null,"format":null,"id":"ChangeReport","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"configChanges":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of changes between two service configurations.\nThe changes will be alphabetically sorted based on the identifier\nof each change.\nA ConfigChange identifier is a dot separated path to the configuration.\nExample: visibility.rules[selector='LibraryService.CreateBook'].restriction","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ConfigChange","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DisableServiceRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request message for DisableService method.","enum":null,"enumDescriptions":null,"format":null,"id":"DisableServiceRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"consumerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The identity of consumer resource which service disablement will be\napplied to.\n\nThe Google Service Management implementation accepts the following\nforms:\n- \"project:<project_id>\"\n\nNote: this is made compatible with\ngoogle.api.servicecontrol.v1.Operation.consumer_id.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SubmitConfigSourceResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response message for SubmitConfigSource method.","enum":null,"enumDescriptions":null,"format":null,"id":"SubmitConfigSourceResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"serviceConfig":{"$ref":"Service","additionalProperties":null,"annotations":null,"default":null,"description":"The generated service configuration.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"MediaUpload":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Defines the Media configuration for a service in case of an upload.\nUse this only for Scotty Requests. Do not use this for media support using\nBytestream, add instead [][google.bytestream.RestByteStream] as an API to\nyour configuration for Bytestream methods.","enum":null,"enumDescriptions":null,"format":null,"id":"MediaUpload","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"completeNotification":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A boolean that determines whether a notification for the completion of an\nupload should be sent to the backend. These notifications will not be seen\nby the client and will not consume quota.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"progressNotification":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to receive a notification for progress changes of media upload.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"enabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether upload is enabled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"dropzone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the Scotty dropzone to use for the current API.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startNotification":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to receive a notification on the start of media upload.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"uploadService":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"DO NOT USE FIELDS BELOW THIS LINE UNTIL THIS WARNING IS REMOVED.\n\nSpecify name of the upload service if one is used for upload.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional maximum acceptable size for an upload.\nThe size is specified in bytes.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"mimeTypes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An array of mimetype patterns. Esf will only accept uploads that match one\nof the given patterns.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BillingDestination":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Configuration of a specific billing destination (Currently only support\nbill against consumer project).","enum":null,"enumDescriptions":null,"format":null,"id":"BillingDestination","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"monitoredResource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The monitored resource type. The type must be defined in\nService.monitored_resources section.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"metrics":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Names of the metrics to report to this billing destination.\nEach name must be defined in Service.metrics section.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Advice":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Generated advice about this change, used for providing more\ninformation about how a change will affect the existing service.","enum":null,"enumDescriptions":null,"format":null,"id":"Advice","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Useful description for why this advice was applied and what actions should\nbe taken to mitigate any implied risks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ManagedService":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The full representation of a Service that is managed by\nGoogle Service Management.","enum":null,"enumDescriptions":null,"format":null,"id":"ManagedService","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"serviceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the service. See the [overview](/service-management/overview)\nfor naming requirements.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"producerProjectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the project that produces and owns this service.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UsageRule":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Usage configuration rules for the service.\n\nNOTE: Under development.\n\n\nUse this rule to configure unregistered calls for the service. Unregistered\ncalls are calls that do not contain consumer project identity.\n(Example: calls that do not contain an API key).\nBy default, API methods do not allow unregistered calls, and each method call\nmust be identified by a consumer project identity. Use this rule to\nallow/disallow unregistered calls.\n\nExample of an API that wants to allow unregistered calls for entire service.\n\n    usage:\n      rules:\n      - selector: \"*\"\n        allow_unregistered_calls: true\n\nExample of a method that wants to allow unregistered calls.\n\n    usage:\n      rules:\n      - selector: \"google.example.library.v1.LibraryService.CreateBook\"\n        allow_unregistered_calls: true","enum":null,"enumDescriptions":null,"format":null,"id":"UsageRule","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"selector":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selects the methods to which this rule applies. Use '*' to indicate all\nmethods in all APIs.\n\nRefer to selector for syntax details.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"skipServiceControl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True, if the method should skip service control. If so, no control plane\nfeature (like quota and billing) will be enabled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"allowUnregisteredCalls":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True, if the method allows unregistered calls; false otherwise.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TrafficPercentStrategy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Strategy that specifies how clients of Google Service Controller want to\nsend traffic to use different config versions. This is generally\nused by API proxy to split traffic based on your configured precentage for\neach config version.\n\nOne example of how to gradually rollout a new service configuration using\nthis\nstrategy:\nDay 1\n\n    Rollout {\n      id: \"example.googleapis.com/rollout_20160206\"\n      traffic_percent_strategy {\n        percentages: {\n          \"example.googleapis.com/20160201\": 70.00\n          \"example.googleapis.com/20160206\": 30.00\n        }\n      }\n    }\n\nDay 2\n\n    Rollout {\n      id: \"example.googleapis.com/rollout_20160207\"\n      traffic_percent_strategy: {\n        percentages: {\n          \"example.googleapis.com/20160206\": 100.00\n        }\n      }\n    }","enum":null,"enumDescriptions":null,"format":null,"id":"TrafficPercentStrategy","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"percentages":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"annotations":null,"default":null,"description":"Maps service configuration IDs to their corresponding traffic percentage.\nKey is the service configuration ID, Value is the traffic percentage\nwhich must be greater than 0.0 and the sum must equal to 100.0.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AuthRequirement":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"User-defined authentication requirements, including support for\n[JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32).","enum":null,"enumDescriptions":null,"format":null,"id":"AuthRequirement","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"audiences":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"NOTE: This will be deprecated soon, once AuthProvider.audiences is\nimplemented and accepted in all the runtime components.\n\nThe list of JWT\n[audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3).\nthat are allowed to access. A JWT containing any of these audiences will\nbe accepted. When this setting is absent, only JWTs with audience\n\"https://Service_name/API_name\"\nwill be accepted. For example, if no audiences are in the setting,\nLibraryService API will only accept JWTs with the following audience\n\"https://library-example.googleapis.com/google.example.library.v1.LibraryService\".\n\nExample:\n\n    audiences: bookstore_android.apps.googleusercontent.com,\n               bookstore_web.apps.googleusercontent.com","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"providerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"id from authentication provider.\n\nExample:\n\n    provider_id: bookstore_auth","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Documentation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"`Documentation` provides the information for describing a service.\n\nExample:\n<pre><code>documentation:\n  summary: >\n    The Google Calendar API gives access\n    to most calendar features.\n  pages:\n  - name: Overview\n    content: &#40;== include google/foo/overview.md ==&#41;\n  - name: Tutorial\n    content: &#40;== include google/foo/tutorial.md ==&#41;\n    subpages;\n    - name: Java\n      content: &#40;== include google/foo/tutorial_java.md ==&#41;\n  rules:\n  - selector: google.calendar.Calendar.Get\n    description: >\n      ...\n  - selector: google.calendar.Calendar.Put\n    description: >\n      ...\n</code></pre>\nDocumentation is provided in markdown syntax. In addition to\nstandard markdown features, definition lists, tables and fenced\ncode blocks are supported. Section headers can be provided and are\ninterpreted relative to the section nesting of the context where\na documentation fragment is embedded.\n\nDocumentation from the IDL is merged with documentation defined\nvia the config at normalization time, where documentation provided\nby config rules overrides IDL provided.\n\nA number of constructs specific to the API platform are supported\nin documentation text.\n\nIn order to reference a proto element, the following\nnotation can be used:\n<pre><code>&#91;fully.qualified.proto.name]&#91;]</code></pre>\nTo override the display text used for the link, this can be used:\n<pre><code>&#91;display text]&#91;fully.qualified.proto.name]</code></pre>\nText can be excluded from doc using the following notation:\n<pre><code>&#40;-- internal comment --&#41;</code></pre>\nComments can be made conditional using a visibility label. The below\ntext will be only rendered if the `BETA` label is available:\n<pre><code>&#40;--BETA: comment for BETA users --&#41;</code></pre>\nA few directives are available in documentation. Note that\ndirectives must appear on a single line to be properly\nidentified. The `include` directive includes a markdown file from\nan external source:\n<pre><code>&#40;== include path/to/file ==&#41;</code></pre>\nThe `resource_for` directive marks a message to be the resource of\na collection in REST view. If it is not specified, tools attempt\nto infer the resource from the operations in a collection:\n<pre><code>&#40;== resource_for v1.shelves.books ==&#41;</code></pre>\nThe directive `suppress_warning` does not directly affect documentation\nand is documented together with service config validation.","enum":null,"enumDescriptions":null,"format":null,"id":"Documentation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"summary":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A short summary of what the service does. Can only be provided by\nplain text.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"documentationRootUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL to the root of documentation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"overview":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Declares a single overview page. For example:\n<pre><code>documentation:\n  summary: ...\n  overview: &#40;== include overview.md ==&#41;\n</code></pre>\nThis is a shortcut for the following declaration (using pages style):\n<pre><code>documentation:\n  summary: ...\n  pages:\n  - name: Overview\n    content: &#40;== include overview.md ==&#41;\n</code></pre>\nNote: you cannot specify both `overview` field and `pages` field.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"rules":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of documentation rules that apply to individual API elements.\n\n**NOTE:** All service configuration rules follow \"last one wins\" order.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"DocumentationRule","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"pages":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The top level pages for the documentation set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Page","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AuditLogConfig":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Provides the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\": [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\": [\n            \"user:foo@gmail.com\"\n          ]\n        },\n        {\n          \"log_type\": \"DATA_WRITE\",\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting\nfoo@gmail.com from DATA_READ logging.","enum":null,"enumDescriptions":null,"format":null,"id":"AuditLogConfig","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"exemptedMembers":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies the identities that do not cause logging for this type of\npermission.\nFollows the same format of Binding.members.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"logType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The log type that this config enables.","enum":["LOG_TYPE_UNSPECIFIED","ADMIN_READ","DATA_WRITE","DATA_READ"],"enumDescriptions":["Default case. Should never be this.","Admin reads. Example: CloudIAM getIamPolicy","Data writes. Example: CloudSQL Users create","Data reads. Example: CloudSQL Users list"],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ConfigSource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a source file which is used to generate the service configuration\ndefined by `google.api.Service`.","enum":null,"enumDescriptions":null,"format":null,"id":"ConfigSource","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"files":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of source configuration files that are used to generate a service\nconfiguration (`google.api.Service`).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ConfigFile","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A unique ID for a specific instance of this message, typically assigned\nby the client for tracking purpose. If empty, the server may choose to\ngenerate one instead.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BackendRule":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A backend rule provides configuration for an individual API element.","enum":null,"enumDescriptions":null,"format":null,"id":"BackendRule","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"address":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The address of the API backend.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"selector":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selects the methods to which this rule applies.\n\nRefer to selector for syntax details.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"deadline":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The number of seconds to wait for a response from a request.  The default\ndeadline for gRPC is infinite (no deadline) and HTTP requests is 5 seconds.","enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"minDeadline":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Minimum deadline in seconds needed for this method. Calls having deadline\nvalue lower than this will be rejected.","enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AuthenticationRule":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Authentication rules for the service.\n\nBy default, if a method has any authentication requirements, every request\nmust include a valid credential matching one of the requirements.\nIt's an error to include more than one kind of credential in a single\nrequest.\n\nIf a method doesn't have any auth requirements, request credentials will be\nignored.","enum":null,"enumDescriptions":null,"format":null,"id":"AuthenticationRule","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"allowWithoutCredential":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to allow requests without a credential. The credential can be\nan OAuth token, Google cookies (first-party auth) or EndUserCreds.\n\nFor requests without credentials, if the service control environment is\nspecified, each incoming request **must** be associated with a service\nconsumer. This can be done by passing an API key that belongs to a consumer\nproject.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"selector":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selects the methods to which this rule applies.\n\nRefer to selector for syntax details.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"customAuth":{"$ref":"CustomAuthRequirements","additionalProperties":null,"annotations":null,"default":null,"description":"Configuration for custom authentication.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"oauth":{"$ref":"OAuthRequirements","additionalProperties":null,"annotations":null,"default":null,"description":"The requirements for OAuth credentials.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"requirements":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requirements for additional authentication providers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"AuthRequirement","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UndeleteServiceResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response message for UndeleteService method.","enum":null,"enumDescriptions":null,"format":null,"id":"UndeleteServiceResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"service":{"$ref":"ManagedService","additionalProperties":null,"annotations":null,"default":null,"description":"Revived service resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Policy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Defines an Identity and Access Management (IAM) policy. It is used to\nspecify access control policies for Cloud Platform resources.\n\n\nA `Policy` consists of a list of `bindings`. A `Binding` binds a list of\n`members` to a `role`, where the members can be user accounts, Google groups,\nGoogle domains, and service accounts. A `role` is a named list of permissions\ndefined by IAM.\n\n**Example**\n\n    {\n      \"bindings\": [\n        {\n          \"role\": \"roles/owner\",\n          \"members\": [\n            \"user:mike@example.com\",\n            \"group:admins@example.com\",\n            \"domain:google.com\",\n            \"serviceAccount:my-other-app@appspot.gserviceaccount.com\",\n          ]\n        },\n        {\n          \"role\": \"roles/viewer\",\n          \"members\": [\"user:sean@example.com\"]\n        }\n      ]\n    }\n\nFor a description of IAM and its features, see the\n[IAM developer's guide](https://cloud.google.com/iam).","enum":null,"enumDescriptions":null,"format":null,"id":"Policy","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"etag":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"`etag` is used for optimistic concurrency control as a way to help\nprevent simultaneous updates of a policy from overwriting each other.\nIt is strongly suggested that systems make use of the `etag` in the\nread-modify-write cycle to perform policy updates in order to avoid race\nconditions: An `etag` is returned in the response to `getIamPolicy`, and\nsystems are expected to put that etag in the request to `setIamPolicy` to\nensure that their change will be applied to the same version of the policy.\n\nIf no `etag` is provided in the call to `setIamPolicy`, then the existing\npolicy is overwritten blindly.","enum":null,"enumDescriptions":null,"format":"byte","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"version":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Version of the `Policy`. The default version is 0.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"auditConfigs":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies cloud audit logging configuration for this policy.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"AuditConfig","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"bindings":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Associates a list of `members` to a `role`.\n`bindings` with no members will result in an error.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Binding","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"iamOwned":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Api":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Api is a light-weight descriptor for an API Interface.\n\nInterfaces are also described as \"protocol buffer services\" in some contexts,\nsuch as by the \"service\" keyword in a .proto file, but they are different\nfrom API Services, which represent a concrete implementation of an interface\nas opposed to simply a description of methods and bindings. They are also\nsometimes simply referred to as \"APIs\" in other contexts, such as the name of\nthis message itself. See https://cloud.google.com/apis/design/glossary for\ndetailed terminology.","enum":null,"enumDescriptions":null,"format":null,"id":"Api","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"methods":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The methods of this interface, in unspecified order.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Method","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The fully qualified name of this interface, including package name\nfollowed by the interface's simple name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sourceContext":{"$ref":"SourceContext","additionalProperties":null,"annotations":null,"default":null,"description":"Source context for the protocol buffer service represented by this\nmessage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"syntax":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The source syntax of the service.","enum":["SYNTAX_PROTO2","SYNTAX_PROTO3"],"enumDescriptions":["Syntax `proto2`.","Syntax `proto3`."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"version":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A version string for this interface. If specified, must have the form\n`major-version.minor-version`, as in `1.10`. If the minor version is\nomitted, it defaults to zero. If the entire version field is empty, the\nmajor version is derived from the package name, as outlined below. If the\nfield is not empty, the version in the package name will be verified to be\nconsistent with what is provided here.\n\nThe versioning schema uses [semantic\nversioning](http://semver.org) where the major version number\nindicates a breaking change and the minor version an additive,\nnon-breaking change. Both version numbers are signals to users\nwhat to expect from different versions, and should be carefully\nchosen based on the product plan.\n\nThe major version is also reflected in the package name of the\ninterface, which must end in `v<major-version>`, as in\n`google.feature.v1`. For major versions 0 and 1, the suffix can\nbe omitted. Zero major versions must only be used for\nexperimental, non-GA interfaces.\n","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"mixins":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Included interfaces. See Mixin.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Mixin","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"options":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Any metadata attached to the interface.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Option","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"MetricRule":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Bind API methods to metrics. Binding a method to a metric causes that\nmetric's configured quota behaviors to apply to the method call.","enum":null,"enumDescriptions":null,"format":null,"id":"MetricRule","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"metricCosts":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"anno
[...]
