{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/drive.file":{"description":"View and manage Google Drive files and folders that you have opened or created with this app"},"https://www.googleapis.com/auth/spreadsheets.readonly":{"description":"View your Google Spreadsheets"},"https://www.googleapis.com/auth/drive.readonly":{"description":"View the files in your Google Drive"},"https://www.googleapis.com/auth/drive":{"description":"View and manage the files in your Google Drive"},"https://www.googleapis.com/auth/spreadsheets":{"description":"View and manage your spreadsheets in Google Drive"}}}},"basePath":"","baseUrl":"https://sheets.googleapis.com/","batchPath":"batch","canonicalName":"Sheets","description":"Reads and writes Google Sheets.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/sheets/","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"sheets:v4","kind":"discovery#restDescription","labels":null,"methods":null,"name":"sheets","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"spreadsheets":{"methods":{"batchUpdate":{"description":"Applies one or more updates to the spreadsheet.\n\nEach request is validated before\nbeing applied. If any request is not valid then the entire request will\nfail and nothing will be applied.\n\nSome requests have replies to\ngive you some information about how\nthey are applied. The replies will mirror the requests.  For example,\nif you applied 4 updates and the 3rd one had a reply, then the\nresponse will have 2 empty replies, the actual reply, and another empty\nreply, in that order.\n\nDue to the collaborative nature of spreadsheets, it is not guaranteed that\nthe spreadsheet will reflect exactly your changes after this completes,\nhowever it is guaranteed that the updates in the request will be\napplied together atomically. Your changes may be altered with respect to\ncollaborator changes. If there are no collaborators, the spreadsheet\nshould reflect your changes.","etagRequired":null,"httpMethod":"POST","id":"sheets.spreadsheets.batchUpdate","mediaUpload":null,"parameterOrder":["spreadsheetId"],"parameters":{"spreadsheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The spreadsheet to apply the updates to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v4/spreadsheets/{spreadsheetId}:batchUpdate","request":{"$ref":"BatchUpdateSpreadsheetRequest","parameterName":null},"response":{"$ref":"BatchUpdateSpreadsheetResponse"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/spreadsheets"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates a spreadsheet, returning the newly created spreadsheet.","etagRequired":null,"httpMethod":"POST","id":"sheets.spreadsheets.create","mediaUpload":null,"parameterOrder":[],"parameters":{},"path":"v4/spreadsheets","request":{"$ref":"Spreadsheet","parameterName":null},"response":{"$ref":"Spreadsheet"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/spreadsheets"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getByDataFilter":{"description":"Returns the spreadsheet at the given ID.\nThe caller must specify the spreadsheet ID.\n\nThis method differs from GetSpreadsheet in that it allows selecting\nwhich subsets of spreadsheet data to return by specifying a\ndataFilters parameter.\nMultiple DataFilters can be specified.  Specifying one or\nmore data filters will return the portions of the spreadsheet that\nintersect ranges matched by any of the filters.\n\nBy default, data within grids will not be returned.\nYou can include grid data one of two ways:\n\n* Specify a field mask listing your desired fields using the `fields` URL\nparameter in HTTP\n\n* Set the includeGridData\nparameter to true.  If a field mask is set, the `includeGridData`\nparameter is ignored\n\nFor large spreadsheets, it is recommended to retrieve only the specific\nfields of the spreadsheet that you want.","etagRequired":null,"httpMethod":"POST","id":"sheets.spreadsheets.getByDataFilter","mediaUpload":null,"parameterOrder":["spreadsheetId"],"parameters":{"spreadsheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The spreadsheet to request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v4/spreadsheets/{spreadsheetId}:getByDataFilter","request":{"$ref":"GetSpreadsheetByDataFilterRequest","parameterName":null},"response":{"$ref":"Spreadsheet"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/spreadsheets"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns the spreadsheet at the given ID.\nThe caller must specify the spreadsheet ID.\n\nBy default, data within grids will not be returned.\nYou can include grid data one of two ways:\n\n* Specify a field mask listing your desired fields using the `fields` URL\nparameter in HTTP\n\n* Set the includeGridData\nURL parameter to true.  If a field mask is set, the `includeGridData`\nparameter is ignored\n\nFor large spreadsheets, it is recommended to retrieve only the specific\nfields of the spreadsheet that you want.\n\nTo retrieve only subsets of the spreadsheet, use the\nranges URL parameter.\nMultiple ranges can be specified.  Limiting the range will\nreturn only the portions of the spreadsheet that intersect the requested\nranges. Ranges are specified using A1 notation.","etagRequired":null,"httpMethod":"GET","id":"sheets.spreadsheets.get","mediaUpload":null,"parameterOrder":["spreadsheetId"],"parameters":{"includeGridData":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if grid data should be returned.\nThis parameter is ignored if a field mask was set in the request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"ranges":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ranges to retrieve from the spreadsheet.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"spreadsheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The spreadsheet to request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v4/spreadsheets/{spreadsheetId}","request":null,"response":{"$ref":"Spreadsheet"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.readonly","https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/spreadsheets.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"values":{"methods":{"batchClearByDataFilter":{"description":"Clears one or more ranges of values from a spreadsheet.\nThe caller must specify the spreadsheet ID and one or more\nDataFilters. Ranges matching any of the specified data\nfilters will be cleared.  Only values are cleared -- all other properties\nof the cell (such as formatting, data validation, etc..) are kept.","etagRequired":null,"httpMethod":"POST","id":"sheets.spreadsheets.values.batchClearByDataFilter","mediaUpload":null,"parameterOrder":["spreadsheetId"],"parameters":{"spreadsheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the spreadsheet to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v4/spreadsheets/{spreadsheetId}/values:batchClearByDataFilter","request":{"$ref":"BatchClearValuesByDataFilterRequest","parameterName":null},"response":{"$ref":"BatchClearValuesByDataFilterResponse"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/spreadsheets"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"append":{"description":"Appends values to a spreadsheet. The input range is used to search for\nexisting data and find a \"table\" within that range. Values will be\nappended to the next row of the table, starting with the first column of\nthe table. See the\n[guide](/sheets/api/guides/values#appending_values)\nand\n[sample code](/sheets/api/samples/writing#append_values)\nfor specific details of how tables are detected and data is appended.\n\nThe caller must specify the spreadsheet ID, range, and\na valueInputOption.  The `valueInputOption` only\ncontrols how the input data will be added to the sheet (column-wise or\nrow-wise), it does not influence what cell the data starts being written\nto.","etagRequired":null,"httpMethod":"POST","id":"sheets.spreadsheets.values.append","mediaUpload":null,"parameterOrder":["spreadsheetId","range"],"parameters":{"spreadsheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the spreadsheet to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"responseValueRenderOption":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Determines how values in the response should be rendered.\nThe default render option is ValueRenderOption.FORMATTED_VALUE.","enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"insertDataOption":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"How the input data should be inserted.","enum":["OVERWRITE","INSERT_ROWS"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"valueInputOption":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"How the input data should be interpreted.","enum":["INPUT_VALUE_OPTION_UNSPECIFIED","RAW","USER_ENTERED"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"responseDateTimeRenderOption":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Determines how dates, times, and durations in the response should be\nrendered. This is ignored if response_value_render_option is\nFORMATTED_VALUE.\nThe default dateTime render option is [DateTimeRenderOption.SERIAL_NUMBER].","enum":["SERIAL_NUMBER","FORMATTED_STRING"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"includeValuesInResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Determines if the update response should include the values\nof the cells that were appended. By default, responses\ndo not include the updated values.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"range":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The A1 notation of a range to search for a logical table of data.\nValues will be appended after the last row of the table.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v4/spreadsheets/{spreadsheetId}/values/{range}:append","request":{"$ref":"ValueRange","parameterName":null},"response":{"$ref":"AppendValuesResponse"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/spreadsheets"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"batchGetByDataFilter":{"description":"Returns one or more ranges of values that match the specified data filters.\nThe caller must specify the spreadsheet ID and one or more\nDataFilters.  Ranges that match any of the data filters in\nthe request will be returned.","etagRequired":null,"httpMethod":"POST","id":"sheets.spreadsheets.values.batchGetByDataFilter","mediaUpload":null,"parameterOrder":["spreadsheetId"],"parameters":{"spreadsheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the spreadsheet to retrieve data from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v4/spreadsheets/{spreadsheetId}/values:batchGetByDataFilter","request":{"$ref":"BatchGetValuesByDataFilterRequest","parameterName":null},"response":{"$ref":"BatchGetValuesByDataFilterResponse"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/spreadsheets"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"batchClear":{"description":"Clears one or more ranges of values from a spreadsheet.\nThe caller must specify the spreadsheet ID and one or more ranges.\nOnly values are cleared -- all other properties of the cell (such as\nformatting, data validation, etc..) are kept.","etagRequired":null,"httpMethod":"POST","id":"sheets.spreadsheets.values.batchClear","mediaUpload":null,"parameterOrder":["spreadsheetId"],"parameters":{"spreadsheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the spreadsheet to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v4/spreadsheets/{spreadsheetId}/values:batchClear","request":{"$ref":"BatchClearValuesRequest","parameterName":null},"response":{"$ref":"BatchClearValuesResponse"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/spreadsheets"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns a range of values from a spreadsheet.\nThe caller must specify the spreadsheet ID and a range.","etagRequired":null,"httpMethod":"GET","id":"sheets.spreadsheets.values.get","mediaUpload":null,"parameterOrder":["spreadsheetId","range"],"parameters":{"range":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The A1 notation of the values to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"dateTimeRenderOption":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"How dates, times, and durations should be represented in the output.\nThis is ignored if value_render_option is\nFORMATTED_VALUE.\nThe default dateTime render option is [DateTimeRenderOption.SERIAL_NUMBER].","enum":["SERIAL_NUMBER","FORMATTED_STRING"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"valueRenderOption":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"How values should be represented in the output.\nThe default render option is ValueRenderOption.FORMATTED_VALUE.","enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"majorDimension":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The major dimension that results should use.\n\nFor example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`,\nthen requesting `range=A1:B2,majorDimension=ROWS` will return\n`[[1,2],[3,4]]`,\nwhereas requesting `range=A1:B2,majorDimension=COLUMNS` will return\n`[[1,3],[2,4]]`.","enum":["DIMENSION_UNSPECIFIED","ROWS","COLUMNS"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"spreadsheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the spreadsheet to retrieve data from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v4/spreadsheets/{spreadsheetId}/values/{range}","request":null,"response":{"$ref":"ValueRange"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.readonly","https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/spreadsheets.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Sets values in a range of a spreadsheet.\nThe caller must specify the spreadsheet ID, range, and\na valueInputOption.","etagRequired":null,"httpMethod":"PUT","id":"sheets.spreadsheets.values.update","mediaUpload":null,"parameterOrder":["spreadsheetId","range"],"parameters":{"includeValuesInResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Determines if the update response should include the values\nof the cells that were updated. By default, responses\ndo not include the updated values.\nIf the range to write was larger than than the range actually written,\nthe response will include all values in the requested range (excluding\ntrailing empty rows and columns).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"range":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The A1 notation of the values to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"spreadsheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the spreadsheet to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"responseValueRenderOption":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Determines how values in the response should be rendered.\nThe default render option is ValueRenderOption.FORMATTED_VALUE.","enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"valueInputOption":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"How the input data should be interpreted.","enum":["INPUT_VALUE_OPTION_UNSPECIFIED","RAW","USER_ENTERED"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"responseDateTimeRenderOption":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Determines how dates, times, and durations in the response should be\nrendered. This is ignored if response_value_render_option is\nFORMATTED_VALUE.\nThe default dateTime render option is [DateTimeRenderOption.SERIAL_NUMBER].","enum":["SERIAL_NUMBER","FORMATTED_STRING"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v4/spreadsheets/{spreadsheetId}/values/{range}","request":{"$ref":"ValueRange","parameterName":null},"response":{"$ref":"UpdateValuesResponse"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/spreadsheets"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"batchUpdateByDataFilter":{"description":"Sets values in one or more ranges of a spreadsheet.\nThe caller must specify the spreadsheet ID,\na valueInputOption, and one or more\nDataFilterValueRanges.","etagRequired":null,"httpMethod":"POST","id":"sheets.spreadsheets.values.batchUpdateByDataFilter","mediaUpload":null,"parameterOrder":["spreadsheetId"],"parameters":{"spreadsheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the spreadsheet to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v4/spreadsheets/{spreadsheetId}/values:batchUpdateByDataFilter","request":{"$ref":"BatchUpdateValuesByDataFilterRequest","parameterName":null},"response":{"$ref":"BatchUpdateValuesByDataFilterResponse"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/spreadsheets"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"batchUpdate":{"description":"Sets values in one or more ranges of a spreadsheet.\nThe caller must specify the spreadsheet ID,\na valueInputOption, and one or more\nValueRanges.","etagRequired":null,"httpMethod":"POST","id":"sheets.spreadsheets.values.batchUpdate","mediaUpload":null,"parameterOrder":["spreadsheetId"],"parameters":{"spreadsheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the spreadsheet to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v4/spreadsheets/{spreadsheetId}/values:batchUpdate","request":{"$ref":"BatchUpdateValuesRequest","parameterName":null},"response":{"$ref":"BatchUpdateValuesResponse"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/spreadsheets"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"batchGet":{"description":"Returns one or more ranges of values from a spreadsheet.\nThe caller must specify the spreadsheet ID and one or more ranges.","etagRequired":null,"httpMethod":"GET","id":"sheets.spreadsheets.values.batchGet","mediaUpload":null,"parameterOrder":["spreadsheetId"],"parameters":{"spreadsheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the spreadsheet to retrieve data from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"dateTimeRenderOption":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"How dates, times, and durations should be represented in the output.\nThis is ignored if value_render_option is\nFORMATTED_VALUE.\nThe default dateTime render option is [DateTimeRenderOption.SERIAL_NUMBER].","enum":["SERIAL_NUMBER","FORMATTED_STRING"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"valueRenderOption":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"How values should be represented in the output.\nThe default render option is ValueRenderOption.FORMATTED_VALUE.","enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"majorDimension":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The major dimension that results should use.\n\nFor example, if the spreadsheet data is: `A1=1,B1=2,A2=3,B2=4`,\nthen requesting `range=A1:B2,majorDimension=ROWS` will return\n`[[1,2],[3,4]]`,\nwhereas requesting `range=A1:B2,majorDimension=COLUMNS` will return\n`[[1,3],[2,4]]`.","enum":["DIMENSION_UNSPECIFIED","ROWS","COLUMNS"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ranges":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The A1 notation of the values to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v4/spreadsheets/{spreadsheetId}/values:batchGet","request":null,"response":{"$ref":"BatchGetValuesResponse"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/drive.readonly","https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/spreadsheets.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"clear":{"description":"Clears values from a spreadsheet.\nThe caller must specify the spreadsheet ID and range.\nOnly values are cleared -- all other properties of the cell (such as\nformatting, data validation, etc..) are kept.","etagRequired":null,"httpMethod":"POST","id":"sheets.spreadsheets.values.clear","mediaUpload":null,"parameterOrder":["spreadsheetId","range"],"parameters":{"spreadsheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the spreadsheet to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"range":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The A1 notation of the values to clear.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v4/spreadsheets/{spreadsheetId}/values/{range}:clear","request":{"$ref":"ClearValuesRequest","parameterName":null},"response":{"$ref":"ClearValuesResponse"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/spreadsheets"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"sheets":{"methods":{"copyTo":{"description":"Copies a single sheet from a spreadsheet to another spreadsheet.\nReturns the properties of the newly created sheet.","etagRequired":null,"httpMethod":"POST","id":"sheets.spreadsheets.sheets.copyTo","mediaUpload":null,"parameterOrder":["spreadsheetId","sheetId"],"parameters":{"spreadsheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the spreadsheet containing the sheet to copy.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the sheet to copy.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null}},"path":"v4/spreadsheets/{spreadsheetId}/sheets/{sheetId}:copyTo","request":{"$ref":"CopySheetToAnotherSpreadsheetRequest","parameterName":null},"response":{"$ref":"SheetProperties"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/spreadsheets"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"developerMetadata":{"methods":{"search":{"description":"Returns all developer metadata matching the specified DataFilter.\nIf the provided DataFilter represents a DeveloperMetadataLookup object,\nthis will return all DeveloperMetadata entries selected by it. If the\nDataFilter represents a location in a spreadsheet, this will return all\ndeveloper metadata associated with locations intersecting that region.","etagRequired":null,"httpMethod":"POST","id":"sheets.spreadsheets.developerMetadata.search","mediaUpload":null,"parameterOrder":["spreadsheetId"],"parameters":{"spreadsheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the spreadsheet to retrieve metadata from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v4/spreadsheets/{spreadsheetId}/developerMetadata:search","request":{"$ref":"SearchDeveloperMetadataRequest","parameterName":null},"response":{"$ref":"SearchDeveloperMetadataResponse"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/spreadsheets"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns the developer metadata with the specified ID.\nThe caller must specify the spreadsheet ID and the developer metadata's\nunique metadataId.","etagRequired":null,"httpMethod":"GET","id":"sheets.spreadsheets.developerMetadata.get","mediaUpload":null,"parameterOrder":["spreadsheetId","metadataId"],"parameters":{"spreadsheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the spreadsheet to retrieve metadata from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"metadataId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the developer metadata to retrieve.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null}},"path":"v4/spreadsheets/{spreadsheetId}/developerMetadata/{metadataId}","request":null,"response":{"$ref":"DeveloperMetadata"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.file","https://www.googleapis.com/auth/spreadsheets"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"revision":"20170929","rootUrl":"https://sheets.googleapis.com/","schemas":{"ExtendedValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The kinds of value that a cell in a spreadsheet can have.","enum":null,"enumDescriptions":null,"format":null,"id":"ExtendedValue","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"numberValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a double value.\nNote: Dates, Times and DateTimes are represented as doubles in\n\"serial number\" format.","enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"errorValue":{"$ref":"ErrorValue","additionalProperties":null,"annotations":null,"default":null,"description":"Represents an error.\nThis field is read-only.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"formulaValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a formula.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"boolValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a boolean value.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"stringValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a string value.\nLeading single quotes are not included. For example, if the user typed\n`'123` into the UI, this would be represented as a `stringValue` of\n`\"123\"`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BandedRange":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A banded (alternating colors) range in a sheet.","enum":null,"enumDescriptions":null,"format":null,"id":"BandedRange","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"columnProperties":{"$ref":"BandingProperties","additionalProperties":null,"annotations":null,"default":null,"description":"Properties for column bands. These properties will be applied on a column-\nby-column basis throughout all the columns in the range. At least one of\nrow_properties or column_properties must be specified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"rowProperties":{"$ref":"BandingProperties","additionalProperties":null,"annotations":null,"default":null,"description":"Properties for row bands. These properties will be applied on a row-by-row\nbasis throughout all the rows in the range. At least one of\nrow_properties or column_properties must be specified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"range":{"$ref":"GridRange","additionalProperties":null,"annotations":null,"default":null,"description":"The range over which these properties are applied.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"bandedRangeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of the banded range.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"HistogramSeries":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A histogram series containing the series color and data.","enum":null,"enumDescriptions":null,"format":null,"id":"HistogramSeries","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"barColor":{"$ref":"Color","additionalProperties":null,"annotations":null,"default":null,"description":"The color of the column representing this series in each bucket.\nThis field is optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"data":{"$ref":"ChartData","additionalProperties":null,"annotations":null,"default":null,"description":"The data for this histogram series.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AddChartRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Adds a chart to a sheet in the spreadsheet.","enum":null,"enumDescriptions":null,"format":null,"id":"AddChartRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"chart":{"$ref":"EmbeddedChart","additionalProperties":null,"annotations":null,"default":null,"description":"The chart that should be added to the spreadsheet, including the position\nwhere it should be placed. The chartId\nfield is optional; if one is not set, an id will be randomly generated. (It\nis an error to specify the ID of a chart that already exists.)","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Spreadsheet":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Resource that represents a spreadsheet.","enum":null,"enumDescriptions":null,"format":null,"id":"Spreadsheet","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"spreadsheetUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The url of the spreadsheet.\nThis field is read-only.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"properties":{"$ref":"SpreadsheetProperties","additionalProperties":null,"annotations":null,"default":null,"description":"Overall properties of a spreadsheet.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"namedRanges":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The named ranges defined in a spreadsheet.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"NamedRange","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"spreadsheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the spreadsheet.\nThis field is read-only.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"developerMetadata":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The developer metadata associated with a spreadsheet.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"DeveloperMetadata","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"sheets":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The sheets that are part of a spreadsheet.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Sheet","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BatchClearValuesResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response when clearing a range of values in a spreadsheet.","enum":null,"enumDescriptions":null,"format":null,"id":"BatchClearValuesResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"spreadsheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The spreadsheet the updates were applied to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"clearedRanges":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ranges that were cleared, in A1 notation.\n(If the requests were for an unbounded range or a ranger larger\n than the bounds of the sheet, this will be the actual ranges\n that were cleared, bounded to the sheet's limits.)","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UpdateProtectedRangeRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Updates an existing protected range with the specified\nprotectedRangeId.","enum":null,"enumDescriptions":null,"format":null,"id":"UpdateProtectedRangeRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The fields that should be updated.  At least one field must be specified.\nThe root `protectedRange` is implied and should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.","enum":null,"enumDescriptions":null,"format":"google-fieldmask","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"protectedRange":{"$ref":"ProtectedRange","additionalProperties":null,"annotations":null,"default":null,"description":"The protected range to update with the new properties.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DataFilter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Filter that describes what data should be selected or returned from a\nrequest.","enum":null,"enumDescriptions":null,"format":null,"id":"DataFilter","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"gridRange":{"$ref":"GridRange","additionalProperties":null,"annotations":null,"default":null,"description":"Selects data that matches the range described by the GridRange.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"developerMetadataLookup":{"$ref":"DeveloperMetadataLookup","additionalProperties":null,"annotations":null,"default":null,"description":"Selects data associated with the developer metadata matching the criteria\ndescribed by this DeveloperMetadataLookup.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"a1Range":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selects data that matches the specified A1 range.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TextFormat":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The format of a run of text in a cell.\nAbsent values indicate that the field isn't specified.","enum":null,"enumDescriptions":null,"format":null,"id":"TextFormat","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"strikethrough":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if the text has a strikethrough.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"italic":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if the text is italicized.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fontSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The size of the font.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"underline":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if the text is underlined.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"bold":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if the text is bold.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"foregroundColor":{"$ref":"Color","additionalProperties":null,"annotations":null,"default":null,"description":"The foreground color of the text.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"fontFamily":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The font family.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AddSheetResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The result of adding a sheet.","enum":null,"enumDescriptions":null,"format":null,"id":"AddSheetResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"properties":{"$ref":"SheetProperties","additionalProperties":null,"annotations":null,"default":null,"description":"The properties of the newly added sheet.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AddFilterViewResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The result of adding a filter view.","enum":null,"enumDescriptions":null,"format":null,"id":"AddFilterViewResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"filter":{"$ref":"FilterView","additionalProperties":null,"annotations":null,"default":null,"description":"The newly added filter view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"IterativeCalculationSettings":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Settings to control how circular dependencies are resolved with iterative\ncalculation.","enum":null,"enumDescriptions":null,"format":null,"id":"IterativeCalculationSettings","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"convergenceThreshold":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When iterative calculation is enabled and successive results differ by\nless than this threshold value, the calculation rounds stop.","enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"maxIterations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When iterative calculation is enabled, the maximum number of calculation\nrounds to perform.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OverlayPosition":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location an object is overlaid on top of a grid.","enum":null,"enumDescriptions":null,"format":null,"id":"OverlayPosition","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"widthPixels":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The width of the object, in pixels. Defaults to 600.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"offsetXPixels":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The horizontal offset, in pixels, that the object is offset\nfrom the anchor cell.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"anchorCell":{"$ref":"GridCoordinate","additionalProperties":null,"annotations":null,"default":null,"description":"The cell the object is anchored to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"heightPixels":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The height of the object, in pixels. Defaults to 371.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"offsetYPixels":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The vertical offset, in pixels, that the object is offset\nfrom the anchor cell.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SpreadsheetProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of a spreadsheet.","enum":null,"enumDescriptions":null,"format":null,"id":"SpreadsheetProperties","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"title":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The title of the spreadsheet.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timeZone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time zone of the spreadsheet, in CLDR format such as\n`America/New_York`. If the time zone isn't recognized, this may\nbe a custom time zone such as `GMT-07:00`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The locale of the spreadsheet in one of the following formats:\n\n* an ISO 639-1 language code such as `en`\n\n* an ISO 639-2 language code such as `fil`, if no 639-1 code exists\n\n* a combination of the ISO language code and country code, such as `en_US`\n\nNote: when updating this field, not all locales/languages are supported.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"iterativeCalculationSettings":{"$ref":"IterativeCalculationSettings","additionalProperties":null,"annotations":null,"default":null,"description":"Determines whether and how circular references are resolved with iterative\ncalculation.  Absence of this field means that circular references will\nresult in calculation errors.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"autoRecalc":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The amount of time to wait before volatile functions are recalculated.","enum":["RECALCULATION_INTERVAL_UNSPECIFIED","ON_CHANGE","MINUTE","HOUR"],"enumDescriptions":["Default value. This value must not be used.","Volatile functions are updated on every change.","Volatile functions are updated on every change and every minute.","Volatile functions are updated on every change and hourly."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"defaultFormat":{"$ref":"CellFormat","additionalProperties":null,"annotations":null,"default":null,"description":"The default format of all cells in the spreadsheet.\nCellData.effectiveFormat will not be set if the\ncell's format is equal to this default format.\nThis field is read-only.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"RepeatCellRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Updates all cells in the range to the values in the given Cell object.\nOnly the fields listed in the fields field are updated; others are\nunchanged.\n\nIf writing a cell with a formula, the formula's ranges will automatically\nincrement for each field in the range.\nFor example, if writing a cell with formula `=A1` into range B2:C4,\nB2 would be `=A1`, B3 would be `=A2`, B4 would be `=A3`,\nC2 would be `=B1`, C3 would be `=B2`, C4 would be `=B3`.\n\nTo keep the formula's ranges static, use the `$` indicator.\nFor example, use the formula `=$A$1` to prevent both the row and the\ncolumn from incrementing.","enum":null,"enumDescriptions":null,"format":null,"id":"RepeatCellRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"range":{"$ref":"GridRange","additionalProperties":null,"annotations":null,"default":null,"description":"The range to repeat the cell in.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The fields that should be updated.  At least one field must be specified.\nThe root `cell` is implied and should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.","enum":null,"enumDescriptions":null,"format":"google-fieldmask","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"cell":{"$ref":"CellData","additionalProperties":null,"annotations":null,"default":null,"description":"The data to write.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AddChartResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The result of adding a chart to a spreadsheet.","enum":null,"enumDescriptions":null,"format":null,"id":"AddChartResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"chart":{"$ref":"EmbeddedChart","additionalProperties":null,"annotations":null,"default":null,"description":"The newly added chart.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"InsertDimensionRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Inserts rows or columns in a sheet at a particular index.","enum":null,"enumDescriptions":null,"format":null,"id":"InsertDimensionRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"inheritFromBefore":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether dimension properties should be extended from the dimensions\nbefore or after the newly inserted dimensions.\nTrue to inherit from the dimensions before (in which case the start\nindex must be greater than 0), and false to inherit from the dimensions\nafter.\n\nFor example, if row index 0 has red background and row index 1\nhas a green background, then inserting 2 rows at index 1 can inherit\neither the green or red background.  If `inheritFromBefore` is true,\nthe two new rows will be red (because the row before the insertion point\nwas red), whereas if `inheritFromBefore` is false, the two new rows will\nbe green (because the row after the insertion point was green).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"range":{"$ref":"DimensionRange","additionalProperties":null,"annotations":null,"default":null,"description":"The dimensions to insert.  Both the start and end indexes must be bounded.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UpdateSpreadsheetPropertiesRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Updates properties of a spreadsheet.","enum":null,"enumDescriptions":null,"format":null,"id":"UpdateSpreadsheetPropertiesRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The fields that should be updated.  At least one field must be specified.\nThe root 'properties' is implied and should not be specified.\nA single `\"*\"` can be used as short-hand for listing every field.","enum":null,"enumDescriptions":null,"format":"google-fieldmask","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"properties":{"$ref":"SpreadsheetProperties","additionalProperties":null,"annotations":null,"default":null,"description":"The properties to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BatchUpdateValuesRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The request for updating more than one range of values in a spreadsheet.","enum":null,"enumDescriptions":null,"format":null,"id":"BatchUpdateValuesRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"responseValueRenderOption":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Determines how values in the response should be rendered.\nThe default render option is ValueRenderOption.FORMATTED_VALUE.","enum":["FORMATTED_VALUE","UNFORMATTED_VALUE","FORMULA"],"enumDescriptions":["Values will be calculated & formatted in the reply according to the\ncell's formatting.  Formatting is based on the spreadsheet's locale,\nnot the requesting user's locale.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen `A2` would return `\"$1.23\"`.","Values will be calculated, but not formatted in the reply.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen `A2` would return the number `1.23`.","Values will not be calculated.  The reply will include the formulas.\nFor example, if `A1` is `1.23` and `A2` is `=A1` and formatted as currency,\nthen A2 would return `\"=A1\"`."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"includeValuesInResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Determines if the update response should include the values\nof the cells that were updated. By default, responses\ndo not include the updated values. The `updatedData` field within\neach of the BatchUpdateValuesResponse.responses will contain\nthe updated values. If the range to write was larger than than the range\nactually written, the response will include all values in the requested\nrange (excluding trailing empty rows and columns).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"data":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The new values to apply to the spreadsheet.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ValueRange","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"valueInputOption":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"How the input data should be interpreted.","enum":["INPUT_VALUE_OPTION_UNSPECIFIED","RAW","USER_ENTERED"],"enumDescriptions":["Default input value. This value must not be used.","The values the user has entered will not be parsed and will be stored\nas-is.","The values will be parsed as if the user typed them into the UI.\nNumbers will stay as numbers, but strings may be converted to numbers,\ndates, etc. following the same rules that are applied when entering\ntext into a cell via the Google Sheets UI."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"responseDateTimeRenderOption":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Determines how dates, times, and durations in the response should be\nrendered. This is ignored if response_value_render_option is\nFORMATTED_VALUE.\nThe default dateTime render option is\nDateTimeRenderOption.SERIAL_NUMBER.","enum":["SERIAL_NUMBER","FORMATTED_STRING"],"enumDescriptions":["Instructs date, time, datetime, and duration fields to be output\nas doubles in \"serial number\" format, as popularized by Lotus 1-2-3.\nThe whole number portion of the value (left of the decimal) counts\nthe days since December 30th 1899. The fractional portion (right of\nthe decimal) counts the time as a fraction of the day. For example,\nJanuary 1st 1900 at noon would be 2.5, 2 because it's 2 days after\nDecember 30st 1899, and .5 because noon is half a day.  February 1st\n1900 at 3pm would be 33.625. This correctly treats the year 1900 as\nnot a leap year.","Instructs date, time, datetime, and duration fields to be output\nas strings in their given number format (which is dependent\non the spreadsheet locale)."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ProtectedRange":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A protected range.","enum":null,"enumDescriptions":null,"format":null,"id":"ProtectedRange","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"requestingUserCanEdit":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if the user who requested this protected range can edit the\nprotected area.\nThis field is read-only.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"range":{"$ref":"GridRange","additionalProperties":null,"annotations":null,"default":null,"description":"The range that is being protected.\nThe range may be fully unbounded, in which case this is considered\na protected sheet.\n\nWhen writing, only one of range or named_range_id\nmay be set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"editors":{"$ref":"Editors","additionalProperties":null,"annotations":null,"default":null,"description":"The users and groups with edit access to the protected range.\nThis field is only visible to users with edit access to the protected\nrange and the document.\nEditors are not supported with warning_only protection.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The description of this protected range.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"unprotectedRanges":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of unprotected ranges within a protected sheet.\nUnprotected ranges are only supported on protected sheets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GridRange","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"namedRangeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The named range this protected range is backed by, if any.\n\nWhen writing, only one of range or named_range_id\nmay be set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"protectedRangeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the protected range.\nThis field is read-only.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"warningOnly":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if this protected range will show a warning when editing.\nWarning-based protection means that every user can edit data in the\nprotected range, except editing will prompt a warning asking the user\nto confirm the edit.\n\nWhen writing: if this field is true, then editors is ignored.\nAdditionally, if this field is changed from true to false and the\n`editors` field is not set (nor included in the field mask), then\nthe editors will be set to all the editors in the document.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DimensionProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties about a dimension.","enum":null,"enumDescriptions":null,"format":null,"id":"DimensionProperties","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"pixelSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The height (if a row) or width (if a column) of the dimension in pixels.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"hiddenByUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if this dimension is explicitly hidden.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"hiddenByFilter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if this dimension is being filtered.\nThis field is read-only.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"developerMetadata":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The developer metadata associated with a single row or column.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"DeveloperMetadata","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DimensionRange":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A range along a single dimension on a sheet.\nAll indexes are zero-based.\nIndexes are half open: the start index is inclusive\nand the end index is exclusive.\nMissing indexes indicate the range is unbounded on that side.","enum":null,"enumDescriptions":null,"format":null,"id":"DimensionRange","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"dimension":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The dimension of the span.","enum":["DIMENSION_UNSPECIFIED","ROWS","COLUMNS"],"enumDescriptions":["The default value, do not use.","Operates on the rows of a sheet.","Operates on the columns of a sheet."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"endIndex":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The end (exclusive) of the span, or not set if unbounded.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"startIndex":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The start (inclusive) of the span, or not set if unbounded.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"sheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The sheet this span is on.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"NamedRange":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A named range.","enum":null,"enumDescriptions":null,"format":null,"id":"NamedRange","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"namedRangeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the named range.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"range":{"$ref":"GridRange","additionalProperties":null,"annotations":null,"default":null,"description":"The range this represents.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the named range.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CutPasteRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Moves data from the source to the destination.","enum":null,"enumDescriptions":null,"format":null,"id":"CutPasteRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"pasteType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"What kind of data to paste.  All the source data will be cut, regardless\nof what is pasted.","enum":["PASTE_NORMAL","PASTE_VALUES","PASTE_FORMAT","PASTE_NO_BORDERS","PASTE_FORMULA","PASTE_DATA_VALIDATION","PASTE_CONDITIONAL_FORMATTING"],"enumDescriptions":["Paste values, formulas, formats, and merges.","Paste the values ONLY without formats, formulas, or merges.","Paste the format and data validation only.","Like PASTE_NORMAL but without borders.","Paste the formulas only.","Paste the data validation only.","Paste the conditional formatting rules only."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"source":{"$ref":"GridRange","additionalProperties":null,"annotations":null,"default":null,"description":"The source data to cut.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"destination":{"$ref":"GridCoordinate","additionalProperties":null,"annotations":null,"default":null,"description":"The top-left coordinate where the data should be pasted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Borders":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The borders of the cell.","enum":null,"enumDescriptions":null,"format":null,"id":"Borders","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"right":{"$ref":"Border","additionalProperties":null,"annotations":null,"default":null,"description":"The right border of the cell.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"bottom":{"$ref":"Border","additionalProperties":null,"annotations":null,"default":null,"description":"The bottom border of the cell.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"top":{"$ref":"Border","additionalProperties":null,"annotations":null,"default":null,"description":"The top border of the cell.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"left":{"$ref":"Border","additionalProperties":null,"annotations":null,"default":null,"description":"The left border of the cell.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BasicChartSeries":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A single series of data in a chart.\nFor example, if charting stock prices over time, multiple series may exist,\none for the \"Open Price\", \"High Price\", \"Low Price\" and \"Close Price\".","enum":null,"enumDescriptions":null,"format":null,"id":"BasicChartSeries","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of this series. Valid only if the\nchartType is\nCOMBO.\nDifferent types will change the way the series is visualized.\nOnly LINE, AREA,\nand COLUMN are supported.","enum":["BASIC_CHART_TYPE_UNSPECIFIED","BAR","LINE","AREA","COLUMN","SCATTER","COMBO","STEPPED_AREA"],"enumDescriptions":["Default value, do not use.","A <a href=\"/chart/interactive/docs/gallery/barchart\">bar chart</a>.","A <a href=\"/chart/interactive/docs/gallery/linechart\">line chart</a>.","An <a href=\"/chart/interactive/docs/gallery/areachart\">area chart</a>.","A <a href=\"/chart/interactive/docs/gallery/columnchart\">column chart</a>.","A <a href=\"/chart/interactive/docs/gallery/scatterchart\">scatter chart</a>.","A <a href=\"/chart/interactive/docs/gallery/combochart\">combo chart</a>.","A <a href=\"/chart/interactive/docs/gallery/steppedareachart\">stepped area chart</a>."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"series":{"$ref":"ChartData","additionalProperties":null,"annotations":null,"default":null,"description":"The data being visualized in this chart series.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"targetAxis":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The minor axis that will specify the range of values for this series.\nFor example, if charting stocks over time, the \"Volume\" series\nmay want to be pinned to the right with the prices pinned to the left,\nbecause the scale of trading volume is different than the scale of\nprices.\nIt is an error to specify an axis that isn't a valid minor axis\nfor the chart's type.","enum":["BASIC_CHART_AXIS_POSITION_UNSPECIFIED","BOTTOM_AXIS","LEFT_AXIS","RIGHT_AXIS"],"enumDescriptions":["Default value, do not use.","The axis rendered at the bottom of a chart.\nFor most charts, this is the standard major axis.\nFor bar charts, this is a minor axis.","The axis rendered at the left of a chart.\nFor most charts, this is a minor axis.\nFor bar charts, this is the standard major axis.","The axis rendered at the right of a chart.\nFor most charts, this is a minor axis.\nFor bar charts, this is an unusual major axis."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AutoResizeDimensionsRequest":{"$ref":null,"additionalProp
[...]
