{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/siteverification":{"description":"Manage the list of sites and domains you control"},"https://www.googleapis.com/auth/siteverification.verify_only":{"description":"Manage your new site verifications with Google"}}}},"basePath":"/siteVerification/v1/","baseUrl":"https://www.googleapis.com/siteVerification/v1/","batchPath":"batch/siteVerification/v1","canonicalName":null,"description":"Verifies ownership of websites or domains with Google.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/site-verification/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/91cCbhq1cUXIPKUTmb8zwBITGqo\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png","x32":"https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"},"id":"siteVerification:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"siteVerification","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"webResource":{"methods":{"delete":{"description":"Relinquish ownership of a website or domain.","etagRequired":null,"httpMethod":"DELETE","id":"siteVerification.webResource.delete","mediaUpload":null,"parameterOrder":["id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of a verified site or domain.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"webResource/{id}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/siteverification"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Get the most current data for a website or domain.","etagRequired":null,"httpMethod":"GET","id":"siteVerification.webResource.get","mediaUpload":null,"parameterOrder":["id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of a verified site or domain.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"webResource/{id}","request":null,"response":{"$ref":"SiteVerificationWebResourceResource"},"scopes":["https://www.googleapis.com/auth/siteverification"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getToken":{"description":"Get a verification token for placing on a website or domain.","etagRequired":null,"httpMethod":"POST","id":"siteVerification.webResource.getToken","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"token","request":{"$ref":"SiteVerificationWebResourceGettokenRequest","parameterName":null},"response":{"$ref":"SiteVerificationWebResourceGettokenResponse"},"scopes":["https://www.googleapis.com/auth/siteverification","https://www.googleapis.com/auth/siteverification.verify_only"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Attempt verification of a website or domain.","etagRequired":null,"httpMethod":"POST","id":"siteVerification.webResource.insert","mediaUpload":null,"parameterOrder":["verificationMethod"],"parameters":{"verificationMethod":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The method to use for verifying a site or domain.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"webResource","request":{"$ref":"SiteVerificationWebResourceResource","parameterName":null},"response":{"$ref":"SiteVerificationWebResourceResource"},"scopes":["https://www.googleapis.com/auth/siteverification","https://www.googleapis.com/auth/siteverification.verify_only"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Get the list of your verified websites and domains.","etagRequired":null,"httpMethod":"GET","id":"siteVerification.webResource.list","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"webResource","request":null,"response":{"$ref":"SiteVerificationWebResourceListResponse"},"scopes":["https://www.googleapis.com/auth/siteverification"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Modify the list of owners for your website or domain. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"siteVerification.webResource.patch","mediaUpload":null,"parameterOrder":["id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of a verified site or domain.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"webResource/{id}","request":{"$ref":"SiteVerificationWebResourceResource","parameterName":null},"response":{"$ref":"SiteVerificationWebResourceResource"},"scopes":["https://www.googleapis.com/auth/siteverification"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Modify the list of owners for your website or domain.","etagRequired":null,"httpMethod":"PUT","id":"siteVerification.webResource.update","mediaUpload":null,"parameterOrder":["id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of a verified site or domain.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"webResource/{id}","request":{"$ref":"SiteVerificationWebResourceResource","parameterName":null},"response":{"$ref":"SiteVerificationWebResourceResource"},"scopes":["https://www.googleapis.com/auth/siteverification"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20161114","rootUrl":"https://www.googleapis.com/","schemas":{"SiteVerificationWebResourceGettokenRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"SiteVerificationWebResourceGettokenRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"site":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The site for which a verification token will be generated.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"identifier":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"verificationMethod":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The verification method that will be used to verify this site. For sites, 'FILE' or 'META' methods may be used. For domains, only 'DNS' may be used.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SiteVerificationWebResourceGettokenResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"SiteVerificationWebResourceGettokenResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"method":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The verification token. The token must be placed appropriately in order for verification to succeed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SiteVerificationWebResourceListResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"SiteVerificationWebResourceListResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of sites that are owned by the authenticated user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"SiteVerificationWebResourceResource","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SiteVerificationWebResourceResource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"SiteVerificationWebResourceResource","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The string used to identify this site. This value should be used in the \"id\" portion of the REST URL for the Get, Update, and Delete operations.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"owners":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The email addresses of all verified owners.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"site":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The address and type of a site that is verified or will be verified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"identifier":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The site type. Can be SITE or INET_DOMAIN (domain name).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"siteVerification/v1/","title":"Google Site Verification API","version":"v1","version_module":null}