{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/spreadsheets.readonly":{"description":"View your Google Spreadsheets"},"https://www.googleapis.com/auth/drive":{"description":"View and manage the files in your Google Drive"},"https://www.googleapis.com/auth/drive.readonly":{"description":"View the files in your Google Drive"},"https://www.googleapis.com/auth/spreadsheets":{"description":"View and manage your spreadsheets in Google Drive"},"https://www.googleapis.com/auth/presentations":{"description":"View and manage your Google Slides presentations"},"https://www.googleapis.com/auth/presentations.readonly":{"description":"View your Google Slides presentations"}}}},"basePath":"","baseUrl":"https://slides.googleapis.com/","batchPath":"batch","canonicalName":"Slides","description":"An API for creating and editing Google Slides presentations.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/slides/","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"slides:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"slides","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"presentations":{"methods":{"batchUpdate":{"description":"Applies one or more updates to the presentation.\n\nEach request is validated before\nbeing applied. If any request is not valid, then the entire request will\nfail and nothing will be applied.\n\nSome requests have replies to\ngive you some information about how they are applied. Other requests do\nnot need to return information; these each return an empty reply.\nThe order of replies matches that of the requests.\n\nFor example, suppose you call batchUpdate with four updates, and only the\nthird one returns information. The response would have two empty replies:\nthe reply to the third request, and another empty reply, in that order.\n\nBecause other users may be editing the presentation, the presentation\nmight not exactly reflect your changes: your changes may\nbe altered with respect to collaborator changes. If there are no\ncollaborators, the presentation should reflect your changes. In any case,\nthe updates in your request are guaranteed to be applied together\natomically.","etagRequired":null,"httpMethod":"POST","id":"slides.presentations.batchUpdate","mediaUpload":null,"parameterOrder":["presentationId"],"parameters":{"presentationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The presentation to apply the updates to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/presentations/{presentationId}:batchUpdate","request":{"$ref":"BatchUpdatePresentationRequest","parameterName":null},"response":{"$ref":"BatchUpdatePresentationResponse"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.readonly","https://www.googleapis.com/auth/presentations","https://www.googleapis.com/auth/spreadsheets","https://www.googleapis.com/auth/spreadsheets.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates a new presentation using the title given in the request. Other\nfields in the request are ignored.\nReturns the created presentation.","etagRequired":null,"httpMethod":"POST","id":"slides.presentations.create","mediaUpload":null,"parameterOrder":[],"parameters":{},"path":"v1/presentations","request":{"$ref":"Presentation","parameterName":null},"response":{"$ref":"Presentation"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/presentations"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets the latest version of the specified presentation.","etagRequired":null,"httpMethod":"GET","id":"slides.presentations.get","mediaUpload":null,"parameterOrder":["presentationId"],"parameters":{"presentationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the presentation to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/presentations/{+presentationId}","request":null,"response":{"$ref":"Presentation"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.readonly","https://www.googleapis.com/auth/presentations","https://www.googleapis.com/auth/presentations.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"pages":{"methods":{"get":{"description":"Gets the latest version of the specified page in the presentation.","etagRequired":null,"httpMethod":"GET","id":"slides.presentations.pages.get","mediaUpload":null,"parameterOrder":["presentationId","pageObjectId"],"parameters":{"presentationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the presentation to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageObjectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The object ID of the page to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/presentations/{presentationId}/pages/{pageObjectId}","request":null,"response":{"$ref":"Page"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.readonly","https://www.googleapis.com/auth/presentations","https://www.googleapis.com/auth/presentations.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getThumbnail":{"description":"Generates a thumbnail of the latest version of the specified page in the\npresentation and returns a URL to the thumbnail image.","etagRequired":null,"httpMethod":"GET","id":"slides.presentations.pages.getThumbnail","mediaUpload":null,"parameterOrder":["presentationId","pageObjectId"],"parameters":{"pageObjectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The object ID of the page whose thumbnail to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"thumbnailProperties.thumbnailSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The optional thumbnail image size.\n\nIf you don't specify the size, the server chooses a default size of the\nimage.","enum":["THUMBNAIL_SIZE_UNSPECIFIED","LARGE"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"thumbnailProperties.mimeType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The optional mime type of the thumbnail image.\n\nIf you don't specify the mime type, the default mime type will be PNG.","enum":["PNG"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"presentationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the presentation to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/presentations/{presentationId}/pages/{pageObjectId}/thumbnail","request":null,"response":{"$ref":"Thumbnail"},"scopes":["https://www.googleapis.com/auth/drive","https://www.googleapis.com/auth/drive.readonly","https://www.googleapis.com/auth/presentations","https://www.googleapis.com/auth/presentations.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"revision":"20171002","rootUrl":"https://slides.googleapis.com/","schemas":{"AutoText":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A TextElement kind that represents auto text.","enum":null,"enumDescriptions":null,"format":null,"id":"AutoText","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"style":{"$ref":"TextStyle","additionalProperties":null,"annotations":null,"default":null,"description":"The styling applied to this auto text.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"content":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The rendered content of this auto text, if available.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of this auto text.","enum":["TYPE_UNSPECIFIED","SLIDE_NUMBER"],"enumDescriptions":["An unspecified autotext type.","Type for autotext that represents the current slide number."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CreateVideoResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The result of creating a video.","enum":null,"enumDescriptions":null,"format":null,"id":"CreateVideoResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"objectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The object ID of the created video.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UpdatePageElementTransformRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Updates the transform of a page element.\n\nUpdating the transform of a group will change the absolute transform of the\npage elements in that group, which can change their visual appearance. See\nthe documentation for PageElement.transform for more details.","enum":null,"enumDescriptions":null,"format":null,"id":"UpdatePageElementTransformRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"transform":{"$ref":"AffineTransform","additionalProperties":null,"annotations":null,"default":null,"description":"The input transform matrix used to update the page element.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"objectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The object ID of the page element to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"applyMode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The apply mode of the transform update.","enum":["APPLY_MODE_UNSPECIFIED","RELATIVE","ABSOLUTE"],"enumDescriptions":["Unspecified mode.","Applies the new AffineTransform matrix to the existing one, and\nreplaces the existing one with the resulting concatenation.","Replaces the existing AffineTransform matrix with the new one."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DeleteTextRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Deletes text from a shape or a table cell.","enum":null,"enumDescriptions":null,"format":null,"id":"DeleteTextRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"textRange":{"$ref":"Range","additionalProperties":null,"annotations":null,"default":null,"description":"The range of text to delete, based on TextElement indexes.\n\nThere is always an implicit newline character at the end of a shape's or\ntable cell's text that cannot be deleted. `Range.Type.ALL` will use the\ncorrect bounds, but care must be taken when specifying explicit bounds for\nrange types `FROM_START_INDEX` and `FIXED_RANGE`. For example, if the text\nis \"ABC\", followed by an implicit newline, then the maximum value is 2 for\n`text_range.start_index` and 3 for `text_range.end_index`.\n\nDeleting text that crosses a paragraph boundary may result in changes\nto paragraph styles and lists as the two paragraphs are merged.\n\nRanges that include only one code unit of a surrogate pair are expanded to\ninclude both code units.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"objectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The object ID of the shape or table from which the text will be deleted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"cellLocation":{"$ref":"TableCellLocation","additionalProperties":null,"annotations":null,"default":null,"description":"The optional table cell location if the text is to be deleted from a table\ncell. If present, the object_id must refer to a table.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DeleteObjectRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Deletes an object, either pages or\npage elements, from the\npresentation.","enum":null,"enumDescriptions":null,"format":null,"id":"DeleteObjectRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"objectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The object ID of the page or page element to delete.\n\nIf after a delete operation a group contains\nonly 1 or no page elements, the group is also deleted.\n\nIf a placeholder is deleted on a layout, any empty inheriting shapes are\nalso deleted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TextElement":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A TextElement describes the content of a range of indices in the text content\nof a Shape or TableCell.","enum":null,"enumDescriptions":null,"format":null,"id":"TextElement","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"textRun":{"$ref":"TextRun","additionalProperties":null,"annotations":null,"default":null,"description":"A TextElement representing a run of text where all of the characters\nin the run have the same TextStyle.\n\nThe `start_index` and `end_index` of TextRuns will always be fully\ncontained in the index range of a single `paragraph_marker` TextElement.\nIn other words, a TextRun will never span multiple paragraphs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"autoText":{"$ref":"AutoText","additionalProperties":null,"annotations":null,"default":null,"description":"A TextElement representing a spot in the text that is dynamically\nreplaced with content that can change over time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"paragraphMarker":{"$ref":"ParagraphMarker","additionalProperties":null,"annotations":null,"default":null,"description":"A marker representing the beginning of a new paragraph.\n\nThe `start_index` and `end_index` of this TextElement represent the\nrange of the paragraph. Other TextElements with an index range contained\ninside this paragraph's range are considered to be part of this\nparagraph. The range of indices of two separate paragraphs will never\noverlap.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"endIndex":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The zero-based end index of this text element, exclusive, in Unicode code\nunits.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"startIndex":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The zero-based start index of this text element, in Unicode code units.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Dimension":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A magnitude in a single direction in the specified units.","enum":null,"enumDescriptions":null,"format":null,"id":"Dimension","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"magnitude":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The magnitude.","enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"unit":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The units for magnitude.","enum":["UNIT_UNSPECIFIED","EMU","PT"],"enumDescriptions":["The units are unknown.","An English Metric Unit (EMU) is defined as 1/360,000 of a centimeter\nand thus there are 914,400 EMUs per inch, and 12,700 EMUs per point.","A point, 1/72 of an inch."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LineFill":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The fill of the line.","enum":null,"enumDescriptions":null,"format":null,"id":"LineFill","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"solidFill":{"$ref":"SolidFill","additionalProperties":null,"annotations":null,"default":null,"description":"Solid color fill.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"VideoProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The properties of the Video.","enum":null,"enumDescriptions":null,"format":null,"id":"VideoProperties","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"outline":{"$ref":"Outline","additionalProperties":null,"annotations":null,"default":null,"description":"The outline of the video. The default outline matches the defaults for new\nvideos created in the Slides editor.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"InsertTableRowsRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Inserts rows into a table.","enum":null,"enumDescriptions":null,"format":null,"id":"InsertTableRowsRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"insertBelow":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to insert new rows below the reference cell location.\n\n- `True`: insert below the cell.\n- `False`: insert above the cell.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"number":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The number of rows to be inserted. Maximum 20 per request.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"cellLocation":{"$ref":"TableCellLocation","additionalProperties":null,"annotations":null,"default":null,"description":"The reference table cell location from which rows will be inserted.\n\nA new row will be inserted above (or below) the row where the reference\ncell is. If the reference cell is a merged cell, a new row will be\ninserted above (or below) the merged cell.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"tableObjectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The table to insert rows into.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LayoutProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The properties of Page are only\nrelevant for pages with page_type LAYOUT.","enum":null,"enumDescriptions":null,"format":null,"id":"LayoutProperties","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the layout.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"displayName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The human-readable name of the layout.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"masterObjectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The object ID of the master that this layout is based on.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Presentation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Google Slides presentation.","enum":null,"enumDescriptions":null,"format":null,"id":"Presentation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"presentationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the presentation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"slides":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The slides in the presentation.\nA slide inherits properties from a slide layout.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Page","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"revisionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The revision ID of the presentation. Can be used in update requests\nto assert that the presentation revision hasn't changed since the last\nread operation. Only populated if the user has edit access to the\npresentation.\n\nThe format of the revision ID may change over time, so it should be treated\nopaquely. A returned revision ID is only guaranteed to be valid for 24\nhours after it has been returned and cannot be shared across users. If the\nrevision ID is unchanged between calls, then the presentation has not\nchanged. Conversely, a changed ID (for the same presentation and user)\nusually means the presentation has been updated; however, a changed ID can\nalso be due to internal factors such as ID format changes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"notesMaster":{"$ref":"Page","additionalProperties":null,"annotations":null,"default":null,"description":"The notes master in the presentation. It serves three purposes:\n\n- Placeholder shapes on a notes master contain the default text styles and\n  shape properties of all placeholder shapes on notes pages. Specifically,\n  a `SLIDE_IMAGE` placeholder shape contains the slide thumbnail, and a\n  `BODY` placeholder shape contains the speaker notes.\n- The notes master page properties define the common page properties\n  inherited by all notes pages.\n- Any other shapes on the notes master will appear on all notes pages.\n\nThe notes master is read-only.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"title":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The title of the presentation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"layouts":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The layouts in the presentation. A layout is a template that determines\nhow content is arranged and styled on the slides that inherit from that\nlayout.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Page","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The locale of the presentation, as an IETF BCP 47 language tag.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"masters":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The slide masters in the presentation. A slide master contains all common\npage elements and the common properties for a set of layouts. They serve\nthree purposes:\n\n- Placeholder shapes on a master contain the default text styles and shape\n  properties of all placeholder shapes on pages that use that master.\n- The master page properties define the common page properties inherited by\n  its layouts.\n- Any other shapes on the master slide will appear on all slides using that\n  master, regardless of their layout.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Page","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"pageSize":{"$ref":"Size","additionalProperties":null,"annotations":null,"default":null,"description":"The size of pages in the presentation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LineProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The properties of the Line.\n\nWhen unset, these fields default to values that match the appearance of\nnew lines created in the Slides editor.","enum":null,"enumDescriptions":null,"format":null,"id":"LineProperties","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"weight":{"$ref":"Dimension","additionalProperties":null,"annotations":null,"default":null,"description":"The thickness of the line.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"lineFill":{"$ref":"LineFill","additionalProperties":null,"annotations":null,"default":null,"description":"The fill of the line. The default line fill matches the defaults for new\nlines created in the Slides editor.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"link":{"$ref":"Link","additionalProperties":null,"annotations":null,"default":null,"description":"The hyperlink destination of the line. If unset, there is no link.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"dashStyle":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The dash style of the line.","enum":["DASH_STYLE_UNSPECIFIED","SOLID","DOT","DASH","DASH_DOT","LONG_DASH","LONG_DASH_DOT"],"enumDescriptions":["Unspecified dash style.","Solid line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'solid'.\nThis is the default dash style.","Dotted line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dot'.","Dashed line. Corresponds to ECMA-376 ST_PresetLineDashVal value 'dash'.","Alternating dashes and dots. Corresponds to ECMA-376 ST_PresetLineDashVal\nvalue 'dashDot'.","Line with large dashes. Corresponds to ECMA-376 ST_PresetLineDashVal\nvalue 'lgDash'.","Alternating large dashes and dots. Corresponds to ECMA-376\nST_PresetLineDashVal value 'lgDashDot'."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startArrow":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The style of the arrow at the beginning of the line.","enum":["ARROW_STYLE_UNSPECIFIED","NONE","STEALTH_ARROW","FILL_ARROW","FILL_CIRCLE","FILL_SQUARE","FILL_DIAMOND","OPEN_ARROW","OPEN_CIRCLE","OPEN_SQUARE","OPEN_DIAMOND"],"enumDescriptions":["An unspecified arrow style.","No arrow.","Arrow with notched back. Corresponds to ECMA-376 ST_LineEndType value\n'stealth'.","Filled arrow. Corresponds to ECMA-376 ST_LineEndType value 'triangle'.","Filled circle. Corresponds to ECMA-376 ST_LineEndType value 'oval'.","Filled square.","Filled diamond. Corresponds to ECMA-376 ST_LineEndType value 'diamond'.","Hollow arrow.","Hollow circle.","Hollow square.","Hollow diamond."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"endArrow":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The style of the arrow at the end of the line.","enum":["ARROW_STYLE_UNSPECIFIED","NONE","STEALTH_ARROW","FILL_ARROW","FILL_CIRCLE","FILL_SQUARE","FILL_DIAMOND","OPEN_ARROW","OPEN_CIRCLE","OPEN_SQUARE","OPEN_DIAMOND"],"enumDescriptions":["An unspecified arrow style.","No arrow.","Arrow with notched back. Corresponds to ECMA-376 ST_LineEndType value\n'stealth'.","Filled arrow. Corresponds to ECMA-376 ST_LineEndType value 'triangle'.","Filled circle. Corresponds to ECMA-376 ST_LineEndType value 'oval'.","Filled square.","Filled diamond. Corresponds to ECMA-376 ST_LineEndType value 'diamond'.","Hollow arrow.","Hollow circle.","Hollow square.","Hollow diamond."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OpaqueColor":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A themeable solid color value.","enum":null,"enumDescriptions":null,"format":null,"id":"OpaqueColor","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"rgbColor":{"$ref":"RgbColor","additionalProperties":null,"annotations":null,"default":null,"description":"An opaque RGB color.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"themeColor":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An opaque theme color.","enum":["THEME_COLOR_TYPE_UNSPECIFIED","DARK1","LIGHT1","DARK2","LIGHT2","ACCENT1","ACCENT2","ACCENT3","ACCENT4","ACCENT5","ACCENT6","HYPERLINK","FOLLOWED_HYPERLINK","TEXT1","BACKGROUND1","TEXT2","BACKGROUND2"],"enumDescriptions":["Unspecified theme color. This value should not be used.","Represents the first dark color.","Represents the first light color.","Represents the second dark color.","Represents the second light color.","Represents the first accent color.","Represents the second accent color.","Represents the third accent color.","Represents the fourth accent color.","Represents the fifth accent color.","Represents the sixth accent color.","Represents the color to use for hyperlinks.","Represents the color to use for visited hyperlinks.","Represents the first text color.","Represents the first background color.","Represents the second text color.","Represents the second background color."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ImageProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The properties of the Image.","enum":null,"enumDescriptions":null,"format":null,"id":"ImageProperties","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"brightness":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The brightness effect of the image. The value should be in the interval\n[-1.0, 1.0], where 0 means no effect. This property is read-only.","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"transparency":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The transparency effect of the image. The value should be in the interval\n[0.0, 1.0], where 0 means no effect and 1 means completely transparent.\nThis property is read-only.","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"shadow":{"$ref":"Shadow","additionalProperties":null,"annotations":null,"default":null,"description":"The shadow of the image. If not set, the image has no shadow. This property\nis read-only.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"contrast":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The contrast effect of the image. The value should be in the interval\n[-1.0, 1.0], where 0 means no effect. This property is read-only.","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"link":{"$ref":"Link","additionalProperties":null,"annotations":null,"default":null,"description":"The hyperlink destination of the image. If unset, there is no link.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"cropProperties":{"$ref":"CropProperties","additionalProperties":null,"annotations":null,"default":null,"description":"The crop properties of the image. If not set, the image is not cropped.\nThis property is read-only.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"recolor":{"$ref":"Recolor","additionalProperties":null,"annotations":null,"default":null,"description":"The recolor effect of the image. If not set, the image is not recolored.\nThis property is read-only.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"outline":{"$ref":"Outline","additionalProperties":null,"annotations":null,"default":null,"description":"The outline of the image. If not set, the the image has no outline.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ReplaceAllShapesWithImageResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The result of replacing shapes with an image.","enum":null,"enumDescriptions":null,"format":null,"id":"ReplaceAllShapesWithImageResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"occurrencesChanged":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The number of shapes replaced with images.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Line":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A PageElement kind representing a\nline, curved connector, or bent connector.","enum":null,"enumDescriptions":null,"format":null,"id":"Line","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"lineType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of the line.","enum":["TYPE_UNSPECIFIED","STRAIGHT_CONNECTOR_1","BENT_CONNECTOR_2","BENT_CONNECTOR_3","BENT_CONNECTOR_4","BENT_CONNECTOR_5","CURVED_CONNECTOR_2","CURVED_CONNECTOR_3","CURVED_CONNECTOR_4","CURVED_CONNECTOR_5"],"enumDescriptions":["An unspecified line type.","Straight connector 1 form. Corresponds to ECMA-376 ST_ShapeType\n'straightConnector1'.","Bent connector 2 form. Corresponds to ECMA-376 ST_ShapeType\n'bentConnector2'.","Bent connector 3 form. Corresponds to ECMA-376 ST_ShapeType\n'bentConnector3'.","Bent connector 4 form. Corresponds to ECMA-376 ST_ShapeType\n'bentConnector4'.","Bent connector 5 form. Corresponds to ECMA-376 ST_ShapeType\n'bentConnector5'.","Curved connector 2 form. Corresponds to ECMA-376 ST_ShapeType\n'curvedConnector2'.","Curved connector 3 form. Corresponds to ECMA-376 ST_ShapeType\n'curvedConnector3'.","Curved connector 4 form. Corresponds to ECMA-376 ST_ShapeType\n'curvedConnector4'.","Curved connector 5 form. Corresponds to ECMA-376 ST_ShapeType\n'curvedConnector5'."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"lineProperties":{"$ref":"LineProperties","additionalProperties":null,"annotations":null,"default":null,"description":"The properties of the line.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BatchUpdatePresentationResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response message from a batch update.","enum":null,"enumDescriptions":null,"format":null,"id":"BatchUpdatePresentationResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"replies":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The reply of the updates.  This maps 1:1 with the updates, although\nreplies to some requests may be empty.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Response","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"presentationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The presentation the updates were applied to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CreateSheetsChartRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Creates an embedded Google Sheets chart.\n\nNOTE: Chart creation requires at least one of the spreadsheets.readonly,\nspreadsheets, drive.readonly, or drive OAuth scopes.","enum":null,"enumDescriptions":null,"format":null,"id":"CreateSheetsChartRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"objectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A user-supplied object ID.\n\nIf specified, the ID must be unique among all pages and page elements in\nthe presentation. The ID should start with a word character [a-zA-Z0-9_]\nand then followed by any number of the following characters [a-zA-Z0-9_-:].\nThe length of the ID should not be less than 5 or greater than 50.\nIf empty, a unique identifier will be generated.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"elementProperties":{"$ref":"PageElementProperties","additionalProperties":null,"annotations":null,"default":null,"description":"The element properties for the chart.\n\nWhen the aspect ratio of the provided size does not match the chart aspect\nratio, the chart is scaled and centered with respect to the size in order\nto maintain aspect ratio. The provided transform is applied after this\noperation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"linkingMode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The mode with which the chart is linked to the source spreadsheet. When\nnot specified, the chart will be an image that is not linked.","enum":["NOT_LINKED_IMAGE","LINKED"],"enumDescriptions":["The chart is not associated with the source spreadsheet and cannot be\nupdated. A chart that is not linked will be inserted as an image.","Linking the chart allows it to be updated, and other collaborators will\nsee a link to the spreadsheet."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"spreadsheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Google Sheets spreadsheet that contains the chart.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"chartId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the specific chart in the Google Sheets spreadsheet.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CreateImageResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The result of creating an image.","enum":null,"enumDescriptions":null,"format":null,"id":"CreateImageResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"objectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The object ID of the created image.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SlideProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The properties of Page that are only\nrelevant for pages with page_type SLIDE.","enum":null,"enumDescriptions":null,"format":null,"id":"SlideProperties","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"notesPage":{"$ref":"Page","additionalProperties":null,"annotations":null,"default":null,"description":"The notes page that this slide is associated with. It defines the visual\nappearance of a notes page when printing or exporting slides with speaker\nnotes. A notes page inherits properties from the\nnotes master.\nThe placeholder shape with type BODY on the notes page contains the speaker\nnotes for this slide. The ID of this shape is identified by the\nspeakerNotesObjectId field.\nThe notes page is read-only except for the text content and styles of the\nspeaker notes shape.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"masterObjectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The object ID of the master that this slide is based on.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"layoutObjectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The object ID of the layout that this slide is based on.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Response":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A single response from an update.","enum":null,"enumDescriptions":null,"format":null,"id":"Response","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"createVideo":{"$ref":"CreateVideoResponse","additionalProperties":null,"annotations":null,"default":null,"description":"The result of creating a video.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"createSheetsChart":{"$ref":"CreateSheetsChartResponse","additionalProperties":null,"annotations":null,"default":null,"description":"The result of creating a Google Sheets chart.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"replaceAllShapesWithSheetsChart":{"$ref":"ReplaceAllShapesWithSheetsChartResponse","additionalProperties":null,"annotations":null,"default":null,"description":"The result of replacing all shapes matching some criteria with a Google\nSheets chart.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"replaceAllShapesWithImage":{"$ref":"ReplaceAllShapesWithImageResponse","additionalProperties":null,"annotations":null,"default":null,"description":"The result of replacing all shapes matching some criteria with an\nimage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"createTable":{"$ref":"CreateTableResponse","additionalProperties":null,"annotations":null,"default":null,"description":"The result of creating a table.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"replaceAllText":{"$ref":"ReplaceAllTextResponse","additionalProperties":null,"annotations":null,"default":null,"description":"The result of replacing text.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"createSlide":{"$ref":"CreateSlideResponse","additionalProperties":null,"annotations":null,"default":null,"description":"The result of creating a slide.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"createShape":{"$ref":"CreateShapeResponse","additionalProperties":null,"annotations":null,"default":null,"description":"The result of creating a shape.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"duplicateObject":{"$ref":"DuplicateObjectResponse","additionalProperties":null,"annotations":null,"default":null,"description":"The result of duplicating an object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"createLine":{"$ref":"CreateLineResponse","additionalProperties":null,"annotations":null,"default":null,"description":"The result of creating a line.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"createImage":{"$ref":"CreateImageResponse","additionalProperties":null,"annotations":null,"default":null,"description":"The result of creating an image.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"MasterProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The properties of Page that are only\nrelevant for pages with page_type MASTER.","enum":null,"enumDescriptions":null,"format":null,"id":"MasterProperties","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"displayName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The human-readable name of the master.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TextRun":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A TextElement kind that represents a run of text that all has the same\nstyling.","enum":null,"enumDescriptions":null,"format":null,"id":"TextRun","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"style":{"$ref":"TextStyle","additionalProperties":null,"annotations":null,"default":null,"description":"The styling applied to this run.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"content":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The text of this run.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LayoutReference":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Slide layout reference. This may reference either:\n\n- A predefined layout\n- One of the layouts in the presentation.","enum":null,"enumDescriptions":null,"format":null,"id":"LayoutReference","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"layoutId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Layout ID: the object ID of one of the layouts in the presentation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"predefinedLayout":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Predefined layout.","enum":["PREDEFINED_LAYOUT_UNSPECIFIED","BLANK","CAPTION_ONLY","TITLE","TITLE_AND_BODY","TITLE_AND_TWO_COLUMNS","TITLE_ONLY","SECTION_HEADER","SECTION_TITLE_AND_DESCRIPTION","ONE_COLUMN_TEXT","MAIN_POINT","BIG_NUMBER"],"enumDescriptions":["Unspecified layout.","Blank layout, with no placeholders.","Layout with a caption at the bottom.","Layout with a title and a subtitle.","Layout with a title and body.","Layout with a title and two columns.","Layout with only a title.","Layout with a section title.","Layout with a title and subtitle on one side and description on the other.","Layout with one title and one body, arranged in a single column.","Layout with a main point.","Layout with a big number heading."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SubstringMatchCriteria":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A criteria that matches a specific string of text in a shape or table.","enum":null,"enumDescriptions":null,"format":null,"id":"SubstringMatchCriteria","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"text":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The text to search for in the shape or table.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"matchCase":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Indicates whether the search should respect case:\n\n- `True`: the search is case sensitive.\n- `False`: the search is case insensitive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TableRange":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A table range represents a reference to a subset of a table.\n\nIt's important to note that the cells specified by a table range do not\nnecessarily form a rectangle. For example, let's say we have a 3 x 3 table\nwhere all the cells of the last row are merged together. The table looks\nlike this:\n\n           \n  [             ]\n\nA table range with location = (0, 0), row span = 3 and column span = 2\nspecifies the following cells:\n\n   x     x \n  [      x      ]","enum":null,"enumDescriptions":null,"format":null,"id":"TableRange","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"columnSpan":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The column span of the table range.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"rowSpan":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The row span of the table range.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"location":{"$ref":"TableCellLocation","additionalProperties":null,"annotations":null,"default":null,"description":"The starting location of the table range.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CreateTableResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The result of creating a table.","enum":null,"enumDescriptions":null,"format":null,"id":"CreateTableResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"objectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The object ID of the created table.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CreateTableRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Creates a new table.","enum":null,"enumDescriptions":null,"format":null,"id":"CreateTableRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"rows":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of rows in the table.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"columns":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of columns in the table.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"objectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A user-supplied object ID.\n\nIf you specify an ID, it must be unique among all pages and page elements\nin the presentation. The ID must start with an alphanumeric character or an\nunderscore (matches regex `[a-zA-Z0-9_]`); remaining characters\nmay include those as well as a hyphen or colon (matches regex\n`[a-zA-Z0-9_-:]`).\nThe length of the ID must not be less than 5 or greater than 50.\n\nIf you don't specify an ID, a unique one is generated.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"elementProperties":{"$ref":"PageElementProperties","additionalProperties":null,"annotations":null,"default":null,"description":"The element properties for the table.\n\nThe table will be created at the provided size, subject to a minimum size.\nIf no size is provided, the table will be automatically sized.\n\nTable transforms must have a scale of 1 and no shear components. If no\ntransform is provided, the table will be centered on the page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Table":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A PageElement kind representing a\ntable.","enum":null,"enumDescriptions":null,"format":null,"id":"Table","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"rows":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of rows in the table.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"tableColumns":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of each column.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"TableColumnProperties","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"columns":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of columns in the table.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"tableRows":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties and contents of each row.\n\nCells that span multiple rows are contained in only one of these rows and\nhave a row_span greater\nthan 1.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"TableRow","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"PageBackgroundFill":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The page background fill.","enum":null,"enumDescriptions":null,"format":null,"id":"PageBackgroundFill","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"propertyState":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The background fill property state.\n\nUpdating the fill on a page will implicitly update this field to\n`RENDERED`, unless another value is specified in the same request. To\nhave no fill on a page, set this field to `NOT_RENDERED`. In this case,\nany other fill fields set in the same request will be ignored.","enum":["RENDERED","NOT_RENDERED","INHERIT"],"enumDescriptions":["If a property's state is RENDERED, then the element has the corresponding\nproperty when rendered on a page. If the element is a placeholder shape as\ndetermined by the placeholder\nfield, and it inherits from a placeholder shape, the corresponding field\nmay be unset, meaning that the property value is inherited from a parent\nplaceholder. If the element does not inherit, then the field will contain\nthe rendered value. This is the default value.","If a property's state is NOT_RENDERED, then the element does not have the\ncorresponding property when rendered on a page. However, the field may\nstill be set so it can be inherited by child shapes. To remove a property\nfrom a rendered element, set its property_state to NOT_RENDERED.","If a property's state is INHERIT, then the property state uses the value of\ncorresponding `property_state` field on the parent shape. Elements that do\nnot inherit will never have an INHERIT property state."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"stretchedPictureFill":{"$ref":"StretchedPictureFill","additionalProperties":null,"annotations":null,"default":null,"description":"Stretched picture fill.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"solidFill":{"$ref":"SolidFill","additionalProperties":null,"annotations":null,"default":null,"description":"Solid color fill.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SheetsChart":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A PageElement kind representing\na linked chart embedded from Google Sheets.","enum":null,"enumDescriptions":null,"format":null,"id":"SheetsChart","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"chartId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the specific chart in the Google Sheets spreadsheet that is\nembedded.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"sheetsChartProperties":{"$ref":"SheetsChartProperties","additionalProperties":null,"annotations":null,"default":null,"description":"The properties of the Sheets chart.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"contentUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL of an image of the embedded chart, with a default lifetime of 30\nminutes. This URL is tagged with the account of the requester. Anyone with\nthe URL effectively accesses the image as the original requester. Access to\nthe image may be lost if the presentation's sharing settings change.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"spreadsheetId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Google Sheets spreadsheet that contains the source chart.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SolidFill":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A solid color fill. The page or page element is filled entirely with the\nspecified color value.\n\nIf any field is unset, its value may be inherited from a parent placeholder\nif it exists.","enum":null,"enumDescriptions":null,"format":null,"id":"SolidFill","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"alpha":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The fraction of this `color` that should be applied to the pixel.\nThat is, the final pixel color is defined by the equation:\n\n  pixel color = alpha * (color) + (1.0 - alpha) * (background color)\n\nThis means that a value of 1.0 corresponds to a solid color, whereas\na value of 0.0 corresponds to a completely transparent color.","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"color":{"$ref":"OpaqueColor","additionalProperties":null,"annotations":null,"default":null,"description":"The color value of the solid fill.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ThemeColorPair":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A pair mapping a theme color type to the concrete color it represents.","enum":null,"enumDescriptions":null,"format":null,"id":"ThemeColorPair","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"color":{"$ref":"RgbColor","additionalProperties":null,"annotations":null,"default":null,"description":"The concrete color corresponding to the theme color type above.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of the theme color.","enum":["THEME_COLOR_TYPE_UNSPECIFIED","DARK1","LIGHT1","DARK2","LIGHT2","ACCENT1","ACCENT2","ACCENT3","ACCENT4","ACCENT5","ACCENT6","HYPERLINK","FOLLOWED_HYPERLINK","TEXT1","BACKGROUND1","TEXT2","BACKGROUND2"],"enumDescriptions":["Unspecified theme color. This value should not be used.","Represents the first dark color.","Represents the first light color.","Represents the second dark color.","Represents the second light color.","Represents the first accent color.","Represents the second accent color.","Represents the third accent color.","Represents the fourth accent color.","Represents the fifth accent color.","Represents the sixth accent color.","Represents the color to use for hyperlinks.","Represents the color to use for visited hyperlinks.","Represents the first text color.","Represents the first background color.","Represents the second text color.","Represents the second background color."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"OptionalColor":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A color that can either be fully opaque or fully transparent.","enum":null,"enumDescriptions":null,"format":null,"id":"OptionalColor","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"opaqueColor":{"$ref":"OpaqueColor","additionalProperties":null,"annotations":null,"default":null,"description":"If set, this will be used as an opaque color. If unset, this represents\na transparent color.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"PageElementProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Common properties for a page element.\n\nNote: When you initially create a\nPageElement, the API may modify\nthe values of both `size` and `transform`, but the\nvisual size will be unchanged.","enum":null,"enumDescriptions":null,"format":null,"id":"PageElementProperties","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"transform":{"$ref":"AffineTransform","additionalProperties":null,"annotations":null,"default":null,"description":"The transform for the element.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"pageObjectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The object ID of the page where the element is located.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"size":{"$ref":"Size","additionalProperties":null,"annotations":null,"default":null,"description":"The size of the element.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SheetsChartProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The properties of the SheetsChart.","enum":null,"enumDescriptions":null,"format":null,"id":"SheetsChartProperties","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"chartImageProperties":{"$ref":"ImageProperties","additionalProperties":null,"annotations":null,"default":null,"description":"The properties of the embedded chart image.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"StretchedPictureFill":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The stretched picture fill. The page or page element is filled entirely with\nthe specified picture. The picture is stretched to fit its container.","enum":null,"enumDescriptions":null,"format":null,"id":"StretchedPictureFill","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"contentUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Reading the content_url:\n\nAn URL to a picture with a default lifetime of 30 minutes.\nThis URL is tagged with the account of the requester. Anyone with the URL\neffectively accesses the picture as the original requester. Access to the\npicture may be lost if the presentation's sharing settings change.\n\nWriting the content_url:\n\nThe picture is fetched once at insertion time and a copy is stored for\ndisplay inside the presentation. Pictures must be less than 50MB in size,\ncannot exceed 25 megapixels, and must be in either in PNG, JPEG, or GIF\nformat.\n\nThe provided URL can be at maximum 2K bytes large.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"size":{"$ref":"Size","additionalProperties":null,"annotations":null,"default":null,"description":"The original size of the picture fill. This field is read-only.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DeleteTableColumnRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Deletes a column from a table.","enum":null,"enumDescriptions":null,"format":null,"id":"DeleteTableColumnRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"cellLocation":{"$ref":"TableCellLocation","additionalProperties":null,"annotations":null,"default":null,"description":"The reference table cell location from which a column will be deleted.\n\nThe column this cell spans will be deleted. If this is a merged cell,\nmultiple columns will be deleted. If no columns remain in the table after\nthis deletion, the whole table is deleted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"tableObjectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The table to delete columns from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UpdateTextStyleRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Update the styling of text in a Shape or\nTable.","enum":null,"enumDescriptions":null,"format":null,"id":"UpdateTextStyleRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"style":{"$ref":"TextStyle","additionalProperties":null,"annotations":null,"default":null,"description":"The style(s) to set on the text.\n\nIf the value for a particular style matches that of the parent, that style\nwill be set to inherit.\n\nCertain text style changes may cause other changes meant to mirror the\nbehavior of the Slides editor. See the documentation of\nTextStyle for more information.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"cellLocation":{"$ref":"TableCellLocation","additionalProperties":null,"annotations":null,"default":null,"description":"The location of the cell in the table containing the text to style. If\n`object_id` refers to a table, `cell_location` must have a value.\nOtherwise, it must not.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The fields that should be updated.\n\nAt least one field must be specified. The root `style` is implied and\nshould not be specified. A single `\"*\"` can be used as short-hand for\nlisting every field.\n\nFor example, to update the text style to bold, set `fields` to `\"bold\"`.\n\nTo reset a property to its default value, include its field name in the\nfield mask but leave the field itself unset.","enum":null,"enumDescriptions":null,"format":"google-fieldmask","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"textRange":{"$ref":"Range","additionalProperties":null,"annotations":null,"default":null,"description":"The range of text to style.\n\nThe range may be extended to include adjacent newlines.\n\nIf the range fully contains a paragraph belonging to a list, the\nparagraph's bullet is also updated with the matching text style.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"objectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The object ID of the shape or table with the text to be styled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"List":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A List describes the look and feel of bullets belonging to paragraphs\nassociated with a list. A paragraph that is part of a list has an implicit\nreference to that list's ID.","enum":null,"enumDescriptions":null,"format":null,"id":"List","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"listId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the list.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nestingLevel":{"$ref":null,"additionalProperties":{"$ref":"NestingLevel","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"annotations":null,"default":null,"description":"A map of nesting levels to the properties of bullets at the associated\nlevel. A list has at most nine levels of nesting, so the possible values\nfor the keys of this map are 0 through 8, inclusive.
[...]
