{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"},"https://www.googleapis.com/auth/spanner.admin":{"description":"Administer your Spanner databases"},"https://www.googleapis.com/auth/spanner.data":{"description":"View and manage the contents of your Spanner databases"}}}},"basePath":"","baseUrl":"https://spanner.googleapis.com/","batchPath":"batch","canonicalName":"Spanner","description":"Cloud Spanner is a managed, mission-critical, globally consistent and scalable relational database service.","discoveryVersion":"v1","documentationLink":"https://cloud.google.com/spanner/","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"spanner:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"spanner","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"projects":{"methods":null,"resources":{"instances":{"methods":{"delete":{"description":"Deletes an instance.\n\nImmediately upon completion of the request:\n\n  * Billing ceases for all of the instance's reserved resources.\n\nSoon afterward:\n\n  * The instance and *all of its databases* immediately and\n    irrevocably disappear from the API. All data in the databases\n    is permanently deleted.","etagRequired":null,"httpMethod":"DELETE","id":"spanner.projects.instances.delete","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The name of the instance to be deleted. Values are of the form\n`projects/<project>/instances/<instance>`","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all instances in the given project.","etagRequired":null,"httpMethod":"GET","id":"spanner.projects.instances.list","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If non-empty, `page_token` should contain a\nnext_page_token from a\nprevious ListInstancesResponse.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of instances to be returned in the response. If 0 or less, defaults\nto the server's maximum allowed page size.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The name of the project for which a list of instances is\nrequested. Values are of the form `projects/<project>`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An expression for filtering the results of the request. Filter rules are\ncase insensitive. The fields eligible for filtering are:\n\n  * name\n  * display_name\n  * labels.key where key is the name of a label\n\nSome examples of using filters are:\n\n  * name:* --> The instance has a name.\n  * name:Howl --> The instance's name contains the string \"howl\".\n  * name:HOWL --> Equivalent to above.\n  * NAME:howl --> Equivalent to above.\n  * labels.env:* --> The instance has the label \"env\".\n  * labels.env:dev --> The instance has the label \"env\" and the value of\n                       the label contains the string \"dev\".\n  * name:howl labels.env:dev --> The instance's name contains \"howl\" and\n                                 it has the label \"env\" with its value\n                                 containing \"dev\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/{+parent}/instances","request":null,"response":{"$ref":"ListInstancesResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates an instance and begins preparing it to begin serving. The\nreturned long-running operation\ncan be used to track the progress of preparing the new\ninstance. The instance name is assigned by the caller. If the\nnamed instance already exists, `CreateInstance` returns\n`ALREADY_EXISTS`.\n\nImmediately upon completion of this request:\n\n  * The instance is readable via the API, with all requested attributes\n    but no allocated resources. Its state is `CREATING`.\n\nUntil completion of the returned operation:\n\n  * Cancelling the operation renders the instance immediately unreadable\n    via the API.\n  * The instance can be deleted.\n  * All other attempts to modify the instance are rejected.\n\nUpon completion of the returned operation:\n\n  * Billing for all successfully-allocated resources begins (some types\n    may have lower than the requested levels).\n  * Databases can be created in the instance.\n  * The instance's allocated resource levels are readable via the API.\n  * The instance's state becomes `READY`.\n\nThe returned long-running operation will\nhave a name of the format `<instance_name>/operations/<operation_id>` and\ncan be used to track creation of the instance.  The\nmetadata field type is\nCreateInstanceMetadata.\nThe response field type is\nInstance, if successful.","etagRequired":null,"httpMethod":"POST","id":"spanner.projects.instances.create","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The name of the project in which to create the instance. Values\nare of the form `projects/<project>`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+parent}/instances","request":{"$ref":"CreateInstanceRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"setIamPolicy":{"description":"Sets the access control policy on an instance resource. Replaces any\nexisting policy.\n\nAuthorization requires `spanner.instances.setIamPolicy` on\nresource.","etagRequired":null,"httpMethod":"POST","id":"spanner.projects.instances.setIamPolicy","mediaUpload":null,"parameterOrder":["resource"],"parameters":{"resource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"REQUIRED: The Cloud Spanner resource for which the policy is being set. The format is `projects/<project ID>/instances/<instance ID>` for instance resources and `projects/<project ID>/instances/<instance ID>/databases/<database ID>` for databases resources.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+resource}:setIamPolicy","request":{"$ref":"SetIamPolicyRequest","parameterName":null},"response":{"$ref":"Policy"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getIamPolicy":{"description":"Gets the access control policy for an instance resource. Returns an empty\npolicy if an instance exists but does not have a policy set.\n\nAuthorization requires `spanner.instances.getIamPolicy` on\nresource.","etagRequired":null,"httpMethod":"POST","id":"spanner.projects.instances.getIamPolicy","mediaUpload":null,"parameterOrder":["resource"],"parameters":{"resource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"REQUIRED: The Cloud Spanner resource for which the policy is being retrieved. The format is `projects/<project ID>/instances/<instance ID>` for instance resources and `projects/<project ID>/instances/<instance ID>/databases/<database ID>` for database resources.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+resource}:getIamPolicy","request":{"$ref":"GetIamPolicyRequest","parameterName":null},"response":{"$ref":"Policy"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets information about a particular instance.","etagRequired":null,"httpMethod":"GET","id":"spanner.projects.instances.get","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The name of the requested instance. Values are of the form\n`projects/<project>/instances/<instance>`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Instance"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an instance, and begins allocating or releasing resources\nas requested. The returned long-running\noperation can be used to track the\nprogress of updating the instance. If the named instance does not\nexist, returns `NOT_FOUND`.\n\nImmediately upon completion of this request:\n\n  * For resource types for which a decrease in the instance's allocation\n    has been requested, billing is based on the newly-requested level.\n\nUntil completion of the returned operation:\n\n  * Cancelling the operation sets its metadata's\n    cancel_time, and begins\n    restoring resources to their pre-request values. The operation\n    is guaranteed to succeed at undoing all resource changes,\n    after which point it terminates with a `CANCELLED` status.\n  * All other attempts to modify the instance are rejected.\n  * Reading the instance via the API continues to give the pre-request\n    resource levels.\n\nUpon completion of the returned operation:\n\n  * Billing begins for all successfully-allocated resources (some types\n    may have lower than the requested levels).\n  * All newly-reserved resources are available for serving the instance's\n    tables.\n  * The instance's new resource levels are readable via the API.\n\nThe returned long-running operation will\nhave a name of the format `<instance_name>/operations/<operation_id>` and\ncan be used to track the instance modification.  The\nmetadata field type is\nUpdateInstanceMetadata.\nThe response field type is\nInstance, if successful.\n\nAuthorization requires `spanner.instances.update` permission on\nresource name.","etagRequired":null,"httpMethod":"PATCH","id":"spanner.projects.instances.patch","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. A unique identifier for the instance, which cannot be changed\nafter the instance is created. Values are of the form\n`projects/<project>/instances/a-z*[a-z0-9]`. The final\nsegment of the name must be between 6 and 30 characters in length.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":{"$ref":"UpdateInstanceRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"testIamPermissions":{"description":"Returns permissions that the caller has on the specified instance resource.\n\nAttempting this RPC on a non-existent Cloud Spanner instance resource will\nresult in a NOT_FOUND error if the user has `spanner.instances.list`\npermission on the containing Google Cloud Project. Otherwise returns an\nempty set of permissions.","etagRequired":null,"httpMethod":"POST","id":"spanner.projects.instances.testIamPermissions","mediaUpload":null,"parameterOrder":["resource"],"parameters":{"resource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"REQUIRED: The Cloud Spanner resource for which permissions are being tested. The format is `projects/<project ID>/instances/<instance ID>` for instance resources and `projects/<project ID>/instances/<instance ID>/databases/<database ID>` for database resources.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+resource}:testIamPermissions","request":{"$ref":"TestIamPermissionsRequest","parameterName":null},"response":{"$ref":"TestIamPermissionsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"databases":{"methods":{"getDdl":{"description":"Returns the schema of a Cloud Spanner database as a list of formatted\nDDL statements. This method does not show pending schema updates, those may\nbe queried using the Operations API.","etagRequired":null,"httpMethod":"GET","id":"spanner.projects.instances.databases.getDdl","mediaUpload":null,"parameterOrder":["database"],"parameters":{"database":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The database whose schema we wish to get.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+database}/ddl","request":null,"response":{"$ref":"GetDatabaseDdlResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists Cloud Spanner databases.","etagRequired":null,"httpMethod":"GET","id":"spanner.projects.instances.databases.list","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If non-empty, `page_token` should contain a\nnext_page_token from a\nprevious ListDatabasesResponse.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of databases to be returned in the response. If 0 or less,\ndefaults to the server's maximum allowed page size.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The instance whose databases should be listed.\nValues are of the form `projects/<project>/instances/<instance>`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+parent}/databases","request":null,"response":{"$ref":"ListDatabasesResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"setIamPolicy":{"description":"Sets the access control policy on a database resource. Replaces any\nexisting policy.\n\nAuthorization requires `spanner.databases.setIamPolicy` permission on\nresource.","etagRequired":null,"httpMethod":"POST","id":"spanner.projects.instances.databases.setIamPolicy","mediaUpload":null,"parameterOrder":["resource"],"parameters":{"resource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"REQUIRED: The Cloud Spanner resource for which the policy is being set. The format is `projects/<project ID>/instances/<instance ID>` for instance resources and `projects/<project ID>/instances/<instance ID>/databases/<database ID>` for databases resources.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+resource}:setIamPolicy","request":{"$ref":"SetIamPolicyRequest","parameterName":null},"response":{"$ref":"Policy"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates a new Cloud Spanner database and starts to prepare it for serving.\nThe returned long-running operation will\nhave a name of the format `<database_name>/operations/<operation_id>` and\ncan be used to track preparation of the database. The\nmetadata field type is\nCreateDatabaseMetadata. The\nresponse field type is\nDatabase, if successful.","etagRequired":null,"httpMethod":"POST","id":"spanner.projects.instances.databases.create","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The name of the instance that will serve the new database.\nValues are of the form `projects/<project>/instances/<instance>`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+parent}/databases","request":{"$ref":"CreateDatabaseRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getIamPolicy":{"description":"Gets the access control policy for a database resource. Returns an empty\npolicy if a database exists but does not have a policy set.\n\nAuthorization requires `spanner.databases.getIamPolicy` permission on\nresource.","etagRequired":null,"httpMethod":"POST","id":"spanner.projects.instances.databases.getIamPolicy","mediaUpload":null,"parameterOrder":["resource"],"parameters":{"resource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"REQUIRED: The Cloud Spanner resource for which the policy is being retrieved. The format is `projects/<project ID>/instances/<instance ID>` for instance resources and `projects/<project ID>/instances/<instance ID>/databases/<database ID>` for database resources.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+resource}:getIamPolicy","request":{"$ref":"GetIamPolicyRequest","parameterName":null},"response":{"$ref":"Policy"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets the state of a Cloud Spanner database.","etagRequired":null,"httpMethod":"GET","id":"spanner.projects.instances.databases.get","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The name of the requested database. Values are of the form\n`projects/<project>/instances/<instance>/databases/<database>`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Database"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"dropDatabase":{"description":"Drops (aka deletes) a Cloud Spanner database.","etagRequired":null,"httpMethod":"DELETE","id":"spanner.projects.instances.databases.dropDatabase","mediaUpload":null,"parameterOrder":["database"],"parameters":{"database":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The database to be dropped.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+database}","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"updateDdl":{"description":"Updates the schema of a Cloud Spanner database by\ncreating/altering/dropping tables, columns, indexes, etc. The returned\nlong-running operation will have a name of\nthe format `<database_name>/operations/<operation_id>` and can be used to\ntrack execution of the schema change(s). The\nmetadata field type is\nUpdateDatabaseDdlMetadata.  The operation has no response.","etagRequired":null,"httpMethod":"PATCH","id":"spanner.projects.instances.databases.updateDdl","mediaUpload":null,"parameterOrder":["database"],"parameters":{"database":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The database to update.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+database}/ddl","request":{"$ref":"UpdateDatabaseDdlRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"testIamPermissions":{"description":"Returns permissions that the caller has on the specified database resource.\n\nAttempting this RPC on a non-existent Cloud Spanner database will result in\na NOT_FOUND error if the user has `spanner.databases.list` permission on\nthe containing Cloud Spanner instance. Otherwise returns an empty set of\npermissions.","etagRequired":null,"httpMethod":"POST","id":"spanner.projects.instances.databases.testIamPermissions","mediaUpload":null,"parameterOrder":["resource"],"parameters":{"resource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"REQUIRED: The Cloud Spanner resource for which permissions are being tested. The format is `projects/<project ID>/instances/<instance ID>` for instance resources and `projects/<project ID>/instances/<instance ID>/databases/<database ID>` for database resources.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+resource}:testIamPermissions","request":{"$ref":"TestIamPermissionsRequest","parameterName":null},"response":{"$ref":"TestIamPermissionsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"operations":{"methods":{"cancel":{"description":"Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of 1,\ncorresponding to `Code.CANCELLED`.","etagRequired":null,"httpMethod":"POST","id":"spanner.projects.instances.databases.operations.cancel","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation resource to be cancelled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+/operations/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}:cancel","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a long-running operation. This method indicates that the client is\nno longer interested in the operation result. It does not cancel the\noperation. If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.","etagRequired":null,"httpMethod":"DELETE","id":"spanner.projects.instances.databases.operations.delete","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation resource to be deleted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+/operations/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding allows API services to override the binding\nto use different resource name schemes, such as `users/*/operations`. To\noverride the binding, API services can add a binding such as\n`\"/v1/{name=users/*}/operations\"` to their service configuration.\nFor backwards compatibility, the default name includes the operations\ncollection id, however overriding users must ensure the name binding\nis the parent resource, without the operations collection id.","etagRequired":null,"httpMethod":"GET","id":"spanner.projects.instances.databases.operations.list","mediaUpload":null,"parameterOrder":["name"],"parameters":{"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The standard list filter.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation's parent resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+/operations$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The standard list page token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The standard list page size.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"ListOperationsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.","etagRequired":null,"httpMethod":"GET","id":"spanner.projects.instances.databases.operations.get","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+/operations/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"sessions":{"methods":{"commit":{"description":"Commits a transaction. The request includes the mutations to be\napplied to rows in the database.\n\n`Commit` might return an `ABORTED` error. This can occur at any time;\ncommonly, the cause is conflicts with concurrent\ntransactions. However, it can also happen for a variety of other\nreasons. If `Commit` returns `ABORTED`, the caller should re-attempt\nthe transaction from the beginning, re-using the same session.","etagRequired":null,"httpMethod":"POST","id":"spanner.projects.instances.databases.sessions.commit","mediaUpload":null,"parameterOrder":["session"],"parameters":{"session":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The session in which the transaction to be committed is running.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+session}:commit","request":{"$ref":"CommitRequest","parameterName":null},"response":{"$ref":"CommitResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.data"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"beginTransaction":{"description":"Begins a new transaction. This step can often be skipped:\nRead, ExecuteSql and\nCommit can begin a new transaction as a\nside-effect.","etagRequired":null,"httpMethod":"POST","id":"spanner.projects.instances.databases.sessions.beginTransaction","mediaUpload":null,"parameterOrder":["session"],"parameters":{"session":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The session in which the transaction runs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+session}:beginTransaction","request":{"$ref":"BeginTransactionRequest","parameterName":null},"response":{"$ref":"Transaction"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.data"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"executeStreamingSql":{"description":"Like ExecuteSql, except returns the result\nset as a stream. Unlike ExecuteSql, there\nis no limit on the size of the returned result set. However, no\nindividual row in the result set can exceed 100 MiB, and no\ncolumn value can exceed 10 MiB.","etagRequired":null,"httpMethod":"POST","id":"spanner.projects.instances.databases.sessions.executeStreamingSql","mediaUpload":null,"parameterOrder":["session"],"parameters":{"session":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The session in which the SQL query should be performed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+session}:executeStreamingSql","request":{"$ref":"ExecuteSqlRequest","parameterName":null},"response":{"$ref":"PartialResultSet"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.data"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Ends a session, releasing server resources associated with it.","etagRequired":null,"httpMethod":"DELETE","id":"spanner.projects.instances.databases.sessions.delete","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The name of the session to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.data"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"executeSql":{"description":"Executes an SQL query, returning all rows in a single reply. This\nmethod cannot be used to return a result set larger than 10 MiB;\nif the query yields more data than that, the query fails with\na `FAILED_PRECONDITION` error.\n\nQueries inside read-write transactions might return `ABORTED`. If\nthis occurs, the application should restart the transaction from\nthe beginning. See Transaction for more details.\n\nLarger result sets can be fetched in streaming fashion by calling\nExecuteStreamingSql instead.","etagRequired":null,"httpMethod":"POST","id":"spanner.projects.instances.databases.sessions.executeSql","mediaUpload":null,"parameterOrder":["session"],"parameters":{"session":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The session in which the SQL query should be performed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+session}:executeSql","request":{"$ref":"ExecuteSqlRequest","parameterName":null},"response":{"$ref":"ResultSet"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.data"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all sessions in a given database.","etagRequired":null,"httpMethod":"GET","id":"spanner.projects.instances.databases.sessions.list","mediaUpload":null,"parameterOrder":["database"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If non-empty, `page_token` should contain a\nnext_page_token from a previous\nListSessionsResponse.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of sessions to be returned in the response. If 0 or less, defaults\nto the server's maximum allowed page size.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"database":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The database in which to list sessions.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An expression for filtering the results of the request. Filter rules are\ncase insensitive. The fields eligible for filtering are:\n\n  * labels.key where key is the name of a label\n\nSome examples of using filters are:\n\n  * labels.env:* --> The session has the label \"env\".\n  * labels.env:dev --> The session has the label \"env\" and the value of\n                       the label contains the string \"dev\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/{+database}/sessions","request":null,"response":{"$ref":"ListSessionsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.data"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"streamingRead":{"description":"Like Read, except returns the result set as a\nstream. Unlike Read, there is no limit on the\nsize of the returned result set. However, no individual row in\nthe result set can exceed 100 MiB, and no column value can exceed\n10 MiB.","etagRequired":null,"httpMethod":"POST","id":"spanner.projects.instances.databases.sessions.streamingRead","mediaUpload":null,"parameterOrder":["session"],"parameters":{"session":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The session in which the read should be performed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+session}:streamingRead","request":{"$ref":"ReadRequest","parameterName":null},"response":{"$ref":"PartialResultSet"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.data"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"rollback":{"description":"Rolls back a transaction, releasing any locks it holds. It is a good\nidea to call this for any transaction that includes one or more\nRead or ExecuteSql requests and\nultimately decides not to commit.\n\n`Rollback` returns `OK` if it successfully aborts the transaction, the\ntransaction was already aborted, or the transaction is not\nfound. `Rollback` never returns `ABORTED`.","etagRequired":null,"httpMethod":"POST","id":"spanner.projects.instances.databases.sessions.rollback","mediaUpload":null,"parameterOrder":["session"],"parameters":{"session":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The session in which the transaction to roll back is running.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+session}:rollback","request":{"$ref":"RollbackRequest","parameterName":null},"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.data"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates a new session. A session can be used to perform\ntransactions that read and/or modify data in a Cloud Spanner database.\nSessions are meant to be reused for many consecutive\ntransactions.\n\nSessions can only execute one transaction at a time. To execute\nmultiple concurrent read-write/write-only transactions, create\nmultiple sessions. Note that standalone reads and queries use a\ntransaction internally, and count toward the one transaction\nlimit.\n\nCloud Spanner limits the number of sessions that can exist at any given\ntime; thus, it is a good idea to delete idle and/or unneeded sessions.\nAside from explicit deletes, Cloud Spanner can delete sessions for which no\noperations are sent for more than an hour. If a session is deleted,\nrequests to it return `NOT_FOUND`.\n\nIdle sessions can be kept alive by sending a trivial SQL query\nperiodically, e.g., `\"SELECT 1\"`.","etagRequired":null,"httpMethod":"POST","id":"spanner.projects.instances.databases.sessions.create","mediaUpload":null,"parameterOrder":["database"],"parameters":{"database":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The database in which the new session is created.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+database}/sessions","request":{"$ref":"CreateSessionRequest","parameterName":null},"response":{"$ref":"Session"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.data"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"read":{"description":"Reads rows from the database using key lookups and scans, as a\nsimple key/value style alternative to\nExecuteSql.  This method cannot be used to\nreturn a result set larger than 10 MiB; if the read matches more\ndata than that, the read fails with a `FAILED_PRECONDITION`\nerror.\n\nReads inside read-write transactions might return `ABORTED`. If\nthis occurs, the application should restart the transaction from\nthe beginning. See Transaction for more details.\n\nLarger result sets can be yielded in streaming fashion by calling\nStreamingRead instead.","etagRequired":null,"httpMethod":"POST","id":"spanner.projects.instances.databases.sessions.read","mediaUpload":null,"parameterOrder":["session"],"parameters":{"session":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The session in which the read should be performed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+session}:read","request":{"$ref":"ReadRequest","parameterName":null},"response":{"$ref":"ResultSet"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.data"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a session. Returns `NOT_FOUND` if the session does not exist.\nThis is mainly useful for determining whether a session is still\nalive.","etagRequired":null,"httpMethod":"GET","id":"spanner.projects.instances.databases.sessions.get","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The name of the session to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/databases/[^/]+/sessions/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Session"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.data"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"operations":{"methods":{"cancel":{"description":"Starts asynchronous cancellation on a long-running operation.  The server\nmakes a best effort to cancel the operation, but success is not\nguaranteed.  If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.  Clients can use\nOperations.GetOperation or\nother methods to check whether the cancellation succeeded or whether the\noperation completed despite cancellation. On successful cancellation,\nthe operation is not deleted; instead, it becomes an operation with\nan Operation.error value with a google.rpc.Status.code of 1,\ncorresponding to `Code.CANCELLED`.","etagRequired":null,"httpMethod":"POST","id":"spanner.projects.instances.operations.cancel","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation resource to be cancelled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/operations/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}:cancel","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a long-running operation. This method indicates that the client is\nno longer interested in the operation result. It does not cancel the\noperation. If the server doesn't support this method, it returns\n`google.rpc.Code.UNIMPLEMENTED`.","etagRequired":null,"httpMethod":"DELETE","id":"spanner.projects.instances.operations.delete","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation resource to be deleted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/operations/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists operations that match the specified filter in the request. If the\nserver doesn't support this method, it returns `UNIMPLEMENTED`.\n\nNOTE: the `name` binding allows API services to override the binding\nto use different resource name schemes, such as `users/*/operations`. To\noverride the binding, API services can add a binding such as\n`\"/v1/{name=users/*}/operations\"` to their service configuration.\nFor backwards compatibility, the default name includes the operations\ncollection id, however overriding users must ensure the name binding\nis the parent resource, without the operations collection id.","etagRequired":null,"httpMethod":"GET","id":"spanner.projects.instances.operations.list","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation's parent resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/operations$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The standard list page token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The standard list page size.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The standard list filter.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"ListOperationsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets the latest state of a long-running operation.  Clients can use this\nmethod to poll the operation result at intervals as recommended by the API\nservice.","etagRequired":null,"httpMethod":"GET","id":"spanner.projects.instances.operations.get","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the operation resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instances/[^/]+/operations/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"instanceConfigs":{"methods":{"list":{"description":"Lists the supported instance configurations for a given project.","etagRequired":null,"httpMethod":"GET","id":"spanner.projects.instanceConfigs.list","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If non-empty, `page_token` should contain a\nnext_page_token\nfrom a previous ListInstanceConfigsResponse.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of instance configurations to be returned in the response. If 0 or\nless, defaults to the server's maximum allowed page size.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The name of the project for which a list of supported instance\nconfigurations is requested. Values are of the form\n`projects/<project>`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+parent}/instanceConfigs","request":null,"response":{"$ref":"ListInstanceConfigsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets information about a particular instance configuration.","etagRequired":null,"httpMethod":"GET","id":"spanner.projects.instanceConfigs.get","mediaUpload":null,"parameterOrder":["name"],"parameters":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The name of the requested instance configuration. Values are of\nthe form `projects/<project>/instanceConfigs/<config>`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^projects/[^/]+/instanceConfigs/[^/]+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/{+name}","request":null,"response":{"$ref":"InstanceConfig"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/spanner.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"revision":"20170914","rootUrl":"https://spanner.googleapis.com/","schemas":{"RollbackRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The request for Rollback.","enum":null,"enumDescriptions":null,"format":null,"id":"RollbackRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"transactionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The transaction to roll back.","enum":null,"enumDescriptions":null,"format":"byte","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Transaction":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A transaction.","enum":null,"enumDescriptions":null,"format":null,"id":"Transaction","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"readTimestamp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For snapshot read-only transactions, the read timestamp chosen\nfor the transaction. Not returned by default: see\nTransactionOptions.ReadOnly.return_read_timestamp.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"`id` may be used to identify the transaction in subsequent\nRead,\nExecuteSql,\nCommit, or\nRollback calls.\n\nSingle-use read-only transactions do not have IDs, because\nsingle-use transactions do not support multiple requests.","enum":null,"enumDescriptions":null,"format":"byte","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UpdateDatabaseDdlMetadata":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Metadata type for the operation returned by\nUpdateDatabaseDdl.","enum":null,"enumDescriptions":null,"format":null,"id":"UpdateDatabaseDdlMetadata","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"statements":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For an update this list contains all the statements. For an\nindividual statement, this list contains only that statement.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"commitTimestamps":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Reports the commit timestamps of all statements that have\nsucceeded so far, where `commit_timestamps[i]` is the commit\ntimestamp for the statement `statements[i]`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"database":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The database being modified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"QueryPlan":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Contains an ordered list of nodes appearing in the query plan.","enum":null,"enumDescriptions":null,"format":null,"id":"QueryPlan","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"planNodes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The nodes in the query plan. Plan nodes are returned in pre-order starting\nwith the plan root. Each PlanNode's `id` corresponds to its index in\n`plan_nodes`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"PlanNode","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"StructType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"`StructType` defines the fields of a STRUCT type.","enum":null,"enumDescriptions":null,"format":null,"id":"StructType","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of fields that make up this struct. Order is\nsignificant, because values of this struct type are represented as\nlists, where the order of field values matches the order of\nfields in the StructType. In turn, the order of fields\nmatches the order of columns in a read request, or the order of\nfields in the `SELECT` clause of a query.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Field","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Field":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Message representing a single field of a struct.","enum":null,"enumDescriptions":null,"format":null,"id":"Field","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the field. For reads, this is the column name. For\nSQL queries, it is the column alias (e.g., `\"Word\"` in the\nquery `\"SELECT 'hello' AS Word\"`), or the column name (e.g.,\n`\"ColName\"` in the query `\"SELECT ColName FROM Table\"`). Some\ncolumns might have an empty name (e.g., !\"SELECT\nUPPER(ColName)\"`). Note that a query result can contain\nmultiple fields with the same name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":"Type","additionalProperties":null,"annotations":null,"default":null,"description":"The type of the field.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ResultSetStats":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Additional statistics about a ResultSet or PartialResultSet.","enum":null,"enumDescriptions":null,"format":null,"id":"ResultSetStats","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"queryPlan":{"$ref":"QueryPlan","additionalProperties":null,"annotations":null,"default":null,"description":"QueryPlan for the query associated with this result.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"queryStats":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of the object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"annotations":null,"default":null,"description":"Aggregated statistics from the execution of the query. Only present when\nthe query is profiled. For example, a query could return the statistics as\nfollows:\n\n    {\n      \"rows_returned\": \"3\",\n      \"elapsed_time\": \"1.22 secs\",\n      \"cpu_time\": \"1.19 secs\"\n    }","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TestIamPermissionsRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request message for `TestIamPermissions` method.","enum":null,"enumDescriptions":null,"format":null,"id":"TestIamPermissionsRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"permissions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"REQUIRED: The set of permissions to check for 'resource'.\nPermissions with wildcards (such as '*', 'spanner.*', 'spanner.instances.*') are not allowed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CommitResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response for Commit.","enum":null,"enumDescriptions":null,"format":null,"id":"CommitResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"commitTimestamp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Cloud Spanner timestamp at which the transaction committed.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"`Type` indicates the type of a Cloud Spanner value, as might be stored in a\ntable cell or returned from an SQL query.","enum":null,"enumDescriptions":null,"format":null,"id":"Type","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"structType":{"$ref":"StructType","additionalProperties":null,"annotations":null,"default":null,"description":"If code == STRUCT, then `struct_type`\nprovides type information for the struct's fields.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"arrayElementType":{"$ref":"Type","additionalProperties":null,"annotations":null,"default":null,"description":"If code == ARRAY, then `array_element_type`\nis the type of the array elements.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"code":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The TypeCode for this type.","enum":["TYPE_CODE_UNSPECIFIED","BOOL","INT64","FLOAT64","TIMESTAMP","DATE","STRING","BYTES","ARRAY","STRUCT"],"enumDescriptions":["Not specified.","Encoded as JSON `true` or `false`.","Encoded as `string`, in decimal format.","Encoded as `number`, or the strings `\"NaN\"`, `\"Infinity\"`, or\n`\"-Infinity\"`.","Encoded as `string` in RFC 3339 timestamp format. The time zone\nmust be present, and must be `\"Z\"`.","Encoded as `string` in RFC 3339 date format.","Encoded as `string`.","Encoded as a base64-encoded `string`, as described in RFC 4648,\nsection 4.","Encoded as `list`, where the list elements are represented\naccording to array_element_type.","Encoded as `list`, where list element `i` is represented according\nto [struct_type.fields[i]][google.spanner.v1.StructType.fields]."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"PlanNode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Node information for nodes appearing in a QueryPlan.plan_nodes.","enum":null,"enumDescriptions":null,"format":null,"id":"PlanNode","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"childLinks":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of child node `index`es and their relationship to this parent.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ChildLink","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"metadata":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of the object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"annotations":null,"default":null,"description":"Attributes relevant to the node contained in a group of key-value pairs.\nFor example, a Parameter Reference node could have the following\ninformation in its metadata:\n\n    {\n      \"parameter_reference\": \"param1\",\n      \"parameter_type\": \"array\"\n    }","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"executionStats":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of the object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"annotations":null,"default":null,"description":"The execution statistics associated with the node, contained in a group of\nkey-value pairs. Only present if the plan was returned as a result of a\nprofile query. For example, number of executions, number of rows/time per\nexecution etc.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"shortRepresentation":{"$ref":"ShortRepresentation","additionalProperties":null,"annotations":null,"default":null,"description":"Condensed representation for SCALAR nodes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"index":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The `PlanNode`'s index in node list.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Used to determine the type of node. May be needed for visualizing\ndifferent kinds of nodes differently. For example, If the node is a\nSCALAR node, it will have a condensed representation\nwhich can be used to directly embed a description of the node in its\nparent.","enum":["KIND_UNSPECIFIED","RELATIONAL","SCALAR"],"enumDescriptions":["Not specified.","Denotes a Relational operator node in the expression tree. Relational\noperators represent iterative processing of rows during query execution.\nFor example, a `TableScan` operation that reads rows from a table.","Denotes a Scalar node in the expression tree. Scalar nodes represent\nnon-iterable entities in the query plan. For example, constants or\narithmetic operators appearing inside predicate expressions or references\nto column names."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"displayName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The display name for the node.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CreateInstanceMetadata":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Metadata type for the operation returned by\nCreateInstance.","enum":null,"enumDescriptions":null,"format":null,"id":"CreateInstanceMetadata","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"instance":{"$ref":"Instance","additionalProperties":null,"annotations":null,"default":null,"description":"The instance being created.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time at which the\nCreateInstance request was\nreceived.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"cancelTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time at which this operation was cancelled. If set, this operation is\nin the process of undoing itself (which is guaranteed to succeed) and\ncannot be cancelled again.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"endTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time at which this operation failed or was completed successfully.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ChildLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Metadata associated with a parent-child relationship appearing in a\nPlanNode.","enum":null,"enumDescriptions":null,"format":null,"id":"ChildLink","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"childIndex":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The node to which the link points.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"variable":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Only present if the child node is SCALAR and corresponds\nto an output variable of the parent node. The field carries the name of\nthe output variable.\nFor example, a `TableScan` operator that reads rows from a table will\nhave child links to the `SCALAR` nodes representing the output variables\ncreated for each column that is read by the operator. The corresponding\n`variable` fields will be set to the variable names assigned to the\ncolumns.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of the link. For example, in Hash Joins this could be used to\ndistinguish between the build child and the probe child, or in the case\nof the child being an output variable, to represent the tag associated\nwith the output variable.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Delete":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Arguments to delete operations.","enum":null,"enumDescriptions":null,"format":null,"id":"Delete","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"table":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required. The table whose rows will be deleted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"keySet":{"$ref":"KeySet","additionalProperties":null,"annotations":null,"default":null,"description":"Required. The primary keys of the rows within table to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListInstanceConfigsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The response for ListInstanceConfigs.","enum":null,"enumDescriptions":null,"format":null,"id":"ListInstanceConfigsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"`next_page_token` can be sent in a subsequent\nListInstanceConfigs call to\nfetch more of the matching instance configurations.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"instanceConfigs":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of requested instance configurations.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"InstanceConfig","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BeginTransactionRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The request for BeginTransaction.","enum":null,"enumDescriptions":null,"format":null,"id":"BeginTransactionRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"options":{"$ref":"TransactionOptions","additionalProperties":null,"annotations":null,"default":null,"description":"Required. Options for the new transaction.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CommitRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The request for Commit.","enum":null,"enumDescriptions":null,"format":null,"id":"CommitRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"singleUseTransaction":{"$ref":"TransactionOptions","additionalProperties":null,"annotations":null,"default":null,"description":"Execute mutations in a temporary transaction. Note that unlike\ncommit of a previously-started transaction, commit with a\ntemporary transaction is non-idempotent. That is, if the\n`CommitRequest` is sent to Cloud Spanner more than once (for\ninstance, due to retries in the application, or in the\ntransport library), it is possible that the mutations are\nexecuted more than once. If this is undesirable, use\nBeginTransaction and\nCommit instead.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"mutations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The mutations to be executed when this transaction commits. All\nmutations are applied atomically, in the order they appear in\nthis list.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Mutation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"transactionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Commit a previously-started transaction.","enum":null,"enumDescriptions":null,"format":"byte","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TestIamPermissionsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response message for `TestIamPermissions` method.","enum":null,"enumDescriptions":null,"format":null,"id":"TestIamPermissionsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"permissions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GetIamPolicyRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request message for `GetIamPolicy` method.","enum":null,"enumDescriptions":null,"format":null,"id":"GetIamPolicyRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CreateDatabaseMetadata":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Metadata type for the operation returned by\nCreateDatabase.","enum":null,"enumDescriptions":null,"format":null,"id":"CreateDatabaseMetadata","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"database":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The database being created.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListSessionsResponse":{"$ref":null,"additionalProperties":null,"annotations"
[...]
