{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"},"https://www.googleapis.com/auth/sqlservice.admin":{"description":"Manage your Google SQL Service instances"}}}},"basePath":"/sql/v1beta4/","baseUrl":"https://www.googleapis.com/sql/v1beta4/","batchPath":"batch/sqladmin/v1beta4","canonicalName":"SQL Admin","description":"Creates and configures Cloud SQL instances, which provide fully-managed MySQL databases.","discoveryVersion":"v1","documentationLink":"https://cloud.google.com/sql/docs/reference/latest","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/odbYGRT1izLWfRhfVNwcTacV8sM\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png","x32":"https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"},"id":"sqladmin:v1beta4","kind":"discovery#restDescription","labels":null,"methods":null,"name":"sqladmin","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"backupRuns":{"methods":{"delete":{"description":"Deletes the backup taken by a backup run.","etagRequired":null,"httpMethod":"DELETE","id":"sql.backupRuns.delete","mediaUpload":null,"parameterOrder":["project","instance","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Backup Run to delete. To find a Backup Run ID, use the list method.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/backupRuns/{id}","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves a resource containing information about a backup run.","etagRequired":null,"httpMethod":"GET","id":"sql.backupRuns.get","mediaUpload":null,"parameterOrder":["project","instance","id"],"parameters":{"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of this Backup Run.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/backupRuns/{id}","request":null,"response":{"$ref":"BackupRun"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a new backup run on demand. This method is applicable only to Second Generation instances.","etagRequired":null,"httpMethod":"POST","id":"sql.backupRuns.insert","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/backupRuns","request":{"$ref":"BackupRun","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all backup runs associated with a given instance and configuration in the reverse chronological order of the enqueued time.","etagRequired":null,"httpMethod":"GET","id":"sql.backupRuns.list","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of backup runs per response.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A previously-returned page token representing part of the larger set of results to view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/backupRuns","request":null,"response":{"$ref":"BackupRunsListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"databases":{"methods":{"delete":{"description":"Deletes a database from a Cloud SQL instance.","etagRequired":null,"httpMethod":"DELETE","id":"sql.databases.delete","mediaUpload":null,"parameterOrder":["project","instance","database"],"parameters":{"database":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the database to be deleted in the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/databases/{database}","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves a resource containing information about a database inside a Cloud SQL instance.","etagRequired":null,"httpMethod":"GET","id":"sql.databases.get","mediaUpload":null,"parameterOrder":["project","instance","database"],"parameters":{"database":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the database in the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/databases/{database}","request":null,"response":{"$ref":"Database"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Inserts a resource containing information about a database inside a Cloud SQL instance.","etagRequired":null,"httpMethod":"POST","id":"sql.databases.insert","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/databases","request":{"$ref":"Database","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists databases in the specified Cloud SQL instance.","etagRequired":null,"httpMethod":"GET","id":"sql.databases.list","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project for which to list Cloud SQL instances.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/databases","request":null,"response":{"$ref":"DatabasesListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates a resource containing information about a database inside a Cloud SQL instance. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"sql.databases.patch","mediaUpload":null,"parameterOrder":["project","instance","database"],"parameters":{"database":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the database to be updated in the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/databases/{database}","request":{"$ref":"Database","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a resource containing information about a database inside a Cloud SQL instance.","etagRequired":null,"httpMethod":"PUT","id":"sql.databases.update","mediaUpload":null,"parameterOrder":["project","instance","database"],"parameters":{"database":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the database to be updated in the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/databases/{database}","request":{"$ref":"Database","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"flags":{"methods":{"list":{"description":"List all available database flags for Google Cloud SQL instances.","etagRequired":null,"httpMethod":"GET","id":"sql.flags.list","mediaUpload":null,"parameterOrder":null,"parameters":{"databaseVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database version for flag retrieval. Flags are specific to the database version.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"flags","request":null,"response":{"$ref":"FlagsListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"instances":{"methods":{"clone":{"description":"Creates a Cloud SQL instance as a clone of the source instance. The API is not ready for Second Generation instances yet.","etagRequired":null,"httpMethod":"POST","id":"sql.instances.clone","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the source as well as the clone Cloud SQL instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/clone","request":{"$ref":"InstancesCloneRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a Cloud SQL instance.","etagRequired":null,"httpMethod":"DELETE","id":"sql.instances.delete","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance to be deleted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"export":{"description":"Exports data from a Cloud SQL instance to a Google Cloud Storage bucket as a MySQL dump file.","etagRequired":null,"httpMethod":"POST","id":"sql.instances.export","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance to be exported.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/export","request":{"$ref":"InstancesExportRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"failover":{"description":"Failover the instance to its failover replica instance.","etagRequired":null,"httpMethod":"POST","id":"sql.instances.failover","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the project that contains the read replica.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/failover","request":{"$ref":"InstancesFailoverRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves a resource containing information about a Cloud SQL instance.","etagRequired":null,"httpMethod":"GET","id":"sql.instances.get","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}","request":null,"response":{"$ref":"DatabaseInstance"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"import":{"description":"Imports data into a Cloud SQL instance from a MySQL dump file in Google Cloud Storage.","etagRequired":null,"httpMethod":"POST","id":"sql.instances.import","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/import","request":{"$ref":"InstancesImportRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a new Cloud SQL instance.","etagRequired":null,"httpMethod":"POST","id":"sql.instances.insert","mediaUpload":null,"parameterOrder":["project"],"parameters":{"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project to which the newly created Cloud SQL instances should belong.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances","request":{"$ref":"DatabaseInstance","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists instances under a given project in the alphabetical order of the instance name.","etagRequired":null,"httpMethod":"GET","id":"sql.instances.list","mediaUpload":null,"parameterOrder":["project"],"parameters":{"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An expression for filtering the results of the request, such as by name or label.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of results to return per response.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A previously-returned page token representing part of the larger set of results to view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project for which to list Cloud SQL instances.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances","request":null,"response":{"$ref":"InstancesListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates settings of a Cloud SQL instance. Caution: This is not a partial update, so you must include values for all the settings that you want to retain. For partial updates, use patch.. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"sql.instances.patch","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}","request":{"$ref":"DatabaseInstance","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"promoteReplica":{"description":"Promotes the read replica instance to be a stand-alone Cloud SQL instance.","etagRequired":null,"httpMethod":"POST","id":"sql.instances.promoteReplica","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL read replica instance name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the project that contains the read replica.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/promoteReplica","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"resetSslConfig":{"description":"Deletes all client certificates and generates a new server SSL certificate for the instance. The changes will not take effect until the instance is restarted. Existing instances without a server certificate will need to call this once to set a server certificate.","etagRequired":null,"httpMethod":"POST","id":"sql.instances.resetSslConfig","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/resetSslConfig","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"restart":{"description":"Restarts a Cloud SQL instance.","etagRequired":null,"httpMethod":"POST","id":"sql.instances.restart","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance to be restarted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/restart","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"restoreBackup":{"description":"Restores a backup of a Cloud SQL instance.","etagRequired":null,"httpMethod":"POST","id":"sql.instances.restoreBackup","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/restoreBackup","request":{"$ref":"InstancesRestoreBackupRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"startReplica":{"description":"Starts the replication in the read replica instance.","etagRequired":null,"httpMethod":"POST","id":"sql.instances.startReplica","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL read replica instance name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the project that contains the read replica.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/startReplica","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"stopReplica":{"description":"Stops the replication in the read replica instance.","etagRequired":null,"httpMethod":"POST","id":"sql.instances.stopReplica","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL read replica instance name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the project that contains the read replica.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/stopReplica","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"truncateLog":{"description":"Truncate MySQL general and slow query log tables","etagRequired":null,"httpMethod":"POST","id":"sql.instances.truncateLog","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the Cloud SQL project.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/truncateLog","request":{"$ref":"InstancesTruncateLogRequest","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates settings of a Cloud SQL instance. Caution: This is not a partial update, so you must include values for all the settings that you want to retain. For partial updates, use patch.","etagRequired":true,"httpMethod":"PUT","id":"sql.instances.update","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}","request":{"$ref":"DatabaseInstance","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"operations":{"methods":{"get":{"description":"Retrieves an instance operation that has been performed on an instance.","etagRequired":null,"httpMethod":"GET","id":"sql.operations.get","mediaUpload":null,"parameterOrder":["project","operation"],"parameters":{"operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Instance operation ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/operations/{operation}","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all instance operations that have been performed on the given Cloud SQL instance in the reverse chronological order of the start time.","etagRequired":null,"httpMethod":"GET","id":"sql.operations.list","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of operations per response.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A previously-returned page token representing part of the larger set of results to view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/operations","request":null,"response":{"$ref":"OperationsListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"sslCerts":{"methods":{"createEphemeral":{"description":"Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.","etagRequired":null,"httpMethod":"POST","id":"sql.sslCerts.createEphemeral","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the Cloud SQL project.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/createEphemeral","request":{"$ref":"SslCertsCreateEphemeralRequest","parameterName":null},"response":{"$ref":"SslCert"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes the SSL certificate. The change will not take effect until the instance is restarted.","etagRequired":null,"httpMethod":"DELETE","id":"sql.sslCerts.delete","mediaUpload":null,"parameterOrder":["project","instance","sha1Fingerprint"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance to be deleted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sha1Fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Sha1 FingerPrint.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves a particular SSL certificate. Does not include the private key (required for usage). The private key must be saved from the response to initial creation.","etagRequired":null,"httpMethod":"GET","id":"sql.sslCerts.get","mediaUpload":null,"parameterOrder":["project","instance","sha1Fingerprint"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sha1Fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Sha1 FingerPrint.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}","request":null,"response":{"$ref":"SslCert"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates an SSL certificate and returns it along with the private key and server certificate authority. The new certificate will not be usable until the instance is restarted.","etagRequired":null,"httpMethod":"POST","id":"sql.sslCerts.insert","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project to which the newly created Cloud SQL instances should belong.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/sslCerts","request":{"$ref":"SslCertsInsertRequest","parameterName":null},"response":{"$ref":"SslCertsInsertResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all of the current SSL certificates for the instance.","etagRequired":null,"httpMethod":"GET","id":"sql.sslCerts.list","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project for which to list Cloud SQL instances.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/sslCerts","request":null,"response":{"$ref":"SslCertsListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"tiers":{"methods":{"list":{"description":"Lists all available service tiers for Google Cloud SQL, for example D1, D2. For related information, see Pricing.","etagRequired":null,"httpMethod":"GET","id":"sql.tiers.list","mediaUpload":null,"parameterOrder":["project"],"parameters":{"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project for which to list tiers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/tiers","request":null,"response":{"$ref":"TiersListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"users":{"methods":{"delete":{"description":"Deletes a user from a Cloud SQL instance.","etagRequired":null,"httpMethod":"DELETE","id":"sql.users.delete","mediaUpload":null,"parameterOrder":["project","instance","host","name"],"parameters":{"host":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Host of the user in the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the user in the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/users","request":null,"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a new user in a Cloud SQL instance.","etagRequired":null,"httpMethod":"POST","id":"sql.users.insert","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/users","request":{"$ref":"User","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists users in the specified Cloud SQL instance.","etagRequired":null,"httpMethod":"GET","id":"sql.users.list","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/users","request":null,"response":{"$ref":"UsersListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an existing user in a Cloud SQL instance.","etagRequired":null,"httpMethod":"PUT","id":"sql.users.update","mediaUpload":null,"parameterOrder":["project","instance","host","name"],"parameters":{"host":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Host of the user in the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the user in the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/users","request":{"$ref":"User","parameterName":null},"response":{"$ref":"Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20170807","rootUrl":"https://www.googleapis.com/","schemas":{"AclEntry":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An entry for an Access Control list.","enum":null,"enumDescriptions":null,"format":null,"id":"AclEntry","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"expirationTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time when this access control entry expires in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#aclEntry","description":"This is always sql#aclEntry.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An optional label to identify this entry.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The whitelisted value for the access control list.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BackupConfiguration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance backup configuration.","enum":null,"enumDescriptions":null,"format":null,"id":"BackupConfiguration","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"binaryLogEnabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether binary log is enabled. If backup configuration is disabled, binary log must be disabled as well.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"enabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether this configuration is enabled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#backupConfiguration","description":"This is always sql#backupConfiguration.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Start time for the daily backup configuration in UTC timezone in the 24 hour format - HH:MM.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BackupRun":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A database instance backup run resource.","enum":null,"enumDescriptions":null,"format":null,"id":"BackupRun","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The description of this run, only applicable to on-demand backups.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"endTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time the backup operation completed in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"enqueuedTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time the run was enqueued in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"error":{"$ref":"OperationError","additionalProperties":null,"annotations":null,"default":null,"description":"Information about why the backup operation failed. This is only present if the run has the FAILED status.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A unique identifier for this backup run. Note that this is unique only within the scope of a particular Cloud SQL instance.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the database instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#backupRun","description":"This is always sql#backupRun.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"selfLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URI of this resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time the backup operation actually started in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The status of this run.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"windowStartTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The start time of the backup window during which this the backup was attempted in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BackupRunsListResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Backup run list results.","enum":null,"enumDescriptions":null,"format":null,"id":"BackupRunsListResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of backup runs in reverse chronological order of the enqueued time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"BackupRun","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#backupRunsList","description":"This is always sql#backupRunsList.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BinLogCoordinates":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Binary log coordinates.","enum":null,"enumDescriptions":null,"format":null,"id":"BinLogCoordinates","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"binLogFileName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the binary log file for a Cloud SQL instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"binLogPosition":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Position (offset) within the binary log file.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#binLogCoordinates","description":"This is always sql#binLogCoordinates.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CloneContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance clone context.","enum":null,"enumDescriptions":null,"format":null,"id":"CloneContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"binLogCoordinates":{"$ref":"BinLogCoordinates","additionalProperties":null,"annotations":null,"default":null,"description":"Binary log coordinates, if specified, indentify the the position up to which the source instance should be cloned. If not specified, the source instance is cloned up to the most recent binary log coordintes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"destinationInstanceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the Cloud SQL instance to be created as a clone.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#cloneContext","description":"This is always sql#cloneContext.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Database":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A database resource inside a Cloud SQL instance.","enum":null,"enumDescriptions":null,"format":null,"id":"Database","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"charset":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The MySQL charset value.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"collation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The MySQL collation value.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"etag":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"HTTP 1.1 Entity tag for the resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"instance":{"$ref":null,"additionalProperties":null,"annotations":{"required":["sql.databases.insert"]},"default":null,"description":"The name of the Cloud SQL instance. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#database","description":"This is always sql#database.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":{"required":["sql.databases.insert"]},"default":null,"description":"The name of the database in the Cloud SQL instance. This does not include the project ID or instance name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":{"required":["sql.databases.insert"]},"default":null,"description":"The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"selfLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URI of this resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DatabaseFlags":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"MySQL flags for Cloud SQL instances.","enum":null,"enumDescriptions":null,"format":null,"id":"DatabaseFlags","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the flag. These flags are passed at instance startup, so include both MySQL server options and MySQL system variables. Flags should be specified with underscores, not hyphens. For more information, see Configuring MySQL Flags in the Google Cloud SQL documentation, as well as the official MySQL documentation for server options and system variables.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The value of the flag. Booleans should be set to on for true and off for false. This field must be omitted if the flag doesn't take a value.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DatabaseInstance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Cloud SQL instance resource.","enum":null,"enumDescriptions":null,"format":null,"id":"DatabaseInstance","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"backendType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"FIRST_GEN: Basic Cloud SQL instance that runs in a Google-managed container.\nSECOND_GEN: A newer Cloud SQL backend that runs in a Compute Engine VM.\nEXTERNAL: A MySQL server that is not managed by Google.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"connectionName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Connection name of the Cloud SQL instance used in connection strings.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"currentDiskSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The current disk usage of the instance in bytes. This property has been deprecated. Users should use the \"cloudsql.googleapis.com/database/disk/bytes_used\" metric in Cloud Monitoring API instead. Please see https://groups.google.com/d/msg/google-cloud-sql-announce/I_7-F9EBhT0/BtvFtdFeAgAJ for details.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"databaseVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The database engine type and version. The databaseVersion field can not be changed after instance creation. MySQL Second Generation instances: MYSQL_5_7 (default) or MYSQL_5_6. PostgreSQL instances: POSTGRES_9_6 MySQL First Generation instances: MYSQL_5_6 (default) or MYSQL_5_5","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"etag":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"HTTP 1.1 Entity tag for the resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"failoverReplica":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name and status of the failover replica. This property is applicable only to Second Generation instances.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"available":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The master can only failover to the falover replica when the status is true.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the failover replica. If specified at instance creation, a failover replica is created for the instance. The name doesn't include the project ID. This property is applicable only to Second Generation instances.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"gceZone":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GCE zone that the instance is serving from. In case when the instance is failed over to standby zone, this value may be different with what user specified in the settings.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"instanceType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The instance type. This can be one of the following.\nCLOUD_SQL_INSTANCE: A Cloud SQL instance that is not replicating from a master.\nON_PREMISES_INSTANCE: An instance running on the customer's premises.\nREAD_REPLICA_INSTANCE: A Cloud SQL instance configured as a read-replica.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ipAddresses":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The assigned IP addresses for the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"IpMapping","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"ipv6Address":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The IPv6 address assigned to the instance. This property is applicable only to First Generation instances.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#instance","description":"This is always sql#instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"masterInstanceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the instance which will act as master in the replication setup.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxDiskSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum disk size of the instance in bytes.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":{"required":["sql.instances.insert"]},"default":null,"description":"Name of the Cloud SQL instance. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"onPremisesConfiguration":{"$ref":"OnPremisesConfiguration","additionalProperties":null,"annotations":null,"default":null,"description":"Configuration specific to on-premises instances.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"region":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The geographical region. Can be us-central (FIRST_GEN instances only), us-central1 (SECOND_GEN instances only), asia-east1 or europe-west1. Defaults to us-central or us-central1 depending on the instance type (First Generation or Second Generation). The region can not be changed after instance creation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"replicaConfiguration":{"$ref":"ReplicaConfiguration","additionalProperties":null,"annotations":null,"default":null,"description":"Configuration specific to read-replicas replicating from on-premises masters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"replicaNames":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The replicas of the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"selfLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URI of this resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"re
[...]
