{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"},"https://www.googleapis.com/auth/sqlservice.admin":{"description":"Manage your Google SQL Service instances"}}}},"basePath":"/sql/v1beta3/","baseUrl":"https://www.googleapis.com/sql/v1beta3/","batchPath":"batch/sqladmin/v1beta3","canonicalName":"SQL Admin","description":"Creates and configures Cloud SQL instances, which provide fully-managed MySQL databases.","discoveryVersion":"v1","documentationLink":"https://cloud.google.com/sql/docs/reference/latest","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/lsRSA9rF-4KQu4xYN0id-kYxBtA\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png","x32":"https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"},"id":"sqladmin:v1beta3","kind":"discovery#restDescription","labels":null,"methods":null,"name":"sqladmin","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"backupRuns":{"methods":{"get":{"description":"Retrieves information about a specified backup run for a Cloud SQL instance.","etagRequired":null,"httpMethod":"GET","id":"sql.backupRuns.get","mediaUpload":null,"parameterOrder":["project","instance","backupConfiguration","dueTime"],"parameters":{"backupConfiguration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier for the backup configuration. This gets generated automatically when a backup configuration is created.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"dueTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The start time of the four-hour backup window. The backup can occur any time in the window. The time is in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/backupRuns/{backupConfiguration}","request":null,"response":{"$ref":"BackupRun"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all backup runs associated with a Cloud SQL instance.","etagRequired":null,"httpMethod":"GET","id":"sql.backupRuns.list","mediaUpload":null,"parameterOrder":["project","instance","backupConfiguration"],"parameters":{"backupConfiguration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier for the backup configuration. This gets generated automatically when a backup configuration is created.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of backup runs per response.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A previously-returned page token representing part of the larger set of results to view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/backupRuns","request":null,"response":{"$ref":"BackupRunsListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"flags":{"methods":{"list":{"description":"Lists all database flags that can be set for Google Cloud SQL instances.","etagRequired":null,"httpMethod":"GET","id":"sql.flags.list","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"flags","request":null,"response":{"$ref":"FlagsListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"instances":{"methods":{"clone":{"description":"Creates a Cloud SQL instance as a clone of a source instance.","etagRequired":null,"httpMethod":"POST","id":"sql.instances.clone","mediaUpload":null,"parameterOrder":["project"],"parameters":{"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the source as well as the clone Cloud SQL instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/clone","request":{"$ref":"InstancesCloneRequest","parameterName":null},"response":{"$ref":"InstancesCloneResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a Cloud SQL instance.","etagRequired":null,"httpMethod":"DELETE","id":"sql.instances.delete","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance to be deleted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}","request":null,"response":{"$ref":"InstancesDeleteResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"export":{"description":"Exports data from a Cloud SQL instance to a Google Cloud Storage bucket as a MySQL dump file.","etagRequired":null,"httpMethod":"POST","id":"sql.instances.export","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance to be exported.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/export","request":{"$ref":"InstancesExportRequest","parameterName":null},"response":{"$ref":"InstancesExportResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves information about a Cloud SQL instance.","etagRequired":null,"httpMethod":"GET","id":"sql.instances.get","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}","request":null,"response":{"$ref":"DatabaseInstance"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"import":{"description":"Imports data into a Cloud SQL instance from a MySQL dump file stored in a Google Cloud Storage bucket.","etagRequired":null,"httpMethod":"POST","id":"sql.instances.import","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/import","request":{"$ref":"InstancesImportRequest","parameterName":null},"response":{"$ref":"InstancesImportResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a new Cloud SQL instance.","etagRequired":null,"httpMethod":"POST","id":"sql.instances.insert","mediaUpload":null,"parameterOrder":["project"],"parameters":{"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project to which the newly created Cloud SQL instances should belong.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances","request":{"$ref":"DatabaseInstance","parameterName":null},"response":{"$ref":"InstancesInsertResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists instances for a given project, in alphabetical order by instance name.","etagRequired":null,"httpMethod":"GET","id":"sql.instances.list","mediaUpload":null,"parameterOrder":["project"],"parameters":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of results to return per response.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A previously-returned page token representing part of the larger set of results to view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project for which to list Cloud SQL instances.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances","request":null,"response":{"$ref":"InstancesListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates the settings of a Cloud SQL instance. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"sql.instances.patch","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}","request":{"$ref":"DatabaseInstance","parameterName":null},"response":{"$ref":"InstancesUpdateResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"promoteReplica":{"description":"Promotes the read replica instance to be a stand-alone Cloud SQL instance.","etagRequired":null,"httpMethod":"POST","id":"sql.instances.promoteReplica","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL read replica instance name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the project that contains the read replica.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/promoteReplica","request":null,"response":{"$ref":"InstancesPromoteReplicaResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"resetSslConfig":{"description":"Deletes all client certificates and generates a new server SSL certificate for a Cloud SQL instance.","etagRequired":null,"httpMethod":"POST","id":"sql.instances.resetSslConfig","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/resetSslConfig","request":null,"response":{"$ref":"InstancesResetSslConfigResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"restart":{"description":"Restarts a Cloud SQL instance.","etagRequired":null,"httpMethod":"POST","id":"sql.instances.restart","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance to be restarted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/restart","request":null,"response":{"$ref":"InstancesRestartResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"restoreBackup":{"description":"Restores a backup of a Cloud SQL instance.","etagRequired":null,"httpMethod":"POST","id":"sql.instances.restoreBackup","mediaUpload":null,"parameterOrder":["project","instance","backupConfiguration","dueTime"],"parameters":{"backupConfiguration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The identifier of the backup configuration. This gets generated automatically when a backup configuration is created.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"dueTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The start time of the four-hour backup window. The backup can occur any time in the window. The time is in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/restoreBackup","request":null,"response":{"$ref":"InstancesRestoreBackupResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"setRootPassword":{"description":"Sets the password for the root user of the specified Cloud SQL instance.","etagRequired":null,"httpMethod":"POST","id":"sql.instances.setRootPassword","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/setRootPassword","request":{"$ref":"InstanceSetRootPasswordRequest","parameterName":null},"response":{"$ref":"InstancesSetRootPasswordResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates the settings of a Cloud SQL instance.","etagRequired":true,"httpMethod":"PUT","id":"sql.instances.update","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}","request":{"$ref":"DatabaseInstance","parameterName":null},"response":{"$ref":"InstancesUpdateResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"operations":{"methods":{"get":{"description":"Retrieves information about a specific operation that was performed on a Cloud SQL instance.","etagRequired":null,"httpMethod":"GET","id":"sql.operations.get","mediaUpload":null,"parameterOrder":["project","instance","operation"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Instance operation ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/operations/{operation}","request":null,"response":{"$ref":"InstanceOperation"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all operations that have been performed on a Cloud SQL instance.","etagRequired":null,"httpMethod":"GET","id":"sql.operations.list","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of operations per response.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A previously-returned page token representing part of the larger set of results to view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/operations","request":null,"response":{"$ref":"OperationsListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"sslCerts":{"methods":{"delete":{"description":"Deletes an SSL certificate from a Cloud SQL instance.","etagRequired":null,"httpMethod":"DELETE","id":"sql.sslCerts.delete","mediaUpload":null,"parameterOrder":["project","instance","sha1Fingerprint"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance to be deleted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sha1Fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Sha1 FingerPrint.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}","request":null,"response":{"$ref":"SslCertsDeleteResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves an SSL certificate as specified by its SHA-1 fingerprint.","etagRequired":null,"httpMethod":"GET","id":"sql.sslCerts.get","mediaUpload":null,"parameterOrder":["project","instance","sha1Fingerprint"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project that contains the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sha1Fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Sha1 FingerPrint.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}","request":null,"response":{"$ref":"SslCert"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates an SSL certificate and returns the certificate, the associated private key, and the server certificate authority.","etagRequired":null,"httpMethod":"POST","id":"sql.sslCerts.insert","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project to which the newly created Cloud SQL instances should belong.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/sslCerts","request":{"$ref":"SslCertsInsertRequest","parameterName":null},"response":{"$ref":"SslCertsInsertResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all of the current SSL certificates defined for a Cloud SQL instance.","etagRequired":null,"httpMethod":"GET","id":"sql.sslCerts.list","mediaUpload":null,"parameterOrder":["project","instance"],"parameters":{"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud SQL instance ID. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project for which to list Cloud SQL instances.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/instances/{instance}/sslCerts","request":null,"response":{"$ref":"SslCertsListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"tiers":{"methods":{"list":{"description":"Lists service tiers that can be used to create Google Cloud SQL instances.","etagRequired":null,"httpMethod":"GET","id":"sql.tiers.list","mediaUpload":null,"parameterOrder":["project"],"parameters":{"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Project ID of the project for which to list tiers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"projects/{project}/tiers","request":null,"response":{"$ref":"TiersListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/sqlservice.admin"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20170807","rootUrl":"https://www.googleapis.com/","schemas":{"BackupConfiguration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance backup configuration.","enum":null,"enumDescriptions":null,"format":null,"id":"BackupConfiguration","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"binaryLogEnabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether binary log is enabled. If backup configuration is disabled, binary log must be disabled as well.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"enabled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether this configuration is enabled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifier for this configuration. This gets generated automatically when a backup configuration is created.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#backupConfiguration","description":"This is always sql#backupConfiguration.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Start time for the daily backup configuration in UTC timezone in the 24 hour format - HH:MM.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BackupRun":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A database instance backup run resource.","enum":null,"enumDescriptions":null,"format":null,"id":"BackupRun","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"backupConfiguration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Backup Configuration identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"dueTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The due time of this run in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"endTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time the backup operation completed in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"enqueuedTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time the run was enqueued in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"error":{"$ref":"OperationError","additionalProperties":null,"annotations":null,"default":null,"description":"Information about why the backup operation failed. This is only present if the run has the FAILED status.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the database instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#backupRun","description":"This is always sql#backupRun.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time the backup operation actually started in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The status of this run.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BackupRunsListResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Backup run list results.","enum":null,"enumDescriptions":null,"format":null,"id":"BackupRunsListResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of backup runs in reverse chronological order of the enqueued time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"BackupRun","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#backupRunsList","description":"This is always sql#backupRunsList.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BinLogCoordinates":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Binary log coordinates.","enum":null,"enumDescriptions":null,"format":null,"id":"BinLogCoordinates","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"binLogFileName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the binary log file for a Cloud SQL instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"binLogPosition":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Position (offset) within the binary log file.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#binLogCoordinates","description":"This is always sql#binLogCoordinates.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CloneContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance clone context.","enum":null,"enumDescriptions":null,"format":null,"id":"CloneContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"binLogCoordinates":{"$ref":"BinLogCoordinates","additionalProperties":null,"annotations":null,"default":null,"description":"Binary log coordinates, if specified, indentify the position up to which the source instance should be cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"destinationInstanceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the Cloud SQL instance to be created as a clone.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#cloneContext","description":"This is always sql#cloneContext.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sourceInstanceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the Cloud SQL instance to be cloned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DatabaseFlags":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"MySQL flags for Cloud SQL instances.","enum":null,"enumDescriptions":null,"format":null,"id":"DatabaseFlags","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the flag. These flags are passed at instance startup, so include both MySQL server options and MySQL system variables. Flags should be specified with underscores, not hyphens. For more information, see Configuring MySQL Flags in the Google Cloud SQL documentation, as well as the official MySQL documentation for server options and system variables.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The value of the flag. Booleans should be set to on for true and off for false. This field must be omitted if the flag doesn't take a value.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DatabaseInstance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Cloud SQL instance resource.","enum":null,"enumDescriptions":null,"format":null,"id":"DatabaseInstance","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"connectionName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Connection name of the Cloud SQL instance used in connection strings.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"currentDiskSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The current disk usage of the instance in bytes.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"databaseVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The database engine type and version. Can be MYSQL_5_5 or MYSQL_5_6. Defaults to MYSQL_5_5. The databaseVersion cannot be changed after instance creation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"etag":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"HTTP 1.1 Entity tag for the resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"instance":{"$ref":null,"additionalProperties":null,"annotations":{"required":["sql.instances.insert","sql.instances.update"]},"default":null,"description":"Name of the Cloud SQL instance. This does not include the project ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"instanceType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The instance type. This can be one of the following.\nCLOUD_SQL_INSTANCE: Regular Cloud SQL instance.\nREAD_REPLICA_INSTANCE: Cloud SQL instance acting as a read-replica.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ipAddresses":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The assigned IP addresses for the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"IpMapping","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"ipv6Address":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The IPv6 address assigned to the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#instance","description":"This is always sql#instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"masterInstanceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the instance which will act as master in the replication setup.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxDiskSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum disk size of the instance in bytes.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":{"required":["sql.instances.insert","sql.instances.update"]},"default":null,"description":"The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"region":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The geographical region. Can be us-central, asia-east1 or europe-west1. Defaults to us-central. The region can not be changed after instance creation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"replicaNames":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The replicas of the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"serverCaCert":{"$ref":"SslCert","additionalProperties":null,"annotations":null,"default":null,"description":"SSL configuration.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"serviceAccountEmailAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The service account email address assigned to the instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"settings":{"$ref":"Settings","additionalProperties":null,"annotations":null,"default":null,"description":"The user settings.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"state":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The current serving state of the Cloud SQL instance. This can be one of the following.\nRUNNABLE: The instance is running, or is ready to run when accessed.\nSUSPENDED: The instance is not available, for example due to problems with billing.\nPENDING_CREATE: The instance is being created.\nMAINTENANCE: The instance is down for maintenance.\nUNKNOWN_STATE: The state of the instance is unknown.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ExportContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance export context.","enum":null,"enumDescriptions":null,"format":null,"id":"ExportContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"database":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Databases (for example, guestbook) from which the export is made. If unspecified, all databases are exported.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#exportContext","description":"This is always sql#exportContext.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"table":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Tables to export, or that were exported, from the specified database. If you specify tables, specify one and only one database.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"uri":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The path to the file in Google Cloud Storage where the export will be stored, or where it was already stored. The URI is in the form gs://bucketName/fileName. If the file already exists, the operation fails. If the filename ends with .gz, the contents are compressed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Flag":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Google Cloud SQL service flag resource.","enum":null,"enumDescriptions":null,"format":null,"id":"Flag","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"allowedStringValues":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For STRING flags, a list of strings that the value can be set to.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"appliesTo":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The database version this flag applies to. Currently this can only be [MYSQL_5_5].","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#flag","description":"This is always sql#flag.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For INTEGER flags, the maximum allowed value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"minValue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For INTEGER flags, the minimum allowed value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This is the name of the flag. Flag names always use underscores, not hyphens, e.g. max_allowed_packet","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of the flag. Flags are typed to being BOOLEAN, STRING, INTEGER or NONE. NONE is used for flags which do not take a value, such as skip_grant_tables.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"FlagsListResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Flags list response.","enum":null,"enumDescriptions":null,"format":null,"id":"FlagsListResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of flags.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Flag","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#flagsList","description":"This is always sql#flagsList.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ImportContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance import context.","enum":null,"enumDescriptions":null,"format":null,"id":"ImportContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"database":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The database (for example, guestbook) to which the import is made. If not set, it is assumed that the database is specified in the file to be imported.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#importContext","description":"This is always sql#importContext.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"uri":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A path to the MySQL dump file in Google Cloud Storage from which the import is made. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are also supported.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"InstanceOperation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An Operations resource contains information about database instance operations such as create, delete, and restart. Operations resources are created in response to operations that were initiated; you never create them directly.","enum":null,"enumDescriptions":null,"format":null,"id":"InstanceOperation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"endTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time this operation finished in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"enqueuedTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time this operation was enqueued in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"error":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The error(s) encountered by this operation. Only set if the operation results in an error.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"OperationError","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"exportContext":{"$ref":"ExportContext","additionalProperties":null,"annotations":null,"default":null,"description":"The context for export operation, if applicable.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"importContext":{"$ref":"ImportContext","additionalProperties":null,"annotations":null,"default":null,"description":"The context for import operation, if applicable.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"instance":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the database instance.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#instanceOperation","description":"This is always sql#instanceOperation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"operationType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of the operation. Valid values are CREATE, DELETE, UPDATE, RESTART, IMPORT, EXPORT, BACKUP_VOLUME, RESTORE_VOLUME.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time this operation actually started in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.","enum":null,"enumDescriptions":null,"format":"date-time","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"state":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The state of an operation. Valid values are PENDING, RUNNING, DONE, UNKNOWN.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userEmailAddress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The email address of the user who initiated this operation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"InstanceSetRootPasswordRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance set root password request.","enum":null,"enumDescriptions":null,"format":null,"id":"InstanceSetRootPasswordRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"setRootPasswordContext":{"$ref":"SetRootPasswordContext","additionalProperties":null,"annotations":null,"default":null,"description":"Set Root Password Context.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"InstancesCloneRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance clone request.","enum":null,"enumDescriptions":null,"format":null,"id":"InstancesCloneRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"cloneContext":{"$ref":"CloneContext","additionalProperties":null,"annotations":null,"default":null,"description":"Contains details about the clone operation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"InstancesCloneResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance clone response.","enum":null,"enumDescriptions":null,"format":null,"id":"InstancesCloneResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#instancesClone","description":"This is always sql#instancesClone.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An unique identifier for the operation associated with the cloned instance. You can use this identifier to retrieve the Operations resource, which has information about the operation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"InstancesDeleteResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance delete response.","enum":null,"enumDescriptions":null,"format":null,"id":"InstancesDeleteResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#instancesDelete","description":"This is always sql#instancesDelete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"InstancesExportRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance export request.","enum":null,"enumDescriptions":null,"format":null,"id":"InstancesExportRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"exportContext":{"$ref":"ExportContext","additionalProperties":null,"annotations":null,"default":null,"description":"Contains details about the export operation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"InstancesExportResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance export response.","enum":null,"enumDescriptions":null,"format":null,"id":"InstancesExportResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#instancesExport","description":"This is always sql#instancesExport.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"InstancesImportRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance import request.","enum":null,"enumDescriptions":null,"format":null,"id":"InstancesImportRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"importContext":{"$ref":"ImportContext","additionalProperties":null,"annotations":null,"default":null,"description":"Contains details about the import operation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"InstancesImportResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance import response.","enum":null,"enumDescriptions":null,"format":null,"id":"InstancesImportResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#instancesImport","description":"This is always sql#instancesImport.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"InstancesInsertResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance insert response.","enum":null,"enumDescriptions":null,"format":null,"id":"InstancesInsertResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#instancesInsert","description":"This is always sql#instancesInsert.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"InstancesListResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instances list response.","enum":null,"enumDescriptions":null,"format":null,"id":"InstancesListResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of database instance resources.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"DatabaseInstance","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#instancesList","description":"This is always sql#instancesList.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"InstancesPromoteReplicaResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database promote read replica response.","enum":null,"enumDescriptions":null,"format":null,"id":"InstancesPromoteReplicaResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#instancesPromoteReplica","description":"This is always sql#instancesPromoteReplica.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"InstancesResetSslConfigResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance resetSslConfig response.","enum":null,"enumDescriptions":null,"format":null,"id":"InstancesResetSslConfigResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#instancesResetSslConfig","description":"This is always sql#instancesResetSslConfig.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation. All ssl client certificates will be deleted and a new server certificate will be created. Does not take effect until the next instance restart.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"InstancesRestartResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance restart response.","enum":null,"enumDescriptions":null,"format":null,"id":"InstancesRestartResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#instancesRestart","description":"This is always sql#instancesRestart.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"InstancesRestoreBackupResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance restore backup response.","enum":null,"enumDescriptions":null,"format":null,"id":"InstancesRestoreBackupResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"sql#instancesRestoreBackup","description":"This is always sql#instancesRestoreBackup.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"InstancesSetRootPasswordResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Database instance set root password response.","enum":null,"enumDe
[...]
