{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"},"https://www.googleapis.com/auth/cloud-platform.read-only":{"description":"View your data across Google Cloud Platform services"},"https://www.googleapis.com/auth/devstorage.full_control":{"description":"Manage your data and permissions in Google Cloud Storage"},"https://www.googleapis.com/auth/devstorage.read_only":{"description":"View your data in Google Cloud Storage"},"https://www.googleapis.com/auth/devstorage.read_write":{"description":"Manage your data in Google Cloud Storage"}}}},"basePath":"/storage/v1/","baseUrl":"https://www.googleapis.com/storage/v1/","batchPath":"batch","canonicalName":null,"description":"Stores and retrieves potentially large, immutable data objects.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/storage/docs/json_api/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/rE26AVrnFbD9orx-YtVO_pKNglE\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.google.com/images/icons/product/cloud_storage-16.png","x32":"https://www.google.com/images/icons/product/cloud_storage-32.png"},"id":"storage:v1","kind":"discovery#restDescription","labels":["labs"],"methods":null,"name":"storage","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"bucketAccessControls":{"methods":{"delete":{"description":"Permanently deletes the ACL entry for the specified entity on the specified bucket.","etagRequired":null,"httpMethod":"DELETE","id":"storage.bucketAccessControls.delete","mediaUpload":null,"parameterOrder":["bucket","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/acl/{entity}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns the ACL entry for the specified entity on the specified bucket.","etagRequired":null,"httpMethod":"GET","id":"storage.bucketAccessControls.get","mediaUpload":null,"parameterOrder":["bucket","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/acl/{entity}","request":null,"response":{"$ref":"BucketAccessControl"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a new ACL entry on the specified bucket.","etagRequired":null,"httpMethod":"POST","id":"storage.bucketAccessControls.insert","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/acl","request":{"$ref":"BucketAccessControl","parameterName":null},"response":{"$ref":"BucketAccessControl"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves ACL entries on the specified bucket.","etagRequired":null,"httpMethod":"GET","id":"storage.bucketAccessControls.list","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/acl","request":null,"response":{"$ref":"BucketAccessControls"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an ACL entry on the specified bucket. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"storage.bucketAccessControls.patch","mediaUpload":null,"parameterOrder":["bucket","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/acl/{entity}","request":{"$ref":"BucketAccessControl","parameterName":null},"response":{"$ref":"BucketAccessControl"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an ACL entry on the specified bucket.","etagRequired":null,"httpMethod":"PUT","id":"storage.bucketAccessControls.update","mediaUpload":null,"parameterOrder":["bucket","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/acl/{entity}","request":{"$ref":"BucketAccessControl","parameterName":null},"response":{"$ref":"BucketAccessControl"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"buckets":{"methods":{"delete":{"description":"Permanently deletes an empty bucket.","etagRequired":null,"httpMethod":"DELETE","id":"storage.buckets.delete","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ifMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If set, only deletes the bucket if its metageneration matches this value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If set, only deletes the bucket if its metageneration does not match this value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns metadata for the specified bucket.","etagRequired":null,"httpMethod":"GET","id":"storage.buckets.get","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ifMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of properties to return. Defaults to noAcl.","enum":["full","noAcl"],"enumDescriptions":["Include all properties.","Omit owner, acl and defaultObjectAcl properties."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}","request":null,"response":{"$ref":"Bucket"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getIamPolicy":{"description":"Returns an IAM policy for the specified bucket.","etagRequired":null,"httpMethod":"GET","id":"storage.buckets.getIamPolicy","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/iam","request":null,"response":{"$ref":"Policy"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a new bucket.","etagRequired":null,"httpMethod":"POST","id":"storage.buckets.insert","mediaUpload":null,"parameterOrder":["project"],"parameters":{"predefinedAcl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Apply a predefined set of access controls to this bucket.","enum":["authenticatedRead","private","projectPrivate","publicRead","publicReadWrite"],"enumDescriptions":["Project team owners get OWNER access, and allAuthenticatedUsers get READER access.","Project team owners get OWNER access.","Project team members get access according to their roles.","Project team owners get OWNER access, and allUsers get READER access.","Project team owners get OWNER access, and allUsers get WRITER access."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"predefinedDefaultObjectAcl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Apply a predefined set of default object access controls to this bucket.","enum":["authenticatedRead","bucketOwnerFullControl","bucketOwnerRead","private","projectPrivate","publicRead"],"enumDescriptions":["Object owner gets OWNER access, and allAuthenticatedUsers get READER access.","Object owner gets OWNER access, and project team owners get OWNER access.","Object owner gets OWNER access, and project team owners get READER access.","Object owner gets OWNER access.","Object owner gets OWNER access, and project team members get access according to their roles.","Object owner gets OWNER access, and allUsers get READER access."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A valid API project identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of properties to return. Defaults to noAcl, unless the bucket resource specifies acl or defaultObjectAcl properties, when it defaults to full.","enum":["full","noAcl"],"enumDescriptions":["Include all properties.","Omit owner, acl and defaultObjectAcl properties."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b","request":{"$ref":"Bucket","parameterName":null},"response":{"$ref":"Bucket"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of buckets for a given project.","etagRequired":null,"httpMethod":"GET","id":"storage.buckets.list","mediaUpload":null,"parameterOrder":["project"],"parameters":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"1000","description":"Maximum number of buckets to return in a single response. The service will use this parameter or 1,000 items, whichever is smaller.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A previously-returned page token representing part of the larger set of results to view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prefix":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Filter results to buckets whose names begin with this prefix.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A valid API project identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of properties to return. Defaults to noAcl.","enum":["full","noAcl"],"enumDescriptions":["Include all properties.","Omit owner, acl and defaultObjectAcl properties."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b","request":null,"response":{"$ref":"Buckets"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates a bucket. Changes to the bucket will be readable immediately after writing, but configuration changes may take time to propagate. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"storage.buckets.patch","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ifMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"predefinedAcl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Apply a predefined set of access controls to this bucket.","enum":["authenticatedRead","private","projectPrivate","publicRead","publicReadWrite"],"enumDescriptions":["Project team owners get OWNER access, and allAuthenticatedUsers get READER access.","Project team owners get OWNER access.","Project team members get access according to their roles.","Project team owners get OWNER access, and allUsers get READER access.","Project team owners get OWNER access, and allUsers get WRITER access."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"predefinedDefaultObjectAcl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Apply a predefined set of default object access controls to this bucket.","enum":["authenticatedRead","bucketOwnerFullControl","bucketOwnerRead","private","projectPrivate","publicRead"],"enumDescriptions":["Object owner gets OWNER access, and allAuthenticatedUsers get READER access.","Object owner gets OWNER access, and project team owners get OWNER access.","Object owner gets OWNER access, and project team owners get READER access.","Object owner gets OWNER access.","Object owner gets OWNER access, and project team members get access according to their roles.","Object owner gets OWNER access, and allUsers get READER access."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of properties to return. Defaults to full.","enum":["full","noAcl"],"enumDescriptions":["Include all properties.","Omit owner, acl and defaultObjectAcl properties."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}","request":{"$ref":"Bucket","parameterName":null},"response":{"$ref":"Bucket"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"setIamPolicy":{"description":"Updates an IAM policy for the specified bucket.","etagRequired":null,"httpMethod":"PUT","id":"storage.buckets.setIamPolicy","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/iam","request":{"$ref":"Policy","parameterName":null},"response":{"$ref":"Policy"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"testIamPermissions":{"description":"Tests a set of permissions on the given bucket to see which, if any, are held by the caller.","etagRequired":null,"httpMethod":"GET","id":"storage.buckets.testIamPermissions","mediaUpload":null,"parameterOrder":["bucket","permissions"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"permissions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Permissions to test.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/iam/testPermissions","request":null,"response":{"$ref":"TestIamPermissionsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a bucket. Changes to the bucket will be readable immediately after writing, but configuration changes may take time to propagate.","etagRequired":null,"httpMethod":"PUT","id":"storage.buckets.update","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ifMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"predefinedAcl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Apply a predefined set of access controls to this bucket.","enum":["authenticatedRead","private","projectPrivate","publicRead","publicReadWrite"],"enumDescriptions":["Project team owners get OWNER access, and allAuthenticatedUsers get READER access.","Project team owners get OWNER access.","Project team members get access according to their roles.","Project team owners get OWNER access, and allUsers get READER access.","Project team owners get OWNER access, and allUsers get WRITER access."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"predefinedDefaultObjectAcl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Apply a predefined set of default object access controls to this bucket.","enum":["authenticatedRead","bucketOwnerFullControl","bucketOwnerRead","private","projectPrivate","publicRead"],"enumDescriptions":["Object owner gets OWNER access, and allAuthenticatedUsers get READER access.","Object owner gets OWNER access, and project team owners get OWNER access.","Object owner gets OWNER access, and project team owners get READER access.","Object owner gets OWNER access.","Object owner gets OWNER access, and project team members get access according to their roles.","Object owner gets OWNER access, and allUsers get READER access."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of properties to return. Defaults to full.","enum":["full","noAcl"],"enumDescriptions":["Include all properties.","Omit owner, acl and defaultObjectAcl properties."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}","request":{"$ref":"Bucket","parameterName":null},"response":{"$ref":"Bucket"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"channels":{"methods":{"stop":{"description":"Stop watching resources through this channel","etagRequired":null,"httpMethod":"POST","id":"storage.channels.stop","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"channels/stop","request":{"$ref":"Channel","parameterName":"resource"},"response":null,"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"defaultObjectAccessControls":{"methods":{"delete":{"description":"Permanently deletes the default object ACL entry for the specified entity on the specified bucket.","etagRequired":null,"httpMethod":"DELETE","id":"storage.defaultObjectAccessControls.delete","mediaUpload":null,"parameterOrder":["bucket","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/defaultObjectAcl/{entity}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns the default object ACL entry for the specified entity on the specified bucket.","etagRequired":null,"httpMethod":"GET","id":"storage.defaultObjectAccessControls.get","mediaUpload":null,"parameterOrder":["bucket","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/defaultObjectAcl/{entity}","request":null,"response":{"$ref":"ObjectAccessControl"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a new default object ACL entry on the specified bucket.","etagRequired":null,"httpMethod":"POST","id":"storage.defaultObjectAccessControls.insert","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/defaultObjectAcl","request":{"$ref":"ObjectAccessControl","parameterName":null},"response":{"$ref":"ObjectAccessControl"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves default object ACL entries on the specified bucket.","etagRequired":null,"httpMethod":"GET","id":"storage.defaultObjectAccessControls.list","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ifMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, only return default ACL listing if the bucket's current metageneration matches this value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, only return default ACL listing if the bucket's current metageneration does not match the given value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/defaultObjectAcl","request":null,"response":{"$ref":"ObjectAccessControls"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates a default object ACL entry on the specified bucket. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"storage.defaultObjectAccessControls.patch","mediaUpload":null,"parameterOrder":["bucket","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/defaultObjectAcl/{entity}","request":{"$ref":"ObjectAccessControl","parameterName":null},"response":{"$ref":"ObjectAccessControl"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a default object ACL entry on the specified bucket.","etagRequired":null,"httpMethod":"PUT","id":"storage.defaultObjectAccessControls.update","mediaUpload":null,"parameterOrder":["bucket","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/defaultObjectAcl/{entity}","request":{"$ref":"ObjectAccessControl","parameterName":null},"response":{"$ref":"ObjectAccessControl"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"notifications":{"methods":{"delete":{"description":"Permanently deletes a notification subscription.","etagRequired":null,"httpMethod":"DELETE","id":"storage.notifications.delete","mediaUpload":null,"parameterOrder":["bucket","notification"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The parent bucket of the notification.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"notification":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ID of the notification to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/notificationConfigs/{notification}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"View a notification configuration.","etagRequired":null,"httpMethod":"GET","id":"storage.notifications.get","mediaUpload":null,"parameterOrder":["bucket","notification"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The parent bucket of the notification.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"notification":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Notification ID","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/notificationConfigs/{notification}","request":null,"response":{"$ref":"Notification"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a notification subscription for a given bucket.","etagRequired":null,"httpMethod":"POST","id":"storage.notifications.insert","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The parent bucket of the notification.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/notificationConfigs","request":{"$ref":"Notification","parameterName":null},"response":{"$ref":"Notification"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of notification subscriptions for a given bucket.","etagRequired":null,"httpMethod":"GET","id":"storage.notifications.list","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a Google Cloud Storage bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/notificationConfigs","request":null,"response":{"$ref":"Notifications"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"objectAccessControls":{"methods":{"delete":{"description":"Permanently deletes the ACL entry for the specified entity on the specified object.","etagRequired":null,"httpMethod":"DELETE","id":"storage.objectAccessControls.delete","mediaUpload":null,"parameterOrder":["bucket","object","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"generation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, selects a specific revision of this object (as opposed to the latest version, the default).","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"object":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/o/{object}/acl/{entity}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns the ACL entry for the specified entity on the specified object.","etagRequired":null,"httpMethod":"GET","id":"storage.objectAccessControls.get","mediaUpload":null,"parameterOrder":["bucket","object","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"generation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, selects a specific revision of this object (as opposed to the latest version, the default).","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"object":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/o/{object}/acl/{entity}","request":null,"response":{"$ref":"ObjectAccessControl"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a new ACL entry on the specified object.","etagRequired":null,"httpMethod":"POST","id":"storage.objectAccessControls.insert","mediaUpload":null,"parameterOrder":["bucket","object"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"generation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, selects a specific revision of this object (as opposed to the latest version, the default).","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"object":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/o/{object}/acl","request":{"$ref":"ObjectAccessControl","parameterName":null},"response":{"$ref":"ObjectAccessControl"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves ACL entries on the specified object.","etagRequired":null,"httpMethod":"GET","id":"storage.objectAccessControls.list","mediaUpload":null,"parameterOrder":["bucket","object"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"generation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, selects a specific revision of this object (as opposed to the latest version, the default).","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"object":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/o/{object}/acl","request":null,"response":{"$ref":"ObjectAccessControls"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an ACL entry on the specified object. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"storage.objectAccessControls.patch","mediaUpload":null,"parameterOrder":["bucket","object","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"generation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, selects a specific revision of this object (as opposed to the latest version, the default).","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"object":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/o/{object}/acl/{entity}","request":{"$ref":"ObjectAccessControl","parameterName":null},"response":{"$ref":"ObjectAccessControl"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an ACL entry on the specified object.","etagRequired":null,"httpMethod":"PUT","id":"storage.objectAccessControls.update","mediaUpload":null,"parameterOrder":["bucket","object","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"generation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, selects a specific revision of this object (as opposed to the latest version, the default).","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"object":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/o/{object}/acl/{entity}","request":{"$ref":"ObjectAccessControl","parameterName":null},"response":{"$ref":"ObjectAccessControl"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"objects":{"methods":{"compose":{"description":"Concatenates a list of existing objects into a new object in the same bucket.","etagRequired":null,"httpMethod":"POST","id":"storage.objects.compose","mediaUpload":null,"parameterOrder":["destinationBucket","destinationObject"],"parameters":{"destinationBucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the bucket in which to store the new object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"destinationObject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the new object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"destinationPredefinedAcl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Apply a predefined set of access controls to the destination object.","enum":["authenticatedRead","bucketOwnerFullControl","bucketOwnerRead","private","projectPrivate","publicRead"],"enumDescriptions":["Object owner gets OWNER access, and allAuthenticatedUsers get READER access.","Object owner gets OWNER access, and project team owners get OWNER access.","Object owner gets OWNER access, and project team owners get READER access.","Object owner gets OWNER access.","Object owner gets OWNER access, and project team members get access according to their roles.","Object owner gets OWNER access, and allUsers get READER access."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifGenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current metageneration matches the given value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kmsKeyName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Resource name of the Cloud KMS key, of the form projects/my-project/locations/global/keyRings/my-kr/cryptoKeys/my-key, that will be used to encrypt the object. Overrides the object metadata's kms_key_name value, if any.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{destinationBucket}/o/{destinationObject}/compose","request":{"$ref":"ComposeRequest","parameterName":null},"response":{"$ref":"Object"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":true,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":true,"ETag":null},"copy":{"description":"Copies a source object to a destination object. Optionally overrides metadata.","etagRequired":null,"httpMethod":"POST","id":"storage.objects.copy","mediaUpload":null,"parameterOrder":["sourceBucket","sourceObject","destinationBucket","destinationObject"],"parameters":{"destinationBucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the bucket in which to store the new object. Overrides the provided object metadata's bucket value, if any.For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"destinationObject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the new object. Required when the object metadata is not otherwise provided. Overrides the object metadata's name value, if any.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"destinationPredefinedAcl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Apply a predefined set of access controls to the destination object.","enum":["authenticatedRead","bucketOwnerFullControl","bucketOwnerRead","private","projectPrivate","publicRead"],"enumDescriptions":["Object owner gets OWNER access, and allAuthenticatedUsers get READER access.","Object owner gets OWNER access, and project team owners get OWNER access.","Object owner gets OWNER access, and project team owners get READER access.","Object owner gets OWNER access.","Object owner gets OWNER access, and project team members get access according to their roles.","Object owner gets OWNER access, and allUsers get READER access."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifGenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the destination object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifGenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the destination object's current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the destination object's current metageneration matches the given value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the destination object's current metageneration does not match the given value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifSourceGenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the source object's current generation matches the given value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifSourceGenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the source object's current generation does not match the given value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifSourceMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the source object's current metageneration matches the given value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifSourceMetagenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the source object's current metageneration does not match the given value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of properties to return. Defaults to noAcl, unless the object resource specifies the acl property, when it defaults to full.","enum":["full","noAcl"],"enumDescriptions":["Include all properties.","Omit the owner, acl property."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sourceBucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the bucket in which to find the source object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sourceGeneration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, selects a specific revision of the source object (as opposed to the latest version, the default).","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sourceObject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the source object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{sourceBucket}/o/{sourceObject}/copyTo/b/{destinationBucket}/o/{destinationObject}","request":{"$ref":"Object","parameterName":null},"response":{"$ref":"Object"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":true,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":true,"ETag":null},"delete":{"description":"Deletes an object and its metadata. Deletions are permanent if versioning is not enabled for the bucket, or if the generation parameter is used.","etagRequired":null,"httpMethod":"DELETE","id":"storage.objects.delete","mediaUpload":null,"parameterOrder":["bucket","object"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the bucket in which the object resides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"generation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, permanently deletes a specific revision of this object (as opposed to the latest version, the default).","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifGenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifGenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current metageneration matches the given value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current metageneration does not match the given value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"object":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/o/{object}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves an object or its metadata.","etagRequired":null,"httpMethod":"GET","id":"storage.objects.get","mediaUpload":null,"parameterOrder":["bucket","object"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the bucket in which the object resides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"generation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, selects a specific revision of this object (as opposed to the latest version, the default).","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifGenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifGenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current metageneration matches the given value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current metageneration does not match the given value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"object":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of properties to return. Defaults to noAcl.","enum":["full","noAcl"],"enumDescriptions":["Include all properties.","Omit the owner, acl property."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userProject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project to be billed for this request, for Requester Pays buckets.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/o/{object}","request":null,"response":{"$ref":"Object"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only","https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":true,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":true,"ETag":null},"getIamPolicy":{"description":"Returns an IAM policy for the specified object.","etagRequired":null,"httpMethod":"GET","id":"storage.objects.getIamPolicy","mediaUpload":null,"parameterOrder":["bucket","object"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name o
[...]
