{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/devstorage.full_control":{"description":"Manage your data and permissions in Google Cloud Storage"},"https://www.googleapis.com/auth/devstorage.read_only":{"description":"View your data in Google Cloud Storage"},"https://www.googleapis.com/auth/devstorage.read_write":{"description":"Manage your data in Google Cloud Storage"}}}},"basePath":"/storage/v1beta2/","baseUrl":"https://www.googleapis.com/storage/v1beta2/","batchPath":"batch","canonicalName":null,"description":"Lets you store and retrieve potentially-large, immutable data objects.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/storage/docs/json_api/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/kd3TX2q1cfta9gUrhDvYrFe2U1o\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.google.com/images/icons/product/cloud_storage-16.png","x32":"https://www.google.com/images/icons/product/cloud_storage-32.png"},"id":"storage:v1beta2","kind":"discovery#restDescription","labels":["labs"],"methods":null,"name":"storage","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"bucketAccessControls":{"methods":{"delete":{"description":"Permanently deletes the ACL entry for the specified entity on the specified bucket.","etagRequired":null,"httpMethod":"DELETE","id":"storage.bucketAccessControls.delete","mediaUpload":null,"parameterOrder":["bucket","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/acl/{entity}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns the ACL entry for the specified entity on the specified bucket.","etagRequired":null,"httpMethod":"GET","id":"storage.bucketAccessControls.get","mediaUpload":null,"parameterOrder":["bucket","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/acl/{entity}","request":null,"response":{"$ref":"BucketAccessControl"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a new ACL entry on the specified bucket.","etagRequired":null,"httpMethod":"POST","id":"storage.bucketAccessControls.insert","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/acl","request":{"$ref":"BucketAccessControl","parameterName":null},"response":{"$ref":"BucketAccessControl"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves ACL entries on the specified bucket.","etagRequired":null,"httpMethod":"GET","id":"storage.bucketAccessControls.list","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/acl","request":null,"response":{"$ref":"BucketAccessControls"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an ACL entry on the specified bucket. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"storage.bucketAccessControls.patch","mediaUpload":null,"parameterOrder":["bucket","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/acl/{entity}","request":{"$ref":"BucketAccessControl","parameterName":null},"response":{"$ref":"BucketAccessControl"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an ACL entry on the specified bucket.","etagRequired":null,"httpMethod":"PUT","id":"storage.bucketAccessControls.update","mediaUpload":null,"parameterOrder":["bucket","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/acl/{entity}","request":{"$ref":"BucketAccessControl","parameterName":null},"response":{"$ref":"BucketAccessControl"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"buckets":{"methods":{"delete":{"description":"Permanently deletes an empty bucket.","etagRequired":null,"httpMethod":"DELETE","id":"storage.buckets.delete","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ifMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns metadata for the specified bucket.","etagRequired":null,"httpMethod":"GET","id":"storage.buckets.get","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ifMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of properties to return. Defaults to noAcl.","enum":["full","noAcl"],"enumDescriptions":["Include all properties.","Omit acl and defaultObjectAcl properties."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}","request":null,"response":{"$ref":"Bucket"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a new bucket.","etagRequired":null,"httpMethod":"POST","id":"storage.buckets.insert","mediaUpload":null,"parameterOrder":["project"],"parameters":{"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A valid API project identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of properties to return. Defaults to noAcl, unless the bucket resource specifies acl or defaultObjectAcl properties, when it defaults to full.","enum":["full","noAcl"],"enumDescriptions":["Include all properties.","Omit acl and defaultObjectAcl properties."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b","request":{"$ref":"Bucket","parameterName":null},"response":{"$ref":"Bucket"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of buckets for a given project.","etagRequired":null,"httpMethod":"GET","id":"storage.buckets.list","mediaUpload":null,"parameterOrder":["project"],"parameters":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of buckets to return.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A previously-returned page token representing part of the larger set of results to view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A valid API project identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of properties to return. Defaults to noAcl.","enum":["full","noAcl"],"enumDescriptions":["Include all properties.","Omit acl and defaultObjectAcl properties."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b","request":null,"response":{"$ref":"Buckets"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates a bucket. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"storage.buckets.patch","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ifMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of properties to return. Defaults to full.","enum":["full","noAcl"],"enumDescriptions":["Include all properties.","Omit acl and defaultObjectAcl properties."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}","request":{"$ref":"Bucket","parameterName":null},"response":{"$ref":"Bucket"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a bucket.","etagRequired":null,"httpMethod":"PUT","id":"storage.buckets.update","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ifMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of properties to return. Defaults to full.","enum":["full","noAcl"],"enumDescriptions":["Include all properties.","Omit acl and defaultObjectAcl properties."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}","request":{"$ref":"Bucket","parameterName":null},"response":{"$ref":"Bucket"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"channels":{"methods":{"stop":{"description":"Stop watching resources through this channel","etagRequired":null,"httpMethod":"POST","id":"storage.channels.stop","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"channels/stop","request":{"$ref":"Channel","parameterName":"resource"},"response":null,"scopes":["https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"defaultObjectAccessControls":{"methods":{"delete":{"description":"Permanently deletes the default object ACL entry for the specified entity on the specified bucket.","etagRequired":null,"httpMethod":"DELETE","id":"storage.defaultObjectAccessControls.delete","mediaUpload":null,"parameterOrder":["bucket","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/defaultObjectAcl/{entity}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns the default object ACL entry for the specified entity on the specified bucket.","etagRequired":null,"httpMethod":"GET","id":"storage.defaultObjectAccessControls.get","mediaUpload":null,"parameterOrder":["bucket","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/defaultObjectAcl/{entity}","request":null,"response":{"$ref":"ObjectAccessControl"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a new default object ACL entry on the specified bucket.","etagRequired":null,"httpMethod":"POST","id":"storage.defaultObjectAccessControls.insert","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/defaultObjectAcl","request":{"$ref":"ObjectAccessControl","parameterName":null},"response":{"$ref":"ObjectAccessControl"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves default object ACL entries on the specified bucket.","etagRequired":null,"httpMethod":"GET","id":"storage.defaultObjectAccessControls.list","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ifMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, only return default ACL listing if the bucket's current metageneration matches this value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, only return default ACL listing if the bucket's current metageneration does not match the given value.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/defaultObjectAcl","request":null,"response":{"$ref":"ObjectAccessControls"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates a default object ACL entry on the specified bucket. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"storage.defaultObjectAccessControls.patch","mediaUpload":null,"parameterOrder":["bucket","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/defaultObjectAcl/{entity}","request":{"$ref":"ObjectAccessControl","parameterName":null},"response":{"$ref":"ObjectAccessControl"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a default object ACL entry on the specified bucket.","etagRequired":null,"httpMethod":"PUT","id":"storage.defaultObjectAccessControls.update","mediaUpload":null,"parameterOrder":["bucket","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/defaultObjectAcl/{entity}","request":{"$ref":"ObjectAccessControl","parameterName":null},"response":{"$ref":"ObjectAccessControl"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"objectAccessControls":{"methods":{"delete":{"description":"Permanently deletes the ACL entry for the specified entity on the specified object.","etagRequired":null,"httpMethod":"DELETE","id":"storage.objectAccessControls.delete","mediaUpload":null,"parameterOrder":["bucket","object","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"generation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, selects a specific revision of this object (as opposed to the latest version, the default).","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"object":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/o/{object}/acl/{entity}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Returns the ACL entry for the specified entity on the specified object.","etagRequired":null,"httpMethod":"GET","id":"storage.objectAccessControls.get","mediaUpload":null,"parameterOrder":["bucket","object","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"generation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, selects a specific revision of this object (as opposed to the latest version, the default).","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"object":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/o/{object}/acl/{entity}","request":null,"response":{"$ref":"ObjectAccessControl"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a new ACL entry on the specified object.","etagRequired":null,"httpMethod":"POST","id":"storage.objectAccessControls.insert","mediaUpload":null,"parameterOrder":["bucket","object"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"generation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, selects a specific revision of this object (as opposed to the latest version, the default).","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"object":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/o/{object}/acl","request":{"$ref":"ObjectAccessControl","parameterName":null},"response":{"$ref":"ObjectAccessControl"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves ACL entries on the specified object.","etagRequired":null,"httpMethod":"GET","id":"storage.objectAccessControls.list","mediaUpload":null,"parameterOrder":["bucket","object"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"generation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, selects a specific revision of this object (as opposed to the latest version, the default).","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"object":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/o/{object}/acl","request":null,"response":{"$ref":"ObjectAccessControls"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an ACL entry on the specified object. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"storage.objectAccessControls.patch","mediaUpload":null,"parameterOrder":["bucket","object","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"generation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, selects a specific revision of this object (as opposed to the latest version, the default).","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"object":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/o/{object}/acl/{entity}","request":{"$ref":"ObjectAccessControl","parameterName":null},"response":{"$ref":"ObjectAccessControl"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates an ACL entry on the specified object.","etagRequired":null,"httpMethod":"PUT","id":"storage.objectAccessControls.update","mediaUpload":null,"parameterOrder":["bucket","object","entity"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of a bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"generation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, selects a specific revision of this object (as opposed to the latest version, the default).","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"object":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/o/{object}/acl/{entity}","request":{"$ref":"ObjectAccessControl","parameterName":null},"response":{"$ref":"ObjectAccessControl"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"objects":{"methods":{"compose":{"description":"Concatenates a list of existing objects into a new object in the same bucket.","etagRequired":null,"httpMethod":"POST","id":"storage.objects.compose","mediaUpload":null,"parameterOrder":["destinationBucket","destinationObject"],"parameters":{"destinationBucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the bucket in which to store the new object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"destinationObject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the new object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ifGenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current generation matches the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current metageneration matches the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{destinationBucket}/o/{destinationObject}/compose","request":{"$ref":"ComposeRequest","parameterName":null},"response":{"$ref":"Object"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":true,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"copy":{"description":"Copies an object to a destination in the same location. Optionally overrides metadata.","etagRequired":null,"httpMethod":"POST","id":"storage.objects.copy","mediaUpload":null,"parameterOrder":["sourceBucket","sourceObject","destinationBucket","destinationObject"],"parameters":{"destinationBucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the bucket in which to store the new object. Overrides the provided object metadata's bucket value, if any.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"destinationObject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the new object. Required when the object metadata is not otherwise provided. Overrides the object metadata's name value, if any.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ifGenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the destination object's current generation matches the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifGenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the destination object's current generation does not match the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the destination object's current metageneration matches the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the destination object's current metageneration does not match the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifSourceGenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the source object's generation matches the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifSourceGenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the source object's generation does not match the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifSourceMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the source object's current metageneration matches the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifSourceMetagenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the source object's current metageneration does not match the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of properties to return. Defaults to noAcl, unless the object resource specifies the acl property, when it defaults to full.","enum":["full","noAcl"],"enumDescriptions":["Include all properties.","Omit the acl property."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sourceBucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the bucket in which to find the source object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sourceGeneration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, selects a specific revision of the source object (as opposed to the latest version, the default).","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sourceObject":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the source object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"b/{sourceBucket}/o/{sourceObject}/copyTo/b/{destinationBucket}/o/{destinationObject}","request":{"$ref":"Object","parameterName":null},"response":{"$ref":"Object"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":true,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes data blobs and associated metadata. Deletions are permanent if versioning is not enabled for the bucket, or if the generation parameter is used.","etagRequired":null,"httpMethod":"DELETE","id":"storage.objects.delete","mediaUpload":null,"parameterOrder":["bucket","object"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the bucket in which the object resides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"generation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, permanently deletes a specific revision of this object (as opposed to the latest version, the default).","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifGenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current generation matches the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifGenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current generation does not match the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current metageneration matches the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current metageneration does not match the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"object":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/o/{object}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Retrieves objects or their associated metadata.","etagRequired":null,"httpMethod":"GET","id":"storage.objects.get","mediaUpload":null,"parameterOrder":["bucket","object"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the bucket in which the object resides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"generation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, selects a specific revision of this object (as opposed to the latest version, the default).","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifGenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's generation matches the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifGenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's generation does not match the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current metageneration matches the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current metageneration does not match the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"object":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of properties to return. Defaults to noAcl.","enum":["full","noAcl"],"enumDescriptions":["Include all properties.","Omit the acl property."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/o/{object}","request":null,"response":{"$ref":"Object"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":true,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Stores new data blobs and associated metadata.","etagRequired":null,"httpMethod":"POST","id":"storage.objects.insert","mediaUpload":{"accept":["*/*"],"maxSize":null,"protocols":{"resumable":{"multipart":true,"path":"/resumable/upload/storage/v1beta2/b/{bucket}/o"},"simple":{"multipart":true,"path":"/upload/storage/v1beta2/b/{bucket}/o"}}},"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the bucket in which to store the new object. Overrides the provided object metadata's bucket value, if any.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"ifGenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current generation matches the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifGenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current generation does not match the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current metageneration matches the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current metageneration does not match the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the object. Required when the object metadata is not otherwise provided. Overrides the object metadata's name value, if any.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of properties to return. Defaults to noAcl, unless the object resource specifies the acl property, when it defaults to full.","enum":["full","noAcl"],"enumDescriptions":["Include all properties.","Omit the acl property."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/o","request":{"$ref":"Object","parameterName":null},"response":{"$ref":"Object"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":true,"supportsMediaUpload":true,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of objects matching the criteria.","etagRequired":null,"httpMethod":"GET","id":"storage.objects.list","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the bucket in which to look for objects.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"delimiter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Returns results in a directory-like mode. items will contain only objects whose names, aside from the prefix, do not contain delimiter. Objects whose names, aside from the prefix, contain delimiter will have their name, truncated after the delimiter, returned in prefixes. Duplicate prefixes are omitted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of items plus prefixes to return. As duplicate prefixes are omitted, fewer total results may be returned than requested.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A previously-returned page token representing part of the larger set of results to view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prefix":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Filter results to objects whose names begin with this prefix.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of properties to return. Defaults to noAcl.","enum":["full","noAcl"],"enumDescriptions":["Include all properties.","Omit the acl property."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"versions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If true, lists all versions of a file as distinct results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"b/{bucket}/o","request":null,"response":{"$ref":"Objects"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":true,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates a data blob's associated metadata. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"storage.objects.patch","mediaUpload":null,"parameterOrder":["bucket","object"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the bucket in which the object resides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"generation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, selects a specific revision of this object (as opposed to the latest version, the default).","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifGenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current generation matches the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifGenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current generation does not match the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current metageneration matches the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current metageneration does not match the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"object":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of properties to return. Defaults to full.","enum":["full","noAcl"],"enumDescriptions":["Include all properties.","Omit the acl property."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/o/{object}","request":{"$ref":"Object","parameterName":null},"response":{"$ref":"Object"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a data blob's associated metadata.","etagRequired":null,"httpMethod":"PUT","id":"storage.objects.update","mediaUpload":null,"parameterOrder":["bucket","object"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the bucket in which the object resides.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"generation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, selects a specific revision of this object (as opposed to the latest version, the default).","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifGenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current generation matches the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifGenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current generation does not match the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current metageneration matches the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"ifMetagenerationNotMatch":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Makes the operation conditional on whether the object's current metageneration does not match the given value.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"object":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of properties to return. Defaults to full.","enum":["full","noAcl"],"enumDescriptions":["Include all properties.","Omit the acl property."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"b/{bucket}/o/{object}","request":{"$ref":"Object","parameterName":null},"response":{"$ref":"Object"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":true,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"watchAll":{"description":"Watch for changes on all objects in a bucket.","etagRequired":null,"httpMethod":"POST","id":"storage.objects.watchAll","mediaUpload":null,"parameterOrder":["bucket"],"parameters":{"bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the bucket in which to look for objects.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"delimiter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Returns results in a directory-like mode. items will contain only objects whose names, aside from the prefix, do not contain delimiter. Objects whose names, aside from the prefix, contain delimiter will have their name, truncated after the delimiter, returned in prefixes. Duplicate prefixes are omitted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of items plus prefixes to return. As duplicate prefixes are omitted, fewer total results may be returned than requested.","enum":null,"enumDescriptions":null,"format":"uint32","id":null,"items":null,"location":"query","maximum":null,"minimum":"0","pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A previously-returned page token representing part of the larger set of results to view.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prefix":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Filter results to objects whose names begin with this prefix.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of properties to return. Defaults to noAcl.","enum":["full","noAcl"],"enumDescriptions":["Include all properties.","Omit the acl property."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"versions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If true, lists all versions of a file as distinct results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"b/{bucket}/o/watch","request":{"$ref":"Channel","parameterName":"resource"},"response":{"$ref":"Channel"},"scopes":["https://www.googleapis.com/auth/devstorage.full_control","https://www.googleapis.com/auth/devstorage.read_only","https://www.googleapis.com/auth/devstorage.read_write"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":true,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20170920","rootUrl":"https://www.googleapis.com/","schemas":{"Bucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A bucket.","enum":null,"enumDescriptions":null,"format":null,"id":"Bucket","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"acl":{"$ref":null,"additionalProperties":null,"annotations":{"required":["storage.buckets.update"]},"default":null,"description":"Access controls on the bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"BucketAccessControl","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"cors":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The bucket's Cross-Origin Resource Sharing (CORS) configuration.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"maxAgeSeconds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The value, in seconds, to return in the  Access-Control-Max-Age header used in preflight responses.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"method":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of HTTP methods on which to include CORS response headers: GET, OPTIONS, POST, etc. Note, \"*\" is permitted in the list of methods, and means \"any method\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"origin":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of Origins eligible to receive CORS response headers. Note: \"*\" is permitted in the list of origins, and means \"any Origin\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"responseHeader":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of HTTP headers other than the simple response headers to give permission for the user-agent to share across domains.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"defaultObjectAcl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Default access controls to apply to new objects when no ACL is provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ObjectAccessControl","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"etag":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"HTTP 1.1 Entity tag for the bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"storage#bucket","description":"The kind of item this is. For buckets, this is always storage#bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"lifecycle":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The bucket's lifecycle configuration. See object lifecycle management for more information.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"rule":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A lifecycle management rule, which is made of an action to take and the condition(s) under which the action will be taken.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"action":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The action to take.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Type of the action. Currently only Delete is supported.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"condition":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The condition(s) under which the action will be taken.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"age":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Age of an object (in days). This condition is satisfied when an object reaches the specified age.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"createdBefore":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A date in RFC 3339 format with only the date part, e.g. \"2013-01-15\". This condition is satisfied when an object is created before midnight of the specified date in UTC.","enum":null,"enumDescriptions":null,"format":"date","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"isLive":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Relevant only for versioned objects. If the value is true, this condition matches live objects; if the value is false, it matches archived objects.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"numNewerVersions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Relevant only for versioned objects. If the value is N, this condition is satisfied when there are at least N versions (including the live version) newer than this version of the object.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location of the bucket. Object data for objects in the bucket resides in physical storage within this region. Typical values are US and EU. Defaults to US. See the developer's guide for the authoritative list.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"logging":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The bucket's logging configuration, which defines the destination bucket and optional name prefix for the current bucket's logs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"logBucket":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The destination bucket where the current bucket's logs should be placed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"logObjectPrefix":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A prefix for log object names.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"metageneration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The metadata generation of this bucket.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":{"required":["storage.buckets.insert"]},"default":null,"description":"The name of the bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"owner":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The owner of the bucket. This is always the project team's owner group.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The entity, in the form group-groupId.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"entityId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID for the entity.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"selfLink":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URI of this bucket.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"storageClass":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The bucket's storage class. This defines how objects in the bucket are stored and determines the SLA and the cost of storage. Typical values are STANDARD and DURABLE_REDUCED_AVAILABILITY. Defaults to STANDARD. See the developer's guide for the authoritative list.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"read
[...]
