{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/tagmanager.delete.containers":{"description":"Delete your Google Tag Manager containers"},"https://www.googleapis.com/auth/tagmanager.edit.containers":{"description":"Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"},"https://www.googleapis.com/auth/tagmanager.edit.containerversions":{"description":"Manage your Google Tag Manager container versions"},"https://www.googleapis.com/auth/tagmanager.manage.accounts":{"description":"View and manage your Google Tag Manager accounts"},"https://www.googleapis.com/auth/tagmanager.manage.users":{"description":"Manage user permissions of your Google Tag Manager account and container"},"https://www.googleapis.com/auth/tagmanager.publish":{"description":"Publish your Google Tag Manager container versions"},"https://www.googleapis.com/auth/tagmanager.readonly":{"description":"View your Google Tag Manager container and its subcomponents"}}}},"basePath":"/tagmanager/v1/","baseUrl":"https://www.googleapis.com/tagmanager/v1/","batchPath":"batch/tagmanager/v1","canonicalName":"Tag Manager","description":"Accesses Tag Manager accounts and containers.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/tag-manager/api/v1/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/rRpL0Yww6KCNEEWca1YtyKw9Y48\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png","x32":"https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"},"id":"tagmanager:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"tagmanager","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"accounts":{"methods":{"get":{"description":"Gets a GTM Account.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.get","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}","request":null,"response":{"$ref":"Account"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.manage.accounts","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all GTM Accounts that a user has access to.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.list","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"accounts","request":null,"response":{"$ref":"ListAccountsResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.manage.accounts","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a GTM Account.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.update","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the account in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}","request":{"$ref":"Account","parameterName":null},"response":{"$ref":"Account"},"scopes":["https://www.googleapis.com/auth/tagmanager.manage.accounts"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"containers":{"methods":{"create":{"description":"Creates a Container.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.create","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers","request":{"$ref":"Container","parameterName":null},"response":{"$ref":"Container"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a Container.","etagRequired":null,"httpMethod":"DELETE","id":"tagmanager.accounts.containers.delete","mediaUpload":null,"parameterOrder":["accountId","containerId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/tagmanager.delete.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a Container.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.get","mediaUpload":null,"parameterOrder":["accountId","containerId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}","request":null,"response":{"$ref":"Container"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all Containers that belongs to a GTM Account.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.list","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers","request":null,"response":{"$ref":"ListContainersResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a Container.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.containers.update","mediaUpload":null,"parameterOrder":["accountId","containerId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the container in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}","request":{"$ref":"Container","parameterName":null},"response":{"$ref":"Container"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"environments":{"methods":{"create":{"description":"Creates a GTM Environment.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.environments.create","mediaUpload":null,"parameterOrder":["accountId","containerId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/environments","request":{"$ref":"Environment","parameterName":null},"response":{"$ref":"Environment"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a GTM Environment.","etagRequired":null,"httpMethod":"DELETE","id":"tagmanager.accounts.containers.environments.delete","mediaUpload":null,"parameterOrder":["accountId","containerId","environmentId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"environmentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Environment ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/environments/{environmentId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a GTM Environment.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.environments.get","mediaUpload":null,"parameterOrder":["accountId","containerId","environmentId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"environmentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Environment ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/environments/{environmentId}","request":null,"response":{"$ref":"Environment"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all GTM Environments of a GTM Container.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.environments.list","mediaUpload":null,"parameterOrder":["accountId","containerId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/environments","request":null,"response":{"$ref":"ListEnvironmentsResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates a GTM Environment. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"tagmanager.accounts.containers.environments.patch","mediaUpload":null,"parameterOrder":["accountId","containerId","environmentId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"environmentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Environment ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the environment in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/environments/{environmentId}","request":{"$ref":"Environment","parameterName":null},"response":{"$ref":"Environment"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a GTM Environment.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.containers.environments.update","mediaUpload":null,"parameterOrder":["accountId","containerId","environmentId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"environmentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Environment ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the environment in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/environments/{environmentId}","request":{"$ref":"Environment","parameterName":null},"response":{"$ref":"Environment"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"folders":{"methods":{"create":{"description":"Creates a GTM Folder.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.folders.create","mediaUpload":null,"parameterOrder":["accountId","containerId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/folders","request":{"$ref":"Folder","parameterName":null},"response":{"$ref":"Folder"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a GTM Folder.","etagRequired":null,"httpMethod":"DELETE","id":"tagmanager.accounts.containers.folders.delete","mediaUpload":null,"parameterOrder":["accountId","containerId","folderId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"folderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Folder ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/folders/{folderId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a GTM Folder.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.folders.get","mediaUpload":null,"parameterOrder":["accountId","containerId","folderId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"folderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Folder ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/folders/{folderId}","request":null,"response":{"$ref":"Folder"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all GTM Folders of a Container.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.folders.list","mediaUpload":null,"parameterOrder":["accountId","containerId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/folders","request":null,"response":{"$ref":"ListFoldersResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a GTM Folder.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.containers.folders.update","mediaUpload":null,"parameterOrder":["accountId","containerId","folderId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the folder in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"folderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Folder ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/folders/{folderId}","request":{"$ref":"Folder","parameterName":null},"response":{"$ref":"Folder"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"entities":{"methods":{"list":{"description":"List all entities in a GTM Folder.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.folders.entities.list","mediaUpload":null,"parameterOrder":["accountId","containerId","folderId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"folderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Folder ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities","request":null,"response":{"$ref":"FolderEntities"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"move_folders":{"methods":{"update":{"description":"Moves entities to a GTM Folder.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.containers.move_folders.update","mediaUpload":null,"parameterOrder":["accountId","containerId","folderId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"folderId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Folder ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"tagId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The tags to be moved to the folder.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"triggerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The triggers to be moved to the folder.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"variableId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The variables to be moved to the folder.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/move_folders/{folderId}","request":{"$ref":"Folder","parameterName":null},"response":null,"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"reauthorize_environments":{"methods":{"update":{"description":"Re-generates the authorization code for a GTM Environment.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.containers.reauthorize_environments.update","mediaUpload":null,"parameterOrder":["accountId","containerId","environmentId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"environmentId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Environment ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}","request":{"$ref":"Environment","parameterName":null},"response":{"$ref":"Environment"},"scopes":["https://www.googleapis.com/auth/tagmanager.publish"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"tags":{"methods":{"create":{"description":"Creates a GTM Tag.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.tags.create","mediaUpload":null,"parameterOrder":["accountId","containerId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/tags","request":{"$ref":"Tag","parameterName":null},"response":{"$ref":"Tag"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a GTM Tag.","etagRequired":null,"httpMethod":"DELETE","id":"tagmanager.accounts.containers.tags.delete","mediaUpload":null,"parameterOrder":["accountId","containerId","tagId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"tagId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Tag ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/tags/{tagId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a GTM Tag.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.tags.get","mediaUpload":null,"parameterOrder":["accountId","containerId","tagId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"tagId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Tag ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/tags/{tagId}","request":null,"response":{"$ref":"Tag"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all GTM Tags of a Container.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.tags.list","mediaUpload":null,"parameterOrder":["accountId","containerId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/tags","request":null,"response":{"$ref":"ListTagsResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a GTM Tag.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.containers.tags.update","mediaUpload":null,"parameterOrder":["accountId","containerId","tagId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the tag in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"tagId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Tag ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/tags/{tagId}","request":{"$ref":"Tag","parameterName":null},"response":{"$ref":"Tag"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"triggers":{"methods":{"create":{"description":"Creates a GTM Trigger.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.triggers.create","mediaUpload":null,"parameterOrder":["accountId","containerId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/triggers","request":{"$ref":"Trigger","parameterName":null},"response":{"$ref":"Trigger"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a GTM Trigger.","etagRequired":null,"httpMethod":"DELETE","id":"tagmanager.accounts.containers.triggers.delete","mediaUpload":null,"parameterOrder":["accountId","containerId","triggerId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"triggerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Trigger ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/triggers/{triggerId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a GTM Trigger.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.triggers.get","mediaUpload":null,"parameterOrder":["accountId","containerId","triggerId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"triggerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Trigger ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/triggers/{triggerId}","request":null,"response":{"$ref":"Trigger"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all GTM Triggers of a Container.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.triggers.list","mediaUpload":null,"parameterOrder":["accountId","containerId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/triggers","request":null,"response":{"$ref":"ListTriggersResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a GTM Trigger.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.containers.triggers.update","mediaUpload":null,"parameterOrder":["accountId","containerId","triggerId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the trigger in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"triggerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Trigger ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/triggers/{triggerId}","request":{"$ref":"Trigger","parameterName":null},"response":{"$ref":"Trigger"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"variables":{"methods":{"create":{"description":"Creates a GTM Variable.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.variables.create","mediaUpload":null,"parameterOrder":["accountId","containerId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/variables","request":{"$ref":"Variable","parameterName":null},"response":{"$ref":"Variable"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a GTM Variable.","etagRequired":null,"httpMethod":"DELETE","id":"tagmanager.accounts.containers.variables.delete","mediaUpload":null,"parameterOrder":["accountId","containerId","variableId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"variableId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Variable ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/variables/{variableId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a GTM Variable.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.variables.get","mediaUpload":null,"parameterOrder":["accountId","containerId","variableId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"variableId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Variable ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/variables/{variableId}","request":null,"response":{"$ref":"Variable"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all GTM Variables of a Container.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.variables.list","mediaUpload":null,"parameterOrder":["accountId","containerId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/variables","request":null,"response":{"$ref":"ListVariablesResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a GTM Variable.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.containers.variables.update","mediaUpload":null,"parameterOrder":["accountId","containerId","variableId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the variable in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"variableId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Variable ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/variables/{variableId}","request":{"$ref":"Variable","parameterName":null},"response":{"$ref":"Variable"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"versions":{"methods":{"create":{"description":"Creates a Container Version.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.versions.create","mediaUpload":null,"parameterOrder":["accountId","containerId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/versions","request":{"$ref":"CreateContainerVersionRequestVersionOptions","parameterName":null},"response":{"$ref":"CreateContainerVersionResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containerversions"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a Container Version.","etagRequired":null,"httpMethod":"DELETE","id":"tagmanager.accounts.containers.versions.delete","mediaUpload":null,"parameterOrder":["accountId","containerId","containerVersionId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerVersionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container Version ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containerversions"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a Container Version.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.versions.get","mediaUpload":null,"parameterOrder":["accountId","containerId","containerVersionId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerVersionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container Version ID. Specify published to retrieve the currently published version.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}","request":null,"response":{"$ref":"ContainerVersion"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.edit.containerversions","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all Container Versions of a GTM Container.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.versions.list","mediaUpload":null,"parameterOrder":["accountId","containerId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"headers":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Retrieve headers only when true.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"includeDeleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"false","description":"Also retrieve deleted (archived) versions when true.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/versions","request":null,"response":{"$ref":"ListContainerVersionsResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.edit.containerversions","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"publish":{"description":"Publishes a Container Version.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.versions.publish","mediaUpload":null,"parameterOrder":["accountId","containerId","containerVersionId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerVersionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container Version ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the container version in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish","request":null,"response":{"$ref":"PublishContainerVersionResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.publish"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"restore":{"description":"Restores a Container Version. This will overwrite the container's current configuration (including its variables, triggers and tags). The operation will not have any effect on the version that is being served (i.e. the published version).","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.versions.restore","mediaUpload":null,"parameterOrder":["accountId","containerId","containerVersionId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerVersionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container Version ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore","request":null,"response":{"$ref":"ContainerVersion"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"undelete":{"description":"Undeletes a Container Version.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.versions.undelete","mediaUpload":null,"parameterOrder":["accountId","containerId","containerVersionId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerVersionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container Version ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete","request":null,"response":{"$ref":"ContainerVersion"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containerversions"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a Container Version.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.containers.versions.update","mediaUpload":null,"parameterOrder":["accountId","containerId","containerVersionId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"containerVersionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Container Version ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the container version in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}","request":{"$ref":"ContainerVersion","parameterName":null},"response":{"$ref":"ContainerVersion"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containerversions"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"permissions":{"methods":{"create":{"description":"Creates a user's Account & Container Permissions.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.permissions.create","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/permissions","request":{"$ref":"UserAccess","parameterName":null},"response":{"$ref":"UserAccess"},"scopes":["https://www.googleapis.com/auth/tagmanager.manage.users"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Removes a user from the account, revoking access to it and all of its containers.","etagRequired":null,"httpMethod":"DELETE","id":"tagmanager.accounts.permissions.delete","mediaUpload":null,"parameterOrder":["accountId","permissionId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"permissionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM User ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/permissions/{permissionId}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/tagmanager.manage.users"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a user's Account & Container Permissions.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.permissions.get","mediaUpload":null,"parameterOrder":["accountId","permissionId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"permissionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM User ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/permissions/{permissionId}","request":null,"response":{"$ref":"UserAccess"},"scopes":["https://www.googleapis.com/auth/tagmanager.manage.users"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List all users that have access to the account along with Account and Container Permissions granted to each of them.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.permissions.list","mediaUpload":null,"parameterOrder":["accountId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID. @required tagmanager.accounts.permissions.list","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/permissions","request":null,"response":{"$ref":"ListAccountUsersResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.manage.users"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a user's Account & Container Permissions.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.permissions.update","mediaUpload":null,"parameterOrder":["accountId","permissionId"],"parameters":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"permissionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM User ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"accounts/{accountId}/permissions/{permissionId}","request":{"$ref":"UserAccess","parameterName":null},"response":{"$ref":"UserAccess"},"scopes":["https://www.googleapis.com/auth/tagmanager.manage.users"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"revision":"20160310","rootUrl":"https://www.googleapis.com/","schemas":{"Account":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a Google Tag Manager Account.","enum":null,"enumDescriptions":null,"format":null,"id":"Account","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Account ID uniquely identifies the GTM Account.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The fingerprint of the GTM Account as computed at storage time. This value is recomputed whenever the account is modified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Account display name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"shareData":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the account shares data anonymously with Google and others.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AccountAccess":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Defines the Google Tag Manager Account access permissions.","enum":null,"enumDescriptions":null,"format":null,"id":"AccountAccess","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"permission":{"$ref":null,"additionalProperties":null,"annotations":{"required":["tagmanager.accounts.permissions.create"]},"default":null,"description":"List of Account permissions. Valid account permissions are read and manage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["delete","edit","manage","publish","read"],"enumDescriptions":["","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Condition":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a predicate.","enum":null,"enumDescriptions":null,"format":null,"id":"Condition","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"parameter":{"$ref":null,"additionalProperties":null,"annotations":{"required":["tagmanager.accounts.containers.triggers.create","tagmanager.accounts.containers.triggers.update"]},"default":null,"description":"A list of named parameters (key/value), depending on the condition's type. Notes: \n- For binary operators, include parameters named arg0 and arg1 for specifying the left and right operands, respectively. \n- At this time, the left operand (arg0) must be a reference to a variable. \n- For case-insensitive Regex matching, include a boolean parameter named ignore_case that is set to true. If not specified or set to any other value, the matching will be case sensitive. \n- To negate an operator, include a boolean parameter named negate boolean parameter that is set to true.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Parameter","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":{"required":["tagmanager.accounts.containers.triggers.create","tagmanager.accounts.containers.triggers.update"]},"default":null,"description":"The type of operator for this condition.","enum":["contains","cssSelector","endsWith","equals","greater","greaterOrEquals","less","lessOrEquals","matchRegex","startsWith","urlMatches"],"enumDescriptions":["","","","","","","","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Container":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a Google Tag Manager Container.","enum":null,"enumDescriptions":null,"format":null,"id":"Container","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The Container ID uniquely identifies the GTM Container.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"domainName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional list of domain names associated with the Container.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"enabledBuiltInVariable":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of enabled built-in variables. Valid values include: pageUrl, pageHostname, pagePath, referrer, event, clickElement, clickClasses, clickId, clickTarget, clickUrl, clickText, formElement, formClasses, formId, formTarget, formUrl, formText, errorMessage, errorUrl, errorLine, newHistoryFragment, oldHistoryFragment, newHistoryState, oldHistoryState, historySource, containerVersion, debugMode, randomNumber, containerId.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["advertiserId","advertisingTrackingEnabled","appId","appName","appVersionCode","appVersionName","clickClasses","clickElement","clickId","clickTarget","clickText","clickUrl","containerId","containerVersion","debugMode","deviceName","environmentName","errorLine","errorMessage","errorUrl","event","formClasses","formElement","formId","formTarget","formText","formUrl","historySource","htmlId","language","newHistoryFragment","newHistoryState","oldHistoryFragment","oldHistoryState","osVersion","pageHostname","pagePath","pageUrl","platform","randomNumber","referrer","resolution","sdkVersion"],"enumDescriptions":["","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The fingerprint of the GTM Container as computed at storage time. This value is recomputed whenever the account is modified.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":{"required":["tagmanager.accounts.containers.create"]},"default":null,"description":"Container display name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"notes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Container Notes.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"publicId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Container Public ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timeZoneCountryId":{"$ref":null,"additionalProperties":null,"annotations":{"required":["tagmanager.accounts.containers.create"]},"default":null,"description":"Container Country ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timeZoneId":{"$ref":null,"additionalProperties":null,"annotations":{"required":["tagmanager.accounts.containers.create"]},"default":null,"description":"Container Time Zone ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"usageContext":{"$ref":null,"additionalProperties":null,"annotations":{"required":["tagmanager.accounts.containers.create"]},"default":null,"description":"List of Usage Contexts for the Container. Valid values include: web, android, ios.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["android","androidSdk5","ios","iosSdk5","web"],"enumDescriptions":["","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ContainerAccess":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Defines the Google Tag Manager Container access permissions.","enum":null,"enumDescriptions":null,"format":null,"id":"ContainerAccess","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"containerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Container ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"permission":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of Container permissions. Valid container permissions are: read, edit, delete, publish.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["delete","edit","manage","publish","read"],"enumDescriptions":["","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ContainerVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a Google Tag Manager Container Version.","enum":null,"enumDescriptions":null,"format":null,"id":"ContainerVersion","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Account ID.","enum":null,"enumDescriptions"
[...]
