{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/tagmanager.delete.containers":{"description":"Delete your Google Tag Manager containers"},"https://www.googleapis.com/auth/tagmanager.edit.containers":{"description":"Manage your Google Tag Manager container and its subcomponents, excluding versioning and publishing"},"https://www.googleapis.com/auth/tagmanager.edit.containerversions":{"description":"Manage your Google Tag Manager container versions"},"https://www.googleapis.com/auth/tagmanager.manage.accounts":{"description":"View and manage your Google Tag Manager accounts"},"https://www.googleapis.com/auth/tagmanager.manage.users":{"description":"Manage user permissions of your Google Tag Manager account and container"},"https://www.googleapis.com/auth/tagmanager.publish":{"description":"Publish your Google Tag Manager container versions"},"https://www.googleapis.com/auth/tagmanager.readonly":{"description":"View your Google Tag Manager container and its subcomponents"}}}},"basePath":"/tagmanager/v2/","baseUrl":"https://www.googleapis.com/tagmanager/v2/","batchPath":"batch/tagmanager/v2","canonicalName":"Tag Manager","description":"Accesses Tag Manager accounts and containers.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/tag-manager/api/v2/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/COGKad2GbFNLxJtu8jKqwelYxZ0\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png","x32":"https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"},"id":"tagmanager:v2","kind":"discovery#restDescription","labels":null,"methods":null,"name":"tagmanager","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"accounts":{"methods":{"get":{"description":"Gets a GTM Account.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.get","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Accounts's API relative path. Example: accounts/{account_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":{"$ref":"Account"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.manage.accounts","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all GTM Accounts that a user has access to.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.list","mediaUpload":null,"parameterOrder":null,"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token for fetching the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"accounts","request":null,"response":{"$ref":"ListAccountsResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.manage.accounts","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a GTM Account.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.update","mediaUpload":null,"parameterOrder":["path"],"parameters":{"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the account in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Accounts's API relative path. Example: accounts/{account_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":{"$ref":"Account","parameterName":null},"response":{"$ref":"Account"},"scopes":["https://www.googleapis.com/auth/tagmanager.manage.accounts"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"containers":{"methods":{"create":{"description":"Creates a Container.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.create","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Account's API relative path. Example: accounts/{account_id}.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/containers","request":{"$ref":"Container","parameterName":null},"response":{"$ref":"Container"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a Container.","etagRequired":null,"httpMethod":"DELETE","id":"tagmanager.accounts.containers.delete","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/tagmanager.delete.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a Container.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.get","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":{"$ref":"Container"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all Containers that belongs to a GTM Account.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.list","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token for fetching the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Accounts's API relative path. Example: accounts/{account_id}.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/containers","request":null,"response":{"$ref":"ListContainersResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a Container.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.containers.update","mediaUpload":null,"parameterOrder":["path"],"parameters":{"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the container in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":{"$ref":"Container","parameterName":null},"response":{"$ref":"Container"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"environments":{"methods":{"create":{"description":"Creates a GTM Environment.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.environments.create","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/environments","request":{"$ref":"Environment","parameterName":null},"response":{"$ref":"Environment"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a GTM Environment.","etagRequired":null,"httpMethod":"DELETE","id":"tagmanager.accounts.containers.environments.delete","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Environment's API relative path. Example: accounts/{account_id}/containers/{container_id}/environments/{environment_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a GTM Environment.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.environments.get","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Environment's API relative path. Example: accounts/{account_id}/containers/{container_id}/environments/{environment_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":{"$ref":"Environment"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all GTM Environments of a GTM Container.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.environments.list","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token for fetching the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/environments","request":null,"response":{"$ref":"ListEnvironmentsResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates a GTM Environment. This method supports patch semantics.","etagRequired":null,"httpMethod":"PATCH","id":"tagmanager.accounts.containers.environments.patch","mediaUpload":null,"parameterOrder":["path"],"parameters":{"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the environment in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Environment's API relative path. Example: accounts/{account_id}/containers/{container_id}/environments/{environment_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":{"$ref":"Environment","parameterName":null},"response":{"$ref":"Environment"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"reauthorize":{"description":"Re-generates the authorization code for a GTM Environment.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.environments.reauthorize","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Environment's API relative path. Example: accounts/{account_id}/containers/{container_id}/environments/{environment_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}:reauthorize","request":{"$ref":"Environment","parameterName":null},"response":{"$ref":"Environment"},"scopes":["https://www.googleapis.com/auth/tagmanager.publish"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a GTM Environment.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.containers.environments.update","mediaUpload":null,"parameterOrder":["path"],"parameters":{"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the environment in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Environment's API relative path. Example: accounts/{account_id}/containers/{container_id}/environments/{environment_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":{"$ref":"Environment","parameterName":null},"response":{"$ref":"Environment"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"version_headers":{"methods":{"latest":{"description":"Gets the latest container version header","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.version_headers.latest","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/version_headers:latest","request":null,"response":{"$ref":"ContainerVersionHeader"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all Container Versions of a GTM Container.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.version_headers.list","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"includeDeleted":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Also retrieve deleted (archived) versions when true.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token for fetching the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/version_headers","request":null,"response":{"$ref":"ListContainerVersionsResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.edit.containerversions","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"versions":{"methods":{"delete":{"description":"Deletes a Container Version.","etagRequired":null,"httpMethod":"DELETE","id":"tagmanager.accounts.containers.versions.delete","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM ContainerVersion's API relative path. Example: accounts/{account_id}/containers/{container_id}/versions/{version_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containerversions"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a Container Version.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.versions.get","mediaUpload":null,"parameterOrder":["path"],"parameters":{"containerVersionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GTM ContainerVersion ID. Specify published to retrieve the currently published version.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM ContainerVersion's API relative path. Example: accounts/{account_id}/containers/{container_id}/versions/{version_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":{"$ref":"ContainerVersion"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.edit.containerversions","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"live":{"description":"Gets the live (i.e. published) container version","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.versions.live","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Container's API relative path. Example: accounts/{account_id}/containers/{container_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/versions:live","request":null,"response":{"$ref":"ContainerVersion"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"publish":{"description":"Publishes a Container Version.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.versions.publish","mediaUpload":null,"parameterOrder":["path"],"parameters":{"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the container version in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM ContainerVersion's API relative path. Example: accounts/{account_id}/containers/{container_id}/versions/{version_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}:publish","request":null,"response":{"$ref":"PublishContainerVersionResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.publish"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"set_latest":{"description":"Sets the latest version used for synchronization of workspaces when detecting conflicts and errors.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.versions.set_latest","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM ContainerVersion's API relative path. Example: accounts/{account_id}/containers/{container_id}/versions/{version_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}:set_latest","request":null,"response":{"$ref":"ContainerVersion"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"undelete":{"description":"Undeletes a Container Version.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.versions.undelete","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM ContainerVersion's API relative path. Example: accounts/{account_id}/containers/{container_id}/versions/{version_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}:undelete","request":null,"response":{"$ref":"ContainerVersion"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containerversions"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a Container Version.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.containers.versions.update","mediaUpload":null,"parameterOrder":["path"],"parameters":{"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the container version in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM ContainerVersion's API relative path. Example: accounts/{account_id}/containers/{container_id}/versions/{version_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":{"$ref":"ContainerVersion","parameterName":null},"response":{"$ref":"ContainerVersion"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containerversions"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"workspaces":{"methods":{"create":{"description":"Creates a Workspace.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.workspaces.create","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM parent Container's API relative path. Example: accounts/{account_id}/containers/{container_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/workspaces","request":{"$ref":"Workspace","parameterName":null},"response":{"$ref":"Workspace"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create_version":{"description":"Creates a Container Version from the entities present in the workspace, deletes the workspace, and sets the base container version to the newly created version.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.workspaces.create_version","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}:create_version","request":{"$ref":"CreateContainerVersionRequestVersionOptions","parameterName":null},"response":{"$ref":"CreateContainerVersionResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containerversions"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a Workspace.","etagRequired":null,"httpMethod":"DELETE","id":"tagmanager.accounts.containers.workspaces.delete","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/tagmanager.delete.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a Workspace.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.workspaces.get","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":{"$ref":"Workspace"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getProposal":{"description":"Gets a GTM Workspace Proposal.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.workspaces.getProposal","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM workspace proposal's relative path: Example: accounts/{aid}/containers/{cid}/workspace/{wid}/workspace_proposal","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":{"$ref":"WorkspaceProposal"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getStatus":{"description":"Finds conflicting and modified entities in the workspace.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.workspaces.getStatus","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}/status","request":null,"response":{"$ref":"GetWorkspaceStatusResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all Workspaces that belong to a GTM Container.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.workspaces.list","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token for fetching the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM parent Container's API relative path. Example: accounts/{account_id}/containers/{container_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/workspaces","request":null,"response":{"$ref":"ListWorkspacesResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"quick_preview":{"description":"Quick previews a workspace by creating a fake container version from all entities in the provided workspace.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.workspaces.quick_preview","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}:quick_preview","request":null,"response":{"$ref":"QuickPreviewResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containerversions"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"resolve_conflict":{"description":"Resolves a merge conflict for a workspace entity by updating it to the resolved entity passed in the request.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.workspaces.resolve_conflict","mediaUpload":null,"parameterOrder":["path"],"parameters":{"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the entity_in_workspace in the merge conflict.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}:resolve_conflict","request":{"$ref":"Entity","parameterName":null},"response":null,"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"sync":{"description":"Syncs a workspace to the latest container version by updating all unmodified workspace entities and displaying conflicts for modified entities.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.workspaces.sync","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}:sync","request":null,"response":{"$ref":"SyncWorkspaceResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a Workspace.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.containers.workspaces.update","mediaUpload":null,"parameterOrder":["path"],"parameters":{"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the workspace in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":{"$ref":"Workspace","parameterName":null},"response":{"$ref":"Workspace"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"updateProposal":{"description":"Updates a GTM Workspace Proposal.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.containers.workspaces.updateProposal","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM workspace proposal's relative path: Example: accounts/{aid}/containers/{cid}/workspace/{wid}/workspace_proposal","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":{"$ref":"UpdateWorkspaceProposalRequest","parameterName":null},"response":{"$ref":"WorkspaceProposal"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"built_in_variables":{"methods":{"create":{"description":"Creates one or more GTM Built-In Variables.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.workspaces.built_in_variables.create","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The types of built-in variables to enable.","enum":["advertiserId","advertisingTrackingEnabled","ampBrowserLanguage","ampCanonicalHost","ampCanonicalPath","ampCanonicalUrl","ampClientId","ampClientMaxScrollX","ampClientMaxScrollY","ampClientScreenHeight","ampClientScreenWidth","ampClientScrollX","ampClientScrollY","ampClientTimestamp","ampClientTimezone","ampGtmEvent","ampPageDownloadTime","ampPageLoadTime","ampPageViewId","ampReferrer","ampTitle","ampTotalEngagedTime","appId","appName","appVersionCode","appVersionName","builtInVariableTypeUnspecified","clickClasses","clickElement","clickId","clickTarget","clickText","clickUrl","containerId","containerVersion","debugMode","deviceName","environmentName","errorLine","errorMessage","errorUrl","event","eventName","firebaseEventParameterCampaign","firebaseEventParameterCampaignAclid","firebaseEventParameterCampaignAnid","firebaseEventParameterCampaignClickTimestamp","firebaseEventParameterCampaignContent","firebaseEventParameterCampaignCp1","firebaseEventParameterCampaignGclid","firebaseEventParameterCampaignSource","firebaseEventParameterCampaignTerm","firebaseEventParameterCurrency","firebaseEventParameterDynamicLinkAcceptTime","firebaseEventParameterDynamicLinkLinkid","firebaseEventParameterNotificationMessageDeviceTime","firebaseEventParameterNotificationMessageId","firebaseEventParameterNotificationMessageName","firebaseEventParameterNotificationMessageTime","firebaseEventParameterNotificationTopic","firebaseEventParameterPreviousAppVersion","firebaseEventParameterPreviousOsVersion","firebaseEventParameterPrice","firebaseEventParameterProductId","firebaseEventParameterQuantity","firebaseEventParameterValue","formClasses","formElement","formId","formTarget","formText","formUrl","historySource","htmlId","language","newHistoryFragment","newHistoryState","oldHistoryFragment","oldHistoryState","osVersion","pageHostname","pagePath","pageUrl","platform","randomNumber","referrer","resolution","sdkVersion","videoCurrentTime","videoDuration","videoElapsedTime","videoPercent","videoProvider","videoStatus","videoTitle","videoUrl","videoVisible"],"enumDescriptions":["","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/built_in_variables","request":null,"response":{"$ref":"CreateBuiltInVariableResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes one or more GTM Built-In Variables.","etagRequired":null,"httpMethod":"DELETE","id":"tagmanager.accounts.containers.workspaces.built_in_variables.delete","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM BuiltInVariable's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/built_in_variables","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The types of built-in variables to delete.","enum":["advertiserId","advertisingTrackingEnabled","ampBrowserLanguage","ampCanonicalHost","ampCanonicalPath","ampCanonicalUrl","ampClientId","ampClientMaxScrollX","ampClientMaxScrollY","ampClientScreenHeight","ampClientScreenWidth","ampClientScrollX","ampClientScrollY","ampClientTimestamp","ampClientTimezone","ampGtmEvent","ampPageDownloadTime","ampPageLoadTime","ampPageViewId","ampReferrer","ampTitle","ampTotalEngagedTime","appId","appName","appVersionCode","appVersionName","builtInVariableTypeUnspecified","clickClasses","clickElement","clickId","clickTarget","clickText","clickUrl","containerId","containerVersion","debugMode","deviceName","environmentName","errorLine","errorMessage","errorUrl","event","eventName","firebaseEventParameterCampaign","firebaseEventParameterCampaignAclid","firebaseEventParameterCampaignAnid","firebaseEventParameterCampaignClickTimestamp","firebaseEventParameterCampaignContent","firebaseEventParameterCampaignCp1","firebaseEventParameterCampaignGclid","firebaseEventParameterCampaignSource","firebaseEventParameterCampaignTerm","firebaseEventParameterCurrency","firebaseEventParameterDynamicLinkAcceptTime","firebaseEventParameterDynamicLinkLinkid","firebaseEventParameterNotificationMessageDeviceTime","firebaseEventParameterNotificationMessageId","firebaseEventParameterNotificationMessageName","firebaseEventParameterNotificationMessageTime","firebaseEventParameterNotificationTopic","firebaseEventParameterPreviousAppVersion","firebaseEventParameterPreviousOsVersion","firebaseEventParameterPrice","firebaseEventParameterProductId","firebaseEventParameterQuantity","firebaseEventParameterValue","formClasses","formElement","formId","formTarget","formText","formUrl","historySource","htmlId","language","newHistoryFragment","newHistoryState","oldHistoryFragment","oldHistoryState","osVersion","pageHostname","pagePath","pageUrl","platform","randomNumber","referrer","resolution","sdkVersion","videoCurrentTime","videoDuration","videoElapsedTime","videoPercent","videoProvider","videoStatus","videoTitle","videoUrl","videoVisible"],"enumDescriptions":["","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all the enabled Built-In Variables of a GTM Container.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.workspaces.built_in_variables.list","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token for fetching the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/built_in_variables","request":null,"response":{"$ref":"ListEnabledBuiltInVariablesResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"revert":{"description":"Reverts changes to a GTM Built-In Variables in a GTM Workspace.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.workspaces.built_in_variables.revert","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM BuiltInVariable's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/built_in_variables","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of built-in variable to revert.","enum":["advertiserId","advertisingTrackingEnabled","ampBrowserLanguage","ampCanonicalHost","ampCanonicalPath","ampCanonicalUrl","ampClientId","ampClientMaxScrollX","ampClientMaxScrollY","ampClientScreenHeight","ampClientScreenWidth","ampClientScrollX","ampClientScrollY","ampClientTimestamp","ampClientTimezone","ampGtmEvent","ampPageDownloadTime","ampPageLoadTime","ampPageViewId","ampReferrer","ampTitle","ampTotalEngagedTime","appId","appName","appVersionCode","appVersionName","builtInVariableTypeUnspecified","clickClasses","clickElement","clickId","clickTarget","clickText","clickUrl","containerId","containerVersion","debugMode","deviceName","environmentName","errorLine","errorMessage","errorUrl","event","eventName","firebaseEventParameterCampaign","firebaseEventParameterCampaignAclid","firebaseEventParameterCampaignAnid","firebaseEventParameterCampaignClickTimestamp","firebaseEventParameterCampaignContent","firebaseEventParameterCampaignCp1","firebaseEventParameterCampaignGclid","firebaseEventParameterCampaignSource","firebaseEventParameterCampaignTerm","firebaseEventParameterCurrency","firebaseEventParameterDynamicLinkAcceptTime","firebaseEventParameterDynamicLinkLinkid","firebaseEventParameterNotificationMessageDeviceTime","firebaseEventParameterNotificationMessageId","firebaseEventParameterNotificationMessageName","firebaseEventParameterNotificationMessageTime","firebaseEventParameterNotificationTopic","firebaseEventParameterPreviousAppVersion","firebaseEventParameterPreviousOsVersion","firebaseEventParameterPrice","firebaseEventParameterProductId","firebaseEventParameterQuantity","firebaseEventParameterValue","formClasses","formElement","formId","formTarget","formText","formUrl","historySource","htmlId","language","newHistoryFragment","newHistoryState","oldHistoryFragment","oldHistoryState","osVersion","pageHostname","pagePath","pageUrl","platform","randomNumber","referrer","resolution","sdkVersion","videoCurrentTime","videoDuration","videoElapsedTime","videoPercent","videoProvider","videoStatus","videoTitle","videoUrl","videoVisible"],"enumDescriptions":["","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","","",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"{+path}/built_in_variables:revert","request":null,"response":{"$ref":"RevertBuiltInVariableResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"folders":{"methods":{"create":{"description":"Creates a GTM Folder.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.workspaces.folders.create","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/folders","request":{"$ref":"Folder","parameterName":null},"response":{"$ref":"Folder"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a GTM Folder.","etagRequired":null,"httpMethod":"DELETE","id":"tagmanager.accounts.containers.workspaces.folders.delete","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Folder's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/folders/{folder_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"entities":{"description":"List all entities in a GTM Folder.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.workspaces.folders.entities","mediaUpload":null,"parameterOrder":["path"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token for fetching the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Folder's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/folders/{folder_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}:entities","request":null,"response":{"$ref":"FolderEntities"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a GTM Folder.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.workspaces.folders.get","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Folder's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/folders/{folder_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":{"$ref":"Folder"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all GTM Folders of a Container.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.workspaces.folders.list","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token for fetching the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/folders","request":null,"response":{"$ref":"ListFoldersResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"move_entities_to_folder":{"description":"Moves entities to a GTM Folder.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.workspaces.folders.move_entities_to_folder","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Folder's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/folders/{folder_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"tagId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The tags to be moved to the folder.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"triggerId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The triggers to be moved to the folder.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"variableId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The variables to be moved to the folder.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null}},"path":"{+path}:move_entities_to_folder","request":{"$ref":"Folder","parameterName":null},"response":null,"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"revert":{"description":"Reverts changes to a GTM Folder in a GTM Workspace.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.workspaces.folders.revert","mediaUpload":null,"parameterOrder":["path"],"parameters":{"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the tag in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Folder's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/folders/{folder_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}:revert","request":null,"response":{"$ref":"RevertFolderResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a GTM Folder.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.containers.workspaces.folders.update","mediaUpload":null,"parameterOrder":["path"],"parameters":{"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the folder in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Folder's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/folders/{folder_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":{"$ref":"Folder","parameterName":null},"response":{"$ref":"Folder"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"proposal":{"methods":{"create":{"description":"Creates a GTM Workspace Proposal.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.workspaces.proposal.create","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Workspace's API relative path. Example: accounts/{aid}/containers/{cid}/workspace/{wid}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/proposal","request":{"$ref":"CreateWorkspaceProposalRequest","parameterName":null},"response":{"$ref":"WorkspaceProposal"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a GTM Workspace Proposal.","etagRequired":null,"httpMethod":"DELETE","id":"tagmanager.accounts.containers.workspaces.proposal.delete","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM workspace proposal's relative path: Example: accounts/{aid}/containers/{cid}/workspace/{wid}/workspace_proposal","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":null,"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"tags":{"methods":{"create":{"description":"Creates a GTM Tag.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.workspaces.tags.create","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/tags","request":{"$ref":"Tag","parameterName":null},"response":{"$ref":"Tag"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a GTM Tag.","etagRequired":null,"httpMethod":"DELETE","id":"tagmanager.accounts.containers.workspaces.tags.delete","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Tag's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/tags/{tag_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a GTM Tag.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.workspaces.tags.get","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Tag's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/tags/{tag_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":{"$ref":"Tag"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all GTM Tags of a Container.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.workspaces.tags.list","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token for fetching the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/tags","request":null,"response":{"$ref":"ListTagsResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"revert":{"description":"Reverts changes to a GTM Tag in a GTM Workspace.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.workspaces.tags.revert","mediaUpload":null,"parameterOrder":["path"],"parameters":{"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of thetag in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Tag's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/tags/{tag_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}:revert","request":null,"response":{"$ref":"RevertTagResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a GTM Tag.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.containers.workspaces.tags.update","mediaUpload":null,"parameterOrder":["path"],"parameters":{"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the tag in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Tag's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/tags/{tag_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":{"$ref":"Tag","parameterName":null},"response":{"$ref":"Tag"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"triggers":{"methods":{"create":{"description":"Creates a GTM Trigger.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.workspaces.triggers.create","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Workspaces's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/triggers","request":{"$ref":"Trigger","parameterName":null},"response":{"$ref":"Trigger"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a GTM Trigger.","etagRequired":null,"httpMethod":"DELETE","id":"tagmanager.accounts.containers.workspaces.triggers.delete","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Trigger's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/triggers/{trigger_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a GTM Trigger.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.workspaces.triggers.get","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Trigger's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/triggers/{trigger_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":{"$ref":"Trigger"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all GTM Triggers of a Container.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.workspaces.triggers.list","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token for fetching the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Workspaces's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/triggers","request":null,"response":{"$ref":"ListTriggersResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"revert":{"description":"Reverts changes to a GTM Trigger in a GTM Workspace.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.workspaces.triggers.revert","mediaUpload":null,"parameterOrder":["path"],"parameters":{"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the trigger in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Trigger's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/triggers/{trigger_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}:revert","request":null,"response":{"$ref":"RevertTriggerResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a GTM Trigger.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.containers.workspaces.triggers.update","mediaUpload":null,"parameterOrder":["path"],"parameters":{"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the trigger in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Trigger's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/triggers/{trigger_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":{"$ref":"Trigger","parameterName":null},"response":{"$ref":"Trigger"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"variables":{"methods":{"create":{"description":"Creates a GTM Variable.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.workspaces.variables.create","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/variables","request":{"$ref":"Variable","parameterName":null},"response":{"$ref":"Variable"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes a GTM Variable.","etagRequired":null,"httpMethod":"DELETE","id":"tagmanager.accounts.containers.workspaces.variables.delete","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Variable's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/variables/{variable_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a GTM Variable.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.workspaces.variables.get","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Variable's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/variables/{variable_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":{"$ref":"Variable"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists all GTM Variables of a Container.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.containers.workspaces.variables.list","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token for fetching the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Workspace's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/variables","request":null,"response":{"$ref":"ListVariablesResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers","https://www.googleapis.com/auth/tagmanager.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"revert":{"description":"Reverts changes to a GTM Variable in a GTM Workspace.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.containers.workspaces.variables.revert","mediaUpload":null,"parameterOrder":["path"],"parameters":{"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the variable in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Variable's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/variables/{variable_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}:revert","request":null,"response":{"$ref":"RevertVariableResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a GTM Variable.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.containers.workspaces.variables.update","mediaUpload":null,"parameterOrder":["path"],"parameters":{"fingerprint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When provided, this fingerprint must match the fingerprint of the variable in storage.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Variable's API relative path. Example: accounts/{account_id}/containers/{container_id}/workspaces/{workspace_id}/variables/{variable_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":{"$ref":"Variable","parameterName":null},"response":{"$ref":"Variable"},"scopes":["https://www.googleapis.com/auth/tagmanager.edit.containers"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"ETag":null},"user_permissions":{"methods":{"create":{"description":"Creates a user's Account & Container access.","etagRequired":null,"httpMethod":"POST","id":"tagmanager.accounts.user_permissions.create","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Account's API relative path. Example: accounts/{account_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/user_permissions","request":{"$ref":"UserPermission","parameterName":null},"response":{"$ref":"UserPermission"},"scopes":["https://www.googleapis.com/auth/tagmanager.manage.users"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Removes a user from the account, revoking access to it and all of its containers.","etagRequired":null,"httpMethod":"DELETE","id":"tagmanager.accounts.user_permissions.delete","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM UserPermission's API relative path. Example: accounts/{account_id}/user_permissions/{user_permission_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/tagmanager.manage.users"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a user's Account & Container access.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.user_permissions.get","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM UserPermission's API relative path. Example: accounts/{account_id}/user_permissions/{user_permission_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":null,"response":{"$ref":"UserPermission"},"scopes":["https://www.googleapis.com/auth/tagmanager.manage.users"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List all users that have access to the account along with Account and Container user access granted to each of them.","etagRequired":null,"httpMethod":"GET","id":"tagmanager.accounts.user_permissions.list","mediaUpload":null,"parameterOrder":["parent"],"parameters":{"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Continuation token for fetching the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"parent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM Accounts's API relative path. Example: accounts/{account_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+parent}/user_permissions","request":null,"response":{"$ref":"ListUserPermissionsResponse"},"scopes":["https://www.googleapis.com/auth/tagmanager.manage.users"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates a user's Account & Container access.","etagRequired":null,"httpMethod":"PUT","id":"tagmanager.accounts.user_permissions.update","mediaUpload":null,"parameterOrder":["path"],"parameters":{"path":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"GTM UserPermission's API relative path. Example: accounts/{account_id}/user_permissions/{user_permission_id}","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{+path}","request":{"$ref":"UserPermission","parameterName":null},"response":{"$ref":"UserPermission"},"scopes":["https://www.googleapis.com/auth/tagmanager.manage.users"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"revision":"20170915","rootUrl":"https://www.googleapis.com/","schemas":{"Account":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a Google Tag Manager Account.","enum":null,"enumDescriptions":null,"format":null,"id":"Account","items":null,"loc
[...]
