{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/taskqueue":{"description":"Manage your Tasks and Taskqueues"},"https://www.googleapis.com/auth/taskqueue.consumer":{"description":"Consume Tasks from your Taskqueues"}}}},"basePath":"/taskqueue/v1beta1/projects/","baseUrl":"https://www.googleapis.com/taskqueue/v1beta1/projects/","batchPath":"batch/taskqueue/v1beta1","canonicalName":null,"description":"Accesses a Google App Engine Pull Task Queue over REST.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/appengine/docs/python/taskqueue/rest","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/UNHEtVyVE-POJmRW0SrDcBQE6KY\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.google.com/images/icons/product/app_engine-16.png","x32":"https://www.google.com/images/icons/product/app_engine-32.png"},"id":"taskqueue:v1beta1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"taskqueue","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"taskqueues":{"methods":{"get":{"description":"Get detailed information about a TaskQueue.","etagRequired":null,"httpMethod":"GET","id":"taskqueue.taskqueues.get","mediaUpload":null,"parameterOrder":["project","taskqueue"],"parameters":{"getStats":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether to get stats. Optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project under which the queue lies.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"taskqueue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of the taskqueue to get the properties of.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/taskqueues/{taskqueue}","request":null,"response":{"$ref":"TaskQueue"},"scopes":["https://www.googleapis.com/auth/taskqueue","https://www.googleapis.com/auth/taskqueue.consumer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"tasks":{"methods":{"delete":{"description":"Delete a task from a TaskQueue.","etagRequired":null,"httpMethod":"DELETE","id":"taskqueue.tasks.delete","mediaUpload":null,"parameterOrder":["project","taskqueue","task"],"parameters":{"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project under which the queue lies.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"task":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of the task to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"taskqueue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The taskqueue to delete a task from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/taskqueues/{taskqueue}/tasks/{task}","request":null,"response":null,"scopes":["https://www.googleapis.com/auth/taskqueue","https://www.googleapis.com/auth/taskqueue.consumer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Get a particular task from a TaskQueue.","etagRequired":null,"httpMethod":"GET","id":"taskqueue.tasks.get","mediaUpload":null,"parameterOrder":["project","taskqueue","task"],"parameters":{"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project under which the queue lies.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"task":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The task to get properties of.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"taskqueue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The taskqueue in which the task belongs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/taskqueues/{taskqueue}/tasks/{task}","request":null,"response":{"$ref":"Task"},"scopes":["https://www.googleapis.com/auth/taskqueue","https://www.googleapis.com/auth/taskqueue.consumer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"lease":{"description":"Lease 1 or more tasks from a TaskQueue.","etagRequired":null,"httpMethod":"POST","id":"taskqueue.tasks.lease","mediaUpload":null,"parameterOrder":["project","taskqueue","numTasks","leaseSecs"],"parameters":{"leaseSecs":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The lease in seconds.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"numTasks":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The number of tasks to lease.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"integer","variant":null,"ETag":null},"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project under which the queue lies.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"taskqueue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The taskqueue to lease a task from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/taskqueues/{taskqueue}/tasks/lease","request":null,"response":{"$ref":"Tasks"},"scopes":["https://www.googleapis.com/auth/taskqueue","https://www.googleapis.com/auth/taskqueue.consumer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"List Tasks in a TaskQueue","etagRequired":null,"httpMethod":"GET","id":"taskqueue.tasks.list","mediaUpload":null,"parameterOrder":["project","taskqueue"],"parameters":{"project":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The project under which the queue lies.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"taskqueue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of the taskqueue to list tasks from.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{project}/taskqueues/{taskqueue}/tasks","request":null,"response":{"$ref":"Tasks2"},"scopes":["https://www.googleapis.com/auth/taskqueue","https://www.googleapis.com/auth/taskqueue.consumer"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20160428","rootUrl":"https://www.googleapis.com/","schemas":{"Task":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"Task","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"enqueueTimestamp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time (in seconds since the epoch) at which the task was enqueued.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the task.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"taskqueues#task","description":"The kind of object returned, in this case set to task.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"leaseTimestamp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time (in seconds since the epoch) at which the task lease will expire. This value is 0 if the task isnt currently leased out to a worker.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"payloadBase64":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A bag of bytes which is the task payload. The payload on the JSON side is always Base64 encoded.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"queueName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the queue that the task is in.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TaskQueue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"TaskQueue","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"acl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"ACLs that are applicable to this TaskQueue object.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"adminEmails":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email addresses of users who are \"admins\" of the TaskQueue. This means they can control the queue, eg set ACLs for the queue.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"consumerEmails":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email addresses of users who can \"consume\" tasks from the TaskQueue. This means they can Dequeue and Delete tasks from the queue.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"producerEmails":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Email addresses of users who can \"produce\" tasks into the TaskQueue. This means they can Insert tasks into the queue.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the taskqueue.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"taskqueues#taskqueue","description":"The kind of REST object returned, in this case taskqueue.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxLeases":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The number of times we should lease out tasks before giving up on them. If unset we lease them out forever until a worker deletes the task.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"stats":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Statistics for the TaskQueue object in question.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"leasedLastHour":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of tasks leased in the last hour.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"leasedLastMinute":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of tasks leased in the last minute.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oldestTask":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The timestamp (in seconds since the epoch) of the oldest unfinished task.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"totalTasks":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of tasks in the queue.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Tasks":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"Tasks","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The actual list of tasks returned as a result of the lease operation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Task","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"taskqueue#tasks","description":"The kind of object returned, a list of tasks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Tasks2":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"Tasks2","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The actual list of tasks currently active in the TaskQueue.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Task","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"taskqueues#tasks","description":"The kind of object returned, a list of tasks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"taskqueue/v1beta1/projects/","title":"TaskQueue API","version":"v1beta1","version_module":null}