{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"},"https://www.googleapis.com/auth/cloud-platform.read-only":{"description":"View your data across Google Cloud Platform services"}}}},"basePath":"","baseUrl":"https://testing.googleapis.com/","batchPath":"batch","canonicalName":null,"description":"Allows developers to run automated tests for their mobile applications on Google infrastructure.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/cloud-test-lab/","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"testing:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"testing","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"projects":{"methods":null,"resources":{"testMatrices":{"methods":{"cancel":{"description":"Cancels unfinished test executions in a test matrix.\nThis call returns immediately and cancellation proceeds asychronously.\nIf the matrix is already final, this operation will have no effect.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to read project\n- INVALID_ARGUMENT - if the request is malformed\n- NOT_FOUND - if the Test Matrix does not exist","etagRequired":null,"httpMethod":"POST","id":"testing.projects.testMatrices.cancel","mediaUpload":null,"parameterOrder":["projectId","testMatrixId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud project that owns the test.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"testMatrixId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Test matrix that will be canceled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel","request":null,"response":{"$ref":"CancelTestMatrixResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Check the status of a test matrix.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to read project\n- INVALID_ARGUMENT - if the request is malformed\n- NOT_FOUND - if the Test Matrix does not exist","etagRequired":null,"httpMethod":"GET","id":"testing.projects.testMatrices.get","mediaUpload":null,"parameterOrder":["projectId","testMatrixId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Cloud project that owns the test matrix.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"testMatrixId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique test matrix id which was assigned by the service.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/testMatrices/{testMatrixId}","request":null,"response":{"$ref":"TestMatrix"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Request to run a matrix of tests according to the given specifications.\nUnsupported environments will be returned in the state UNSUPPORTED.\nMatrices are limited to at most 200 supported executions.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to write to project\n- INVALID_ARGUMENT - if the request is malformed or if the matrix expands\n                     to more than 200 supported executions","etagRequired":null,"httpMethod":"POST","id":"testing.projects.testMatrices.create","mediaUpload":null,"parameterOrder":["projectId"],"parameters":{"requestId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A string id used to detect duplicated requests.\nIds are automatically scoped to a project, so\nusers should ensure the ID is unique per-project.\nA UUID is recommended.\n\nOptional, but strongly recommended.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The GCE project under which this job will run.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/projects/{projectId}/testMatrices","request":{"$ref":"TestMatrix","parameterName":null},"response":{"$ref":"TestMatrix"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"testEnvironmentCatalog":{"methods":{"get":{"description":"Get the catalog of supported test environments.\n\nMay return any of the following canonical error codes:\n\n- INVALID_ARGUMENT - if the request is malformed\n- NOT_FOUND - if the environment type does not exist\n- INTERNAL - if an internal error occurred","etagRequired":null,"httpMethod":"GET","id":"testing.testEnvironmentCatalog.get","mediaUpload":null,"parameterOrder":["environmentType"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"For authorization, the cloud project requesting the TestEnvironmentCatalog.\nOptional","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"environmentType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of environment that should be listed.\nRequired","enum":["ENVIRONMENT_TYPE_UNSPECIFIED","ANDROID","NETWORK_CONFIGURATION"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/testEnvironmentCatalog/{environmentType}","request":null,"response":{"$ref":"TestEnvironmentCatalog"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-platform.read-only"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20171002","rootUrl":"https://testing.googleapis.com/","schemas":{"TestMatrix":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A group of one or more TestExecutions, built by taking a\nproduct of values over a pre-defined set of axes.","enum":null,"enumDescriptions":null,"format":null,"id":"TestMatrix","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"state":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Indicates the current progress of the test matrix (e.g., FINISHED)\n@OutputOnly","enum":["TEST_STATE_UNSPECIFIED","VALIDATING","PENDING","RUNNING","FINISHED","ERROR","UNSUPPORTED_ENVIRONMENT","INCOMPATIBLE_ENVIRONMENT","INCOMPATIBLE_ARCHITECTURE","CANCELLED","INVALID"],"enumDescriptions":["Do not use.  For proto versioning only.","The execution or matrix is being validated.","The execution or matrix is waiting for resources to become available.","The execution is currently being processed.\n\nCan only be set on an execution.","The execution or matrix has terminated normally.\n\nOn a matrix this means that the matrix level processing completed normally,\nbut individual executions may be in an ERROR state.","The execution or matrix has stopped because it encountered an\ninfrastructure failure.","The execution was not run because it corresponds to a unsupported\nenvironment.\n\nCan only be set on an execution.","The execution was not run because the provided inputs are incompatible with\nthe requested environment.\n\nExample: requested AndroidVersion is lower than APK's minSdkVersion\n\nCan only be set on an execution.","The execution was not run because the provided inputs are incompatible with\nthe requested architecture.\n\nExample: requested device does not support running the native code in\nthe supplied APK\n\nCan only be set on an execution.","The user cancelled the execution.\n\nCan only be set on an execution.","The execution or matrix was not run because the provided inputs are not\nvalid.\n\nExamples: input file is not of the expected type, is malformed/corrupt, or\nwas flagged as malware"],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"testSpecification":{"$ref":"TestSpecification","additionalProperties":null,"annotations":null,"default":null,"description":"How to run the test.\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The cloud project that owns the test matrix.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"clientInfo":{"$ref":"ClientInfo","additionalProperties":null,"annotations":null,"default":null,"description":"Information about the client which invoked the test.\nOptional","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"testExecutions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of test executions that the service creates for this matrix.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"TestExecution","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"timestamp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time this test matrix was initially created.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"environmentMatrix":{"$ref":"EnvironmentMatrix","additionalProperties":null,"annotations":null,"default":null,"description":"How the host machine(s) are configured.\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"testMatrixId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique id set by the service.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"resultStorage":{"$ref":"ResultStorage","additionalProperties":null,"annotations":null,"default":null,"description":"Where the results for the matrix are written.\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"invalidMatrixDetails":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Describes why the matrix is considered invalid.\nOnly useful for matrices in the INVALID state.\n@OutputOnly","enum":["INVALID_MATRIX_DETAILS_UNSPECIFIED","DETAILS_UNAVAILABLE","MALFORMED_APK","MALFORMED_TEST_APK","NO_MANIFEST","NO_PACKAGE_NAME","TEST_SAME_AS_APP","NO_INSTRUMENTATION","NO_SIGNATURE","INSTRUMENTATION_ORCHESTRATOR_INCOMPATIBLE","NO_TEST_RUNNER_CLASS","NO_LAUNCHER_ACTIVITY","FORBIDDEN_PERMISSIONS","INVALID_ROBO_DIRECTIVES","TEST_LOOP_INTENT_FILTER_NOT_FOUND","SCENARIO_LABEL_NOT_DECLARED","SCENARIO_LABEL_MALFORMED","SCENARIO_NOT_DECLARED","DEVICE_ADMIN_RECEIVER","TEST_ONLY_APK"],"enumDescriptions":["Do not use. For proto versioning only.","The matrix is INVALID, but there are no further details available.","The input app APK could not be parsed.","The input test APK could not be parsed.","The AndroidManifest.xml could not be found.","The APK manifest does not declare a package name.","The test package and app package are the same.","The test apk does not declare an instrumentation.","The input app apk does not have a signature.","The test runner class specified by user or in the test APK's manifest file\nis not compatible with Android Test Orchestrator.\nOrchestrator is only compatible with AndroidJUnitRunner version 1.0 or\nhigher.\nOrchestrator can be disabled by using DO_NOT_USE_ORCHESTRATOR\nOrchestratorOption.","The test APK does not contain the test runner class specified by user or in\nthe manifest file.\nThis can be caused by either of the following reasons:\n- the user provided a runner class name that's incorrect, or\n- the test runner isn't built into the test APK (might be in the app APK\ninstead).","A main launcher activity could not be found.","The app declares one or more permissions that are not allowed.","There is a conflict in the provided robo_directives.","There there is no test loop intent filter, or the one that is given is\nnot formatted correctly.","The request contains a scenario label that was not declared in the\nmanifest.","There was an error when parsing a label's value.","The request contains a scenario number that was not declared in the\nmanifest.","Device administrator applications are not allowed.","The APK is marked as \"testOnly\"."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ResultStorage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Locations where the results of running the test are stored.","enum":null,"enumDescriptions":null,"format":null,"id":"ResultStorage","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"toolResultsExecution":{"$ref":"ToolResultsExecution","additionalProperties":null,"annotations":null,"default":null,"description":"The tool results execution that results are written to.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"toolResultsHistory":{"$ref":"ToolResultsHistory","additionalProperties":null,"annotations":null,"default":null,"description":"The tool results history that contains the tool results execution that\nresults are written to.\n\nOptional, if not provided the service will choose an appropriate value.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"googleCloudStorage":{"$ref":"GoogleCloudStorage","additionalProperties":null,"annotations":null,"default":null,"description":"Required.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"FileReference":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A reference to a file, used for user inputs.","enum":null,"enumDescriptions":null,"format":null,"id":"FileReference","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"gcsPath":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A path to a file in Google Cloud Storage.\nExample: gs://build-app-1414623860166/app-debug-unaligned.apk","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AndroidVersion":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A version of the Android OS","enum":null,"enumDescriptions":null,"format":null,"id":"AndroidVersion","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"versionString":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A string representing this version of the Android OS.\nExamples: \"4.3\", \"4.4\"\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"codeName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The code name for this Android version.\nExamples: \"JellyBean\", \"KitKat\"\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"apiLevel":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The API level for this Android version.\nExamples: 18, 19\n@OutputOnly","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"distribution":{"$ref":"Distribution","additionalProperties":null,"annotations":null,"default":null,"description":"Market share for this version.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"releaseDate":{"$ref":"Date","additionalProperties":null,"annotations":null,"default":null,"description":"The date this Android version became available in the market.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"tags":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Tags for this dimension.\nExamples: \"default\", \"preview\", \"deprecated\"","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An opaque id for this Android version.\nUse this id to invoke the TestExecutionService.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TestDetails":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Additional details about the progress of the running test.","enum":null,"enumDescriptions":null,"format":null,"id":"TestDetails","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"errorMessage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If the TestState is ERROR, then this string will contain human-readable\ndetails about the error.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"progressMessages":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Human-readable, detailed descriptions of the test's progress.\nFor example: \"Provisioning a device\", \"Starting Test\".\n\nDuring the course of execution new data may be appended\nto the end of progress_messages.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ToolResultsExecution":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a tool results execution resource.\n\nThis has the results of a TestMatrix.","enum":null,"enumDescriptions":null,"format":null,"id":"ToolResultsExecution","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"executionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results execution ID.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results history ID.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The cloud project that owns the tool results execution.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ToolResultsHistory":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a tool results history resource.","enum":null,"enumDescriptions":null,"format":null,"id":"ToolResultsHistory","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results history ID.\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The cloud project that owns the tool results history.\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AndroidRoboTest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A test of an android application that explores the application on a virtual\nor physical Android Device, finding culprits and crashes as it goes.","enum":null,"enumDescriptions":null,"format":null,"id":"AndroidRoboTest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"roboDirectives":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A set of directives Robo should apply during the crawl.\nThis allows users to customize the crawl. For example, the username and\npassword for a test account can be provided.\nOptional","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"RoboDirective","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"maxDepth":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The max depth of the traversal stack Robo can explore. Needs to be at least\n2 to make Robo explore the app beyond the first activity.\nDefault is 50.\nOptional","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"appApk":{"$ref":"FileReference","additionalProperties":null,"annotations":null,"default":null,"description":"The APK for the application under test.\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"appPackageId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The java package for the application under test.\nOptional, default is determined by examining the application's manifest.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"appInitialActivity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The initial activity that should be used to start the app.\nOptional","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxSteps":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The max number of steps Robo can execute.\nDefault is no limit.\nOptional","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Distribution":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Data about the relative number of devices running a\ngiven configuration of the Android platform.","enum":null,"enumDescriptions":null,"format":null,"id":"Distribution","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"marketShare":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The estimated fraction (0-1) of the total market with this configuration.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"measurementTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time this distribution was measured.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Orientation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Screen orientation of the device.","enum":null,"enumDescriptions":null,"format":null,"id":"Orientation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A human-friendly name for this orientation.\nExample: \"portrait\"\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"tags":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Tags for this dimension.\nExamples: \"default\"","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id for this orientation.\nExample: \"portrait\"\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AndroidTestLoop":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A test of an Android Application with a Test Loop.\nThe intent <intent-name> will be implicitly added, since Games is the only\nuser of this api, for the time being.","enum":null,"enumDescriptions":null,"format":null,"id":"AndroidTestLoop","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"appPackageId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The java package for the application under test.\nOptional, default is determined by examining the application's manifest.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"appApk":{"$ref":"FileReference","additionalProperties":null,"annotations":null,"default":null,"description":"The APK for the application under test.\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"scenarioLabels":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of scenario labels that should be run during the test.\nThe scenario labels should map to labels defined in the application's\nmanifest. For example, player_experience and\ncom.google.test.loops.player_experience add all of the loops labeled in the\nmanifest with the com.google.test.loops.player_experience name to the\nexecution.\nOptional. Scenarios can also be specified in the scenarios field.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"scenarios":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of scenarios that should be run during the test.\nOptional, default is all test loops, derived from the application's\nmanifest.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"NetworkConfigurationCatalog":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"NetworkConfigurationCatalog","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"configurations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"NetworkConfiguration","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleAuto":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Enables automatic Google account login.\nIf set, the service will automatically generate a Google test account and add\nit to the device, before executing the test. Note that test accounts might be\nreused.\nMany applications show their full set of functionalities when an account is\npresent on the device. Logging into the device with these generated accounts\nallows testing more functionalities.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleAuto","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AndroidDeviceCatalog":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The currently supported Android devices.","enum":null,"enumDescriptions":null,"format":null,"id":"AndroidDeviceCatalog","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"runtimeConfiguration":{"$ref":"AndroidRuntimeConfiguration","additionalProperties":null,"annotations":null,"default":null,"description":"The set of supported runtime configurations.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"versions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The set of supported Android OS versions.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"AndroidVersion","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"models":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The set of supported Android device models.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"AndroidModel","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AndroidDeviceList":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of Android device configurations in which the test is to be executed.","enum":null,"enumDescriptions":null,"format":null,"id":"AndroidDeviceList","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"androidDevices":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of Android devices\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"AndroidDevice","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ClientInfo":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Information about the client which invoked the test.","enum":null,"enumDescriptions":null,"format":null,"id":"ClientInfo","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"clientInfoDetails":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of detailed information about client.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ClientInfoDetail","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Client name, such as gcloud.\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"EnvironmentMatrix":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The matrix of environments in which the test is to be executed.","enum":null,"enumDescriptions":null,"format":null,"id":"EnvironmentMatrix","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"androidDeviceList":{"$ref":"AndroidDeviceList","additionalProperties":null,"annotations":null,"default":null,"description":"A list of Android devices; the test will be run only on the specified\ndevices.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"androidMatrix":{"$ref":"AndroidMatrix","additionalProperties":null,"annotations":null,"default":null,"description":"A matrix of Android devices.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CancelTestMatrixResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response containing the current state of the specified test matrix.","enum":null,"enumDescriptions":null,"format":null,"id":"CancelTestMatrixResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"testState":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The current rolled-up state of the test matrix.\nIf this state is already final, then the cancelation request will\nhave no effect.","enum":["TEST_STATE_UNSPECIFIED","VALIDATING","PENDING","RUNNING","FINISHED","ERROR","UNSUPPORTED_ENVIRONMENT","INCOMPATIBLE_ENVIRONMENT","INCOMPATIBLE_ARCHITECTURE","CANCELLED","INVALID"],"enumDescriptions":["Do not use.  For proto versioning only.","The execution or matrix is being validated.","The execution or matrix is waiting for resources to become available.","The execution is currently being processed.\n\nCan only be set on an execution.","The execution or matrix has terminated normally.\n\nOn a matrix this means that the matrix level processing completed normally,\nbut individual executions may be in an ERROR state.","The execution or matrix has stopped because it encountered an\ninfrastructure failure.","The execution was not run because it corresponds to a unsupported\nenvironment.\n\nCan only be set on an execution.","The execution was not run because the provided inputs are incompatible with\nthe requested environment.\n\nExample: requested AndroidVersion is lower than APK's minSdkVersion\n\nCan only be set on an execution.","The execution was not run because the provided inputs are incompatible with\nthe requested architecture.\n\nExample: requested device does not support running the native code in\nthe supplied APK\n\nCan only be set on an execution.","The user cancelled the execution.\n\nCan only be set on an execution.","The execution or matrix was not run because the provided inputs are not\nvalid.\n\nExamples: input file is not of the expected type, is malformed/corrupt, or\nwas flagged as malware"],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Date":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a whole calendar date, e.g. date of birth. The time of day and\ntime zone are either specified elsewhere or are not significant. The date\nis relative to the Proleptic Gregorian Calendar. The day may be 0 to\nrepresent a year and month where the day is not significant, e.g. credit card\nexpiration date. The year may be 0 to represent a month and day independent\nof year, e.g. anniversary date. Related types are google.type.TimeOfDay\nand `google.protobuf.Timestamp`.","enum":null,"enumDescriptions":null,"format":null,"id":"Date","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"month":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Month of year. Must be from 1 to 12.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"day":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Day of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying a year/month where the day is not significant.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"year":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Year of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A location/region designation for language.","enum":null,"enumDescriptions":null,"format":null,"id":"Locale","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"tags":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Tags for this dimension.\nExamples: \"default\"","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id for this locale.\nExample: \"en_US\"\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"region":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A human-friendy string representing the region for this locale.\nExample: \"United States\"\nNot present for every locale.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A human-friendly name for this language/locale.\nExample: \"English\"\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TestEnvironmentCatalog":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A description of a test environment.","enum":null,"enumDescriptions":null,"format":null,"id":"TestEnvironmentCatalog","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"androidDeviceCatalog":{"$ref":"AndroidDeviceCatalog","additionalProperties":null,"annotations":null,"default":null,"description":"Android devices suitable for running Android Instrumentation Tests.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"networkConfigurationCatalog":{"$ref":"NetworkConfigurationCatalog","additionalProperties":null,"annotations":null,"default":null,"description":"Supported network configurations","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Account":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Identifies an account and how to log into it","enum":null,"enumDescriptions":null,"format":null,"id":"Account","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"googleAuto":{"$ref":"GoogleAuto","additionalProperties":null,"annotations":null,"default":null,"description":"An automatic google login account","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ObbFile":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An opaque binary blob file to install on the device before the test starts","enum":null,"enumDescriptions":null,"format":null,"id":"ObbFile","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"obb":{"$ref":"FileReference","additionalProperties":null,"annotations":null,"default":null,"description":"Opaque Binary Blob (OBB) file(s) to install on the device\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"obbFileName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OBB file name which must conform to the format as specified by\nAndroid\ne.g. [main|patch].0300110.com.example.android.obb\nwhich will be installed into\n  <shared-storage>/Android/obb/<package-name>/\non the device\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AndroidRuntimeConfiguration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Configuration that can be selected at the time a test is run.","enum":null,"enumDescriptions":null,"format":null,"id":"AndroidRuntimeConfiguration","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"orientations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The set of available orientations.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Orientation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"locales":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The set of available locales.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Locale","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AndroidDevice":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A single Android device.","enum":null,"enumDescriptions":null,"format":null,"id":"AndroidDevice","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"androidVersionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of the Android OS version to be used.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"androidModelId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The id of the Android device to be used.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"orientation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"How the device is oriented during the test.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The locale the test device used for testing.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"NetworkConfiguration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"NetworkConfiguration","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"upRule":{"$ref":"TrafficRule","additionalProperties":null,"annotations":null,"default":null,"description":"The emulation rule applying to the upload traffic","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"downRule":{"$ref":"TrafficRule","additionalProperties":null,"annotations":null,"default":null,"description":"The emulation rule applying to the download traffic","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique opaque id for this network traffic configuration\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ToolResultsStep":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a tool results step resource.\n\nThis has the results of a TestExecution.","enum":null,"enumDescriptions":null,"format":null,"id":"ToolResultsStep","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"executionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results execution ID.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"stepId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results step ID.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results history ID.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The cloud project that owns the tool results step.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TrafficRule":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Network emulation parameters","enum":null,"enumDescriptions":null,"format":null,"id":"TrafficRule","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"packetLossRatio":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Packet loss ratio (0.0 - 1.0)","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"burst":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Burst size in kbits","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"bandwidth":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Bandwidth in kbits/second","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"packetDuplicationRatio":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Packet duplication ratio (0.0 - 1.0)","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"delay":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Packet delay, must be >= 0","enum":null,"enumDescriptions":null,"format":"google-duration","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AndroidInstrumentationTest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A test of an Android application that can control an Android component\nindependently of its normal lifecycle.\nAndroid instrumentation tests run an application APK and test APK inside the\nsame process on a virtual or physical AndroidDevice.  They also specify\na test runner class, such as com.google.GoogleTestRunner, which can vary\non the specific instrumentation framework chosen.\n\nSee <http://developer.android.com/tools/testing/testing_android.html> for\nmore information on types of Android tests.","enum":null,"enumDescriptions":null,"format":null,"id":"AndroidInstrumentationTest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"testApk":{"$ref":"FileReference","additionalProperties":null,"annotations":null,"default":null,"description":"The APK containing the test code to be executed.\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"testRunnerClass":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The InstrumentationTestRunner class.\nOptional, default is determined by examining the application's manifest.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"testPackageId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The java package for the test to be executed.\nOptional, default is determined by examining the application's manifest.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"appApk":{"$ref":"FileReference","additionalProperties":null,"annotations":null,"default":null,"description":"The APK for the application under test.\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"appPackageId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The java package for the application under test.\nOptional, default is determined by examining the application's manifest.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"orchestratorOption":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The option of whether running each test within its own invocation of\ninstrumentation with Android Test Orchestrator or not.\n** Orchestrator is only compatible with AndroidJUnitRunner version 1.0 or\nhigher! **\nOrchestrator offers the following benefits:\n - No shared state\n - Crashes are isolated\n - Logs are scoped per test\n\nSee\n<https://developer.android.com/training/testing/junit-runner.html#using-android-test-orchestrator>\nfor more information about Android Test Orchestrator.\n\nOptional, if empty, test will be run without orchestrator.","enum":["ORCHESTRATOR_OPTION_UNSPECIFIED","USE_ORCHESTRATOR","DO_NOT_USE_ORCHESTRATOR"],"enumDescriptions":["This means that the server should choose the mode. And test will be run\nwithout orchestrator.\nUsing orchestrator is highly encouraged because of all the benefits it\noffers. And in the future, all instrumentation tests will be run with\norchestrator by default if preference unspecified.","Run test using orchestrator.\n** Only compatible with AndroidJUnitRunner version 1.0 or higher! **\nRecommended.","Run test without using orchestrator."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"testTargets":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Each target must be fully qualified with the package name or class name,\nin one of these formats:\n - \"package package_name\"\n - \"class package_name.class_name\"\n - \"class package_name.class_name#method_name\"\n\nOptional, if empty, all targets in the module will be run.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DeviceFile":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A single device file description.","enum":null,"enumDescriptions":null,"format":null,"id":"DeviceFile","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"obbFile":{"$ref":"ObbFile","additionalProperties":null,"annotations":null,"default":null,"description":"A reference to an opaque binary blob file","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ClientInfoDetail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Key-value pair of detailed information about the client which invoked the\ntest. For example {'Version', '1.0'}, {'Release Track', 'BETA'}","enum":null,"enumDescriptions":null,"format":null,"id":"ClientInfoDetail","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The key of detailed client information.\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The value of detailed client information.\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"EnvironmentVariable":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A key-value pair passed as an environment variable to the test","enum":null,"enumDescriptions":null,"format":null,"id":"EnvironmentVariable","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Key for the environment variable","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Value for the environment variable","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Environment":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The environment in which the test is run.","enum":null,"enumDescriptions":null,"format":null,"id":"Environment","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"androidDevice":{"$ref":"AndroidDevice","additionalProperties":null,"annotations":null,"default":null,"description":"An Android device which must be used with an Android test.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TestExecution":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies a single test to be executed in a single environment.","enum":null,"enumDescriptions":null,"format":null,"id":"TestExecution","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"matrixId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Id of the containing TestMatrix.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"testDetails":{"$ref":"TestDetails","additionalProperties":null,"annotations":null,"default":null,"description":"Additional details about the running test.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"environment":{"$ref":"Environment","additionalProperties":null,"annotations":null,"default":null,"description":"How the host machine(s) are configured.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"state":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Indicates the current progress of the test execution (e.g., FINISHED).\n@OutputOnly","enum":["TEST_STATE_UNSPECIFIED","VALIDATING","PENDING","RUNNING","FINISHED","ERROR","UNSUPPORTED_ENVIRONMENT","INCOMPATIBLE_ENVIRONMENT","INCOMPATIBLE_ARCHITECTURE","CANCELLED","INVALID"],"enumDescriptions":["Do not use.  For proto versioning only.","The execution or matrix is being validated.","The execution or matrix is waiting for resources to become available.","The execution is currently being processed.\n\nCan only be set on an execution.","The execution or matrix has terminated normally.\n\nOn a matrix this means that the matrix level processing completed normally,\nbut individual executions may be in an ERROR state.","The execution or matrix has stopped because it encountered an\ninfrastructure failure.","The execution was not run because it corresponds to a unsupported\nenvironment.\n\nCan only be set on an execution.","The execution was not run because the provided inputs are incompatible with\nthe requested environment.\n\nExample: requested AndroidVersion is lower than APK's minSdkVersion\n\nCan only be set on an execution.","The execution was not run because the provided inputs are incompatible with\nthe requested architecture.\n\nExample: requested device does not support running the native code in\nthe supplied APK\n\nCan only be set on an execution.","The user cancelled the execution.\n\nCan only be set on an execution.","The execution or matrix was not run because the provided inputs are not\nvalid.\n\nExamples: input file is not of the expected type, is malformed/corrupt, or\nwas flagged as malware"],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"toolResultsStep":{"$ref":"ToolResultsStep","additionalProperties":null,"annotations":null,"default":null,"description":"Where the results for this execution are written.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"testSpecification":{"$ref":"TestSpecification","additionalProperties":null,"annotations":null,"default":null,"description":"How to run the test.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The cloud project that owns the test execution.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Unique id set by the backend.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timestamp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The time this test execution was initially created.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudStorage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A storage location within Google cloud storage (GCS).","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudStorage","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"gcsPath":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The path to a directory in GCS that will\neventually contain the results for this test.\nThe requesting user must have write access on the bucket in the supplied\npath.\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"RoboDirective":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Directs Robo to interact with a specific UI element if it is encountered\nduring the crawl. Currently, Robo can perform text entry or element click.","enum":null,"enumDescriptions":null,"format":null,"id":"RoboDirective","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"actionType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of action that Robo should perform on the specified element.\nRequired.","enum":["ACTION_TYPE_UNSPECIFIED","SINGLE_CLICK","ENTER_TEXT"],"enumDescriptions":["DO NOT USE. For proto versioning only.","Direct Robo to click on the specified element. No-op if specified element\nis not clickable.","Direct Robo to enter text on the specified element. No-op if specified\nelement is not enabled or does not allow text entry."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"inputText":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The text that Robo is directed to set. If left empty, the directive will be\ntreated as a CLICK on the element matching the resource_name.\nOptional","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"resourceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The android resource name of the target UI element\nFor example,\n   in Java: R.string.foo\n   in xml: @string/foo\nOnly the “foo” part is needed.\nReference doc:\nhttps://developer.android.com/guide/topics/resources/accessing-resources.html\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AndroidMatrix":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A set of Android device configuration permutations is defined by the\nthe cross-product of the given axes.  Internally, the given AndroidMatrix\nwill be expanded into a set of AndroidDevices.\n\nOnly supported permutations will be instantiated.  Invalid permutations\n(e.g., incompatible models/versions) are ignored.","enum":null,"enumDescriptions":null,"format":null,"id":"AndroidMatrix","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"androidModelIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ids of the set of Android device to be used.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"orientations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The set of orientations to test with.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"locales":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The set of locales the test device will enable for testing.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"androidVersionIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ids of the set of Android OS version to be used.\nUse the EnvironmentDiscoveryService to get supported options.\nRequired","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AndroidModel":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A description of an Android device tests may be run on.","enum":null,"enumDescriptions":null,"format":null,"id":"AndroidModel","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The human-readable marketing name for this device model.\nExamples: \"Nexus 5\", \"Galaxy S5\"\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique opaque id for this model.\nUse this for invoking the TestExecutionService.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"tags":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Tags for this dimension.\nExamples: \"default\", \"preview\", \"deprecated\"","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"manufacturer":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The manufacturer of this device.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"brand":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The company that this device is branded with.\nExample: \"Google\", \"Samsung\"\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"screenX":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Screen size in the horizontal (X) dimension measured in pixels.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"codename":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the industrial design.\nThis corresponds to android.os.Build.DEVICE\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"screenY":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Screen size in the vertical (Y) dimension measured in pixels.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"form":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether this device is virtual or physical.\n@OutputOnly","enum":["DEVICE_FORM_UNSPECIFIED","VIRTUAL","PHYSICAL"],"enumDescriptions":["Do not use.  For proto versioning only.","A software stack that simulates the device","Actual hardware"],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"screenDensity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Screen density in DPI.\nThis corresponds to ro.sf.lcd_density\n@OutputOnly","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"supportedVersionIds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The set of Android versions this device supports.\n@OutputOnly","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","
[...]
