{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"}}}},"basePath":"/toolresults/v1beta3/projects/","baseUrl":"https://www.googleapis.com/toolresults/v1beta3/projects/","batchPath":"batch/toolresults/v1beta3","canonicalName":"Tool Results","description":"Reads and publishes results from Firebase Test Lab.","discoveryVersion":"v1","documentationLink":"https://firebase.google.com/docs/test-lab/","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/brq_qwMPbELJi8YdbP43Yj8p7so\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png","x32":"https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"},"id":"toolresults:v1beta3","kind":"discovery#restDescription","labels":null,"methods":null,"name":"toolresults","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"projects":{"methods":{"getSettings":{"description":"Gets the Tool Results settings for a project.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to read from project","etagRequired":null,"httpMethod":"GET","id":"toolresults.projects.getSettings","mediaUpload":null,"parameterOrder":["projectId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Project id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/settings","request":null,"response":{"$ref":"ProjectSettings"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"initializeSettings":{"description":"Creates resources for settings which have not yet been set.\n\nCurrently, this creates a single resource: a Google Cloud Storage bucket, to be used as the default bucket for this project. The bucket is created in an FTL-own storage project. Except for in rare cases, calling this method in parallel from multiple clients will only create a single bucket. In order to avoid unnecessary storage charges, the bucket is configured to automatically delete objects older than 90 days.\n\nThe bucket is created with the following permissions: - Owner access for owners of central storage project (FTL-owned) - Writer access for owners/editors of customer project - Reader access for viewers of customer project The default ACL on objects created in the bucket is: - Owner access for owners of central storage project - Reader access for owners/editors/viewers of customer project See Google Cloud Storage documentation for more details.\n\nIf there is already a default bucket set and the project can access the bucket, this call does nothing. However, if the project doesn't have the permission to access the bucket or the bucket is deleted, a new bucket will be created.\n\nMay return any canonical error codes, including the following:\n\n- PERMISSION_DENIED - if the user is not authorized to write to project - Any error code raised by Google Cloud Storage","etagRequired":null,"httpMethod":"POST","id":"toolresults.projects.initializeSettings","mediaUpload":null,"parameterOrder":["projectId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Project id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectId}:initializeSettings","request":null,"response":{"$ref":"ProjectSettings"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"histories":{"methods":{"create":{"description":"Creates a History.\n\nThe returned History will have the id set.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing project does not exist","etagRequired":null,"httpMethod":"POST","id":"toolresults.projects.histories.create","mediaUpload":null,"parameterOrder":["projectId"],"parameters":{"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Project id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"requestId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A unique request ID for server to detect duplicated requests. For example, a UUID.\n\nOptional, but strongly recommended.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories","request":{"$ref":"History","parameterName":null},"response":{"$ref":"History"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a History.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist","etagRequired":null,"httpMethod":"GET","id":"toolresults.projects.histories.get","mediaUpload":null,"parameterOrder":["projectId","historyId"],"parameters":{"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A History id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Project id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories/{historyId}","request":null,"response":{"$ref":"History"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists Histories for a given Project.\n\nThe histories are sorted by modification time in descending order. The history_id key will be used to order the history with the same modification time.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History does not exist","etagRequired":null,"httpMethod":"GET","id":"toolresults.projects.histories.list","mediaUpload":null,"parameterOrder":["projectId"],"parameters":{"filterByName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If set, only return histories with the given name.\n\nOptional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of Histories to fetch.\n\nDefault value: 20. The server will use this default if the field is not set or has a value of 0. Any value greater than 100 will be treated as 100.\n\nOptional.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token to resume the query at the next item.\n\nOptional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Project id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories","request":null,"response":{"$ref":"ListHistoriesResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"executions":{"methods":{"create":{"description":"Creates an Execution.\n\nThe returned Execution will have the id set.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist","etagRequired":null,"httpMethod":"POST","id":"toolresults.projects.histories.executions.create","mediaUpload":null,"parameterOrder":["projectId","historyId"],"parameters":{"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A History id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Project id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"requestId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A unique request ID for server to detect duplicated requests. For example, a UUID.\n\nOptional, but strongly recommended.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories/{historyId}/executions","request":{"$ref":"Execution","parameterName":null},"response":{"$ref":"Execution"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets an Execution.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Execution does not exist","etagRequired":null,"httpMethod":"GET","id":"toolresults.projects.histories.executions.get","mediaUpload":null,"parameterOrder":["projectId","historyId","executionId"],"parameters":{"executionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An Execution id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A History id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Project id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories/{historyId}/executions/{executionId}","request":null,"response":{"$ref":"Execution"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists Histories for a given Project.\n\nThe executions are sorted by creation_time in descending order. The execution_id key will be used to order the executions with the same creation_time.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the containing History does not exist","etagRequired":null,"httpMethod":"GET","id":"toolresults.projects.histories.executions.list","mediaUpload":null,"parameterOrder":["projectId","historyId"],"parameters":{"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A History id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of Executions to fetch.\n\nDefault value: 25. The server will use this default if the field is not set or has a value of 0.\n\nOptional.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token to resume the query at the next item.\n\nOptional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Project id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories/{historyId}/executions","request":null,"response":{"$ref":"ListExecutionsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an existing Execution with the supplied partial entity.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal - NOT_FOUND - if the containing History does not exist","etagRequired":null,"httpMethod":"PATCH","id":"toolresults.projects.histories.executions.patch","mediaUpload":null,"parameterOrder":["projectId","historyId","executionId"],"parameters":{"executionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Required.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Project id. Required.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"requestId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A unique request ID for server to detect duplicated requests. For example, a UUID.\n\nOptional, but strongly recommended.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories/{historyId}/executions/{executionId}","request":{"$ref":"Execution","parameterName":null},"response":{"$ref":"Execution"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"clusters":{"methods":{"get":{"description":"Retrieves a single screenshot cluster by its ID","etagRequired":null,"httpMethod":"GET","id":"toolresults.projects.histories.executions.clusters.get","mediaUpload":null,"parameterOrder":["projectId","historyId","executionId","clusterId"],"parameters":{"clusterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Cluster id\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"executionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An Execution id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A History id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Project id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}","request":null,"response":{"$ref":"ScreenshotCluster"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists Screenshot Clusters\n\nReturns the list of screenshot clusters corresponding to an execution. Screenshot clusters are created after the execution is finished. Clusters are created from a set of screenshots. Between any two screenshots, a matching score is calculated based off their metadata that determines how similar they are. Screenshots are placed in the cluster that has screens which have the highest matching scores.","etagRequired":null,"httpMethod":"GET","id":"toolresults.projects.histories.executions.clusters.list","mediaUpload":null,"parameterOrder":["projectId","historyId","executionId"],"parameters":{"executionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An Execution id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A History id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Project id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories/{historyId}/executions/{executionId}/clusters","request":null,"response":{"$ref":"ListScreenshotClustersResponse"},"scopes":null,"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"steps":{"methods":{"create":{"description":"Creates a Step.\n\nThe returned Step will have the id set.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to write to project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist","etagRequired":null,"httpMethod":"POST","id":"toolresults.projects.histories.executions.steps.create","mediaUpload":null,"parameterOrder":["projectId","historyId","executionId"],"parameters":{"executionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Execution id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A History id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Project id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"requestId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A unique request ID for server to detect duplicated requests. For example, a UUID.\n\nOptional, but strongly recommended.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories/{historyId}/executions/{executionId}/steps","request":{"$ref":"Step","parameterName":null},"response":{"$ref":"Step"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a Step.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Step does not exist","etagRequired":null,"httpMethod":"GET","id":"toolresults.projects.histories.executions.steps.get","mediaUpload":null,"parameterOrder":["projectId","historyId","executionId","stepId"],"parameters":{"executionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Execution id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A History id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Project id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"stepId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Step id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}","request":null,"response":{"$ref":"Step"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"getPerfMetricsSummary":{"description":"Retrieves a PerfMetricsSummary.\n\nMay return any of the following error code(s): - NOT_FOUND - The specified PerfMetricsSummary does not exist","etagRequired":null,"httpMethod":"GET","id":"toolresults.projects.histories.executions.steps.getPerfMetricsSummary","mediaUpload":null,"parameterOrder":["projectId","historyId","executionId","stepId"],"parameters":{"executionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results execution ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results history ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The cloud project","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"stepId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results step ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary","request":null,"response":{"$ref":"PerfMetricsSummary"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists Steps for a given Execution.\n\nThe steps are sorted by creation_time in descending order. The step_id key will be used to order the steps with the same creation_time.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if an argument in the request happens to be invalid; e.g. if an attempt is made to list the children of a nonexistent Step - NOT_FOUND - if the containing Execution does not exist","etagRequired":null,"httpMethod":"GET","id":"toolresults.projects.histories.executions.steps.list","mediaUpload":null,"parameterOrder":["projectId","historyId","executionId"],"parameters":{"executionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Execution id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A History id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of Steps to fetch.\n\nDefault value: 25. The server will use this default if the field is not set or has a value of 0.\n\nOptional.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token to resume the query at the next item.\n\nOptional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Project id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories/{historyId}/executions/{executionId}/steps","request":null,"response":{"$ref":"ListStepsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"patch":{"description":"Updates an existing Step with the supplied partial entity.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal (e.g try to upload a duplicate xml file), if the updated step is too large (more than 10Mib) - NOT_FOUND - if the containing Execution does not exist","etagRequired":null,"httpMethod":"PATCH","id":"toolresults.projects.histories.executions.steps.patch","mediaUpload":null,"parameterOrder":["projectId","historyId","executionId","stepId"],"parameters":{"executionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Execution id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A History id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Project id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"requestId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A unique request ID for server to detect duplicated requests. For example, a UUID.\n\nOptional, but strongly recommended.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"stepId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Step id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}","request":{"$ref":"Step","parameterName":null},"response":{"$ref":"Step"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"publishXunitXmlFiles":{"description":"Publish xml files to an existing Step.\n\nMay return any of the following canonical error codes:\n\n- PERMISSION_DENIED - if the user is not authorized to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION - if the requested state transition is illegal, e.g try to upload a duplicate xml file or a file too large. - NOT_FOUND - if the containing Execution does not exist","etagRequired":null,"httpMethod":"POST","id":"toolresults.projects.histories.executions.steps.publishXunitXmlFiles","mediaUpload":null,"parameterOrder":["projectId","historyId","executionId","stepId"],"parameters":{"executionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Execution id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A History id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Project id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"stepId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Step id. Note: This step must include a TestExecutionStep.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles","request":{"$ref":"PublishXunitXmlFilesRequest","parameterName":null},"response":{"$ref":"Step"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"perfMetricsSummary":{"methods":{"create":{"description":"Creates a PerfMetricsSummary resource. Returns the existing one if it has already been created.\n\nMay return any of the following error code(s): - NOT_FOUND - The containing Step does not exist","etagRequired":null,"httpMethod":"POST","id":"toolresults.projects.histories.executions.steps.perfMetricsSummary.create","mediaUpload":null,"parameterOrder":["projectId","historyId","executionId","stepId"],"parameters":{"executionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results execution ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results history ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The cloud project","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"stepId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results step ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary","request":{"$ref":"PerfMetricsSummary","parameterName":null},"response":{"$ref":"PerfMetricsSummary"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"perfSampleSeries":{"methods":{"create":{"description":"Creates a PerfSampleSeries.\n\nMay return any of the following error code(s): - ALREADY_EXISTS - PerfMetricSummary already exists for the given Step - NOT_FOUND - The containing Step does not exist","etagRequired":null,"httpMethod":"POST","id":"toolresults.projects.histories.executions.steps.perfSampleSeries.create","mediaUpload":null,"parameterOrder":["projectId","historyId","executionId","stepId"],"parameters":{"executionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results execution ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results history ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The cloud project","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"stepId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results step ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries","request":{"$ref":"PerfSampleSeries","parameterName":null},"response":{"$ref":"PerfSampleSeries"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a PerfSampleSeries.\n\nMay return any of the following error code(s): - NOT_FOUND - The specified PerfSampleSeries does not exist","etagRequired":null,"httpMethod":"GET","id":"toolresults.projects.histories.executions.steps.perfSampleSeries.get","mediaUpload":null,"parameterOrder":["projectId","historyId","executionId","stepId","sampleSeriesId"],"parameters":{"executionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results execution ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results history ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The cloud project","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sampleSeriesId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A sample series id","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"stepId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results step ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}","request":null,"response":{"$ref":"PerfSampleSeries"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists PerfSampleSeries for a given Step.\n\nThe request provides an optional filter which specifies one or more PerfMetricsType to include in the result; if none returns all. The resulting PerfSampleSeries are sorted by ids.\n\nMay return any of the following canonical error codes: - NOT_FOUND - The containing Step does not exist","etagRequired":null,"httpMethod":"GET","id":"toolresults.projects.histories.executions.steps.perfSampleSeries.list","mediaUpload":null,"parameterOrder":["projectId","historyId","executionId","stepId"],"parameters":{"executionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results execution ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"filter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specify one or more PerfMetricType values such as CPU to filter the result","enum":["cpu","graphics","memory","network","perfMetricTypeUnspecified"],"enumDescriptions":["","","","",""],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results history ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The cloud project","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"stepId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results step ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries","request":null,"response":{"$ref":"ListPerfSampleSeriesResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"samples":{"methods":{"batchCreate":{"description":"Creates a batch of PerfSamples - a client can submit multiple batches of Perf Samples through repeated calls to this method in order to split up a large request payload - duplicates and existing timestamp entries will be ignored. - the batch operation may partially succeed - the set of elements successfully inserted is returned in the response (omits items which already existed in the database).\n\nMay return any of the following canonical error codes: - NOT_FOUND - The containing PerfSampleSeries does not exist","etagRequired":null,"httpMethod":"POST","id":"toolresults.projects.histories.executions.steps.perfSampleSeries.samples.batchCreate","mediaUpload":null,"parameterOrder":["projectId","historyId","executionId","stepId","sampleSeriesId"],"parameters":{"executionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results execution ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results history ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The cloud project","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sampleSeriesId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A sample series id","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"stepId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results step ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate","request":{"$ref":"BatchCreatePerfSamplesRequest","parameterName":null},"response":{"$ref":"BatchCreatePerfSamplesResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists the Performance Samples of a given Sample Series - The list results are sorted by timestamps ascending - The default page size is 500 samples; and maximum size allowed 5000 - The response token indicates the last returned PerfSample timestamp - When the results size exceeds the page size, submit a subsequent request including the page token to return the rest of the samples up to the page limit\n\nMay return any of the following canonical error codes: - OUT_OF_RANGE - The specified request page_token is out of valid range - NOT_FOUND - The containing PerfSampleSeries does not exist","etagRequired":null,"httpMethod":"GET","id":"toolresults.projects.histories.executions.steps.perfSampleSeries.samples.list","mediaUpload":null,"parameterOrder":["projectId","historyId","executionId","stepId","sampleSeriesId"],"parameters":{"executionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results execution ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results history ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The default page size is 500 samples, and the maximum size is 5000. If the page_size is greater than 5000, the effective page size will be 5000","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional, the next_page_token returned in the previous response","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The cloud project","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"sampleSeriesId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A sample series id","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"stepId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A tool results step ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples","request":null,"response":{"$ref":"ListPerfSamplesResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"thumbnails":{"methods":{"list":{"description":"Lists thumbnails of images attached to a step.\n\nMay return any of the following canonical error codes: - PERMISSION_DENIED - if the user is not authorized to read from the project, or from any of the images - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the step does not exist, or if any of the images do not exist","etagRequired":null,"httpMethod":"GET","id":"toolresults.projects.histories.executions.steps.thumbnails.list","mediaUpload":null,"parameterOrder":["projectId","historyId","executionId","stepId"],"parameters":{"executionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An Execution id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"historyId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A History id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The maximum number of thumbnails to fetch.\n\nDefault value: 50. The server will use this default if the field is not set or has a value of 0.\n\nOptional.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A continuation token to resume the query at the next item.\n\nOptional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"projectId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Project id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"stepId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Step id.\n\nRequired.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails","request":null,"response":{"$ref":"ListStepThumbnailsResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"ETag":null}},"ETag":null}},"ETag":null}},"revision":"20171006","rootUrl":"https://www.googleapis.com/","schemas":{"AndroidAppInfo":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Android app information.","enum":null,"enumDescriptions":null,"format":null,"id":"AndroidAppInfo","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the app. Optional","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"packageName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The package name of the app. Required.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"versionCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The internal version code of the app. Optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"versionName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The version name of the app. Optional.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AndroidInstrumentationTest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A test of an Android application that can control an Android component independently of its normal lifecycle.\n\nSee  for more information on types of Android tests.","enum":null,"enumDescriptions":null,"format":null,"id":"AndroidInstrumentationTest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"testPackageId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The java package for the test to be executed. Required","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"testRunnerClass":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The InstrumentationTestRunner class. Required","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"testTargets":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Each target must be fully qualified with the package name or class name, in one of these formats: - \"package package_name\" - \"class package_name.class_name\" - \"class package_name.class_name#method_name\"\n\nIf empty, all targets in the module will be run.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"useOrchestrator":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The flag indicates whether Android Test Orchestrator will be used to run test or not. Test orchestrator is used if either: - orchestrator_option field is USE_ORCHESTRATOR, and test runner is compatible with orchestrator. Or - orchestrator_option field is unspecified or ORCHESTRATOR_OPTION_UNSPECIFIED, and test runner is compatible with orchestrator.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AndroidRoboTest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A test of an android application that explores the application on a virtual or physical Android device, finding culprits and crashes as it goes.","enum":null,"enumDescriptions":null,"format":null,"id":"AndroidRoboTest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"appInitialActivity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The initial activity that should be used to start the app. Optional","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"bootstrapPackageId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The java package for the bootstrap. Optional","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"bootstrapRunnerClass":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The runner class for the bootstrap. Optional","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"maxDepth":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The max depth of the traversal stack Robo can explore. Optional","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"maxSteps":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The max number of steps/actions Robo can execute. Default is no limit (0). Optional","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AndroidTest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An Android mobile test specification.","enum":null,"enumDescriptions":null,"format":null,"id":"AndroidTest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"androidAppInfo":{"$ref":"AndroidAppInfo","additionalProperties":null,"annotations":null,"default":null,"description":"Infomation about the application under test.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"androidInstrumentationTest":{"$ref":"AndroidInstrumentationTest","additionalProperties":null,"annotations":null,"default":null,"description":"An Android instrumentation test.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"androidRoboTest":{"$ref":"AndroidRoboTest","additionalProperties":null,"annotations":null,"default":null,"description":"An Android robo test.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"testTimeout":{"$ref":"Duration","additionalProperties":null,"annotations":null,"default":null,"description":"Max time a test is allowed to run before it is automatically cancelled.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Any":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"`Any` contains an arbitrary serialized protocol buffer message along with a URL that describes the type of the serialized message.\n\nProtobuf library provides support to pack/unpack Any values in the form of utility functions or additional generated methods of the Any type.\n\nExample 1: Pack and unpack a message in C++.\n\nFoo foo = ...; Any any; any.PackFrom(foo); ... if (any.UnpackTo(&foo)) { ... }\n\nExample 2: Pack and unpack a message in Java.\n\nFoo foo = ...; Any any = Any.pack(foo); ... if (any.is(Foo.class)) { foo = any.unpack(Foo.class); }\n\nExample 3: Pack and unpack a message in Python.\n\nfoo = Foo(...) any = Any() any.Pack(foo) ... if any.Is(Foo.DESCRIPTOR): any.Unpack(foo) ...\n\nExample 4: Pack and unpack a message in Go\n\nfoo := &pb.Foo{...} any, err := ptypes.MarshalAny(foo) ... foo := &pb.Foo{} if err := ptypes.UnmarshalAny(any, foo); err != nil { ... }\n\nThe pack methods provided by protobuf library will by default use 'type.googleapis.com/full.type.name' as the type URL and the unpack methods only use the fully qualified type name after the last '/' in the type URL, for example \"foo.bar.com/x/y.z\" will yield type name \"y.z\".\n\n\n\nJSON ==== The JSON representation of an `Any` value uses the regular representation of the deserialized, embedded message, with an additional field `@type` which contains the type URL. Example:\n\npackage google.profile; message Person { string first_name = 1; string last_name = 2; }\n\n{ \"@type\": \"type.googleapis.com/google.profile.Person\", \"firstName\": , \"lastName\":  }\n\nIf the embedded message type is well-known and has a custom JSON representation, that representation will be embedded adding a field `value` which holds the custom JSON in addition to the `@type` field. Example (for message [google.protobuf.Duration][]):\n\n{ \"@type\": \"type.googleapis.com/google.protobuf.Duration\", \"value\": \"1.212s\" }","enum":null,"enumDescriptions":null,"format":null,"id":"Any","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"typeUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A URL/resource name whose content describes the type of the serialized protocol buffer message.\n\nFor URLs which use the scheme `http`, `https`, or no scheme, the following restrictions and interpretations apply:\n\n* If no scheme is provided, `https` is assumed. * The last segment of the URL's path must represent the fully qualified name of the type (as in `path/google.protobuf.Duration`). The name should be in a canonical form (e.g., leading \".\" is not accepted). * An HTTP GET on the URL must yield a [google.protobuf.Type][] value in binary format, or produce an error. * Applications are allowed to cache lookup results based on the URL, or have them precompiled into a binary to avoid any lookup. Therefore, binary compatibility needs to be preserved on changes to types. (Use versioned type names to manage breaking changes.)\n\nSchemes other than `http`, `https` (or the empty scheme) might be used with implementation specific semantics.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Must be a valid serialized protocol buffer of the above specified type.","enum":null,"enumDescriptions":null,"format":"byte","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AppStartTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AppStartTime","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"fullyDrawnTime":{"$ref":"Duration","additionalProperties":null,"annotations":null,"default":null,"description":"Optional. The time from app start to reaching the developer-reported \"fully drawn\" time. This is only stored if the app includes a call to Activity.reportFullyDrawn(). See https://developer.android.com/topic/performance/launch-time.html#time-full","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"initialDisplayTime":{"$ref":"Duration","additionalProperties":null,"annotations":null,"default":null,"description":"The time from app start to the first displayed activity being drawn, as reported in Logcat. See https://developer.android.com/topic/performance/launch-time.html#time-initial","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BasicPerfSampleSeries":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Encapsulates the metadata for basic sample series represented by a line chart","enum":null,"enumDescriptions":null,"format":null,"id":"BasicPerfSampleSeries","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"perfMetricType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["cpu","graphics","memory","network","perfMetricTypeUnspecified"],"enumDescriptions":["","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"perfUnit":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["byte","bytesPerSecond","framesPerSecond","kibibyte","percent","perfUnitUnspecified"],"enumDescriptions":["","","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"sampleSeriesLabel":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["cpuKernel","cpuTotal","cpuUser","graphicsFrameRate","memoryRssPrivate","memoryRssShared","memoryRssTotal","memoryTotal","networkReceived","networkSent","ntBytesReceived","ntBytesTransferred","sampleSeriesTypeUnspecified"],"enumDescriptions":["","","","","","","","","","","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BatchCreatePerfSamplesRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The request must provide up to a maximum of 5000 samples to be created; a larger sample size will cause an INVALID_ARGUMENT error","enum":null,"enumDescriptions":null,"format":null,"id":"BatchCreatePerfSamplesRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"perfSamples":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The set of PerfSamples to create should not include existing timestamps","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"PerfSample","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BatchCreatePerfSamplesResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"BatchCreatePerfSamplesResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"perfSamples":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"PerfSample","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CPUInfo":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"CPUInfo","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"cpuProcessor":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"description of the device processor ie '1.8 GHz hexa core 64-bit ARMv8-A'","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"cpuSpeedInGhz":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"the CPU clock speed in GHz","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"numberOfCores":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"the number of CPU cores","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Duration":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A Duration represents a signed, fixed-length span of time represented as a count of seconds and fractions of seconds at nanosecond resolution. It is independent of any calendar and concepts like \"day\" or \"month\". It is related to Timestamp in that the difference between two Timestamp values is a Duration and it can be added or subtracted from a Timestamp. Range is approximately +-10,000 years.\n\n# Examples\n\nExample 1: Compute Duration from two Timestamps in pseudo code.\n\nTimestamp start = ...; Timestamp end = ...; Duration duration = ...;\n\nduration.seconds = end.seconds - start.seconds; duration.nanos = end.nanos - start.nanos;\n\nif (duration.seconds  0) { duration.seconds += 1; duration.nanos -= 1000000000; } else if (durations.seconds > 0 && duration.nanos < 0) { duration.seconds -= 1; duration.nanos += 1000000000; }\n\nExample 2: Compute Timestamp from Timestamp + Duration in pseudo code.\n\nTimestamp start = ...; Duration duration = ...; Timestamp end = ...;\n\nend.seconds = start.seconds + duration.seconds; end.nanos = start.nanos + duration.nanos;\n\nif (end.nanos = 1000000000) { end.seconds += 1; end.nanos -= 1000000000; }\n\nExample 3: Compute Duration from datetime.timedelta in Python.\n\ntd = datetime.timedelta(days=3, minutes=10) duration = Duration() duration.FromTimedelta(td)\n\n# JSON Mapping\n\nIn JSON format, the Duration type is encoded as a string rather than an object, where the string ends in the suffix \"s\" (indicating seconds) and is preceded by the number of seconds, with nanoseconds expressed as fractional seconds. For example, 3 seconds with 0 nanoseconds should be encoded in JSON format as \"3s\", while 3 seconds and 1 nanosecond should be expressed in JSON format as \"3.000000001s\", and 3 seconds and 1 microsecond should be expressed in JSON format as \"3.000001s\".","enum":null,"enumDescriptions":null,"format":null,"id":"Duration","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"nanos":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Signed fractions of a second at nanosecond resolution of the span of time. Durations less than one second are represented with a 0 `seconds` field and a positive or negative `nanos` field. For durations of one second or more, a non-zero value for the `nanos` field must be of the same sign as the `seconds` field. Must be from -999,999,999 to +999,999,999 inclusive.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"seconds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Signed seconds of the span of time. Must be from -315,576,000,000 to +315,576,000,000 inclusive. Note: these bounds are computed from: 60 sec/min * 60 min/hr * 24 hr/day * 365.25 days/year * 10000 years","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Execution":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An Execution represents a collection of Steps. For instance, it could represent: - a mobile test executed across a range of device configurations - a jenkins job with a build step followed by a test step\n\nThe maximum size of an execution message is 1 MiB.\n\nAn Execution can be updated until its state is set to COMPLETE at which point it becomes immutable.","enum":null,"enumDescriptions":null,"format":null,"id":"Execution","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"completionTime":{"$ref":"Timestamp","additionalProperties":null,"annotations":null,"default":null,"description":"The time when the Execution status transitioned to COMPLETE.\n\nThis value will be set automatically when state transitions to COMPLETE.\n\n- In response: set if the execution state is COMPLETE. - In create/update request: never set","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"creationTime":{"$ref":"Timestamp","additionalProperties":null,"annotations":null,"default":null,"description":"The time when the Execution was created.\n\nThis value will be set automatically when CreateExecution is called.\n\n- In response: always set - In create/update request: never set","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"executionId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A unique identifier within a History for this Execution.\n\nReturns INVALID_ARGUMENT if this field is set or overwritten by the caller.\n\n- In response always set - In create/update request: never set","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"outcome":{"$ref":"Outcome","additionalProperties":null,"annotations":null,"default":null,"description":"Classify the result, for example into SUCCESS or FAILURE\n\n- In response: present if set by create/update request - In create/update request: optional","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"specification":{"$ref":"Specification","additionalProperties":null,"annotations":null,"default":null,"description":"Lightweight information about execution request.\n\n- In response: present if set by create - In create: optional - In update: optional","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"state":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The initial state is IN_PROGRESS.\n\nThe only legal state transitions is from IN_PROGRESS to COMPLETE.\n\nA PRECONDITION_FAILED will be returned if an invalid transition is requested.\n\nThe state can only be set to COMPLETE once. A FAILED_PRECONDITION will be returned if the state is set to COMPLETE multiple times.\n\nIf the state is set to COMPLETE, all the in-progress steps within the execution will be set as COMPLETE. If the outcome of the step is not set, the outcome will be set to INCONCLUSIVE.\n\n- In response always set - In create/update request: optional","enum":["complete","inProgress","pending","unknownState"],"enumDescriptions":["","","",""],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"testExecutionMatrixId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"TestExecution Matrix ID that the TestExecutionService uses.\n\n- In response: present if set by create - In create: optional - In update: never set","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"FailureDetail":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"FailureDetail","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"crashed":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If the failure was severe because the system (app) under test crashed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"notInstalled":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If an app is not installed and thus no test can be run with the app. This might be caused by trying to run a test on an unsupported platform.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"otherNativeCrash":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If a native process (including any other than the app) crashed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"timedOut":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If the test overran some time limit, and that is why it failed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"unableToCrawl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If the robo was unable to crawl the app; perhaps because the app did not start.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"FileReference":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A reference to a file.","enum":null,"enumDescriptions":null,"format":null,"id":"FileReference","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"fileUri":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URI of a file stored in Google Cloud Storage.\n\nFor example: http://storage.googleapis.com/mybucket/path/to/test.xml or in gsutil format: gs://mybucket/path/to/test.xml with version-specific info, gs://mybucket/path/to/test.xml#1360383693690000\n\nAn INVALID_ARGUMENT error will be returned if the URI format is not supported.\n\n- In response: always set - In create/update request: always set","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GraphicsStats":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Graphics statistics for the App. The information is collected from 'adb shell dumpsys graphicsstats'. For more info see: https://developer.android.com/training/testing/performance.html Statistics will only be present for API 23+.","enum":null,"enumDescriptions":null,"format":null,"id":"GraphicsStats","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"buckets":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Histogram of frame render times. There should be 154 buckets ranging from [5ms, 6ms) to [4950ms, infinity)","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GraphicsStatsBucket","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"highInputLatencyCount":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Total \"high input latency\" events.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"jankyFrames":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Total frames with slow render time. Should be <= total_frames.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"missedVsyncCount":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Total \"missed vsync\" events.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"p50Millis":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"50th percentile frame render time in milliseconds.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"p90Millis":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"90th percentile frame render time in milliseconds.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"p95Millis":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"95th percentile frame render time in milliseconds.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"p99Millis":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"99th percentile frame render time in milliseconds.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":
[...]
