{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"},"https://www.googleapis.com/auth/cloud-translation":{"description":"Translate text from one language to another using Google Translate"}}}},"basePath":"/language/translate/","baseUrl":"https://translation.googleapis.com/language/translate/","batchPath":"batch/translate","canonicalName":"Translate","description":"The Google Cloud Translation API lets websites and programs integrate with\n    Google Translate programmatically.","discoveryVersion":"v1","documentationLink":"https://code.google.com/apis/language/translate/v2/getting_started.html","etag":null,"exponentialBackoffDefault":null,"features":["dataWrapper"],"icons":{"x16":"https://www.google.com/images/icons/product/translate-16.png","x32":"https://www.google.com/images/icons/product/translate-32.png"},"id":"translate:v2","kind":"discovery#restDescription","labels":null,"methods":null,"name":"translate","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"languages":{"methods":{"list":{"description":"Returns a list of supported languages for translation.","etagRequired":null,"httpMethod":"GET","id":"language.languages.list","mediaUpload":null,"parameterOrder":null,"parameters":{"target":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language to use to return localized, human readable names of supported\nlanguages.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"model":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The model type for which supported languages should be returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2/languages","request":null,"response":{"$ref":"LanguagesListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-translation","https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"translations":{"methods":{"list":{"description":"Translates input text, returning translated text.","etagRequired":null,"httpMethod":"GET","id":"language.translations.list","mediaUpload":null,"parameterOrder":["q","target"],"parameters":{"q":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":true,"type":"string","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"cid":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The customization id for translate","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":null,"type":"string","variant":null,"ETag":null},"target":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"format":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.","enum":["html","text"],"enumDescriptions":["Specifies the input is in HTML","Specifies the input is in plain textual format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"model":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The `model` type requested for this translation. Valid values are\nlisted in public documentation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v2","request":null,"response":{"$ref":"TranslationsListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-translation","https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"translate":{"description":"Translates input text, returning translated text.","etagRequired":null,"httpMethod":"POST","id":"language.translations.translate","mediaUpload":null,"parameterOrder":[],"parameters":{},"path":"v2","request":{"$ref":"TranslateTextRequest","parameterName":null},"response":{"$ref":"TranslationsListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-translation","https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"detections":{"methods":{"detect":{"description":"Detects the language of text within a request.","etagRequired":null,"httpMethod":"POST","id":"language.detections.detect","mediaUpload":null,"parameterOrder":[],"parameters":{},"path":"v2/detect","request":{"$ref":"DetectLanguageRequest","parameterName":null},"response":{"$ref":"DetectionsListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-translation","https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Detects the language of text within a request.","etagRequired":null,"httpMethod":"GET","id":"language.detections.list","mediaUpload":null,"parameterOrder":["q"],"parameters":{"q":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":true,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v2/detect","request":null,"response":{"$ref":"DetectionsListResponse"},"scopes":["https://www.googleapis.com/auth/cloud-translation","https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20170525","rootUrl":"https://translation.googleapis.com/","schemas":{"GetSupportedLanguagesRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The request message for discovering supported languages.","enum":null,"enumDescriptions":null,"format":null,"id":"GetSupportedLanguagesRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"target":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language to use to return localized, human readable names of supported\nlanguages.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LanguagesListResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"LanguagesListResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"languages":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of source/target languages supported by the translation API. If target parameter is unspecified, the list is sorted by the ASCII code point order of the language code. If target parameter is specified, the list is sorted by the collation order of the language name in the target language.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"LanguagesResource","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DetectionsResource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An array of languages which we detect for the given text The most likely language list first.","enum":null,"enumDescriptions":null,"format":null,"id":"DetectionsResource","items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"confidence":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The confidence of the detection result of this language.","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language we detected.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"isReliable":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A boolean to indicate is the language detection result reliable.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"TranslationsResource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"TranslationsResource","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"model":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The `model` type used for this translation. Valid values are\nlisted in public documentation. Can be different from requested `model`.\nPresent only if specific model type was explicitly requested.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"translatedText":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Text translated into the target language.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"detectedSourceLanguage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The source language of the initial request, detected automatically, if\nno source language was passed within the initial request. If the\nsource language was passed, auto-detection of the language will not\noccur and this field will be empty.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TranslationsListResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The main language translation response message.","enum":null,"enumDescriptions":null,"format":null,"id":"TranslationsListResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"translations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Translations contains list of translation results of given text","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"TranslationsResource","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TranslateTextRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The main translation request message for the Cloud Translation API.","enum":null,"enumDescriptions":null,"format":null,"id":"TranslateTextRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"target":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language to use for translation of the input text, set to one of the\nlanguage codes listed in Language Support.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"format":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The format of the source text, in either HTML (default) or plain-text. A\nvalue of \"html\" indicates HTML and a value of \"text\" indicates plain-text.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"q":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The input text to translate. Repeat this parameter to perform translation\noperations on multiple text inputs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"source":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language of the source text, set to one of the language codes listed in\nLanguage Support. If the source language is not specified, the API will\nattempt to identify the source language automatically and return it within\nthe response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"model":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The `model` type requested for this translation. Valid values are\nlisted in public documentation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DetectLanguageRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The request message for language detection.","enum":null,"enumDescriptions":null,"format":null,"id":"DetectLanguageRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"q":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The input text upon which to perform language detection. Repeat this\nparameter to perform language detection on multiple text inputs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LanguagesResource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"LanguagesResource","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Human readable name of the language localized to the target language.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"language":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Supported language code, generally consisting of its ISO 639-1\nidentifier. (E.g. 'en', 'ja'). In certain cases, BCP-47 codes including\nlanguage + region identifiers are returned (e.g. 'zh-TW' and 'zh-CH')","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DetectionsListResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"DetectionsListResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"detections":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A detections contains detection results of several text","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"DetectionsResource","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"language/translate/","title":"Google Cloud Translation API","version":"v2","version_module":null}