{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/urlshortener":{"description":"Manage your goo.gl short URLs"}}}},"basePath":"/urlshortener/v1/","baseUrl":"https://www.googleapis.com/urlshortener/v1/","batchPath":"batch/urlshortener/v1","canonicalName":null,"description":"Lets you create, inspect, and manage goo.gl short URLs","discoveryVersion":"v1","documentationLink":"https://developers.google.com/url-shortener/v1/getting_started","etag":"\"YWOzh2SDasdU84ArJnpYek-OMdg/OETTXb_C37OrYG6Z2ykB_lpjNQE\"","exponentialBackoffDefault":null,"features":null,"icons":{"x16":"https://www.gstatic.com/images/branding/product/1x/googleg_16dp.png","x32":"https://www.gstatic.com/images/branding/product/1x/googleg_32dp.png"},"id":"urlshortener:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"urlshortener","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for the response.","enum":["json"],"enumDescriptions":["Responses with Content-Type of application/json"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"userIp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"IP address of the site where the request originates. Use this if you want to enforce per-user limits.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"url":{"methods":{"get":{"description":"Expands a short URL or gets creation time and analytics.","etagRequired":null,"httpMethod":"GET","id":"urlshortener.url.get","mediaUpload":null,"parameterOrder":["shortUrl"],"parameters":{"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Additional information to return.","enum":["ANALYTICS_CLICKS","ANALYTICS_TOP_STRINGS","FULL"],"enumDescriptions":["Returns only click counts.","Returns only top string counts.","Returns the creation timestamp and all available analytics."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"shortUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The short URL, including the protocol.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"url","request":null,"response":{"$ref":"Url"},"scopes":["https://www.googleapis.com/auth/urlshortener"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"insert":{"description":"Creates a new short URL.","etagRequired":null,"httpMethod":"POST","id":"urlshortener.url.insert","mediaUpload":null,"parameterOrder":null,"parameters":null,"path":"url","request":{"$ref":"Url","parameterName":null},"response":{"$ref":"Url"},"scopes":["https://www.googleapis.com/auth/urlshortener"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Retrieves a list of URLs shortened by a user.","etagRequired":null,"httpMethod":"GET","id":"urlshortener.url.list","mediaUpload":null,"parameterOrder":null,"parameters":{"projection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Additional information to return.","enum":["ANALYTICS_CLICKS","FULL"],"enumDescriptions":["Returns short URL click counts.","Returns short URL click counts."],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"start-token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Token for requesting successive pages of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"url/history","request":null,"response":{"$ref":"UrlHistory"},"scopes":["https://www.googleapis.com/auth/urlshortener"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20150519","rootUrl":"https://www.googleapis.com/","schemas":{"AnalyticsSnapshot":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AnalyticsSnapshot","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"browsers":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Top browsers, e.g. \"Chrome\"; sorted by (descending) click counts. Only present if this data is available.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"StringCount","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"countries":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Top countries (expressed as country codes), e.g. \"US\" or \"DE\"; sorted by (descending) click counts. Only present if this data is available.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"StringCount","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"longUrlClicks":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of clicks on all goo.gl short URLs pointing to this long URL.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"platforms":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Top platforms or OSes, e.g. \"Windows\"; sorted by (descending) click counts. Only present if this data is available.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"StringCount","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"referrers":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Top referring hosts, e.g. \"www.google.com\"; sorted by (descending) click counts. Only present if this data is available.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"StringCount","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"shortUrlClicks":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of clicks on this short URL.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AnalyticsSummary":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"AnalyticsSummary","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"allTime":{"$ref":"AnalyticsSnapshot","additionalProperties":null,"annotations":null,"default":null,"description":"Click analytics over all time.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"day":{"$ref":"AnalyticsSnapshot","additionalProperties":null,"annotations":null,"default":null,"description":"Click analytics over the last day.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"month":{"$ref":"AnalyticsSnapshot","additionalProperties":null,"annotations":null,"default":null,"description":"Click analytics over the last month.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"twoHours":{"$ref":"AnalyticsSnapshot","additionalProperties":null,"annotations":null,"default":null,"description":"Click analytics over the last two hours.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"week":{"$ref":"AnalyticsSnapshot","additionalProperties":null,"annotations":null,"default":null,"description":"Click analytics over the last week.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"StringCount":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"StringCount","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"count":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of clicks for this top entry, e.g. for this particular country or browser.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Label assigned to this top entry, e.g. \"US\" or \"Chrome\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"Url","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"analytics":{"$ref":"AnalyticsSummary","additionalProperties":null,"annotations":null,"default":null,"description":"A summary of the click analytics for the short and long URL. Might not be present if not requested or currently unavailable.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"created":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time the short URL was created; ISO 8601 representation using the yyyy-MM-dd'T'HH:mm:ss.SSSZZ format, e.g. \"2010-10-14T19:01:24.944+00:00\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Short URL, e.g. \"http://goo.gl/l6MS\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"urlshortener#url","description":"The fixed string \"urlshortener#url\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"longUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Long URL, e.g. \"http://www.google.com/\". Might not be present if the status is \"REMOVED\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Status of the target URL. Possible values: \"OK\", \"MALWARE\", \"PHISHING\", or \"REMOVED\". A URL might be marked \"REMOVED\" if it was flagged as spam, for example.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UrlHistory":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":"UrlHistory","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of URL resources.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Url","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"itemsPerPage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Number of items returned with each full \"page\" of results. Note that the last page could have fewer items than the \"itemsPerPage\" value.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"kind":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"urlshortener#urlHistory","description":"The fixed string \"urlshortener#urlHistory\".","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token to provide to get the next page of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"totalItems":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Total number of short URLs associated with this user (may be approximate).","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"urlshortener/v1/","title":"URL Shortener API","version":"v1","version_module":null}