{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/ediscovery.readonly":{"description":"View your eDiscovery data"},"https://www.googleapis.com/auth/ediscovery":{"description":"Manage your eDiscovery data"}}}},"basePath":"","baseUrl":"https://vault.googleapis.com/","batchPath":"batch","canonicalName":"Vault","description":"Archiving and eDiscovery for G Suite.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/vault","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"vault:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"vault","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"matters":{"methods":{"create":{"description":"Creates a new matter with the given name and description. The initial state\nis open, and the owner is the method caller. Returns the created matter\nwith default view.","etagRequired":null,"httpMethod":"POST","id":"vault.matters.create","mediaUpload":null,"parameterOrder":[],"parameters":{},"path":"v1/matters","request":{"$ref":"Matter","parameterName":null},"response":{"$ref":"Matter"},"scopes":["https://www.googleapis.com/auth/ediscovery"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"removePermissions":{"description":"Removes an account as a matter collaborator.","etagRequired":null,"httpMethod":"POST","id":"vault.matters.removePermissions","mediaUpload":null,"parameterOrder":["matterId"],"parameters":{"matterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The matter ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/matters/{matterId}:removePermissions","request":{"$ref":"RemoveMatterPermissionsRequest","parameterName":null},"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/ediscovery"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"reopen":{"description":"Reopens the specified matter. Returns matter with updated state.","etagRequired":null,"httpMethod":"POST","id":"vault.matters.reopen","mediaUpload":null,"parameterOrder":["matterId"],"parameters":{"matterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The matter ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/matters/{matterId}:reopen","request":{"$ref":"ReopenMatterRequest","parameterName":null},"response":{"$ref":"ReopenMatterResponse"},"scopes":["https://www.googleapis.com/auth/ediscovery"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"undelete":{"description":"Undeletes the specified matter. Returns matter with updated state.","etagRequired":null,"httpMethod":"POST","id":"vault.matters.undelete","mediaUpload":null,"parameterOrder":["matterId"],"parameters":{"matterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The matter ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/matters/{matterId}:undelete","request":{"$ref":"UndeleteMatterRequest","parameterName":null},"response":{"$ref":"Matter"},"scopes":["https://www.googleapis.com/auth/ediscovery"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"close":{"description":"Closes the specified matter. Returns matter with updated state.","etagRequired":null,"httpMethod":"POST","id":"vault.matters.close","mediaUpload":null,"parameterOrder":["matterId"],"parameters":{"matterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The matter ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/matters/{matterId}:close","request":{"$ref":"CloseMatterRequest","parameterName":null},"response":{"$ref":"CloseMatterResponse"},"scopes":["https://www.googleapis.com/auth/ediscovery"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets the specified matter.","etagRequired":null,"httpMethod":"GET","id":"vault.matters.get","mediaUpload":null,"parameterOrder":["matterId"],"parameters":{"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies which parts of the Matter to return in the response.","enum":["VIEW_UNSPECIFIED","BASIC","FULL"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"matterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The matter ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/matters/{matterId}","request":null,"response":{"$ref":"Matter"},"scopes":["https://www.googleapis.com/auth/ediscovery","https://www.googleapis.com/auth/ediscovery.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates the specified matter.\nThis updates only the name and description of the matter, identified by\nmatter id. Changes to any other fields are ignored.\nReturns the default view of the matter.","etagRequired":null,"httpMethod":"PUT","id":"vault.matters.update","mediaUpload":null,"parameterOrder":["matterId"],"parameters":{"matterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The matter ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/matters/{matterId}","request":{"$ref":"Matter","parameterName":null},"response":{"$ref":"Matter"},"scopes":["https://www.googleapis.com/auth/ediscovery"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"delete":{"description":"Deletes the specified matter. Returns matter with updated state.","etagRequired":null,"httpMethod":"DELETE","id":"vault.matters.delete","mediaUpload":null,"parameterOrder":["matterId"],"parameters":{"matterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The matter ID","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/matters/{matterId}","request":null,"response":{"$ref":"Matter"},"scopes":["https://www.googleapis.com/auth/ediscovery"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"addPermissions":{"description":"Adds an account as a matter collaborator.","etagRequired":null,"httpMethod":"POST","id":"vault.matters.addPermissions","mediaUpload":null,"parameterOrder":["matterId"],"parameters":{"matterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The matter ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/matters/{matterId}:addPermissions","request":{"$ref":"AddMatterPermissionsRequest","parameterName":null},"response":{"$ref":"MatterPermission"},"scopes":["https://www.googleapis.com/auth/ediscovery"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists matters the user has access to.","etagRequired":null,"httpMethod":"GET","id":"vault.matters.list","mediaUpload":null,"parameterOrder":[],"parameters":{"state":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If set, list only matters with that specific state. The default is listing\nmatters of all states.","enum":["STATE_UNSPECIFIED","OPEN","CLOSED","DELETED"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The pagination token as returned in the response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The number of matters to return in the response.\nDefault and maximum are 100.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"view":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Specifies which parts of the matter to return in response.","enum":["VIEW_UNSPECIFIED","BASIC","FULL"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/matters","request":null,"response":{"$ref":"ListMattersResponse"},"scopes":["https://www.googleapis.com/auth/ediscovery","https://www.googleapis.com/auth/ediscovery.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"holds":{"methods":{"delete":{"description":"Removes a hold by ID. This will release any HeldAccounts on this Hold.","etagRequired":null,"httpMethod":"DELETE","id":"vault.matters.holds.delete","mediaUpload":null,"parameterOrder":["matterId","holdId"],"parameters":{"holdId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The hold ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"matterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The matter ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/matters/{matterId}/holds/{holdId}","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/ediscovery"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists holds within a matter. An empty page token in ListHoldsResponse\ndenotes no more holds to list.","etagRequired":null,"httpMethod":"GET","id":"vault.matters.holds.list","mediaUpload":null,"parameterOrder":["matterId"],"parameters":{"matterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The matter ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The pagination token as returned in the response.\nAn empty token means start from the beginning.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The number of holds to return in the response, between 0 and 100 inclusive.\nLeaving this empty, or as 0, is the same as page_size = 100.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"v1/matters/{matterId}/holds","request":null,"response":{"$ref":"ListHoldsResponse"},"scopes":["https://www.googleapis.com/auth/ediscovery","https://www.googleapis.com/auth/ediscovery.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a hold by ID.","etagRequired":null,"httpMethod":"GET","id":"vault.matters.holds.get","mediaUpload":null,"parameterOrder":["matterId","holdId"],"parameters":{"matterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The matter ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"holdId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The hold ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/matters/{matterId}/holds/{holdId}","request":null,"response":{"$ref":"Hold"},"scopes":["https://www.googleapis.com/auth/ediscovery","https://www.googleapis.com/auth/ediscovery.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"update":{"description":"Updates the OU and/or query parameters of a hold. You cannot add accounts\nto a hold that covers an OU, nor can you add OUs to a hold that covers\nindividual accounts. Accounts listed in the hold will be ignored.","etagRequired":null,"httpMethod":"PUT","id":"vault.matters.holds.update","mediaUpload":null,"parameterOrder":["matterId","holdId"],"parameters":{"holdId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the hold.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"matterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The matter ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/matters/{matterId}/holds/{holdId}","request":{"$ref":"Hold","parameterName":null},"response":{"$ref":"Hold"},"scopes":["https://www.googleapis.com/auth/ediscovery"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates a hold in the given matter.","etagRequired":null,"httpMethod":"POST","id":"vault.matters.holds.create","mediaUpload":null,"parameterOrder":["matterId"],"parameters":{"matterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The matter ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/matters/{matterId}/holds","request":{"$ref":"Hold","parameterName":null},"response":{"$ref":"Hold"},"scopes":["https://www.googleapis.com/auth/ediscovery"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"accounts":{"methods":{"delete":{"description":"Removes a HeldAccount from a hold. If this request leaves the hold with\nno held accounts, the hold will not apply to any accounts.","etagRequired":null,"httpMethod":"DELETE","id":"vault.matters.holds.accounts.delete","mediaUpload":null,"parameterOrder":["matterId","holdId","accountId"],"parameters":{"matterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The matter ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"holdId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The hold ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the account to remove from the hold.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/matters/{matterId}/holds/{holdId}/accounts/{accountId}","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/ediscovery"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists HeldAccounts for a hold. This will only list individually specified\nheld accounts. If the hold is on an OU, then use\n<a href=\"https://developers.google.com/admin-sdk/\">Admin SDK</a>\nto enumerate its members.","etagRequired":null,"httpMethod":"GET","id":"vault.matters.holds.accounts.list","mediaUpload":null,"parameterOrder":["matterId","holdId"],"parameters":{"holdId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The hold ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"matterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The matter ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/matters/{matterId}/holds/{holdId}/accounts","request":null,"response":{"$ref":"ListHeldAccountsResponse"},"scopes":["https://www.googleapis.com/auth/ediscovery","https://www.googleapis.com/auth/ediscovery.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Adds a HeldAccount to a hold. Accounts can only be added to a hold that\nhas no held_org_unit set. Attempting to add an account to an OU-based\nhold will result in an error.","etagRequired":null,"httpMethod":"POST","id":"vault.matters.holds.accounts.create","mediaUpload":null,"parameterOrder":["matterId","holdId"],"parameters":{"holdId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The hold ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"matterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The matter ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/matters/{matterId}/holds/{holdId}/accounts","request":{"$ref":"HeldAccount","parameterName":null},"response":{"$ref":"HeldAccount"},"scopes":["https://www.googleapis.com/auth/ediscovery"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null}},"ETag":null}},"revision":"20170812","rootUrl":"https://vault.googleapis.com/","schemas":{"RemoveMatterPermissionsRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Remove an account as a matter collaborator.","enum":null,"enumDescriptions":null,"format":null,"id":"RemoveMatterPermissionsRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"MatterPermission":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Currently each matter only has one owner, and all others are collaborators.\nWhen an account is purged, its corresponding MatterPermission resources\ncease to exist.","enum":null,"enumDescriptions":null,"format":null,"id":"MatterPermission","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account id, as provided by <a href=\"https://developers.google.com/admin-sdk/\">Admin SDK</a>.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"role":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The user's role in this matter.","enum":["ROLE_UNSPECIFIED","COLLABORATOR","OWNER"],"enumDescriptions":["No role assigned.","A collaborator to the matter.","The owner of the matter."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListMattersResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Provides the list of matters.","enum":null,"enumDescriptions":null,"format":null,"id":"ListMattersResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Page token to retrieve the next page of results in the list.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"matters":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of matters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Matter","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"HeldMailQuery":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Query options for mail holds.","enum":null,"enumDescriptions":null,"format":null,"id":"HeldMailQuery","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"endTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The end date range for the search query. These timestamps are in GMT and\nrounded down to the start of the given date.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The start date range for the search query. These timestamps are in GMT and\nrounded down to the start of the given date.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"terms":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The search terms for the hold.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CloseMatterResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response to a CloseMatterRequest.","enum":null,"enumDescriptions":null,"format":null,"id":"CloseMatterResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"matter":{"$ref":"Matter","additionalProperties":null,"annotations":null,"default":null,"description":"The updated matter, with state CLOSED.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"HeldDriveQuery":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Query options for drive holds.","enum":null,"enumDescriptions":null,"format":null,"id":"HeldDriveQuery","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"includeTeamDriveFiles":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If true, include files in Team Drives in the hold.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"HeldGroupsQuery":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Query options for group holds.","enum":null,"enumDescriptions":null,"format":null,"id":"HeldGroupsQuery","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"endTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The end date range for the search query. These timestamps are in GMT and\nrounded down to the start of the given date.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The start date range for the search query. These timestamps are in GMT and\nrounded down to the start of the given date.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"terms":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The search terms for the hold.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"HeldOrgUnit":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A organizational unit being held in a particular hold.\nThis structure is immutable.","enum":null,"enumDescriptions":null,"format":null,"id":"HeldOrgUnit","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"holdTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When the org unit was put on hold. This property is immutable.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"orgUnitId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The org unit's immutable ID as provided by the admin SDK.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AddMatterPermissionsRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Add an account with the permission specified. The role cannot be owner.\nIf an account already has a role in the matter, it will be\noverwritten.","enum":null,"enumDescriptions":null,"format":null,"id":"AddMatterPermissionsRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"sendEmails":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True to send notification email to the added account.\nFalse to not send notification email.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"matterPermission":{"$ref":"MatterPermission","additionalProperties":null,"annotations":null,"default":null,"description":"The MatterPermission to add.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"ccMe":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Only relevant if send_emails is true.\nTrue to CC requestor in the email message.\nFalse to not CC requestor.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Matter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a matter.","enum":null,"enumDescriptions":null,"format":null,"id":"Matter","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"state":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The state of the matter.","enum":["STATE_UNSPECIFIED","OPEN","CLOSED","DELETED"],"enumDescriptions":["The matter has no specified state.","This matter is open.","This matter is closed.","This matter is deleted."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"matterPermissions":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of users and access to the matter. Currently there is no programmer\ndefined limit on the number of permissions a matter can have.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"MatterPermission","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the matter.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The description of the matter.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"matterId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The matter ID which is generated by the server.\nShould be blank when creating a new matter.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"HeldAccount":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An account being held in a particular hold. This structure is immutable.\nThis can be either a single user or a google group, depending on the corpus.","enum":null,"enumDescriptions":null,"format":null,"id":"HeldAccount","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"holdTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"When the account was put on hold.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"accountId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The account's ID as provided by the\n<a href=\"https://developers.google.com/admin-sdk/\">Admin SDK</a>.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ReopenMatterResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response to a ReopenMatterRequest.","enum":null,"enumDescriptions":null,"format":null,"id":"ReopenMatterResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"matter":{"$ref":"Matter","additionalProperties":null,"annotations":null,"default":null,"description":"The updated matter, with state OPEN.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CorpusQuery":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Corpus specific queries.","enum":null,"enumDescriptions":null,"format":null,"id":"CorpusQuery","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"driveQuery":{"$ref":"HeldDriveQuery","additionalProperties":null,"annotations":null,"default":null,"description":"Details pertaining to Drive holds. If set, corpus must be Drive.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"groupsQuery":{"$ref":"HeldGroupsQuery","additionalProperties":null,"annotations":null,"default":null,"description":"Details pertaining to Groups holds. If set, corpus must be Groups.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"mailQuery":{"$ref":"HeldMailQuery","additionalProperties":null,"annotations":null,"default":null,"description":"Details pertaining to mail holds. If set, corpus must be mail.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Hold":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a hold within Vault. A hold restricts purging of\nartifacts based on the combination of the query and accounts restrictions.\nA hold can be configured to either apply to an explicitly configured set\nof accounts, or can be applied to all members of an organizational unit.","enum":null,"enumDescriptions":null,"format":null,"id":"Hold","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"accounts":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If set, the hold applies to the enumerated accounts and org_unit must be\nempty.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"HeldAccount","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"orgUnit":{"$ref":"HeldOrgUnit","additionalProperties":null,"annotations":null,"default":null,"description":"If set, the hold applies to all members of the organizational unit and\naccounts must be empty. This property is mutable. For groups holds,\nset the accounts field.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"query":{"$ref":"CorpusQuery","additionalProperties":null,"annotations":null,"default":null,"description":"The corpus-specific query. If set, the corpusQuery must match corpus\ntype.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"corpus":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The corpus to be searched.","enum":["CORPUS_TYPE_UNSPECIFIED","DRIVE","MAIL","GROUPS"],"enumDescriptions":["No corpus specified.","Drive.","Mail.","Groups."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"updateTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The last time this hold was modified.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the hold.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"holdId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The unique immutable ID of the hold. Assigned during creation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListHoldsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The holds for a matter.","enum":null,"enumDescriptions":null,"format":null,"id":"ListHoldsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Page token to retrieve the next page of results in the list.\nIf this is empty, then there are no more holds to list.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"holds":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of holds.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Hold","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListHeldAccountsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Returns a list of held accounts for a hold.","enum":null,"enumDescriptions":null,"format":null,"id":"ListHeldAccountsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"accounts":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The held accounts on a hold.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"HeldAccount","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"UndeleteMatterRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Undelete a matter by ID.","enum":null,"enumDescriptions":null,"format":null,"id":"UndeleteMatterRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Empty":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.","enum":null,"enumDescriptions":null,"format":null,"id":"Empty","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ReopenMatterRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Reopen a matter by ID.","enum":null,"enumDescriptions":null,"format":null,"id":"ReopenMatterRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CloseMatterRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Close a matter by ID.","enum":null,"enumDescriptions":null,"format":null,"id":"CloseMatterRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"","title":"Google Vault API","version":"v1","version_module":true}