{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"}}}},"basePath":"","baseUrl":"https://videointelligence.googleapis.com/","batchPath":"batch","canonicalName":"Cloud Video Intelligence","description":"Cloud Video Intelligence API.","discoveryVersion":"v1","documentationLink":"https://cloud.google.com/video-intelligence/docs/","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"videointelligence:v1beta1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"videointelligence","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"videos":{"methods":{"annotate":{"description":"Performs asynchronous video annotation. Progress and results can be\nretrieved through the `google.longrunning.Operations` interface.\n`Operation.metadata` contains `AnnotateVideoProgress` (progress).\n`Operation.response` contains `AnnotateVideoResponse` (results).","etagRequired":null,"httpMethod":"POST","id":"videointelligence.videos.annotate","mediaUpload":null,"parameterOrder":[],"parameters":{},"path":"v1beta1/videos:annotate","request":{"$ref":"GoogleCloudVideointelligenceV1beta1_AnnotateVideoRequest","parameterName":null},"response":{"$ref":"GoogleLongrunning_Operation"},"scopes":["https://www.googleapis.com/auth/cloud-platform"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20170925","rootUrl":"https://videointelligence.googleapis.com/","schemas":{"GoogleCloudVideointelligenceV1_LabelAnnotation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Label annotation.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1_LabelAnnotation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Textual description, e.g. `Fixed-gear bicycle`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"locations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Where the label was detected and with what confidence.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1_LabelLocation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"languageCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Language code for `description` in BCP-47 format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1beta1_VideoContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video context and/or feature-specific parameters.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1beta1_VideoContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"shotChangeDetectionModel":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Model to use for shot change detection.\nSupported values: \"latest\" and \"stable\" (the default).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"stationaryCamera":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Whether the video has been shot from a stationary (i.e. non-moving) camera.\nWhen set to true, might improve detection accuracy for moving objects.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"labelDetectionMode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If label detection has been requested, what labels should be detected\nin addition to video-level labels or segment-level labels. If unspecified,\ndefaults to `SHOT_MODE`.","enum":["LABEL_DETECTION_MODE_UNSPECIFIED","SHOT_MODE","FRAME_MODE","SHOT_AND_FRAME_MODE"],"enumDescriptions":["Unspecified.","Detect shot-level labels.","Detect frame-level labels.","Detect both shot-level and frame-level labels."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"safeSearchDetectionModel":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Model to use for safe search detection.\nSupported values: \"latest\" and \"stable\" (the default).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"segments":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video segments to annotate. The segments may overlap and are not required\nto be contiguous or span the whole video. If unspecified, each video\nis treated as a single segment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1beta1_VideoSegment","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"labelDetectionModel":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Model to use for label detection.\nSupported values: \"latest\" and \"stable\" (the default).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleRpc_Status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleRpc_Status","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"details":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of the object. Contains field @type with type URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"code":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The status code, which should be an enum value of google.rpc.Code.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"message":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1_VideoSegment":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video segment.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1_VideoSegment","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"endTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time-offset, relative to the beginning of the video,\ncorresponding to the end of the segment (inclusive).","enum":null,"enumDescriptions":null,"format":"google-duration","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time-offset, relative to the beginning of the video,\ncorresponding to the start of the segment (inclusive).","enum":null,"enumDescriptions":null,"format":"google-duration","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Annotation results for a single video.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"error":{"$ref":"GoogleRpc_Status","additionalProperties":null,"annotations":null,"default":null,"description":"If set, indicates an error. Note that for a single `AnnotateVideoRequest`\nsome videos may succeed and some may fail.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"frameLabelAnnotations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Label annotations on frame level.\nThere is exactly one element for each unique label.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1beta2_LabelAnnotation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"inputUri":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video file location in\n[Google Cloud Storage](https://cloud.google.com/storage/).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"explicitAnnotation":{"$ref":"GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation","additionalProperties":null,"annotations":null,"default":null,"description":"Explicit content annotation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"segmentLabelAnnotations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Label annotations on video level or user specified segment level.\nThere is exactly one element for each unique label.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1beta2_LabelAnnotation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"shotAnnotations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Shot annotations. Each shot is represented as a video segment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1beta2_VideoSegment","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"shotLabelAnnotations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Label annotations on shot level.\nThere is exactly one element for each unique label.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1beta2_LabelAnnotation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Explicit content annotation (based on per-frame visual signals only).\nIf no explicit content has been detected in a frame, no annotations are\npresent for that frame.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1beta2_ExplicitContentAnnotation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"frames":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"All video frames where explicit content was detected.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1beta1_LabelLocation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Label location.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1beta1_LabelLocation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"segment":{"$ref":"GoogleCloudVideointelligenceV1beta1_VideoSegment","additionalProperties":null,"annotations":null,"default":null,"description":"Video segment. Set to [-1, -1] for video-level labels.\nSet to [timestamp, timestamp] for frame-level labels.\nOtherwise, corresponds to one of `AnnotateSpec.segments`\n(if specified) or to shot boundaries (if requested).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"level":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Label level.","enum":["LABEL_LEVEL_UNSPECIFIED","VIDEO_LEVEL","SEGMENT_LEVEL","SHOT_LEVEL","FRAME_LEVEL"],"enumDescriptions":["Unspecified.","Video-level. Corresponds to the whole video.","Segment-level. Corresponds to one of `AnnotateSpec.segments`.","Shot-level. Corresponds to a single shot (i.e. a series of frames\nwithout a major camera position or background change).","Frame-level. Corresponds to a single video frame."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"confidence":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Confidence that the label is accurate. Range: [0, 1].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1beta2_LabelFrame":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video frame level annotation results for label detection.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1beta2_LabelFrame","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"confidence":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Confidence that the label is accurate. Range: [0, 1].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"timeOffset":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time-offset, relative to the beginning of the video, corresponding to the\nvideo frame for this location.","enum":null,"enumDescriptions":null,"format":"google-duration","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video annotation progress. Included in the `metadata`\nfield of the `Operation` returned by the `GetOperation`\ncall of the `google::longrunning::Operations` service.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1beta2_AnnotateVideoProgress","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"annotationProgress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Progress metadata for all videos specified in `AnnotateVideoRequest`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1_VideoAnnotationProgress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Annotation progress for a single video.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1_VideoAnnotationProgress","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"progressPercent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Approximate percentage processed thus far.\nGuaranteed to be 100 when fully processed.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"updateTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time of the most recent update.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time when the request was received.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"inputUri":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video file location in\n[Google Cloud Storage](https://cloud.google.com/storage/).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1_AnnotateVideoProgress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video annotation progress. Included in the `metadata`\nfield of the `Operation` returned by the `GetOperation`\ncall of the `google::longrunning::Operations` service.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1_AnnotateVideoProgress","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"annotationProgress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Progress metadata for all videos specified in `AnnotateVideoRequest`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1_VideoAnnotationProgress","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleLongrunning_Operation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"This resource represents a long-running operation that is the result of a\nnetwork API call.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleLongrunning_Operation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"done":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If the value is `false`, it means the operation is still in progress.\nIf `true`, the operation is completed, and either `error` or `response` is\navailable.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"response":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of the object. Contains field @type with type URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"annotations":null,"default":null,"description":"The normal response of the operation in case of success.  If the original\nmethod returns no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.  If the original method is standard\n`Get`/`Create`/`Update`, the response should be the resource.  For other\nmethods, the response should have the type `XxxResponse`, where `Xxx`\nis the original method name.  For example, if the original method name\nis `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The server-assigned name, which is only unique within the same service that\noriginally returns it. If you use the default HTTP mapping, the\n`name` should have the format of `operations/some/unique/name`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"error":{"$ref":"GoogleRpc_Status","additionalProperties":null,"annotations":null,"default":null,"description":"The error result of the operation in case of failure or cancellation.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"metadata":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of the object. Contains field @type with type URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"annotations":null,"default":null,"description":"Service-specific metadata associated with the operation.  It typically\ncontains progress information and common metadata such as create time.\nSome services might not provide such metadata.  Any method that returns a\nlong-running operation should document the metadata type, if any.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1beta1_VideoAnnotationResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Annotation results for a single video.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1beta1_VideoAnnotationResults","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"labelAnnotations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Label annotations. There is exactly one element for each unique label.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1beta1_LabelAnnotation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"error":{"$ref":"GoogleRpc_Status","additionalProperties":null,"annotations":null,"default":null,"description":"If set, indicates an error. Note that for a single `AnnotateVideoRequest`\nsome videos may succeed and some may fail.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"shotAnnotations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Shot annotations. Each shot is represented as a video segment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1beta1_VideoSegment","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"safeSearchAnnotations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Safe search annotations.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1beta1_SafeSearchAnnotation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"inputUri":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video file location in\n[Google Cloud Storage](https://cloud.google.com/storage/).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Annotation progress for a single video.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1beta2_VideoAnnotationProgress","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"progressPercent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Approximate percentage processed thus far.\nGuaranteed to be 100 when fully processed.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"updateTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time of the most recent update.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time when the request was received.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"inputUri":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video file location in\n[Google Cloud Storage](https://cloud.google.com/storage/).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1_AnnotateVideoResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video annotation response. Included in the `response`\nfield of the `Operation` returned by the `GetOperation`\ncall of the `google::longrunning::Operations` service.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1_AnnotateVideoResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"annotationResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Annotation results for all videos specified in `AnnotateVideoRequest`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1_VideoAnnotationResults","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1beta1_AnnotateVideoResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video annotation response. Included in the `response`\nfield of the `Operation` returned by the `GetOperation`\ncall of the `google::longrunning::Operations` service.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1beta1_AnnotateVideoResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"annotationResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Annotation results for all videos specified in `AnnotateVideoRequest`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1beta1_VideoAnnotationResults","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1beta1_VideoAnnotationProgress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Annotation progress for a single video.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1beta1_VideoAnnotationProgress","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"updateTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time of the most recent update.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time when the request was received.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"inputUri":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video file location in\n[Google Cloud Storage](https://cloud.google.com/storage/).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"progressPercent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Approximate percentage processed thus far.\nGuaranteed to be 100 when fully processed.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video frame level annotation results for explicit content.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1beta2_ExplicitContentFrame","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"pornographyLikelihood":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Likelihood of the pornography content..","enum":["LIKELIHOOD_UNSPECIFIED","VERY_UNLIKELY","UNLIKELY","POSSIBLE","LIKELY","VERY_LIKELY"],"enumDescriptions":["Unspecified likelihood.","Very unlikely.","Unlikely.","Possible.","Likely.","Very likely."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timeOffset":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time-offset, relative to the beginning of the video, corresponding to the\nvideo frame for this location.","enum":null,"enumDescriptions":null,"format":"google-duration","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1beta1_AnnotateVideoRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video annotation request.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1beta1_AnnotateVideoRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"inputContent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The video data bytes. Encoding: base64. If unset, the input video(s)\nshould be specified via `input_uri`. If set, `input_uri` should be unset.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"outputUri":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional location where the output (in JSON format) should be stored.\nCurrently, only [Google Cloud Storage](https://cloud.google.com/storage/)\nURIs are supported, which must be specified in the following format:\n`gs://bucket-id/object-id` (other URI formats return\ngoogle.rpc.Code.INVALID_ARGUMENT). For more information, see\n[Request URIs](/storage/docs/reference-uris).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"features":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested video annotation features.","enum":null,"enumDescriptions":["Unspecified.","Label detection. Detect objects, such as dog or flower.","Shot change detection.","Safe search detection."],"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":["FEATURE_UNSPECIFIED","LABEL_DETECTION","SHOT_CHANGE_DETECTION","SAFE_SEARCH_DETECTION"],"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"videoContext":{"$ref":"GoogleCloudVideointelligenceV1beta1_VideoContext","additionalProperties":null,"annotations":null,"default":null,"description":"Additional video context and/or feature-specific parameters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"locationId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Optional cloud region where annotation should take place. Supported cloud\nregions: `us-east1`, `us-west1`, `europe-west1`, `asia-east1`. If no region\nis specified, a region will be determined based on video file location.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"inputUri":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Input video location. Currently, only\n[Google Cloud Storage](https://cloud.google.com/storage/) URIs are\nsupported, which must be specified in the following format:\n`gs://bucket-id/object-id` (other URI formats return\ngoogle.rpc.Code.INVALID_ARGUMENT). For more information, see\n[Request URIs](/storage/docs/reference-uris).\nA video URI may include wildcards in `object-id`, and thus identify\nmultiple videos. Supported wildcards: '*' to match 0 or more characters;\n'?' to match 1 character. If unset, the input video should be embedded\nin the request as `input_content`. If set, `input_content` should be unset.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1beta1_VideoSegment":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video segment.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1beta1_VideoSegment","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"endTimeOffset":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"End offset in microseconds (inclusive). Unset means 0.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTimeOffset":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Start offset in microseconds (inclusive). Unset means 0.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1beta2_LabelSegment":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video segment level annotation results for label detection.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1beta2_LabelSegment","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"segment":{"$ref":"GoogleCloudVideointelligenceV1beta2_VideoSegment","additionalProperties":null,"annotations":null,"default":null,"description":"Video segment where a label was detected.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"confidence":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Confidence that the label is accurate. Range: [0, 1].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1_SafeSearchAnnotation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Safe search annotation (based on per-frame visual signals only).\nIf no unsafe content has been detected in a frame, no annotations\nare present for that frame.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1_SafeSearchAnnotation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"time":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time-offset, relative to the beginning of the video,\ncorresponding to the video frame for this annotation.","enum":null,"enumDescriptions":null,"format":"google-duration","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"adult":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Likelihood of adult content.","enum":["UNKNOWN","VERY_UNLIKELY","UNLIKELY","POSSIBLE","LIKELY","VERY_LIKELY"],"enumDescriptions":["Unknown likelihood.","Very unlikely.","Unlikely.","Possible.","Likely.","Very likely."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1beta2_LabelAnnotation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Label annotation.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1beta2_LabelAnnotation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"frames":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"All video frames where a label was detected.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1beta2_LabelFrame","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"segments":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"All video segments where a label was detected.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1beta2_LabelSegment","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"categoryEntities":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Common categories for the detected entity.\nE.g. when the label is `Terrier` the category is likely `dog`. And in some\ncases there might be more than one categories e.g. `Terrier` could also be\na `pet`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1beta2_Entity","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"entity":{"$ref":"GoogleCloudVideointelligenceV1beta2_Entity","additionalProperties":null,"annotations":null,"default":null,"description":"Detected entity.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1beta1_SafeSearchAnnotation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Safe search annotation (based on per-frame visual signals only).\nIf no unsafe content has been detected in a frame, no annotations\nare present for that frame. If only some types of unsafe content\nhave been detected in a frame, the likelihood is set to `UNKNOWN`\nfor all other types of unsafe content.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1beta1_SafeSearchAnnotation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"racy":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Likelihood of racy content.","enum":["UNKNOWN","VERY_UNLIKELY","UNLIKELY","POSSIBLE","LIKELY","VERY_LIKELY"],"enumDescriptions":["Unknown likelihood.","Very unlikely.","Unlikely.","Possible.","Likely.","Very likely."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"timeOffset":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video time offset in microseconds.","enum":null,"enumDescriptions":null,"format":"int64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"violent":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Likelihood of violent content.","enum":["UNKNOWN","VERY_UNLIKELY","UNLIKELY","POSSIBLE","LIKELY","VERY_LIKELY"],"enumDescriptions":["Unknown likelihood.","Very unlikely.","Unlikely.","Possible.","Likely.","Very likely."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"spoof":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Likelihood that an obvious modification was made to the original\nversion to make it appear funny or offensive.","enum":["UNKNOWN","VERY_UNLIKELY","UNLIKELY","POSSIBLE","LIKELY","VERY_LIKELY"],"enumDescriptions":["Unknown likelihood.","Very unlikely.","Unlikely.","Possible.","Likely.","Very likely."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"medical":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Likelihood of medical content.","enum":["UNKNOWN","VERY_UNLIKELY","UNLIKELY","POSSIBLE","LIKELY","VERY_LIKELY"],"enumDescriptions":["Unknown likelihood.","Very unlikely.","Unlikely.","Possible.","Likely.","Very likely."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"adult":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Likelihood of adult content.","enum":["UNKNOWN","VERY_UNLIKELY","UNLIKELY","POSSIBLE","LIKELY","VERY_LIKELY"],"enumDescriptions":["Unknown likelihood.","Very unlikely.","Unlikely.","Possible.","Likely.","Very likely."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1beta1_AnnotateVideoProgress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video annotation progress. Included in the `metadata`\nfield of the `Operation` returned by the `GetOperation`\ncall of the `google::longrunning::Operations` service.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1beta1_AnnotateVideoProgress","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"annotationProgress":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Progress metadata for all videos specified in `AnnotateVideoRequest`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1beta1_VideoAnnotationProgress","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1beta2_Entity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Detected entity from video analysis.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1beta2_Entity","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"languageCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Language code for `description` in BCP-47 format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"entityId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Opaque entity ID. Some IDs may be available in\n[Google Knowledge Graph Search\nAPI](https://developers.google.com/knowledge-graph/).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Textual description, e.g. `Fixed-gear bicycle`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1beta2_VideoSegment":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video segment.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1beta2_VideoSegment","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"endTimeOffset":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time-offset, relative to the beginning of the video,\ncorresponding to the end of the segment (inclusive).","enum":null,"enumDescriptions":null,"format":"google-duration","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTimeOffset":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Time-offset, relative to the beginning of the video,\ncorresponding to the start of the segment (inclusive).","enum":null,"enumDescriptions":null,"format":"google-duration","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1_VideoAnnotationResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Annotation results for a single video.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1_VideoAnnotationResults","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"labelAnnotations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Label annotations. There is exactly one element for each unique label.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1_LabelAnnotation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"error":{"$ref":"GoogleRpc_Status","additionalProperties":null,"annotations":null,"default":null,"description":"If set, indicates an error. Note that for a single `AnnotateVideoRequest`\nsome videos may succeed and some may fail.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"shotAnnotations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Shot annotations. Each shot is represented as a video segment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1_VideoSegment","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"safeSearchAnnotations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Safe search annotations.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1_SafeSearchAnnotation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"inputUri":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video file location in\n[Google Cloud Storage](https://cloud.google.com/storage/).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1_LabelLocation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Label location.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1_LabelLocation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"confidence":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Confidence that the label is accurate. Range: [0, 1].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"segment":{"$ref":"GoogleCloudVideointelligenceV1_VideoSegment","additionalProperties":null,"annotations":null,"default":null,"description":"Video segment. Unset for video-level labels.\nSet to a frame timestamp for frame-level labels.\nOtherwise, corresponds to one of `AnnotateSpec.segments`\n(if specified) or to shot boundaries (if requested).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"level":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Label level.","enum":["LABEL_LEVEL_UNSPECIFIED","VIDEO_LEVEL","SEGMENT_LEVEL","SHOT_LEVEL","FRAME_LEVEL"],"enumDescriptions":["Unspecified.","Video-level. Corresponds to the whole video.","Segment-level. Corresponds to one of `AnnotateSpec.segments`.","Shot-level. Corresponds to a single shot (i.e. a series of frames\nwithout a major camera position or background change).","Frame-level. Corresponds to a single video frame."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1beta2_AnnotateVideoResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Video annotation response. Included in the `response`\nfield of the `Operation` returned by the `GetOperation`\ncall of the `google::longrunning::Operations` service.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1beta2_AnnotateVideoResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"annotationResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Annotation results for all videos specified in `AnnotateVideoRequest`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1beta2_VideoAnnotationResults","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"GoogleCloudVideointelligenceV1beta1_LabelAnnotation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Label annotation.","enum":null,"enumDescriptions":null,"format":null,"id":"GoogleCloudVideointelligenceV1beta1_LabelAnnotation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Textual description, e.g. `Fixed-gear bicycle`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"locations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Where the label was detected and with what confidence.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"GoogleCloudVideointelligenceV1beta1_LabelLocation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"languageCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Language code for `description` in BCP-47 format.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"","title":"Cloud Video Intelligence API","version":"v1beta1","version_module":true}