{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/cloud-vision":{"description":"Apply machine learning models to understand and label images"},"https://www.googleapis.com/auth/cloud-platform":{"description":"View and manage your data across Google Cloud Platform services"}}}},"basePath":"","baseUrl":"https://vision.googleapis.com/","batchPath":"batch","canonicalName":"Vision","description":"Integrates Google Vision features, including image labeling, face, logo, and landmark detection, optical character recognition (OCR), and detection of explicit content, into applications.","discoveryVersion":"v1","documentationLink":"https://cloud.google.com/vision/","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"vision:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"vision","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"images":{"methods":{"annotate":{"description":"Run image detection and annotation for a batch of images.","etagRequired":null,"httpMethod":"POST","id":"vision.images.annotate","mediaUpload":null,"parameterOrder":[],"parameters":{},"path":"v1/images:annotate","request":{"$ref":"BatchAnnotateImagesRequest","parameterName":null},"response":{"$ref":"BatchAnnotateImagesResponse"},"scopes":["https://www.googleapis.com/auth/cloud-platform","https://www.googleapis.com/auth/cloud-vision"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20171003","rootUrl":"https://vision.googleapis.com/","schemas":{"Paragraph":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Structural unit of text representing a number of words in certain order.","enum":null,"enumDescriptions":null,"format":null,"id":"Paragraph","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"property":{"$ref":"TextProperty","additionalProperties":null,"annotations":null,"default":null,"description":"Additional information detected for the paragraph.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"boundingBox":{"$ref":"BoundingPoly","additionalProperties":null,"annotations":null,"default":null,"description":"The bounding box for the paragraph.\nThe vertices are in the order of top-left, top-right, bottom-right,\nbottom-left. When a rotation of the bounding box is detected the rotation\nis represented as around the top-left corner as defined when the text is\nread in the 'natural' orientation.\nFor example:\n  * when the text is horizontal it might look like:\n     0----1\n     |    |\n     3----2\n  * when it's rotated 180 degrees around the top-left corner it becomes:\n     2----3\n     |    |\n     1----0\n  and the vertice order will still be (0, 1, 2, 3).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"words":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of words in this paragraph.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Word","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Image":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Client image to perform Google Cloud Vision API tasks over.","enum":null,"enumDescriptions":null,"format":null,"id":"Image","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"source":{"$ref":"ImageSource","additionalProperties":null,"annotations":null,"default":null,"description":"Google Cloud Storage image location. If both `content` and `source`\nare provided for an image, `content` takes precedence and is\nused to perform the image annotation request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"content":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Image content, represented as a stream of bytes.\nNote: as with all `bytes` fields, protobuffers use a pure binary\nrepresentation, whereas JSON representations use base64.","enum":null,"enumDescriptions":null,"format":"byte","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"FaceAnnotation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A face annotation object contains the results of face detection.","enum":null,"enumDescriptions":null,"format":null,"id":"FaceAnnotation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"boundingPoly":{"$ref":"BoundingPoly","additionalProperties":null,"annotations":null,"default":null,"description":"The bounding polygon around the face. The coordinates of the bounding box\nare in the original image's scale, as returned in `ImageParams`.\nThe bounding box is computed to \"frame\" the face in accordance with human\nexpectations. It is based on the landmarker results.\nNote that one or more x and/or y coordinates may not be generated in the\n`BoundingPoly` (the polygon will be unbounded) if only a partial face\nappears in the image to be annotated.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"rollAngle":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Roll angle, which indicates the amount of clockwise/anti-clockwise rotation\nof the face relative to the image vertical about the axis perpendicular to\nthe face. Range [-180,180].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"sorrowLikelihood":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Sorrow likelihood.","enum":["UNKNOWN","VERY_UNLIKELY","UNLIKELY","POSSIBLE","LIKELY","VERY_LIKELY"],"enumDescriptions":["Unknown likelihood.","It is very unlikely that the image belongs to the specified vertical.","It is unlikely that the image belongs to the specified vertical.","It is possible that the image belongs to the specified vertical.","It is likely that the image belongs to the specified vertical.","It is very likely that the image belongs to the specified vertical."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"tiltAngle":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Pitch angle, which indicates the upwards/downwards angle that the face is\npointing relative to the image's horizontal plane. Range [-180,180].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"fdBoundingPoly":{"$ref":"BoundingPoly","additionalProperties":null,"annotations":null,"default":null,"description":"The `fd_bounding_poly` bounding polygon is tighter than the\n`boundingPoly`, and encloses only the skin part of the face. Typically, it\nis used to eliminate the face from any image analysis that detects the\n\"amount of skin\" visible in an image. It is not based on the\nlandmarker results, only on the initial face detection, hence\nthe <code>fd</code> (face detection) prefix.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"surpriseLikelihood":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Surprise likelihood.","enum":["UNKNOWN","VERY_UNLIKELY","UNLIKELY","POSSIBLE","LIKELY","VERY_LIKELY"],"enumDescriptions":["Unknown likelihood.","It is very unlikely that the image belongs to the specified vertical.","It is unlikely that the image belongs to the specified vertical.","It is possible that the image belongs to the specified vertical.","It is likely that the image belongs to the specified vertical.","It is very likely that the image belongs to the specified vertical."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"landmarks":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Detected face landmarks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Landmark","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"angerLikelihood":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Anger likelihood.","enum":["UNKNOWN","VERY_UNLIKELY","UNLIKELY","POSSIBLE","LIKELY","VERY_LIKELY"],"enumDescriptions":["Unknown likelihood.","It is very unlikely that the image belongs to the specified vertical.","It is unlikely that the image belongs to the specified vertical.","It is possible that the image belongs to the specified vertical.","It is likely that the image belongs to the specified vertical.","It is very likely that the image belongs to the specified vertical."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"joyLikelihood":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Joy likelihood.","enum":["UNKNOWN","VERY_UNLIKELY","UNLIKELY","POSSIBLE","LIKELY","VERY_LIKELY"],"enumDescriptions":["Unknown likelihood.","It is very unlikely that the image belongs to the specified vertical.","It is unlikely that the image belongs to the specified vertical.","It is possible that the image belongs to the specified vertical.","It is likely that the image belongs to the specified vertical.","It is very likely that the image belongs to the specified vertical."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"landmarkingConfidence":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Face landmarking confidence. Range [0, 1].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"detectionConfidence":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Detection confidence. Range [0, 1].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"panAngle":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Yaw angle, which indicates the leftward/rightward angle that the face is\npointing relative to the vertical plane perpendicular to the image. Range\n[-180,180].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"underExposedLikelihood":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Under-exposed likelihood.","enum":["UNKNOWN","VERY_UNLIKELY","UNLIKELY","POSSIBLE","LIKELY","VERY_LIKELY"],"enumDescriptions":["Unknown likelihood.","It is very unlikely that the image belongs to the specified vertical.","It is unlikely that the image belongs to the specified vertical.","It is possible that the image belongs to the specified vertical.","It is likely that the image belongs to the specified vertical.","It is very likely that the image belongs to the specified vertical."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"blurredLikelihood":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Blurred likelihood.","enum":["UNKNOWN","VERY_UNLIKELY","UNLIKELY","POSSIBLE","LIKELY","VERY_LIKELY"],"enumDescriptions":["Unknown likelihood.","It is very unlikely that the image belongs to the specified vertical.","It is unlikely that the image belongs to the specified vertical.","It is possible that the image belongs to the specified vertical.","It is likely that the image belongs to the specified vertical.","It is very likely that the image belongs to the specified vertical."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"headwearLikelihood":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Headwear likelihood.","enum":["UNKNOWN","VERY_UNLIKELY","UNLIKELY","POSSIBLE","LIKELY","VERY_LIKELY"],"enumDescriptions":["Unknown likelihood.","It is very unlikely that the image belongs to the specified vertical.","It is unlikely that the image belongs to the specified vertical.","It is possible that the image belongs to the specified vertical.","It is likely that the image belongs to the specified vertical.","It is very likely that the image belongs to the specified vertical."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BatchAnnotateImagesRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Multiple image annotation requests are batched into a single service call.","enum":null,"enumDescriptions":null,"format":null,"id":"BatchAnnotateImagesRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"requests":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Individual image annotation requests for this batch.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"AnnotateImageRequest","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DetectedBreak":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Detected start or end of a structural component.","enum":null,"enumDescriptions":null,"format":null,"id":"DetectedBreak","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Detected break type.","enum":["UNKNOWN","SPACE","SURE_SPACE","EOL_SURE_SPACE","HYPHEN","LINE_BREAK"],"enumDescriptions":["Unknown break label type.","Regular space.","Sure space (very wide).","Line-wrapping break.","End-line hyphen that is not present in text; does not co-occur with\n`SPACE`, `LEADER_SPACE`, or `LINE_BREAK`.","Line break that ends a paragraph."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"isPrefix":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if break prepends the element.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ImageContext":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Image context and/or feature-specific parameters.","enum":null,"enumDescriptions":null,"format":null,"id":"ImageContext","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"languageHints":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of languages to use for TEXT_DETECTION. In most cases, an empty value\nyields the best results since it enables automatic language detection. For\nlanguages based on the Latin alphabet, setting `language_hints` is not\nneeded. In rare cases, when the language of the text in the image is known,\nsetting a hint will help get better results (although it will be a\nsignificant hindrance if the hint is wrong). Text detection returns an\nerror if one or more of the specified languages is not one of the\n[supported languages](/vision/docs/languages).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"latLongRect":{"$ref":"LatLongRect","additionalProperties":null,"annotations":null,"default":null,"description":"lat/long rectangle that specifies the location of the image.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"cropHintsParams":{"$ref":"CropHintsParams","additionalProperties":null,"annotations":null,"default":null,"description":"Parameters for crop hints annotation request.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Page":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Detected page from OCR.","enum":null,"enumDescriptions":null,"format":null,"id":"Page","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"width":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Page width in pixels.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"blocks":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of blocks of text, images etc on this page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Block","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"property":{"$ref":"TextProperty","additionalProperties":null,"annotations":null,"default":null,"description":"Additional information detected on the page.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"height":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Page height in pixels.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AnnotateImageRequest":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Request for performing Google Cloud Vision API tasks over a user-provided\nimage, with user-requested features.","enum":null,"enumDescriptions":null,"format":null,"id":"AnnotateImageRequest","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"features":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested features.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Feature","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"image":{"$ref":"Image","additionalProperties":null,"annotations":null,"default":null,"description":"The image to be processed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"imageContext":{"$ref":"ImageContext","additionalProperties":null,"annotations":null,"default":null,"description":"Additional context that may accompany the image.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Status":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The `Status` type defines a logical error model that is suitable for different\nprogramming environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc). The error model is designed to be:\n\n- Simple to use and understand for most users\n- Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains three pieces of data: error code, error message,\nand error details. The error code should be an enum value of\ngoogle.rpc.Code, but it may accept additional error codes if needed.  The\nerror message should be a developer-facing English message that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror message is needed, put the localized message in the error details or\nlocalize it in the client. The optional error details may contain arbitrary\ninformation about the error. There is a predefined set of error detail types\nin the package `google.rpc` that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status` message is the logical representation of the error model, but it\nis not necessarily the actual wire format. When the `Status` message is\nexposed in different client libraries and different wire protocols, it can be\nmapped differently. For example, it will likely be mapped to some exceptions\nin Java, but more likely mapped to some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can be used in a variety of\nenvironments, either with or without APIs, to provide a\nconsistent developer experience across different environments.\n\nExample uses of this error model include:\n\n- Partial errors. If a service needs to return partial errors to the client,\n    it may embed the `Status` in the normal response to indicate the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps. Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations. If a client uses batch request and batch response, the\n    `Status` message should be used directly inside batch response, one for\n    each error sub-response.\n\n- Asynchronous operations. If an API call embeds asynchronous operation\n    results in its response, the status of those operations should be\n    represented directly using the `Status` message.\n\n- Logging. If some API errors are stored in logs, the message `Status` could\n    be used directly after any stripping needed for security/privacy reasons.","enum":null,"enumDescriptions":null,"format":null,"id":"Status","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"code":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The status code, which should be an enum value of google.rpc.Code.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"message":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A developer-facing error message, which should be in English. Any\nuser-facing error message should be localized and sent in the\ngoogle.rpc.Status.details field, or localized by the client.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"details":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of messages that carry the error details.  There is a common set of\nmessage types for APIs to use.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Properties of the object. Contains field @type with type URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"any","variant":null,"ETag":null},"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Symbol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A single symbol representation.","enum":null,"enumDescriptions":null,"format":null,"id":"Symbol","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"text":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The actual UTF-8 representation of the symbol.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"property":{"$ref":"TextProperty","additionalProperties":null,"annotations":null,"default":null,"description":"Additional information detected for the symbol.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"boundingBox":{"$ref":"BoundingPoly","additionalProperties":null,"annotations":null,"default":null,"description":"The bounding box for the symbol.\nThe vertices are in the order of top-left, top-right, bottom-right,\nbottom-left. When a rotation of the bounding box is detected the rotation\nis represented as around the top-left corner as defined when the text is\nread in the 'natural' orientation.\nFor example:\n  * when the text is horizontal it might look like:\n     0----1\n     |    |\n     3----2\n  * when it's rotated 180 degrees around the top-left corner it becomes:\n     2----3\n     |    |\n     1----0\n  and the vertice order will still be (0, 1, 2, 3).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LatLongRect":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Rectangle determined by min and max `LatLng` pairs.","enum":null,"enumDescriptions":null,"format":null,"id":"LatLongRect","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"minLatLng":{"$ref":"LatLng","additionalProperties":null,"annotations":null,"default":null,"description":"Min lat/long pair.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"maxLatLng":{"$ref":"LatLng","additionalProperties":null,"annotations":null,"default":null,"description":"Max lat/long pair.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CropHintsAnnotation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of crop hints that are used to generate new crops when serving images.","enum":null,"enumDescriptions":null,"format":null,"id":"CropHintsAnnotation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"cropHints":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Crop hint results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"CropHint","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LatLng":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"An object representing a latitude/longitude pair. This is expressed as a pair\nof doubles representing degrees latitude and degrees longitude. Unless\nspecified otherwise, this must conform to the\n<a href=\"http://www.unoosa.org/pdf/icg/2012/template/WGS_84.pdf\">WGS84\nstandard</a>. Values must be within normalized ranges.\n\nExample of normalization code in Python:\n\n    def NormalizeLongitude(longitude):\n      \"\"\"Wraps decimal degrees longitude to [-180.0, 180.0].\"\"\"\n      q, r = divmod(longitude, 360.0)\n      if r > 180.0 or (r == 180.0 and q <= -1.0):\n        return r - 360.0\n      return r\n\n    def NormalizeLatLng(latitude, longitude):\n      \"\"\"Wraps decimal degrees latitude and longitude to\n      [-90.0, 90.0] and [-180.0, 180.0], respectively.\"\"\"\n      r = latitude % 360.0\n      if r <= 90.0:\n        return r, NormalizeLongitude(longitude)\n      elif r >= 270.0:\n        return r - 360, NormalizeLongitude(longitude)\n      else:\n        return 180 - r, NormalizeLongitude(longitude + 180.0)\n\n    assert 180.0 == NormalizeLongitude(180.0)\n    assert -180.0 == NormalizeLongitude(-180.0)\n    assert -179.0 == NormalizeLongitude(181.0)\n    assert (0.0, 0.0) == NormalizeLatLng(360.0, 0.0)\n    assert (0.0, 0.0) == NormalizeLatLng(-360.0, 0.0)\n    assert (85.0, 180.0) == NormalizeLatLng(95.0, 0.0)\n    assert (-85.0, -170.0) == NormalizeLatLng(-95.0, 10.0)\n    assert (90.0, 10.0) == NormalizeLatLng(90.0, 10.0)\n    assert (-90.0, -10.0) == NormalizeLatLng(-90.0, -10.0)\n    assert (0.0, -170.0) == NormalizeLatLng(-180.0, 10.0)\n    assert (0.0, -170.0) == NormalizeLatLng(180.0, 10.0)\n    assert (-90.0, 10.0) == NormalizeLatLng(270.0, 10.0)\n    assert (90.0, 10.0) == NormalizeLatLng(-270.0, 10.0)","enum":null,"enumDescriptions":null,"format":null,"id":"LatLng","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"latitude":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The latitude in degrees. It must be in the range [-90.0, +90.0].","enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"longitude":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The longitude in degrees. It must be in the range [-180.0, +180.0].","enum":null,"enumDescriptions":null,"format":"double","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Color":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents a color in the RGBA color space. This representation is designed\nfor simplicity of conversion to/from color representations in various\nlanguages over compactness; for example, the fields of this representation\ncan be trivially provided to the constructor of \"java.awt.Color\" in Java; it\ncan also be trivially provided to UIColor's \"+colorWithRed:green:blue:alpha\"\nmethod in iOS; and, with just a little work, it can be easily formatted into\na CSS \"rgba()\" string in JavaScript, as well. Here are some examples:\n\nExample (Java):\n\n     import com.google.type.Color;\n\n     // ...\n     public static java.awt.Color fromProto(Color protocolor) {\n       float alpha = protocolor.hasAlpha()\n           ? protocolor.getAlpha().getValue()\n           : 1.0;\n\n       return new java.awt.Color(\n           protocolor.getRed(),\n           protocolor.getGreen(),\n           protocolor.getBlue(),\n           alpha);\n     }\n\n     public static Color toProto(java.awt.Color color) {\n       float red = (float) color.getRed();\n       float green = (float) color.getGreen();\n       float blue = (float) color.getBlue();\n       float denominator = 255.0;\n       Color.Builder resultBuilder =\n           Color\n               .newBuilder()\n               .setRed(red / denominator)\n               .setGreen(green / denominator)\n               .setBlue(blue / denominator);\n       int alpha = color.getAlpha();\n       if (alpha != 255) {\n         result.setAlpha(\n             FloatValue\n                 .newBuilder()\n                 .setValue(((float) alpha) / denominator)\n                 .build());\n       }\n       return resultBuilder.build();\n     }\n     // ...\n\nExample (iOS / Obj-C):\n\n     // ...\n     static UIColor* fromProto(Color* protocolor) {\n        float red = [protocolor red];\n        float green = [protocolor green];\n        float blue = [protocolor blue];\n        FloatValue* alpha_wrapper = [protocolor alpha];\n        float alpha = 1.0;\n        if (alpha_wrapper != nil) {\n          alpha = [alpha_wrapper value];\n        }\n        return [UIColor colorWithRed:red green:green blue:blue alpha:alpha];\n     }\n\n     static Color* toProto(UIColor* color) {\n         CGFloat red, green, blue, alpha;\n         if (![color getRed:&red green:&green blue:&blue alpha:&alpha]) {\n           return nil;\n         }\n         Color* result = [Color alloc] init];\n         [result setRed:red];\n         [result setGreen:green];\n         [result setBlue:blue];\n         if (alpha <= 0.9999) {\n           [result setAlpha:floatWrapperWithValue(alpha)];\n         }\n         [result autorelease];\n         return result;\n    }\n    // ...\n\n Example (JavaScript):\n\n    // ...\n\n    var protoToCssColor = function(rgb_color) {\n       var redFrac = rgb_color.red || 0.0;\n       var greenFrac = rgb_color.green || 0.0;\n       var blueFrac = rgb_color.blue || 0.0;\n       var red = Math.floor(redFrac * 255);\n       var green = Math.floor(greenFrac * 255);\n       var blue = Math.floor(blueFrac * 255);\n\n       if (!('alpha' in rgb_color)) {\n          return rgbToCssColor_(red, green, blue);\n       }\n\n       var alphaFrac = rgb_color.alpha.value || 0.0;\n       var rgbParams = [red, green, blue].join(',');\n       return ['rgba(', rgbParams, ',', alphaFrac, ')'].join('');\n    };\n\n    var rgbToCssColor_ = function(red, green, blue) {\n      var rgbNumber = new Number((red << 16) | (green << 8) | blue);\n      var hexString = rgbNumber.toString(16);\n      var missingZeros = 6 - hexString.length;\n      var resultBuilder = ['#'];\n      for (var i = 0; i < missingZeros; i++) {\n         resultBuilder.push('0');\n      }\n      resultBuilder.push(hexString);\n      return resultBuilder.join('');\n    };\n\n    // ...","enum":null,"enumDescriptions":null,"format":null,"id":"Color","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"alpha":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The fraction of this color that should be applied to the pixel. That is,\nthe final pixel color is defined by the equation:\n\n  pixel color = alpha * (this color) + (1.0 - alpha) * (background color)\n\nThis means that a value of 1.0 corresponds to a solid color, whereas\na value of 0.0 corresponds to a completely transparent color. This\nuses a wrapper message rather than a simple float scalar so that it is\npossible to distinguish between a default value and the value being unset.\nIf omitted, this color object is to be rendered as a solid color\n(as if the alpha value had been explicitly given with a value of 1.0).","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"blue":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The amount of blue in the color as a value in the interval [0, 1].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"green":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The amount of green in the color as a value in the interval [0, 1].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"red":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The amount of red in the color as a value in the interval [0, 1].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ImageProperties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Stores image properties, such as dominant colors.","enum":null,"enumDescriptions":null,"format":null,"id":"ImageProperties","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"dominantColors":{"$ref":"DominantColorsAnnotation","additionalProperties":null,"annotations":null,"default":null,"description":"If present, dominant colors completed successfully.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Feature":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Users describe the type of Google Cloud Vision API tasks to perform over\nimages by using *Feature*s. Each Feature indicates a type of image\ndetection task to perform. Features encode the Cloud Vision API\nvertical to operate on and the number of top-scoring results to return.","enum":null,"enumDescriptions":null,"format":null,"id":"Feature","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"maxResults":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Maximum number of results of this type.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The feature type.","enum":["TYPE_UNSPECIFIED","FACE_DETECTION","LANDMARK_DETECTION","LOGO_DETECTION","LABEL_DETECTION","TEXT_DETECTION","DOCUMENT_TEXT_DETECTION","SAFE_SEARCH_DETECTION","IMAGE_PROPERTIES","CROP_HINTS","WEB_DETECTION"],"enumDescriptions":["Unspecified feature type.","Run face detection.","Run landmark detection.","Run logo detection.","Run label detection.","Run OCR.","Run dense text document OCR. Takes precedence when both\nDOCUMENT_TEXT_DETECTION and TEXT_DETECTION are present.","Run computer vision models to compute image safe-search properties.","Compute a set of image properties, such as the image's dominant colors.","Run crop hints.","Run web detection."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"SafeSearchAnnotation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of features pertaining to the image, computed by computer vision\nmethods over safe-search verticals (for example, adult, spoof, medical,\nviolence).","enum":null,"enumDescriptions":null,"format":null,"id":"SafeSearchAnnotation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"adult":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Represents the adult content likelihood for the image. Adult content may\ncontain elements such as nudity, pornographic images or cartoons, or\nsexual activities.","enum":["UNKNOWN","VERY_UNLIKELY","UNLIKELY","POSSIBLE","LIKELY","VERY_LIKELY"],"enumDescriptions":["Unknown likelihood.","It is very unlikely that the image belongs to the specified vertical.","It is unlikely that the image belongs to the specified vertical.","It is possible that the image belongs to the specified vertical.","It is likely that the image belongs to the specified vertical.","It is very likely that the image belongs to the specified vertical."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"spoof":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Spoof likelihood. The likelihood that an modification\nwas made to the image's canonical version to make it appear\nfunny or offensive.","enum":["UNKNOWN","VERY_UNLIKELY","UNLIKELY","POSSIBLE","LIKELY","VERY_LIKELY"],"enumDescriptions":["Unknown likelihood.","It is very unlikely that the image belongs to the specified vertical.","It is unlikely that the image belongs to the specified vertical.","It is possible that the image belongs to the specified vertical.","It is likely that the image belongs to the specified vertical.","It is very likely that the image belongs to the specified vertical."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"medical":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Likelihood that this is a medical image.","enum":["UNKNOWN","VERY_UNLIKELY","UNLIKELY","POSSIBLE","LIKELY","VERY_LIKELY"],"enumDescriptions":["Unknown likelihood.","It is very unlikely that the image belongs to the specified vertical.","It is unlikely that the image belongs to the specified vertical.","It is possible that the image belongs to the specified vertical.","It is likely that the image belongs to the specified vertical.","It is very likely that the image belongs to the specified vertical."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"violence":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Likelihood that this image contains violent content.","enum":["UNKNOWN","VERY_UNLIKELY","UNLIKELY","POSSIBLE","LIKELY","VERY_LIKELY"],"enumDescriptions":["Unknown likelihood.","It is very unlikely that the image belongs to the specified vertical.","It is unlikely that the image belongs to the specified vertical.","It is possible that the image belongs to the specified vertical.","It is likely that the image belongs to the specified vertical.","It is very likely that the image belongs to the specified vertical."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DominantColorsAnnotation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of dominant colors and their corresponding scores.","enum":null,"enumDescriptions":null,"format":null,"id":"DominantColorsAnnotation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"colors":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"RGB color values with their score and pixel fraction.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ColorInfo","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TextAnnotation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"TextAnnotation contains a structured representation of OCR extracted text.\nThe hierarchy of an OCR extracted text structure is like this:\n    TextAnnotation -> Page -> Block -> Paragraph -> Word -> Symbol\nEach structural component, starting from Page, may further have their own\nproperties. Properties describe detected languages, breaks etc.. Please\nrefer to the google.cloud.vision.v1.TextAnnotation.TextProperty message\ndefinition below for more detail.","enum":null,"enumDescriptions":null,"format":null,"id":"TextAnnotation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"pages":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of pages detected by OCR.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Page","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"text":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"UTF-8 text detected on the pages.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Vertex":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A vertex represents a 2D point in the image.\nNOTE: the vertex coordinates are in the same scale as the original image.","enum":null,"enumDescriptions":null,"format":null,"id":"Vertex","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"y":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Y coordinate.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null},"x":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"X coordinate.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"DetectedLanguage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Detected language for a structural component.","enum":null,"enumDescriptions":null,"format":null,"id":"DetectedLanguage","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"languageCode":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The BCP-47 language code, such as \"en-US\" or \"sr-Latn\". For more\ninformation, see\nhttp://www.unicode.org/reports/tr35/#Unicode_locale_identifier.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"confidence":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Confidence of detected language. Range [0, 1].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"WebEntity":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Entity deduced from similar images on the Internet.","enum":null,"enumDescriptions":null,"format":null,"id":"WebEntity","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Canonical description of the entity, in English.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"score":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Overall relevancy score for the entity.\nNot normalized and not comparable across different image queries.","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"entityId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Opaque entity ID.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BoundingPoly":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A bounding polygon for the detected image annotation.","enum":null,"enumDescriptions":null,"format":null,"id":"BoundingPoly","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"vertices":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The bounding polygon vertices.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Vertex","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"TextProperty":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Additional information detected on the structural component.","enum":null,"enumDescriptions":null,"format":null,"id":"TextProperty","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"detectedLanguages":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A list of detected languages together with confidence.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"DetectedLanguage","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"detectedBreak":{"$ref":"DetectedBreak","additionalProperties":null,"annotations":null,"default":null,"description":"Detected start or end of a text segment.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"AnnotateImageResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response to an image annotation request.","enum":null,"enumDescriptions":null,"format":null,"id":"AnnotateImageResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"textAnnotations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, text (OCR) detection has completed successfully.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"EntityAnnotation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"imagePropertiesAnnotation":{"$ref":"ImageProperties","additionalProperties":null,"annotations":null,"default":null,"description":"If present, image properties were extracted successfully.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"faceAnnotations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, face detection has completed successfully.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"FaceAnnotation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"logoAnnotations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, logo detection has completed successfully.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"EntityAnnotation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"webDetection":{"$ref":"WebDetection","additionalProperties":null,"annotations":null,"default":null,"description":"If present, web detection has completed successfully.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"cropHintsAnnotation":{"$ref":"CropHintsAnnotation","additionalProperties":null,"annotations":null,"default":null,"description":"If present, crop hints have completed successfully.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"safeSearchAnnotation":{"$ref":"SafeSearchAnnotation","additionalProperties":null,"annotations":null,"default":null,"description":"If present, safe-search annotation has completed successfully.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"labelAnnotations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, label detection has completed successfully.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"EntityAnnotation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"error":{"$ref":"Status","additionalProperties":null,"annotations":null,"default":null,"description":"If set, represents the error message for the operation.\nNote that filled-in image annotations are guaranteed to be\ncorrect, even when `error` is set.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"fullTextAnnotation":{"$ref":"TextAnnotation","additionalProperties":null,"annotations":null,"default":null,"description":"If present, text (OCR) detection or document (OCR) text detection has\ncompleted successfully.\nThis annotation provides the structural hierarchy for the OCR detected\ntext.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"landmarkAnnotations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If present, landmark detection has completed successfully.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"EntityAnnotation","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CropHintsParams":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Parameters for crop hints annotation request.","enum":null,"enumDescriptions":null,"format":null,"id":"CropHintsParams","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"aspectRatios":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Aspect ratios in floats, representing the ratio of the width to the height\nof the image. For example, if the desired aspect ratio is 4/3, the\ncorresponding float value should be 1.33333.  If not specified, the\nbest possible crop is returned. The number of provided aspect ratios is\nlimited to a maximum of 16; any aspect ratios provided after the 16th are\nignored.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Block":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Logical element on the page.","enum":null,"enumDescriptions":null,"format":null,"id":"Block","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"property":{"$ref":"TextProperty","additionalProperties":null,"annotations":null,"default":null,"description":"Additional information detected for the block.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"blockType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Detected block type (text, image etc) for this block.","enum":["UNKNOWN","TEXT","TABLE","PICTURE","RULER","BARCODE"],"enumDescriptions":["Unknown block type.","Regular text block.","Table block.","Image block.","Horizontal/vertical line box.","Barcode block."],"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"boundingBox":{"$ref":"BoundingPoly","additionalProperties":null,"annotations":null,"default":null,"description":"The bounding box for the block.\nThe vertices are in the order of top-left, top-right, bottom-right,\nbottom-left. When a rotation of the bounding box is detected the rotation\nis represented as around the top-left corner as defined when the text is\nread in the 'natural' orientation.\nFor example:\n  * when the text is horizontal it might look like:\n     0----1\n     |    |\n     3----2\n  * when it's rotated 180 degrees around the top-left corner it becomes:\n     2----3\n     |    |\n     1----0\n  and the vertice order will still be (0, 1, 2, 3).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"paragraphs":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"List of paragraphs in this block (if this blocks is of type text).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Paragraph","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"WebDetection":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Relevant information for the image from the Internet.","enum":null,"enumDescriptions":null,"format":null,"id":"WebDetection","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"pagesWithMatchingImages":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Web pages containing the matching images from the Internet.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"WebPage","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"visuallySimilarImages":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The visually similar image results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"WebImage","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"partialMatchingImages":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Partial matching images from the Internet.\nThose images are similar enough to share some key-point features. For\nexample an original image will likely have partial matching for its crops.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"WebImage","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"fullMatchingImages":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Fully matching images from the Internet.\nCan include resized copies of the query image.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"WebImage","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"webEntities":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Deduced entities from similar images on the Internet.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"WebEntity","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"BatchAnnotateImagesResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response to a batch image annotation request.","enum":null,"enumDescriptions":null,"format":null,"id":"BatchAnnotateImagesResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"responses":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Individual responses to image annotation requests within the batch.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"AnnotateImageResponse","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ImageSource":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"External image source (Google Cloud Storage image location).","enum":null,"enumDescriptions":null,"format":null,"id":"ImageSource","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"gcsImageUri":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"NOTE: For new code `image_uri` below is preferred.\nGoogle Cloud Storage image URI, which must be in the following form:\n`gs://bucket_name/object_name` (for details, see\n[Google Cloud Storage Request\nURIs](https://cloud.google.com/storage/docs/reference-uris)).\nNOTE: Cloud Storage object versioning is not supported.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"imageUri":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Image URI which supports:\n1) Google Cloud Storage image URI, which must be in the following form:\n`gs://bucket_name/object_name` (for details, see\n[Google Cloud Storage Request\nURIs](https://cloud.google.com/storage/docs/reference-uris)).\nNOTE: Cloud Storage object versioning is not supported.\n2) Publicly accessible image HTTP/HTTPS URL.\nThis is preferred over the legacy `gcs_image_uri` above. When both\n`gcs_image_uri` and `image_uri` are specified, `image_uri` takes\nprecedence.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"LocationInfo":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Detected entity location information.","enum":null,"enumDescriptions":null,"format":null,"id":"LocationInfo","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"latLng":{"$ref":"LatLng","additionalProperties":null,"annotations":null,"default":null,"description":"lat/long location coordinates.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Property":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A `Property` consists of a user-supplied name/value pair.","enum":null,"enumDescriptions":null,"format":null,"id":"Property","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"uint64Value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Value of numeric properties.","enum":null,"enumDescriptions":null,"format":"uint64","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the property.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"value":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Value of the property.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Position":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A 3D position in the image, used primarily for Face detection landmarks.\nA valid Position must have both x and y coordinates.\nThe position coordinates are in the same scale as the original image.","enum":null,"enumDescriptions":null,"format":null,"id":"Position","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"z":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Z coordinate (or depth).","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"x":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"X coordinate.","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"y":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Y coordinate.","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"WebPage":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Metadata for web pages.","enum":null,"enumDescriptions":null,"format":null,"id":"WebPage","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"score":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"(Deprecated) Overall relevancy score for the web page.","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"url":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The result web page URL.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ColorInfo":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Color information consists of RGB channels, score, and the fraction of\nthe image that the color occupies in the image.","enum":null,"enumDescriptions":null,"format":null,"id":"ColorInfo","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"score":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Image-specific score for this color. Value in range [0, 1].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"pixelFraction":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The fraction of pixels the color occupies in the image.\nValue in range [0, 1].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"color":{"$ref":"Color","additionalProperties":null,"annotations":null,"default":null,"description":"RGB components of the color.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"EntityAnnotation":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Set of detected entity features.","enum":null,"enumDescriptions":null,"format":null,"id":"EntityAnnotation","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"score":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Overall score of the result. Range [0, 1].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"locations":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The location information for the detected entity. Multiple\n`LocationInfo` elements can be present because one location may\nindicate the location of the scene in the image, and another location\nmay indicate the location of the place where the image was taken.\nLocation information is usually present for landmarks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"LocationInfo","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"mid":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Opaque entity ID. Some IDs may be available in\n[Google Knowledge Graph Search API](https://developers.google.com/knowledge-graph/).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"confidence":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The accuracy of the entity detection in an image.\nFor example, for an image in which the \"Eiffel Tower\" entity is detected,\nthis field represents the confidence that there is a tower in the query\nimage. Range [0, 1].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"locale":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The language code for the locale in which the entity textual\n`description` is expressed.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"boundingPoly":{"$ref":"BoundingPoly","additionalProperties":null,"annotations":null,"default":null,"description":"Image region to which this entity belongs. Not produced\nfor `LABEL_DETECTION` features.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"topicality":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The relevancy of the ICA (Image Content Annotation) label to the\nimage. For example, the relevancy of \"tower\" is likely higher to an image\ncontaining the detected \"Eiffel Tower\" than to an image containing a\ndetected distant towering building, even though the confidence that\nthere is a tower in each image may be the same. Range [0, 1].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"description":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Entity textual description, expressed in its `locale` language.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"properties":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Some entities may have optional user-supplied `Property` (name/value)\nfields, such a score or string that qualifies the entity.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Property","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"CropHint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Single crop hint that is used to generate a new crop when serving an image.","enum":null,"enumDescriptions":null,"format":null,"id":"CropHint","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"importanceFraction":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Fraction of importance of this salient region with respect to the original\nimage.","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"confidence":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Confidence of this being a salient region.  Range [0, 1].","enum":null,"enumDescriptions":null,"format":"float","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"number","variant":null,"ETag":null},"boundingPoly":{"$ref":"BoundingPoly","additionalProperties":null,"annotations":null,"default":null,"description":"The bounding polygon for the crop region. The coordinates of the bounding\nbox are in the original image's scale, as returned in `ImageParams`.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Landmark":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A face-specific landmark (for example, a face feature).\nLandmark positions may fall outside the bounds of the image\nif the face is near one or more edges of the image.\nTherefore it is NOT guaranteed that `0 <= x < width` or\n`0 <= y < height`.","enum":null,"enumDescriptions":null,"format":null,"id":"Landmark","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"type":{"$ref":null,"additionalProperties":null,"annotations":null,"default":nu
[...]
