{"auth":{"oauth2":{"scopes":{"https://www.googleapis.com/auth/yt-analytics.readonly":{"description":"View YouTube Analytics reports for your YouTube content"},"https://www.googleapis.com/auth/yt-analytics-monetary.readonly":{"description":"View monetary and non-monetary YouTube Analytics reports for your YouTube content"}}}},"basePath":"","baseUrl":"https://youtubereporting.googleapis.com/","batchPath":"batch","canonicalName":"YouTube Reporting","description":"Schedules reporting jobs containing your YouTube Analytics data and downloads the resulting bulk data reports in the form of CSV files.","discoveryVersion":"v1","documentationLink":"https://developers.google.com/youtube/reporting/v1/reports/","etag":null,"exponentialBackoffDefault":null,"features":null,"icons":{"x16":"http://www.google.com/images/icons/product/search-16.gif","x32":"http://www.google.com/images/icons/product/search-32.gif"},"id":"youtubereporting:v1","kind":"discovery#restDescription","labels":null,"methods":null,"name":"youtubereporting","ownerDomain":"google.com","ownerName":"Google","packagePath":null,"parameters":{"alt":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"json","description":"Data format for response.","enum":["json","media","proto"],"enumDescriptions":["Responses with Content-Type of application/json","Media download with context-dependent Content-Type","Responses with Content-Type of application/x-protobuf"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"access_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth access token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"key":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"quotaUser":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pp":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Pretty-print response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"oauth_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth 2.0 token for the current user.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"bearer_token":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"OAuth bearer token.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"upload_protocol":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Upload protocol for media (e.g. \"raw\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"prettyPrint":{"$ref":null,"additionalProperties":null,"annotations":null,"default":"true","description":"Returns response with indentations and line breaks.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"uploadType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Legacy upload protocol for media (e.g. \"media\", \"multipart\").","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"fields":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Selector specifying which fields to include in a partial response.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"callback":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"JSONP","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"$.xgafv":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"V1 error format.","enum":["1","2"],"enumDescriptions":["v1 error format","v2 error format"],"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"protocol":"rest","resources":{"media":{"methods":{"download":{"description":"Method for media download. Download is supported\non the URI `/v1/media/{+name}?alt=media`.","etagRequired":null,"httpMethod":"GET","id":"youtubereporting.media.download","mediaUpload":null,"parameterOrder":["resourceName"],"parameters":{"resourceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the media that is being downloaded.  See\nReadRequest.resource_name.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":"^.+$","properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/media/{+resourceName}","request":null,"response":{"$ref":"Media"},"scopes":["https://www.googleapis.com/auth/yt-analytics-monetary.readonly","https://www.googleapis.com/auth/yt-analytics.readonly"],"supportsMediaDownload":true,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null},"jobs":{"methods":{"delete":{"description":"Deletes a job.","etagRequired":null,"httpMethod":"DELETE","id":"youtubereporting.jobs.delete","mediaUpload":null,"parameterOrder":["jobId"],"parameters":{"jobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the job to delete.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"onBehalfOfContentOwner":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The content owner's external ID on which behalf the user is acting on. If\nnot set, the user is acting for himself (his own channel).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/jobs/{jobId}","request":null,"response":{"$ref":"Empty"},"scopes":["https://www.googleapis.com/auth/yt-analytics-monetary.readonly","https://www.googleapis.com/auth/yt-analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"get":{"description":"Gets a job.","etagRequired":null,"httpMethod":"GET","id":"youtubereporting.jobs.get","mediaUpload":null,"parameterOrder":["jobId"],"parameters":{"jobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the job to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"onBehalfOfContentOwner":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The content owner's external ID on which behalf the user is acting on. If\nnot set, the user is acting for himself (his own channel).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/jobs/{jobId}","request":null,"response":{"$ref":"Job"},"scopes":["https://www.googleapis.com/auth/yt-analytics-monetary.readonly","https://www.googleapis.com/auth/yt-analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists jobs.","etagRequired":null,"httpMethod":"GET","id":"youtubereporting.jobs.list","mediaUpload":null,"parameterOrder":[],"parameters":{"onBehalfOfContentOwner":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The content owner's external ID on which behalf the user is acting on. If\nnot set, the user is acting for himself (his own channel).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"includeSystemManaged":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If set to true, also system-managed jobs will be returned; otherwise only\nuser-created jobs will be returned. System-managed jobs can neither be\nmodified nor deleted.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results the server should return. Typically,\nthis is the value of\nListReportTypesResponse.next_page_token\nreturned in response to the previous call to the `ListJobs` method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. Server may return fewer jobs than requested.\nIf unspecified, server will pick an appropriate default.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"v1/jobs","request":null,"response":{"$ref":"ListJobsResponse"},"scopes":["https://www.googleapis.com/auth/yt-analytics-monetary.readonly","https://www.googleapis.com/auth/yt-analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"create":{"description":"Creates a job and returns it.","etagRequired":null,"httpMethod":"POST","id":"youtubereporting.jobs.create","mediaUpload":null,"parameterOrder":[],"parameters":{"onBehalfOfContentOwner":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The content owner's external ID on which behalf the user is acting on. If\nnot set, the user is acting for himself (his own channel).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"path":"v1/jobs","request":{"$ref":"Job","parameterName":null},"response":{"$ref":"Job"},"scopes":["https://www.googleapis.com/auth/yt-analytics-monetary.readonly","https://www.googleapis.com/auth/yt-analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":{"reports":{"methods":{"get":{"description":"Gets the metadata of a specific report.","etagRequired":null,"httpMethod":"GET","id":"youtubereporting.jobs.reports.get","mediaUpload":null,"parameterOrder":["jobId","reportId"],"parameters":{"jobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the job.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"onBehalfOfContentOwner":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The content owner's external ID on which behalf the user is acting on. If\nnot set, the user is acting for himself (his own channel).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reportId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the report to retrieve.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null}},"path":"v1/jobs/{jobId}/reports/{reportId}","request":null,"response":{"$ref":"Report"},"scopes":["https://www.googleapis.com/auth/yt-analytics-monetary.readonly","https://www.googleapis.com/auth/yt-analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null},"list":{"description":"Lists reports created by a specific job.\nReturns NOT_FOUND if the job does not exist.","etagRequired":null,"httpMethod":"GET","id":"youtubereporting.jobs.reports.list","mediaUpload":null,"parameterOrder":["jobId"],"parameters":{"onBehalfOfContentOwner":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The content owner's external ID on which behalf the user is acting on. If\nnot set, the user is acting for himself (his own channel).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTimeBefore":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If set, only reports whose start time is smaller than the specified\ndate/time are returned.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"jobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the job.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"path","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":true,"type":"string","variant":null,"ETag":null},"createdAfter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If set, only reports created after the specified date/time are returned.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results the server should return. Typically,\nthis is the value of\nListReportsResponse.next_page_token\nreturned in response to the previous call to the `ListReports` method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"startTimeAtOrAfter":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If set, only reports whose start time is greater than or equal the\nspecified date/time are returned.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. Server may return fewer report types than requested.\nIf unspecified, server will pick an appropriate default.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"v1/jobs/{jobId}/reports","request":null,"response":{"$ref":"ListReportsResponse"},"scopes":["https://www.googleapis.com/auth/yt-analytics-monetary.readonly","https://www.googleapis.com/auth/yt-analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"ETag":null},"reportTypes":{"methods":{"list":{"description":"Lists report types.","etagRequired":null,"httpMethod":"GET","id":"youtubereporting.reportTypes.list","mediaUpload":null,"parameterOrder":[],"parameters":{"onBehalfOfContentOwner":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The content owner's external ID on which behalf the user is acting on. If\nnot set, the user is acting for himself (his own channel).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"includeSystemManaged":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"If set to true, also system-managed report types will be returned;\notherwise only the report types that can be used to create new reporting\njobs will be returned.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"pageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token identifying a page of results the server should return. Typically,\nthis is the value of\nListReportTypesResponse.next_page_token\nreturned in response to the previous call to the `ListReportTypes` method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"pageSize":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Requested page size. Server may return fewer report types than requested.\nIf unspecified, server will pick an appropriate default.","enum":null,"enumDescriptions":null,"format":"int32","id":null,"items":null,"location":"query","maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"integer","variant":null,"ETag":null}},"path":"v1/reportTypes","request":null,"response":{"$ref":"ListReportTypesResponse"},"scopes":["https://www.googleapis.com/auth/yt-analytics-monetary.readonly","https://www.googleapis.com/auth/yt-analytics.readonly"],"supportsMediaDownload":null,"supportsMediaUpload":null,"supportsSubscription":null,"useMediaDownloadService":null,"ETag":null}},"resources":null,"ETag":null}},"revision":"20171003","rootUrl":"https://youtubereporting.googleapis.com/","schemas":{"Media":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Media resource.","enum":null,"enumDescriptions":null,"format":null,"id":"Media","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"resourceName":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Name of the media resource.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ReportType":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A report type.","enum":null,"enumDescriptions":null,"format":null,"id":"ReportType","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"systemManaged":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if this a system-managed report type; otherwise false. Reporting jobs\nfor system-managed report types are created automatically and can thus not\nbe used in the `CreateJob` method.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the report type (max. 100 characters).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"deprecateTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The date/time when this report type was/will be deprecated.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the report type (max. 100 characters).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListReportTypesResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response message for ReportingService.ListReportTypes.","enum":null,"enumDescriptions":null,"format":null,"id":"ListReportTypesResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token to retrieve next page of results.\nPass this value in the\nListReportTypesRequest.page_token\nfield in the subsequent call to `ListReportTypes` method to retrieve the next\npage of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reportTypes":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of report types.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"ReportType","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Report":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A report's metadata including the URL from which the report itself can be\ndownloaded.","enum":null,"enumDescriptions":null,"format":null,"id":"Report","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"startTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The start of the time period that the report instance covers. The value is\ninclusive.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"createTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The date/time when this report was created.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"jobId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The ID of the job that created this report.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The server-generated ID of the report.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"jobExpireTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The date/time when the job this report belongs to will expire/expired.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"endTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The end of the time period that the report instance covers. The value is\nexclusive.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"downloadUrl":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The URL from which the report can be downloaded (max. 1000 characters).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Empty":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A generic empty message that you can re-use to avoid defining duplicated\nempty messages in your APIs. A typical example is to use it as the request\nor the response type of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is empty JSON object `{}`.","enum":null,"enumDescriptions":null,"format":null,"id":"Empty","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListJobsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response message for ReportingService.ListJobs.","enum":null,"enumDescriptions":null,"format":null,"id":"ListJobsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token to retrieve next page of results.\nPass this value in the\nListJobsRequest.page_token\nfield in the subsequent call to `ListJobs` method to retrieve the next\npage of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"jobs":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of jobs.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Job","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"Job":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A job creating reports of a specific type.","enum":null,"enumDescriptions":null,"format":null,"id":"Job","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"createTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The creation date/time of the job.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"reportTypeId":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The type of reports this job creates. Corresponds to the ID of a\nReportType.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"expireTime":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The date/time when this job will expire/expired. After a job expired, no\nnew reports are generated.","enum":null,"enumDescriptions":null,"format":"google-datetime","id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"name":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The name of the job (max. 100 characters).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null},"systemManaged":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"True if this a system-managed job that cannot be modified by the user;\notherwise false.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"boolean","variant":null,"ETag":null},"id":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The server-generated ID of the job (max. 40 characters).","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null},"ListReportsResponse":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"Response message for ReportingService.ListReports.","enum":null,"enumDescriptions":null,"format":null,"id":"ListReportsResponse","items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":{"reports":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"The list of report types.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":{"$ref":"Report","additionalProperties":null,"annotations":null,"default":null,"description":null,"enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":null,"variant":null,"ETag":null},"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"array","variant":null,"ETag":null},"nextPageToken":{"$ref":null,"additionalProperties":null,"annotations":null,"default":null,"description":"A token to retrieve next page of results.\nPass this value in the\nListReportsRequest.page_token\nfield in the subsequent call to `ListReports` method to retrieve the next\npage of results.","enum":null,"enumDescriptions":null,"format":null,"id":null,"items":null,"location":null,"maximum":null,"minimum":null,"pattern":null,"properties":null,"readOnly":null,"repeated":null,"required":null,"type":"string","variant":null,"ETag":null}},"readOnly":null,"repeated":null,"required":null,"type":"object","variant":null,"ETag":null}},"servicePath":"","title":"YouTube Reporting API","version":"v1","version_module":null}